Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

.lintstagedrc:

{
  "./**/*.{ts,tsx,js,jsx}": ["npm run prettier", "npm run lint:ts:fix"],
  "*.css": "npm run lint:css:fix"
}

YH-1420: fix api url
  src/entities/auth/model/constants/authConstants.ts
  src/entities/user/__mocks__/data/userRolesMock.ts
  src/features/profile/editProfileForm/api/editProfileApi.ts
  src/features/profile/editProfileForm/model/types/editProfileTypes.ts
  src/features/subscriptions/unsubscribe/ui/UnsubscribeModal/UnsubscribeModal.tsx
  src/pages/profile/profileInfo/index.ts
  src/pages/profile/profileInfo/ui/ProfilePage/ProfilePage.skeleton.tsx
  src/pages/profile/userProfile/ui/UserProfilePage/UserProfilePage.skeleton.tsx
  src/shared/config/router/routes.ts
  src/shared/config/sentry/middleware.ts
  src/shared/ui/Breadcrumbs/Breadcrumbs.test.tsx
  src/shared/ui/ImageLoader/ImageLoader.skeleton.tsx
  src/shared/ui/ImageLoader/ImageLoader.tsx
  src/shared/ui/Popover/Popover/Popover.stories.tsx
  src/widgets/Landing/Footer/ui/Footer.test.tsx
  src/widgets/Landing/Header/ui/AuthorizedBlock/AuthorizedBlock.stories.tsx
  src/widgets/Landing/Header/ui/Header/Header.test.tsx
  src/widgets/Landing/Header/ui/HeaderAuth/HeaderAuth.stories.tsx
  src/widgets/Landing/Header/ui/HeaderAuth/HeaderAuthDesktop/HeaderAuthDesktop.stories.tsx
  src/widgets/Landing/Header/ui/HeaderAuth/HeaderAuthMobile/HeaderAuthMobile.stories.tsx
  src/widgets/Sidebar/ui/SidebarMenuItem/SidebarSingleMenuItem.test.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1420: add Telegram binding error handling (#990)
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/app/types/global.d.ts
  src/entities/auth/index.ts
  src/entities/auth/model/constants/authConstants.ts
  src/entities/auth/model/types/auth.ts
  src/entities/user/__mocks__/data/userRolesMock.ts
  src/features/authentication/telegramLink/api/telegramLinkApi.ts
  src/features/authentication/telegramLink/model/lib/utils/getTelegramLinkApiErrorMessage.ts
  src/features/profile/editProfileForm/api/editProfileApi.ts
  src/features/profile/editProfileForm/model/types/editProfileTypes.ts
  src/features/subscriptions/unsubscribe/ui/UnsubscribeModal/UnsubscribeModal.tsx
  src/pages/profile/profileInfo/index.ts
  src/pages/profile/profileInfo/ui/ProfilePage/ProfilePage.skeleton.tsx
  src/pages/profile/userProfile/ui/UserProfilePage/UserProfilePage.skeleton.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
  src/shared/config/sentry/middleware.ts
  src/shared/libs/query/handleApiError/handleApiError.ts
  src/shared/libs/query/handleApiError/index.ts
  src/shared/libs/query/index.ts
  src/shared/ui/Breadcrumbs/Breadcrumbs.test.tsx
  src/shared/ui/ImageLoader/ImageLoader.skeleton.tsx
  src/shared/ui/ImageLoader/ImageLoader.tsx
  src/shared/ui/Popover/Popover/Popover.stories.tsx
  src/widgets/Landing/Footer/ui/Footer.test.tsx
  src/widgets/Landing/Header/ui/AuthorizedBlock/AuthorizedBlock.stories.tsx
  src/widgets/Landing/Header/ui/Header/Header.test.tsx
  src/widgets/Landing/Header/ui/HeaderAuth/HeaderAuth.stories.tsx
  src/widgets/Landing/Header/ui/HeaderAuth/HeaderAuthDesktop/HeaderAuthDesktop.stories.tsx
  src/widgets/Landing/Header/ui/HeaderAuth/HeaderAuthMobile/HeaderAuthMobile.stories.tsx
  src/widgets/Sidebar/ui/SidebarMenuItem/SidebarSingleMenuItem.test.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1524: fix sidebar width in mobile drawer
  src/app/layouts/MainLayout/ui/MainLayout.tsx
  src/shared/ui/Drawer/Drawer.module.css
  src/shared/ui/Drawer/Drawer.test.tsx
  src/shared/ui/Drawer/Drawer.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1547: fix typo in en/ru profile translation keys and update husky branch validation regex (#1021)
  .husky/pre-commit
  public/locales/en/profile.json
  public/locales/ru/profile.json
Due: none

Feature/yh 1517 Add empty state for filtered applications (#1019)
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/pages/admin/collection/collections/ui/CollectionsPage/CollectionsPage.tsx
  src/pages/admin/company/companies/ui/CompaniesTablePage/CompaniesTablePage.tsx
  src/pages/admin/question/questions/ui/QuestionsTablePage/QuestionsTablePage.tsx
  src/pages/admin/resource/resources/ui/tabs/ResourcesRequestsTab/ResourcesRequestsTab.tsx
  src/pages/admin/user/users/ui/UserTablePage/UsersTablePage.tsx
  src/pages/landing/publicQuestions/ui/PublicQuestionsPage/PublicQuestionsPage.tsx
  src/pages/landing/publicResources/ui/PublicResourcesPage/PublicResourcesPage.tsx
  src/pages/wiki/question/questions/ui/QuestionsPage/QuestionsPage.tsx
  src/pages/wiki/resource/myResources/ui/MyResourcesPage/MyResourcesPage.tsx
  src/pages/wiki/resource/resources/ui/ResourcesPage/ResourcesPage.tsx
  src/shared/assets/images/notFound.avif
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/EmptyFilterStub/EmptyFilerStub.module.css
  src/shared/ui/EmptyFilterStub/EmptyFilterStub.test.tsx
  src/shared/ui/EmptyFilterStub/EmptyFilterStub.tsx
  src/shared/ui/EmptyFilterStub/constants.ts
  src/shared/ui/EmptyFilterStub/index.ts
  src/shared/ui/Stub/Stub.tsx
  src/widgets/Collection/ui/CollectionsContent/CollectionsContent.tsx
  src/widgets/interview/PassedQuizzesList/ui/FullPassedQuizzesList/FullPassedQuizzesList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1569: fix sidebar menu spacing and inactive sub-item color (#1018)
  src/widgets/Sidebar/ui/SidebarMenuItem/SidebarMenuItem.module.css
  src/widgets/Sidebar/ui/SidebarMenuList/SidebarMenuList.module.css
Due: npm run lint:css:fix

YH-1563: add analytics page skeleton
  src/app/layouts/MainLayout/SkeletonGenerator/SkeletonGenerator.tsx
  src/entities/question/ui/PreviewQuestionsItem/PreviewQuestionsItem.skeleton.tsx
  src/pages/analytics/analytics/index.ts
  src/pages/analytics/analytics/ui/AnalyticsPage/AnalyticsPage.skeleton.tsx
  src/widgets/analytics/MostDifficultQuestionsWidget/index.ts
  src/widgets/analytics/MostDifficultQuestionsWidget/ui/MostDifficultQuestionsWidget/MostDifficultQuestionsWidget.skeleton.tsx
  src/widgets/analytics/MostDifficultQuestionsWidget/ui/MostDifficultQuestionsWidget/MostDifficultQuestionsWidget.tsx
  src/widgets/analytics/PopularQuestionsWidget/index.ts
  src/widgets/analytics/PopularQuestionsWidget/ui/PopularQuestionsWidget.skeleton.tsx
  src/widgets/analytics/PopularQuestionsWidget/ui/PopularQuestionsWidget.tsx
  src/widgets/analytics/PopularSkillsWidget/index.ts
  src/widgets/analytics/PopularSkillsWidget/ui/PopularSkillsWidget/PopularSkillsWidget.skeleton.tsx
  src/widgets/analytics/PopularSkillsWidget/ui/PopularSkillsWidget/PopularSkillsWidget.tsx
  src/widgets/analytics/SkillsProficiencyWidget/index.ts
  src/widgets/analytics/SkillsProficiencyWidget/ui/SkillsProficiencyWidget/SkillsProficiencyWidget.skeleton.tsx
  src/widgets/analytics/SkillsProficiencyWidget/ui/SkillsProficiencyWidget/SkillsProficiencyWidget.tsx
  src/widgets/analytics/SpecializationProgressWidget/index.ts
  src/widgets/analytics/SpecializationProgressWidget/ui/SpecializationProgressWidget/SpecializationProgressWidget.skeleton.tsx
  src/widgets/analytics/SpecializationProgressWidget/ui/SpecializationProgressWidget/SpecializationProgressWidget.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1571: add registration banner and limit guest questions in collections
  public/locales/en/auth.json
  public/locales/ru/auth.json
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/Collection/ui/CollectionBody/CollectionBody.tsx
  src/widgets/Collection/ui/RegistrationBanner/RegistrationBanner.module.css
  src/widgets/Collection/ui/RegistrationBanner/RegistrationBanner.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1577: add error messages for resource and resource request creation
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/features/resources/createResource/api/createResourceApi.ts
  src/features/resources/createResource/ui/ResourceCreateFormWithHeader/ResourceCreateFormWithHeader.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1496: added authority filter in collections
  src/features/collections/filterCollections/model/hooks/useCollectionsFilters.ts
  src/features/collections/filterCollections/ui/CollectionsFilters/CollectionsFilters.tsx
  src/pages/admin/CollectionsPage/ui/CollectionsPage/CollectionsPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1534: add topics sidebar item, add topic subfolder
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/app/providers/router/routeConfig.tsx
  src/app/providers/store/config.ts
  src/entities/topic/api/topicApi.ts
  src/entities/topic/model/types/topic.ts
  src/pages/admin/topic/topics/index.ts
  src/pages/admin/topic/topics/model/selectors/topicsPageSelectors.ts
  src/pages/admin/topic/topics/model/slices/topicsPageSlice.ts
  src/pages/admin/topic/topics/model/types/topicsPageTypes.ts
  src/pages/admin/topic/topics/ui/TopicsPage/TopicsPage.lazy.tsx
  src/pages/admin/topic/topics/ui/TopicsPage/TopicsPage.tsx
  src/shared/assets/icons/cards.svg
  src/shared/config/i18n/i18nNamespaces.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/store/State.ts
  src/widgets/topic/TopicsTable/index.ts
  src/widgets/topic/TopicsTable/ui/TopicsTable.module.css
  src/widgets/topic/TopicsTable/ui/TopicsTable.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1500: Added filter button for companies
  public/locales/en/companies.json
  public/locales/ru/companies.json
  src/entities/company/model/types/companyTypes.ts
  src/features/company/filterCompanies/index.ts
  src/features/company/filterCompanies/model/hooks/useCompaniesFilters.ts
  src/features/company/filterCompanies/model/hooks/useGetCompaniesFilterParams.ts
  src/features/company/filterCompanies/model/types/filters.ts
  src/features/company/filterCompanies/ui/CompaniesFilters/CompaniesFilters.tsx
  src/pages/admin/CompaniesTablePage/ui/CompaniesTablePage/CompaniesTablePage.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1565: added a stub when there are no resources
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/pages/landing/PublicResourcesPage/ui/PublicResourcesPage.tsx
  src/pages/wiki/ResourcesPage/ui/ResourcesPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Stub/Stub.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1579: add MSW mock for getResourceTypes endpoint
  src/app/msw/handlers.ts
  src/entities/resource/api/__mock__/index.ts
  src/entities/resource/api/__mock__/resourceTypesMock.ts
  src/entities/resource/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1572: added translations
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/features/specialization/createSpecialization/api/createSpecializationApi.ts
  src/features/specialization/createSpecialization/model/lib/utils/getApiErrorMessage.ts
  src/features/specialization/createSpecialization/model/types/specializationCreateTypes.ts
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1572: add translation and handlig errors
  src/features/specialization/createSpecialization/api/createSpecializationApi.ts
  src/shared/libs/query/handleApiError/handleApiError.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1572: add translation and handlig errors
  .husky/commit-msg
Due: none

YH-1572: add translation and handlig errors
  public/locales/en/analytics.json
  public/locales/ru/analytics.json
  src/features/specialization/createSpecialization/api/createSpecializationApi.ts
  src/features/specialization/createSpecialization/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1572: add translation and handlig errors,add testing ErroMock funcion
  public/locales/ru/translation.json
  src/features/specialization/createSpecialization/api/__mock__/createSpecializationErrorMock.ts
  src/features/specialization/createSpecialization/api/__mock__/index.ts
  src/features/specialization/createSpecialization/model/lib/utils/getApiErrorMessage.ts
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1572: fixed conflicts
  src/features/specialization/createSpecialization/api/createSpecializationApi.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1559: add skeleton loaders for Avos landing page
  src/app/layouts/LandingLayout/SkeletonGenerator/SkeletonGenerator.tsx
  src/pages/landing/avos/index.ts
  src/pages/landing/avos/ui/AvosPage/AvosPage.skeleton.tsx
  src/widgets/Landing/Avos/index.ts
  src/widgets/Landing/Avos/ui/AvosBanner/AvosBanner.skeleton.tsx
  src/widgets/Landing/Avos/ui/AvosListen/AvosListen.skeleton.tsx
  src/widgets/Landing/Avos/ui/AvosPromo/AvosPromo.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1572: add translation and handlig errors
  .husky/commit-msg
  public/locales/en/analytics.json
  public/locales/ru/analytics.json
  public/locales/ru/translation.json
  src/features/specialization/createSpecialization/api/__mock__/createSpecializationErrorMock.ts
  src/features/specialization/createSpecialization/api/__mock__/index.ts
  src/features/specialization/createSpecialization/api/createSpecializationApi.ts
  src/features/specialization/createSpecialization/index.ts
  src/features/specialization/createSpecialization/model/lib/utils/getApiErrorMessage.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/libs/query/handleApiError/handleApiError.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1534: fix fsd error
  src/entities/skill/@x/topic.ts
  src/entities/topic/model/types/topic.ts
  src/pages/admin/topic/topics/model/selectors/topicsPageSelectors.ts
  src/pages/admin/topic/topics/model/slices/topicsPageSlice.ts
  src/pages/admin/topic/topics/model/types/topicsPageTypes.ts
  src/pages/admin/topic/topics/ui/TopicsPage/TopicsPage.tsx
  src/widgets/topic/TopicsTable/ui/TopicsTable.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1534: add fsd lint
  .lintstagedrc
  src/pages/admin/topic/topics/model/selectors/topicsPageSelectors.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1534: add fsd lint
  .lintstagedrc
  package.json
  src/pages/admin/topic/topics/model/selectors/topicsPageSelectors.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1534: add fsd lint
  .husky/pre-commit
  .lintstagedrc
  package.json
  src/pages/admin/topic/topics/model/selectors/topicsPageSelectors.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1570: add auth restriction for expanded question answers
  public/locales/en/questions.json
  public/locales/en/translation.json
  public/locales/ru/questions.json
  public/locales/ru/translation.json
  src/features/question/stubQuestion/index.ts
  src/features/question/stubQuestion/ui/QuestionNotAuthorizedStub.module.css
  src/features/question/stubQuestion/ui/QuestionNotAuthorizedStub.tsx
  src/pages/landing/publicQuestion/ui/PublicQuestionPage/PublicQuestionPage.tsx
  src/shared/assets/icons/notAuthorized.png
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Stub/Stub.module.css
  src/shared/ui/Stub/Stub.tsx
  src/widgets/question/QuestionBody/ui/QuestionBody.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1536: Added a topic creation page
  public/locales/en/skill.json
  public/locales/en/topic.json
  public/locales/en/translation.json
  public/locales/ru/skill.json
  public/locales/ru/topic.json
  public/locales/ru/translation.json
  src/app/providers/router/routeConfig.tsx
  src/entities/skill/@x/topic.ts
  src/entities/topic/index.ts
  src/entities/topic/model/types/topic.ts
  src/entities/topic/ui/TopicForm/TopicForm.module.css
  src/entities/topic/ui/TopicForm/TopicForm.tsx
  src/features/topics/createTopics/api/createTopicApi.ts
  src/features/topics/createTopics/index.ts
  src/features/topics/createTopics/lib/validation/topicCreateSchema.ts
  src/features/topics/createTopics/model/constants/createTopicConstants.ts
  src/features/topics/createTopics/model/types/topicCreateTypes.ts
  src/features/topics/createTopics/ui/TopicCreateForm/TopicCreateForm.module.css
  src/features/topics/createTopics/ui/TopicCreateForm/TopicCreateForm.tsx
  src/features/topics/createTopics/ui/TopicCreateFormHeader/TopicCreateFormHeader.tsx
  src/pages/admin/topic/topicCreate/index.ts
  src/pages/admin/topic/topicCreate/ui/TopicCreatePage/TopicCreatePage.lazy.tsx
  src/pages/admin/topic/topicCreate/ui/TopicCreatePage/TopicCreatePage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1536: fix errors
  public/locales/ru/topic.json
  public/locales/ru/topics.json
  src/entities/topic/model/types/topic.ts
  src/entities/topic/ui/TopicForm/TopicForm.tsx
  src/features/resources/deleteMyResourceRequest/ui/DeleteMyResourceRequestButton/DeleteMyResourceRequestButton.tsx
  src/features/topics/createTopics/lib/validation/topicCreateSchema.ts
  src/pages/admin/topic/topicCreate/index.ts
  src/pages/admin/topic/topics/ui/TopicsPage/TopicsPage.tsx
  src/shared/config/i18n/i18nNamespaces.ts
  src/shared/ui/Modal/Modal.tsx
  src/shared/ui/Modal/ModalTypes.ts
  src/widgets/SearchSection/ui/SearchSection.tsx
  src/widgets/topic/TopicsTable/ui/TopicsTable.tsx
Due: npm run prettier, npm run lint:ts:fix

Feature/yh 1536 1 (#1039)
  public/locales/en/skill.json
  public/locales/en/topic.json
  public/locales/en/translation.json
  public/locales/ru/skill.json
  public/locales/ru/topic.json
  public/locales/ru/topics.json
  public/locales/ru/translation.json
  src/app/providers/router/routeConfig.tsx
  src/entities/skill/@x/topic.ts
  src/entities/topic/index.ts
  src/entities/topic/model/types/topic.ts
  src/entities/topic/ui/TopicForm/TopicForm.module.css
  src/entities/topic/ui/TopicForm/TopicForm.tsx
  src/features/resources/deleteMyResourceRequest/ui/DeleteMyResourceRequestButton/DeleteMyResourceRequestButton.tsx
  src/features/topics/createTopics/api/createTopicApi.ts
  src/features/topics/createTopics/index.ts
  src/features/topics/createTopics/lib/validation/topicCreateSchema.ts
  src/features/topics/createTopics/model/constants/createTopicConstants.ts
  src/features/topics/createTopics/model/types/topicCreateTypes.ts
  src/features/topics/createTopics/ui/TopicCreateForm/TopicCreateForm.module.css
  src/features/topics/createTopics/ui/TopicCreateForm/TopicCreateForm.tsx
  src/features/topics/createTopics/ui/TopicCreateFormHeader/TopicCreateFormHeader.tsx
  src/pages/admin/topic/topicCreate/index.ts
  src/pages/admin/topic/topicCreate/ui/TopicCreatePage/TopicCreatePage.lazy.tsx
  src/pages/admin/topic/topicCreate/ui/TopicCreatePage/TopicCreatePage.tsx
  src/pages/admin/topic/topics/ui/TopicsPage/TopicsPage.tsx
  src/shared/config/i18n/i18nNamespaces.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
  src/shared/ui/Modal/Modal.tsx
  src/shared/ui/Modal/ModalTypes.ts
  src/widgets/SearchSection/ui/SearchSection.tsx
  src/widgets/topic/TopicsTable/ui/TopicsTable.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1524: fix sidebar width in mobile drawer (#1026)
  src/app/layouts/MainLayout/MainLayout.tsx
  src/shared/ui/Drawer/Drawer.module.css
  src/shared/ui/Drawer/Drawer.test.tsx
  src/shared/ui/Drawer/Drawer.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1572: fixed comments
  .husky/commit-msg
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/features/specialization/createSpecialization/api/__mock__/createSpecializationErrorMock.ts
  src/features/specialization/createSpecialization/api/__mock__/index.ts
  src/features/specialization/createSpecialization/api/createSpecializationApi.ts
  src/features/specialization/createSpecialization/index.ts
  src/features/specialization/createSpecialization/model/lib/utils/getApiErrorMessage.ts
  src/features/specialization/createSpecialization/model/types/specializationCreateTypes.ts
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1572: fixed conflicts
  src/shared/assets/icons/ArrowDownIcon.svg
  src/shared/assets/icons/ArrowSelect.svg
  src/shared/assets/icons/Checkmark.svg
  src/shared/assets/icons/ClipboardText.svg
  src/shared/assets/icons/Companies.svg
  src/shared/assets/icons/DiplomaVerified.svg
  src/shared/assets/icons/DotsVertical.svg
  src/shared/assets/icons/DoubleCheck.svg
  src/shared/assets/icons/EmptyStub.svg
  src/shared/assets/icons/ErrorStub.svg
  src/shared/assets/icons/Magnifer.svg
  src/shared/assets/icons/Megaphone.svg
  src/shared/assets/icons/NotePencil.svg
  src/shared/assets/icons/Plus1.svg
  src/shared/assets/icons/SealCheck.svg
  src/shared/assets/icons/Time.svg
  src/shared/assets/icons/TrendUp.svg
  src/shared/assets/icons/UserSwitch.svg
  src/shared/assets/icons/YeaHubCommunity.svg
  src/shared/assets/images/AccessDenied.png
  src/shared/assets/images/Gallery.avif
  src/shared/assets/images/LoadError.png
  src/shared/assets/images/MockAvatar.avif
  src/shared/assets/images/NoActiveQuizPlaceholder.avif
  src/shared/assets/images/SearchPage.png
Due: none

YH-1496: added authority filter in collections (#1017)
  public/locales/en/collection.json
  public/locales/ru/collection.json
  src/entities/collection/model/types/filters.ts
  src/features/collections/filterCollections/model/hooks/useCollectionsFilters.ts
  src/features/collections/filterCollections/ui/CollectionsFilters/CollectionsFilters.tsx
  src/pages/admin/collection/collections/ui/CollectionsPage/CollectionsPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1571: add registration banner and limit guest questions in collections (#1023)
  public/locales/en/auth.json
  public/locales/ru/auth.json
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/Collection/ui/CollectionBody/CollectionBody.tsx
  src/widgets/Collection/ui/RegistrationBanner/RegistrationBanner.module.css
  src/widgets/Collection/ui/RegistrationBanner/RegistrationBanner.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1565: third commit. changing the logic
  public/locales/en/resources.json
  public/locales/ru/resources.json
  src/entities/resource/index.ts
  src/entities/resource/ui/ResourcesStub/ResourcesStub.tsx
  src/pages/landing/publicResources/ui/PublicResourcesPage/PublicResourcesPage.tsx
  src/pages/wiki/resource/resources/ui/ResourcesPage/ResourcesPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix
