Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

.lintstagedrc:

{
  "./**/*.{ts,tsx,js,jsx}": ["npm run prettier", "npm run lint:ts:fix"],
  "*.css": "npm run lint:css:fix"
}

YH-2083: delete guru
  src/entities/guru/model/constants/gurus.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1998: add mocks to auth and profile endpoints for different users (#1260)
  src/entities/auth/api/__mocks__/authLoginMutationMock.ts
  src/entities/auth/api/__mocks__/authProfileQueryMock.ts
  src/entities/auth/api/__mocks__/data/adminMockResponse.ts
  src/entities/auth/api/__mocks__/data/authMockResponse.ts
  src/entities/auth/api/__mocks__/data/authorMockResponse.ts
  src/entities/auth/api/__mocks__/data/index.ts
  src/entities/auth/api/__mocks__/data/userFreeMockResponse.ts
  src/entities/auth/api/__mocks__/data/userPremiumMockResponse.ts
  src/entities/auth/api/__mocks__/data/userUnverifiedMockResponse.ts
  src/entities/skill/@x/auth.ts
  src/entities/user/@x/auth.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2078: add tests for DeleteButton
  src/shared/ui/DeleteButton/DeleteButton.test.tsx
  src/shared/ui/DeleteButton/DeleteButton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2074: add FormField test
  src/shared/ui/FormField/FormField.skeleton.tsx
  src/shared/ui/FormField/FormField.test.tsx
  src/shared/ui/FormField/FormField.tsx
  src/shared/ui/FormField/constants.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2049: fixed review comments
  src/entities/collection/index.ts
  src/entities/collection/ui/CollectionForm/CollectionForm.module.css
  src/entities/collection/ui/CollectionForm/CollectionForm.skeleton.tsx
  src/entities/company/index.ts
  src/entities/company/ui/CompanySelect/CompanySelect.skeleton.tsx
  src/entities/question/index.ts
  src/entities/question/ui/ChooseQuestionsDrawer/ChooseQuestionsDrawer.skeleton.tsx
  src/entities/task/ui/ChooseTasksDrawer/ChooseTasksDrawer.skeleton.tsx
  src/features/collections/createCollection/index.ts
  src/features/collections/createCollection/ui/CollectionCreateForm/CollectionCreateForm.skeleton.tsx
  src/shared/ui/Button/Button.skeleton.tsx
  src/shared/ui/Flex/Flex.module.css
  src/shared/ui/Flex/constants.ts
  src/shared/ui/Flex/types.ts
  src/shared/ui/FormField/FormField.skeleton.tsx
  src/shared/ui/ImageLoaderWithoutCropper/ImageLoaderWithoutCropper.module.css
  src/shared/ui/ImageLoaderWithoutCropper/ImageLoaderWithoutCropper.skeleton.tsx
  src/shared/ui/ImageLoaderWithoutCropper/index.ts
  src/shared/ui/ImageWithWrapper/ImageWithWrapper.skeleton.tsx
  src/shared/ui/KeywordInput/KeywordInput.skeleton.tsx
  src/shared/ui/SelectWithChips/SelectWithChips.skeleton.tsx
  src/shared/ui/SelectWithChips/index.ts
  src/shared/ui/Skeleton/Skeleton.tsx
  src/shared/ui/TextArea/TextArea.skeleton.tsx
  src/shared/ui/TextArea/index.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2049: remove comment, change export
  src/entities/collection/ui/CollectionForm/CollectionForm.module.css
  src/entities/collection/ui/CollectionForm/CollectionForm.skeleton.tsx
  src/entities/company/@x/collection.ts
  src/entities/question/@x/collection.ts
  src/entities/specialization/@x/collection.ts
  src/entities/task/@x/collection.ts
  src/entities/task/index.ts
  src/entities/task/ui/ChooseTasksDrawer/index.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2078: fix aria-label in DeleteButton
  src/shared/ui/DeleteButton/DeleteButton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2106: add skeleton for SpecializationDetailPage
  src/pages/admin/specialization/specializationDetail/ui/SpecializationDetailPage/SpecializationDetailPage.module.css
  src/pages/admin/specialization/specializationDetail/ui/SpecializationDetailPage/SpecializationDetailPage.skeleton.tsx
  src/pages/admin/specialization/specializationDetail/ui/SpecializationDetailPage/SpecializationDetailPage.tsx
  src/widgets/PageWrapper/ui/PageWrapper/PageWrapper.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2087: add mock for edit specialization
  src/app/msw/handlers.ts
  src/features/specialization/editSpecialization/api/__mock__/editSpecializationErrorMock.ts
  src/features/specialization/editSpecialization/api/__mock__/editSpecializationMock.ts
  src/features/specialization/editSpecialization/api/__mock__/index.ts
  src/features/specialization/editSpecialization/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1926: refactor TopicForm component with FormField
  src/entities/topic/ui/TopicForm/TopicForm.tsx
Due: npm run prettier, npm run lint:ts:fix

message
  src/entities/specialization/index.ts
  src/entities/specialization/ui/SpecializationCard/SpecializationCard.skeleton.tsx
  src/pages/admin/specialization/specializationDetail/ui/SpecializationDetailPage/SpecializationDetailPage.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2088: updating the mock request to get all skills
  src/entities/auth/api/__mocks__/data/adminMockResponse.ts
  src/entities/auth/api/__mocks__/data/userFreeMockResponse.ts
  src/entities/auth/api/__mocks__/data/userPremiumMockResponse.ts
  src/entities/question/api/__mocks__/data/learnedQuestionsMock.ts
  src/entities/question/api/__mocks__/data/questionsMock.ts
  src/entities/question/api/__mocks__/getQuestionsSpecializationByIdCountMock.ts
  src/entities/resource/api/__mock__/data/myRequestsMock.ts
  src/entities/resource/api/__mock__/data/resourcesMock.ts
  src/entities/resource/api/__mock__/data/resourcesRequestsMock.ts
  src/entities/skill/api/__mocks__/data/skillsMock.ts
  src/entities/skill/api/__mocks__/skillListMock.ts
  src/entities/skill/api/__mocks__/skillMock.ts
  src/entities/skill/model/types/skill.ts
  src/entities/skill/ui/SkillSelect/SkillSelect.test.tsx
  src/entities/topic/api/__mock__/data/topicsMocs.ts
  src/features/question/createQuestion/api/__mocks__/data/newQuestionMock.ts
  src/features/skill/createSkill/api/__mocks__/skillCreateMock.ts
  src/features/skill/createSkill/lib/validation/skillCreateSchema.ts
  src/features/skill/deleteSkill/api/__mocks__/deleteSkillMock.ts
  src/features/skill/editSkill/api/__mocks__/skillEditMock.ts
  src/features/skill/editSkill/lib/validation/skillEditSchema.ts
  src/features/topics/createTopics/api/__mock__/createTopic.ts
Due: npm run prettier, npm run lint:ts:fix

feature/YH-1935-1: add feature flag details page (#1243)
  public/locales/en/featureFlags.json
  public/locales/ru/featureFlags.json
  src/app/providers/router/routeConfig.tsx
  src/pages/admin/featureFlag/featureFlagDetail/index.ts
  src/pages/admin/featureFlag/featureFlagDetail/ui/FeatureFlagDetailsPage/FeatureFlagDetailsPage.lazy.ts
  src/pages/admin/featureFlag/featureFlagDetail/ui/FeatureFlagDetailsPage/FeatureFlagDetailsPage.tsx
  src/pages/admin/featureFlag/featureFlagDetail/ui/FeatureFlagDetailsPageContent/FeatureFlagDetailsPageContent.module.css
  src/pages/admin/featureFlag/featureFlagDetail/ui/FeatureFlagDetailsPageContent/FeatureFlagDetailsPageContent.tsx
  src/pages/admin/featureFlag/featureFlags/ui/FeatureFlagPage/FeatureFlagsTablePage.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2120: add CI to check pull requests
  .github/workflows/pr-checks.yml
Due: none

YH-2120: add CI to check pull requests (#1296)
  .github/workflows/pr-checks.yml
Due: none

YH-2083: delete guru (#1288)
  src/entities/guru/model/constants/gurus.ts
Due: npm run prettier, npm run lint:ts:fix

YH-000: Release 1.11.0
  RELEASE_NOTES.md
  package-lock.json
  package.json
Due: none

YH-2125: add mock request for collection deletion
  src/app/msw/handlers.ts
  src/features/collections/deleteCollection/api/__mocks__/deleteCollectionMock.ts
  src/features/collections/deleteCollection/api/__mocks__/index.ts
  src/features/collections/deleteCollection/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2131: add error handling for skill creation
  src/entities/auth/index.ts
  src/features/skill/createSkill/api/__mocks__/skillCreateMock.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2134: check creating PR into main
  .github/workflows/pr-checks.yml
Due: none

YH-2134: fix job to rerun after PR changes
  .github/workflows/pr-checks.yml
Due: none

YH-2124: add dummy query for edit collection
  src/app/msw/handlers.ts
  src/features/collections/editCollection/api/__mock__/editCollectionApiMock.ts
  src/features/collections/editCollection/api/__mock__/index.ts
  src/features/collections/editCollection/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2130: Added mock error handling when deleting a skill
  src/entities/auth/index.ts
  src/features/skill/deleteSkill/api/__mocks__/deleteSkillMock.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2134: check creating PR into main (#1301)
  .github/workflows/pr-checks.yml
Due: none

YH-2125: add mock request for collection deletion (#1298)
  src/app/msw/handlers.ts
  src/features/collections/deleteCollection/api/__mocks__/deleteCollectionMock.ts
  src/features/collections/deleteCollection/api/__mocks__/index.ts
  src/features/collections/deleteCollection/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2132: add multiple task deletion
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/features/task/deleteTasks/api/deleteTasksApi.ts
  src/features/task/deleteTasks/index.ts
  src/features/task/deleteTasks/model/constants/deleteTasksConstansts.ts
  src/features/task/deleteTasks/model/thunks/deleteMultipleTasksThunk.ts
  src/features/task/deleteTasks/ui/DeleteTasksButton/DeleteTasksButton.tsx
  src/pages/admin/task/tasks/ui/TasksTable/TasksTable.tsx
  src/pages/admin/task/tasks/ui/TasksTablePage/TasksTablePage.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2127: add mock endpoint for collection edit
  src/app/msw/handlers.ts
  src/features/collections/editCollection/api/__mocks__/editCollectionMock.ts
  src/features/collections/editCollection/api/__mocks__/index.ts
  src/features/collections/editCollection/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2130: added typing and moved out variables
  src/entities/auth/api/__mocks__/helpers/getMockAuthProfile.ts
  src/entities/auth/index.ts
  src/features/skill/deleteSkill/api/__mocks__/deleteSkillMock.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2088: refactor
  src/entities/auth/api/__mocks__/data/adminMockResponse.ts
  src/entities/auth/api/__mocks__/data/authMockResponse.ts
  src/entities/auth/api/__mocks__/data/authProfileQueryMockResponse.ts
  src/entities/auth/api/__mocks__/data/authorMockResponse.ts
  src/entities/auth/api/__mocks__/data/index.ts
  src/entities/auth/api/__mocks__/data/userFreeMockResponse.ts
  src/entities/auth/api/__mocks__/data/userPremiumMockResponse.ts
  src/entities/auth/api/__mocks__/data/userUnverifiedMockResponse.ts
  src/entities/skill/api/__mocks__/data/skillsMock.ts
  src/entities/user/@x/auth.ts
  src/entities/user/@x/skill.ts
  src/entities/user/__mocks__/data/userAuthorsMock.ts
  src/entities/user/__mocks__/data/usersDataMock.ts
  src/entities/user/__mocks__/index.ts
  src/entities/user/model/types/user.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2088: refactor
  src/entities/skill/api/__mocks__/skillListMock.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2128: Mock error handling for createQuestionMock
  src/entities/auth/api/__mocks__/index.ts
  src/entities/auth/index.ts
  src/entities/user/__mocks__/data/usersMock.ts
  src/entities/user/__mocks__/index.ts
  src/entities/user/index.ts
  src/features/question/createQuestion/api/__mocks__/createQuestionMock.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2126: add mock request for deleting company
  src/app/msw/handlers.ts
  src/features/company/deleteCompany/api/__mock__/deleteCompany.ts
  src/features/company/deleteCompany/index.ts
  src/pages/landing/newLanding/index.ts
  src/pages/landing/newLanding/ui/NewLandingPage/NewLandingPage.lazy.ts
  src/pages/landing/newLanding/ui/NewLandingPage/NewLandingPage.skeleton.tsx
  src/pages/landing/newLanding/ui/NewLandingPage/NewLandingPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2126: remove newLanding folder
  src/pages/landing/newLanding/index.ts
  src/pages/landing/newLanding/ui/NewLandingPage/NewLandingPage.lazy.ts
  src/pages/landing/newLanding/ui/NewLandingPage/NewLandingPage.skeleton.tsx
  src/pages/landing/newLanding/ui/NewLandingPage/NewLandingPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2107: added mock processing for delete specialization
  src/entities/auth/index.ts
  src/features/specialization/deleteSpecialization/api/__mocks__/deleteSpecializationMock.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2107: add typing and create getMockAuthProfile function
  src/entities/auth/api/__mocks__/helpers/getMockAuthProfile.ts
  src/entities/auth/index.ts
  src/features/specialization/deleteSpecialization/api/__mocks__/deleteSpecializationMock.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2145: add mock error handling for topic editing
  src/entities/auth/api/__mocks__/helpers/getMockAuthProfile.ts
  src/entities/auth/api/__mocks__/index.ts
  src/entities/auth/index.ts
  src/features/topics/editTopic/api/__mocks__/editTopicMock.ts
  src/features/topics/editTopic/model/types/topicEditErrorTypes.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2143: Adding mock error handling when creating a theme
  src/entities/auth/api/__mocks__/helpers/getMockAuthProfile.ts
  src/entities/auth/index.ts
  src/features/specialization/createSpecialization/api/__mock__/createSpecializationErrorMock.ts
  src/features/topics/createTopics/api/__mock__/createTopic.ts
  src/features/topics/createTopics/api/__mock__/createTopicMock.ts
  src/features/topics/createTopics/index.ts
  src/features/topics/createTopics/model/types/topicCreateErrorTypes.ts
  src/shared/libs/query/helpers/createErrorResponse.ts
  src/shared/libs/query/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2147: add mock error handling for deleting collection
  src/entities/auth/api/__mocks__/data/authMockResponse.ts
  src/entities/auth/api/__mocks__/helpers/getMockAuthProfile.ts
  src/entities/auth/index.ts
  src/features/collections/deleteCollection/api/__mocks__/deleteCollectionMock.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2088: updating the mock request to get all skills (#1295)
  src/entities/auth/api/__mocks__/data/adminMockResponse.ts
  src/entities/auth/api/__mocks__/data/authMockResponse.ts
  src/entities/auth/api/__mocks__/data/authProfileQueryMockResponse.ts
  src/entities/auth/api/__mocks__/data/authorMockResponse.ts
  src/entities/auth/api/__mocks__/data/index.ts
  src/entities/auth/api/__mocks__/data/userFreeMockResponse.ts
  src/entities/auth/api/__mocks__/data/userPremiumMockResponse.ts
  src/entities/auth/api/__mocks__/data/userUnverifiedMockResponse.ts
  src/entities/question/api/__mocks__/data/learnedQuestionsMock.ts
  src/entities/question/api/__mocks__/data/questionsMock.ts
  src/entities/question/api/__mocks__/getQuestionsSpecializationByIdCountMock.ts
  src/entities/resource/api/__mock__/data/myRequestsMock.ts
  src/entities/resource/api/__mock__/data/resourcesMock.ts
  src/entities/resource/api/__mock__/data/resourcesRequestsMock.ts
  src/entities/skill/api/__mocks__/data/skillsMock.ts
  src/entities/skill/api/__mocks__/skillListMock.ts
  src/entities/skill/api/__mocks__/skillMock.ts
  src/entities/skill/model/types/skill.ts
  src/entities/skill/ui/SkillSelect/SkillSelect.test.tsx
  src/entities/topic/api/__mock__/data/topicsMocs.ts
  src/entities/user/@x/auth.ts
  src/entities/user/@x/skill.ts
  src/entities/user/__mocks__/data/userAuthorsMock.ts
  src/entities/user/__mocks__/data/usersDataMock.ts
  src/entities/user/__mocks__/index.ts
  src/entities/user/model/types/user.ts
  src/features/question/createQuestion/api/__mocks__/data/newQuestionMock.ts
  src/features/skill/createSkill/api/__mocks__/skillCreateMock.ts
  src/features/skill/createSkill/lib/validation/skillCreateSchema.ts
  src/features/skill/deleteSkill/api/__mocks__/deleteSkillMock.ts
  src/features/skill/editSkill/api/__mocks__/skillEditMock.ts
  src/features/skill/editSkill/lib/validation/skillEditSchema.ts
  src/features/topics/createTopics/api/__mock__/createTopic.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2107: added mock processing for delete specialization (#1294)
  src/entities/auth/api/__mocks__/helpers/getMockAuthProfile.ts
  src/entities/auth/index.ts
  src/features/specialization/deleteSpecialization/api/__mocks__/deleteSpecializationMock.ts
Due: npm run prettier, npm run lint:ts:fix
