Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

.lintstagedrc:

{
  "./**/*.{ts,tsx,js,jsx}": ["npm run prettier", "npm run lint:ts:fix"],
  "*.css": "npm run lint:css:fix"
}

YH-1351: fix email validation (#883)
  src/features/profile/editProfileForm/model/lib/validation/editProfileSchema.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1380: refactor select specializations for filters (#882)
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/entities/question/index.ts
  src/entities/question/ui/ChooseSpecialization/ChooseSpecialization.module.css
  src/entities/question/ui/ChooseSpecialization/ChooseSpecialization.skeleton.tsx
  src/entities/question/ui/ChooseSpecialization/ChooseSpecialization.tsx
  src/entities/specialization/index.ts
  src/entities/specialization/model/constants/specializationConstants.ts
  src/entities/specialization/ui/SpecializationsListField/SpecializationsListField.skeleton.tsx
  src/entities/specialization/ui/SpecializationsListField/SpecializationsListField.tsx
  src/features/question/questionsFilterSet/ui/QuestionsFilterSet.tsx
  src/pages/landing/CreatePublicQuizPage/ui/CreatePublicQuizPage.tsx
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsFilterPanel/PublicQuestionsFilterPanel.skeleton.tsx
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsFilterPanel/PublicQuestionsFilterPanel.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/constants/queryConstants.ts
  src/shared/ui/BaseFilterSection/BaseFilterSection.tsx
  src/shared/ui/BaseFilterSection/index.ts
  src/shared/ui/Button/Button.module.css
  src/widgets/Collection/ui/CollectionsFilterPanel/CollectionsFilterPanel.tsx
  src/widgets/Marketplace/ui/MarketplaceFiltersPanel/MarketplaceFiltersPanel.skeleton.tsx
  src/widgets/Marketplace/ui/MarketplaceFiltersPanel/MarketplaceFiltersPanel.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1381: refactor select skills for filters
  src/entities/collection/ui/ChooseCollectionSpecialization/ChooseCollectionSpecialization.tsx
  src/entities/question/index.ts
  src/entities/question/ui/ChooseQuestionsCategories/ChooseQuestionsCategories.module.css
  src/entities/question/ui/ChooseQuestionsCategories/ChooseQuestionsCategories.skeleton.tsx
  src/entities/question/ui/ChooseQuestionsCategories/ChooseQuestionsCategories.tsx
  src/entities/skill/index.ts
  src/entities/skill/model/constants/skillConstants.ts
  src/entities/skill/ui/SkillsListField/SkillsListField.skeleton.tsx
  src/entities/skill/ui/SkillsListField/SkillsListField.tsx
  src/entities/specialization/ui/SpecializationsListField/SpecializationsListField.tsx
  src/features/question/questionsFilterSet/ui/QuestionsFilterSet.tsx
  src/pages/interview/CollectionsPage/ui/CollectionsPage/CollectionsPage.tsx
  src/pages/interview/CreateQuizPage/ui/CreateQuizPage.tsx
  src/pages/interview/QuestionsPage/ui/QuestionsPage/QuestionsPage.tsx
  src/pages/landing/CreatePublicQuizPage/ui/CreatePublicQuizPage.tsx
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsFilterPanel/PublicQuestionsFilterPanel.skeleton.tsx
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsFilterPanel/PublicQuestionsFilterPanel.tsx
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsPage/PublicQuestionsPage.tsx
  src/widgets/Marketplace/ui/MarketplaceFiltersPanel/MarketplaceFiltersPanel.skeleton.tsx
  src/widgets/Marketplace/ui/MarketplaceFiltersPanel/MarketplaceFiltersPanel.tsx
  src/widgets/question/QuestionsFilterPanel/ui/QuestionsFilterPanel.skeleton.tsx
  src/widgets/question/QuestionsFilterPanel/ui/QuestionsFilterPanel.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1381: refactor select skills for filters (#884)
  src/entities/collection/ui/ChooseCollectionSpecialization/ChooseCollectionSpecialization.tsx
  src/entities/question/index.ts
  src/entities/question/ui/ChooseQuestionsCategories/ChooseQuestionsCategories.module.css
  src/entities/question/ui/ChooseQuestionsCategories/ChooseQuestionsCategories.skeleton.tsx
  src/entities/question/ui/ChooseQuestionsCategories/ChooseQuestionsCategories.tsx
  src/entities/skill/index.ts
  src/entities/skill/model/constants/skillConstants.ts
  src/entities/skill/ui/SkillsListField/SkillsListField.skeleton.tsx
  src/entities/skill/ui/SkillsListField/SkillsListField.tsx
  src/entities/specialization/ui/SpecializationsListField/SpecializationsListField.tsx
  src/features/question/questionsFilterSet/ui/QuestionsFilterSet.tsx
  src/pages/interview/CollectionsPage/ui/CollectionsPage/CollectionsPage.tsx
  src/pages/interview/CreateQuizPage/ui/CreateQuizPage.tsx
  src/pages/interview/QuestionsPage/ui/QuestionsPage/QuestionsPage.tsx
  src/pages/landing/CreatePublicQuizPage/ui/CreatePublicQuizPage.tsx
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsFilterPanel/PublicQuestionsFilterPanel.skeleton.tsx
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsFilterPanel/PublicQuestionsFilterPanel.tsx
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsPage/PublicQuestionsPage.tsx
  src/widgets/Marketplace/ui/MarketplaceFiltersPanel/MarketplaceFiltersPanel.skeleton.tsx
  src/widgets/Marketplace/ui/MarketplaceFiltersPanel/MarketplaceFiltersPanel.tsx
  src/widgets/question/QuestionsFilterPanel/ui/QuestionsFilterPanel.skeleton.tsx
  src/widgets/question/QuestionsFilterPanel/ui/QuestionsFilterPanel.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1312: Fixed in routeConfig and delete external.json in locales in page with list of requests for the resource
  public/locales/ru/externalProducts.json
  src/app/providers/router/config/routeConfig.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1325: add placeholder for no resources
  src/pages/landing/PublicMarketplacePage/ui/PublicMarketplacePage.tsx
  src/pages/wiki/ResourcesPage/ui/ResourcesPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1325: add placeholder for no resources (#885)
  src/pages/landing/PublicMarketplacePage/ui/PublicMarketplacePage.tsx
  src/pages/wiki/ResourcesPage/ui/ResourcesPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1333: making edits
  src/widgets/interview/PassedQuestionsList/ui/PassedQuestionsItem/PassedQuestionsItem.module.css
  src/widgets/interview/PassedQuestionsList/ui/PassedQuestionsItem/PassedQuestionsItem.tsx
  src/widgets/interview/PassedQuestionsList/ui/PassedQuestionsList/PassedQuestionsList.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1350: fixed collection form width
  package-lock.json
  package.json
  src/entities/collection/ui/CollectionForm/CollectionForm.module.css
  src/entities/collection/ui/CollectionForm/CollectionForm.tsx
  webpack.config.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-937: added tests for AboutQuestionsBlock
  src/shared/ui/Chip/Chip.tsx
  src/shared/ui/Chip/types.ts
  src/widgets/Landing/AboutQuestionsBlock/ui/About/About.skeleton.tsx
  src/widgets/Landing/AboutQuestionsBlock/ui/About/About.test.tsx
  src/widgets/Landing/AboutQuestionsBlock/ui/About/About.tsx
  src/widgets/Landing/AboutQuestionsBlock/ui/AboutQuestionsBlock/AboutQuestionsBlock.test.tsx
  src/widgets/Landing/AboutQuestionsBlock/ui/AboutQuestionsBlock/AboutQuestionsBlock.tsx
  src/widgets/Landing/AboutQuestionsBlock/ui/Cards/CardBlockLayout/CardBlockLayout.test.tsx
  src/widgets/Landing/AboutQuestionsBlock/ui/Cards/CardLayout/CardLayout.test.tsx
  src/widgets/Landing/AboutQuestionsBlock/ui/Cards/FiltersCard/FiltersCard.test.tsx
  src/widgets/Landing/AboutQuestionsBlock/ui/Cards/FiltersCard/FiltersCard.tsx
  src/widgets/Landing/AboutQuestionsBlock/ui/Cards/SkillsCard/SkillsBlock/SkillsBlock.test.tsx
  src/widgets/Landing/AboutQuestionsBlock/ui/Cards/SkillsCard/SkillsCard.test.tsx
  src/widgets/Landing/AboutQuestionsBlock/ui/Cards/SpecializationCard/SpecializationBlock/SpecializationBlock.test.tsx
  src/widgets/Landing/AboutQuestionsBlock/ui/Cards/SpecializationCard/SpecializationCard.test.tsx
  src/widgets/Landing/AboutQuestionsBlock/ui/InterviewMaterials/InterviewMaterials.test.tsx
  src/widgets/Landing/AboutQuestionsBlock/ui/InterviewMaterials/InterviewMaterials.tsx
  src/widgets/Landing/AboutQuestionsBlock/ui/SkillChip/SkillChip.test.tsx
  src/widgets/Landing/AboutQuestionsBlock/ui/SkillsListTicker/SkillsListTicker.test.tsx
  src/widgets/Landing/AboutQuestionsBlock/ui/SkillsListTicker/SkillsListTicker.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1350: fixed collection form width
  src/entities/collection/ui/CollectionForm/CollectionForm.module.css
Due: npm run lint:css:fix

YH-1318: create resourceRequestpage, clearForm, url path
  public/locales/en/translation.json
  public/locales/ru/resources.json
  public/locales/ru/translation.json
  src/entities/resource/ui/ResourceSelect/ResourceSelect.tsx
  src/entities/skill/ui/SkillSelect/SkillSelect.tsx
  src/entities/specialization/ui/SpecializationSelect/SpecializationSelect.tsx
  src/features/resources/createResourceRequest/api/createResourceRequestApi.ts
  src/features/resources/createResourceRequest/index.ts
  src/features/resources/createResourceRequest/model/constants/createResourceRequestConstants.ts
  src/features/resources/createResourceRequest/model/lib/validation/resourceRequestCreateSchema.ts
  src/features/resources/createResourceRequest/model/types/resourceRequestCreateTypes.ts
  src/features/resources/createResourceRequest/ui/ResourceRequestCreateForm/ResourceRequestCreateForm.tsx
  src/features/resources/createResourceRequest/ui/ResourceRequestCreateFormWithHeader/ResourceRequestFormWithHeader.module.css
  src/features/resources/createResourceRequest/ui/ResourceRequestCreateFormWithHeader/ResourceRequestFormWithHeader.tsx
  src/features/resources/resourceModerationModal/index.ts
  src/features/resources/resourceModerationModal/ui/ResourceModerationModal/ResourceModerationModal.module.css
  src/features/resources/resourceModerationModal/ui/ResourceModerationModal/resourceModerationModal.tsx
  src/pages/wiki/RequestResourcePage/ui/RequestResourcePage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/KeywordInput/KeywordInput.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1333: updated the widget for completed interview questions (#875)
  src/shared/ui/Icon/icons.ts
  src/shared/ui/Icon/types.ts
  src/widgets/interview/PassedQuestionsList/ui/PassedQuestionsItem/PassedQuestionsItem.module.css
  src/widgets/interview/PassedQuestionsList/ui/PassedQuestionsItem/PassedQuestionsItem.tsx
  src/widgets/interview/PassedQuestionsList/ui/PassedQuestionsList/PassedQuestionsList.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1350: fixed collection form width (#887)
  src/entities/collection/ui/CollectionForm/CollectionForm.module.css
Due: npm run lint:css:fix

fix Incorrect statistics value in the donut chart
  src/widgets/interview/QuizAdditionalInfo/ui/QuizAdditionalInfo/QuizAdditionalInfo.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1346: [admin] changed the column sizes in the tables
  public/locales/en/companies.json
  public/locales/ru/companies.json
  src/entities/user/ui/UserRolesList/UserRolesList.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Table/Table.module.css
  src/shared/ui/Table/Table.tsx
  src/widgets/CollectionsTable/ui/CollectionsTable.tsx
  src/widgets/CompaniesTable/ui/CompaniesTable.tsx
  src/widgets/QuestionsTable/ui/QuestionsTable.tsx
  src/widgets/SkillsTable/ui/SkillsTable.tsx
  src/widgets/SpecializationsTable/ui/SpecializationsTable.tsx
  src/widgets/UsersTable/ui/UsersTable.tsx
  src/widgets/resources/ResourcesTable/ui/ResourcesTable.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1373: add analytics page
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/app/providers/router/config/routeConfig.tsx
  src/pages/analytics/AnalyticsPage/index.ts
  src/pages/analytics/AnalyticsPage/ui/AnalyticsPage.tsx
  src/shared/assets/icons/pieChart.svg
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1373: add analytics page (#891)
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/app/providers/router/config/routeConfig.tsx
  src/pages/analytics/AnalyticsPage/index.ts
  src/pages/analytics/AnalyticsPage/ui/AnalyticsPage.tsx
  src/shared/assets/icons/pieChart.svg
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
Due: npm run prettier, npm run lint:ts:fix

fix Incorrect statistics value in the donut chart (#889)
  src/widgets/interview/QuizAdditionalInfo/ui/QuizAdditionalInfo/QuizAdditionalInfo.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1346: [admin] changed the column sizes in the tables
  src/entities/user/ui/UserRolesList/UserRolesList.tsx
  src/shared/ui/Table/Table.module.css
  src/shared/ui/Table/Table.tsx
  src/widgets/CollectionsTable/ui/CollectionsTable.tsx
  src/widgets/CompaniesTable/ui/CompaniesTable.tsx
  src/widgets/QuestionsTable/ui/QuestionsTable.tsx
  src/widgets/SkillsTable/ui/SkillsTable.tsx
  src/widgets/SpecializationsTable/ui/SpecializationsTable.tsx
  src/widgets/UsersTable/ui/UsersTable.tsx
  src/widgets/resources/ResourcesTable/ui/ResourcesTable.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1370: added filters to the my resources page
  src/entities/resource/api/resourceApi.ts
  src/entities/resource/index.ts
  src/entities/resource/model/types/filters.ts
  src/entities/resource/model/types/resource.ts
  src/pages/interview/QuestionsPage/ui/QuestionsPage/QuestionsPage.tsx
  src/pages/wiki/MyResourcesPage/ui/MyResourcesPage.tsx
  src/pages/wiki/MyResourcesPage/ui/MyResourcesPageSkeleton.skeleton.tsx
  src/shared/assets/icons/burgerAndCross.svg
  src/shared/assets/icons/cross.svg
  src/shared/hooks/useQueryFilter.ts
  src/shared/ui/Icon/icons.ts
  src/shared/ui/Icon/types.ts
  src/widgets/Marketplace/index.ts
  src/widgets/Marketplace/model/hooks/useMarketplaceFilters.ts
  src/widgets/Marketplace/ui/MyResourcesFiltersPanel/MyResourcesFiltersPanel.tsx
  src/widgets/Marketplace/ui/ResourcesStatusBlock/ResourcesStatusBlock.module.css
  src/widgets/Marketplace/ui/ResourcesStatusBlock/ResourcesStatusBlock.tsx
  src/widgets/question/QuestionsFilterPanel/ui/QuestionsFilterPanel.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1320: fixed skeletons,sizes,fonts
  public/locales/en/resources.json
  public/locales/en/translation.json
  public/locales/ru/resources.json
  src/entities/question/index.ts
  src/entities/question/model/types/question.ts
  src/entities/resource/model/types/resource.ts
  src/entities/skill/ui/SkillList/SkillList.skeleton.tsx
  src/entities/specialization/ui/SpecializationsList/SpecializationsList.skeleton.tsx
  src/pages/admin/ResourcePage/ui/ResourcePage.module.css
  src/pages/admin/ResourcePage/ui/ResourcePage.skeleton.tsx
  src/pages/admin/ResourcePage/ui/ResourcePage.tsx
  src/shared/ui/AuthorInfo/AuthorInfo.tsx
  src/shared/ui/AuthorInfo/index.ts
  src/shared/ui/KeywordsList/KeywordsList.tsx
  src/widgets/question/QuestionAdditionalInfo/ui/QuestionAdditionalInfo.tsx
  src/widgets/resources/ResourceAdditionalInfo/ui/ResourceAdditionalInfo.module.css
  src/widgets/resources/ResourceAdditionalInfo/ui/ResourceAdditionalInfo.skeleton.tsx
  src/widgets/resources/ResourceAdditionalInfo/ui/ResourceAdditionalInfo.tsx
  src/widgets/resources/ResourceAdditionalInfoDrawer/ui/ResourceAdditionalInfoDrawer.skeleton.tsx
  src/widgets/resources/ResourceBody/ui/ResourceBody.module.css
  src/widgets/resources/ResourceBody/ui/ResourceBody.skeleton.tsx
  src/widgets/resources/ResourceBody/ui/ResourceBody.tsx
  src/widgets/resources/ResourceHeader/ui/ResourceHeader.module.css
  src/widgets/resources/ResourceHeader/ui/ResourceHeader.skeleton.tsx
  src/widgets/resources/ResourceHeader/ui/ResourceHeader.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1320: resource page
  public/locales/en/resources.json
  public/locales/en/translation.json
  public/locales/ru/resources.json
  public/locales/ru/translation.json
  src/app/providers/router/config/routeConfig.tsx
  src/entities/question/index.ts
  src/entities/question/model/types/question.ts
  src/entities/resource/index.ts
  src/entities/resource/model/types/resource.ts
  src/entities/resource/ui/ResourceList/ResourceList.skeleton.tsx
  src/entities/resource/ui/ResourceList/ResourceList.tsx
  src/entities/specialization/ui/SpecializationsList/SpecializationsList.skeleton.tsx
  src/entities/specialization/ui/SpecializationsList/SpecializationsList.tsx
  src/pages/admin/ResourcePage/ResourcePage.module.css
  src/pages/admin/ResourcePage/ResourcePage.skeleton.tsx
  src/pages/admin/ResourcePage/ResourcePage.tsx
  src/pages/admin/ResourcePage/index.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/AuthorInfo/AuthorInfo.skeleton.tsx
  src/shared/ui/AuthorInfo/AuthorInfo.tsx
  src/widgets/Collection/ui/AdditionalInfo/AdditionalInfo.tsx
  src/widgets/resources/ResourceAdditionalInfo/index.ts
  src/widgets/resources/ResourceAdditionalInfo/ui/ResourceAdditionalInfo.module.css
  src/widgets/resources/ResourceAdditionalInfo/ui/ResourceAdditionalInfo.skeleton.tsx
  src/widgets/resources/ResourceAdditionalInfo/ui/ResourceAdditionalInfo.tsx
  src/widgets/resources/ResourceAdditionalInfoDrawer/index.ts
  src/widgets/resources/ResourceAdditionalInfoDrawer/ui/ResourceAdditionalInfoDrawer.module.css
  src/widgets/resources/ResourceAdditionalInfoDrawer/ui/ResourceAdditionalInfoDrawer.skeleton.tsx
  src/widgets/resources/ResourceAdditionalInfoDrawer/ui/ResourceAdditionalInfoDrawer.tsx
  src/widgets/resources/ResourceHeader/ResourceHeader.module.css
  src/widgets/resources/ResourceHeader/ResourceHeader.skeleton.tsx
  src/widgets/resources/ResourceHeader/ResourceHeader.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1320: fix ResourcePage outlook
  public/locales/en/resources.json
  public/locales/ru/resources.json
  src/app/providers/router/config/routeConfig.tsx
  src/entities/resource/index.ts
  src/entities/resource/ui/ResourceList/ResourceList.skeleton.tsx
  src/entities/resource/ui/ResourceList/ResourceList.tsx
  src/pages/admin/ResourcePage/ResourcePage.module.css
  src/pages/admin/ResourcePage/ResourcePage.skeleton.tsx
  src/pages/admin/ResourcePage/index.tsx
  src/pages/admin/ResourcePage/ui/ResourcePage.module.css
  src/pages/admin/ResourcePage/ui/ResourcePage.skeleton.tsx
  src/pages/admin/ResourcePage/ui/ResourcePage.tsx
  src/widgets/resources/ResourceAdditionalInfo/ui/ResourceAdditionalInfo.tsx
  src/widgets/resources/ResourceAdditionalInfoDrawer/ui/ResourceAdditionalInfoDrawer.module.css
  src/widgets/resources/ResourceAdditionalInfoDrawer/ui/ResourceAdditionalInfoDrawer.tsx
  src/widgets/resources/ResourceBody/index.ts
  src/widgets/resources/ResourceBody/ui/ResourceBody.module.css
  src/widgets/resources/ResourceBody/ui/ResourceBody.skeleton.tsx
  src/widgets/resources/ResourceBody/ui/ResourceBody.tsx
  src/widgets/resources/ResourceHeader/ResourceHeader.module.css
  src/widgets/resources/ResourceHeader/ResourceHeader.tsx
  src/widgets/resources/ResourceHeader/index.ts
  src/widgets/resources/ResourceHeader/ui/ResourceHeader.module.css
  src/widgets/resources/ResourceHeader/ui/ResourceHeader.skeleton.tsx
  src/widgets/resources/ResourceHeader/ui/ResourceHeader.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1345: updated table design
  src/shared/ui/Table/Table.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1345: Added missing file
  src/shared/ui/Table/Table.module.css
  src/shared/ui/Table/Table.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1346: [admin] changed the column sizes in the tables (#890)
  public/locales/en/companies.json
  public/locales/ru/companies.json
  src/entities/user/ui/UserRolesList/UserRolesList.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Table/Table.module.css
  src/shared/ui/Table/Table.tsx
  src/widgets/CollectionsTable/ui/CollectionsTable.tsx
  src/widgets/CompaniesTable/ui/CompaniesTable.tsx
  src/widgets/QuestionsTable/ui/QuestionsTable.tsx
  src/widgets/SkillsTable/ui/SkillsTable.tsx
  src/widgets/SpecializationsTable/ui/SpecializationsTable.tsx
  src/widgets/UsersTable/ui/UsersTable.tsx
  src/widgets/resources/ResourcesTable/ui/ResourcesTable.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1370: added filters to the my resources page and made edits from the review.
  src/entities/resource/api/resourceApi.ts
  src/entities/resource/index.ts
  src/entities/resource/model/types/filters.ts
  src/entities/resource/model/types/resource.ts
  src/pages/wiki/MyResourcesPage/ui/MyResourcesPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/BaseFilterSection/BaseFilterSection.tsx
  src/widgets/Marketplace/ui/ResourcesStatusBlock/ResourcesStatusBlock.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1370: added filters to the my resources page (#892)
  src/entities/resource/api/resourceApi.ts
  src/entities/resource/index.ts
  src/entities/resource/model/types/filters.ts
  src/entities/resource/model/types/resource.ts
  src/pages/interview/QuestionsPage/ui/QuestionsPage/QuestionsPage.tsx
  src/pages/wiki/MyResourcesPage/ui/MyResourcesPage.tsx
  src/pages/wiki/MyResourcesPage/ui/MyResourcesPageSkeleton.skeleton.tsx
  src/shared/assets/icons/burgerAndCross.svg
  src/shared/assets/icons/cross.svg
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/hooks/useQueryFilter.ts
  src/shared/ui/BaseFilterSection/BaseFilterSection.tsx
  src/shared/ui/Icon/icons.ts
  src/shared/ui/Icon/types.ts
  src/widgets/Marketplace/index.ts
  src/widgets/Marketplace/model/hooks/useMarketplaceFilters.ts
  src/widgets/Marketplace/ui/MyResourcesFiltersPanel/MyResourcesFiltersPanel.tsx
  src/widgets/Marketplace/ui/ResourcesStatusBlock/ResourcesStatusBlock.module.css
  src/widgets/Marketplace/ui/ResourcesStatusBlock/ResourcesStatusBlock.tsx
  src/widgets/question/QuestionsFilterPanel/ui/QuestionsFilterPanel.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1312: Fixed resource requests table styling and translations
  public/locales/en/resources.json
  public/locales/ru/resources.json
  src/app/providers/router/config/routeConfig.tsx
  src/app/providers/store/config/config.ts
  src/entities/resource/model/types/resourceRequest.ts
  src/entities/resource/ui/ResourceRequestStatus/ResourceRequestStatus.tsx
  src/pages/admin/ResourceRequestsPage/index.ts
  src/pages/admin/ResourceRequestsPage/model/selectors/resourceRequestsPageSelectors.ts
  src/pages/admin/ResourceRequestsPage/model/types/resourceRequestsPageTypes.ts
  src/pages/admin/ResourcesRequestsTablePage/index.ts
  src/pages/admin/ResourcesRequestsTablePage/model/selectors/resourcesRequestsTablePageSelectors.ts
  src/pages/admin/ResourcesRequestsTablePage/model/slice/resourcesRequestsPageSlice.ts
  src/pages/admin/ResourcesRequestsTablePage/model/types/resourcesRequestsTablePageTypes.ts
  src/pages/admin/ResourcesRequestsTablePage/ui/ResourcesRequestsTablePage/ResourcesRequestsTablePage.module.css
  src/pages/admin/ResourcesRequestsTablePage/ui/ResourcesRequestsTablePage/ResourcesRequestsTablePage.tsx
  src/pages/admin/ResourcesRequestsTablePage/ui/ResourcesRequestsTablePagePagination/ResourcesRequestsTablePagePagination.module.css
  src/pages/admin/ResourcesRequestsTablePage/ui/ResourcesRequestsTablePagePagination/ResourcesRequestsTablePagePagination.tsx
  src/shared/config/api/apiTags.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/store/State.ts
  src/widgets/resources/ResourceRequestsTable/ui/ResourceRequestsTable.module.css
  src/widgets/resources/ResourceRequestsTable/ui/ResourceRequestsTable.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1318: deleted one props
  src/features/resources/createResourceRequest/ui/ResourceModerationModal/ResourceModerationModal.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1320: fix skeletons
  src/entities/specialization/index.ts
  src/pages/admin/ResourcePage/ui/ResourcePage.module.css
  src/pages/admin/ResourcePage/ui/ResourcePage.skeleton.tsx
  src/pages/admin/ResourcePage/ui/ResourcePage.tsx
  src/shared/ui/AuthorInfo/AuthorInfo.skeleton.tsx
  src/widgets/resources/ResourceAdditionalInfo/ui/ResourceAdditionalInfo.module.css
  src/widgets/resources/ResourceAdditionalInfo/ui/ResourceAdditionalInfo.skeleton.tsx
  src/widgets/resources/ResourceAdditionalInfo/ui/ResourceAdditionalInfo.tsx
  src/widgets/resources/ResourceAdditionalInfoDrawer/ui/ResourceAdditionalInfoDrawer.module.css
  src/widgets/resources/ResourceBody/ui/ResourceBody.module.css
  src/widgets/resources/ResourceBody/ui/ResourceBody.skeleton.tsx
  src/widgets/resources/ResourceBody/ui/ResourceBody.tsx
  src/widgets/resources/ResourceHeader/ui/ResourceHeader.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1345: apply review comments
  src/shared/ui/Table/Table.module.css
  src/shared/ui/Table/Table.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1345: apply review comments
  src/shared/ui/Table/Table.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1097: add navigation buttons on question detail page
  public/locales/en/questions.json
  public/locales/ru/questions.json
  src/entities/question/index.ts
  src/entities/question/model/constants/question.ts
  src/features/question/favoriteQuestion/ui/FavoriteQuestionButton.tsx
  src/features/question/navigateQuestion/index.ts
  src/features/question/navigateQuestion/model/helpers/calculatePageNavigation.ts
  src/features/question/navigateQuestion/model/helpers/normalizeFilters.ts
  src/features/question/navigateQuestion/model/hooks/useInitQuestionId.ts
  src/features/question/navigateQuestion/model/hooks/usePublicQuestionNavigation.ts
  src/features/question/navigateQuestion/model/hooks/useQuestionNavigation.ts
  src/features/question/navigateQuestion/model/hooks/useQuestionQueryNavigate.ts
  src/features/question/navigateQuestion/model/types/questionNavigationTypes.ts
  src/features/question/navigateQuestion/ui/QuestionNavigationButtons.skeleton.tsx
  src/features/question/navigateQuestion/ui/QuestionNavigationButtons.tsx
  src/pages/interview/QuestionPage/ui/QuestionPage.tsx
  src/pages/interview/QuestionsPage/ui/QuestionsPage/QuestionsPage.tsx
  src/pages/landing/PublicQuestionPage/ui/PublicQuestionPage.skeleton.tsx
  src/pages/landing/PublicQuestionPage/ui/PublicQuestionPage.tsx
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsPage/PublicQuestionsPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/question/QuestionActions/ui/QuestionActions.skeleton.tsx
  src/widgets/question/QuestionActions/ui/QuestionActions.tsx
  src/widgets/question/QuestionNavigation/index.ts
  src/widgets/question/QuestionNavigation/ui/QuestionNavigation.skeleton.tsx
  src/widgets/question/QuestionNavigation/ui/QuestionNavigation.tsx
  src/widgets/question/QuestionsList/ui/FullQuestionItem/FullQuestionItem.tsx
  src/widgets/question/QuestionsList/ui/FullQuestionsList/FullQuestionsList.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1320: resource page (#880)
  public/locales/en/resources.json
  public/locales/en/translation.json
  public/locales/ru/resources.json
  public/locales/ru/translation.json
  src/app/providers/router/config/routeConfig.tsx
  src/entities/question/index.ts
  src/entities/question/model/types/question.ts
  src/entities/resource/index.ts
  src/entities/resource/model/types/resource.ts
  src/entities/skill/ui/SkillList/SkillList.skeleton.tsx
  src/entities/specialization/index.ts
  src/entities/specialization/ui/SpecializationsList/SpecializationsList.skeleton.tsx
  src/entities/specialization/ui/SpecializationsList/SpecializationsList.tsx
  src/pages/admin/ResourcePage/index.tsx
  src/pages/admin/ResourcePage/ui/ResourcePage.module.css
  src/pages/admin/ResourcePage/ui/ResourcePage.skeleton.tsx
  src/pages/admin/ResourcePage/ui/ResourcePage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/AuthorInfo/AuthorInfo.skeleton.tsx
  src/shared/ui/AuthorInfo/AuthorInfo.tsx
  src/shared/ui/AuthorInfo/index.ts
  src/shared/ui/KeywordsList/KeywordsList.tsx
  src/widgets/Collection/ui/AdditionalInfo/AdditionalInfo.tsx
  src/widgets/question/QuestionAdditionalInfo/ui/QuestionAdditionalInfo.tsx
  src/widgets/resources/ResourceAdditionalInfo/index.ts
  src/widgets/resources/ResourceAdditionalInfo/ui/ResourceAdditionalInfo.module.css
  src/widgets/resources/ResourceAdditionalInfo/ui/ResourceAdditionalInfo.skeleton.tsx
  src/widgets/resources/ResourceAdditionalInfo/ui/ResourceAdditionalInfo.tsx
  src/widgets/resources/ResourceAdditionalInfoDrawer/index.ts
  src/widgets/resources/ResourceAdditionalInfoDrawer/ui/ResourceAdditionalInfoDrawer.module.css
  src/widgets/resources/ResourceAdditionalInfoDrawer/ui/ResourceAdditionalInfoDrawer.skeleton.tsx
  src/widgets/resources/ResourceAdditionalInfoDrawer/ui/ResourceAdditionalInfoDrawer.tsx
  src/widgets/resources/ResourceBody/index.ts
  src/widgets/resources/ResourceBody/ui/ResourceBody.module.css
  src/widgets/resources/ResourceBody/ui/ResourceBody.skeleton.tsx
  src/widgets/resources/ResourceBody/ui/ResourceBody.tsx
  src/widgets/resources/ResourceHeader/index.ts
  src/widgets/resources/ResourceHeader/ui/ResourceHeader.module.css
  src/widgets/resources/ResourceHeader/ui/ResourceHeader.skeleton.tsx
  src/widgets/resources/ResourceHeader/ui/ResourceHeader.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1312: fix errors
  src/app/providers/router/config/routeConfig.tsx
  src/entities/resource/model/types/resource.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1097: fix changed import
  src/pages/interview/QuestionPage/ui/QuestionPage.tsx
  src/pages/interview/QuestionsPage/ui/QuestionsPage/QuestionsPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1388: add popular filter block
  public/locales/en/analytics.json
  public/locales/ru/analytics.json
  src/app/msw/handlers.ts
  src/entities/analytics/api/__mock__/data/popularSkillsMockResponse.ts
  src/entities/analytics/api/__mock__/index.ts
  src/entities/analytics/api/__mock__/popularSkillsQueryMock.ts
  src/entities/analytics/api/analyticsApi.ts
  src/entities/analytics/index.ts
  src/entities/analytics/model/constants/analyticsConstants.ts
  src/entities/analytics/model/types/analytics.ts
  src/pages/analytics/AnalyticsPage/ui/AnalyticsPage.tsx
  src/shared/config/api/apiTags.ts
  src/shared/config/i18n/i18n.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/ProgressBar/ProgressBar.module.css
  src/shared/ui/ProgressBar/ProgressBar.tsx
  src/widgets/analytics/PopularSkills/index.ts
  src/widgets/analytics/PopularSkills/ui/PopularSkills/PopularSkills.module.css
  src/widgets/analytics/PopularSkills/ui/PopularSkills/PopularSkills.tsx
  src/widgets/analytics/PopularSkills/ui/PopularSkillsItem/PopularSkillsItem.module.css
  src/widgets/analytics/PopularSkills/ui/PopularSkillsItem/PopularSkillsItem.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix
