Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

.lintstagedrc:

{
  "./**/*.{ts,tsx,js,jsx}": ["npm run prettier", "npm run lint:ts:fix"],
  "*.css": "npm run lint:css:fix"
}

YH-557: fix: buttons size, bound ref with modal (#285)
  src/shared/ui/Modal/ui/Modal.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-510: png images in high resolution and compressed
  src/shared/assets/images/landing/interviewImg.png
  src/shared/assets/images/landing/interviewImgMobile.png
  src/shared/assets/images/landing/interviewImgTablet.png
  src/shared/assets/images/landing/question-interface-bg.png
  src/shared/assets/images/landing/quiz-example.png
  src/shared/assets/images/landing/train-image1.jpg
  src/shared/assets/images/landing/train-image1.png
  src/shared/assets/images/landing/train-image2.jpg
  src/shared/assets/images/landing/train-image2.png
  src/shared/assets/images/landing/train-image3.jpg
  src/shared/assets/images/landing/train-image3.png
  src/shared/assets/images/landing/train-image4.jpg
  src/shared/assets/images/landing/train-image4.png
  src/widgets/Landing/InterviewBlock/ui/AdvantagesList/AdvantagesList.module.css
  src/widgets/Landing/ProgressBlock/ui/ProgressBlock/ProgressBlock.module.css
  src/widgets/Landing/ProgressBlock/ui/Statistics/Statistics.tsx
  src/widgets/Landing/TrainingBlock/ui/QuestionList/mockTraining.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-560: add function for display toast after requests
  config/jest/jest.polyfill.ts
  src/entities/quiz/api/quizApi.ts
  src/features/authentication/passwordRecovery/api/passwordRecoveryApi.ts
  src/features/profile/changePassword/api/changePasswordApi.ts
  src/features/profile/editProfileForm/api/editProfileApi.ts
  src/features/question/deleteQuestion/api/deleteQuestionApi.ts
  src/features/quiz/learnQuestion/api/learnQuestionApi.ts
  src/features/quiz/resetQuestionStudyProgress/api/resetQuestionStudyProgressApi.ts
  src/shared/helpers/formatAddress/formatAddress.tsx
  src/shared/helpers/formatAddress/index.ts
  src/shared/helpers/formatDate/formatDate.ts
  src/shared/helpers/formatDate/index.ts
  src/shared/helpers/formatTime/formatTime.ts
  src/shared/helpers/formatTime/index.ts
  src/shared/helpers/getArrayFromTwoNumbers/getArrayFromTwoNumbers.ts
  src/shared/helpers/getArrayFromTwoNumbers/index.ts
  src/shared/helpers/handleRequestToast/handleRequestToast.test.ts
  src/shared/helpers/handleRequestToast/handleRequestToast.ts
  src/shared/helpers/handleRequestToast/index.ts
  src/shared/helpers/manageLocalStorage/index.ts
  src/shared/helpers/manageLocalStorage/manageLocalStorage.ts
  src/shared/helpers/route/index.ts
  src/shared/helpers/route/route.ts
Due: npm run prettier, npm run lint:ts:fix

YH-560: add function for display toast after requests (#287)
  config/jest/jest.polyfill.ts
  src/entities/quiz/api/quizApi.ts
  src/features/authentication/passwordRecovery/api/passwordRecoveryApi.ts
  src/features/profile/changePassword/api/changePasswordApi.ts
  src/features/profile/editProfileForm/api/editProfileApi.ts
  src/features/question/deleteQuestion/api/deleteQuestionApi.ts
  src/features/quiz/learnQuestion/api/learnQuestionApi.ts
  src/features/quiz/resetQuestionStudyProgress/api/resetQuestionStudyProgressApi.ts
  src/shared/helpers/formatAddress/formatAddress.tsx
  src/shared/helpers/formatAddress/index.ts
  src/shared/helpers/formatDate/formatDate.ts
  src/shared/helpers/formatDate/index.ts
  src/shared/helpers/formatTime/formatTime.ts
  src/shared/helpers/formatTime/index.ts
  src/shared/helpers/getArrayFromTwoNumbers/getArrayFromTwoNumbers.ts
  src/shared/helpers/getArrayFromTwoNumbers/index.ts
  src/shared/helpers/handleRequestToast/handleRequestToast.test.ts
  src/shared/helpers/handleRequestToast/handleRequestToast.ts
  src/shared/helpers/handleRequestToast/index.ts
  src/shared/helpers/manageLocalStorage/index.ts
  src/shared/helpers/manageLocalStorage/manageLocalStorage.ts
  src/shared/helpers/route/index.ts
  src/shared/helpers/route/route.ts
Due: npm run prettier, npm run lint:ts:fix

YH-551: add test for BaseFilterSection
  src/shared/ui/BaseFilterSection/BaseFilterSection.test.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-549: add story to backbutton component
  .loki/reference/chrome_iphone7_shared_BackButton_Primary.png
  .loki/reference/chrome_laptop_shared_BackButton_Primary.png
  src/shared/ui/BackButton/ui/BackButton.stories.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-555: !isEmailVerified block btns, refactor p nesting error
  src/shared/ui/TextHtml/ui/TextHtml.tsx
  src/widgets/Question/ui/QuestionActions/QuestionActions.tsx
  src/widgets/Question/ui/QuestionBody/QuestionBody.tsx
  src/widgets/Question/ui/QuestionPreview/QuestionPreview.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-547: add test to Accordion
  src/shared/ui/Accordion/ui/Accordion.module.css
  src/shared/ui/Accordion/ui/Accordion.test.tsx
  src/shared/ui/Accordion/ui/Accordion.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-546: fix
  src/shared/ui/Accordion/ui/Accordion.stories.tsx
  src/shared/ui/Accordion/ui/Accordion.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-562: fix hover effects on acitons and popover buttons
  src/features/quiz/learnQuestion/ui/LearnQuestionButton.module.css
  src/features/quiz/learnQuestion/ui/LearnQuestionButton.tsx
  src/features/quiz/resetQuestionStudyProgress/ui/ResetQuestionStudyProgressButton.module.css
  src/features/quiz/resetQuestionStudyProgress/ui/ResetQuestionStudyProgressButton.tsx
  src/widgets/Question/ui/QuestionPreview/QuestionPreview.module.css
  src/widgets/Question/ui/QuestionPreview/QuestionPreview.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-534: fixed the update of the list of questions
  src/features/quiz/learnQuestion/api/learnQuestionApi.ts
  src/features/quiz/resetQuestionStudyProgress/api/resetQuestionStudyProgressApi.ts
  src/widgets/Question/ui/QuestionPreview/QuestionPreview.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-534: fixed the update of the list of questions (#293)
  src/features/quiz/learnQuestion/api/learnQuestionApi.ts
  src/features/quiz/resetQuestionStudyProgress/api/resetQuestionStudyProgressApi.ts
  src/widgets/Question/ui/QuestionPreview/QuestionPreview.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-555: !isEmailVerified block btns, refactor p nesting error (#290)
  src/shared/ui/TextHtml/ui/TextHtml.tsx
  src/widgets/Question/ui/QuestionActions/QuestionActions.tsx
  src/widgets/Question/ui/QuestionBody/QuestionBody.tsx
  src/widgets/Question/ui/QuestionPreview/QuestionPreview.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-563: add new favicon
  public/images/favicon.svg
Due: none

YH-563: add new favicon (#294)
  public/images/favicon.svg
Due: none

YH-415: fix card
  src/pages/interview/QuestionPage/ui/QuestionPage.tsx
  src/shared/ui/Card/ui/Card.module.css
  src/shared/ui/Card/ui/Card.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-559: update logo
  src/shared/assets/icons/logo.png
  src/shared/assets/icons/logo.svg
  src/shared/assets/icons/logoText.svg
  src/shared/ui/AppLogo/AppLogo.module.css
  src/shared/ui/AppLogo/AppLogo.tsx
  src/shared/ui/AuthAvatarFrame/AuthAvatarFrame.module.css
  src/widgets/Header/ui/Header.module.css
  src/widgets/Header/ui/Header.tsx
  src/widgets/Landing/Footer/ui/Footer.tsx
  src/widgets/Landing/Header/ui/AuthorizedBlock/AuthorizedBlock.module.css
  src/widgets/Landing/Header/ui/Header/Header.module.css
  src/widgets/Landing/Header/ui/Header/Header.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-559: update logo (#296)
  src/shared/assets/icons/logo.png
  src/shared/assets/icons/logo.svg
  src/shared/assets/icons/logoText.svg
  src/shared/ui/AppLogo/AppLogo.module.css
  src/shared/ui/AppLogo/AppLogo.tsx
  src/shared/ui/AuthAvatarFrame/AuthAvatarFrame.module.css
  src/widgets/Header/ui/Header.module.css
  src/widgets/Header/ui/Header.tsx
  src/widgets/Landing/Footer/ui/Footer.tsx
  src/widgets/Landing/Header/ui/AuthorizedBlock/AuthorizedBlock.module.css
  src/widgets/Landing/Header/ui/Header/Header.module.css
  src/widgets/Landing/Header/ui/Header/Header.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-561: add toast for login
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/entities/auth/api/authApi.ts
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-161: add multiple deleting for admin entities (#281)
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/app/styles/variables/themes.css
  src/features/question/deleteQuestion/api/deleteQuestionApi.ts
  src/features/question/deleteQuestions/api/deleteQuestionsApi.ts
  src/features/question/deleteQuestions/index.ts
  src/features/question/deleteQuestions/slice/deleteQuestionsSlice.ts
  src/features/question/deleteQuestions/ui/DeleteQuestionsButton/DeleteQuestionsButton.tsx
  src/features/skill/deleteSkills/api/deleteSkillsApi.ts
  src/features/skill/deleteSkills/index.ts
  src/features/skill/deleteSkills/slice/deleteSkillsSlice.ts
  src/features/skill/deleteSkills/ui/DeleteSkillsButton/DeleteSkillsButton.tsx
  src/features/specialization/deleteSpecializations/api/deleteSpecializationsApi.ts
  src/features/specialization/deleteSpecializations/index.ts
  src/features/specialization/deleteSpecializations/slice/deleteSpecializationsSlice.ts
  src/features/specialization/deleteSpecializations/ui/DeleteSpecializationsButton/DeleteSpecializationsButton.tsx
  src/pages/admin/QuestionsTablePage/model/slices/questionsTablePageSlice.ts
  src/pages/admin/QuestionsTablePage/model/types/questionsTablePageTypes.ts
  src/pages/admin/QuestionsTablePage/ui/QuestionsTablePage/QuestionsTablePage.tsx
  src/pages/admin/SkillsPage/model/slices/skillsPageSlice.ts
  src/pages/admin/SkillsPage/model/types/skillsPageTypes.ts
  src/pages/admin/SkillsPage/ui/SkillsPage/SkillsPage.tsx
  src/pages/admin/SpecializationsPage/model/slices/specializationsPageSlice.ts
  src/pages/admin/SpecializationsPage/model/types/specializationsPageTypes.ts
  src/pages/admin/SpecializationsPage/ui/SpecializationsPage/SpecializationsPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/types/types.ts
  src/shared/ui/Table/ui/Table.tsx
  src/widgets/QuestionsTable/ui/QuestionsTable.tsx
  src/widgets/SearchSection/ui/SearchSection.tsx
  src/widgets/SkillsTable/ui/SkillsTable.tsx
  src/widgets/SpecializationsTable/ui/SpecializationsTable.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-552: added mock request for question list
  src/app/msw/handlers.ts
  src/entities/question/api/__mocks__/data/index.ts
  src/entities/question/api/__mocks__/data/questonMockResponse.ts
  src/entities/question/api/__mocks__/index.ts
  src/entities/question/api/__mocks__/questionListMock.ts
  src/entities/question/api/questionApi.ts
  src/entities/question/index.ts
  src/entities/question/model/constants/question.ts
  src/entities/question/model/types/question.ts
Due: npm run prettier, npm run lint:ts:fix

YH-532: add type to subscription and modify FAQ component
  src/entities/subscription/index.ts
  src/entities/subscription/model/types/subscription.ts
  src/entities/subscription/ui/Subscription/Subscription.tsx
  src/shared/ui/Faq/ui/Faq.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-561: add toast for login (#297)
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/entities/auth/api/authApi.ts
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-556: fixed main page text
  src/pages/interview/MainPage/ui/MainPage.module.css
Due: npm run lint:css:fix

YH-532: review 2
  public/locales/en/interview.json
  public/locales/en/subscription.json
  public/locales/ru/interview.json
  public/locales/ru/subscription.json
  src/entities/auth/ui/RegistrationLabel/RegistrationLabel.tsx
  src/entities/subscription/index.ts
  src/entities/subscription/model/types/subscription.ts
  src/entities/subscription/ui/SubscriptionCard/SubscriptionCard.module.css
  src/entities/subscription/ui/SubscriptionCard/SubscriptionCard.tsx
  src/features/subscription/subscribe/ui/Subcribe.tsx
  src/shared/config/i18n/i18n.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/KeywordInput/KeywordInput.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-415: fix card (#295)
  src/pages/interview/QuestionPage/ui/QuestionPage.tsx
  src/shared/ui/Card/ui/Card.module.css
  src/shared/ui/Card/ui/Card.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-556: fix card title for specialization
  src/pages/interview/InterviewPage/ui/InterviewPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-556: fixed main page text (#299)
  src/pages/interview/MainPage/ui/MainPage.module.css
Due: npm run lint:css:fix

YH-556: fix card title for specialization (#300)
  src/pages/interview/InterviewPage/ui/InterviewPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-565: add popover menu, add mobile sidebar
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/app/layouts/MainLayout/ui/MainLayout.module.css
  src/app/layouts/MainLayout/ui/MainLayout.tsx
  src/features/common/user-preferences/ui/UserPreferences.tsx
  src/features/quiz/learnQuestion/ui/LearnQuestionButton.module.css
  src/features/quiz/learnQuestion/ui/LearnQuestionButton.tsx
  src/features/quiz/resetQuestionStudyProgress/ui/ResetQuestionStudyProgressButton.module.css
  src/features/quiz/resetQuestionStudyProgress/ui/ResetQuestionStudyProgressButton.tsx
  src/shared/assets/icons/openSideBar.svg
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/BurgerMenu/index.ts
  src/shared/ui/BurgerMenu/ui/BurgerMenu.module.css
  src/shared/ui/BurgerMenu/ui/BurgerMenu.tsx
  src/shared/ui/Drawer/ui/Drawer.tsx
  src/shared/ui/Icons/MenuIcon/MenuIcon.module.css
  src/shared/ui/Icons/MenuIcon/MenuIcon.tsx
  src/shared/ui/Icons/MenuIcon/index.ts
  src/shared/ui/Icons/OpenIcon/OpenIcon.module.css
  src/shared/ui/Icons/OpenIcon/OpenIcon.tsx
  src/shared/ui/Icons/OpenIcon/index.ts
  src/shared/ui/Icons/ProfileIcon/ProfileIcon.tsx
  src/shared/ui/Icons/SignOutIcon/SignOutIcon.tsx
  src/shared/ui/Icons/UserPlusIcon/UserPlusIcon.module.css
  src/shared/ui/Icons/UserPlusIcon/UserPlusIcon.tsx
  src/shared/ui/Icons/UserPlusIcon/index.ts
  src/shared/ui/Popover/index.ts
  src/shared/ui/Popover/model/types/types.ts
  src/shared/ui/Popover/ui/Popover/Popover.module.css
  src/shared/ui/Popover/ui/Popover/Popover.tsx
  src/shared/ui/Popover/ui/PopoverMenu/PopoverMenu.module.css
  src/shared/ui/Popover/ui/PopoverMenu/PopoverMenu.tsx
  src/widgets/Header/ui/Header.module.css
  src/widgets/Header/ui/Header.tsx
  src/widgets/Landing/Header/ui/UnauthorizedBlock/UnauthorizedBlock.tsx
  src/widgets/Question/ui/QuestionPreview/QuestionPreview.module.css
  src/widgets/Question/ui/QuestionPreview/QuestionPreview.tsx
  src/widgets/Sidebar/ui/Sidebar/Sidebar.module.css
  src/widgets/Sidebar/ui/Sidebar/Sidebar.tsx
  src/widgets/Sidebar/ui/SidebarMenuItem/SidebarSingleMenuItem.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-565: delete console
  src/shared/ui/Popover/ui/PopoverMenu/PopoverMenu.module.css
  src/widgets/Sidebar/ui/SidebarMenuItem/SidebarSingleMenuItem.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-565: add popover menu, add mobile sidebar (#301)
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/app/layouts/MainLayout/ui/MainLayout.module.css
  src/app/layouts/MainLayout/ui/MainLayout.tsx
  src/features/common/user-preferences/ui/UserPreferences.tsx
  src/features/quiz/learnQuestion/ui/LearnQuestionButton.module.css
  src/features/quiz/learnQuestion/ui/LearnQuestionButton.tsx
  src/features/quiz/resetQuestionStudyProgress/ui/ResetQuestionStudyProgressButton.module.css
  src/features/quiz/resetQuestionStudyProgress/ui/ResetQuestionStudyProgressButton.tsx
  src/shared/assets/icons/openSideBar.svg
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/BurgerMenu/index.ts
  src/shared/ui/BurgerMenu/ui/BurgerMenu.module.css
  src/shared/ui/BurgerMenu/ui/BurgerMenu.tsx
  src/shared/ui/Drawer/ui/Drawer.tsx
  src/shared/ui/Icons/MenuIcon/MenuIcon.module.css
  src/shared/ui/Icons/MenuIcon/MenuIcon.tsx
  src/shared/ui/Icons/MenuIcon/index.ts
  src/shared/ui/Icons/OpenIcon/OpenIcon.module.css
  src/shared/ui/Icons/OpenIcon/OpenIcon.tsx
  src/shared/ui/Icons/OpenIcon/index.ts
  src/shared/ui/Icons/ProfileIcon/ProfileIcon.tsx
  src/shared/ui/Icons/SignOutIcon/SignOutIcon.tsx
  src/shared/ui/Icons/UserPlusIcon/UserPlusIcon.module.css
  src/shared/ui/Icons/UserPlusIcon/UserPlusIcon.tsx
  src/shared/ui/Icons/UserPlusIcon/index.ts
  src/shared/ui/Popover/index.ts
  src/shared/ui/Popover/model/types/types.ts
  src/shared/ui/Popover/ui/Popover/Popover.module.css
  src/shared/ui/Popover/ui/Popover/Popover.tsx
  src/shared/ui/Popover/ui/PopoverMenu/PopoverMenu.module.css
  src/shared/ui/Popover/ui/PopoverMenu/PopoverMenu.tsx
  src/widgets/Header/ui/Header.module.css
  src/widgets/Header/ui/Header.tsx
  src/widgets/Landing/Header/ui/UnauthorizedBlock/UnauthorizedBlock.tsx
  src/widgets/Question/ui/QuestionPreview/QuestionPreview.module.css
  src/widgets/Question/ui/QuestionPreview/QuestionPreview.tsx
  src/widgets/Sidebar/ui/Sidebar/Sidebar.module.css
  src/widgets/Sidebar/ui/Sidebar/Sidebar.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-562: fix hover and size of actions buttons (#291)
  src/features/quiz/learnQuestion/ui/LearnQuestionButton.module.css
  src/features/quiz/learnQuestion/ui/LearnQuestionButton.tsx
  src/features/quiz/resetQuestionStudyProgress/ui/ResetQuestionStudyProgressButton.module.css
  src/features/quiz/resetQuestionStudyProgress/ui/ResetQuestionStudyProgressButton.tsx
  src/shared/ui/Popover/ui/PopoverMenu/PopoverMenu.module.css
  src/widgets/Question/ui/QuestionActions/QuestionActions.module.css
  src/widgets/Question/ui/QuestionActions/QuestionActions.tsx
  src/widgets/Question/ui/QuestionPreview/QuestionPreview.module.css
  src/widgets/Question/ui/QuestionPreview/QuestionPreview.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-562: refactored and fixed styles
  src/features/quiz/learnQuestion/ui/LearnQuestionButton.module.css
  src/features/quiz/learnQuestion/ui/LearnQuestionButton.tsx
  src/features/quiz/resetQuestionStudyProgress/ui/ResetQuestionStudyProgressButton.module.css
  src/features/quiz/resetQuestionStudyProgress/ui/ResetQuestionStudyProgressButton.tsx
  src/widgets/Question/ui/QuestionActions/QuestionActions.module.css
  src/widgets/Question/ui/QuestionActions/QuestionActions.tsx
  src/widgets/Question/ui/QuestionPreview/QuestionPreview.module.css
  src/widgets/Question/ui/QuestionPreview/QuestionPreview.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-578: fix design
  public/locales/en/interviewQuizResult.json
  public/locales/ru/interviewQuizResult.json
  src/pages/interview/InterviewPage/ui/InterviewPage.tsx
  src/shared/ui/Card/ui/Card.module.css
  src/shared/ui/Card/ui/Card.tsx
  src/widgets/Charts/ui/PassedQuestionChart/PassedQuestionChart.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-539: remove filter from skills, specializations
  src/pages/admin/QuestionsTablePage/ui/QuestionsTablePage/QuestionsTablePage.tsx
  src/pages/admin/SkillsPage/ui/SkillsPage/SkillsPage.tsx
  src/pages/admin/SpecializationsPage/ui/SpecializationsPage/SpecializationsPage.tsx
  src/widgets/SearchSection/ui/SearchSection.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-579: fix breadcrumbs
  src/shared/ui/Breadcrumbs/ui/Breadcrumbs.module.css
  src/shared/ui/Breadcrumbs/ui/Breadcrumbs.tsx
  src/widgets/Profile/ui/UserCard/ui/UserInfoBlock/UserInfoBlock.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-579: fix breadcrumbs (#304)
  src/shared/ui/Breadcrumbs/ui/Breadcrumbs.module.css
  src/shared/ui/Breadcrumbs/ui/Breadcrumbs.tsx
  src/widgets/Profile/ui/UserCard/ui/UserInfoBlock/UserInfoBlock.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-578: fix centering
  src/pages/interview/InterviewPage/ui/InterviewPage.tsx
  src/shared/ui/Card/ui/Card.module.css
  src/shared/ui/Card/ui/Card.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix
