Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-533: remove duplicate import Button
  src/shared/ui/KeywordInput/KeywordInput.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-608: sidebar is hidden in tablet version
  src/widgets/Header/ui/Header.module.css
  src/widgets/Sidebar/ui/Sidebar/Sidebar.module.css
Due: npm run lint:css:fix

YH-608: fix styles Sidebar and Header (#344)
  src/features/common/user-preferences/ui/UserPreferences.module.css
  src/shared/assets/icons/leftChevron.svg
  src/shared/assets/icons/toggleSidebar.svg
  src/shared/ui/AppLogo/AppLogo.module.css
  src/widgets/Header/ui/Header.module.css
  src/widgets/Header/ui/Header.tsx
  src/widgets/Sidebar/ui/Sidebar/Sidebar.module.css
  src/widgets/Sidebar/ui/Sidebar/Sidebar.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-533: add constant for DateFormate
  src/shared/constants/dateFormats.ts
  src/widgets/Profile/ui/Subscription/ui/SubscriptionTab/SubscriptionTab.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-617: loader center text, responsive emailVerifyed, linter errors
  src/entities/profile/ui/UserVerifyed/UserVerifyed.module.css
  src/shared/config/i18n/i18n.ts
  src/shared/ui/KeywordInput/KeywordInput.tsx
  src/shared/ui/Loader/ui/Loader.module.css
  src/widgets/Question/ui/QuestionHeader/QuestionHeader.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-618: fix profile edit icon, fileloader gaps, linter errors
  src/shared/config/i18n/i18n.ts
  src/shared/ui/FileLoader/FileLoader.module.css
  src/shared/ui/ImageLoader/ImageLoader.module.css
  src/shared/ui/ImageLoader/ImageLoader.tsx
  src/shared/ui/KeywordInput/KeywordInput.tsx
  src/widgets/Profile/ui/UserCard/ui/UserBlock/UserBlock.module.css
  src/widgets/Question/ui/QuestionHeader/QuestionHeader.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-619: add scroll to ChooseQuestionsCategories
  src/entities/question/ui/ChooseQuestionsCategories/ChooseQuestionsCategories.module.css
  src/entities/question/ui/ChooseQuestionsCategories/ChooseQuestionsCategories.tsx
  src/shared/ui/KeywordInput/KeywordInput.tsx
  src/widgets/Question/ui/QuestionsFilterPanel/ui/QuestionsFilterPanel.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-619: add scroll to ChooseQuestionsCategories (#349)
  src/entities/question/ui/ChooseQuestionsCategories/ChooseQuestionsCategories.module.css
  src/entities/question/ui/ChooseQuestionsCategories/ChooseQuestionsCategories.tsx
  src/shared/ui/KeywordInput/KeywordInput.tsx
  src/widgets/Question/ui/QuestionsFilterPanel/ui/QuestionsFilterPanel.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-617: loader center text, responsive emailVerifyed, linter errors (#347)
  src/entities/profile/ui/UserVerifyed/UserVerifyed.module.css
  src/shared/config/i18n/i18n.ts
  src/shared/ui/Loader/ui/Loader.module.css
  src/widgets/Question/ui/QuestionHeader/QuestionHeader.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-616: fix graphs loading
  src/pages/interview/InterviewQuizResultPage/model/getInterviewStast.ts
  src/pages/interview/InterviewQuizResultPage/ui/InterviewQuizResultPage.tsx
  src/shared/helpers/formatDate/formatDate.ts
  src/shared/helpers/formatTime/formatTime.ts
  src/shared/ui/KeywordInput/KeywordInput.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-616: add success data validation
  src/pages/interview/InterviewQuizResultPage/model/getInterviewStast.ts
Due: npm run prettier, npm run lint:ts:fix

YH-616: add skeleton
  src/pages/interview/InterviewQuizResultPage/ui/InterviewQuizResultPage.skeleton.tsx
  src/pages/interview/InterviewQuizResultPage/ui/InterviewQuizResultPage.tsx
  src/pages/interview/InterviewStatisticsPage/ui/InterviewStatisticsPage.module.css
  src/pages/interview/InterviewStatisticsPage/ui/InterviewStatisticsPage.skeleton.tsx
  src/pages/interview/InterviewStatisticsPage/ui/InterviewStatisticsPage.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-616: fix graphs loading (#350)
  src/pages/interview/InterviewQuizResultPage/model/getInterviewStast.ts
  src/pages/interview/InterviewQuizResultPage/ui/InterviewQuizResultPage.skeleton.tsx
  src/pages/interview/InterviewQuizResultPage/ui/InterviewQuizResultPage.tsx
  src/pages/interview/InterviewStatisticsPage/ui/InterviewStatisticsPage.module.css
  src/pages/interview/InterviewStatisticsPage/ui/InterviewStatisticsPage.skeleton.tsx
  src/pages/interview/InterviewStatisticsPage/ui/InterviewStatisticsPage.tsx
  src/shared/helpers/formatDate/formatDate.ts
  src/shared/helpers/formatTime/formatTime.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

Release 1.0.2
  RELEASE_NOTES.md
  package.json
Due: none

YH-618: fix profile edit icon, fileloader gaps, linter errors (#348)
  src/shared/ui/FileLoader/FileLoader.module.css
  src/shared/ui/ImageLoader/ImageLoader.module.css
  src/shared/ui/ImageLoader/ImageLoader.tsx
  src/widgets/Profile/ui/UserCard/ui/UserBlock/UserBlock.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-600: add yandex metrica (#352)
  public/index.html
Due: none

YH-552: added mock request for question list (#298)
  src/app/msw/handlers.ts
  src/entities/auth/api/__mocks__/data/authMockResponse.ts
  src/entities/auth/api/__mocks__/data/authProfileQueryMockResponse.ts
  src/entities/question/api/__mocks__/data/index.ts
  src/entities/question/api/__mocks__/data/questionsMock.ts
  src/entities/question/api/__mocks__/index.ts
  src/entities/question/api/__mocks__/questionListMock.ts
  src/entities/question/api/questionApi.ts
  src/entities/question/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-609: feature WrapperBlockerDialogModal
  src/features/profile/editProfileForm/ui/EditProfileForm/EditProfileForm.tsx
  src/features/question/createQuestion/ui/QuestionCreateForm/QuestionCreateForm.tsx
  src/features/question/editQuestion/ui/QuestionEditForm/QuestionEditForm.tsx
  src/features/skill/createSkill/ui/SkillCreateForm/SkillCreateForm.tsx
  src/features/skill/editSkill/ui/SkillEditForm/SkillEditForm.tsx
  src/features/specialization/createSpecialization/ui/SpecializationCreateForm/SpecializationCreateForm.tsx
  src/features/specialization/editSpecialization/ui/SpecializationEditForm/SpecializationEditForm.tsx
  src/shared/ui/WrapperBlockerDialogModal/index.tsx
  src/shared/ui/WrapperBlockerDialogModal/ui/WrapperBlockerDialogModal.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-609: rename: component
  public/locales/en/auth.json
  src/features/profile/editProfileForm/ui/EditProfileForm/EditProfileForm.tsx
  src/features/question/createQuestion/ui/QuestionCreateForm/QuestionCreateForm.tsx
  src/features/question/editQuestion/ui/QuestionEditForm/QuestionEditForm.tsx
  src/features/skill/createSkill/ui/SkillCreateForm/SkillCreateForm.tsx
  src/features/skill/editSkill/ui/SkillEditForm/SkillEditForm.tsx
  src/features/specialization/createSpecialization/ui/SpecializationCreateForm/SpecializationCreateForm.tsx
  src/features/specialization/editSpecialization/ui/SpecializationEditForm/SpecializationEditForm.tsx
  src/shared/config/i18n/i18n.ts
  src/shared/ui/LeavingPageBlocker/index.tsx
  src/shared/ui/LeavingPageBlocker/ui/LeavingPageBlocker.tsx
  src/shared/ui/WrapperBlockerDialogModal/index.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-609: delet:React.FC<>
  src/shared/ui/LeavingPageBlocker/ui/LeavingPageBlocker.tsx
Due: npm run prettier, npm run lint:ts:fix

add readme file, change package json file, add license
  LICENSE
  README.md
  package.json
Due: none

some changes
  README.md
Due: none

Feature/yh update package (#355)
  LICENSE
  README.md
  package.json
Due: none

YH-622: add mock request to delete a question
  src/app/msw/handlers.ts
  src/entities/question/api/__mocks__/data/index.ts
  src/entities/question/api/__mocks__/data/questionsMock.ts
  src/entities/question/api/__mocks__/questionListMock.ts
  src/entities/question/index.ts
  src/features/question/deleteQuestion/api/__mocks__/deleteQuestionMock.ts
  src/features/question/deleteQuestion/api/__mocks__/index.ts
  src/features/question/deleteQuestion/index.ts
  src/index.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-611: added blocker in question, skill and specialization
  src/features/question/deleteQuestions/ui/DeleteQuestionsButton/DeleteQuestionsButton.tsx
  src/features/skill/deleteSkills/ui/DeleteSkillsButton/DeleteSkillsButton.tsx
  src/features/specialization/deleteSpecializations/ui/DeleteSpecializationsButton/DeleteSpecializationsButton.tsx
Due: npm run prettier, npm run lint:ts:fix

fix version
  package.json
Due: none

Feature/yh update package (#358)
  package.json
Due: none

fix deploy action
  .github/workflows/deploy.yml
Due: none

add branch target for develop
  .github/workflows/deploy.yml
Due: none

Fix/ci cd deploy (#360)
  .github/workflows/deploy.yml
Due: none

YH-611: fix blocker
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/features/profile/editProfileForm/ui/EditProfileForm/EditProfileForm.tsx
  src/features/question/createQuestion/ui/QuestionCreateForm/QuestionCreateForm.tsx
  src/features/question/deleteQuestion/ui/DeleteQuestionButton/DeleteQuestionButton.tsx
  src/features/question/deleteQuestions/ui/DeleteQuestionsButton/DeleteQuestionsButton.tsx
  src/features/question/editQuestion/ui/QuestionEditForm/QuestionEditForm.tsx
  src/features/skill/createSkill/ui/SkillCreateForm/SkillCreateForm.tsx
  src/features/skill/deleteSkill/ui/DeleteSkillButton/DeleteSkillButton.tsx
  src/features/skill/deleteSkills/ui/DeleteSkillsButton/DeleteSkillsButton.tsx
  src/features/skill/editSkill/ui/SkillEditForm/SkillEditForm.tsx
  src/features/specialization/createSpecialization/ui/SpecializationCreateForm/SpecializationCreateForm.tsx
  src/features/specialization/deleteSpecialization/ui/DeleteSpecializationButton/DeleteSpecializationButton.tsx
  src/features/specialization/deleteSpecializations/ui/DeleteSpecializationsButton/DeleteSpecializationsButton.tsx
  src/features/specialization/editSpecialization/ui/SpecializationEditForm/SpecializationEditForm.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/BlockerDialogModal/ui/BlockerDialogModal.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-622: fix mock request to delete a question
  src/entities/question/api/__mocks__/questionListMock.ts
  src/features/question/deleteQuestion/api/__mocks__/deleteQuestionMock.ts
  src/index.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-609: feature WrapperBlockerDialogModal (#354)
  src/features/profile/editProfileForm/ui/EditProfileForm/EditProfileForm.tsx
  src/features/question/createQuestion/ui/QuestionCreateForm/QuestionCreateForm.tsx
  src/features/question/editQuestion/ui/QuestionEditForm/QuestionEditForm.tsx
  src/features/skill/createSkill/ui/SkillCreateForm/SkillCreateForm.tsx
  src/features/skill/editSkill/ui/SkillEditForm/SkillEditForm.tsx
  src/features/specialization/createSpecialization/ui/SpecializationCreateForm/SpecializationCreateForm.tsx
  src/features/specialization/editSpecialization/ui/SpecializationEditForm/SpecializationEditForm.tsx
  src/shared/ui/LeavingPageBlocker/index.tsx
  src/shared/ui/LeavingPageBlocker/ui/LeavingPageBlocker.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-611: fixed the components
  src/features/profile/editProfileForm/ui/EditProfileForm/EditProfileForm.tsx
  src/features/question/createQuestion/ui/QuestionCreateForm/QuestionCreateForm.tsx
  src/features/question/deleteQuestion/model/constants/deleteQuestionConstants.ts
  src/features/question/deleteQuestion/ui/DeleteQuestionButton/DeleteQuestionButton.tsx
  src/features/question/editQuestion/ui/QuestionEditForm/QuestionEditForm.tsx
  src/features/skill/createSkill/ui/SkillCreateForm/SkillCreateForm.tsx
  src/features/skill/deleteSkill/model/constants/deleteSkillConstants.ts
  src/features/skill/deleteSkill/ui/DeleteSkillButton/DeleteSkillButton.tsx
  src/features/skill/editSkill/ui/SkillEditForm/SkillEditForm.tsx
  src/features/specialization/createSpecialization/ui/SpecializationCreateForm/SpecializationCreateForm.tsx
  src/features/specialization/deleteSpecialization/model/constants/deleteSpecializationConstants.ts
  src/features/specialization/deleteSpecialization/ui/DeleteSpecializationButton/DeleteSpecializationButton.tsx
  src/features/specialization/editSpecialization/ui/SpecializationEditForm/SpecializationEditForm.tsx
  src/shared/ui/BlockerDialogModal/ui/BlockerDialogModal.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-611: fixed constants
  src/features/question/deleteQuestion/model/constants/deleteQuestionConstants.ts
  src/features/question/deleteQuestion/ui/DeleteQuestionButton/DeleteQuestionButton.tsx
  src/features/skill/deleteSkill/model/constants/deleteSkillConstants.ts
  src/features/skill/deleteSkill/ui/DeleteSkillButton/DeleteSkillButton.tsx
  src/features/specialization/deleteSpecialization/model/constants/deleteSpecializationConstants.ts
  src/features/specialization/deleteSpecialization/ui/DeleteSpecializationButton/DeleteSpecializationButton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-629: add test for TextHtml
  src/shared/ui/TextHtml/ui/TextHtml.test.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-621: add createQuestionMock
  src/app/msw/handlers.ts
  src/features/question/createQuestion/api/__mocks__/createQuestionMock.ts
  src/features/question/createQuestion/api/__mocks__/data/index.ts
  src/features/question/createQuestion/api/__mocks__/data/newQuestionMock.ts
  src/features/question/createQuestion/api/__mocks__/index.ts
  src/features/question/createQuestion/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-635: add multiple select to specializations
  public/locales/en/specialization.json
  public/locales/ru/specialization.json
  src/entities/question/ui/QuestionForm/QuestionForm.tsx
  src/entities/specialization/ui/SpecializationSelect/SpecializationSelect.module.css
  src/entities/specialization/ui/SpecializationSelect/SpecializationSelect.tsx
  src/features/profile/editProfileForm/ui/PersonalInformationTabForm/PersonalInformationTabForm.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-629: add test for TextHtml (#362)
  src/shared/ui/TextHtml/ui/TextHtml.test.tsx
Due: npm run prettier, npm run lint:ts:fix

Path conditions:
  npm run prettier: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:ts:fix: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:css:fix: any of: *.css
