Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

.lintstagedrc:

{
  "./**/*.{ts,tsx,js,jsx}": ["npm run prettier", "npm run lint:ts:fix"],
  "*.css": "npm run lint:css:fix"
}

YH-1485: refactor filter collections
  src/features/collections/filterCollections/index.ts
  src/features/collections/filterCollections/model/hooks/useCollectionsFilters.ts
  src/features/collections/filterCollections/model/hooks/useGetCollectionsFilterParams.ts
  src/features/collections/filterCollections/model/types/types.ts
  src/features/collections/filterCollections/ui/CollectionsFilters/CollectionsFilters.module.css
  src/features/collections/filterCollections/ui/CollectionsFilters/CollectionsFilters.skeleton.tsx
  src/features/collections/filterCollections/ui/CollectionsFilters/CollectionsFilters.tsx
  src/pages/admin/CollectionsPage/model/selectors/collectionsPageSelectors.ts
  src/pages/admin/CollectionsPage/model/slices/collectionsPageSlice.ts
  src/pages/admin/CollectionsPage/model/types/collectionsPageTypes.ts
  src/pages/admin/CollectionsPage/ui/CollectionsPage/CollectionsPage.tsx
  src/pages/interview/CollectionsPage/ui/CollectionsPage/CollectionsPage.skeleton.tsx
  src/pages/interview/CollectionsPage/ui/CollectionsPage/CollectionsPage.tsx
  src/pages/landing/PublicCollectionsPage/ui/PublicCollectionsPage.skeleton.tsx
  src/pages/landing/PublicCollectionsPage/ui/PublicCollectionsPage.tsx
  src/shared/ui/Input/Input.module.css
  src/widgets/Collection/index.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1487: refactor filter resources
  src/entities/resource/index.ts
  src/entities/resource/model/types/resourceRequest.ts
  src/features/resources/filterResourceRequests/index.ts
  src/features/resources/filterResourceRequests/model/hooks/useGetResourceRequestsFilterParams.ts
  src/features/resources/filterResourceRequests/model/hooks/useResourceRequestsFilters.ts
  src/features/resources/filterResourceRequests/model/types/filters.ts
  src/features/resources/filterResourceRequests/ui/ResourceRequestsFilters/ResourceRequestsFilters.tsx
  src/features/resources/filterResources/index.ts
  src/features/resources/filterResources/model/hooks/useGetResourcesFilterParams.ts
  src/features/resources/filterResources/model/hooks/useResourcesFilters.ts
  src/features/resources/filterResources/model/types/filters.ts
  src/features/resources/filterResources/ui/ResourcesFilters/ResourcesFilters.skeleton.tsx
  src/features/resources/filterResources/ui/ResourcesFilters/ResourcesFilters.tsx
  src/pages/admin/ResourcesPage/model/selectors/resourcesAllTabSelectors.ts
  src/pages/admin/ResourcesPage/model/selectors/resourcesRequestsTabSelectors.ts
  src/pages/admin/ResourcesPage/model/slice/resourcesAllTabSlice.ts
  src/pages/admin/ResourcesPage/model/slice/resourcesRequestsTabSlice.ts
  src/pages/admin/ResourcesPage/model/types/resourcesAllTabTypes.ts
  src/pages/admin/ResourcesPage/model/types/resourcesRequestsTabTypes.ts
  src/pages/admin/ResourcesPage/ui/tabs/ResourcesAllTab/ResourcesAllTab/ResourcesAllTab.tsx
  src/pages/admin/ResourcesPage/ui/tabs/ResourcesRequestsTab/ResourcesRequestsTab/ResourcesRequestsTab.tsx
  src/pages/landing/PublicResourcesPage/ui/PublicResourcesPage.skeleton.tsx
  src/pages/landing/PublicResourcesPage/ui/PublicResourcesPage.tsx
  src/pages/wiki/MyResourcesPage/ui/MyResourcesPage.tsx
  src/pages/wiki/MyResourcesPage/ui/MyResourcesPageSkeleton.skeleton.tsx
  src/pages/wiki/ResourcesPage/ui/ResourcesPage.tsx
  src/pages/wiki/ResourcesPage/ui/ResourcesPageSkeleton.skeleton.tsx
  src/shared/hooks/useQueryFilterParams.ts
  src/widgets/resources/MyResourcesFilters/index.ts
  src/widgets/resources/ResourcesFilters/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1488: refactor filter skills
  src/features/skill/filterSkills/index.ts
  src/features/skill/filterSkills/model/hooks/useGetSkillsFilterParams.ts
  src/features/skill/filterSkills/model/hooks/useSkillsFilters.ts
  src/features/skill/filterSkills/model/types/filters.ts
  src/features/skill/filterSkills/ui/SkillsFilters.tsx
  src/features/skill/skillFilter/index.ts
  src/features/skill/skillFilter/ui/SkillFilter.tsx
  src/pages/admin/SkillsPage/model/selectors/skillsPageSelectors.test.ts
  src/pages/admin/SkillsPage/model/selectors/skillsPageSelectors.ts
  src/pages/admin/SkillsPage/model/slices/skillsPageSlice.test.ts
  src/pages/admin/SkillsPage/model/slices/skillsPageSlice.ts
  src/pages/admin/SkillsPage/model/types/skillsPageTypes.ts
  src/pages/admin/SkillsPage/ui/SkillsPage/SkillsPage.tsx
  src/pages/admin/SkillsPage/ui/SkillsPagePagination/SkillsPagePagination.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1489: refactor filter companies
  src/entities/company/model/types/companyTypes.ts
  src/features/company/filterCompanies/index.ts
  src/features/company/filterCompanies/model/hooks/useCompaniesFilters.ts
  src/features/company/filterCompanies/model/hooks/useGetCompaniesFilterParams.ts
  src/features/company/filterCompanies/model/types/filters.ts
  src/pages/admin/CompaniesTablePage/model/selectors/companiesTablePageSelectors.ts
  src/pages/admin/CompaniesTablePage/model/slices/companiesTablePageSlice.ts
  src/pages/admin/CompaniesTablePage/model/types/companiesTablePageTypes.ts
  src/pages/admin/CompaniesTablePage/ui/CompaniesTablePage/CompaniesTablePage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1485: refactor filter collections (#977)
  src/features/collections/filterCollections/index.ts
  src/features/collections/filterCollections/model/hooks/useCollectionsFilters.ts
  src/features/collections/filterCollections/model/hooks/useGetCollectionsFilterParams.ts
  src/features/collections/filterCollections/model/types/types.ts
  src/features/collections/filterCollections/ui/CollectionsFilters/CollectionsFilters.module.css
  src/features/collections/filterCollections/ui/CollectionsFilters/CollectionsFilters.skeleton.tsx
  src/features/collections/filterCollections/ui/CollectionsFilters/CollectionsFilters.tsx
  src/pages/admin/CollectionsPage/model/selectors/collectionsPageSelectors.ts
  src/pages/admin/CollectionsPage/model/slices/collectionsPageSlice.ts
  src/pages/admin/CollectionsPage/model/types/collectionsPageTypes.ts
  src/pages/admin/CollectionsPage/ui/CollectionsPage/CollectionsPage.tsx
  src/pages/interview/CollectionsPage/ui/CollectionsPage/CollectionsPage.skeleton.tsx
  src/pages/interview/CollectionsPage/ui/CollectionsPage/CollectionsPage.tsx
  src/pages/landing/PublicCollectionsPage/ui/PublicCollectionsPage.skeleton.tsx
  src/pages/landing/PublicCollectionsPage/ui/PublicCollectionsPage.tsx
  src/shared/ui/Input/Input.module.css
  src/widgets/Collection/index.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1487: refactor filter resources (#978)
  src/entities/resource/index.ts
  src/entities/resource/model/types/resourceRequest.ts
  src/features/resources/filterResourceRequests/index.ts
  src/features/resources/filterResourceRequests/model/hooks/useGetResourceRequestsFilterParams.ts
  src/features/resources/filterResourceRequests/model/hooks/useResourceRequestsFilters.ts
  src/features/resources/filterResourceRequests/model/types/filters.ts
  src/features/resources/filterResourceRequests/ui/ResourceRequestsFilters/ResourceRequestsFilters.tsx
  src/features/resources/filterResources/index.ts
  src/features/resources/filterResources/model/hooks/useGetResourcesFilterParams.ts
  src/features/resources/filterResources/model/hooks/useResourcesFilters.ts
  src/features/resources/filterResources/model/types/filters.ts
  src/features/resources/filterResources/ui/ResourcesFilters/ResourcesFilters.skeleton.tsx
  src/features/resources/filterResources/ui/ResourcesFilters/ResourcesFilters.tsx
  src/pages/admin/ResourcesPage/model/selectors/resourcesAllTabSelectors.ts
  src/pages/admin/ResourcesPage/model/selectors/resourcesRequestsTabSelectors.ts
  src/pages/admin/ResourcesPage/model/slice/resourcesAllTabSlice.ts
  src/pages/admin/ResourcesPage/model/slice/resourcesRequestsTabSlice.ts
  src/pages/admin/ResourcesPage/model/types/resourcesAllTabTypes.ts
  src/pages/admin/ResourcesPage/model/types/resourcesRequestsTabTypes.ts
  src/pages/admin/ResourcesPage/ui/tabs/ResourcesAllTab/ResourcesAllTab/ResourcesAllTab.tsx
  src/pages/admin/ResourcesPage/ui/tabs/ResourcesRequestsTab/ResourcesRequestsTab/ResourcesRequestsTab.tsx
  src/pages/landing/PublicResourcesPage/ui/PublicResourcesPage.skeleton.tsx
  src/pages/landing/PublicResourcesPage/ui/PublicResourcesPage.tsx
  src/pages/wiki/MyResourcesPage/ui/MyResourcesPage.tsx
  src/pages/wiki/MyResourcesPage/ui/MyResourcesPageSkeleton.skeleton.tsx
  src/pages/wiki/ResourcesPage/ui/ResourcesPage.tsx
  src/pages/wiki/ResourcesPage/ui/ResourcesPageSkeleton.skeleton.tsx
  src/shared/hooks/useQueryFilterParams.ts
  src/widgets/resources/MyResourcesFilters/index.ts
  src/widgets/resources/ResourcesFilters/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1488: refactor filter skills (#979)
  src/features/skill/filterSkills/index.ts
  src/features/skill/filterSkills/model/hooks/useGetSkillsFilterParams.ts
  src/features/skill/filterSkills/model/hooks/useSkillsFilters.ts
  src/features/skill/filterSkills/model/types/filters.ts
  src/features/skill/filterSkills/ui/SkillsFilters.tsx
  src/features/skill/skillFilter/index.ts
  src/features/skill/skillFilter/ui/SkillFilter.tsx
  src/pages/admin/SkillsPage/model/selectors/skillsPageSelectors.test.ts
  src/pages/admin/SkillsPage/model/selectors/skillsPageSelectors.ts
  src/pages/admin/SkillsPage/model/slices/skillsPageSlice.test.ts
  src/pages/admin/SkillsPage/model/slices/skillsPageSlice.ts
  src/pages/admin/SkillsPage/model/types/skillsPageTypes.ts
  src/pages/admin/SkillsPage/ui/SkillsPage/SkillsPage.tsx
  src/pages/admin/SkillsPage/ui/SkillsPagePagination/SkillsPagePagination.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1489: refactor filter companies (#980)
  src/entities/company/model/types/companyTypes.ts
  src/features/company/filterCompanies/index.ts
  src/features/company/filterCompanies/model/hooks/useCompaniesFilters.ts
  src/features/company/filterCompanies/model/hooks/useGetCompaniesFilterParams.ts
  src/features/company/filterCompanies/model/types/filters.ts
  src/pages/admin/CompaniesTablePage/model/selectors/companiesTablePageSelectors.ts
  src/pages/admin/CompaniesTablePage/model/slices/companiesTablePageSlice.ts
  src/pages/admin/CompaniesTablePage/model/types/companiesTablePageTypes.ts
  src/pages/admin/CompaniesTablePage/ui/CompaniesTablePage/CompaniesTablePage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1097: add navigation buttons on question detail page (#894)
  public/locales/en/questions.json
  public/locales/ru/questions.json
  src/entities/question/index.ts
  src/entities/question/model/constants/question.ts
  src/features/question/favoriteQuestion/ui/FavoriteQuestionButton.tsx
  src/features/question/filterQuestions/index.ts
  src/features/question/navigateQuestion/index.ts
  src/features/question/navigateQuestion/model/helpers/calculatePageNavigation.ts
  src/features/question/navigateQuestion/model/helpers/normalizeFilters.ts
  src/features/question/navigateQuestion/model/hooks/useInitQuestionId.ts
  src/features/question/navigateQuestion/model/hooks/usePublicQuestionNavigation.ts
  src/features/question/navigateQuestion/model/hooks/useQuestionNavigation.ts
  src/features/question/navigateQuestion/model/hooks/useQuestionQueryNavigate.ts
  src/features/question/navigateQuestion/model/types/questionNavigationTypes.ts
  src/features/question/navigateQuestion/ui/QuestionNavigationButtons.skeleton.tsx
  src/features/question/navigateQuestion/ui/QuestionNavigationButtons.tsx
  src/pages/interview/QuestionPage/ui/QuestionPage.tsx
  src/pages/interview/QuestionsPage/ui/QuestionsPage/QuestionsPage.tsx
  src/pages/landing/PublicQuestionPage/ui/PublicQuestionPage.skeleton.tsx
  src/pages/landing/PublicQuestionPage/ui/PublicQuestionPage.tsx
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsPage/PublicQuestionsPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/question/QuestionActions/ui/QuestionActions.skeleton.tsx
  src/widgets/question/QuestionActions/ui/QuestionActions.tsx
  src/widgets/question/QuestionNavigation/index.ts
  src/widgets/question/QuestionNavigation/ui/QuestionNavigation.skeleton.tsx
  src/widgets/question/QuestionNavigation/ui/QuestionNavigation.tsx
  src/widgets/question/QuestionsList/ui/FullQuestionItem/FullQuestionItem.tsx
  src/widgets/question/QuestionsList/ui/FullQuestionsList/FullQuestionsList.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1107: fix imports
  src/features/collections/filterCollections/index.ts
  src/pages/interview/CollectionPage/ui/CollectionPage.tsx
  src/pages/landing/PublicCollectionPage/ui/PublicCollectionPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1107: delete helper duplicate
  src/features/question/navigateQuestion/model/helpers/calculatePageNavigation.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1461: add GurusBlock and update guru entities
  src/entities/guru/model/constants/gurus.ts
  src/entities/guru/model/types/guru.ts
  src/entities/guru/ui/GurusItem/GurusItem.module.css
  src/entities/guru/ui/GurusItem/GurusItem.tsx
  src/pages/landing/LearningPage/ui/LearningPage.tsx
  src/widgets/Landing/GurusBlock/index.ts
  src/widgets/Landing/GurusBlock/ui/GuruCard/GurusCard.tsx
  src/widgets/Landing/GurusBlock/ui/GurusBlock/GurusBlock.module.css
  src/widgets/Landing/GurusBlock/ui/GurusBlock/GurusBlock.skeleton.tsx
  src/widgets/Landing/GurusBlock/ui/GurusBlock/GurusBlock.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1461: add keys i18n for landing
  public/locales/en/landing.json
  public/locales/ru/landing.json
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1459: fix landing advantages styles
  src/shared/ui/AdvantagesList/AdvantagesList.module.css
Due: npm run lint:css:fix

YH-1461: add StatusChip, StatusChipSkeleton, GuruCardSkeleton and adjust styles
  src/entities/guru/ui/GurusItem/GurusItem.module.css
  src/entities/guru/ui/GurusItem/GurusItem.tsx
  src/widgets/Landing/GurusBlock/ui/GuruCard/GuruCard.skeleton.tsx
  src/widgets/Landing/GurusBlock/ui/GuruCard/GurusCard.module.css
  src/widgets/Landing/GurusBlock/ui/GurusBlock/GurusBlock.module.css
  src/widgets/Landing/GurusBlock/ui/GurusBlock/GurusBlock.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1107: add navigation buttons on collection detail page (#974)
  public/locales/en/collection.json
  public/locales/ru/collection.json
  src/entities/collection/index.ts
  src/entities/collection/model/constants/collection.ts
  src/entities/collection/model/lib/getCollectionRoute.ts
  src/entities/collection/ui/CollectionPreview/CollectionPreview.tsx
  src/features/collections/filterCollections/index.ts
  src/features/collections/navigateCollection/index.ts
  src/features/collections/navigateCollection/model/hooks/useCollectionNavigation.ts
  src/features/collections/navigateCollection/model/hooks/useCollectionQueryNavigate.ts
  src/features/collections/navigateCollection/model/hooks/useInitCollectionId.ts
  src/features/collections/navigateCollection/model/hooks/usePublicCollectionNavigation.ts
  src/features/collections/navigateCollection/model/types/collectionNavigationTypes.ts
  src/features/collections/navigateCollection/ui/CollectionNavigationButtons.skeleton.tsx
  src/features/collections/navigateCollection/ui/CollectionNavigationButtons.tsx
  src/features/question/favoriteQuestion/ui/FavoriteQuestionButton.tsx
  src/features/question/navigateQuestion/model/hooks/usePublicQuestionNavigation.ts
  src/features/question/navigateQuestion/model/hooks/useQuestionNavigation.ts
  src/features/question/navigateQuestion/ui/QuestionNavigationButtons.skeleton.tsx
  src/pages/interview/CollectionPage/ui/CollectionPage.skeleton.tsx
  src/pages/interview/CollectionPage/ui/CollectionPage.tsx
  src/pages/landing/PublicCollectionPage/ui/PublicCollectionPage.skeleton.tsx
  src/pages/landing/PublicCollectionPage/ui/PublicCollectionPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/helpers/calculatePageNavigation/calculatePageNavigation.ts
  src/shared/helpers/calculatePageNavigation/index.ts
  src/widgets/Collection/index.ts
  src/widgets/Collection/ui/CollectionNavigation/CollectionNavigation.skeleton.tsx
  src/widgets/Collection/ui/CollectionNavigation/CollectionNavigation.tsx
  src/widgets/Collection/ui/CollectionsContent/CollectionsContent.tsx
  src/widgets/Collection/ui/CollectionsList/CollectionsList.tsx
  src/widgets/question/QuestionActions/ui/QuestionActions.tsx
Due: npm run prettier, npm run lint:ts:fix

Feature/YH-1461 (#970)
  public/locales/en/landing.json
  public/locales/ru/landing.json
  src/entities/guru/model/constants/gurus.ts
  src/entities/guru/model/types/guru.ts
  src/entities/guru/ui/GurusItem/GurusItem.module.css
  src/entities/guru/ui/GurusItem/GurusItem.tsx
  src/pages/landing/LearningPage/ui/LearningPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/AdvantagesList/AdvantagesList.module.css
  src/widgets/Landing/GurusBlock/index.ts
  src/widgets/Landing/GurusBlock/ui/GuruCard/GuruCard.skeleton.tsx
  src/widgets/Landing/GurusBlock/ui/GuruCard/GurusCard.module.css
  src/widgets/Landing/GurusBlock/ui/GuruCard/GurusCard.tsx
  src/widgets/Landing/GurusBlock/ui/GurusBlock/GurusBlock.module.css
  src/widgets/Landing/GurusBlock/ui/GurusBlock/GurusBlock.skeleton.tsx
  src/widgets/Landing/GurusBlock/ui/GurusBlock/GurusBlock.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1460: added Flex component and changed interface
  src/pages/landing/LearningPage/ui/LearningPage.tsx
  src/shared/ui/Flex/Flex.module.css
  src/shared/ui/Flex/Flex.tsx
  src/widgets/Landing/AdvantagesBlock/ui/AdvantagesBlock.tsx
  src/widgets/Landing/MentorsBlock/ui/MentorCard/MentorCard.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1465: revent content overflow from container block
  src/shared/ui/Card/Card.module.css
Due: npm run lint:css:fix

YH-1463: change AvosBanner design, add AvosListen and AvosPromo sections
  public/locales/en/landing.json
  public/locales/ru/landing.json
  src/pages/landing/AvosPage/ui/AvosPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Chip/Chip.tsx
  src/shared/ui/Chip/types.ts
  src/widgets/Landing/Avos/index.ts
  src/widgets/Landing/Avos/model/assets/avosAndYeahubLogo.png
  src/widgets/Landing/Avos/model/assets/desktopScreenshot.jpg
  src/widgets/Landing/Avos/model/assets/headphones.jpg
  src/widgets/Landing/Avos/model/assets/tabletScreenshot.jpg
  src/widgets/Landing/Avos/ui/AvosBanner/AvosBanner.module.css
  src/widgets/Landing/Avos/ui/AvosBanner/AvosBanner.tsx
  src/widgets/Landing/Avos/ui/AvosListen/AvosListen.module.css
  src/widgets/Landing/Avos/ui/AvosListen/AvosListen.tsx
  src/widgets/Landing/Avos/ui/AvosPromo/AvosPromo.module.css
  src/widgets/Landing/Avos/ui/AvosPromo/AvosPromo.tsx
  src/widgets/Landing/AvosBanner/index.ts
  src/widgets/Landing/AvosBanner/model/avosBannerLogo.png
  src/widgets/Landing/AvosBanner/ui/AvosBanner.module.css
  src/widgets/Landing/AvosBanner/ui/AvosBanner.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1463: add links for buttons and alts for imgs
  src/widgets/Landing/Avos/ui/AvosListen/AvosListen.tsx
  src/widgets/Landing/Avos/ui/AvosPromo/AvosPromo.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1452: fix comments
  src/app/providers/router/config/routeConfig.tsx
  src/shared/config/router/routes.ts
Due: npm run prettier, npm run lint:ts:fix

добавлен баннер на страниц у колÐы списка ÑколлекцийÐ, также добавлненыа кнопка нперехода смотретьн на
  public/locales/en/collection.json
  public/locales/ru/collection.json
  src/features/collections/trainCollection/index.ts
  src/pages/interview/CollectionPage/ui/CollectionPage.tsx
  src/pages/interview/CollectionsPage/ui/CollectionsPage/CollectionsPage.module.css
  src/pages/interview/CollectionsPage/ui/CollectionsPage/CollectionsPage.tsx
  src/pages/landing/LandingPage/ui/LandingPage.module.css
  src/pages/landing/LearningPage/ui/LearningPage.module.css
  src/pages/landing/PublicCollectionPage/ui/PublicCollectionPage.tsx
  src/pages/landing/PublicCollectionsPage/ui/PublicCollectionsPage.tsx
  src/shared/assets/icons/watch.svg
  src/shared/assets/images/ozonIcon.jpg
  src/shared/assets/images/sberIcon.jpg
  src/shared/assets/images/tBankIcon.jpg
  src/shared/assets/images/vkIcon.jpg
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Icon/types.ts
  src/widgets/Collection/index.ts
  src/widgets/Collection/ui/CollectionInterview/InterviewRecording.module.css
  src/widgets/Collection/ui/CollectionInterview/InterviewRecording.tsx
  src/widgets/interview/PreviewCollectionsList/ui/PreviewCollectionsList/PreviewCollectionsList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1460: add link to header
  public/locales/en/landing.json
  public/locales/ru/landing.json
  src/entities/guru/model/constants/gurus.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/Landing/Header/model/constants/headerConstants.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1375: Fixed comments
  src/entities/question/ui/QuestionGradeList/QuestionGradeList.tsx
  src/widgets/Collection/ui/CollectionBody/CollectionBody.tsx
  src/widgets/analytics/PopularQuestions/ui/PopularQuestions.tsx
  src/widgets/question/QuestionsList/ui/PreviewQuestionsList/PreviewQuestionsList.skeleton.tsx
  src/widgets/question/QuestionsList/ui/PreviewQuestionsList/PreviewQuestionsList.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1460: added mentors block (#973)
  public/locales/en/landing.json
  public/locales/ru/landing.json
  src/entities/guru/index.ts
  src/entities/guru/model/constants/gurus.ts
  src/entities/guru/model/types/guru.ts
  src/entities/guru/ui/GurusItem/GurusItem.module.css
  src/entities/guru/ui/GurusItem/GurusItem.tsx
  src/pages/landing/LearningPage/ui/LearningPage.tsx
  src/shared/assets/icons/tickWithBackground.svg
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Flex/Flex.module.css
  src/shared/ui/Flex/Flex.tsx
  src/shared/ui/Icon/icons.ts
  src/shared/ui/Icon/types.ts
  src/widgets/Landing/AdvantagesBlock/ui/AdvantagesBlock.tsx
  src/widgets/Landing/Header/model/constants/headerConstants.ts
  src/widgets/Landing/MentorsBlock/index.ts
  src/widgets/Landing/MentorsBlock/ui/MentorCard/MentorCard.module.css
  src/widgets/Landing/MentorsBlock/ui/MentorCard/MentorCard.tsx
  src/widgets/Landing/MentorsBlock/ui/MentorsBlock/MentorsBlock.module.css
  src/widgets/Landing/MentorsBlock/ui/MentorsBlock/MentorsBlock.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1452: add page Progress Specializations (#969)
  public/locales/en/analytics.json
  public/locales/en/specialization.json
  public/locales/en/translation.json
  public/locales/ru/analytics.json
  public/locales/ru/specialization.json
  public/locales/ru/translation.json
  src/app/providers/router/config/routeConfig.tsx
  src/pages/analytics/ProgressSpecializationsPage/index.ts
  src/pages/analytics/ProgressSpecializationsPage/ui/ProgressSpecializationsPage.module.css
  src/pages/analytics/ProgressSpecializationsPage/ui/ProgressSpecializationsPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
  src/shared/ui/Dropdown/Dropdown/Dropdown.module.css
  src/shared/ui/Table/Table.tsx
  src/shared/ui/TableMobile/TableMobile.module.css
  src/shared/ui/TableMobile/TableMobile.tsx
  src/shared/ui/TableMobile/index.ts
  src/widgets/analytics/SpecializationsProgress/ui/SpecializationsProgressPanel/SpecializationsProgressPanel.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1465: revent content overflow from container block (#981)
  src/shared/ui/Card/Card.module.css
Due: npm run lint:css:fix

YH-1456: add i18n keys
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1456: add LoadErrorStub component
  src/pages/wiki/MyResourcesPage/ui/MyResourcesPage.tsx
  src/shared/assets/images/LoadError.png
  src/shared/ui/LoadErrorStub/LoadErrorStub.module.css
  src/shared/ui/LoadErrorStub/LoadErrorStub.tsx
  src/shared/ui/LoadErrorStub/index.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1456: fix i18n keys
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1456: fix Stub component
  src/pages/wiki/MyResourcesPage/ui/MyResourcesPage.tsx
  src/shared/ui/EmptyStub/EmptyStub.module.css
  src/shared/ui/EmptyStub/EmptyStub.tsx
  src/shared/ui/EmptyStub/index.ts
  src/shared/ui/LoadErrorStub/LoadErrorStub.module.css
  src/shared/ui/LoadErrorStub/LoadErrorStub.tsx
  src/shared/ui/LoadErrorStub/index.ts
  src/shared/ui/Stub/Stub.module.css
  src/shared/ui/Stub/Stub.tsx
  src/shared/ui/Stub/index.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

feature/YH-1467 добавлен баннер на страницу списка коллекций Добавлена кнопка перехода на собеседования
  src/features/collections/watchCollection/WatchCollectionButton.tsx
  src/features/collections/watchCollection/index.ts
  src/pages/interview/CollectionPage/ui/CollectionPage.tsx
  src/pages/interview/CollectionsPage/ui/CollectionsPage/CollectionsPage.tsx
  src/pages/landing/PublicCollectionPage/ui/PublicCollectionPage.tsx
  src/pages/landing/PublicCollectionsPage/ui/PublicCollectionsPage.tsx
  src/shared/assets/icons/watch.svg
  src/shared/assets/images/collections/TbankIcon.jpg
  src/shared/assets/images/collections/ozonIcon.jpg
  src/shared/assets/images/collections/sberIcon.jpg
  src/shared/assets/images/collections/vkIcon.jpg
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Icon/icons.ts
  src/shared/ui/Icon/types.ts
  src/widgets/Collection/index.ts
  src/widgets/Collection/ui/CollectionInterview/InterviewRecordings.module.css
  src/widgets/Collection/ui/CollectionInterview/InterviewRecordings.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1523: fix GurusItem layout
  src/entities/guru/ui/GurusItem/GurusItem.tsx
  src/entities/guru/ui/GurusList/GurusList.tsx
  src/widgets/Landing/GurusBlock/ui/GuruCard/GurusCard.tsx
  src/widgets/Landing/MentorsBlock/ui/MentorCard/MentorCard.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1475: add PHP Guru
  src/entities/guru/model/constants/gurus.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1420: add Telegram binding error handling
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/features/authentication/telegramLink/api/telegramLinkApi.ts
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1475: add PHP Guru (#989)
  src/entities/guru/model/constants/gurus.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1456: update stub
  src/pages/wiki/MyResourcesPage/ui/MyResourcesPage.tsx
Due: npm run prettier, npm run lint:ts:fix

Feature/YH-1456 (#984)
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/pages/wiki/MyResourcesPage/ui/MyResourcesPage.tsx
  src/shared/assets/images/LoadError.png
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/EmptyStub/EmptyStub.module.css
  src/shared/ui/EmptyStub/EmptyStub.tsx
  src/shared/ui/EmptyStub/index.ts
  src/shared/ui/Stub/Stub.module.css
  src/shared/ui/Stub/Stub.tsx
  src/shared/ui/Stub/index.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix
