Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-845: fix transition to interviews page
  src/widgets/interview/PassedQuizzesList/ui/InterviewParameters/InterviewParameters.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-828: now menu items in popover have full width
  src/features/collections/deleteCollection/ui/deleteCollectionButton/DeleteCollectionButton.tsx
  src/features/question/deleteQuestion/ui/DeleteQuestionButton/DeleteQuestionButton.tsx
  src/features/skill/deleteSkill/ui/DeleteSkillButton/DeleteSkillButton.tsx
  src/features/specialization/deleteSpecialization/ui/DeleteSpecializationButton/DeleteSpecializationButton.tsx
  src/shared/ui/Popover/ui/PopoverMenu/PopoverMenu.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-828: now menu items in popover have full width (#542)
  src/features/collections/deleteCollection/ui/deleteCollectionButton/DeleteCollectionButton.tsx
  src/features/question/deleteQuestion/ui/DeleteQuestionButton/DeleteQuestionButton.tsx
  src/features/skill/deleteSkill/ui/DeleteSkillButton/DeleteSkillButton.tsx
  src/features/specialization/deleteSpecialization/ui/DeleteSpecializationButton/DeleteSpecializationButton.tsx
  src/shared/ui/Popover/ui/PopoverMenu/PopoverMenu.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-847: Add modal warning about interrupt quiz (#539)
  public/locales/en/interviewQuiz.json
  public/locales/ru/interviewQuiz.json
  src/pages/interview/InterviewQuizPage/ui/InterviewQuizPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-845: fix title in quiz
  src/widgets/interview/PassedQuizzesList/ui/FullPassedQuizzesItem/FullPassedQuizzesItem.tsx
Due: npm run prettier, npm run lint:ts:fix

Fix/yh 845 (#541)
  src/widgets/interview/PassedQuizzesList/ui/FullPassedQuizzesItem/FullPassedQuizzesItem.tsx
  src/widgets/interview/PassedQuizzesList/ui/InterviewParameters/InterviewParameters.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-851: add buttons delete and edit
  src/pages/admin/CollectionPage/ui/CollectionPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-852: Add tooltip to learn and reset questions button
  public/locales/en/questions.json
  public/locales/ru/questions.json
  src/app/styles/App.css
  src/features/quiz/learnQuestion/ui/LearnQuestionButton.module.css
  src/features/quiz/learnQuestion/ui/LearnQuestionButton.tsx
  src/features/quiz/resetQuestionStudyProgress/ui/ResetQuestionStudyProgressButton.module.css
  src/features/quiz/resetQuestionStudyProgress/ui/ResetQuestionStudyProgressButton.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Tooltip/ui/Tooltip.tsx
  src/widgets/question/QuestionActions/ui/QuestionActions.tsx
  src/widgets/question/QuestionsList/ui/FullQuestionItem/FullQuestionItem.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-803: cover button 'train again' in tooltip and disabled by active quiz
  public/locales/en/collection.json
  public/locales/ru/collection.json
  src/features/collections/trainCollection/ui/TrainCollectionButton.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-820: Added page interviewPublicQuizPage
  src/app/providers/router/config/routeConfig.tsx
  src/entities/quiz/api/quizApi.ts
  src/entities/quiz/model/constants/quizConstants.ts
  src/entities/quiz/model/types/quiz.ts
  src/pages/landing/CreatePublicQuizPage/ui/CreatePublicQuizPage.tsx
  src/pages/landing/InterviewPublicQuizPage/index.ts
  src/pages/landing/InterviewPublicQuizPage/ui/InterviewPublicQuizPage.lazy.ts
  src/pages/landing/InterviewPublicQuizPage/ui/InterviewPublicQuizPage.module.css
  src/pages/landing/InterviewPublicQuizPage/ui/InterviewPublicQuizPage.skeleton.tsx
  src/pages/landing/InterviewPublicQuizPage/ui/InterviewPublicQuizPage.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-803: cover button 'train again' in tooltip and disabled by active quiz (#545)
  public/locales/en/collection.json
  public/locales/ru/collection.json
  src/features/collections/trainCollection/ui/TrainCollectionButton.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-856: fix double wrap on active Chip
  src/shared/ui/Chip/ui/Chip.module.css
Due: npm run lint:css:fix

YH-820: Fixed comments
  src/entities/quiz/api/quizApi.ts
  src/entities/quiz/model/constants/quizConstants.ts
  src/entities/quiz/model/types/quiz.ts
  src/pages/landing/CreatePublicQuizPage/ui/CreatePublicQuizPage.tsx
  src/pages/landing/InterviewPublicQuizPage/ui/InterviewPublicQuizPage.tsx
Due: npm run prettier, npm run lint:ts:fix

Feature/yh 820 (#546)
  src/app/providers/router/config/routeConfig.tsx
  src/entities/quiz/api/quizApi.ts
  src/entities/quiz/model/types/quiz.ts
  src/pages/landing/CreatePublicQuizPage/ui/CreatePublicQuizPage.tsx
  src/pages/landing/InterviewPublicQuizPage/index.ts
  src/pages/landing/InterviewPublicQuizPage/ui/InterviewPublicQuizPage.lazy.ts
  src/pages/landing/InterviewPublicQuizPage/ui/InterviewPublicQuizPage.module.css
  src/pages/landing/InterviewPublicQuizPage/ui/InterviewPublicQuizPage.skeleton.tsx
  src/pages/landing/InterviewPublicQuizPage/ui/InterviewPublicQuizPage.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-654: Added tests to Text component
  config/jest/jest.config.ts
  src/shared/ui/Text/ui/Text.test.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-826: fix aligned titles to the left
  src/pages/interview/InterviewPage/ui/InterviewPage.tsx
  src/shared/ui/AdditionalStatInfoGauge/ui/AdditionalStatInfoGauge/AdditionalStatInfoGauge.tsx
  src/widgets/interview/InterviewPreparation/ui/InterviewPreparation/InterviewPreparation.tsx
  src/widgets/interview/PassedQuizzesList/ui/PreviewPassedQuizzesList/PreviewPassedQuizzesList.tsx
  src/widgets/interview/QuestionsStatistic/ui/FullQuestionsStatistic/FullQuestionsStatistic.tsx
  src/widgets/interview/QuizAdditionalInfo/ui/QuizAdditionalInfo/QuizAdditionalInfo.tsx
  src/widgets/question/QuestionsList/ui/PreviewQuestionsList/PreviewQuestionsList.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-821: FIX: deleted mode=RANDOM; changed page name from InterviewQuizPage with PublicQuizPage
  src/app/providers/router/config/routeConfig.tsx
  src/entities/quiz/api/quizApi.ts
  src/pages/landing/CreatePublicQuizPage/model/hooks/useQueryFilter.ts
  src/pages/landing/CreatePublicQuizPage/ui/CreatePublicQuizPage.tsx
  src/pages/landing/InterviewPublicQuizPage/index.ts
  src/pages/landing/InterviewPublicQuizPage/ui/InterviewPublicQuizPage.lazy.ts
  src/pages/landing/PublicQuizPage/index.ts
  src/pages/landing/PublicQuizPage/ui/PublicQuizPage.lazy.ts
  src/pages/landing/PublicQuizPage/ui/PublicQuizPage.module.css
  src/pages/landing/PublicQuizPage/ui/PublicQuizPage.skeleton.tsx
  src/pages/landing/PublicQuizPage/ui/PublicQuizPage.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-859: add tests for Button
  config/jest/jest.config.ts
  src/shared/ui/Button/ui/Button.test.tsx
  src/shared/ui/Button/ui/Button.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-859: remove test onClick
  src/shared/ui/Button/ui/Button.test.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-835: add Switch UI component in shared
  src/shared/ui/Switch/index.ts
  src/shared/ui/Switch/model/constants.ts
  src/shared/ui/Switch/model/types.ts
  src/shared/ui/Switch/ui/Switch.module.css
  src/shared/ui/Switch/ui/Switch.stories.tsx
  src/shared/ui/Switch/ui/Switch.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-832: moved Range from UI kit
  src/entities/question/ui/QuestionForm/QuestionForm.tsx
  src/shared/ui/Range/index.ts
  src/shared/ui/Range/model/types.ts
  src/shared/ui/Range/ui/Range.module.css
  src/shared/ui/Range/ui/Range.stories.tsx
  src/shared/ui/Range/ui/Range.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-832: Range decomposition and context addition
  src/shared/ui/Range/index.ts
  src/shared/ui/Range/lib/context/rangeContext.ts
  src/shared/ui/Range/lib/context/useRangeContext.ts
  src/shared/ui/Range/ui/Range.tsx
  src/shared/ui/Range/ui/Range/Range.module.css
  src/shared/ui/Range/ui/Range/Range.stories.tsx
  src/shared/ui/Range/ui/Range/Range.tsx
  src/shared/ui/Range/ui/RangeLabel/RangeLabel.module.css
  src/shared/ui/Range/ui/RangeLabel/RangeLabel.tsx
  src/shared/ui/Range/ui/RangeSteps/RangeSteps.module.css
  src/shared/ui/Range/ui/RangeSteps/RangeSteps.tsx
  src/shared/ui/Range/ui/RangeUnits/RangeUnits.module.css
  src/shared/ui/Range/ui/RangeUnits/RangeUnits.tsx
  src/shared/ui/Range/ui/RangeValue/RangeValue.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-880: changes collections preview card and filters
  public/locales/en/collection.json
  public/locales/ru/collection.json
  src/entities/collection/ui/CollectionPreview/CollectionPreview.module.css
  src/entities/collection/ui/CollectionPreview/CollectionPreview.tsx
  src/entities/collection/utils/helpers/getCorrectTitleTag.ts
  src/shared/ui/CollectionParam/ui/CollectionParam.tsx
  src/widgets/Collection/ui/AdditionalInfo/AdditionalInfo.module.css
  src/widgets/Collection/ui/AdditionalInfo/AdditionalInfo.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-856: fix double wrap on active Chip (#549)
  src/shared/ui/Chip/ui/Chip.module.css
Due: npm run lint:css:fix

YH-852: Add tooltip to learn and reset questions button (#544)
  public/locales/en/questions.json
  public/locales/ru/questions.json
  src/app/styles/App.css
  src/features/quiz/learnQuestion/ui/LearnQuestionButton.module.css
  src/features/quiz/learnQuestion/ui/LearnQuestionButton.tsx
  src/features/quiz/resetQuestionStudyProgress/ui/ResetQuestionStudyProgressButton.module.css
  src/features/quiz/resetQuestionStudyProgress/ui/ResetQuestionStudyProgressButton.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Tooltip/ui/Tooltip.tsx
  src/widgets/question/QuestionActions/ui/QuestionActions.tsx
  src/widgets/question/QuestionsList/ui/FullQuestionItem/FullQuestionItem.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-861: Added Tests for card
  src/shared/ui/Card/ui/Card.test.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-882: moved Modal component to a portal
  src/shared/ui/Modal/ui/Modal.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-881: make sidebar over content on resolutions <1440px
  src/app/layouts/MainLayout/ui/MainLayout.tsx
  src/widgets/Sidebar/ui/Sidebar/Sidebar.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-880: resolve comments
  public/locales/en/collection.json
  public/locales/ru/collection.json
  src/entities/collection/ui/CollectionPreview/CollectionPreview.module.css
  src/entities/collection/ui/CollectionPreview/CollectionPreview.tsx
  src/entities/collection/utils/helpers/getCorrectTitleTag.ts
  src/shared/assets/icons/collectionsQuestion.svg
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/ImageWithWrapper/ui/ImageWithWrapper.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-892: moved index.tsx
  .editorconfig
  package.json
  src/app/index.tsx
  webpack.config.ts
Due: npm run prettier, npm run lint:ts:fix

YH-883: Fixed Popover
  src/shared/ui/Popover/ui/PopoverMenu/PopoverMenu.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-857: Add tests for AppLogo component
  config/jest/jest.config.ts
  src/shared/ui/AppLogo/AppLogo.test.tsx
  src/shared/ui/AppLogo/AppLogo.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-835: add Switch UI component in shared
  src/shared/ui/Switch/ui/Switch.module.css
  src/shared/ui/Switch/ui/Switch.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-892: moved index.tsx (#559)
  .editorconfig
  package.json
  src/app/index.tsx
  webpack.config.ts
Due: npm run prettier, npm run lint:ts:fix

YH-832: moved Range from UI kit (#530)
  src/entities/question/ui/QuestionForm/QuestionForm.tsx
  src/shared/ui/Range/index.ts
  src/shared/ui/Range/lib/context/rangeContext.ts
  src/shared/ui/Range/lib/context/useRangeContext.ts
  src/shared/ui/Range/model/types.ts
  src/shared/ui/Range/ui/Range/Range.module.css
  src/shared/ui/Range/ui/Range/Range.stories.tsx
  src/shared/ui/Range/ui/Range/Range.tsx
  src/shared/ui/Range/ui/RangeLabel/RangeLabel.module.css
  src/shared/ui/Range/ui/RangeLabel/RangeLabel.tsx
  src/shared/ui/Range/ui/RangeSteps/RangeSteps.module.css
  src/shared/ui/Range/ui/RangeSteps/RangeSteps.tsx
  src/shared/ui/Range/ui/RangeUnits/RangeUnits.module.css
  src/shared/ui/Range/ui/RangeUnits/RangeUnits.tsx
  src/shared/ui/Range/ui/RangeValue/RangeValue.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-844: FIX Tooltips in the platform when creating quiz (#537)
  src/entities/question/ui/ChooseQuestionComplexity/ChooseQuestionComplexity.tsx
  src/entities/question/ui/ChooseQuestionCount/ChooseQuestionCount.tsx
  src/entities/quiz/ui/QuizQuestionMode/QuizQuestionMode.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-851: add buttons delete and edit (#543)
  src/pages/admin/CollectionPage/ui/CollectionPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-821: PublicQuizResultPage Added
  public/locales/en/interviewQuizResult.json
  public/locales/ru/interviewQuizResult.json
  src/app/providers/router/config/routeConfig.tsx
  src/pages/landing/PublicQuizPage/ui/PublicQuizPage.tsx
  src/pages/landing/PublicQuizResultPage/index.ts
  src/pages/landing/PublicQuizResultPage/ui/PublicQuizResultPage.lazy.ts
  src/pages/landing/PublicQuizResultPage/ui/PublicQuizResultPage.module.css
  src/pages/landing/PublicQuizResultPage/ui/PublicQuizResultPage.skeleton.tsx
  src/pages/landing/PublicQuizResultPage/ui/PublicQuizResultPage.tsx
  src/shared/assets/icons/ClipboardText.svg
  src/shared/assets/icons/NotePencil.svg
  src/shared/assets/icons/TrendUp.svg
  src/shared/assets/icons/UserSwitch.svg
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
  src/widgets/Landing/JoinToCommunity/index.ts
  src/widgets/Landing/JoinToCommunity/ui/JoinToCommunity.module.css
  src/widgets/Landing/JoinToCommunity/ui/JoinToCommunity.skeleton.tsx
  src/widgets/Landing/JoinToCommunity/ui/JoinToCommunity.tsx
  src/widgets/Main/SubscribeToMedia/index.ts
  src/widgets/Main/SubscribeToMedia/ui/SubscribeToMedia.module.css
  src/widgets/Main/SubscribeToMedia/ui/SubscribeToMedia.skeleton.tsx
  src/widgets/Main/SubscribeToMedia/ui/SubscribeToMedia.tsx
  src/widgets/interview/PassedQuestionsList/ui/PassedQuestionsList/PassedQuestionsList.module.css
  src/widgets/interview/PassedQuestionsList/ui/PassedQuestionsList/PassedQuestionsList.skeleton.tsx
  src/widgets/interview/PassedQuestionsList/ui/PassedQuestionsList/PassedQuestionsList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-810: added mock request for resetting question progress
  src/app/index.tsx
  src/app/msw/handlers.ts
  src/features/quiz/resetQuestionStudyProgress/api/__mocks__/index.ts
  src/features/quiz/resetQuestionStudyProgress/api/__mocks__/resetMockQuestionStudyProgressApi.ts
  src/features/quiz/resetQuestionStudyProgress/index.ts
Due: npm run prettier, npm run lint:ts:fix

Path conditions:
  npm run prettier: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:ts:fix: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:css:fix: any of: *.css
