Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

Feature/yh 633 (#400)
  public/locales/en/user.json
  public/locales/ru/user.json
  src/entities/user/api/userApi.ts
  src/entities/user/index.ts
  src/entities/user/model/constants/userConstants.ts
  src/entities/user/model/types/user.ts
  src/entities/user/ui/ChooseUsersRole/ChooseUsersRole.tsx
  src/entities/user/ui/VerifiedEmail/VerifiedEmail.module.css
  src/entities/user/ui/VerifiedEmail/VerifiedEmail.tsx
  src/features/user/UsersFilterSet/hooks/useUserFilter.ts
  src/features/user/UsersFilterSet/index.tsx
  src/features/user/UsersFilterSet/ui/UsersFilterSet.tsx
  src/pages/admin/UserTablePage/ui/UserTablePage/UsersTablePage.tsx
  src/shared/config/api/apiTags.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/helpers/convertRoleNameToEnumKey/convertRoleNameToEnumKey.ts
  src/shared/helpers/convertRoleNameToEnumKey/index.ts
  src/widgets/UsersTable/ui/UsersTable.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-533: add select tariff tab
  public/locales/en/profile.json
  public/locales/en/subscription.json
  public/locales/ru/profile.json
  public/locales/ru/subscription.json
  src/app/styles/variables/pallete.css
  src/features/profile/changePassword/ui/ChangePassword.tsx
  src/features/subscription/UnsubscribeButton/index.ts
  src/features/subscription/UnsubscribeButton/ui/UnsubscribeButton.tsx
  src/pages/profile/SettingsProfilePage/ui/SettingsProfilePage.tsx
  src/shared/assets/icons/ArrowDownIcon.svg
  src/shared/assets/icons/SealCheck.svg
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/constants/dateFormats.ts
  src/shared/helpers/formatDate/formatDate.ts
  src/shared/ui/ProgressBar/ui/ProgressBar.module.css
  src/shared/ui/ProgressBar/ui/ProgressBar.tsx
  src/widgets/Profile/index.ts
  src/widgets/Profile/ui/EmailConfirmationTab/ui/EmailConfirmationTab.module.css
  src/widgets/Profile/ui/EmailConfirmationTab/ui/EmailConfirmationTab.tsx
  src/widgets/Profile/ui/SubscriptionTab/index.ts
  src/widgets/Profile/ui/SubscriptionTab/types/types.ts
  src/widgets/Profile/ui/SubscriptionTab/ui/PayHistoryItem/PayHistoryItem.module.css
  src/widgets/Profile/ui/SubscriptionTab/ui/PayHistoryItem/PayHistoryItem.tsx
  src/widgets/Profile/ui/SubscriptionTab/ui/PayHistoryList/PayHistoryList.module.css
  src/widgets/Profile/ui/SubscriptionTab/ui/PayHistoryList/PayHistoryList.tsx
  src/widgets/Profile/ui/SubscriptionTab/ui/SubscriptionPagination/SubscriptionPagination.module.css
  src/widgets/Profile/ui/SubscriptionTab/ui/SubscriptionPagination/SubscriptionPagination.tsx
  src/widgets/Profile/ui/SubscriptionTab/ui/SubscriptionTab/SubscriptionTab.module.css
  src/widgets/Profile/ui/SubscriptionTab/ui/SubscriptionTab/SubscriptionTab.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-533: add select tariff tab (#407)
  public/locales/en/profile.json
  public/locales/en/subscription.json
  public/locales/ru/profile.json
  public/locales/ru/subscription.json
  src/app/styles/variables/pallete.css
  src/features/profile/changePassword/ui/ChangePassword.tsx
  src/features/subscription/UnsubscribeButton/index.ts
  src/features/subscription/UnsubscribeButton/ui/UnsubscribeButton.tsx
  src/pages/profile/SettingsProfilePage/ui/SettingsProfilePage.tsx
  src/shared/assets/icons/ArrowDownIcon.svg
  src/shared/assets/icons/SealCheck.svg
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/constants/dateFormats.ts
  src/shared/helpers/formatDate/formatDate.ts
  src/shared/ui/ProgressBar/ui/ProgressBar.module.css
  src/shared/ui/ProgressBar/ui/ProgressBar.tsx
  src/widgets/Profile/index.ts
  src/widgets/Profile/ui/EmailConfirmationTab/ui/EmailConfirmationTab.module.css
  src/widgets/Profile/ui/EmailConfirmationTab/ui/EmailConfirmationTab.tsx
  src/widgets/Profile/ui/SubscriptionTab/index.ts
  src/widgets/Profile/ui/SubscriptionTab/types/types.ts
  src/widgets/Profile/ui/SubscriptionTab/ui/PayHistoryItem/PayHistoryItem.module.css
  src/widgets/Profile/ui/SubscriptionTab/ui/PayHistoryItem/PayHistoryItem.tsx
  src/widgets/Profile/ui/SubscriptionTab/ui/PayHistoryList/PayHistoryList.module.css
  src/widgets/Profile/ui/SubscriptionTab/ui/PayHistoryList/PayHistoryList.tsx
  src/widgets/Profile/ui/SubscriptionTab/ui/SubscriptionPagination/SubscriptionPagination.module.css
  src/widgets/Profile/ui/SubscriptionTab/ui/SubscriptionPagination/SubscriptionPagination.tsx
  src/widgets/Profile/ui/SubscriptionTab/ui/SubscriptionTab/SubscriptionTab.module.css
  src/widgets/Profile/ui/SubscriptionTab/ui/SubscriptionTab/SubscriptionTab.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-694: Add CollectionPage
  public/locales/ru/collection.json
  public/locales/ru/questions.json
  src/app/providers/router/config/routeConfig.tsx
  src/entities/collection/api/__mock__/data/collectionsMock.ts
  src/entities/collection/api/collectionApi.ts
  src/entities/collection/index.ts
  src/entities/collection/model/constants/collection.ts
  src/entities/collection/model/types/collection.ts
  src/entities/collection/ui/CollectionForm/CollectionForm.module.css
  src/pages/admin/CollectionPage/index.ts
  src/pages/admin/CollectionPage/ui/CollectionPage.module.css
  src/pages/admin/CollectionPage/ui/CollectionPage.skeleton.tsx
  src/pages/admin/CollectionPage/ui/CollectionPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
  src/shared/ui/CollectionParam/index.ts
  src/shared/ui/CollectionParam/ui/CollectionParam.module.css
  src/shared/ui/CollectionParam/ui/CollectionParam.skeleton.tsx
  src/shared/ui/CollectionParam/ui/CollectionParam.tsx
  src/shared/ui/Table/ui/Table.tsx
  src/widgets/Collection/index.ts
  src/widgets/Collection/ui/AdditionalInfo/AdditionalInfo.module.css
  src/widgets/Collection/ui/AdditionalInfo/AdditionalInfo.tsx
  src/widgets/Collection/ui/CollectionBody/CollectionBody.module.css
  src/widgets/Collection/ui/CollectionBody/CollectionBody.tsx
  src/widgets/Collection/ui/CollectionHeader/CollectionHeader.module.css
  src/widgets/Collection/ui/CollectionHeader/CollectionHeader.tsx
  src/widgets/CollectionsTable/ui/CollectionsTable.tsx
  src/widgets/interview/QuestionsList/index.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-694: removing unnecessary functionality
  public/locales/en/collection.json
  public/locales/en/questions.json
  public/locales/ru/collection.json
  public/locales/ru/questions.json
  src/app/providers/router/config/routeConfig.tsx
  src/entities/collection/api/__mock__/data/collectionsMock.ts
  src/entities/collection/api/collectionApi.ts
  src/entities/collection/index.ts
  src/entities/collection/model/constants/collection.ts
  src/entities/collection/model/types/collection.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/CollectionParam/index.ts
  src/shared/ui/CollectionParam/ui/CollectionParam.module.css
  src/shared/ui/CollectionParam/ui/CollectionParam.skeleton.tsx
  src/shared/ui/CollectionParam/ui/CollectionParam.tsx
  src/widgets/Collection/ui/AdditionalInfo/AdditionalInfo.tsx
  src/widgets/CollectionsTable/ui/CollectionsTable.tsx
  src/widgets/Question/ui/AdditionalInfo/AdditionalInfo.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

[feature/YH-653] - add stories and screenshots for the Text component
  src/shared/ui/Text/ui/Text.tsx
Due: npm run prettier, npm run lint:ts:fix

[feature/YH-632] - added stories and screenshots for the Table component
  .loki/reference/chrome_iphone7_feature_changingLanguage_LanguageSwitcher_Primary.png
  .loki/reference/chrome_iphone7_shared_Flex_Align_Items_End.png
  .loki/reference/chrome_iphone7_shared_Flex_Gap_120.png
  .loki/reference/chrome_iphone7_shared_Flex_Gap_14.png
  .loki/reference/chrome_iphone7_shared_Flex_Gap_24.png
  .loki/reference/chrome_iphone7_shared_Flex_Gap_8.png
  .loki/reference/chrome_laptop_shared_Accordion_With_Children.png
  .loki/reference/chrome_laptop_shared_Flex_Direction_Column.png
  .loki/reference/chrome_laptop_shared_Flex_Direction_Row.png
  .loki/reference/chrome_laptop_shared_Flex_Gap_12.png
  .loki/reference/chrome_laptop_shared_Flex_Gap_14.png
  .loki/reference/chrome_laptop_shared_Flex_Gap_16.png
  .loki/reference/chrome_laptop_shared_Flex_Gap_32.png
  .loki/reference/chrome_laptop_shared_Flex_Gap_40.png
  .loki/reference/chrome_laptop_shared_Flex_Gap_8.png
  .loki/reference/chrome_laptop_shared_Flex_Justify_Content_Around.png
  .loki/reference/chrome_laptop_shared_Flex_Justify_Content_End.png
  .loki/reference/chrome_laptop_shared_Text_Variant.png
  .loki/reference/chrome_laptop_widget_Sidebar_SidebarMenuItem_Full_View.png
  .loki/reference/chrome_laptop_widget_Sidebar_SidebarMenuList_Full_View.png
  src/shared/ui/Table/ui/Table.stories.tsx
  src/shared/ui/Table/ui/Table.tsx
  src/shared/ui/Text/ui/Text.stories.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-673: collection page - add questions field
  public/locales/en/collection.json
  public/locales/ru/collection.json
  src/entities/collection/model/types/collection.ts
  src/entities/collection/ui/CollectionForm/CollectionForm.module.css
  src/entities/collection/ui/CollectionForm/CollectionForm.tsx
  src/entities/question/index.ts
  src/entities/question/ui/ChooseQuestionsDrawer/ChooseQuestionsDrawer.module.css
  src/entities/question/ui/ChooseQuestionsDrawer/ChooseQuestionsDrawer.tsx
  src/features/collections/createCollection/model/lib/validation/collectionCreateSchema.ts
  src/features/collections/createCollection/model/types/collectionCreateTypes.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/CollectionsTable/ui/CollectionsTable.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-644: select refactoring
  src/entities/question/ui/QuestionForm/QuestionForm.tsx
  src/entities/skill/ui/SkillSelect/SkillSelect.tsx
  src/entities/specialization/ui/SpecializationSelect/SpecializationSelect.module.css
  src/entities/specialization/ui/SpecializationSelect/SpecializationSelect.tsx
  src/shared/ui/Select/Select.module.css
  src/shared/ui/Select/Select.tsx
  src/shared/ui/Select/index.ts
  src/shared/ui/SelectWithChips/SelectWithChips.tsx
  src/shared/ui/SelectWithChips/index.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

Feature/yh 673 (#412)
  public/locales/en/collection.json
  public/locales/ru/collection.json
  src/entities/collection/model/types/collection.ts
  src/entities/collection/ui/CollectionForm/CollectionForm.module.css
  src/entities/collection/ui/CollectionForm/CollectionForm.tsx
  src/entities/question/index.ts
  src/entities/question/ui/ChooseQuestionsDrawer/ChooseQuestionsDrawer.module.css
  src/entities/question/ui/ChooseQuestionsDrawer/ChooseQuestionsDrawer.tsx
  src/features/collection/createCollection/model/lib/validation/collectionCreateSchema.ts
  src/features/collection/createCollection/model/types/collectionCreateTypes.ts
  src/features/collection/index.ts
  src/features/collections/createCollection/model/lib/validation/collectionCreateSchema.ts
  src/features/collections/createCollection/model/types/collectionCreateTypes.ts
  src/features/skill/createSkill/ui/SkillCreateForm/SkillCreateForm.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/CollectionsTable/ui/CollectionsTable.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-694: prettier
  public/locales/en/collection.json
  public/locales/en/questions.json
  public/locales/ru/collection.json
  public/locales/ru/questions.json
Due: none

YH-694: fix conflict
  src/entities/collection/ui/CollectionForm/CollectionForm.tsx
  src/features/collections/createCollection/model/types/collectionCreateTypes.ts
  src/pages/admin/CollectionPage/ui/CollectionPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/BackHeader/ui/BackHeader.tsx
  src/widgets/Collection/ui/AdditionalInfo/AdditionalInfo.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-694: Add CollectionPage (#408)
  public/locales/en/collection.json
  public/locales/en/questions.json
  public/locales/ru/collection.json
  public/locales/ru/questions.json
  src/app/providers/router/config/routeConfig.tsx
  src/entities/collection/api/__mock__/data/collectionsMock.ts
  src/entities/collection/index.ts
  src/entities/collection/model/types/collection.ts
  src/entities/collection/ui/CollectionForm/CollectionForm.module.css
  src/entities/collection/ui/CollectionForm/CollectionForm.tsx
  src/features/collections/createCollection/model/types/collectionCreateTypes.ts
  src/pages/admin/CollectionPage/index.ts
  src/pages/admin/CollectionPage/ui/CollectionPage.module.css
  src/pages/admin/CollectionPage/ui/CollectionPage.skeleton.tsx
  src/pages/admin/CollectionPage/ui/CollectionPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
  src/shared/ui/BackHeader/ui/BackHeader.tsx
  src/shared/ui/Table/ui/Table.tsx
  src/widgets/Collection/index.ts
  src/widgets/Collection/ui/AdditionalInfo/AdditionalInfo.module.css
  src/widgets/Collection/ui/AdditionalInfo/AdditionalInfo.tsx
  src/widgets/Collection/ui/CollectionBody/CollectionBody.module.css
  src/widgets/Collection/ui/CollectionBody/CollectionBody.tsx
  src/widgets/Collection/ui/CollectionHeader/CollectionHeader.module.css
  src/widgets/Collection/ui/CollectionHeader/CollectionHeader.tsx
  src/widgets/CollectionsTable/ui/CollectionsTable.tsx
  src/widgets/Question/ui/AdditionalInfo/AdditionalInfo.tsx
  src/widgets/interview/QuestionsList/index.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-543: add styles to specialization create page
  public/locales/ru/specialization.json
  src/entities/specialization/ui/SpecializationForm/SpecializationForm.module.css
  src/entities/specialization/ui/SpecializationForm/SpecializationForm.tsx
  src/features/specialization/createSpecialization/ui/SpecializationCreateForm/SpecializationCreateForm.tsx
  src/features/specialization/createSpecialization/ui/SpecializationCreateFormHeader/SpecializationCreateFormHeader.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-553: add mock questionByID and without profileID and fix state in Default function { Table.stories.tsx}
  src/entities/question/api/__mocks__/index.ts
  src/entities/question/api/__mocks__/questionMock.ts
  src/shared/ui/Table/ui/Table.stories.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-625: added page user detail in admin
  public/locales/ru/user.json
  src/app/providers/router/config/routeConfig.tsx
  src/app/styles/variables/pallete.css
  src/entities/user/api/userApi.ts
  src/entities/user/index.ts
  src/entities/user/model/constants/userConstants.ts
  src/entities/user/model/types/user.ts
  src/entities/user/ui/UserCard/UserCard.module.css
  src/entities/user/ui/UserCard/UserCard.tsx
  src/entities/user/ui/UserSelect/UserSelect.module.css
  src/entities/user/ui/UserSelect/UserSelect.tsx
  src/pages/admin/UserTableDetailPage/index.ts
  src/pages/admin/UserTableDetailPage/model/constants/createUserConstants.ts
  src/pages/admin/UserTableDetailPage/model/libs/validation/userCreateTypes.ts
  src/pages/admin/UserTableDetailPage/model/types/userCreateTypes.ts
  src/pages/admin/UserTableDetailPage/ui/UserTableDetailPage.lazy.tsx
  src/pages/admin/UserTableDetailPage/ui/UserTableDetailPage.tsx
  src/shared/assets/icons/iconCross.svg
  src/shared/config/api/apiTags.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
  src/shared/ui/Flex/ui/Flex.module.css
  src/shared/ui/Flex/ui/Flex.stories.tsx
  src/shared/ui/Flex/ui/Flex.tsx
  src/shared/ui/SelectWithChips/SelectWithChips.tsx
  src/widgets/UsersTable/ui/UsersTable.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-553: add mock questionByID and without profileID and fix state in Default function { Table.stories.tsx} (#415)
  src/entities/question/api/__mocks__/index.ts
  src/entities/question/api/__mocks__/questionMock.ts
  src/shared/ui/Table/ui/Table.stories.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-625: fix components
  public/locales/en/user.json
  src/entities/user/api/userApi.ts
  src/entities/user/model/constants/userConstants.ts
  src/entities/user/model/types/user.ts
  src/entities/user/ui/UserCard/UserCard.tsx
  src/entities/user/ui/UserSelect/UserSelect.tsx
  src/pages/admin/UserTableDetailPage/model/libs/validation/userCreateTypes.ts
  src/pages/admin/UserTableDetailPage/ui/UserTableDetailPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/SelectWithChips/SelectWithChips.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-703: fix show password click and remove dublicate styles in CollectionForm.module.css
  src/entities/collection/ui/CollectionForm/CollectionForm.module.css
  src/shared/ui/Input/ui/Input.module.css
Due: npm run lint:css:fix

YH-672: add collection edit page
  src/app/providers/router/config/routeConfig.tsx
  src/entities/collection/index.ts
  src/entities/collection/model/types/collection.ts
  src/entities/collection/ui/CollectionForm/CollectionForm.tsx
  src/features/collection/createCollection/model/lib/validation/collectionCreateSchema.ts
  src/features/collection/createCollection/model/types/collectionCreateTypes.ts
  src/features/collection/index.ts
  src/features/collections/createCollection/model/types/collectionCreateTypes.ts
  src/features/collections/editCollection/index.ts
  src/features/collections/editCollection/model/lib/validation/collectionEditSchema.ts
  src/features/collections/editCollection/model/types/collectionEditTypes.ts
  src/features/collections/editCollection/ui/CollectionEditForm/CollectionEditForm.module.css
  src/features/collections/editCollection/ui/CollectionEditForm/CollectionEditForm.tsx
  src/features/collections/editCollection/ui/CollectionEditFormHeader/CollectionEditFormHeader.tsx
  src/features/collections/editCollection/ui/index.ts
  src/pages/admin/CollectionEditPage/index.ts
  src/pages/admin/CollectionEditPage/ui/CollectionEditPage.lazy.tsx
  src/pages/admin/CollectionEditPage/ui/CollectionEditPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/CollectionsTable/ui/CollectionsTable.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-709: removed the comma when the phone was missing, corrected the translation of the last name
  public/locales/en/profile.json
  public/locales/ru/profile.json
  src/widgets/Profile/ui/UserCard/ui/UserInfoBlock/UserInfoBlock.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-625: fixed the remarks
  public/locales/en/user.json
  public/locales/ru/user.json
  src/app/providers/router/config/routeConfig.tsx
  src/entities/collection/ui/CollectionForm/CollectionForm.module.css
  src/entities/user/api/userApi.ts
  src/entities/user/index.ts
  src/entities/user/model/constants/userConstants.ts
  src/entities/user/ui/RoleSelect/RoleSelect.module.css
  src/entities/user/ui/RoleSelect/RoleSelect.tsx
  src/entities/user/ui/UserCard/UserCard.module.css
  src/entities/user/ui/UserCard/UserCard.tsx
  src/pages/admin/UserDetailPage/index.ts
  src/pages/admin/UserDetailPage/model/types/userCreateTypes.ts
  src/pages/admin/UserDetailPage/ui/UserDetailPage.lazy.tsx
  src/pages/admin/UserDetailPage/ui/UserDetailPage.tsx
  src/pages/admin/UserTableDetailPage/index.ts
  src/pages/admin/UserTableDetailPage/model/constants/createUserConstants.ts
  src/pages/admin/UserTableDetailPage/model/libs/validation/userCreateTypes.ts
  src/pages/admin/UserTableDetailPage/model/types/userCreateTypes.ts
  src/pages/admin/UserTableDetailPage/ui/UserTableDetailPage.lazy.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Text/ui/Text.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-692: add UserPreferences popover
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/app/providers/router/config/routeConfig.tsx
  src/features/authentication/logout/Logout/ui/Logout.module.css
  src/features/authentication/logout/Logout/ui/Logout.tsx
  src/features/common/user-preferences/index.ts
  src/features/common/user-preferences/ui/UserPreferences.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Popover/ui/Popover/Popover.module.css
  src/shared/ui/Popover/ui/PopoverMenu/PopoverMenu.module.css
  src/shared/ui/Popover/ui/PopoverMenu/PopoverMenu.tsx
  src/widgets/Header/index.ts
  src/widgets/Header/ui/HeaderLayout/HeaderLayout.module.css
  src/widgets/Header/ui/HeaderLayout/HeaderLayout.skeleton.tsx
  src/widgets/Header/ui/HeaderLayout/HeaderLayout.tsx
  src/widgets/Header/ui/UserPreferences/UserPreferences.module.css
  src/widgets/Header/ui/UserPreferences/UserPreferences.skeleton.tsx
  src/widgets/Header/ui/UserPreferences/UserPreferences.tsx
  src/widgets/Header/ui/UserPreferencesHeader/UserPreferencesHeader.module.css
  src/widgets/Header/ui/UserPreferencesHeader/UserPreferencesHeader.tsx
  src/widgets/Sidebar/ui/Sidebar/Sidebar.tsx
  src/widgets/Sidebar/ui/SidebarMenuItem/SidebarSingleMenuItem.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-710: removed last checkbox validation
  src/widgets/registration/model/lib/validation/registerSchema.ts
Due: npm run prettier, npm run lint:ts:fix

YH-699: add subscriptionCards widget
  public/locales/en/subscription.json
  public/locales/en/subscriptionCard.json
  public/locales/ru/subscription.json
  public/locales/ru/subscriptionCard.json
  src/entities/auth/model/types/auth.ts
  src/entities/collection/ui/CollectionForm/CollectionForm.module.css
  src/entities/subscription/model/types/subscription.ts
  src/entities/subscription/ui/SubscriptionCard/SubscriptionCard.module.css
  src/entities/subscription/ui/SubscriptionCard/SubscriptionCard.tsx
  src/features/authentication/registration/ui/RegisterForm/RegisterForm.tsx
  src/features/subscription/SubscribeButton/ui/SubscribeButton.tsx
  src/features/subscription/index.ts
  src/features/subscription/model/types/subscriptionAgreeTypes.ts
  src/features/subscription/model/validation/subscriptionAgreeSchema.ts
  src/features/subscription/ui/AgreementForm/AgreementForm.module.css
  src/features/subscription/ui/AgreementForm/AgreementForm.tsx
  src/features/subscription/ui/SubscribeButton/index.ts
  src/features/subscription/ui/SubscribeButton/ui/SubscribeButton.tsx
  src/features/subscription/ui/UnsubscribeButton/index.ts
  src/features/subscription/ui/UnsubscribeButton/ui/UnsubscribeButton.tsx
  src/shared/assets/icons/free-sub.svg
  src/shared/assets/icons/pro-sub.svg
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Text/ui/Text.module.css
  src/shared/utils/parseI18nText.ts
  src/widgets/FaqList/ui/FaqItem/FaqItem.module.css
  src/widgets/FaqList/ui/FaqItem/FaqItem.tsx
  src/widgets/FaqList/ui/FaqList/Faq.tsx
  src/widgets/FaqList/ui/FaqList/FaqList.module.css
  src/widgets/Profile/ui/SubscriptionTab/ui/SubscriptionTab/SubscriptionTab.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-625: added page user detail in admin (#416)
  public/locales/en/user.json
  public/locales/ru/user.json
  src/app/providers/router/config/routeConfig.tsx
  src/app/styles/variables/pallete.css
  src/entities/collection/ui/CollectionForm/CollectionForm.module.css
  src/entities/user/api/userApi.ts
  src/entities/user/index.ts
  src/entities/user/model/constants/userConstants.ts
  src/entities/user/model/types/user.ts
  src/entities/user/ui/RoleSelect/RoleSelect.module.css
  src/entities/user/ui/RoleSelect/RoleSelect.tsx
  src/entities/user/ui/UserCard/UserCard.module.css
  src/entities/user/ui/UserCard/UserCard.tsx
  src/pages/admin/UserDetailPage/index.ts
  src/pages/admin/UserDetailPage/model/types/userCreateTypes.ts
  src/pages/admin/UserDetailPage/ui/UserDetailPage.lazy.tsx
  src/pages/admin/UserDetailPage/ui/UserDetailPage.tsx
  src/shared/assets/icons/iconCross.svg
  src/shared/config/api/apiTags.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
  src/shared/ui/Flex/ui/Flex.module.css
  src/shared/ui/Flex/ui/Flex.stories.tsx
  src/shared/ui/Flex/ui/Flex.tsx
  src/shared/ui/SelectWithChips/SelectWithChips.tsx
  src/shared/ui/Text/ui/Text.tsx
  src/widgets/UsersTable/ui/UsersTable.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

[feature/YH-623] - Mock request for editing a question
  src/app/msw/handlers.ts
  src/features/question/editQuestion/api/__mocks__/editQuestionMock.ts
  src/features/question/editQuestion/api/__mocks__/index.ts
  src/features/question/editQuestion/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-710: removed last checkbox validation (#421)
  src/widgets/registration/model/lib/validation/registerSchema.ts
Due: npm run prettier, npm run lint:ts:fix

[feature/YH-623] - Mock request for editing a question (#423)
  src/app/msw/handlers.ts
  src/features/question/editQuestion/api/__mocks__/editQuestionMock.ts
  src/features/question/editQuestion/api/__mocks__/index.ts
  src/features/question/editQuestion/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-709: removed the comma when the phone was missing, corrected the translation of the last name (#419)
  public/locales/en/profile.json
  public/locales/ru/profile.json
  src/widgets/Profile/ui/UserCard/ui/UserInfoBlock/UserInfoBlock.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-692: update Popover
  src/pages/admin/QuestionPage/QuestionPage.tsx
  src/pages/landing/PublicQuestionPage/ui/PublicQuestionPage.tsx
  src/shared/ui/Popover/index.ts
  src/shared/ui/Popover/ui/Popover/Popover.tsx
Due: npm run prettier, npm run lint:ts:fix

fixed component UserPreferences
  src/entities/profile/model/selectors/profileSelectors.ts
  src/features/authentication/logout/Logout/ui/Logout.module.css
  src/features/authentication/logout/Logout/ui/Logout.tsx
  src/shared/ui/Popover/ui/PopoverMenu/PopoverMenu.module.css
  src/widgets/Header/ui/UserPreferences/UserPreferences.tsx
  src/widgets/Header/ui/UserPreferencesHeader/UserPreferencesHeader.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-703: fix show password click and remove dublicate styles in CollectionForm.module.css (#417)
  src/shared/ui/Input/ui/Input.module.css
Due: npm run lint:css:fix

YH-692: add UserPreferences popover (#420)
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/app/providers/router/config/routeConfig.tsx
  src/entities/profile/model/selectors/profileSelectors.ts
  src/features/authentication/logout/Logout/ui/Logout.module.css
  src/features/authentication/logout/Logout/ui/Logout.tsx
  src/features/common/user-preferences/index.ts
  src/features/common/user-preferences/ui/UserPreferences.tsx
  src/pages/admin/QuestionPage/QuestionPage.tsx
  src/pages/landing/PublicQuestionPage/ui/PublicQuestionPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Popover/index.ts
  src/shared/ui/Popover/ui/Popover/Popover.module.css
  src/shared/ui/Popover/ui/Popover/Popover.tsx
  src/shared/ui/Popover/ui/PopoverMenu/PopoverMenu.module.css
  src/shared/ui/Popover/ui/PopoverMenu/PopoverMenu.tsx
  src/widgets/Header/index.ts
  src/widgets/Header/ui/HeaderLayout/HeaderLayout.module.css
  src/widgets/Header/ui/HeaderLayout/HeaderLayout.skeleton.tsx
  src/widgets/Header/ui/HeaderLayout/HeaderLayout.tsx
  src/widgets/Header/ui/UserPreferences/UserPreferences.module.css
  src/widgets/Header/ui/UserPreferences/UserPreferences.skeleton.tsx
  src/widgets/Header/ui/UserPreferences/UserPreferences.tsx
  src/widgets/Header/ui/UserPreferencesHeader/UserPreferencesHeader.module.css
  src/widgets/Header/ui/UserPreferencesHeader/UserPreferencesHeader.tsx
  src/widgets/Sidebar/ui/Sidebar/Sidebar.tsx
  src/widgets/Sidebar/ui/SidebarMenuItem/SidebarSingleMenuItem.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-672: add collection edit page (#418)
  src/app/providers/router/config/routeConfig.tsx
  src/entities/collection/index.ts
  src/entities/collection/model/types/collection.ts
  src/entities/collection/ui/CollectionForm/CollectionForm.tsx
  src/features/collection/createCollection/model/lib/validation/collectionCreateSchema.ts
  src/features/collection/createCollection/model/types/collectionCreateTypes.ts
  src/features/collection/index.ts
  src/features/collections/createCollection/model/types/collectionCreateTypes.ts
  src/features/collections/editCollection/index.ts
  src/features/collections/editCollection/model/lib/validation/collectionEditSchema.ts
  src/features/collections/editCollection/model/types/collectionEditTypes.ts
  src/features/collections/editCollection/ui/CollectionEditForm/CollectionEditForm.module.css
  src/features/collections/editCollection/ui/CollectionEditForm/CollectionEditForm.tsx
  src/features/collections/editCollection/ui/CollectionEditFormHeader/CollectionEditFormHeader.tsx
  src/features/collections/editCollection/ui/index.ts
  src/pages/admin/CollectionEditPage/index.ts
  src/pages/admin/CollectionEditPage/ui/CollectionEditPage.lazy.tsx
  src/pages/admin/CollectionEditPage/ui/CollectionEditPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/CollectionsTable/ui/CollectionsTable.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-699: refactoring
  src/entities/subscription/ui/SubscriptionCard/SubscriptionCard.module.css
  src/entities/subscription/ui/SubscriptionCard/SubscriptionCard.tsx
  src/features/subscription/ui/AgreementForm/AgreementForm.module.css
  src/features/subscription/ui/AgreementForm/AgreementForm.tsx
  src/features/subscription/ui/SubscribeButton/ui/SubscribeButton.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-714: add mock for specializations list
  src/app/msw/handlers.ts
  src/entities/specialization/api/__mocks__/data/index.ts
  src/entities/specialization/api/__mocks__/data/specializationsMock.ts
  src/entities/specialization/api/__mocks__/index.ts
  src/entities/specialization/api/__mocks__/specializationListMock.ts
  src/entities/specialization/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-693: add specialization and keywords to collection form
  public/locales/ru/collection.json
  src/app/msw/handlers.ts
  src/entities/collection/ui/CollectionForm/CollectionForm.module.css
  src/entities/collection/ui/CollectionForm/CollectionForm.tsx
  src/entities/user/api/userApi.ts
  src/entities/user/index.ts
  src/entities/user/ui/RoleSelect/RoleSelect.tsx
  src/entities/user/ui/UserCard/UserCard.tsx
  src/features/question/editQuestion/api/__mocks__/index.ts
  src/features/question/editQuestion/index.ts
  src/pages/admin/CollectionEditPage/ui/CollectionEditPage.tsx
  src/pages/admin/CollectionPage/ui/CollectionPage.tsx
  src/pages/admin/UserDetailPage/ui/UserDetailPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Text/ui/Text.tsx
  src/widgets/UsersTable/ui/UsersTable.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

Path conditions:
  npm run prettier: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:ts:fix: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:css:fix: any of: *.css
