Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-647: fix error
  src/features/authentication/registration/ui/RegisterForm/RegisterForm.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-614: fix error
  src/features/authentication/registration/ui/RegisterForm/RegisterForm.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-641: add multiple select for choosing specializations
  public/locales/en/profile.json
  public/locales/ru/profile.json
  src/features/profile/editProfileForm/ui/SkillsTabForm/SkillsTabForm.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-647: add specialization param on skills request (#376)
  src/entities/profile/model/selectors/profileSelectors.ts
  src/entities/question/ui/ChooseQuestionsCategories/ChooseQuestionsCategories.tsx
  src/entities/question/ui/QuestionForm/QuestionForm.tsx
  src/entities/skill/model/types/skill.ts
  src/entities/skill/ui/SkillSelect/SkillSelect.tsx
  src/features/authentication/registration/ui/RegisterForm/RegisterForm.tsx
  src/pages/interview/CreateQuizPage/ui/CreateQuizPage.tsx
  src/pages/interview/QuestionsPage/ui/QuestionsPage/QuestionsPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-614: input, button border-radius fixed (#373)
  src/app/msw/handlers.ts
  src/entities/question/ui/QuestionForm/QuestionForm.module.css
  src/entities/question/ui/QuestionForm/QuestionForm.tsx
  src/entities/skill/ui/SkillForm/SkillForm.module.css
  src/entities/socialNetwork/ui/SocialNetWorkInputs/SocialNetWorkInputs.module.css
  src/entities/socialNetwork/ui/SocialNetWorkInputs/SocialNetWorkInputs.tsx
  src/entities/specialization/ui/SpecializationSelect/SpecializationSelect.module.css
  src/features/authentication/forgotPassword/ui/ForgotPasswordForm/ForgotPasswordForm.module.css
  src/features/authentication/forgotPassword/ui/ForgotPasswordForm/ForgotPasswordForm.tsx
  src/features/authentication/login/ui/LoginForm/LoginForm.module.css
  src/features/authentication/login/ui/LoginForm/LoginForm.tsx
  src/features/authentication/passwordRecovery/ui/PasswordRecoveryForm/PasswordRecoveryForm.module.css
  src/features/authentication/passwordRecovery/ui/PasswordRecoveryForm/PasswordRecoveryForm.tsx
  src/features/authentication/registration/ui/RegisterForm/RegisterForm.module.css
  src/features/authentication/registration/ui/RegisterForm/RegisterForm.tsx
  src/features/common/search-input/ui/SearchInput.module.css
  src/features/common/search-input/ui/SearchInput.tsx
  src/features/profile/changePassword/ui/ChangePassword.module.css
  src/features/profile/changePassword/ui/ChangePassword.tsx
  src/features/profile/confirmationEmail/ui/ConfirmationEmail.module.css
  src/features/profile/confirmationEmail/ui/ConfirmationEmail.tsx
  src/features/profile/editProfileForm/ui/AboutMeTabForm/AboutMeTabForm.module.css
  src/features/profile/editProfileForm/ui/PersonalInformationTabForm/PersonalInformationTabForm.module.css
  src/features/profile/editProfileForm/ui/PersonalInformationTabForm/PersonalInformationTabForm.tsx
  src/shared/ui/Input/ui/Input.module.css
  src/shared/ui/Input/ui/Input.tsx
  src/shared/ui/InputPhone/ui/InputPhone.module.css
  src/shared/ui/KeywordInput/KeywordInput.tsx
  src/shared/ui/SelectWithChips/SelectWithChips.module.css
  src/widgets/SearchSection/ui/SearchSection.module.css
  src/widgets/SearchSection/ui/SearchSection.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-615: fix error
  public/locales/en/profile.json
  public/locales/en/specialization.json
  src/shared/ui/ImageLoaderWithoutCropper/ImageLoaderWithoutCropper.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-615: add ImageLoaderWithoutCropper component (#375)
  public/locales/en/profile.json
  public/locales/en/skill.json
  public/locales/en/specialization.json
  public/locales/ru/skill.json
  src/entities/skill/api/skillApi.ts
  src/entities/skill/ui/SkillCard/SkillCard.module.css
  src/entities/skill/ui/SkillForm/SkillForm.module.css
  src/entities/skill/ui/SkillForm/SkillForm.tsx
  src/features/skill/editSkill/index.ts
  src/features/skill/editSkill/ui/SkillEditForm/SkillEditForm.tsx
  src/features/skill/editSkill/ui/SkillEditForm/index.ts
  src/features/skill/editSkill/ui/SkillEditFormHeader/SkillEditFormHeader.tsx
  src/pages/admin/SkillDetailPage/ui/SkillDetailPage/SkillDetailPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/helpers/removeBase64Data/index.ts
  src/shared/helpers/removeBase64Data/removeBase64Data.ts
  src/shared/ui/FileLoader/FileLoader.module.css
  src/shared/ui/FileLoader/FileLoader.tsx
  src/shared/ui/Flex/ui/Flex.module.css
  src/shared/ui/Flex/ui/Flex.tsx
  src/shared/ui/ImageLoaderWithoutCropper/ImageLoaderWithoutCropper.module.css
  src/shared/ui/ImageLoaderWithoutCropper/ImageLoaderWithoutCropper.tsx
  src/shared/ui/ImageLoaderWithoutCropper/index.ts
  src/shared/ui/ImageWithWrapper/ImageWithWrapper.tsx
  src/shared/ui/Loader/ui/Loader.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-645: add PublicQuestionsPage
  src/app/providers/router/config/routeConfig.tsx
  src/entities/question/api/questionApi.ts
  src/entities/question/index.ts
  src/entities/question/model/constants/question.ts
  src/features/question/createQuestion/api/__mocks__/createQuestionMock.ts
  src/pages/landing/PublicQuestionsPage/index.ts
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsFilterPanel/PublicQuestionsFilterPanel.module.css
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsFilterPanel/PublicQuestionsFilterPanel.tsx
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsPage/PublicQuestionsPage.lazy.ts
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsPage/PublicQuestionsPage.module.css
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsPage/PublicQuestionsPage.skeleton.tsx
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsPage/PublicQuestionsPage.tsx
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsPagePagination/PublicQuestionPagePagination.module.css
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsPagePagination/PublicQuestionPagePagination.tsx
  src/shared/config/router/routes.ts
  src/widgets/Landing/Footer/ui/Footer.module.css
  src/widgets/Landing/Header/ui/Header/Header.module.css
  src/widgets/Landing/InterviewBlock/ui/InterviewBlock/InterviewBlock.module.css
  src/widgets/Landing/ProgressBlock/ui/ProgressBlock/ProgressBlock.module.css
  src/widgets/Question/index.ts
  src/widgets/Question/ui/QuestionPreview/QuestionPreview.module.css
  src/widgets/Question/ui/QuestionPreview/QuestionPreview.tsx
  src/widgets/Question/ui/QuestionsFilterPanel/model/types.ts
  src/widgets/Question/ui/QuestionsSummaryList/QuestionsSummaryList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-645: add specialization filter
  src/entities/question/index.ts
  src/entities/question/ui/ChooseSpecialization/ChooseSpecialization.module.css
  src/entities/question/ui/ChooseSpecialization/ChooseSpecialization.tsx
  src/entities/specialization/index.ts
  src/entities/specialization/utils/getSpecializationDefaultIcon.ts
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsFilterPanel/PublicQuestionsFilterPanel.tsx
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsPage/PublicQuestionsPage.tsx
  src/shared/hooks/useQueryFilter.ts
  src/widgets/Question/ui/QuestionsFilterPanel/model/types.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-652: add scroll to select, fix spec limit
  src/app/styles/App.css
  src/entities/specialization/ui/SpecializationSelect/SpecializationSelect.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-499: add Text component
  src/shared/ui/Text/index.ts
  src/shared/ui/Text/model/types/types.ts
  src/shared/ui/Text/ui/Text.module.css
  src/shared/ui/Text/ui/Text.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-652: add scroll to select, fix spec limit (#380)
  src/app/styles/App.css
  src/entities/specialization/ui/SpecializationSelect/SpecializationSelect.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-499: add Text component (#381)
  src/shared/ui/Text/index.ts
  src/shared/ui/Text/model/types/types.ts
  src/shared/ui/Text/ui/Text.module.css
  src/shared/ui/Text/ui/Text.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-645: add ChooseSpecialization
  src/entities/question/ui/ChooseQuestionsCategories/ChooseQuestionsCategories.tsx
  src/entities/question/ui/ChooseSpecialization/ChooseSpecialization.module.css
  src/entities/question/ui/ChooseSpecialization/ChooseSpecialization.tsx
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsFilterPanel/PublicQuestionsFilterPanel.tsx
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsPage/PublicQuestionsPage.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-641: add multiple select on SkillEditPage
  src/entities/skill/ui/SkillForm/SkillForm.module.css
  src/entities/skill/ui/SkillForm/SkillForm.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-645: add wrapper to layout
  src/app/layouts/LandingLayout/ui/LandingLayout.module.css
  src/app/layouts/LandingLayout/ui/LandingLayout.tsx
  src/entities/question/ui/ChooseQuestionsCategories/ChooseQuestionsCategories.tsx
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsFilterPanel/PublicQuestionsFilterPanel.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-641: fix
  public/locales/en/profile.json
  public/locales/ru/profile.json
  src/features/profile/editProfileForm/ui/SkillsTabForm/SkillsTabForm.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-641: fix error
  src/features/profile/editProfileForm/ui/SkillsTabForm/SkillsTabForm.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-641: fix error
  src/entities/skill/ui/SkillForm/SkillForm.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-645: fixed bug
  src/entities/question/ui/ChooseQuestionsCategories/ChooseQuestionsCategories.tsx
  src/features/question/questionsFilterSet/ui/QuestionsFilterSet.tsx
  src/pages/interview/CreateQuizPage/ui/CreateQuizPage.tsx
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsFilterPanel/PublicQuestionsFilterPanel.tsx
  src/widgets/Question/ui/QuestionsFilterPanel/ui/QuestionsFilterPanel.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-641: fix text
  src/features/profile/editProfileForm/ui/SkillsTabForm/SkillsTabForm.tsx
Due: npm run prettier, npm run lint:ts:fix

Feature/yh 645 (#379)
  src/app/layouts/LandingLayout/ui/LandingLayout.module.css
  src/app/layouts/LandingLayout/ui/LandingLayout.tsx
  src/app/providers/router/config/routeConfig.tsx
  src/entities/question/api/questionApi.ts
  src/entities/question/index.ts
  src/entities/question/model/constants/question.ts
  src/entities/question/ui/ChooseQuestionsCategories/ChooseQuestionsCategories.tsx
  src/entities/question/ui/ChooseSpecialization/ChooseSpecialization.module.css
  src/entities/question/ui/ChooseSpecialization/ChooseSpecialization.tsx
  src/entities/specialization/index.ts
  src/entities/specialization/utils/getSpecializationDefaultIcon.ts
  src/features/question/questionsFilterSet/ui/QuestionsFilterSet.tsx
  src/pages/interview/CreateQuizPage/ui/CreateQuizPage.tsx
  src/pages/landing/PublicQuestionsPage/index.ts
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsFilterPanel/PublicQuestionsFilterPanel.module.css
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsFilterPanel/PublicQuestionsFilterPanel.tsx
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsPage/PublicQuestionsPage.lazy.ts
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsPage/PublicQuestionsPage.module.css
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsPage/PublicQuestionsPage.skeleton.tsx
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsPage/PublicQuestionsPage.tsx
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsPagePagination/PublicQuestionPagePagination.module.css
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsPagePagination/PublicQuestionPagePagination.tsx
  src/shared/assets/icons/CloseCircle.svg
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
  src/shared/hooks/useQueryFilter.ts
  src/shared/ui/Drawer/ui/Drawer.module.css
  src/shared/ui/Drawer/ui/Drawer.tsx
  src/widgets/Landing/Footer/ui/Footer.module.css
  src/widgets/Landing/Header/ui/Header/Header.module.css
  src/widgets/Landing/InterviewBlock/ui/InterviewBlock/InterviewBlock.module.css
  src/widgets/Landing/ProgressBlock/ui/ProgressBlock/ProgressBlock.module.css
  src/widgets/Question/index.ts
  src/widgets/Question/ui/QuestionPreview/QuestionPreview.module.css
  src/widgets/Question/ui/QuestionPreview/QuestionPreview.tsx
  src/widgets/Question/ui/QuestionsFilterPanel/model/types.ts
  src/widgets/Question/ui/QuestionsSummaryList/QuestionsSummaryList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

Feature/yh 641 (#378)
  src/entities/skill/ui/SkillForm/SkillForm.module.css
  src/entities/skill/ui/SkillForm/SkillForm.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-646: add public question page
  src/app/providers/router/config/routeConfig.tsx
  src/entities/question/api/questionApi.ts
  src/entities/question/index.ts
  src/entities/question/model/constants/question.ts
  src/entities/question/model/types/question.ts
  src/features/question/createQuestion/api/__mocks__/createQuestionMock.ts
  src/features/question/deleteQuestion/ui/DeleteQuestionButton/DeleteQuestionButton.tsx
  src/features/skill/deleteSkill/ui/DeleteSkillButton/DeleteSkillButton.tsx
  src/pages/interview/QuestionPage/index.ts
  src/pages/interview/QuestionPage/ui/QuestionPage.lazy.ts
  src/pages/interview/QuestionPage/ui/QuestionPage.tsx
  src/pages/landing/DocsPage/ui/DocsPage.module.css
  src/pages/landing/PublicQuestionPage/index.ts
  src/pages/landing/PublicQuestionPage/ui/PublicQuestionPage.lazy.ts
  src/pages/landing/PublicQuestionPage/ui/PublicQuestionPage.module.css
  src/pages/landing/PublicQuestionPage/ui/PublicQuestionPage.skeleton.tsx
  src/pages/landing/PublicQuestionPage/ui/PublicQuestionPage.tsx
  src/shared/config/api/apiTags.ts
  src/shared/config/router/routes.ts
  src/widgets/Landing/Header/ui/Header/Header.module.css
  src/widgets/Landing/InterviewBlock/ui/InterviewBlock/InterviewBlock.module.css
  src/widgets/Question/ui/QuestionPreview/QuestionPreview.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-646: the public question page is integrated into the project
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/app/providers/router/config/routeConfig.tsx
  src/pages/landing/PublicQuestionPage/ui/PublicQuestionPage.module.css
  src/pages/landing/PublicQuestionPage/ui/PublicQuestionPage.tsx
  src/shared/ui/Card/ui/Card.tsx
  src/widgets/Question/ui/QuestionBody/QuestionBody.module.css
  src/widgets/Question/ui/QuestionHeader/QuestionHeader.module.css
  src/widgets/Question/ui/QuestionHeader/QuestionHeader.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

Feature/yh 646 (#382)
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/app/providers/router/config/routeConfig.tsx
  src/entities/question/api/questionApi.ts
  src/entities/question/index.ts
  src/entities/question/model/constants/question.ts
  src/entities/question/model/types/question.ts
  src/pages/interview/QuestionPage/index.ts
  src/pages/interview/QuestionPage/ui/QuestionPage.lazy.ts
  src/pages/interview/QuestionPage/ui/QuestionPage.tsx
  src/pages/landing/DocsPage/ui/DocsPage.module.css
  src/pages/landing/PublicQuestionPage/index.ts
  src/pages/landing/PublicQuestionPage/ui/PublicQuestionPage.lazy.ts
  src/pages/landing/PublicQuestionPage/ui/PublicQuestionPage.module.css
  src/pages/landing/PublicQuestionPage/ui/PublicQuestionPage.skeleton.tsx
  src/pages/landing/PublicQuestionPage/ui/PublicQuestionPage.tsx
  src/shared/config/api/apiTags.ts
  src/shared/ui/Card/ui/Card.tsx
  src/widgets/Landing/InterviewBlock/ui/InterviewBlock/InterviewBlock.module.css
  src/widgets/Question/ui/QuestionBody/QuestionBody.module.css
  src/widgets/Question/ui/QuestionHeader/QuestionHeader.module.css
  src/widgets/Question/ui/QuestionHeader/QuestionHeader.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-657: fix layout width, fix skeleton
  src/app/layouts/LandingLayout/ui/LandingLayout.module.css
  src/pages/landing/PublicQuestionPage/ui/PublicQuestionPage.module.css
  src/pages/landing/PublicQuestionPage/ui/PublicQuestionPage.skeleton.tsx
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsPage/PublicQuestionsPage.skeleton.tsx
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsPage/PublicQuestionsPage.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-657: fix layout width, fix skeleton (#383)
  src/app/layouts/LandingLayout/ui/LandingLayout.module.css
  src/pages/landing/PublicQuestionPage/ui/PublicQuestionPage.module.css
  src/pages/landing/PublicQuestionPage/ui/PublicQuestionPage.skeleton.tsx
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsPage/PublicQuestionsPage.skeleton.tsx
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsPage/PublicQuestionsPage.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-642: refactor: popover to drawer comp; styling; linter errors
  src/app/layouts/MainLayout/ui/MainLayout.module.css
  src/app/msw/handlers.ts
  src/app/styles/variables/main-variables.css
  src/features/question/createQuestion/api/__mocks__/createQuestionMock.ts
  src/features/question/deleteQuestion/ui/DeleteQuestionButton/DeleteQuestionButton.tsx
  src/features/skill/deleteSkill/ui/DeleteSkillButton/DeleteSkillButton.tsx
  src/pages/interview/QuestionPage/ui/QuestionPage.module.css
  src/pages/interview/QuestionPage/ui/QuestionPage.tsx
  src/pages/interview/QuestionsPage/ui/QuestionsPage/QuestionsPage.module.css
  src/pages/interview/QuestionsPage/ui/QuestionsPage/QuestionsPage.tsx
  src/shared/hooks/useModal.ts
  src/shared/hooks/useScreenSize.ts
  src/shared/ui/Calendar/ui/EventCalendar.css
  src/shared/ui/Calendar/ui/EventCalendar.tsx
  src/shared/ui/Drawer/ui/Drawer.module.css
  src/shared/ui/Drawer/ui/Drawer.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-662: skill specializations select fixed
  src/entities/skill/model/types/skill.ts
  src/features/skill/createSkill/model/lib/validation/skillCreateSchema.ts
  src/features/skill/editSkill/model/lib/validation/skillEditSchema.ts
  src/features/skill/editSkill/ui/SkillEditForm/SkillEditForm.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-662: small fix
  src/features/skill/editSkill/ui/SkillEditForm/SkillEditForm.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-662: skill specializations select fixed (#385)
  src/entities/skill/model/types/skill.ts
  src/features/skill/createSkill/model/lib/validation/skillCreateSchema.ts
  src/features/skill/editSkill/model/lib/validation/skillEditSchema.ts
  src/features/skill/editSkill/ui/SkillEditForm/SkillEditForm.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-659: Fixed a bug with clicking on the page header on mobile devices
  src/shared/ui/AppLogo/AppLogo.module.css
Due: npm run lint:css:fix

YH-659: Fixed a bug with clicking on the page header on mobile devices (#386)
  src/shared/ui/AppLogo/AppLogo.module.css
Due: npm run lint:css:fix

YH-669: Removed default icons in the filter by specialization
  src/entities/question/ui/ChooseSpecialization/ChooseSpecialization.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-642: update useMediaQuery
  src/shared/hooks/useScreenSize.ts
Due: npm run prettier, npm run lint:ts:fix

YH-669: Removed default icons in the filter by specialization (#388)
  src/entities/question/ui/ChooseSpecialization/ChooseSpecialization.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-642: refactor: popover to drawer comp; styling; linter errors (#384)
  src/app/layouts/MainLayout/ui/MainLayout.module.css
  src/app/styles/variables/main-variables.css
  src/pages/interview/QuestionPage/ui/QuestionPage.module.css
  src/pages/interview/QuestionPage/ui/QuestionPage.tsx
  src/pages/interview/QuestionsPage/ui/QuestionsPage/QuestionsPage.module.css
  src/pages/interview/QuestionsPage/ui/QuestionsPage/QuestionsPage.tsx
  src/shared/hooks/useModal.ts
  src/shared/hooks/useScreenSize.ts
  src/shared/ui/Calendar/ui/EventCalendar.css
  src/shared/ui/Calendar/ui/EventCalendar.tsx
  src/shared/ui/Drawer/ui/Drawer.module.css
  src/shared/ui/Drawer/ui/Drawer.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

Path conditions:
  npm run prettier: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:ts:fix: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:css:fix: any of: *.css
