Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

.lintstagedrc:

{
  "./**/*.{ts,tsx,js,jsx}": ["npm run prettier", "npm run lint:ts:fix"],
  "*.css": "npm run lint:css:fix"
}

YH-1529: changed telegram link
  src/entities/guru/model/constants/gurus.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1529: changed telegram link (#998)
  src/entities/guru/model/constants/gurus.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1448: fix errors
  src/entities/skill/ui/SkillSelect/SkillSelect.tsx
  src/pages/analytics/PopularSkillsPage/ui/PopularSkillsPage/PopularSkillsPage.tsx
Due: npm run prettier, npm run lint:ts:fix

Release 1.2.1
  RELEASE_NOTES.md
  package-lock.json
  package.json
Due: none

YH-1463: fix error to redirect page
  src/pages/landing/AvosPage/index.ts
  src/pages/landing/AvosPage/ui/AvosPage.lazy.ts
  src/pages/landing/AvosPage/ui/AvosPage.tsx
  src/widgets/Collection/ui/CollectionInterview/InterviewRecordingsBanner.module.css
  src/widgets/Landing/Avos/ui/AvosBanner/AvosBanner.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1463: fix error to redirect page (#1000)
  src/pages/landing/AvosPage/index.ts
  src/pages/landing/AvosPage/ui/AvosPage.lazy.ts
  src/pages/landing/AvosPage/ui/AvosPage.tsx
  src/widgets/Collection/ui/CollectionInterview/InterviewRecordingsBanner.module.css
  src/widgets/Landing/Avos/ui/AvosBanner/AvosBanner.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1495: added user filter and user search within the dropdown in collections
  src/entities/collection/model/types/collection.ts
  src/entities/user/ui/UserSelect/UserSelect.tsx
  src/features/collections/filterCollections/model/hooks/useCollectionsFilters.ts
  src/features/collections/filterCollections/model/hooks/useGetCollectionsFilterParams.ts
  src/features/collections/filterCollections/model/types/types.ts
  src/pages/admin/CollectionsPage/ui/CollectionsPage/CollectionsPage.tsx
  src/shared/ui/Dropdown/Dropdown/Dropdown.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1492: Added a filter by access category
  src/entities/collection/ui/ChooseCollectionAccess/ChooseCollectionAccess.tsx
  src/features/collections/filterCollections/model/hooks/useCollectionsFilters.ts
  src/features/collections/filterCollections/model/hooks/useGetCollectionsFilterParams.ts
  src/features/collections/filterCollections/model/types/types.ts
  src/features/collections/filterCollections/ui/CollectionsFilters/CollectionsFilters.tsx
  src/pages/interview/CollectionsPage/ui/CollectionsPage/CollectionsPage.tsx
  src/pages/landing/PublicCollectionsPage/ui/PublicCollectionsPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1492: fix
  src/entities/collection/ui/ChooseCollectionAccess/ChooseCollectionAccess.tsx
  src/features/collections/filterCollections/ui/CollectionsFilters/CollectionsFilters.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1492: fix comms
  src/entities/collection/ui/ChooseCollectionAccess/ChooseCollectionAccess.tsx
  src/features/collections/filterCollections/model/hooks/useCollectionsFilters.ts
  src/features/collections/filterCollections/ui/CollectionsFilters/CollectionsFilters.tsx
  src/pages/interview/CollectionsPage/ui/CollectionsPage/CollectionsPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1471: added tests for Breadcrumbs (#963)
  src/shared/ui/Breadcrumbs/Breadcrumbs.test.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1492: fix comms
  src/entities/collection/ui/ChooseCollectionAccess/ChooseCollectionAccess.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1497: add i18n keys
  public/locales/en/specialization.json
  public/locales/ru/specialization.json
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1497: add Switch component to SpecializationsFilters
  src/features/specialization/filterSpecializations/model/hooks/useGetSpecializationsFilterParams.ts
  src/features/specialization/filterSpecializations/model/hooks/useSpecializationsFilters.ts
  src/features/specialization/filterSpecializations/model/types/filters.ts
  src/features/specialization/filterSpecializations/ui/SpecializationsFilters/SpecializationsFilters.tsx
  src/pages/admin/SpecializationsPage/ui/SpecializationsPage/SpecializationsPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1497: fix specializations 'My' filter behaviour
  src/features/specialization/filterSpecializations/model/hooks/useGetSpecializationsFilterParams.ts
  src/features/specialization/filterSpecializations/model/hooks/useSpecializationsFilters.ts
  src/features/specialization/filterSpecializations/ui/SpecializationsFilters/SpecializationsFilters.tsx
  src/pages/admin/SpecializationsPage/ui/SpecializationsPage/SpecializationsPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1336: move interview questions & collections to wiki section
  src/app/layouts/MainLayout/model/helper/SkeletonGenerator.tsx
  src/app/providers/router/config/routeConfig.tsx
  src/entities/collection/model/lib/getCollectionRoute.ts
  src/entities/question/model/lib/getQuestionRoute.test.ts
  src/entities/question/model/lib/getQuestionRoute.ts
  src/pages/admin/QuestionPage/QuestionPage.tsx
  src/pages/interview/CollectionsPage/ui/CollectionsPage/CollectionsPage.tsx
  src/pages/interview/QuestionPage/ui/QuestionPage.tsx
  src/pages/landing/PublicQuestionPage/ui/PublicQuestionPage.tsx
  src/shared/config/router/routes.ts
  src/widgets/Collection/ui/CollectionsContent/CollectionsContent.tsx
  src/widgets/Landing/Header/model/constants/headerConstants.ts
  src/widgets/Main/OnboardingModal/ui/FinalStep/NavigationBlock/NavigationBlock.tsx
  src/widgets/interview/PassedQuestionsList/ui/PassedQuestionsItem/PassedQuestionsItem.tsx
  src/widgets/interview/PreviewCollectionsList/ui/PreviewCollectionsList/PreviewCollectionsList.tsx
  src/widgets/interview/QuestionsStatistic/model/lib/getQuestionsStats/getQuestionsStats.ts
  src/widgets/question/QuestionAdditionalInfoDrawer/ui/QuestionAdditionalInfoDrawer.tsx
  src/widgets/question/QuestionsList/ui/PreviewQuestionsList/PreviewQuestionsList.tsx
Due: npm run prettier, npm run lint:ts:fix

Feature/YH-1497 (#993)
  public/locales/en/specialization.json
  public/locales/ru/specialization.json
  src/features/specialization/filterSpecializations/model/hooks/useGetSpecializationsFilterParams.ts
  src/features/specialization/filterSpecializations/model/hooks/useSpecializationsFilters.ts
  src/features/specialization/filterSpecializations/model/types/filters.ts
  src/features/specialization/filterSpecializations/ui/SpecializationsFilters/SpecializationsFilters.tsx
  src/pages/admin/SpecializationsPage/ui/SpecializationsPage/SpecializationsPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1336: move interview questions & collections to wiki section (#996)
  src/app/layouts/MainLayout/model/helper/SkeletonGenerator.tsx
  src/app/providers/router/config/routeConfig.tsx
  src/entities/collection/model/lib/getCollectionRoute.ts
  src/entities/question/model/lib/getQuestionRoute.test.ts
  src/entities/question/model/lib/getQuestionRoute.ts
  src/pages/admin/QuestionPage/QuestionPage.tsx
  src/pages/interview/CollectionsPage/ui/CollectionsPage/CollectionsPage.tsx
  src/pages/interview/QuestionPage/ui/QuestionPage.tsx
  src/pages/landing/PublicQuestionPage/ui/PublicQuestionPage.tsx
  src/shared/config/router/routes.ts
  src/widgets/Collection/ui/CollectionsContent/CollectionsContent.tsx
  src/widgets/Landing/Header/model/constants/headerConstants.ts
  src/widgets/Main/OnboardingModal/ui/FinalStep/NavigationBlock/NavigationBlock.tsx
  src/widgets/interview/PassedQuestionsList/ui/PassedQuestionsItem/PassedQuestionsItem.tsx
  src/widgets/interview/PreviewCollectionsList/ui/PreviewCollectionsList/PreviewCollectionsList.tsx
  src/widgets/interview/QuestionsStatistic/model/lib/getQuestionsStats/getQuestionsStats.ts
  src/widgets/question/QuestionAdditionalInfoDrawer/ui/QuestionAdditionalInfoDrawer.tsx
  src/widgets/question/QuestionsList/ui/PreviewQuestionsList/PreviewQuestionsList.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1479: encapsulate copy button, add test case and skeleton
  src/app/providers/router/config/routeConfig.tsx
  src/pages/admin/CollectionsPage/ui/CollectionsPage/CollectionsPage.skeleton.tsx
  src/pages/admin/CompaniesTablePage/ui/CompaniesTablePage/CompaniesTablePage.skeleton.tsx
  src/pages/admin/QuestionsTablePage/ui/QuestionsTablePage/QuestionsTablePage.skeleton.tsx
  src/pages/admin/SkillsPage/ui/SkillsPage/SkillsPage.skeleton.tsx
  src/pages/admin/SpecializationsPage/ui/SpecializationsPage/SpecializationsPage.skeleton.tsx
  src/pages/admin/UserTablePage/ui/UserTablePage/UsersTablePage.skeleton.tsx
  src/shared/ui/Table/Table.skeleton.tsx
  src/shared/ui/Table/Table.stories.tsx
  src/shared/ui/Table/Table.test.tsx
  src/shared/ui/Table/Table.tsx
  src/widgets/CollectionsTable/ui/CollectionsTable.tsx
  src/widgets/CompaniesTable/ui/CompaniesTable.tsx
  src/widgets/QuestionsTable/ui/QuestionsTable.tsx
  src/widgets/SkillsTable/ui/SkillsTable.tsx
  src/widgets/SpecializationsTable/ui/SpecializationsTable.tsx
  src/widgets/UsersTable/ui/UsersTable.tsx
  src/widgets/resources/ResourceRequestsTable/ui/ResourceRequestsTable.tsx
  src/widgets/resources/ResourcesTable/ui/ResourcesTable.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1479: add CopyButton (#995)
  src/pages/admin/CollectionsPage/ui/CollectionsPage/CollectionsPage.skeleton.tsx
  src/pages/admin/CompaniesTablePage/ui/CompaniesTablePage/CompaniesTablePage.skeleton.tsx
  src/pages/admin/QuestionsTablePage/ui/QuestionsTablePage/QuestionsTablePage.skeleton.tsx
  src/pages/admin/SkillsPage/ui/SkillsPage/SkillsPage.skeleton.tsx
  src/pages/admin/SpecializationsPage/ui/SpecializationsPage/SpecializationsPage.skeleton.tsx
  src/pages/admin/UserTablePage/ui/UserTablePage/UsersTablePage.skeleton.tsx
  src/shared/assets/icons/copy.svg
  src/shared/hooks/index.ts
  src/shared/hooks/useCopy.ts
  src/shared/ui/CopyButton/CopyButton.module.css
  src/shared/ui/CopyButton/CopyButton.tsx
  src/shared/ui/CopyButton/index.ts
  src/shared/ui/CopyButton/types.ts
  src/shared/ui/Icon/icons.ts
  src/shared/ui/Icon/types.ts
  src/shared/ui/Table/Table.skeleton.tsx
  src/shared/ui/Table/Table.stories.tsx
  src/shared/ui/Table/Table.test.tsx
  src/shared/ui/Table/Table.tsx
  src/widgets/CollectionsTable/ui/CollectionsTable.tsx
  src/widgets/CompaniesTable/ui/CompaniesTable.tsx
  src/widgets/QuestionsTable/ui/QuestionsTable.tsx
  src/widgets/SkillsTable/ui/SkillsTable.tsx
  src/widgets/SpecializationsTable/ui/SpecializationsTable.tsx
  src/widgets/UsersTable/ui/UsersTable.tsx
  src/widgets/resources/ResourceRequestsTable/ui/ResourceRequestsTable.tsx
  src/widgets/resources/ResourcesTable/ui/ResourcesTable.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1318: fix route
  src/app/providers/router/config/routeConfig.tsx
  src/features/resources/createResource/api/createResourceApi.ts
  src/pages/wiki/RequestInfoPage/ui/RequestInfoPage.tsx
  src/shared/config/router/routes.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1463: fix edit profile tabs skeleton
  src/features/profile/editProfileForm/model/hooks/useGetEditProfileTabs.tsx
  src/features/profile/editProfileForm/model/types/editProfileTypes.ts
  src/features/profile/editProfileForm/ui/EditProfileForm/EditProfileForm.skeleton.tsx
  src/pages/admin/SkillsPage/ui/SkillsPage/SkillsPage.tsx
  src/pages/profile/EditProfilePage/index.ts
  src/pages/profile/EditProfilePage/ui/EditProfilePage.lazy.ts
  src/pages/profile/EditProfilePage/ui/EditProfilePage.tsx
  src/shared/ui/Tabs/Tabs.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1482: fix selected question filters
  src/features/question/filterQuestions/ui/QuestionRateFilter/QuestionRateFilter.tsx
  src/features/question/filterQuestions/ui/QuestionSortByFieldFilter/QuestionSortByFieldFilter.tsx
  src/shared/ui/OrderFilter/OrderFilter.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1460: fix mentors banner
  public/locales/en/landing.json
  public/locales/ru/landing.json
  src/entities/guru/ui/GurusItem/GurusItem.tsx
  src/shared/assets/images/landing/learning/guru-banner.png
  src/shared/assets/images/landing/learning/mentor-banner.png
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Banner/ui/Banner.module.css
  src/shared/ui/Banner/ui/Banner.tsx
  src/widgets/Landing/GurusBlock/ui/GurusBlock/GurusBlock.tsx
  src/widgets/Landing/MentorsBlock/ui/MentorsBlock/MentorsBlock.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-547: Added testing of the Accordion component
  src/shared/ui/Accordion/model/constans.ts
  src/shared/ui/Accordion/ui/Accordion.test.tsx
  src/shared/ui/Accordion/ui/Accordion.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1486: added tests for flex component and added userRolesMock
  src/entities/user/__mocks__/data/userRolesMock.ts
  src/entities/user/model/constants/userRoleColors.ts
  src/entities/user/model/data/userRolesMock.ts
  src/entities/user/ui/UserRolesList/UserRolesList.test.tsx
  src/entities/user/ui/UserRolesList/UserRolesList.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1451: fix analytics page for unverified
  src/entities/profile/index.ts
  src/entities/profile/model/selectors/profileSelectors.ts
  src/features/question/favoriteQuestion/ui/FavoriteQuestionButton.tsx
  src/features/quiz/learnQuestion/ui/LearnQuestionButton.tsx
  src/features/quiz/resetQuestionStudyProgress/ui/ResetQuestionStudyProgressButton.tsx
  src/features/subscriptions/subscribe/ui/SubscribeButton/SubscribeButton.tsx
  src/features/subscriptions/trial/ui/TrialButton.tsx
  src/pages/analytics/AnalyticsPage/ui/AnalyticsPage.tsx
  src/pages/wiki/MyResourcesPage/ui/MyResourcesPage.tsx
  src/pages/wiki/RequestInfoPage/ui/RequestInfoPage.tsx
  src/pages/wiki/RequestResourceCreatePage/ui/RequestResourceCreatePage.tsx
  src/pages/wiki/RequestResourceEditPage/ui/RequestResourceEditPage.tsx
  src/pages/wiki/ResourcesPage/ui/ResourcesPage.tsx
  src/widgets/interview/InterviewPreparation/ui/InterviewPreparation/InterviewPreparation.tsx
  src/widgets/interview/QuestionsStatistic/ui/PreviewQuestionsStatistic/PreviewQuestionsStatistic.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1459: fix advantages block in learning page
  src/pages/landing/LearningPage/index.ts
  src/pages/landing/LearningPage/ui/LearningPage.lazy.ts
  src/pages/landing/LearningPage/ui/LearningPage.tsx
  src/widgets/Landing/AdvantagesBlock/ui/AdvantagesBlock.module.css
  src/widgets/Landing/AdvantagesBlock/ui/AdvantagesBlock.tsx
  src/widgets/Landing/AdvantagesBlock/ui/AdvantagesList/AdvantagesList.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1425: fix mobile view in account page
  src/widgets/manageProfiles/ui/ManageProfilesHeader/ManageProfilesHeader.module.css
  src/widgets/manageProfiles/ui/ManageProfilesPanel/ManageProfilesPanel.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1504: corrected the header and the specialization page
  src/entities/specialization/ui/SpecializationForm/SpecializationForm.module.css
  src/entities/specialization/ui/SpecializationForm/SpecializationForm.tsx
  src/features/specialization/editSpecialization/ui/SpecializationEditForm/SpecializationEditForm.tsx
  src/features/specialization/editSpecialization/ui/SpecializationEditFormHeader/SpecializationEditFormHeader.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1318: fix error move to landing
  src/app/index.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1486: added tests for UserRolesList component (#992)
  src/entities/user/__mocks__/data/userRolesMock.ts
  src/entities/user/model/constants/userRoleColors.ts
  src/entities/user/ui/UserRolesList/UserRolesList.test.tsx
  src/entities/user/ui/UserRolesList/UserRolesList.tsx
  src/shared/ui/StatusChip/StatusChip.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1492: Added a filter by access category (#997)
  src/entities/collection/ui/ChooseCollectionAccess/ChooseCollectionAccess.tsx
  src/features/collections/filterCollections/model/hooks/useCollectionsFilters.ts
  src/features/collections/filterCollections/model/hooks/useGetCollectionsFilterParams.ts
  src/features/collections/filterCollections/model/types/types.ts
  src/features/collections/filterCollections/ui/CollectionsFilters/CollectionsFilters.tsx
  src/pages/interview/CollectionsPage/ui/CollectionsPage/CollectionsPage.tsx
  src/pages/landing/PublicCollectionsPage/ui/PublicCollectionsPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1542: add i18n keys
  public/locales/en/analytics.json
  public/locales/en/landing.json
  public/locales/ru/analytics.json
  public/locales/ru/landing.json
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1542: fix hh-analytics page
  src/entities/hh/api/hh.ts
  src/entities/hh/index.ts
  src/entities/hh/model/constants/hhConstants.ts
  src/entities/hh/model/types/hh.ts
  src/entities/hhAnalytics/api/hhAnalyticsApi.ts
  src/entities/hhAnalytics/index.ts
  src/features/hhAnalyticsFilters/index.ts
  src/features/hhAnalyticsFilters/model/hooks/useGetHhAnalyticsFilterParams.ts
  src/features/hhAnalyticsFilters/model/hooks/useHhAnalyticsFilters.ts
  src/features/hhAnalyticsFilters/model/types.ts
  src/features/hhAnalyticsFilters/ui/HhAnalyticsFilters/HhAnalyticsFilters.tsx
  src/features/hhAnalyticsFilters/ui/HhAnalyticsModeTabs/HhAnalyticsModeTabs.module.css
  src/features/hhAnalyticsFilters/ui/HhAnalyticsModeTabs/HhAnalyticsModeTabs.tsx
  src/pages/landing/HhAnalyticsPage/ui/HhAnalyticsPage.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1542: add hh-analytics page
  src/app/layouts/LandingLayout/model/helper/SkeletonGenerator.tsx
  src/app/providers/router/config/routeConfig.tsx
  src/entities/hhAnalytics/api/hhAnalyticsApi.ts
  src/entities/hhAnalytics/index.ts
  src/entities/hhAnalytics/model/types/hhAnalytics.ts
  src/pages/landing/HhAnalyticsPage/index.ts
  src/pages/landing/HhAnalyticsPage/ui/AnalyticsPage.skeleton.tsx
  src/pages/landing/HhAnalyticsPage/ui/HhAnalyticsPage.lazy.ts
  src/pages/landing/HhAnalyticsPage/ui/HhAnalyticsPage.module.css
  src/pages/landing/HhAnalyticsPage/ui/HhAnalyticsPage.tsx
  src/shared/config/router/routes.ts
  src/widgets/Landing/Header/model/constants/headerConstants.ts
  src/widgets/analytics/HhAnalyticsTable/index.ts
  src/widgets/analytics/HhAnalyticsTable/ui/HhAnalyticsTable.module.css
  src/widgets/analytics/HhAnalyticsTable/ui/HhAnalyticsTable.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

Feature/YH-1542 (#1005)
  public/locales/en/analytics.json
  public/locales/en/landing.json
  public/locales/ru/analytics.json
  public/locales/ru/landing.json
  src/app/layouts/LandingLayout/model/helper/SkeletonGenerator.tsx
  src/app/providers/router/config/routeConfig.tsx
  src/entities/hh/api/hh.ts
  src/entities/hh/index.ts
  src/entities/hh/model/constants/hhConstants.ts
  src/entities/hh/model/types/hh.ts
  src/features/hhAnalyticsFilters/index.ts
  src/features/hhAnalyticsFilters/model/hooks/useGetHhAnalyticsFilterParams.ts
  src/features/hhAnalyticsFilters/model/hooks/useHhAnalyticsFilters.ts
  src/features/hhAnalyticsFilters/model/types.ts
  src/features/hhAnalyticsFilters/ui/HhAnalyticsFilters/HhAnalyticsFilters.tsx
  src/features/hhAnalyticsFilters/ui/HhAnalyticsModeTabs/HhAnalyticsModeTabs.module.css
  src/features/hhAnalyticsFilters/ui/HhAnalyticsModeTabs/HhAnalyticsModeTabs.tsx
  src/pages/landing/HhAnalyticsPage/index.ts
  src/pages/landing/HhAnalyticsPage/ui/AnalyticsPage.skeleton.tsx
  src/pages/landing/HhAnalyticsPage/ui/HhAnalyticsPage.lazy.ts
  src/pages/landing/HhAnalyticsPage/ui/HhAnalyticsPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
  src/widgets/Landing/Header/model/constants/headerConstants.ts
  src/widgets/analytics/HhAnalyticsTable/index.ts
  src/widgets/analytics/HhAnalyticsTable/ui/HhAnalyticsTable.module.css
  src/widgets/analytics/HhAnalyticsTable/ui/HhAnalyticsTable.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix
