Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

.lintstagedrc:

{
  "./**/*.{ts,tsx,js,jsx}": ["npm run prettier", "npm run lint:ts:fix"],
  "*.css": "npm run lint:css:fix"
}

YH-2005: fix: resolve review comments
  src/entities/auth/index.ts
  src/entities/auth/model/constants/authConstants.ts
  src/entities/user/__mocks__/index.ts
  src/entities/user/index.ts
  src/features/featureFlag/createFeatureFlag/api/__mocks__/createFeatureFlagMock.ts
  src/features/featureFlag/createFeatureFlag/model/constants/createFeatureFlagConstants.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2048: add feature flag for subscription list
  public/locales/en/subscription.json
  public/locales/ru/subscription.json
  src/entities/featureFlag/api/__mocks__/data/featureFlagsMock.ts
  src/entities/featureFlag/model/types/featureFlag.ts
  src/pages/profile/settings/ui/tabs/FreeSubscriptionTab/FreeSubscriptionTab.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2007: fix imports and use calculatePagination
  src/app/msw/handlers.ts
  src/entities/user/__mocks__/index.ts
  src/entities/user/__mocks__/userListMock.ts
  src/entities/user/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2036: fix skeleton components
  src/entities/task/index.ts
  src/entities/task/ui/TaskCategorySelect/TaskCategorySelect.skeleton.tsx
  src/entities/task/ui/TaskForm/TaskForm.skeleton.tsx
  src/entities/task/ui/TaskStructuresField/TaskStructuresField.skeleton.tsx
  src/features/task/createTask/ui/TaskCreateForm/TaskCreateForm.skeleton.tsx
  src/pages/admin/task/taskCreate/ui/TaskCreatePage/TaskCreatePage.skeleton.tsx
  src/shared/ui/Radio/Radio.skeleton.tsx
  src/shared/ui/Radio/index.ts
  src/shared/ui/Range/Range/Range.skeleton.tsx
  src/shared/ui/Range/index.ts
  src/shared/ui/Switch/Switch.skeleton.tsx
  src/shared/ui/Switch/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2005: add mock for create feature flag (#1264)
  src/app/msw/handlers.ts
  src/entities/featureFlag/index.ts
  src/entities/user/__mocks__/index.ts
  src/entities/user/index.ts
  src/features/featureFlag/createFeatureFlag/api/__mocks__/createFeatureFlagMock.ts
  src/features/featureFlag/createFeatureFlag/api/__mocks__/index.ts
  src/features/featureFlag/createFeatureFlag/index.ts
  src/features/featureFlag/createFeatureFlag/model/constants/createFeatureFlagConstants.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2048: resolve review comments (stub rename, move stub, empty roles, removed button)
  public/locales/en/subscription.json
  public/locales/ru/subscription.json
  src/entities/featureFlag/api/__mocks__/data/featureFlagsMock.ts
  src/pages/profile/settings/ui/tabs/FreeSubscriptionTab/FreeSubscriptionTab.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/SubscriptionsList/ui/SubscriptionsList/SubscriptionsList.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2056: add skeleton for TopicCreatePage
  src/app/layouts/MainLayout/SkeletonGenerator/SkeletonGenerator.tsx
  src/entities/skill/@x/topic.ts
  src/entities/topic/index.ts
  src/entities/topic/ui/TopicForm/TopicForm.skeleton.tsx
  src/features/topics/createTopics/index.ts
  src/features/topics/createTopics/ui/TopicCreateForm/TopicCreateForm.skeleton.tsx
  src/features/topics/createTopics/ui/TopicCreateFormHeader/TopicCreateFormHeader.skeleton.tsx
  src/pages/admin/topic/topicCreate/index.ts
  src/pages/admin/topic/topicCreate/ui/TopicCreatePage/TopicCreatePage.skeleton.tsx
  src/shared/ui/TextArea/TextArea.skeleton.tsx
  src/shared/ui/TextArea/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2059: created skeleton for ReferralLinkDetailPage
  src/entities/referralLink/index.ts
  src/entities/referralLink/ui/ReferralLinkCard/ReferralLinkCard.skeleton.tsx
  src/pages/admin/referralLink/ReferalLinkDetail/ui/ReferralLinkDetailPage/ReferralLinkDetailPage.tsx
  src/pages/admin/referralLink/ReferalLinkDetail/ui/ReferralLinkDetailPage/ReferralLinkDetailPageContent.skeleton.tsx
  src/shared/ui/Skeleton/Skeleton.module.css
  src/widgets/referralLink/ReferralLinkAdditionalInfo/index.ts
  src/widgets/referralLink/ReferralLinkAdditionalInfo/ui/ReferralLinkAdditionalInfo.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2057: add SpecializationForm test
  src/entities/specialization/ui/SpecializationForm/SpecializationForm.test.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2049: add skeleton for CollectionCreatePage
  src/app/layouts/MainLayout/SkeletonGenerator/SkeletonGenerator.tsx
  src/entities/collection/index.ts
  src/entities/collection/ui/CollectionForm/CollectionForm.module.css
  src/entities/collection/ui/CollectionForm/CollectionForm.skeleton.tsx
  src/features/collections/createCollection/index.ts
  src/features/collections/createCollection/ui/CollectionCreateForm/CollectionCreateForm.skeleton.tsx
  src/features/collections/createCollection/ui/CollectionCreateFormHeader/CollectionCreateFormHeader.skeleton.tsx
  src/pages/admin/collection/collectionCreate/ui/CollectionCreatePage/CollectionCreatePage.tsx
  src/shared/ui/Button/Button.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2059: revert changes in Skeleton.module.css
  src/shared/ui/Skeleton/Skeleton.module.css
Due: npm run lint:css:fix

YH-2048: fix error
  src/entities/featureFlag/ui/WithFeature/WithFeature.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2048: add feature flag for subscription list (#1278)
  public/locales/en/subscription.json
  public/locales/ru/subscription.json
  src/entities/featureFlag/api/__mocks__/data/featureFlagsMock.ts
  src/entities/featureFlag/model/types/featureFlag.ts
  src/entities/featureFlag/ui/WithFeature/WithFeature.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/SubscriptionsList/ui/SubscriptionsList/SubscriptionsList.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2020: create feature flag for change language (#1271)
  src/entities/featureFlag/api/__mocks__/data/featureFlagsMock.ts
  src/entities/featureFlag/model/constants/featureFlags.ts
  src/entities/featureFlag/model/types/featureFlag.ts
  src/widgets/Header/ui/HeaderLayout/HeaderLayout.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2058: add reusable DeleteButton component to shared/ui
  src/features/collections/deleteCollection/ui/deleteCollectionButton/DeleteCollectionButton.module.css
  src/features/collections/deleteCollection/ui/deleteCollectionButton/DeleteCollectionButton.tsx
  src/features/company/deleteCompany/ui/DeleteCompanyButton/DeleteCompanyButton.tsx
  src/features/featureFlag/deleteFeatureFlag/ui/DeleteFeatureFlagButton.tsx
  src/features/question/deleteQuestion/ui/DeleteQuestionButton/DeleteQuestionButton.module.css
  src/features/question/deleteQuestion/ui/DeleteQuestionButton/DeleteQuestionButton.tsx
  src/features/referralLinks/deleteReferralLink/api/deleteReferralLinkApi.ts
  src/features/referralLinks/deleteReferralLink/index.ts
  src/features/referralLinks/deleteReferralLink/ui/DeleteReferralLinkButton/DeleteReferralLinkButton.tsx
  src/features/referralLinks/deleteReferralLink/ui/DeleteReferralLinkModal/DeleteReferralLinkModal.tsx
  src/features/resources/deleteResource/ui/DeleteResourceButton/DeleteResourceButton.tsx
  src/features/skill/deleteSkill/ui/DeleteSkillButton/DeleteSkillButton.module.css
  src/features/skill/deleteSkill/ui/DeleteSkillButton/DeleteSkillButton.tsx
  src/features/specialization/deleteSpecialization/ui/DeleteSpecializationButton/DeleteSpecializationButton.module.css
  src/features/specialization/deleteSpecialization/ui/DeleteSpecializationButton/DeleteSpecializationButton.tsx
  src/features/task/deleteTask/ui/DeleteTaskButton/DeleteTaskButton.module.css
  src/features/task/deleteTask/ui/DeleteTaskButton/DeleteTaskButton.tsx
  src/features/topics/deleteTopic/ui/DeleteTopicButton/DeleteTopicButton.tsx
  src/pages/admin/referralLink/ReferalLinkDetail/ui/ReferralLinkDetailPage/ReferralLinkDetailPageContent.tsx
  src/pages/admin/referralLink/referralLinks/ui/ReferralLinksTable/ReferralLinksTable.tsx
  src/shared/ui/DeleteButton/DeleteButton.tsx
  src/shared/ui/DeleteButton/index.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2008: Added a mock get subscription payment ID (#1259)
  src/app/msw/handlers.ts
  src/entities/topic/index.ts
  src/features/subscriptions/subscribe/api/__mocks__/data/index.ts
  src/features/subscriptions/subscribe/api/__mocks__/data/paymentsIdMock.ts
  src/features/subscriptions/subscribe/api/__mocks__/index.ts
  src/features/subscriptions/subscribe/api/__mocks__/paymentsIdMock.ts
  src/features/subscriptions/subscribe/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2007: add mock query for user list (#1263)
  src/app/msw/handlers.ts
  src/entities/user/__mocks__/data/usersDataMock.ts
  src/entities/user/__mocks__/index.ts
  src/entities/user/__mocks__/userListMock.ts
  src/entities/user/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1999: update FLex tests (#1251)
  src/entities/topic/index.ts
  src/shared/ui/Flex/Flex.test.tsx
  src/shared/ui/Flex/Flex.tsx
  src/shared/ui/Flex/constants.ts
  src/shared/ui/Flex/types.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2033: add mock request to extract keywords from collections (#1272)
  src/entities/collection/api/__mock__/collectionKeyWordsMock.ts
  src/entities/collection/api/__mock__/data/index.ts
  src/entities/collection/api/__mock__/data/keyWordsMock.ts
  src/entities/collection/api/__mock__/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2058: simplified DeleteButton and update all delete buttons
  src/features/collections/deleteCollection/ui/deleteCollectionButton/DeleteCollectionButton.tsx
  src/features/company/deleteCompany/ui/DeleteCompanyButton/DeleteCompanyButton.tsx
  src/features/featureFlag/deleteFeatureFlag/ui/DeleteFeatureFlagButton.tsx
  src/features/question/deleteQuestion/ui/DeleteQuestionButton/DeleteQuestionButton.tsx
  src/features/referralLinks/deleteReferralLink/ui/DeleteReferralLinkButton/DeleteReferralLinkButton.tsx
  src/features/resources/deleteResource/ui/DeleteResourceButton/DeleteResourceButton.tsx
  src/features/skill/deleteSkill/ui/DeleteSkillButton/DeleteSkillButton.tsx
  src/features/specialization/deleteSpecialization/ui/DeleteSpecializationButton/DeleteSpecializationButton.tsx
  src/features/task/deleteTask/ui/DeleteTaskButton/DeleteTaskButton.tsx
  src/features/topics/deleteTopic/ui/DeleteTopicButton/DeleteTopicButton.tsx
  src/features/topics/deleteTopics/ui/DeleteTopicsButton/DeleteTopicsButton.tsx
  src/pages/admin/topic/topics/ui/TopicsPage/TopicsPage.tsx
  src/shared/ui/DeleteButton/DeleteButton.tsx
  src/widgets/topic/TopicsTable/ui/TopicsTable.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2058: fix
  src/features/topics/deleteTopics/ui/DeleteTopicsButton/DeleteTopicsButton.tsx
  src/pages/admin/topic/topics/ui/TopicsPage/TopicsPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2058: add reusable DeleteButton component to shared/ui (#1283)
  src/features/collections/deleteCollection/ui/deleteCollectionButton/DeleteCollectionButton.module.css
  src/features/collections/deleteCollection/ui/deleteCollectionButton/DeleteCollectionButton.tsx
  src/features/company/deleteCompany/ui/DeleteCompanyButton/DeleteCompanyButton.tsx
  src/features/featureFlag/deleteFeatureFlag/ui/DeleteFeatureFlagButton.tsx
  src/features/question/deleteQuestion/ui/DeleteQuestionButton/DeleteQuestionButton.module.css
  src/features/question/deleteQuestion/ui/DeleteQuestionButton/DeleteQuestionButton.tsx
  src/features/referralLinks/deleteReferralLink/api/deleteReferralLinkApi.ts
  src/features/referralLinks/deleteReferralLink/index.ts
  src/features/referralLinks/deleteReferralLink/ui/DeleteReferralLinkButton/DeleteReferralLinkButton.tsx
  src/features/referralLinks/deleteReferralLink/ui/DeleteReferralLinkModal/DeleteReferralLinkModal.tsx
  src/features/resources/deleteResource/ui/DeleteResourceButton/DeleteResourceButton.tsx
  src/features/skill/deleteSkill/ui/DeleteSkillButton/DeleteSkillButton.module.css
  src/features/skill/deleteSkill/ui/DeleteSkillButton/DeleteSkillButton.tsx
  src/features/specialization/deleteSpecialization/ui/DeleteSpecializationButton/DeleteSpecializationButton.module.css
  src/features/specialization/deleteSpecialization/ui/DeleteSpecializationButton/DeleteSpecializationButton.tsx
  src/features/task/deleteTask/ui/DeleteTaskButton/DeleteTaskButton.module.css
  src/features/task/deleteTask/ui/DeleteTaskButton/DeleteTaskButton.tsx
  src/features/topics/deleteTopic/ui/DeleteTopicButton/DeleteTopicButton.tsx
  src/pages/admin/referralLink/ReferalLinkDetail/ui/ReferralLinkDetailPage/ReferralLinkDetailPageContent.tsx
  src/pages/admin/referralLink/referralLinks/ui/ReferralLinksTable/ReferralLinksTable.tsx
  src/pages/admin/topic/topics/ui/TopicsPage/TopicsPage.tsx
  src/shared/ui/DeleteButton/DeleteButton.tsx
  src/shared/ui/DeleteButton/index.ts
  src/widgets/topic/TopicsTable/ui/TopicsTable.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2006: add mock request to delete feature flag (#1261)
  src/app/msw/handlers.ts
  src/entities/featureFlag/api/__mocks__/index.ts
  src/entities/featureFlag/index.ts
  src/features/featureFlag/deleteFeatureFlag/api/__mocks__/deleteFeatureFlagMock.ts
  src/features/featureFlag/deleteFeatureFlag/api/__mocks__/index.ts
  src/features/featureFlag/deleteFeatureFlag/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2036: add CreateTaskPageSkeleton (#1276)
  src/app/layouts/MainLayout/SkeletonGenerator/SkeletonGenerator.tsx
  src/entities/programmingLanguage/@x/task.ts
  src/entities/task/index.ts
  src/entities/task/ui/TaskCategorySelect/TaskCategorySelect.skeleton.tsx
  src/entities/task/ui/TaskForm/TaskForm.module.css
  src/entities/task/ui/TaskForm/TaskForm.skeleton.tsx
  src/entities/task/ui/TaskStructuresField/TaskStructuresField.skeleton.tsx
  src/features/task/createTask/index.ts
  src/features/task/createTask/ui/TaskCreateForm/TaskCreateForm.skeleton.tsx
  src/pages/admin/task/taskCreate/index.ts
  src/pages/admin/task/taskCreate/ui/TaskCreatePage/TaskCreatePage.skeleton.tsx
  src/shared/ui/FormField/FormField.skeleton.tsx
  src/shared/ui/Radio/Radio.skeleton.tsx
  src/shared/ui/Radio/index.ts
  src/shared/ui/Range/Range/Range.skeleton.tsx
  src/shared/ui/Range/index.ts
  src/shared/ui/Switch/Switch.skeleton.tsx
  src/shared/ui/Switch/index.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2031: add skeleton for ReferralLinkCreatePage (#1266)
  src/app/layouts/MainLayout/SkeletonGenerator/SkeletonGenerator.tsx
  src/entities/referralLink/index.ts
  src/entities/referralLink/ui/ReferralLinkForm/ReferralLinkForm.skeleton.tsx
  src/entities/user/@x/referralLink.ts
  src/features/referralLinks/createReferralLink/index.ts
  src/features/referralLinks/createReferralLink/ui/ReferralLinkCreateForm/ReferralLinkCreateForm.skeleton.tsx
  src/features/referralLinks/createReferralLink/ui/ReferralLinkCreateFormCard/ReferralLinkCreateFormCard.skeleton.tsx
  src/features/referralLinks/createReferralLink/ui/ReferralLinkCreateFormWithHeader/ReferralLinkCreateFormWithHeader.skeleton.tsx
  src/pages/admin/referralLink/ReferralLinkCreate/index.ts
  src/pages/admin/referralLink/ReferralLinkCreate/ui/ReferralLinkCreatePage/ReferralLinkCreatePage.skeleton.tsx
  src/shared/ui/Checkbox/Checkbox.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2009: add mock get user subscription (#1255)
  src/entities/subscription/api/__mocks__/data/subscriptionUserMock.ts
  src/entities/subscription/api/__mocks__/data/subscriptionsMock.ts
  src/entities/subscription/api/__mocks__/index.ts
  src/entities/subscription/api/__mocks__/subscriptionUserIdMock.ts
  src/entities/subscription/model/constants/subscriptionConstants.ts
  src/entities/subscription/model/types/subscription.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2001: add unit tests for ProgrammingLanguageSelect (#1262)
  src/entities/programmingLanguage/ui/ProgrammingLanguageSelect/ProgrammingLanguageSelect.test.tsx
  src/entities/programmingLanguage/ui/ProgrammingLanguageSelect/ProgrammingLanguageSelect.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1935: fix error
  src/entities/featureFlag/api/featureFlagApi.ts
  src/entities/featureFlag/model/constants/featureFlags.ts
  src/pages/admin/featureFlag/featureFlagDetail/ui/FeatureFlagDetailsPage/FeatureFlagDetailsPage.tsx
  src/pages/admin/featureFlag/featureFlagDetail/ui/FeatureFlagDetailsPageContent/FeatureFlagDetailsPageContent.tsx
  src/pages/admin/featureFlag/featureFlags/ui/FeatureFlagPage/FeatureFlagsTablePage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1935: fix error
  src/pages/admin/featureFlag/featureFlags/ui/FeatureFlagPage/FeatureFlagsTablePage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1935: fix error
  src/entities/featureFlag/api/featureFlagApi.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1998: fix from comments
  src/entities/auth/api/__mocks__/data/adminMockResponse.ts
  src/entities/auth/api/__mocks__/data/authorMockResponse.ts
  src/entities/auth/api/__mocks__/data/userFreeMockResponse.ts
  src/entities/auth/api/__mocks__/data/userPremiumMockResponse.ts
  src/entities/auth/api/__mocks__/data/userUnverifiedMockResponse.ts
  src/entities/skill/@x/auth.ts
  src/entities/user/@x/auth.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2023: added feature flag for open/close NY-modal
  src/app/layouts/MainLayout/MainLayout.tsx
  src/entities/featureFlag/api/__mocks__/data/featureFlagsMock.ts
  src/entities/featureFlag/index.ts
  src/entities/featureFlag/model/constants/featureFlags.ts
  src/entities/featureFlag/model/types/featureFlag.ts
  src/entities/topic/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2081: fix imports
  src/entities/featureFlag/index.ts
  src/entities/topic/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2081: delete claude settings
  .claude/settings.local.json
Due: none

Fix/yh 2081 (#1285)
  .claude/settings.local.json
  src/entities/featureFlag/index.ts
  src/entities/topic/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1940: fix ColletionPreview layout and skeleton
  src/entities/collection/ui/CollectionPreview/CollectionPreview.module.css
  src/entities/collection/ui/CollectionPreview/CollectionPreview.sekeleton.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2059: fixed review comments
  src/entities/referralLink/index.ts
  src/entities/referralLink/ui/ReferralLinkCard/ReferralLinkCard.skeleton.tsx
  src/entities/referralLink/ui/ReferralLinkCount/ReferralLinkCount.skeleton.tsx
  src/entities/referralLink/ui/ReferralLinkDate/ReferralLinkDate.skeleton.tsx
  src/entities/referralLink/ui/ReferralLinkOwner/ReferralLinkOwner.skeleton.tsx
  src/entities/referralLink/ui/ReferralLinkSum/ReferralLinkSum.skeleton.tsx
  src/features/referralLinks/deleteReferralLink/index.ts
  src/features/referralLinks/deleteReferralLink/ui/DeleteReferralLinkButton/DeleteReferralLinkButton.skeleton.tsx
  src/pages/admin/referralLink/ReferalLinkDetail/ui/ReferralLinkDetailPage/ReferralLinkDetailPageContent.skeleton.tsx
  src/widgets/referralLink/ReferralLinkAdditionalInfo/ui/ReferralLinkAdditionalInfo.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2076: add Avatar unit tests with 100% coverage
  src/shared/ui/Avatar/Avatar.test.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2077: add test for AuthorInfo
  src/shared/ui/AuthorInfo/AuthorInfo.test.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2003: some fixes
  src/entities/task/ui/TaskCategorySelect/TaskCategorySelect.test.tsx
Due: npm run prettier, npm run lint:ts:fix
