Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

.lintstagedrc:

{
  "./**/*.{ts,tsx,js,jsx}": ["npm run prettier", "npm run lint:ts:fix"],
  "*.css": "npm run lint:css:fix"
}

YH-1298: Made corrections to the resource table
  public/locales/en/resources.json
  public/locales/ru/resources.json
  src/entities/resource/api/__mock__/data/resourcesMock.ts
  src/entities/resource/model/types/resource.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/resources/ResourcesTable/ui/ResourcesTable.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1282: corrected landing page layout - added an additional class for chip
  src/shared/ui/Chip/Chip.module.css
  src/shared/ui/Chip/Chip.tsx
  src/shared/ui/Chip/types.ts
  src/widgets/Landing/AboutQuestionsBlock/ui/SkillChip/SkillChip.tsx
  src/widgets/Landing/AboutQuestionsBlock/ui/SkillsListTicker/SkillsListTicker.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1294: created ResourceEditPage and added it to routes, also changed some locales
  public/locales/en/marketplace.json
  public/locales/en/translation.json
  public/locales/ru/marketplace.json
  public/locales/ru/translation.json
  src/app/providers/router/config/routeConfig.tsx
  src/entities/resource/ui/ResourceForm/ResourceForm.tsx
  src/features/resources/editResource/api/editResourceApi.ts
  src/features/resources/editResource/index.ts
  src/features/resources/editResource/model/constants/editResourceConstants.ts
  src/features/resources/editResource/model/lib/map/toEditFormValues.ts
  src/features/resources/editResource/model/lib/map/toUpdateResourceBody.ts
  src/features/resources/editResource/model/lib/validation/resourceEditSchema.ts
  src/features/resources/editResource/model/types/resourcesEditTypes.ts
  src/features/resources/editResource/ui/ResourceEditForm/ResourceEditForm.module.css
  src/features/resources/editResource/ui/ResourceEditForm/ResourceEditForm.tsx
  src/features/resources/editResource/ui/ResourceEditFormHeader/ResourceEditFormHeader.tsx
  src/pages/admin/ResourceEditPage/index.ts
  src/pages/admin/ResourceEditPage/ui/ResourceEditPage.lazy.tsx
  src/pages/admin/ResourceEditPage/ui/ResourceEditPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1299: refactor clone quiz
  public/locales/en/interviewQuiz.json
  public/locales/ru/interviewQuiz.json
  src/features/quiz/cloneQuiz/index.ts
  src/features/quiz/cloneQuiz/ui/CloneQuizButton/CloneQuizButton.tsx
  src/features/quiz/cloneQuiz/ui/ResetActiveQuizModal/ResetActiveQuizModal.tsx
  src/features/quiz/resetActiveQuizModal/index.ts
  src/features/quiz/resetActiveQuizModal/ui/ResetActiveQuizModal.tsx
  src/pages/interview/InterviewQuizResultPage/ui/InterviewQuizResultPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/interview/PassedQuestionsList/ui/PassedQuestionsList/PassedQuestionsList.module.css
  src/widgets/interview/PassedQuestionsList/ui/PassedQuestionsList/PassedQuestionsList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1285: Fix dropdown clipping inside Card component
  src/features/profile/editProfileForm/ui/EditProfileForm/EditProfileForm.module.css
  src/features/profile/editProfileForm/ui/EditProfileForm/EditProfileForm.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1291: Added popup for keywords
  src/entities/collection/ui/CollectionPreview/CollectionPreview.module.css
  src/entities/collection/ui/CollectionPreview/CollectionPreview.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1287: update interface after successful activation trial subscription
  src/features/subscriptions/subscribe/ui/AgreementForm/AgreementForm.tsx
  src/features/subscriptions/trial/api/getTrial.ts
  src/shared/ui/Tabs/hooks.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1282: corrected landing page layout - added class to increase CSS selector specificity
  src/shared/ui/Chip/Chip.module.css
  src/shared/ui/Chip/Chip.tsx
  src/shared/ui/Chip/types.ts
  src/widgets/Landing/AboutQuestionsBlock/ui/SkillChip/SkillChip.module.css
  src/widgets/Landing/AboutQuestionsBlock/ui/SkillChip/SkillChip.tsx
  src/widgets/Landing/AboutQuestionsBlock/ui/SkillsListTicker/SkillsListTicker.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1299: refactor clone quiz (#825)
  public/locales/en/interviewQuiz.json
  public/locales/ru/interviewQuiz.json
  src/features/quiz/cloneQuiz/index.ts
  src/features/quiz/cloneQuiz/ui/CloneQuizButton/CloneQuizButton.tsx
  src/features/quiz/cloneQuiz/ui/ResetActiveQuizModal/ResetActiveQuizModal.tsx
  src/features/quiz/resetActiveQuizModal/index.ts
  src/features/quiz/resetActiveQuizModal/ui/ResetActiveQuizModal.tsx
  src/pages/interview/InterviewQuizResultPage/ui/InterviewQuizResultPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/interview/PassedQuestionsList/ui/PassedQuestionsList/PassedQuestionsList.module.css
  src/widgets/interview/PassedQuestionsList/ui/PassedQuestionsList/PassedQuestionsList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1285: Fix dropdown clipping inside Card component (#827)
  src/features/profile/editProfileForm/ui/EditProfileForm/EditProfileForm.module.css
  src/features/profile/editProfileForm/ui/EditProfileForm/EditProfileForm.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1270: fixed access for premium collection issues
  src/pages/landing/PublicCollectionPage/ui/PublicCollectionPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1291: Added popup for keywords (#828)
  src/entities/collection/ui/CollectionPreview/CollectionPreview.module.css
  src/entities/collection/ui/CollectionPreview/CollectionPreview.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1287: update interface after successful activation trial subscription (#829)
  src/features/subscriptions/subscribe/ui/AgreementForm/AgreementForm.tsx
  src/features/subscriptions/trial/api/getTrial.ts
  src/shared/ui/Tabs/hooks.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1282: corrected landing page layout (#818)
  public/locales/ru/landing.json
  src/shared/ui/Chip/Chip.module.css
  src/widgets/Landing/AboutQuestionsBlock/ui/SkillChip/SkillChip.module.css
  src/widgets/Landing/AboutQuestionsBlock/ui/SkillsListTicker/SkillsListTicker.tsx
  src/widgets/Landing/BannerBlock/ui/BannerImage/BannerImage.module.css
  src/widgets/Landing/HistoryBlock/ui/HistoryTextBlock/HistoryTextBlock.module.css
  src/widgets/Landing/InterviewTrainerBlock/ui/InterviewCard/InterviewCard.module.css
  src/widgets/Landing/InterviewTrainerBlock/ui/MainBlock/MainBlock.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1292: Fix edit form button (#822)
  src/entities/company/model/types/companyTypes.ts
  src/entities/company/ui/CompanyForm/CompanyForm.tsx
  src/features/company/editCompany/model/lib/validation/companyEditSchema.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1286: Fix all selected checkbox when change page
  src/pages/admin/CompaniesTablePage/ui/CompaniesTablePage/CompaniesTablePage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1298: Renamed the type key to resourceType
  src/widgets/resources/ResourcesTable/ui/ResourcesTable.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1286: Fix checkbox in CollectionsPage
  src/pages/admin/CollectionsPage/ui/CollectionsPage/CollectionsPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1300: added new guru
  src/entities/guru/model/constants/gurus.ts
  src/entities/guru/model/types/guru.ts
  src/entities/guru/ui/GuruSocialsList/GuruSocialsList.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1294: Refactored ResourceEditPage a lot, but still have some issues with types
  src/entities/resource/api/resourceApi.ts
  src/entities/resource/model/constants/resource.ts
  src/entities/resource/model/types/resource.ts
  src/entities/resource/ui/ResourceForm/ResourceForm.tsx
  src/features/resources/createResource/model/lib/validation/resourceCreateSchema.ts
  src/features/resources/editResource/api/editResourceApi.ts
  src/features/resources/editResource/model/constants/editResourceConstants.ts
  src/features/resources/editResource/model/lib/map/toEditFormValues.ts
  src/features/resources/editResource/model/lib/map/toUpdateResourceBody.ts
  src/features/resources/editResource/model/lib/validation/resourceEditSchema.ts
  src/features/resources/editResource/model/types/resourcesEditTypes.ts
  src/features/resources/editResource/ui/ResourceEditForm/ResourceEditForm.tsx
  src/features/resources/editResource/ui/ResourceEditFormHeader/ResourceEditFormHeader.tsx
  src/pages/admin/ResourceEditPage/ui/ResourceEditPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1283: Add break-word rule in Card.module.css
  src/shared/ui/Card/Card.module.css
Due: npm run lint:css:fix

YH-1270: fixed access for premium collection issues
  src/pages/landing/PublicCollectionPage/ui/PublicCollectionPage.tsx
  src/widgets/Collection/ui/CollectionBody/CollectionBody.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1284: fix unique key
  src/entities/socialNetwork/ui/SocialNetWorkList/SocialNetWorkList.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1296: added show to image skill in question
  src/entities/question/index.ts
  src/entities/question/model/lib/getQuestionImage.ts
  src/widgets/question/QuestionHeader/ui/QuestionHeader.tsx
  src/widgets/question/QuestionsList/ui/PreviewQuestionsItem/PreviewQuestionsItem.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1301: hide telegram auth
  src/widgets/authentication/login/ui/LoginCreateForm/LoginCreateForm.tsx
  src/widgets/registration/ui/UserCreateForm.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1301: hide telegram auth (#835)
  src/widgets/authentication/login/ui/LoginCreateForm/LoginCreateForm.tsx
  src/widgets/registration/ui/UserCreateForm.tsx
Due: npm run prettier, npm run lint:ts:fix

k8s save
  Dockerfile
  nginx/custom_body_size.conf
  nginx/yeahub_default.conf
Due: none

Release 1.1.9
  RELEASE_NOTES.md
  package-lock.json
  package.json
Due: none

YH-1300: added new guru (#831)
  src/entities/guru/model/constants/gurus.ts
  src/entities/guru/model/types/guru.ts
  src/entities/guru/ui/GuruSocialsList/GuruSocialsList.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1285: Make dropdown clickable across full width
  src/shared/ui/Dropdown/Select/Select.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1288: Fix shrink icon
  src/shared/ui/Chip/Chip.module.css
Due: npm run lint:css:fix

YH-1285: Fix, add handleClick to constant
  src/shared/ui/Dropdown/Select/Select.tsx
Due: npm run prettier, npm run lint:ts:fix

add workflow for k8s
  .github/workflows/deploy.yml
Due: none

YH-1289: Fix show collections image
  src/widgets/CollectionsTable/ui/CollectionsTable.tsx
Due: npm run prettier, npm run lint:ts:fix

add concurrency
  .github/workflows/deploy.yml
  src/widgets/authentication/login/ui/LoginCreateForm/LoginCreateForm.tsx
  src/widgets/registration/ui/UserCreateForm.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1306: add sidebar menu item
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/app/providers/router/config/routeConfig.tsx
  src/shared/assets/icons/wiki.svg
  src/shared/assets/icons/wikiResources.svg
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1273: added skeleton for resource pages (#815)
  src/entities/resource/index.ts
  src/entities/resource/ui/ResourceCard/ResourceCard.module.css
  src/entities/resource/ui/ResourceCard/ResourceCard.skeleton.tsx
  src/entities/resource/ui/ResourceCard/ResourceCard.tsx
  src/entities/resource/ui/ResourcesFilterSection/ResourcesFilterSection.skeleton.tsx
  src/entities/resource/ui/StatusFilterSection/StatusFilterSection.module.css
  src/entities/resource/ui/StatusFilterSection/StatusFilterSection.skeleton.tsx
  src/pages/landing/PublicMarketplacePage/ui/PublicMarketplacePage.skeleton.tsx
  src/pages/landing/PublicMarketplacePage/ui/PublicMarketplacePage.tsx
  src/widgets/Marketplace/index.ts
  src/widgets/Marketplace/ui/MarketplaceFiltersPanel/MarketplaceFiltersPanel.skeleton.tsx
  src/widgets/Marketplace/ui/RecourcesList/ResourcesList.skeleton.tsx
  src/widgets/Marketplace/ui/ResourcesPagination/ResourcesPagination.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH:1286: When the page is changed, all the checkbox will be canceled (#826)
  src/pages/admin/CollectionsPage/ui/CollectionsPage/CollectionsPage.tsx
  src/pages/admin/CompaniesTablePage/ui/CompaniesTablePage/CompaniesTablePage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1270: fixed access for premium collection issues (#830)
  src/pages/landing/PublicCollectionPage/ui/PublicCollectionPage.tsx
Due: npm run prettier, npm run lint:ts:fix
