Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2219: updated resource headings font size and spacing
  public/locales/ru/resources.json
  src/features/resources/createResource/ui/ResourceCreateFormWithHeader/ResourceCreateFormWithHeader.tsx
  src/features/resources/createResourceRequest/ui/ResourceRequestCreateFormWithHeader/ResourceRequestFormWithHeader.tsx
  src/features/resources/editResource/ui/ResourceEditForm/ResourceEditForm.module.css
  src/features/resources/editResource/ui/ResourceEditForm/ResourceEditForm.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2218: update company form headings
  public/locales/ru/companies.json
  src/entities/company/ui/CompanyForm/CompanyForm.module.css
  src/entities/company/ui/CompanyForm/CompanyForm.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2339: add UploadedResume.tsx and fix API for analysis resume
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/pages/career/resumeAnalyzer/api/resumeAnalyzeApi.ts
  src/pages/career/resumeAnalyzer/model/constants/resumeAnalyzeConstants.ts
  src/pages/career/resumeAnalyzer/model/hooks/useGetUploadedFileDate.ts
  src/pages/career/resumeAnalyzer/ui/ResumeAnalyzerPage/ResumeAnalyzerPage.tsx
  src/pages/career/resumeAnalyzer/ui/UploadResumeForm/UploadResumeForm.tsx
  src/pages/career/resumeAnalyzer/ui/UploadedResume/UploadedFileIcon/UploadedFileIcon.module.css
  src/pages/career/resumeAnalyzer/ui/UploadedResume/UploadedFileIcon/UploadedFileIcon.tsx
  src/pages/career/resumeAnalyzer/ui/UploadedResume/UploadedResume.module.css
  src/pages/career/resumeAnalyzer/ui/UploadedResume/UploadedResume.tsx
  src/shared/assets/icons/index.ts
  src/shared/assets/icons/trashOutline.svg
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/FileLoader/FileLoader.tsx
  src/shared/ui/FileLoader/FileLoaderContent/FileLoaderResumeContent/FileLoaderResumeContent.tsx
  src/shared/ui/Icon/icons.ts
  src/shared/ui/Icon/types.ts
  src/shared/ui/Icons/CheckFilled/CheckFilled.tsx
  src/shared/ui/Icons/CheckFilled/index.ts
  src/shared/ui/Text/Text.module.css
  src/shared/ui/Text/Text.skeleton.tsx
  src/shared/ui/Text/Text.tsx
  src/shared/ui/Text/types.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2339: fix icon import
  src/shared/ui/Icons/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2208: fixed incorrect selected skills after changing specializations
  src/entities/skill/ui/SkillSelect/SkillSelect.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2249: added skeleton for FeatureFlagCreateForm
  src/app/layouts/MainLayout/SkeletonGenerator/SkeletonGenerator.tsx
  src/entities/featureFlag/index.ts
  src/entities/featureFlag/ui/FeatureFlagClientTypeSelect/FeatureFlagClientTypeSelect.skeleton.tsx
  src/entities/featureFlag/ui/FeatureFlagForm/FeatureFlagForm.skeleton.tsx
  src/entities/user/@x/featureFlag.ts
  src/entities/user/index.ts
  src/entities/user/ui/RoleSelect/RoleSelect.skeleton.tsx
  src/features/featureFlag/createFeatureFlag/index.ts
  src/features/featureFlag/createFeatureFlag/ui/FeatureFlagCreateForm/FeatureFlagCreateForm.skeleton.tsx
  src/features/featureFlag/createFeatureFlag/ui/FeatureFlagCreateFormHeader/FeatureFlagCreateFormHeader.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2243: change the skeleton of the missing collection
  src/pages/admin/collection/collectionDetail/ui/CollectionPage/CollectionPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2243: change skeletons for the collections add collection skeleton
  src/pages/admin/collection/collectionDetail/ui/CollectionPage/CollectionPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2334: fixed table-header for companies-list and other similar lists
  src/shared/ui/Table/Table.module.css
  src/widgets/CompaniesTable/ui/CompaniesTable.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2153: add new table component
  src/shared/ui/TableV2/TableBody.tsx
  src/shared/ui/TableV2/TableCell.tsx
  src/shared/ui/TableV2/TableHeader.tsx
  src/shared/ui/TableV2/TableV2.module.css
  src/shared/ui/TableV2/TableV2.tsx
  src/shared/ui/TableV2/index.ts
  src/shared/ui/TableV2/types.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2153: apply new table to analytics page
  src/entities/specialization/ui/SpecializationProgressTable/SpecializationProgressTable.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2334: restored the 'word-break: keep-all' styles
  src/shared/ui/Table/Table.module.css
Due: npm run lint:css:fix

YH-2247: add company create page skeleton
  src/app/layouts/MainLayout/SkeletonGenerator/SkeletonGenerator.tsx
  src/entities/company/index.ts
  src/entities/company/ui/CompanyForm/CompanyForm.skeleton.tsx
  src/features/company/createCompany/index.ts
  src/features/company/createCompany/ui/CompanyCreateForm/CompanyCreateForm.skeleton.tsx
  src/features/company/createCompany/ui/CompanyCreateFormHeader/CompanyCreateFormHeader.skeleton.tsx
  src/pages/admin/company/companyCreate/index.ts
  src/pages/admin/company/companyCreate/ui/CompanyCreatePage/CompanyCreatePage.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1769: fix missing error stub on resource edit page
  src/pages/admin/resource/resourceEdit/ui/ResourceEditPage/ResourceEditPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2334: fixed table-header for companies-list and other similar lists (#1381)
  src/widgets/CompaniesTable/ui/CompaniesTable.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2351: update table
  src/entities/specialization/ui/SpecializationProgressTable/SpecializationProgressTable.tsx
  src/shared/ui/TableV2/TableCell.tsx
  src/shared/ui/TableV2/TableV2.module.css
  src/shared/ui/TableV2/TableV2.tsx
  src/shared/ui/TableV2/types.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2153: add new table component (#1380)
  src/entities/specialization/ui/SpecializationProgressTable/SpecializationProgressTable.tsx
  src/shared/ui/TableV2/TableBody.tsx
  src/shared/ui/TableV2/TableCell.tsx
  src/shared/ui/TableV2/TableHeader.tsx
  src/shared/ui/TableV2/TableV2.module.css
  src/shared/ui/TableV2/TableV2.tsx
  src/shared/ui/TableV2/index.ts
  src/shared/ui/TableV2/types.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2361: add new table to questions table page
  src/pages/admin/question/questions/ui/QuestionsTable/QuestionsTableV2.tsx
  src/pages/admin/question/questions/ui/QuestionsTablePage/QuestionsTablePage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2208: fixed incorrect selected skills after changing specializations (#1376)
  src/entities/skill/ui/SkillSelect/SkillSelect.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2219: updated resource headings font size and spacing (#1373)
  public/locales/ru/resources.json
  src/features/resources/createResource/ui/ResourceCreateFormWithHeader/ResourceCreateFormWithHeader.tsx
  src/features/resources/createResourceRequest/ui/ResourceRequestCreateFormWithHeader/ResourceRequestFormWithHeader.tsx
  src/features/resources/editResource/ui/ResourceEditForm/ResourceEditForm.module.css
  src/features/resources/editResource/ui/ResourceEditForm/ResourceEditForm.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1769: fix error stub to resource request edit page
  src/pages/admin/resource/resourceRequestEdit/ui/ResourceRequestEditPage/ResourceRequestEditPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2209: fix drawer rendering
  src/shared/ui/FiltersDrawer/FiltersDrawer.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2209: add comment
  src/shared/ui/FiltersDrawer/FiltersDrawer.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2274: added UserEditPage skeleton
  src/app/layouts/MainLayout/SkeletonGenerator/SkeletonGenerator.tsx
  src/entities/user/index.ts
  src/entities/user/ui/RoleSelect/RoleSelect.skeleton.tsx
  src/entities/user/ui/UserCard/UserCard.skeleton.tsx
  src/pages/admin/user/userEdit/index.ts
  src/pages/admin/user/userEdit/ui/UserEditPage/UserEditPage.skeleton.tsx
  src/pages/admin/user/userEdit/ui/UserEditPage/UserEditPage.tsx
  src/shared/ui/SelectWithChips/SelectWithChips.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2209: fix drawer rendering (#1385)
  src/shared/ui/FiltersDrawer/FiltersDrawer.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2218: update company form headings (#1374)
  public/locales/ru/companies.json
  src/entities/company/ui/CompanyForm/CompanyForm.module.css
  src/entities/company/ui/CompanyForm/CompanyForm.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2361: revert old page
  src/pages/admin/question/questions/ui/QuestionsTable/QuestionsTableV2.tsx
  src/pages/admin/question/questions/ui/QuestionsTablePage/QuestionsTablePage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2207: fixed skeleton display issue in the QuestionForm.tsx
  src/entities/question/ui/QuestionForm/QuestionForm.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1839: add form reset functionality
  src/entities/topic/ui/TopicForm/TopicForm.tsx
  src/features/featureFlag/createFeatureFlag/ui/FeatureFlagCreateFormHeader/FeatureFlagCreateFormHeader.tsx
  src/features/question/createMultipleQuestions/ui/QuestionCreateMultipleFormHeader/QuestionCreateMultipleFormHeader.tsx
  src/features/specialization/createSpecialization/ui/SpecializationCreateForm/SpecializationCreateForm.tsx
  src/features/specialization/createSpecialization/ui/SpecializationCreateFormHeader/SpecializationCreateFormHeader.tsx
  src/features/specialization/editSpecialization/ui/SpecializationEditFormHeader/SpecializationEditFormHeader.tsx
  src/features/topics/createTopics/ui/TopicCreateForm/TopicCreateForm.tsx
  src/features/topics/createTopics/ui/TopicCreateFormHeader/TopicCreateFormHeader.tsx
  src/features/topics/editTopic/ui/TopicEditFormHeader/TopicEditFormHeader.tsx
  src/pages/admin/user/userEdit/ui/UserEditPage/UserEditPage.tsx
  src/shared/ui/FormCancelButton/FormCancelButton.tsx
  src/shared/ui/FormCancelButton/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1769: fix review comments
  src/pages/admin/resource/resourceEdit/ui/ResourceEditPage/ResourceEditPage.tsx
  src/pages/admin/resource/resourceRequestEdit/ui/ResourceRequestEditPage/ResourceRequestEditPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1769: fix missing error stub on resource edit page (#1383)
  src/pages/admin/resource/resourceRequestEdit/ui/ResourceRequestEditPage/ResourceRequestEditPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2361: add new table to questions table page (#1384)
  src/pages/admin/question/questions/ui/QuestionsTable/QuestionsTableV2.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2247: add company create page skeleton (#1382)
  src/app/layouts/MainLayout/SkeletonGenerator/SkeletonGenerator.tsx
  src/entities/company/index.ts
  src/entities/company/ui/CompanyForm/CompanyForm.skeleton.tsx
  src/features/company/createCompany/index.ts
  src/features/company/createCompany/ui/CompanyCreateForm/CompanyCreateForm.skeleton.tsx
  src/features/company/createCompany/ui/CompanyCreateFormHeader/CompanyCreateFormHeader.skeleton.tsx
  src/pages/admin/company/companyCreate/index.ts
  src/pages/admin/company/companyCreate/ui/CompanyCreatePage/CompanyCreatePage.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2250: fix review comments
  src/pages/admin/featureFlag/featureFlagDetail/ui/FeatureFlagDetailsPageContent/FeatureFlagDetailsPageContent.module.css
  src/pages/admin/featureFlag/featureFlagDetail/ui/FeatureFlagDetailsPageContent/FeatureFlagDetailsPageContent.skeleton.tsx
  src/shared/ui/BaseFilterSection/BaseFilterSection.skeleton.tsx
  src/widgets/Collection/ui/AdditionalInfo/AdditionalInfo.module.css
  src/widgets/Collection/ui/AdditionalInfo/AdditionalInfo.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1839: address review comments
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/features/specialization/createSpecialization/ui/SpecializationCreateFormHeader/SpecializationCreateFormHeader.skeleton.tsx
  src/features/topics/createTopics/ui/TopicCreateFormHeader/TopicCreateFormHeader.skeleton.tsx
  src/features/topics/editTopic/ui/TopicEditFormHeader/TopicEditFormHeader.skeleton.tsx
  src/features/topics/editTopic/ui/TopicEditFormHeader/TopicEditFormHeader.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/FormCancelButton/FormCancelButton.module.css
  src/shared/ui/FormCancelButton/FormCancelButton.skeleton.tsx
  src/shared/ui/FormCancelButton/FormCancelButton.tsx
  src/shared/ui/FormCancelButton/index.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2269: added skeleton for TaskPage
  src/pages/admin/task/taskDetail/ui/TaskAdditionalInfo/TaskAdditionalInfo.skeleton.tsx
  src/pages/admin/task/taskDetail/ui/TaskBody/TaskBody.skeleton.tsx
  src/pages/admin/task/taskDetail/ui/TaskHeader/TaskHeader.skeleton.tsx
  src/pages/admin/task/taskDetail/ui/TaskPage/TaskPage.skeleton.tsx
  src/pages/admin/task/taskDetail/ui/TaskPage/TaskPage.tsx
  src/pages/admin/task/taskDetail/ui/TaskPageContent/TaskPageContent.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1839: add form reset functionality (#1388)
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/entities/topic/ui/TopicForm/TopicForm.tsx
  src/features/featureFlag/createFeatureFlag/ui/FeatureFlagCreateFormHeader/FeatureFlagCreateFormHeader.tsx
  src/features/question/createMultipleQuestions/ui/QuestionCreateMultipleFormHeader/QuestionCreateMultipleFormHeader.tsx
  src/features/specialization/createSpecialization/ui/SpecializationCreateForm/SpecializationCreateForm.tsx
  src/features/specialization/createSpecialization/ui/SpecializationCreateFormHeader/SpecializationCreateFormHeader.skeleton.tsx
  src/features/specialization/createSpecialization/ui/SpecializationCreateFormHeader/SpecializationCreateFormHeader.tsx
  src/features/specialization/editSpecialization/ui/SpecializationEditFormHeader/SpecializationEditFormHeader.tsx
  src/features/topics/createTopics/ui/TopicCreateForm/TopicCreateForm.tsx
  src/features/topics/createTopics/ui/TopicCreateFormHeader/TopicCreateFormHeader.skeleton.tsx
  src/features/topics/createTopics/ui/TopicCreateFormHeader/TopicCreateFormHeader.tsx
  src/features/topics/editTopic/ui/TopicEditFormHeader/TopicEditFormHeader.skeleton.tsx
  src/features/topics/editTopic/ui/TopicEditFormHeader/TopicEditFormHeader.tsx
  src/pages/admin/user/userEdit/ui/UserEditPage/UserEditPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/FormCancelButton/FormCancelButton.module.css
  src/shared/ui/FormCancelButton/FormCancelButton.skeleton.tsx
  src/shared/ui/FormCancelButton/FormCancelButton.tsx
  src/shared/ui/FormCancelButton/index.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2269: added skeleton for TaskPage
  src/pages/admin/task/taskDetail/ui/TaskAdditionalInfo/TaskAdditionalInfo.skeleton.tsx
  src/pages/admin/task/taskDetail/ui/TaskAdditionalInfoDrawer/TaskAdditionalInfoDrawer.skeleton.tsx
  src/pages/admin/task/taskDetail/ui/TaskBody/TaskBody.skeleton.tsx
  src/pages/admin/task/taskDetail/ui/TaskHeader/TaskHeader.skeleton.tsx
  src/pages/admin/task/taskDetail/ui/TaskPage/TaskPage.skeleton.tsx
  src/pages/admin/task/taskDetail/ui/TaskPageContent/TaskPageContent.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2178: added information to the skill page, fixed skill card creation (#1356)
  public/locales/en/skill.json
  public/locales/ru/skill.json
  src/entities/skill/ui/SkillAdditionalInfo/SkillAdditionalInfo.module.css
  src/entities/skill/ui/SkillAdditionalInfo/SkillAdditionalInfo.tsx
  src/entities/skill/ui/SkillCard/SkillCard.module.css
  src/entities/skill/ui/SkillCard/SkillCard.tsx
  src/features/skill/createSkill/lib/validation/skillCreateSchema.ts
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2269: added skeleton for TaskPage (#1389)
  src/pages/admin/task/taskDetail/ui/TaskAdditionalInfo/TaskAdditionalInfo.skeleton.tsx
  src/pages/admin/task/taskDetail/ui/TaskAdditionalInfoDrawer/TaskAdditionalInfoDrawer.skeleton.tsx
  src/pages/admin/task/taskDetail/ui/TaskBody/TaskBody.skeleton.tsx
  src/pages/admin/task/taskDetail/ui/TaskHeader/TaskHeader.skeleton.tsx
  src/pages/admin/task/taskDetail/ui/TaskPage/TaskPage.skeleton.tsx
  src/pages/admin/task/taskDetail/ui/TaskPage/TaskPage.tsx
  src/pages/admin/task/taskDetail/ui/TaskPageContent/TaskPageContent.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix

Path conditions:
  npm run prettier: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:ts:fix: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:css:fix: any of: *.css
