Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2201: Enhancements for multiple entity deletion
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/features/company/deleteCompanies/ui/DeleteCompaniesButton/DeleteCompaniesButton.tsx
  src/features/question/deleteQuestions/ui/DeleteQuestionsButton/DeleteQuestionsButton.tsx
  src/features/skill/deleteSkills/ui/DeleteSkillsButton/DeleteSkillsButton.tsx
  src/features/specialization/deleteSpecializations/ui/DeleteSpecializationsButton/DeleteSpecializationsButton.tsx
  src/features/task/deleteTasks/ui/DeleteTasksButton/DeleteTasksButton.tsx
  src/features/topics/deleteTopics/ui/DeleteTopicsButton/DeleteTopicsButton.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/RemoveButton/index.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2171: fixed
  public/locales/en/vacancies.json
  public/locales/ru/vacancies.json
Due: none

YH-2171: fixed mobile styles
  src/entities/vacancy/ui/VacancyHeader/VacancyHeader.tsx
  src/entities/vacancy/ui/VacancySource/VacancySource.module.css
  src/entities/vacancy/ui/VacancySource/VacancySource.tsx
  src/entities/vacancy/ui/VacancyTags/VacancyTags.module.css
  src/entities/vacancy/ui/VacancyTags/VacancyTags.tsx
  src/pages/vacancies/vacancy/ui/VacancyPage/VacancyPage.tsx
  src/widgets/interview/CompanyInterviewCollections/ui/CompanyInterviewCollections.module.css
  src/widgets/interview/CompanyInterviewCollections/ui/CompanyInterviewCollections.tsx
  src/widgets/task/CompanyTasks/ui/CompanyTasks.module.css
  src/widgets/task/CompanyTasks/ui/CompanyTasks.tsx
  src/widgets/vacancy/VacancyMainInfo/ui/VacancyMainInfo.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2198: add a link to user page in UsersRatingTable
  src/pages/analytics/usersRating/ui/UsersRatingTable/UsersRatingTable.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2198: add hasPremiumAccess check for useGetUserProfilePositionQuery
  src/pages/analytics/usersRating/ui/UsersRatingPage/UsersRatingPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2198: add a subscription check on the UsersRatingPage and links in the UsersRatingTable (#1336)
  src/pages/analytics/usersRating/ui/UsersRatingPage/UsersRatingPage.tsx
  src/pages/analytics/usersRating/ui/UsersRatingTable/UsersRatingTable.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2174: refactor SpecializationForm component (#1319)
  src/entities/specialization/ui/SpecializationForm/SpecializationForm.module.css
  src/entities/specialization/ui/SpecializationForm/SpecializationForm.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2077: add test for AuthorInfo (#1287)
  src/shared/ui/AuthorInfo/AuthorInfo.test.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2049: fix
  src/entities/collection/ui/CollectionForm/CollectionForm.module.css
  src/entities/collection/ui/CollectionForm/CollectionForm.skeleton.tsx
  src/entities/collection/ui/CollectionForm/CollectionForm.tsx
  src/entities/task/ui/ChooseTasksDrawer/ChooseTasksDrawer.skeleton.tsx
  src/pages/admin/collection/collectionCreate/ui/CollectionCreatePage/CollectionCreatePage.tsx
  src/shared/ui/Button/Button.skeleton.tsx
  src/shared/ui/TextArea/TextArea.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2179: remove isLimitSize, className and styles in the TableCellWithTooltip component
  src/shared/ui/TableCellWithTooltip/TableCellWithTooltip.module.css
  src/shared/ui/TableCellWithTooltip/TableCellWithTooltip.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2179: move outside the td tag in the TableCellWithTooltip component
  src/pages/admin/skill/skills/ui/SkillsTable/SkillsTable.tsx
  src/shared/ui/TableCellWithTooltip/TableCellWithTooltip.tsx
Due: npm run prettier, npm run lint:ts:fix

Release 1.12.0
  RELEASE_NOTES.md
  package-lock.json
  package.json
Due: none

YH-2210: Added loading skeletons for the Skill Create page
  src/app/layouts/MainLayout/SkeletonGenerator/SkeletonGenerator.tsx
  src/entities/skill/index.ts
  src/entities/skill/ui/SkillForm/SkillForm.module.css
  src/entities/skill/ui/SkillForm/SkillForm.skeleton.tsx
  src/entities/specialization/@x/skill.ts
  src/features/skill/createSkill/index.ts
  src/features/skill/createSkill/ui/SkillCreateForm/SkillCreateForm.skeleton.tsx
  src/pages/admin/skill/skillCreate/index.ts
  src/pages/admin/skill/skillCreate/ui/SkillCreatePage/SkillCreatePage.skeleton.tsx
  src/shared/ui/ImageLoaderWithoutCropper/ImageLoaderWithoutCropper.skeleton.tsx
  src/shared/ui/ImageLoaderWithoutCropper/index.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2201: changing the target component's props
  src/features/company/deleteCompanies/ui/DeleteCompaniesButton/DeleteCompaniesButton.tsx
  src/features/question/deleteQuestions/ui/DeleteQuestionsButton/DeleteQuestionsButton.tsx
  src/features/skill/deleteSkills/ui/DeleteSkillsButton/DeleteSkillsButton.tsx
  src/features/specialization/deleteSpecializations/ui/DeleteSpecializationsButton/DeleteSpecializationsButton.tsx
  src/features/task/deleteTasks/ui/DeleteTasksButton/DeleteTasksButton.tsx
  src/features/topics/deleteTopics/ui/DeleteTopicsButton/DeleteTopicsButton.tsx
  src/shared/ui/DeleteMultiplyEntitiesButton/index.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2049: add skeleton for CollectionCreatePage (#1282)
  src/app/layouts/MainLayout/SkeletonGenerator/SkeletonGenerator.tsx
  src/entities/collection/index.ts
  src/entities/collection/ui/CollectionForm/CollectionForm.module.css
  src/entities/collection/ui/CollectionForm/CollectionForm.skeleton.tsx
  src/entities/collection/ui/CollectionForm/CollectionForm.tsx
  src/entities/company/@x/collection.ts
  src/entities/company/index.ts
  src/entities/company/ui/CompanySelect/CompanySelect.skeleton.tsx
  src/entities/question/@x/collection.ts
  src/entities/question/index.ts
  src/entities/question/ui/ChooseQuestionsDrawer/ChooseQuestionsDrawer.skeleton.tsx
  src/entities/specialization/@x/collection.ts
  src/entities/task/@x/collection.ts
  src/entities/task/index.ts
  src/entities/task/ui/ChooseTasksDrawer/ChooseTasksDrawer.skeleton.tsx
  src/entities/task/ui/ChooseTasksDrawer/index.ts
  src/features/collections/createCollection/index.ts
  src/features/collections/createCollection/ui/CollectionCreateForm/CollectionCreateForm.skeleton.tsx
  src/features/collections/createCollection/ui/CollectionCreateFormHeader/CollectionCreateFormHeader.skeleton.tsx
  src/shared/ui/Button/Button.skeleton.tsx
  src/shared/ui/Flex/Flex.module.css
  src/shared/ui/Flex/constants.ts
  src/shared/ui/Flex/types.ts
  src/shared/ui/FormField/FormField.skeleton.tsx
  src/shared/ui/ImageLoaderWithoutCropper/ImageLoaderWithoutCropper.module.css
  src/shared/ui/ImageLoaderWithoutCropper/ImageLoaderWithoutCropper.skeleton.tsx
  src/shared/ui/ImageLoaderWithoutCropper/index.ts
  src/shared/ui/ImageWithWrapper/ImageWithWrapper.skeleton.tsx
  src/shared/ui/KeywordInput/KeywordInput.skeleton.tsx
  src/shared/ui/SelectWithChips/SelectWithChips.skeleton.tsx
  src/shared/ui/SelectWithChips/index.ts
  src/shared/ui/Skeleton/Skeleton.tsx
  src/shared/ui/TextArea/TextArea.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2199: add fixes for the user rating widget
  src/widgets/analytics/UsersRatingWidget/ui/UserRatingItem/UserRatingItem.tsx
  src/widgets/analytics/UsersRatingWidget/ui/UsersRatingWidget/UsersRatingWidget.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2228: add validation for required subscription fields
  src/features/subscriptions/subscribe/model/validation/subscriptionAgreeSchema.ts
  src/features/subscriptions/subscribe/ui/SubscribeModal/SubscribeModal.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1564: fix
  src/app/layouts/MainLayout/SkeletonGenerator/SkeletonGenerator.tsx
  src/pages/analytics/difficultQuestions/index.ts
  src/pages/analytics/difficultQuestions/ui/DifficultQuestionsPage/DifficultQuestionsPage.skeleton.tsx
  src/pages/analytics/difficultQuestions/ui/DifficultQuestionsPage/DifficultQuestionsPage.tsx
  src/pages/analytics/popularQuestions/index.ts
  src/pages/analytics/popularQuestions/ui/PopularQuestionsPage/PopularQuestionsPage.skeleton.tsx
  src/pages/analytics/popularQuestions/ui/PopularQuestionsPage/PopularQuestionsPage.tsx
  src/pages/analytics/popularSkills/index.ts
  src/pages/analytics/popularSkills/ui/PopularSkillsPage/PopularSkillsPage.skeleton.tsx
  src/pages/analytics/popularSkills/ui/PopularSkillsPage/PopularSkillsPage.tsx
  src/pages/analytics/progressSpecializations/index.ts
  src/pages/analytics/progressSpecializations/ui/ProgressSpecializationsPage/ProgressSpecializationsPage.skeleton.tsx
  src/pages/analytics/progressSpecializations/ui/ProgressSpecializationsPage/ProgressSpecializationsPage.tsx
  src/pages/analytics/skillsProficiency/index.ts
  src/pages/analytics/skillsProficiency/ui/SkillsProficiencyPage/SkillsProficiencyPage.skeleton.tsx
  src/pages/analytics/skillsProficiency/ui/SkillsProficiencyPage/SkillsProficiencyPage.tsx
  src/widgets/analytics/AnalyticPageTemplate/ui/AnalyticPageTemplate/AnalyticPageTemplate.skeleton.tsx
  src/widgets/analytics/AnalyticPageTemplate/ui/AnalyticPageTemplateMobileList/AnalyticPageTemplateMobileList.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1564: add skeleton for analytics pages (#1240)
  src/app/layouts/MainLayout/SkeletonGenerator/SkeletonGenerator.tsx
  src/pages/analytics/difficultQuestions/index.ts
  src/pages/analytics/difficultQuestions/ui/DifficultQuestionsPage/DifficultQuestionsPage.skeleton.tsx
  src/pages/analytics/difficultQuestions/ui/DifficultQuestionsPage/DifficultQuestionsPage.tsx
  src/pages/analytics/popularQuestions/index.ts
  src/pages/analytics/popularQuestions/ui/PopularQuestionsPage/PopularQuestionsPage.skeleton.tsx
  src/pages/analytics/popularQuestions/ui/PopularQuestionsPage/PopularQuestionsPage.tsx
  src/pages/analytics/popularSkills/index.ts
  src/pages/analytics/popularSkills/ui/PopularSkillsPage/PopularSkillsPage.skeleton.tsx
  src/pages/analytics/popularSkills/ui/PopularSkillsPage/PopularSkillsPage.tsx
  src/pages/analytics/progressSpecializations/index.ts
  src/pages/analytics/progressSpecializations/ui/ProgressSpecializationsPage/ProgressSpecializationsPage.skeleton.tsx
  src/pages/analytics/progressSpecializations/ui/ProgressSpecializationsPage/ProgressSpecializationsPage.tsx
  src/pages/analytics/skillsProficiency/index.ts
  src/pages/analytics/skillsProficiency/ui/SkillsProficiencyPage/SkillsProficiencyPage.skeleton.tsx
  src/pages/analytics/skillsProficiency/ui/SkillsProficiencyPage/SkillsProficiencyPage.tsx
  src/shared/ui/Table/Table.skeleton.tsx
  src/widgets/analytics/AnalyticPageTemplate/index.ts
  src/widgets/analytics/AnalyticPageTemplate/ui/AnalyticPageTemplate/AnalyticPageTemplate.skeleton.tsx
  src/widgets/analytics/AnalyticPageTemplate/ui/AnalyticPageTemplateMobileList/AnalyticPageTemplateMobileList.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2226: added emails domen validation for password recovery page
  src/widgets/authentication/forgotPassword/lib/validation/forgotPasswordSchema.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2215: add question form titles
  public/locales/en/questions.json
  public/locales/ru/questions.json
  src/entities/question/ui/QuestionForm/QuestionForm.module.css
  src/entities/question/ui/QuestionForm/QuestionForm.tsx
  src/features/question/editQuestion/ui/QuestionEditForm/QuestionEditForm.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2241: Page limit for the author
  public/locales/en/collection.json
  public/locales/en/companies.json
  public/locales/en/questions.json
  public/locales/en/resources.json
  public/locales/en/skill.json
  public/locales/en/specialization.json
  public/locales/en/task.json
  public/locales/en/topic.json
  public/locales/ru/collection.json
  public/locales/ru/companies.json
  public/locales/ru/questions.json
  public/locales/ru/resources.json
  public/locales/ru/skill.json
  public/locales/ru/specialization.json
  public/locales/ru/task.json
  public/locales/ru/topic.json
  src/pages/admin/collection/collectionEdit/ui/CollectionEditPage/CollectionEditPage.tsx
  src/pages/admin/company/companyEdit/ui/CompanyEditPage/CompanyEditPage.tsx
  src/pages/admin/question/questionEdit/ui/QuestionEditPage/QuestionEditPage.tsx
  src/pages/admin/resource/resourceEdit/ui/ResourceEditPage/ResourceEditPage.tsx
  src/pages/admin/skill/skillEdit/ui/SkillEditPage/SkillEditPage.tsx
  src/pages/admin/specialization/specializationEdit/ui/SpecializationEditPage/SpecializationEditPage.tsx
  src/pages/admin/topic/topicEdit/ui/TopicEditPage/TopicEditPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/EditAccessGuard/index.ts
  src/widgets/EditAccessGuard/ui/AuthorEditRestriction.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2215: add question form titles (#1344)
  public/locales/en/questions.json
  public/locales/ru/questions.json
  src/entities/question/ui/QuestionForm/QuestionForm.module.css
  src/entities/question/ui/QuestionForm/QuestionForm.tsx
  src/features/question/editQuestion/ui/QuestionEditForm/QuestionEditForm.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2228: add validation for required subscription fields (#1341)
  src/features/subscriptions/subscribe/model/validation/subscriptionAgreeSchema.ts
  src/features/subscriptions/subscribe/ui/SubscribeModal/SubscribeModal.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2226: Added email validation to all input fields where an email address is required
  src/features/profile/editProfileForm/lib/validation/editProfileSchema.ts
  src/features/subscriptions/subscribe/model/validation/subscriptionAgreeSchema.ts
  src/widgets/authentication/forgotPassword/lib/validation/forgotPasswordSchema.ts
  src/widgets/authentication/login/lib/validation/loginSchema.ts
  src/widgets/authentication/registration/lib/validation/registerSchema.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2241: Added an admin check and fixed text storage objects
  public/locales/en/collection.json
  public/locales/en/companies.json
  public/locales/en/questions.json
  public/locales/en/resources.json
  public/locales/en/specialization.json
  public/locales/en/task.json
  public/locales/en/topic.json
  public/locales/ru/collection.json
  public/locales/ru/companies.json
  public/locales/ru/questions.json
  public/locales/ru/resources.json
  public/locales/ru/specialization.json
  public/locales/ru/task.json
  public/locales/ru/topic.json
  src/entities/profile/index.ts
  src/entities/profile/model/selectors/profileSelectors.ts
  src/pages/admin/collection/collectionEdit/ui/CollectionEditPage/CollectionEditPage.tsx
  src/pages/admin/company/companyEdit/ui/CompanyEditPage/CompanyEditPage.tsx
  src/pages/admin/question/questionEdit/ui/QuestionEditPage/QuestionEditPage.tsx
  src/pages/admin/resource/resourceEdit/ui/ResourceEditPage/ResourceEditPage.tsx
  src/pages/admin/skill/skillEdit/ui/SkillEditPage/SkillEditPage.tsx
  src/pages/admin/specialization/specializationEdit/ui/SpecializationEditPage/SpecializationEditPage.tsx
  src/pages/admin/topic/topicEdit/ui/TopicEditPage/TopicEditPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/EditAccessGuard/index.ts
  src/widgets/EditAccessGuard/ui/EditAccessGuard.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2229: Added MSW handler to get a list of user roles
  src/entities/user/__mocks__/index.ts
  src/entities/user/__mocks__/userRolesListMock.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2229: Export user roles mock handler
  src/entities/user/__mocks__/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2229: fix index.ts
  src/entities/user/__mocks__/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2216: Increased heading size, added spacing, and changed the text.
  public/locales/ru/specialization.json
  src/entities/specialization/ui/SpecializationForm/SpecializationForm.module.css
  src/entities/specialization/ui/SpecializationForm/SpecializationForm.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2178: add skill additional info widget (entities)
  src/entities/skill/ui/SkillAdditionalInfo/SkillAdditionalInfo.module.css
  src/entities/skill/ui/SkillAdditionalInfo/SkillAdditionalInfo.tsx
  src/entities/skill/ui/SkillCard/SkillCard.module.css
  src/entities/skill/ui/SkillCard/SkillCard.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2232: add skeletons for the UserDetailPage and UserCard components
  src/entities/user/index.ts
  src/entities/user/ui/UserCard/UserCard.skeleton.tsx
  src/pages/admin/user/userDetail/ui/UserDetailPage/UserDetailPage.skeleton.tsx
  src/pages/admin/user/userDetail/ui/UserDetailPage/UserDetailPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2232: fix incorrect address inputs behavior on mobile devices
  src/entities/user/ui/UserCard/UserCard.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2232: fix BackButton skeleton border-radius
  src/shared/ui/BackButton/BackButton.skeleton.tsx
  src/shared/ui/IconButton/IconButton.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2178: added author name display
  src/entities/skill/ui/SkillAdditionalInfo/SkillAdditionalInfo.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2242: added missing translations for empty collection stub
  public/locales/en/translation.json
  public/locales/ru/translation.json
Due: none

YH-2241: Page limit for the author (#1345)
  public/locales/en/collection.json
  public/locales/en/companies.json
  public/locales/en/questions.json
  public/locales/en/resources.json
  public/locales/en/skill.json
  public/locales/en/specialization.json
  public/locales/en/task.json
  public/locales/en/topic.json
  public/locales/ru/collection.json
  public/locales/ru/companies.json
  public/locales/ru/questions.json
  public/locales/ru/resources.json
  public/locales/ru/skill.json
  public/locales/ru/specialization.json
  public/locales/ru/task.json
  public/locales/ru/topic.json
  src/entities/profile/index.ts
  src/entities/profile/model/selectors/profileSelectors.ts
  src/pages/admin/collection/collectionEdit/ui/CollectionEditPage/CollectionEditPage.tsx
  src/pages/admin/company/companyEdit/ui/CompanyEditPage/CompanyEditPage.tsx
  src/pages/admin/question/questionEdit/ui/QuestionEditPage/QuestionEditPage.tsx
  src/pages/admin/resource/resourceEdit/ui/ResourceEditPage/ResourceEditPage.tsx
  src/pages/admin/skill/skillEdit/ui/SkillEditPage/SkillEditPage.tsx
  src/pages/admin/specialization/specializationEdit/ui/SpecializationEditPage/SpecializationEditPage.tsx
  src/pages/admin/topic/topicEdit/ui/TopicEditPage/TopicEditPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/EditAccessGuard/index.ts
  src/widgets/EditAccessGuard/ui/EditAccessGuard.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2023: added feature flag for open/close NY-modal (#1284)
  src/app/layouts/MainLayout/MainLayout.tsx
  src/entities/featureFlag/api/__mocks__/data/featureFlagsMock.ts
  src/entities/featureFlag/model/constants/featureFlags.ts
  src/entities/featureFlag/model/types/featureFlag.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2022: fix
  src/entities/featureFlag/api/__mocks__/data/featureFlagsMock.ts
  src/entities/featureFlag/model/constants/featureFlags.ts
  src/entities/featureFlag/ui/WithFeature/WithFeature.tsx
Due: npm run prettier, npm run lint:ts:fix

Path conditions:
  npm run prettier: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:ts:fix: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:css:fix: any of: *.css
