Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2387: formatted table data for default cell rendering
  src/pages/admin/specialization/specializations/ui/SpecializationsTable/SpecializationsTable.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2338: migrated SkillsTable to TableV2 component
  src/app/providers/router/routeConfig.tsx
  src/features/skill/createSkill/api/createSkillApi.ts
  src/features/skill/deleteSkill/index.ts
  src/features/skill/editSkill/api/editSkillApi.ts
  src/pages/admin/question/questions/ui/QuestionsTable/QuestionsTable.tsx
  src/pages/admin/skill/skills/ui/SkillsTable/SkillsTable.tsx
  src/shared/config/router/routes.ts
  src/widgets/question/GeneratedQuestionsWidget/ui/GeneratedQuestionsTable/GeneratedQuestionsTable.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2388: Removed redundant date conversion logic and moved it to the initial table data mapping.
  src/pages/admin/skill/skills/ui/SkillsTable/SkillsTable.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2388: migrated SkillsTable to TableV2 component
  src/app/providers/router/routeConfig.tsx
  src/features/skill/createSkill/api/createSkillApi.ts
  src/features/skill/deleteSkill/index.ts
  src/features/skill/editSkill/api/editSkillApi.ts
  src/pages/admin/question/questions/ui/QuestionsTable/QuestionsTable.tsx
  src/pages/admin/skill/skills/ui/SkillsTable/SkillsTable.tsx
  src/shared/config/router/routes.ts
  src/widgets/question/GeneratedQuestionsWidget/ui/GeneratedQuestionsTable/GeneratedQuestionsTable.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2321: fix
  public/locales/en/vacanciesMarket.json
  public/locales/ru/vacanciesMarket.json
  src/app/providers/router/routeConfig.tsx
  src/entities/vacancy/api/vacancyMarketApi.ts
  src/entities/vacancy/index.ts
  src/entities/vacancy/model/constants/vacancyMarket.ts
  src/entities/vacancy/model/types/vacancyMarket.ts
  src/entities/vacancy/ui/VacancyKeywordsList/VacancyKeywordsList.module.css
  src/entities/vacancy/ui/VacancyKeywordsList/VacancyKeywordsList.tsx
  src/pages/career/vacanciesMarket/api/vacanciesMarketApi.ts
  src/pages/career/vacanciesMarket/index.ts
  src/pages/career/vacanciesMarket/model/constants/vacanciesMarket.ts
  src/pages/career/vacanciesMarket/model/types/vacanciesMarket.ts
  src/pages/career/vacanciesMarket/ui/VacanciesMarketCard/VacanciesMarketCard.module.css
  src/pages/career/vacanciesMarket/ui/VacanciesMarketCard/VacanciesMarketCard.tsx
  src/pages/career/vacanciesMarket/ui/VacanciesMarketPage/VacanciesMarketPage.lazy.ts
  src/pages/career/vacanciesMarket/ui/VacanciesMarketPage/VacanciesMarketPage.module.css
  src/pages/career/vacanciesMarket/ui/VacanciesMarketPage/VacanciesMarketPage.tsx
  src/pages/career/vacancyMarket/ui/VacancyMarketCard/VacancyMarketCard.module.css
  src/pages/career/vacancyMarket/ui/VacancyMarketCard/VacancyMarketCard.tsx
  src/pages/career/vacancyMarket/ui/VacancyMarketCardHeader/VacancyMarketCardHeader.module.css
  src/pages/career/vacancyMarket/ui/VacancyMarketCardHeader/VacancyMarketCardHeader.tsx
  src/pages/career/vacancyMarket/ui/VacancyMarketKeywords/VacancyMarketKeywords.tsx
  src/pages/career/vacancyMarket/ui/VacancyMarketNote/VacancyMarketNote.module.css
  src/pages/career/vacancyMarket/ui/VacancyMarketNote/VacancyMarketNote.tsx
  src/pages/career/vacancyMarket/ui/VacancyMarketPage/VacancyMarketPage.tsx
  src/pages/career/vacancyMarket/ui/VacancyMarketPageContent/VacancyMarketPageContent.tsx
  src/pages/career/vacancyMarket/ui/VacancyMarketPageContentHeader/VacancyMarketPageContentHeader.module.css
  src/pages/career/vacancyMarket/ui/VacancyMarketPageContentHeader/VacancyMarketPageContentHeader.tsx
  src/pages/career/vacancyMarket/ui/VacancyMarketSkills/VacancyMarketSkills.module.css
  src/pages/career/vacancyMarket/ui/VacancyMarketSkills/VacancyMarketSkills.tsx
  src/pages/career/vacancyMarket/ui/VacancyMarketSpecializationList/VacancyMarketSpecializationList.module.css
  src/pages/career/vacancyMarket/ui/VacancyMarketSpecializationList/VacancyMarketSpecializationList.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
  src/shared/ui/Card/Card.tsx
  src/shared/ui/ProgressBar/ProgressBar.module.css
  src/shared/ui/ProgressBar/ProgressBar.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2321: fix
  src/entities/vacancy/model/types/vacancy.ts
  src/entities/vacancy/ui/VacancyCard/VacancyCard.tsx
  src/entities/vacancy/ui/VacancyCardHeader/VacancyCardHeader.tsx
  src/pages/career/vacancyMarket/ui/VacancyMarketCardHeader/VacancyMarketCardHeader.module.css
  src/pages/career/vacancyMarket/ui/VacancyMarketCardHeader/VacancyMarketCardHeader.tsx
  src/pages/career/vacancyMarket/ui/VacancyMarketPageContent/VacancyMarketPageContent.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2389: migrate users table to TableV2
  src/app/layouts/MainLayout/SkeletonGenerator/SkeletonGenerator.tsx
  src/app/providers/router/routeConfig.tsx
  src/entities/referralLink/ui/ReferralLinkOwner/ReferralLinkOwner.tsx
  src/pages/admin/user/userEdit/ui/UserEditPage/UserEditPage.tsx
  src/pages/admin/user/users/ui/UsersTable/UsersTable.tsx
  src/shared/config/router/routes.ts
  src/shared/ui/AuthorInfo/AuthorInfo.tsx
  src/shared/ui/TableActions/TableActions.tsx
  src/shared/ui/TableActions/types.ts
  src/shared/ui/TableV2/TableBody.tsx
  src/shared/ui/TableV2/TableV2.tsx
  src/shared/ui/TableV2/types.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2321: add VacanciesMarketPage (#1404)
  public/locales/en/vacanciesMarket.json
  public/locales/ru/vacanciesMarket.json
  src/entities/vacancy/api/vacancyMarketApi.ts
  src/entities/vacancy/index.ts
  src/entities/vacancy/model/constants/vacancyMarket.ts
  src/entities/vacancy/model/types/vacancy.ts
  src/entities/vacancy/model/types/vacancyMarket.ts
  src/entities/vacancy/ui/VacancyCard/VacancyCard.tsx
  src/entities/vacancy/ui/VacancyCardHeader/VacancyCardHeader.tsx
  src/entities/vacancy/ui/VacancyKeywordsList/VacancyKeywordsList.module.css
  src/entities/vacancy/ui/VacancyKeywordsList/VacancyKeywordsList.tsx
  src/pages/career/vacancyMarket/ui/VacancyMarketCard/VacancyMarketCard.module.css
  src/pages/career/vacancyMarket/ui/VacancyMarketCard/VacancyMarketCard.tsx
  src/pages/career/vacancyMarket/ui/VacancyMarketCardHeader/VacancyMarketCardHeader.tsx
  src/pages/career/vacancyMarket/ui/VacancyMarketKeywords/VacancyMarketKeywords.tsx
  src/pages/career/vacancyMarket/ui/VacancyMarketNote/VacancyMarketNote.module.css
  src/pages/career/vacancyMarket/ui/VacancyMarketNote/VacancyMarketNote.tsx
  src/pages/career/vacancyMarket/ui/VacancyMarketPage/VacancyMarketPage.tsx
  src/pages/career/vacancyMarket/ui/VacancyMarketPageContent/VacancyMarketPageContent.tsx
  src/pages/career/vacancyMarket/ui/VacancyMarketPageContentHeader/VacancyMarketPageContentHeader.module.css
  src/pages/career/vacancyMarket/ui/VacancyMarketPageContentHeader/VacancyMarketPageContentHeader.tsx
  src/pages/career/vacancyMarket/ui/VacancyMarketSkills/VacancyMarketSkills.module.css
  src/pages/career/vacancyMarket/ui/VacancyMarketSkills/VacancyMarketSkills.tsx
  src/pages/career/vacancyMarket/ui/VacancyMarketSpecializationList/VacancyMarketSpecializationList.module.css
  src/pages/career/vacancyMarket/ui/VacancyMarketSpecializationList/VacancyMarketSpecializationList.tsx
  src/shared/assets/icons/calendarNoDots.svg
  src/shared/assets/icons/index.ts
  src/shared/assets/images/growthChart.png
  src/shared/config/i18n/i18nNamespaces.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/query/apiTags.ts
  src/shared/config/router/routes.ts
  src/shared/ui/Card/Card.tsx
  src/shared/ui/Icon/icons.ts
  src/shared/ui/Icon/types.ts
  src/shared/ui/ProgressBar/ProgressBar.module.css
  src/shared/ui/ProgressBar/ProgressBar.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1111: Add PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

YH-1111: Add PR template (#1428)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

YH-2388: migrated SkillsTable to TableV2 component (#1426)
  src/app/providers/router/routeConfig.tsx
  src/features/skill/createSkill/api/createSkillApi.ts
  src/features/skill/deleteSkill/index.ts
  src/features/skill/editSkill/api/editSkillApi.ts
  src/pages/admin/question/questions/ui/QuestionsTable/QuestionsTable.tsx
  src/pages/admin/skill/skills/ui/SkillsTable/SkillsTable.tsx
  src/shared/config/router/routes.ts
  src/widgets/question/GeneratedQuestionsWidget/ui/GeneratedQuestionsTable/GeneratedQuestionsTable.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2387: replaced specialization table with TableV2 (#1425)
  src/features/specialization/deleteSpecialization/index.ts
  src/pages/admin/specialization/specializations/ui/SpecializationsTable/SpecializationsTable.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2412: added mock for get user by id request
  src/entities/user/__mocks__/index.ts
  src/entities/user/__mocks__/userByIdMock.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2412: fix mock to return unique user data per userId
  src/entities/user/__mocks__/userByIdMock.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2318: add IndustryTabs widget (#1371)
  src/widgets/IndustryTabs/index.ts
  src/widgets/IndustryTabs/ui/IndustryTabs.tsx
Due: npm run prettier, npm run lint:ts:fix

Feature/yh 2412 (#1429)
  src/entities/user/__mocks__/index.ts
  src/entities/user/__mocks__/userByIdMock.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2410: added unit tests for PayHistoryList
  src/widgets/PayHistoryList/ui/PayHistoryList/PayHistoryList.test.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2410: remove redundant logic
  src/widgets/PayHistoryList/ui/PayHistoryList/PayHistoryList.test.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2350: add sorting to table component
  src/features/question/filterQuestions/model/hooks/useGetQuestionsFilterParams.ts
  src/features/question/filterQuestions/model/hooks/useQuestionsFilters.ts
  src/features/question/filterQuestions/ui/QuestionSortByFieldFilter/QuestionSortByFieldFilter.tsx
  src/features/question/filterQuestions/ui/QuestionsFilters/QuestionsFilters.tsx
  src/pages/admin/question/questions/ui/QuestionsTable/QuestionsTable.tsx
  src/pages/admin/question/questions/ui/QuestionsTablePage/QuestionsTablePage.tsx
  src/shared/assets/icons/index.ts
  src/shared/assets/icons/squareSortVertical.svg
  src/shared/ui/Icon/icons.ts
  src/shared/ui/Icon/types.ts
  src/shared/ui/TableV2/TableHeader.tsx
  src/shared/ui/TableV2/TableV2.module.css
  src/shared/ui/TableV2/TableV2.tsx
  src/shared/ui/TableV2/getNextSorting.ts
  src/shared/ui/TableV2/index.ts
  src/shared/ui/TableV2/types.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2394: replace topics table with TableV2
  src/features/topics/deleteTopic/index.ts
  src/widgets/topic/TopicsTable/ui/TopicsTable.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2382: restore ResumeAnalyzerPage.tsx
  src/pages/career/resumeAnalyzer/ui/ResumeAnalyzerPage/ResumeAnalyzerPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2382: fix
  src/pages/career/resumeAnalyzer/ui/ResumeRecommendations/ResumeRecommendationsCard/ResumeRecommendationsCard.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2382: css fix
  src/pages/career/resumeAnalyzer/ui/ResumeRecommendations/ResumeRecommendationsCard/ResumeRecommendationsCardList/ResumeRecommendationsCardList.module.css
  src/shared/ui/ShowToggleButton/ShowToggleButton.module.css
Due: npm run lint:css:fix

YH-2382: steiger fix
  src/pages/career/resumeAnalyzer/ui/ResumeRecommendations/ResumeRecommendationsCard/ResumeRecommendationsCardList/ResumeRecommendationsCardList.tsx
  src/shared/libs/fp/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2389: add fixes after review
  src/pages/admin/user/users/ui/UserTablePage/UsersTablePage.tsx
  src/pages/admin/user/users/ui/UsersTable/UsersTable.tsx
  src/shared/ui/TableActions/TableActions.tsx
  src/shared/ui/TableActions/types.ts
  src/shared/ui/TableV2/TableBody.tsx
  src/shared/ui/TableV2/TableV2.tsx
  src/shared/ui/TableV2/types.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2411: Add vacancies fetch mock
  src/app/msw/handlers.ts
  src/entities/vacancy/api/__mocks__/data/index.ts
  src/entities/vacancy/api/__mocks__/data/vacancyMock.ts
  src/entities/vacancy/api/__mocks__/index.ts
  src/entities/vacancy/api/__mocks__/vacancyListMock.ts
  src/entities/vacancy/index.ts
  src/entities/vacancy/model/types/vacancy.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2415: start update
  .github/workflows/pr-checks.yml
  .github/workflows/storybook-pages.yml
  .husky/pre-commit
  .nvmrc
  Dockerfile
  Dockerfile.dev
  Dockerfile.production
  Dockerfile.test
  config/jest/jest.config.ts
  config/webpack/webpackConfig.ts
  migrations/rules.md
  package-lock.json
  package.json
  src/entities/question/model/types/question.ts
  src/entities/quiz/model/types/quiz.ts
  src/features/featureFlag/createFeatureFlag/model/types/featureFlagCreateTypes.ts
  src/features/featureFlag/deleteFeatureFlag/model/types/deleteFeatureFlagTypes.ts
  src/features/question/createMultipleQuestions/model/types/createMultipleQuestionsTypes.ts
  src/shared/ui/Dropdown/Dropdown/Dropdown.tsx
  src/shared/ui/ImageWithWrapper/ImageWithWrapper.skeleton.tsx
  src/widgets/Collection/ui/AdditionalInfo/AdditionalInfo.tsx
  src/widgets/Collection/ui/CollectionHeader/CollectionHeader.tsx
  src/widgets/Main/OnboardingModal/ui/OnboardingModal/OnboardingModal.tsx
  src/widgets/analytics/PopularSkillsWidget/ui/PopularSkillsWidget/PopularSkillsWidget.tsx
  src/widgets/referralLink/ReferralLinkAdditionalInfo/ui/ReferralLinkAdditionalInfo.tsx
  tsconfig.json
Due: npm run prettier, npm run lint:ts:fix

YH-2415: update webpack
  config/webpack/webpackLoaders.ts
  migrations/rules.md
  package-lock.json
  package.json
Due: npm run prettier, npm run lint:ts:fix

YH-2339: fix review comments (part 2)
  src/pages/career/resumeAnalyzer/index.ts
  src/pages/career/resumeAnalyzer/model/__mock__/resumeAnalysis.ts
  src/pages/career/resumeAnalyzer/model/selectors/resumeAnalyzerPageSelectors.test.ts
  src/pages/career/resumeAnalyzer/model/slices/resumeAnalyzerPageSlice.test.ts
  src/pages/career/resumeAnalyzer/model/slices/resumeAnalyzerPageSlice.ts
  src/pages/career/resumeAnalyzer/ui/ResumeFileInfo/ResumeFileInfo.module.css
  src/pages/career/resumeAnalyzer/ui/ResumeFileInfo/ResumeFileInfo.tsx
  src/pages/career/resumeAnalyzer/ui/ResumeFileInfo/UploadedFileIcon/UploadedFileIcon.module.css
  src/pages/career/resumeAnalyzer/ui/ResumeFileInfo/UploadedFileIcon/UploadedFileIcon.tsx
  src/pages/career/resumeAnalyzer/ui/ResumeFileInfo/index.ts
  src/pages/career/resumeAnalyzer/ui/ResumeFileLoader/ResumeFileLoader.tsx
  src/pages/career/resumeAnalyzer/ui/UploadedResume/UploadedResume.module.css
  src/pages/career/resumeAnalyzer/ui/UploadedResume/UploadedResume.tsx
  src/shared/libs/date/index.ts
  src/shared/libs/date/useGetDateWithLocale.ts
  src/shared/ui/FileLoader/FileLoader.module.css
  src/shared/ui/FileLoader/FileLoader.tsx
  src/shared/ui/FileLoader/FileLoaderContent/FileLoaderDefaultContent/FileLoaderDefaultContent.tsx
  src/shared/ui/FileLoader/FileLoaderContent/FileLoaderResumeContent/FileLoaderResumeContent.module.css
  src/shared/ui/FileLoader/FileLoaderContent/FileLoaderResumeContent/FileLoaderResumeContent.tsx
  src/shared/ui/FileLoader/FileLoaderContent/index.ts
  src/shared/ui/FileLoader/FileLoaderResumeBorder/FileLoaderResumeBorder.module.css
  src/shared/ui/FileLoader/FileLoaderResumeBorder/FileLoaderResumeBorder.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2415: update tests
  .github/workflows/pr-checks.yml
  config/jest/jest.config.ts
  config/jest/jest.polyfill.ts
  config/jest/jestSetup.ts
  migrations/rules.md
  package-lock.json
  package.json
  src/app/layouts/AuthLayout/AuthLayout/AuthLayout.test.tsx
  src/entities/skill/ui/SkillSelect/SkillSelect.test.tsx
  src/entities/specialization/ui/SpecializationSelect/SpecializationSelect.test.tsx
  src/features/internationalization/switch-language/ui/LanguageSwitcher/LanguageSwitcher.test.tsx
  src/shared/ui/KeywordInput/KeywordInput.test.tsx
  src/shared/ui/Modal/Modal.test.tsx
  src/shared/ui/Stepper/Stepper.test.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2415: update React
  migrations/rules.md
  package-lock.json
  package.json
  src/entities/user/ui/RoleSelect/RoleSelect.tsx
  src/shared/config/storybook/RouterDecorator/RouterDecorator.tsx
  src/shared/config/storybook/StoreDecorator/StoreDecorator.tsx
  src/shared/config/storybook/StyleDecorator/StyleDecorator.tsx
  src/shared/libs/dom/useDragAndDrop/useDragAndDrop.ts
  src/shared/libs/dom/useInfiityScroll/useInfiniteScroll.ts
  src/shared/libs/dom/useTruncation/useTruncation.ts
  src/shared/ui/Button/Button.tsx
  src/shared/ui/Checkbox/Checkbox.tsx
  src/shared/ui/Checkbox/types.ts
  src/shared/ui/Chip/Chip.skeleton.tsx
  src/shared/ui/Chip/Chip.tsx
  src/shared/ui/FileLoader/FileLoader.tsx
  src/shared/ui/IconButton/IconButton.tsx
  src/shared/ui/Popover/PopoverFabric/PopoverFabric.tsx
  src/shared/ui/Radio/Radio.tsx
  src/shared/ui/Radio/types.ts
  src/shared/ui/Range/Range/Range.tsx
  src/shared/ui/Range/RangeSteps/RangeSteps.tsx
  src/shared/ui/Stepper/types.ts
  src/shared/ui/Switch/Switch.tsx
  src/shared/ui/Switch/types.ts
  src/shared/ui/Tabs/types.ts
  src/shared/ui/Text/Text.tsx
  src/shared/ui/TextArea/TextArea.tsx
  src/shared/ui/Toast/Toast.test.tsx
  src/shared/ui/Toast/Toast.tsx
  src/widgets/interview/PassedQuizzesList/ui/FullPassedQuizzesItem/FullPassedQuizzesItem.tsx
  src/widgets/interview/PassedQuizzesList/ui/FullPassedQuizzesList/FullPassedQuizzesList.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2325: added filtering of specializations by industry
  src/entities/vacancy/api/vacancyMarketApi.ts
  src/entities/vacancy/index.ts
  src/entities/vacancy/lib/filterSpecializationsOverviewByIds.ts
  src/entities/vacancy/lib/getSpecializationIdsByIndustry.ts
  src/entities/vacancy/lib/getUniqueIndustries.ts
  src/entities/vacancy/model/constants/vacancyMarket.ts
  src/entities/vacancy/model/types/vacancyMarket.ts
  src/pages/career/vacancyMarket/ui/VacancyMarketPage/VacancyMarketPage.tsx
  src/pages/career/vacancyMarket/ui/VacancyMarketPageContent/VacancyMarketPageContent.tsx
  src/pages/career/vacancyMarket/ui/VacancyMarketPageContentHeader/VacancyMarketPageContentHeader.module.css
  src/pages/career/vacancyMarket/ui/VacancyMarketPageContentHeader/VacancyMarketPageContentHeader.tsx
  src/pages/career/vacancyMarket/ui/VacancyMarketPageContentHeaderInfo/VacancyMarketPageContentHeaderInfo.module.css
  src/pages/career/vacancyMarket/ui/VacancyMarketPageContentHeaderInfo/VacancyMarketPageContentHeaderInfo.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2415: update Router, Sentry, TipTap, i18next, date-fns
  config/webpack/webpackConfig.ts
  migrations/rules.md
  package-lock.json
  package.json
  src/app/global.d.ts
  src/shared/config/i18n/i18n.ts
  src/shared/config/sentry/sentry.ts
  src/shared/libs/textEditor/createPastePlugin.ts
  src/shared/ui/BubbleMenuEditor/BubbleMenuEditor.tsx
  src/shared/ui/TextEditor/TextEditor.tsx
  tsconfig.json
Due: npm run prettier, npm run lint:ts:fix

YH-2392: replaced Table with TableV2 in resources table
  src/features/resources/deleteResource/index.ts
  src/pages/admin/resource/resources/ui/ResourcesTable/ResourcesTable.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2404: add FormHeader and update all admin forms
  src/features/collections/editCollection/ui/CollectionEditForm/CollectionEditForm.tsx
  src/features/company/editCompany/ui/CompanyEditForm/CompanyEditForm.tsx
  src/features/featureFlag/editFeatureFlag/ui/FeatureFlagEditForm/FeatureFlagEditForm.tsx
  src/features/question/editQuestion/ui/QuestionEditForm/QuestionEditForm.tsx
  src/features/referralLinks/editReferralLink/ui/ReferralLinkEditForm/ReferralLinkEditForm.tsx
  src/features/resources/editResource/ui/ResourceEditForm/ResourceEditForm.tsx
  src/features/resources/editResourceRequest/ui/ResourceRequestEditFormWithHeader/ResourceRequestFormWithHeader.tsx
  src/features/skill/editSkill/ui/SkillEditForm/SkillEditForm.tsx
  src/features/specialization/editSpecialization/ui/SpecializationEditForm/SpecializationEditForm.tsx
  src/features/task/editTask/ui/TaskEditForm/TaskEditForm.tsx
  src/features/topics/editTopic/ui/TopicEditForm/TopicEditForm.tsx
  src/pages/admin/user/userEdit/ui/UserEditPage/UserEditPage.tsx
  src/shared/ui/FormHeader/FormHeader.module.css
  src/shared/ui/FormHeader/FormHeader.tsx
  src/shared/ui/FormHeader/index.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

Path conditions:
  npm run prettier: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:ts:fix: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:css:fix: any of: *.css
