Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-770: QuestionPage Container Width Fixed (#466)
  src/pages/landing/PublicQuestionPage/ui/PublicQuestionPage.module.css
  src/widgets/question/AdditionalInfo/AdditionalInfo.module.css
Due: npm run lint:css:fix

YH-763: fix: scroll to top & accordion animation (#463)
  src/app/App.tsx
  src/app/layouts/MainLayout/ui/MainLayout.module.css
  src/shared/ui/Accordion/ui/Accordion.module.css
  src/shared/ui/Accordion/ui/Accordion.tsx
  src/shared/ui/AutoScrollToTop/AutoScrollToTop.tsx
  src/shared/ui/AutoScrollToTop/index.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

Release 1.0.7
  RELEASE_NOTES.md
  package.json
Due: none

YH-772: Question\-s Pages Width Fix Of Mobile Version
  public/index.html
  src/app/layouts/LandingLayout/ui/LandingLayout.module.css
  src/app/styles/variables/main-variables.css
  src/pages/landing/PublicQuestionPage/ui/PublicQuestionPage.module.css
  src/shared/assets/images/landing/interviewImg.avif
  src/shared/assets/images/landing/interviewImgMobile.avif
  src/shared/assets/images/landing/interviewImgTablet.avif
  src/shared/ui/Card/ui/Card.module.css
  src/widgets/Landing/Header/ui/Header/Header.module.css
  src/widgets/Landing/InterviewBlock/ui/InterviewBlock/InterviewBlock.module.css
  src/widgets/Landing/InterviewBlock/ui/InterviewBlock/InterviewBlock.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-772: Question\-s Pages Width Fix Of Mobile Version (#469)
  public/index.html
  src/app/layouts/LandingLayout/ui/LandingLayout.module.css
  src/app/styles/variables/main-variables.css
  src/pages/landing/PublicQuestionPage/ui/PublicQuestionPage.module.css
  src/shared/assets/images/landing/interviewImg.avif
  src/shared/assets/images/landing/interviewImgMobile.avif
  src/shared/assets/images/landing/interviewImgTablet.avif
  src/shared/ui/Card/ui/Card.module.css
  src/widgets/Landing/Header/ui/Header/Header.module.css
  src/widgets/Landing/InterviewBlock/ui/InterviewBlock/InterviewBlock.module.css
  src/widgets/Landing/InterviewBlock/ui/InterviewBlock/InterviewBlock.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-772: Question\-s Pages Width Fix Of Mobile Version (#469) (#470)
  public/index.html
  src/app/layouts/LandingLayout/ui/LandingLayout.module.css
  src/app/styles/variables/main-variables.css
  src/pages/landing/PublicQuestionPage/ui/PublicQuestionPage.module.css
  src/shared/assets/images/landing/interviewImg.avif
  src/shared/assets/images/landing/interviewImgMobile.avif
  src/shared/assets/images/landing/interviewImgTablet.avif
  src/shared/ui/Card/ui/Card.module.css
  src/widgets/Landing/Header/ui/Header/Header.module.css
  src/widgets/Landing/InterviewBlock/ui/InterviewBlock/InterviewBlock.module.css
  src/widgets/Landing/InterviewBlock/ui/InterviewBlock/InterviewBlock.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-755: fix text-align gaugeChart
  src/shared/ui/charts/GaugeChart/ui/GaugeChart.module.css
Due: npm run lint:css:fix

YH-768: Fixed the transition when clicking on the change password button
  src/pages/profile/SettingsProfilePage/ui/SettingsProfilePage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-769: add specialization filter with default value
  src/shared/hooks/useQueryFilter.ts
Due: npm run prettier, npm run lint:ts:fix

YH-769: add specialization filter with default value (#473)
  src/shared/hooks/useQueryFilter.ts
Due: npm run prettier, npm run lint:ts:fix

YH-768: Fixed the transition when clicking on the change password button (#472)
  src/pages/profile/SettingsProfilePage/ui/SettingsProfilePage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-755: fix text-align gaugeChart (#471)
  src/shared/ui/charts/GaugeChart/ui/GaugeChart.module.css
Due: npm run lint:css:fix

YH-780: fix GaugeChart adaptive
  src/shared/ui/charts/GaugeChart/ui/GaugeChart.module.css
  src/shared/ui/charts/GaugeChart/ui/GaugeChart.tsx
  src/widgets/Landing/ProgressBlock/ui/Statistics/Statistics.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-774: replace popover on drawer on public question page
  src/pages/landing/PublicQuestionPage/ui/PublicQuestionPage.module.css
  src/pages/landing/PublicQuestionPage/ui/PublicQuestionPage.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-776: YH-776+YH-781 fix translations in the questionspage, questionpage
  public/locales/ru/landing.json
  public/locales/ru/questions.json
Due: none

YH-777: Added scroll for MainLayout
  src/app/layouts/MainLayout/ui/MainLayout.module.css
Due: npm run lint:css:fix

YH-775: fix landing page
  src/widgets/Landing/InterviewModeBlock/ui/Advantages/Advantages.module.css
  src/widgets/Landing/PlatformInterfaceBlock/ui/CategoriesBlock/CategoriesBlock.module.css
  src/widgets/Landing/TrainingBlock/ui/QuestionList/QuestionList.module.css
  src/widgets/Landing/TrainingBlock/ui/QuestionList/QuestionList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-775: fix landing page (#478)
  src/widgets/Landing/InterviewModeBlock/ui/Advantages/Advantages.module.css
  src/widgets/Landing/PlatformInterfaceBlock/ui/CategoriesBlock/CategoriesBlock.module.css
  src/widgets/Landing/TrainingBlock/ui/QuestionList/QuestionList.module.css
  src/widgets/Landing/TrainingBlock/ui/QuestionList/QuestionList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-776: YH-776+YH-781 fix translations in the questionspage, questionpage (#476)
  public/locales/ru/landing.json
  public/locales/ru/questions.json
Due: none

YH-780: fix GaugeChart adaptive (#474)
  src/shared/ui/charts/GaugeChart/ui/GaugeChart.module.css
  src/shared/ui/charts/GaugeChart/ui/GaugeChart.tsx
  src/widgets/Landing/ProgressBlock/ui/Statistics/Statistics.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-774: fix size additional info button
  src/pages/landing/PublicQuestionPage/ui/PublicQuestionPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-777: Fix css styles and add AutoScrollToTop
  src/app/layouts/MainLayout/ui/MainLayout.module.css
  src/app/layouts/MainLayout/ui/MainLayout.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-777: fix
  src/app/layouts/MainLayout/ui/MainLayout.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-782: delete App
  src/app/App.tsx
  src/app/layouts/AuthLayout/ui/AuthLayout/AuthLayout.tsx
  src/app/layouts/LandingLayout/ui/LandingLayout.tsx
  src/app/layouts/MainLayout/ui/MainLayout.tsx
  src/app/providers/router/config/routeConfig.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-777: Added scroll for mainLayout (#477)
  src/app/layouts/MainLayout/ui/MainLayout.module.css
  src/app/layouts/MainLayout/ui/MainLayout.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-774: replace popover on drawer on public question page (#475)
  src/pages/landing/PublicQuestionPage/ui/PublicQuestionPage.module.css
  src/pages/landing/PublicQuestionPage/ui/PublicQuestionPage.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

Release 1.0.8
  RELEASE_NOTES.md
  package.json
Due: none

YH-754: fix popover props
  src/shared/ui/Popover/ui/Popover/Popover.stories.tsx
  src/widgets/UsersTable/ui/UsersTable.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-717: added mock request to get specialization by id
  src/entities/specialization/api/__mocks__/index.ts
  src/entities/specialization/api/__mocks__/specializationMock.ts
  src/entities/specialization/model/types/specialization.ts
Due: npm run prettier, npm run lint:ts:fix

YH-748: исправлен SubscribeButton по замечаниям
  src/features/subscription/ui/SubscribeButton/api/getNewSubscriptionOrderId.ts
  src/features/subscription/ui/SubscribeButton/api/subscribeButtonApi.ts
  src/features/subscription/ui/SubscribeButton/model/constants/subscribeButtonConstants.ts
  src/features/subscription/ui/SubscribeButton/ui/SubscribeButton.module.css
  src/features/subscription/ui/SubscribeButton/ui/SubscribeButton.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-748: add validate subscribe form
  src/features/subscription/ui/SubscribeButton/api/getNewSubscriptionOrderId.ts
  src/features/subscription/ui/SubscribeButton/ui/SubscribeButton.tsx
  src/pages/profile/SettingsProfilePage/ui/SettingsProfilePage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-748: add Tinkoff form (#458)
  public/index.html
  src/features/subscription/ui/AgreementForm/AgreementForm.tsx
  src/features/subscription/ui/SubscribeButton/api/getNewSubscriptionOrderId.ts
  src/features/subscription/ui/SubscribeButton/model/constants/subscribeButtonConstants.ts
  src/features/subscription/ui/SubscribeButton/ui/SubscribeButton.module.css
  src/features/subscription/ui/SubscribeButton/ui/SubscribeButton.tsx
  src/pages/profile/SettingsProfilePage/ui/SettingsProfilePage.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-736: add User status label (#453)
  public/locales/en/user.json
  public/locales/ru/user.json
  src/entities/auth/index.ts
  src/entities/user/index.ts
  src/entities/user/ui/UserRolesList/UserRolesList.module.css
  src/entities/user/ui/UserRolesList/UserRolesList.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/Header/ui/UserPreferences/UserPreferences.module.css
  src/widgets/Header/ui/UserPreferences/UserPreferences.tsx
  src/widgets/Header/ui/UserPreferencesHeader/UserPreferencesHeader.module.css
  src/widgets/Header/ui/UserPreferencesHeader/UserPreferencesHeader.tsx
  src/widgets/Profile/ui/UserCard/ui/UserBlock/UserBlock.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-782: delete App (#479)
  src/app/App.tsx
  src/app/layouts/AuthLayout/ui/AuthLayout/AuthLayout.tsx
  src/app/layouts/LandingLayout/ui/LandingLayout.tsx
  src/app/layouts/MainLayout/ui/MainLayout.tsx
  src/app/providers/router/config/routeConfig.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-754: Transfer popover component from uikit (#459)
  package-lock.json
  package.json
  src/entities/user/model/types/user.ts
  src/pages/admin/CollectionPage/ui/CollectionPage.tsx
  src/pages/admin/QuestionPage/QuestionPage.tsx
  src/shared/ui/IconButton/ui/IconButton.module.css
  src/shared/ui/IconButton/ui/IconButton.tsx
  src/shared/ui/Popover/lib/context/popoverContext.ts
  src/shared/ui/Popover/lib/context/usePopoverContext.ts
  src/shared/ui/Popover/lib/hooks/usePopover.tsx
  src/shared/ui/Popover/model/types/types.ts
  src/shared/ui/Popover/ui/Popover/Popover.module.css
  src/shared/ui/Popover/ui/Popover/Popover.stories.tsx
  src/shared/ui/Popover/ui/Popover/Popover.tsx
  src/shared/ui/Popover/ui/PopoverFabric/PopoverFabric.tsx
  src/widgets/Header/ui/UserPreferences/UserPreferences.tsx
  src/widgets/UsersTable/ui/UsersTable.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-741: Limitation content by role
  src/app/providers/router/config/routeConfig.tsx
  src/app/providers/router/ui/PremiumRoute.tsx
  src/entities/profile/index.ts
  src/entities/profile/model/selectors/profileSelectors.ts
  src/features/quiz/learnQuestion/ui/LearnQuestionButton.tsx
  src/features/quiz/resetQuestionStudyProgress/ui/ResetQuestionStudyProgressButton.tsx
  src/pages/profile/SettingsProfilePage/ui/SettingsProfilePage.tsx
  src/widgets/Landing/PlatformInterfaceBlock/ui/CategoriesBlock/CategoriesBlock.tsx
  src/widgets/Profile/ui/SubscriptionTab/ui/SubscriptionTab/SubscriptionTab.tsx
  src/widgets/interview/InterviewPreparation/ui/InterviewPreparation/InterviewPreparation.tsx
  src/widgets/interview/PassedQuizzesList/ui/PreviewPassedQuizzesList/PreviewPassedQuizzesList.tsx
  src/widgets/interview/QuestionsStatistic/ui/PreviewQuestionsStatistic/PreviewQuestionsStatistic.tsx
  src/widgets/question/QuestionActions/QuestionActions.module.css
  src/widgets/question/QuestionActions/QuestionActions.tsx
  src/widgets/question/QuestionsList/ui/FullQuestionItem/FullQuestionItem.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-784: Fixed incorrect links
  localhost.csr
  localhost.ext
  root_ca.srl
  src/app/providers/router/config/routeConfig.tsx
  src/shared/config/router/routes.ts
  src/widgets/Profile/ui/InfoCard/ui/InfoBlockHeader/InfoBlockHeader.tsx
  src/widgets/Profile/ui/SkillsCard/ui/SkillsBlockHeader/SkillsBlockHeader.tsx
  src/widgets/Profile/ui/UserCard/ui/UserEditButton/UserEditButton.tsx
  yourcert.pem
  Мой ROOT CA.mobileconfig
Due: npm run prettier, npm run lint:ts:fix

Path conditions:
  npm run prettier: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:ts:fix: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:css:fix: any of: *.css
