Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

.lintstagedrc:

{
  "./**/*.{ts,tsx,js,jsx}": ["npm run prettier", "npm run lint:ts:fix"],
  "*.css": "npm run lint:css:fix"
}

YH-874: Chip,Chip.skeleton tests
  src/shared/ui/Chip/Chip.skeleton.test.tsx
  src/shared/ui/Chip/Chip.skeleton.tsx
  src/shared/ui/Chip/Chip.test.tsx
  src/shared/ui/Chip/Chip.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1389: fix errors
  src/entities/resource/api/resourceApi.ts
  src/entities/resource/index.ts
  src/pages/admin/ResourceViewPage/ui/ResourceRequestViewPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1389: fix errors (#940)
  src/entities/resource/api/resourceApi.ts
  src/entities/resource/index.ts
  src/pages/admin/ResourceViewPage/ui/ResourceRequestViewPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1393: fix errors
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/app/providers/router/config/routeConfig.tsx
  src/entities/resource/api/resourceApi.ts
  src/entities/resource/index.ts
  src/entities/resource/model/types/resourceRequest.ts
  src/pages/admin/ResourcePage/ui/ResourcePage.tsx
  src/pages/wiki/RequestInfoPage/ui/RequestInfoPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/resources/ResourceBody/ui/ResourceBody.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1393: create resource info page, add request to the server, add route (#920)
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/app/providers/router/config/routeConfig.tsx
  src/entities/resource/api/resourceApi.ts
  src/entities/resource/index.ts
  src/entities/resource/model/constants/resource.ts
  src/entities/skill/ui/SkillList/SkillList.tsx
  src/pages/admin/ResourcePage/ui/ResourcePage.tsx
  src/pages/wiki/RequestInfoPage/index.ts
  src/pages/wiki/RequestInfoPage/ui/RequestInfoPage.module.css
  src/pages/wiki/RequestInfoPage/ui/RequestInfoPage.tsx
  src/pages/wiki/ResourcesPage/ui/ResourcesPage.tsx
  src/shared/config/api/apiTags.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
  src/widgets/Marketplace/ui/MyRecourcesList/MyResourcesList.tsx
  src/widgets/resources/ResourceAdditionalInfo/ui/ResourceAdditionalInfo.tsx
  src/widgets/resources/ResourceAdditionalInfoDrawer/ui/ResourceAdditionalInfoDrawer.tsx
  src/widgets/resources/ResourceBody/ui/ResourceBody.tsx
  src/widgets/resources/ResourceHeader/ui/ResourceHeader.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1434: add input field for Dropdown
  src/shared/ui/Dropdown/Dropdown/Dropdown.tsx
  src/shared/ui/Dropdown/Select/Select.module.css
  src/shared/ui/Dropdown/Select/Select.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1395: fix errors
  src/features/requests/deleteApplication/model/constants/DeleteRequestApiUrls.ts
  src/features/resources/deleteMyResourceRequest/api/deleteMyResorceRequestApi.ts
  src/features/resources/deleteMyResourceRequest/index.ts
  src/features/resources/deleteMyResourceRequest/model/constants/DeleteRequestApiUrls.ts
  src/features/resources/deleteMyResourceRequest/ui/DeleteMyResourceRequestButton/DeleteMyResourceRequestButton.module.css
  src/features/resources/deleteMyResourceRequest/ui/DeleteMyResourceRequestButton/DeleteMyResourceRequestButton.tsx
  src/pages/wiki/MyResourcesPage/ui/MyResourcesPage.tsx
  src/pages/wiki/RequestInfoPage/ui/RequestInfoPage.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1424: added action buttons on ResourcePage
  src/entities/resource/index.ts
  src/entities/resource/model/helpers/isResourceDisabled.ts
  src/features/resources/editResource/index.ts
  src/features/resources/editResource/ui/ResourceEditButton/ResourceEditButton.tsx
  src/pages/admin/ResourcePage/ui/ResourcePage.tsx
  src/pages/admin/ResourcesPage/ui/tabs/ResourcesAllTab/ResourcesAllTab/ResourcesAllTab.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1421: added email field for subscription (#931)
  public/locales/en/subscriptionCard.json
  public/locales/ru/subscriptionCard.json
  src/features/subscriptions/subscribe/model/types/subscriptionAgreeTypes.ts
  src/features/subscriptions/subscribe/model/validation/subscriptionAgreeSchema.ts
  src/features/subscriptions/subscribe/ui/AgreementForm/AgreementForm.module.css
  src/features/subscriptions/subscribe/ui/AgreementForm/AgreementForm.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1418: Added the SkillFilter component (#927)
  src/features/skill/skillFilter/index.ts
  src/features/skill/skillFilter/ui/SkillFilter.tsx
  src/pages/admin/SkillsPage/ui/SkillsPage/SkillsPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1394: fix errors
  src/features/resources/editResourceRequest/api/editResourceRequestApi.ts
  src/pages/wiki/RequestInfoPage/ui/RequestInfoPage.tsx
  src/pages/wiki/RequestResourceEditPage/ui/RequestResourceEditPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1424: added action buttons on ResourcePage (#942)
  src/entities/resource/index.ts
  src/entities/resource/model/helpers/isResourceDisabled.ts
  src/features/resources/editResource/index.ts
  src/features/resources/editResource/ui/ResourceEditButton/ResourceEditButton.tsx
  src/pages/admin/ResourcePage/ui/ResourcePage.tsx
  src/pages/admin/ResourcesPage/ui/tabs/ResourcesAllTab/ResourcesAllTab/ResourcesAllTab.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1434: fix errors
  src/shared/ui/Dropdown/Dropdown/Dropdown.tsx
  src/shared/ui/Dropdown/Select/Select.tsx
  src/shared/ui/SelectWithChips/SelectWithChips.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1434: add input field for Dropdown (#941)
  src/shared/ui/Dropdown/Dropdown/Dropdown.tsx
  src/shared/ui/Dropdown/Select/Select.module.css
  src/shared/ui/Dropdown/Select/Select.tsx
  src/shared/ui/SelectWithChips/SelectWithChips.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1431: added empty state for Users Table with reset filters button (#938)
  src/features/user/UsersFilterSet/hooks/useUserFilter.ts
  src/pages/admin/UserTablePage/ui/UserTablePage/UsersTablePage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1392: fix errors
  src/app/providers/router/config/routeConfig.tsx
  src/entities/auth/api/__mocks__/data/authMockResponse.ts
  src/entities/auth/api/__mocks__/data/authProfileQueryMockResponse.ts
  src/entities/auth/model/types/auth.ts
  src/entities/user/model/types/user.ts
  src/pages/profile/SettingsProfilePage/ui/tabs/EmailConfirmationTab/EmailConfirmationTab.tsx
  src/pages/wiki/MyResourcesPage/ui/MyResourcesPage.tsx
  src/pages/wiki/ResourcesPage/ui/ResourcesPage.tsx
  src/widgets/TelegramVerifiedSection/ui/TelegramVerifiedSection.tsx
  src/widgets/authentication/login/ui/LoginCreateForm/LoginCreateForm.tsx
  src/widgets/registration/ui/UserCreateForm.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1392: add telegram unlink from account (#916)
  public/locales/en/profile.json
  public/locales/en/translation.json
  public/locales/ru/profile.json
  public/locales/ru/translation.json
  src/app/providers/router/config/routeConfig.tsx
  src/entities/auth/api/__mocks__/data/authMockResponse.ts
  src/entities/auth/api/__mocks__/data/authProfileQueryMockResponse.ts
  src/entities/auth/model/types/auth.ts
  src/entities/user/model/types/user.ts
  src/features/authentication/telegramUnlink/api/telegramUnlinkApi.ts
  src/features/authentication/telegramUnlink/index.ts
  src/features/authentication/telegramUnlink/model/constants/telegramUnlinkConstants.ts
  src/features/authentication/telegramUnlink/model/types/telegramUnlinkTypes.ts
  src/features/authentication/telegramUnlink/ui/ConfirmTelegramUnlinkModal/ConfirmTelegramUnlinkModal.tsx
  src/features/authentication/telegramUnlink/ui/TelegramUnlinkButton/TelegramUnlinkButton.tsx
  src/pages/profile/SettingsProfilePage/ui/SettingsProfilePage.tsx
  src/pages/profile/SettingsProfilePage/ui/tabs/EmailConfirmationTab/EmailConfirmationTab.tsx
  src/pages/wiki/MyResourcesPage/ui/MyResourcesPage.tsx
  src/pages/wiki/ResourcesPage/ui/ResourcesPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/TelegramVerifiedSection/index.ts
  src/widgets/TelegramVerifiedSection/ui/TelegramVerifiedSection.module.css
  src/widgets/TelegramVerifiedSection/ui/TelegramVerifiedSection.tsx
  src/widgets/authentication/login/ui/LoginCreateForm/LoginCreateForm.tsx
  src/widgets/registration/ui/UserCreateForm.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1395: added deleteButton for requests (#918)
  public/locales/en/resources.json
  public/locales/ru/resources.json
  src/features/resources/deleteMyResourceRequest/api/deleteMyResorceRequestApi.ts
  src/features/resources/deleteMyResourceRequest/index.ts
  src/features/resources/deleteMyResourceRequest/model/constants/DeleteRequestApiUrls.ts
  src/features/resources/deleteMyResourceRequest/ui/DeleteMyResourceRequestButton/DeleteMyResourceRequestButton.module.css
  src/features/resources/deleteMyResourceRequest/ui/DeleteMyResourceRequestButton/DeleteMyResourceRequestButton.tsx
  src/pages/wiki/RequestInfoPage/ui/RequestInfoPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1388: fix errors
  src/entities/skill/model/constants/skillConstants.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1388: add popular skills block (#896)
  public/locales/en/analytics.json
  public/locales/ru/analytics.json
  src/entities/skill/api/__mocks__/data/index.ts
  src/entities/skill/api/__mocks__/data/skillsMock.ts
  src/entities/skill/api/__mocks__/index.ts
  src/entities/skill/api/__mocks__/skillListPopularMock.ts
  src/entities/skill/api/skillApi.ts
  src/entities/skill/index.ts
  src/entities/skill/model/constants/skillConstants.ts
  src/entities/skill/model/types/skill.ts
  src/pages/analytics/AnalyticsPage/ui/AnalyticsPage.tsx
  src/shared/config/api/apiTags.ts
  src/shared/config/i18n/i18n.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/GraphProgressBar/index.ts
  src/shared/ui/GraphProgressBar/ui/GraphProgressBar.module.css
  src/shared/ui/GraphProgressBar/ui/GraphProgressBar.tsx
  src/widgets/analytics/PopularSkills/index.ts
  src/widgets/analytics/PopularSkills/ui/PopularSkills/PopularSkills.module.css
  src/widgets/analytics/PopularSkills/ui/PopularSkills/PopularSkills.tsx
  src/widgets/analytics/PopularSkills/ui/ProgressBarItem/ProgressBarItem.module.css
  src/widgets/analytics/PopularSkills/ui/ProgressBarItem/ProgressBarItem.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1394: add a request editing page (#929)
  public/locales/en/marketplace.json
  public/locales/en/resources.json
  public/locales/en/translation.json
  public/locales/ru/marketplace.json
  public/locales/ru/resources.json
  public/locales/ru/translation.json
  src/app/providers/router/config/routeConfig.tsx
  src/entities/resource/ui/MyResourceCard/MyResourceCard.tsx
  src/features/resources/createResourceRequest/ui/ResourceRequestCreateForm/ResourceRequestCreateForm.tsx
  src/features/resources/editResourceRequest/api/editResourceRequestApi.ts
  src/features/resources/editResourceRequest/index.ts
  src/features/resources/editResourceRequest/model/constants/editResourceRequestConstants.ts
  src/features/resources/editResourceRequest/model/lib/validation/resourceRequestEditSchema.ts
  src/features/resources/editResourceRequest/model/types/resourceRequestEditTypes.ts
  src/features/resources/editResourceRequest/ui/ResourceEditedModerationModal/ResourceEditedModerationModal.tsx
  src/features/resources/editResourceRequest/ui/ResourceRequestEditForm/ResourceRequestEditForm.tsx
  src/features/resources/editResourceRequest/ui/ResourceRequestEditFormWithHeader/ResourceRequestFormWithHeader.module.css
  src/features/resources/editResourceRequest/ui/ResourceRequestEditFormWithHeader/ResourceRequestFormWithHeader.tsx
  src/pages/wiki/RequestInfoPage/ui/RequestInfoPage.tsx
  src/pages/wiki/RequestResourceEditPage/index.ts
  src/pages/wiki/RequestResourceEditPage/ui/RequestResourceEditPage.lazy.ts
  src/pages/wiki/RequestResourceEditPage/ui/RequestResourceEditPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
  src/shared/ui/NotificationModal/NotificationModal.module.css
  src/shared/ui/NotificationModal/NotificationModal.tsx
  src/shared/ui/NotificationModal/index.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1372: fix errors
  public/locales/en/analytics.json
  public/locales/ru/analytics.json
  src/pages/analytics/AnalyticsPage/ui/AnalyticsPage.tsx
  src/shared/config/i18n/i18n.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1372: add SkillProficiency widget (#901)
  public/locales/en/analytics.json
  public/locales/ru/analytics.json
  src/app/msw/handlers.ts
  src/entities/question/api/__mocks__/data/index.ts
  src/entities/question/api/__mocks__/data/learnedQuestionsMock.ts
  src/entities/question/api/__mocks__/getLearnedQuestionsMock.ts
  src/entities/question/api/__mocks__/index.ts
  src/entities/question/api/questionApi.ts
  src/entities/question/index.ts
  src/entities/question/model/constants/question.ts
  src/entities/question/model/lib/getPaginatedData.ts
  src/entities/question/model/types/learnedQuestion.ts
  src/entities/question/model/types/question.ts
  src/features/quiz/finishQuiz/api/finishQuizApi.ts
  src/features/quiz/interruptQuiz/api/interruptQuizApi.ts
  src/features/quiz/learnQuestion/api/learnQuestionApi.ts
  src/features/quiz/resetQuestionStudyProgress/api/resetQuestionStudyProgressApi.ts
  src/pages/analytics/AnalyticsPage/ui/AnalyticsPage.tsx
  src/pages/interview/QuestionsPage/ui/QuestionsPage/QuestionsPage.tsx
  src/shared/config/api/apiTags.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/analytics/SkillsProficiency/index.ts
  src/widgets/analytics/SkillsProficiency/model/hooks/useItemsSizeCalculation.ts
  src/widgets/analytics/SkillsProficiency/ui/SkillBar/SkillBar.module.css
  src/widgets/analytics/SkillsProficiency/ui/SkillBar/SkillBar.tsx
  src/widgets/analytics/SkillsProficiency/ui/SkillProficiencyItem/SkillProficiencyItem.module.css
  src/widgets/analytics/SkillsProficiency/ui/SkillProficiencyItem/SkillProficiencyItem.tsx
  src/widgets/analytics/SkillsProficiency/ui/SkillsProficiency/SkillsProficiency.module.css
  src/widgets/analytics/SkillsProficiency/ui/SkillsProficiency/SkillsProficiency.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1417: correction after the review
  public/locales/ru/user.json
  src/pages/admin/SpecializationsPage/model/selectors/specializationsPageSelectors.ts
  src/pages/admin/SpecializationsPage/model/slices/specializationsPageSlice.ts
  src/pages/admin/SpecializationsPage/model/types/specializationsPageTypes.ts
  src/pages/admin/SpecializationsPage/ui/SpecializationsPage/SpecializationsPage.tsx
  src/widgets/specializationFilterSet/ui/SpecializationFilterSet.module.css
  src/widgets/specializationFilterSet/ui/SpecializationFilterSet.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1374: Created a widget to display progress by specialization
  public/locales/ru/specialization.json
  src/entities/specialization/index.ts
  src/entities/specialization/model/types/specialization.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/SpecializationsProgress/index.ts
  src/widgets/SpecializationsProgress/ui/SpecializationsProgress.module.css
  src/widgets/SpecializationsProgress/ui/SpecializationsProgress.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1374: Added a mock request
  public/locales/ru/specialization.json
  src/app/msw/handlers.ts
  src/entities/specialization/index.ts
  src/entities/specialization/model/types/specialization.ts
  src/pages/analytics/AnalyticsPage/ui/AnalyticsPage.tsx
  src/shared/config/api/apiTags.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/SpecializationsProgress/index.ts
  src/widgets/SpecializationsProgress/ui/SpecializationsProgress.module.css
  src/widgets/SpecializationsProgress/ui/SpecializationsProgress.tsx
  src/widgets/analytics/api/__mocks__/data/index.ts
  src/widgets/analytics/api/__mocks__/data/specializationProgressMock.ts
  src/widgets/analytics/api/__mocks__/index.ts
  src/widgets/analytics/api/__mocks__/specializationProgressListMock.ts
  src/widgets/analytics/api/specializationProgressApi.ts
  src/widgets/analytics/index.ts
  src/widgets/analytics/model/constants/specializationProgress.ts
  src/widgets/analytics/model/types/specializationProgress.ts
  src/widgets/analytics/ui/SpecializationsProgress/SpecializationsProgress.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1374: Fixed the mock request
  src/widgets/analytics/api/__mocks__/specializationProgressListMock.ts
  src/widgets/analytics/ui/SpecializationsProgress/SpecializationsProgress.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1374: Fixed the mock request
  public/locales/ru/specialization.json
Due: none

YH-878: added tests for Toast component
  src/shared/ui/Toast/Toast.test.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-878: added tests for Toast component
  src/shared/ui/Toast/CloseBtn.tsx
  src/shared/ui/Toast/Toast.test.tsx
  src/shared/ui/Toast/Toast.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1374: Moved the query to Entities
  public/locales/en/specialization.json
  src/app/msw/handlers.ts
  src/entities/specialization/api/__mocks__/data/index.ts
  src/entities/specialization/api/__mocks__/data/specializationsProgressMock.ts
  src/entities/specialization/api/__mocks__/index.ts
  src/entities/specialization/api/__mocks__/specializationsProgressListMock.ts
  src/entities/specialization/api/specializationApi.ts
  src/entities/specialization/index.ts
  src/entities/specialization/model/constants/specializationsProgress.ts
  src/entities/specialization/model/types/specializationsProgress.ts
  src/pages/analytics/AnalyticsPage/ui/AnalyticsPage.tsx
  src/shared/config/api/apiTags.ts
  src/widgets/analytics/SpecializationsProgress/index.ts
  src/widgets/analytics/SpecializationsProgress/ui/SpecializationsProgressPanel/SpecializationsProgressPanel.tsx
  src/widgets/analytics/api/__mocks__/data/index.ts
  src/widgets/analytics/api/__mocks__/index.ts
  src/widgets/analytics/api/__mocks__/specializationProgressListMock.ts
  src/widgets/analytics/api/specializationProgressApi.ts
  src/widgets/analytics/index.ts
  src/widgets/analytics/model/constants/specializationProgress.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1389: update resource schema
  src/entities/resource/api/__mock__/data/resourcesMock.ts
  src/entities/resource/model/types/resource.ts
  src/entities/resource/ui/ResourceCard/ResourceCard.tsx
  src/pages/admin/ResourcesPage/ui/tabs/ResourcesAllTab/ResourcesAllTab/ResourcesAllTab.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1389: fix errors
  src/pages/admin/ResourcePage/ui/ResourcePage.tsx
  src/pages/admin/ResourcesPage/ui/tabs/ResourcesAllTab/ResourcesAllTab/ResourcesAllTab.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1389: update resource schema (#944)
  src/entities/resource/api/__mock__/data/resourcesMock.ts
  src/entities/resource/model/types/resource.ts
  src/entities/resource/ui/ResourceCard/ResourceCard.tsx
  src/pages/admin/ResourcePage/ui/ResourcePage.tsx
  src/pages/admin/ResourcesPage/ui/tabs/ResourcesAllTab/ResourcesAllTab/ResourcesAllTab.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1433: corrections
  src/pages/admin/CollectionsPage/ui/CollectionsPage/CollectionsPage.tsx
  src/pages/admin/CompaniesTablePage/ui/CompaniesTablePage/CompaniesTablePage.tsx
  src/pages/admin/QuestionsTablePage/ui/QuestionsTablePage/QuestionsTablePage.tsx
  src/pages/admin/ResourcesPage/ui/tabs/ResourcesRequestsTab/ResourcesRequestsTab/ResourcesRequestsTab.tsx
  src/pages/interview/QuestionsPage/ui/QuestionsPage/QuestionsPage.tsx
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsPage/PublicQuestionsPage.tsx
  src/pages/landing/PublicResourcesPage/ui/PublicResourcesPage.tsx
  src/pages/wiki/MyResourcesPage/ui/MyResourcesPage.tsx
  src/pages/wiki/ResourcesPage/ui/ResourcesPage.tsx
  src/shared/ui/EmptyFilterStub/EmptyFilerStub.module.css
  src/shared/ui/EmptyFilterStub/EmptyFilterStub.test.tsx
  src/shared/ui/EmptyFilterStub/EmptyFilterStub.tsx
  src/shared/ui/EmptyFilterStub/constants.ts
  src/shared/ui/EmptyFilterStub/index.ts
  src/shared/ui/EmptyStub/EmptyStub.module.css
  src/shared/ui/EmptyStub/EmptyStub.tsx
  src/shared/ui/EmptyStub/index.ts
  src/widgets/Collection/ui/CollectionsContent/CollectionsContent.tsx
  src/widgets/Marketplace/index.ts
  src/widgets/Marketplace/ui/NoRequestsCard/NoRequestsCard.module.css
  src/widgets/Marketplace/ui/NoRequestsCard/NoRequestsCard.tsx
  src/widgets/interview/PassedQuizzesList/ui/FullPassedQuizzesList/FullPassedQuizzesList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1417: fixes after review
  src/entities/user/ui/UserSelect/UserSelect.tsx
  src/shared/hooks/useQueryFilter.ts
  src/shared/ui/FiltersDrawer/FiltersDrawer.tsx
  src/shared/ui/IconButton/IconButton.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1430: added ResetFiltersButton to shared
  src/features/user/resetUsers/index.ts
  src/pages/admin/UserTablePage/ui/UserTablePage/UsersTablePage.tsx
  src/shared/ui/ResetFiltersButton/ResetFiltersButton.tsx
  src/shared/ui/ResetFiltersButton/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1376: fix errors
  public/locales/en/analytics.json
  public/locales/en/questions.json
  public/locales/ru/analytics.json
  public/locales/ru/questions.json
  src/entities/question/api/__mocks__/data/questionsMock.ts
  src/entities/question/api/__mocks__/questionListMock.ts
  src/entities/question/api/questionApi.ts
  src/entities/question/model/constants/question.ts
  src/entities/question/model/types/question.ts
  src/entities/question/ui/MostDifficultQuestion/MostDifficultQuestion.module.css
  src/entities/question/ui/MostDifficultQuestion/MostDifficultQuestion.tsx
  src/entities/question/ui/MostDifficultQuestions/MostDifficultQuestions.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/ProgressBar/ProgressBar.tsx
  src/shared/ui/ProgressBar/index.ts
  src/widgets/analytics/DifficultQuestionsList/ui/DifficultQuestionsList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1376: fix errors
  src/shared/ui/ProgressBar/ProgressBar.module.css
Due: npm run lint:css:fix

Feature/yh 1376 (#902)
  public/locales/en/analytics.json
  public/locales/ru/analytics.json
  src/app/msw/handlers.ts
  src/app/styles/variables/pallete.css
  src/entities/question/api/__mocks__/data/index.ts
  src/entities/question/api/__mocks__/data/questionsMock.ts
  src/entities/question/api/__mocks__/index.ts
  src/entities/question/api/__mocks__/questionListMock.ts
  src/entities/question/api/questionApi.ts
  src/entities/question/index.ts
  src/entities/question/model/constants/question.ts
  src/entities/question/model/types/question.ts
  src/entities/question/ui/MostDifficultQuestion/MostDifficultQuestion.module.css
  src/entities/question/ui/MostDifficultQuestion/MostDifficultQuestion.tsx
  src/entities/question/ui/MostDifficultQuestions/MostDifficultQuestions.tsx
  src/pages/analytics/AnalyticsPage/ui/AnalyticsPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/ProgressBar/ProgressBar.module.css
  src/shared/ui/ProgressBar/ProgressBar.tsx
  src/shared/ui/ProgressBar/index.ts
  src/widgets/analytics/DifficultQuestionsList/index.ts
  src/widgets/analytics/DifficultQuestionsList/ui/DifficultQuestionsList.module.css
  src/widgets/analytics/DifficultQuestionsList/ui/DifficultQuestionsList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix
