Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

.lintstagedrc:

{
  "./**/*.{ts,tsx,js,jsx}": ["npm run prettier", "npm run lint:ts:fix"],
  "*.css": "npm run lint:css:fix"
}

YH-966: change css file with fix style
  src/widgets/Landing/BannerBlock/ui/BannerImage/BannerImage.module.css
Due: npm run lint:css:fix

YH-966: change css file with fix style
  src/widgets/Landing/BannerBlock/ui/AvatarGroup/AvatarGroup.module.css
Due: npm run lint:css:fix

YH-996: feature add skeleton to landing page banner (#665)
  src/pages/landing/LandingPage/ui/LandingPage.skeleton.tsx
  src/widgets/Landing/BannerBlock/index.ts
  src/widgets/Landing/BannerBlock/ui/AvatarGroup/AvatarGroup.module.css
  src/widgets/Landing/BannerBlock/ui/AvatarGroup/AvatarGroup.skeleton.tsx
  src/widgets/Landing/BannerBlock/ui/BannerBlock/BannerBlock.module.css
  src/widgets/Landing/BannerBlock/ui/BannerBlock/BannerBlock.skeleton.tsx
  src/widgets/Landing/BannerBlock/ui/BannerButton/BannerButton.skeleton.tsx
  src/widgets/Landing/BannerBlock/ui/BannerContent/BannerContent.skeleton.tsx
  src/widgets/Landing/BannerBlock/ui/BannerImage/BannerImage.skeleton.tsx
  src/widgets/Landing/BannerBlock/ui/BlockDescription/BlockDescription.skeleton.tsx
  src/widgets/Landing/BannerBlock/ui/BlockTitle/BlockTitle.skeleton.tsx
  src/widgets/Landing/BannerBlock/ui/Sticker/Sticker.skeleton.tsx
  src/widgets/Landing/BannerBlock/ui/Sticker/Sticker.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1024: fix TextEditor style
  src/app/styles/App.css
  src/app/styles/variables/font-families.css
  src/app/styles/variables/font-familys.css
  src/shared/ui/TextEditor/TextEditor.module.css
  src/shared/ui/TextEditor/TextEditor.tsx
  src/shared/ui/TextHtml/TextHtml.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1024: delete text-indent
  src/shared/ui/TextEditor/TextEditor.module.css
  src/shared/ui/TextHtml/TextHtml.module.css
Due: npm run lint:css:fix

YH-1016: PreviewQuestionsList corrected the comments on the comments
  src/entities/question/ui/QuestionGradeList/QuestionGradeList.tsx
  src/shared/ui/Card/Card.module.css
  src/shared/ui/Card/Card.tsx
  src/shared/ui/GradeChip/GradeChip.module.css
  src/shared/ui/GradeChip/GradeChip.tsx
  src/widgets/question/QuestionsList/ui/PreviewQuestionsItem/PreviewQuestionsItem.module.css
  src/widgets/question/QuestionsList/ui/PreviewQuestionsItem/PreviewQuestionsItem.skeleton.tsx
  src/widgets/question/QuestionsList/ui/PreviewQuestionsItem/PreviewQuestionsItem.tsx
  src/widgets/question/QuestionsList/ui/PreviewQuestionsList/PreviewQuestionsList.module.css
  src/widgets/question/QuestionsList/ui/PreviewQuestionsList/PreviewQuestionsList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1022: scaffold marketplace placeholders
  src/pages/marketplace/MarketplacePage/MarketplacePage.module.css
  src/pages/marketplace/MarketplacePage/MarketplacePage.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1022: scaffold MarketplacePage and register route
  src/app/providers/router/config/routeConfig.tsx
  src/pages/marketplace/MarketplacePage/MarketplacePage.lazy.ts
  src/pages/marketplace/MarketplacePage/MarketplacePage.module.css
  src/pages/marketplace/MarketplacePage/MarketplacePage.tsx
  src/pages/marketplace/MarketplacePage/index.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1022: add Marketplace route constant
  src/shared/config/router/routes.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1022: relocate MarketplacePage to ui
  src/app/providers/router/config/routeConfig.tsx
  src/pages/marketplace/MarketplacePage/index.ts
  src/pages/marketplace/MarketplacePage/ui/MarketplacePage.lazy.ts
  src/pages/marketplace/MarketplacePage/ui/MarketplacePage.module.css
  src/pages/marketplace/MarketplacePage/ui/MarketplacePage.tsx
  src/pages/marketplace/index.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1022: deleted memo and unnecessary export
  src/pages/marketplace/MarketplacePage/ui/MarketplacePage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1022: rename cls to styles in MarketplacePage
  src/pages/marketplace/MarketplacePage/ui/MarketplacePage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1026: Update sidebar and popover profile links
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/app/providers/router/config/routeConfig.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/Header/ui/UserPreferences/UserPreferences.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1019: Add translate in FAQ block
  src/widgets/Profile/ui/SubscriptionTab/ui/FreeSubscriptionTab/FreeSubscriptionTab.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1036: changed Guru styles
  src/entities/guru/ui/GurusItem/GurusItem.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1022: move MarketplacePage into landing as PublicMarketplacePage
  src/app/providers/router/config/routeConfig.tsx
  src/entities/guru/ui/GuruSocialsList/GuruSocialsList.module.css
  src/entities/guru/ui/GuruSocialsList/GuruSocialsList.tsx
  src/entities/guru/ui/GurusHeader/GurusHeader.module.css
  src/entities/guru/ui/GurusItem/GurusItem.module.css
  src/entities/guru/ui/GurusList/GurusList.module.css
  src/pages/interview/MainPage/ui/MainPage.module.css
  src/pages/landing/PublicCollectionPage/ui/PublicCollectionPage.module.css
  src/pages/landing/PublicMarketplacePage/index.ts
  src/pages/landing/PublicMarketplacePage/ui/PublicMarketplacePage.lazy.ts
  src/pages/landing/PublicMarketplacePage/ui/PublicMarketplacePage.module.css
  src/pages/landing/PublicMarketplacePage/ui/PublicMarketplacePage.tsx
  src/pages/marketplace/MarketplacePage/ui/MarketplacePage.lazy.ts
  src/pages/marketplace/index.ts
  src/shared/ui/Avatar/Avatar.module.css
  src/shared/ui/Card/Card.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1017: update question list styles
  src/shared/ui/TextHtml/TextHtml.module.css
Due: npm run lint:css:fix

YH-1036: changed Guru styles (#678)
  src/entities/guru/ui/GurusItem/GurusItem.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1016: PreviewQuestionsList corrected the new comments on the comments
  src/entities/question/ui/QuestionGradeList/QuestionGradeList.skeleton.tsx
  src/shared/ui/Card/Card.skeleton.tsx
  src/shared/ui/Card/Card.tsx
  src/shared/ui/GradeChip/GradeChip.skeleton.tsx
  src/shared/ui/GradeChip/GradeChip.tsx
  src/widgets/question/QuestionsList/ui/PreviewQuestionsItem/PreviewQuestionsItem.module.css
  src/widgets/question/QuestionsList/ui/PreviewQuestionsItem/PreviewQuestionsItem.skeleton.tsx
  src/widgets/question/QuestionsList/ui/PreviewQuestionsItem/PreviewQuestionsItem.tsx
  src/widgets/question/QuestionsList/ui/PreviewQuestionsList/PreviewQuestionsList.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1016: PreviewQuestionsList corrected the last comments on the comments
  src/shared/ui/Card/Card.skeleton.tsx
  src/shared/ui/Card/Card.tsx
  src/shared/ui/GradeChip/GradeChip.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1016: PreviewQuestionsList added new styles (#672)
  src/entities/question/ui/QuestionGradeList/QuestionGradeList.skeleton.tsx
  src/entities/question/ui/QuestionGradeList/QuestionGradeList.tsx
  src/shared/ui/Card/Card.module.css
  src/shared/ui/Card/Card.skeleton.tsx
  src/shared/ui/Card/Card.tsx
  src/shared/ui/GradeChip/GradeChip.module.css
  src/shared/ui/GradeChip/GradeChip.skeleton.tsx
  src/shared/ui/GradeChip/GradeChip.tsx
  src/widgets/question/QuestionsList/ui/PreviewQuestionsItem/PreviewQuestionsItem.module.css
  src/widgets/question/QuestionsList/ui/PreviewQuestionsItem/PreviewQuestionsItem.skeleton.tsx
  src/widgets/question/QuestionsList/ui/PreviewQuestionsItem/PreviewQuestionsItem.tsx
  src/widgets/question/QuestionsList/ui/PreviewQuestionsList/PreviewQuestionsList.module.css
  src/widgets/question/QuestionsList/ui/PreviewQuestionsList/PreviewQuestionsList.skeleton.tsx
  src/widgets/question/QuestionsList/ui/PreviewQuestionsList/PreviewQuestionsList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1019: Add translate in FAQ block (#676)
  src/widgets/Profile/ui/SubscriptionTab/ui/FreeSubscriptionTab/FreeSubscriptionTab.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1017: fix addressed review comments
  src/pages/interview/QuestionsPage/ui/QuestionsPagePagination/QuestionPagePagination.module.css
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsPagePagination/PublicQuestionPagePagination.module.css
  src/shared/ui/Accordion/ui/Accordion.module.css
  src/shared/ui/Card/Card.module.css
  src/widgets/question/QuestionsList/ui/FullQuestionsList/FullQuestionsList.module.css
Due: npm run lint:css:fix

YH-1025: Fix profile roles view
  src/entities/guru/ui/GuruSocialsList/GuruSocialsList.module.css
  src/entities/guru/ui/GuruSocialsList/GuruSocialsList.tsx
  src/shared/ui/Flex/Flex.module.css
  src/shared/ui/Flex/Flex.tsx
  src/widgets/Profile/ui/UserCard/ui/UserBlock/UserBlock.module.css
  src/widgets/Profile/ui/UserCard/ui/UserBlock/UserBlock.tsx
  src/widgets/Profile/ui/UserCard/ui/UserInfoBlock/UserInfoBlock.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1025: Fix profile roles view (#675)
  src/entities/guru/ui/GuruSocialsList/GuruSocialsList.module.css
  src/entities/guru/ui/GuruSocialsList/GuruSocialsList.tsx
  src/shared/ui/Flex/Flex.module.css
  src/shared/ui/Flex/Flex.tsx
  src/widgets/Profile/ui/UserCard/ui/UserBlock/UserBlock.module.css
  src/widgets/Profile/ui/UserCard/ui/UserBlock/UserBlock.tsx
  src/widgets/Profile/ui/UserCard/ui/UserInfoBlock/UserInfoBlock.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1022: align PublicMarketplacePage UI with PublicQuestionsPage
  src/pages/landing/PublicMarketplacePage/ui/PublicMarketplacePage.module.css
  src/pages/landing/PublicMarketplacePage/ui/PublicMarketplacePage.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1018: PreviewPassedQuizzesList added new styles
  src/widgets/interview/PassedQuizzesList/ui/PreviewPassedQuizzesItem/PreviewPassedQuizzesItem.module.css
  src/widgets/interview/PassedQuizzesList/ui/PreviewPassedQuizzesItem/PreviewPassedQuizzesItem.skeleton.tsx
  src/widgets/interview/PassedQuizzesList/ui/PreviewPassedQuizzesItem/PreviewPassedQuizzesItem.tsx
  src/widgets/interview/PassedQuizzesList/ui/PreviewPassedQuizzesList/PreviewPassedQuizzesList.module.css
  src/widgets/interview/PassedQuizzesList/ui/PreviewPassedQuizzesList/PreviewPassedQuizzesList.skeleton.tsx
  src/widgets/interview/PassedQuizzesList/ui/PreviewPassedQuizzesList/PreviewPassedQuizzesList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1022: scaffold marketplace placeholders (#670)
  src/app/providers/router/config/routeConfig.tsx
  src/entities/guru/ui/GurusHeader/GurusHeader.module.css
  src/entities/guru/ui/GurusItem/GurusItem.module.css
  src/entities/guru/ui/GurusList/GurusList.module.css
  src/pages/interview/MainPage/ui/MainPage.module.css
  src/pages/landing/PublicCollectionPage/ui/PublicCollectionPage.module.css
  src/pages/landing/PublicMarketplacePage/index.ts
  src/pages/landing/PublicMarketplacePage/ui/PublicMarketplacePage.lazy.ts
  src/pages/landing/PublicMarketplacePage/ui/PublicMarketplacePage.module.css
  src/pages/landing/PublicMarketplacePage/ui/PublicMarketplacePage.tsx
  src/shared/config/router/routes.ts
  src/shared/ui/Avatar/Avatar.module.css
  src/shared/ui/Card/Card.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1028: Updating the design of the subscription selection tab
  public/locales/en/subscriptionCard.json
  public/locales/ru/subscriptionCard.json
Due: none

YH-1039: add subscription access warning component
  public/locales/en/subscription.json
  public/locales/ru/subscription.json
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/Profile/ui/SubscriptionTab/ui/PremiumSubscriptionTab/PremiumSubscriptionTab.tsx
Due: npm run prettier, npm run lint:ts:fix

Revert changes in TextHtml.module.css from develop
  src/shared/ui/TextHtml/TextHtml.module.css
Due: npm run lint:css:fix

YH-1028: Updating the design of the subscription selection tab
  src/widgets/FaqList/ui/FaqItem/FaqItem.module.css
  src/widgets/Profile/ui/SubscriptionTab/ui/FreeSubscriptionTab/FreeSubscriptionTab.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1026: Remove scroll from profile popover
  src/app/styles/App.css
Due: npm run lint:css:fix

YH-1018: PreviewPassedQuizzesList added new styles (#681)
  src/widgets/interview/PassedQuizzesList/ui/PreviewPassedQuizzesItem/PreviewPassedQuizzesItem.module.css
  src/widgets/interview/PassedQuizzesList/ui/PreviewPassedQuizzesItem/PreviewPassedQuizzesItem.skeleton.tsx
  src/widgets/interview/PassedQuizzesList/ui/PreviewPassedQuizzesItem/PreviewPassedQuizzesItem.tsx
  src/widgets/interview/PassedQuizzesList/ui/PreviewPassedQuizzesList/PreviewPassedQuizzesList.module.css
  src/widgets/interview/PassedQuizzesList/ui/PreviewPassedQuizzesList/PreviewPassedQuizzesList.skeleton.tsx
  src/widgets/interview/PassedQuizzesList/ui/PreviewPassedQuizzesList/PreviewPassedQuizzesList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1026: Update sidebar and popover profile links (#674)
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/app/providers/router/config/routeConfig.tsx
  src/app/styles/App.css
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/Header/ui/UserPreferences/UserPreferences.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1028: Updating the design of the subscription selection tab (#673)
  public/locales/en/subscriptionCard.json
  public/locales/ru/subscriptionCard.json
  src/widgets/FaqList/ui/FaqItem/FaqItem.module.css
  src/widgets/Profile/ui/SubscriptionTab/ui/FreeSubscriptionTab/FreeSubscriptionTab.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1017: fix gap and side padding
  src/shared/ui/Accordion/ui/Accordion.module.css
  src/shared/ui/Accordion/ui/Accordion.tsx
  src/shared/ui/Card/Card.module.css
  src/widgets/question/QuestionsList/ui/FullQuestionsList/FullQuestionsList.module.css
  src/widgets/question/QuestionsList/ui/FullQuestionsList/FullQuestionsList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix
