Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1846: pass reset handler to onChangeFilterValue in PublicCompanySelect (#1203)
  src/entities/company/ui/PublicCompanySelect/PublicCompanySelect.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1874: create deleteReferralLinkMock for deleteReferralLinkApi
  src/entities/referralLink/index.ts
  src/features/referralLinks/deleteReferralLink/api/__mocks__/deleteReferralLinkMock.ts
  src/features/referralLinks/deleteReferralLink/api/__mocks__/index.ts
Due: npm run prettier, npm run lint:ts:fix

Feature/yh 1852 (#1206)
  package-lock.json
  public/locales/en/guru.json
  public/locales/ru/guru.json
  src/app/styles/variables/pallete.css
  src/entities/guru/index.ts
  src/entities/guru/model/constants/gurus.ts
  src/entities/guru/model/helpers/getNewGuruWithMatchingSpecialization.ts
  src/entities/guru/model/types/guru.ts
  src/entities/guru/ui/NewGuruBanner/NewGuruBanner.module.css
  src/entities/guru/ui/NewGuruBanner/NewGuruBanner.tsx
  src/pages/wiki/collection/collectionDetail/ui/CollectionContent/CollectionContent.tsx
  src/pages/wiki/question/questionDetail/ui/QuestionPageContent/QuestionPageContent.tsx
  src/shared/assets/images/skills/cicd.png
  src/shared/assets/images/skills/css.png
  src/shared/assets/images/skills/docker.png
  src/shared/assets/images/skills/eslint.png
  src/shared/assets/images/skills/html.png
  src/shared/assets/images/skills/js.png
  src/shared/assets/images/skills/redux.png
  src/shared/assets/images/skills/storybook.png
  src/shared/assets/images/skills/ts.png
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/SidebarBanner/index.ts
  src/widgets/SidebarBanner/ui/SidebarBanner.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1853: added a mock request to get programming languages (#1204)
  src/app/msw/handlers.ts
  src/entities/programmingLanguage/api/__mocks__/data/index.ts
  src/entities/programmingLanguage/api/__mocks__/data/programmingLanguagesMock.ts
  src/entities/programmingLanguage/api/__mocks__/index.ts
  src/entities/programmingLanguage/api/__mocks__/programmingLanguagesListMock.ts
  src/entities/programmingLanguage/index.ts
  src/entities/programmingLanguage/model/types/programmingLanguage.ts
  src/entities/task/ui/TaskStructuresField/TaskStructuresField.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1766: fix
  src/entities/company/@x/task.ts
  src/entities/guru/ui/NewGuruBanner/NewGuruBanner.tsx
  src/entities/task/api/__mocks__/taskListMock.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1894: add a story and create screenshots from the SimpleStub component
  .loki/reference/chrome_iphone7_shared_SimpleStub_Empty.png
  .loki/reference/chrome_iphone7_shared_SimpleStub_No_Access.png
  .loki/reference/chrome_iphone7_shared_SimpleStub_No_Authorized.png
  .loki/reference/chrome_laptop_shared_SimpleStub_Empty.png
  .loki/reference/chrome_laptop_shared_SimpleStub_No_Access.png
  .loki/reference/chrome_laptop_shared_SimpleStub_No_Authorized.png
  src/shared/assets/icons/auth.svg
  src/shared/assets/icons/clockSquare.svg
  src/shared/assets/icons/lockKeyholeMinimalistic.svg
  src/shared/ui/SimpleStub/SimpleStub.stories.tsx
Due: npm run prettier, npm run lint:ts:fix

Feature/yh 1766: добавление мока для создания коллекции (#1152)
  .claude/settings.local.json
  src/app/index.tsx
  src/app/msw/handlers.ts
  src/entities/collection/api/__mock__/data/collectionsMock.ts
  src/entities/company/@x/task.ts
  src/entities/guru/ui/NewGuruBanner/NewGuruBanner.tsx
  src/entities/task/api/__mocks__/index.ts
  src/entities/task/api/__mocks__/taskListMock.ts
  src/entities/task/index.ts
  src/features/collections/createCollection/api/__mocks__/createCollectionMock.ts
  src/features/collections/createCollection/api/__mocks__/index.ts
  src/features/collections/createCollection/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1875: added OrderFilter unit tests
  src/shared/ui/OrderFilter/OrderFilter.test.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1896: Added a story for the FormField component
  src/shared/ui/FormField/FormField.stories.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1925: refactor CompanyFrom component
  src/entities/company/ui/CompanyForm/CompanyForm.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1919: replace recurring markdown in CollectionForm component with shared FormField
  src/entities/collection/ui/CollectionForm/CollectionForm.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1914: add question study statuses for premium users
  public/locales/en/questions.json
  public/locales/ru/questions.json
  src/entities/question/index.ts
  src/entities/question/lib/getStudyStatus.ts
  src/entities/question/ui/QuestionStudyStatus/QuestionStudyStatus.module.css
  src/entities/question/ui/QuestionStudyStatus/QuestionStudyStatus.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Accordion/Accordion.module.css
  src/shared/ui/Accordion/Accordion.tsx
  src/widgets/question/QuestionsList/ui/FullQuestionsList/FullQuestionsList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1913: аdd company filter to admin collections
  src/features/collections/filterCollections/ui/CollectionsFilters/CollectionsFilters.tsx
  src/pages/admin/collection/collections/ui/CollectionsPage/CollectionsPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1917: implement pagination and active state in drawer
  src/entities/question/ui/ChooseQuestionsDrawer/ChooseQuestionsDrawer.module.css
  src/entities/question/ui/ChooseQuestionsDrawer/ChooseQuestionsDrawer.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1924: refactor SkillForm component
  src/entities/skill/ui/SkillForm/SkillForm.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1927: refactor UserCard component
  src/entities/user/ui/UserCard/UserCard.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1927: refactor UserCard component (#1220)
  src/entities/user/ui/UserCard/UserCard.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1917: implement pagination and active state in drawer (#1218)
  src/entities/question/ui/ChooseQuestionsDrawer/ChooseQuestionsDrawer.module.css
  src/entities/question/ui/ChooseQuestionsDrawer/ChooseQuestionsDrawer.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1913: аdd company filter to admin collections (#1217)
  src/features/collections/filterCollections/ui/CollectionsFilters/CollectionsFilters.tsx
  src/pages/admin/collection/collections/ui/CollectionsPage/CollectionsPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1924: refactor SkillForm remove unused styles
  src/entities/skill/ui/SkillForm/SkillForm.module.css
Due: npm run lint:css:fix

YH-1924: refactor SkillForm component (#1219)
  src/entities/skill/ui/SkillForm/SkillForm.module.css
  src/entities/skill/ui/SkillForm/SkillForm.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1925: refactor CompanyForm component
  src/entities/company/ui/CompanyForm/CompanyForm.module.css
  src/entities/company/ui/CompanyForm/CompanyForm.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1919: remove unused classes from styles and unused classname from component
  src/entities/collection/ui/CollectionForm/CollectionForm.module.css
  src/entities/collection/ui/CollectionForm/CollectionForm.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1919: remove row direction attribute in form field component as it is default value
  src/entities/collection/ui/CollectionForm/CollectionForm.tsx
Due: npm run prettier, npm run lint:ts:fix

feature/YH-1916: add sorting by name and createdAt in tasks table
  public/locales/en/task.json
  public/locales/ru/task.json
  src/entities/task/model/types/filters.ts
  src/entities/task/model/types/task.ts
  src/features/task/filterTasks/model/hooks/useTasksFilters.ts
  src/features/task/filterTasks/ui/TaskFilters/TasksFilters.tsx
  src/features/task/filterTasks/ui/TaskSortByFieldFilter/TaskSortByFieldFilter.tsx
  src/pages/admin/task/tasks/ui/TasksTablePage/TasksTablePage.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1562: add skeleton for resource request creation page
  src/app/layouts/MainLayout/SkeletonGenerator/SkeletonGenerator.tsx
  src/entities/resource/index.ts
  src/entities/resource/ui/ResourceForm/ResourceForm.skeleton.tsx
  src/features/resources/createResourceRequest/index.ts
  src/features/resources/createResourceRequest/ui/ResourceRequestCreateFormWithHeader/ResourceRequestFormWithHeader.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1918: modified tasks drawer select logic
  src/entities/task/index.ts
  src/entities/task/model/types/task.ts
  src/entities/task/ui/ChooseTasksDrawer/ChooseTasksDrawer.module.css
  src/entities/task/ui/ChooseTasksDrawer/ChooseTasksDrawer.tsx
  src/entities/task/ui/ChooseTasksDrawer/TasksSearchList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1918: YH-1918: add tasks drawer pagination
  src/entities/task/ui/ChooseTasksDrawer/TasksSearchList.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1914: refactor QuestionStudyStatus with StatusChip and fix Accordion layout
  src/entities/question/ui/QuestionStudyStatus/QuestionStudyStatus.module.css
  src/entities/question/ui/QuestionStudyStatus/QuestionStudyStatus.tsx
  src/shared/ui/Accordion/Accordion.module.css
  src/shared/ui/Accordion/Accordion.tsx
  src/widgets/question/QuestionsList/ui/FullQuestionsList/FullQuestionsList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1649: Repaint default close modal button from purple to white color
  src/shared/ui/Modal/constants.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1649: Repaint default close modal button from purple to white color (#1224)
  src/shared/ui/Modal/constants.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1918: fix
  src/pages/admin/collection/collectionDetail/ui/CollectionPage/CollectionPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1918: add tasks drawer pagination and active state (#1223)
  src/entities/task/index.ts
  src/entities/task/model/types/task.ts
  src/entities/task/ui/ChooseTasksDrawer/ChooseTasksDrawer.module.css
  src/entities/task/ui/ChooseTasksDrawer/ChooseTasksDrawer.tsx
  src/entities/task/ui/ChooseTasksDrawer/TasksSearchList.tsx
  src/pages/admin/collection/collectionDetail/ui/CollectionPage/CollectionPage.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1914: add question study statuses for premium users (#1216)
  public/locales/en/questions.json
  public/locales/ru/questions.json
  src/entities/question/index.ts
  src/entities/question/lib/getStudyStatus.ts
  src/entities/question/ui/QuestionStudyStatus/QuestionStudyStatus.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Accordion/Accordion.module.css
  src/shared/ui/Accordion/Accordion.tsx
  src/widgets/question/QuestionsList/ui/FullQuestionsList/FullQuestionsList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1919: replace markdown in CollectionForm component with shared FormField (#1215)
  src/entities/collection/ui/CollectionForm/CollectionForm.module.css
  src/entities/collection/ui/CollectionForm/CollectionForm.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1925: refactor CompanyForm component (#1214)
  src/entities/company/ui/CompanyForm/CompanyForm.module.css
  src/entities/company/ui/CompanyForm/CompanyForm.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1896: Added a story for the FormField component (#1213)
  src/shared/ui/FormField/FormField.stories.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1894: add a story and create screenshots from the SimpleStub component (#1212)
  .loki/reference/chrome_iphone7_shared_SimpleStub_Empty.png
  .loki/reference/chrome_iphone7_shared_SimpleStub_No_Access.png
  .loki/reference/chrome_iphone7_shared_SimpleStub_No_Authorized.png
  .loki/reference/chrome_laptop_shared_SimpleStub_Empty.png
  .loki/reference/chrome_laptop_shared_SimpleStub_No_Access.png
  .loki/reference/chrome_laptop_shared_SimpleStub_No_Authorized.png
  src/shared/assets/icons/auth.svg
  src/shared/assets/icons/clockSquare.svg
  src/shared/assets/icons/lockKeyholeMinimalistic.svg
  src/shared/ui/SimpleStub/SimpleStub.stories.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1874: fix
  src/app/msw/handlers.ts
  src/features/referralLinks/deleteReferralLink/api/__mocks__/deleteReferralLinkMock.ts
  src/features/referralLinks/deleteReferralLink/api/__mocks__/index.ts
  src/features/referralLinks/deleteReferralLink/api/deleteReferralLinkApi.ts
  src/features/referralLinks/deleteReferralLink/index.ts
  src/features/referralLinks/deleteReferralLink/model/constants/deleteReferralLinkApiUrls.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1874: create deleteReferralLinkMock for deleteReferralLinkApi (#1211)
  src/app/msw/handlers.ts
  src/entities/referralLink/index.ts
  src/features/referralLinks/deleteReferralLink/api/__mocks__/deleteReferralLinkMock.ts
  src/features/referralLinks/deleteReferralLink/api/__mocks__/index.ts
  src/features/referralLinks/deleteReferralLink/api/deleteReferralLinkApi.ts
  src/features/referralLinks/deleteReferralLink/index.ts
  src/features/referralLinks/deleteReferralLink/model/constants/deleteReferralLinkApiUrls.ts
Due: npm run prettier, npm run lint:ts:fix

Path conditions:
  npm run prettier: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:ts:fix: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:css:fix: any of: *.css
