Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2417: fix MSW development setup (#1461)
  config/webpack/webpackPlugins.ts
  package.json
  public/mockServiceWorker.js
Due: npm run prettier, npm run lint:ts:fix

YH-2401: replace Table with TableV2 in PopularQuestionsPageTable (#1459)
  src/pages/analytics/popularQuestions/ui/PopularQuestionsPageTable/PopularQuestionsPageTable.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2400: migrate skills proficiency table to TableV2 (#1458)
  src/pages/analytics/skillsProficiency/ui/SkillsProficiencyPageTable/SkillsProficiencyPageTable.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2397: fix review comments
  src/pages/admin/referralLink/referralLinks/ui/ReferralLinksTable/ReferralLinksTable.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2396: fix review comments
  src/pages/admin/featureFlag/featureFlags/ui/FeatureFlagPage/FeatureFlagsTablePage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2396: migrate feature flags table to TableV2 (#1460)
  src/features/featureFlag/deleteFeatureFlag/index.ts
  src/pages/admin/featureFlag/featureFlags/ui/FeatureFlagPage/FeatureFlagsTablePage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2397: refactor ReferralLinksTable(Table->TableV2) (#1457)
  src/features/referralLinks/deleteReferralLink/index.ts
  src/pages/admin/referralLink/referralLinks/ui/ReferralLinksTable/ReferralLinksTable.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2431: fix review comments
  src/entities/specialization/ui/SpecializationCard/SpecializationCard.tsx
  src/shared/ui/TableCellWithTooltip/TableCellWithTooltip.tsx
  src/shared/ui/Text/Text.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2244: add CollectionEditPage skeleton
  src/app/layouts/MainLayout/SkeletonGenerator/SkeletonGenerator.tsx
  src/features/collections/editCollection/index.ts
  src/features/collections/editCollection/ui/CollectionEditForm/CollectionEditForm.skeleton.tsx
  src/features/collections/editCollection/ui/CollectionEditFormHeader/CollectionEditFormHeader.skeleton.tsx
  src/pages/admin/collection/collectionEdit/ui/CollectionEditPage/CollectionEditPage.skeleton.tsx
  src/pages/admin/collection/collectionEdit/ui/CollectionEditPage/CollectionEditPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2244: fix CollectionEditForm import
  src/pages/admin/collection/collectionEdit/ui/CollectionEditPage/CollectionEditPage.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2446: fix comments
  src/features/specialization/createSpecialization/ui/SpecializationCreateForm/SpecializationCreateForm.tsx
  src/shared/libs/browser/manageLocalStorage/manageLocalStorage.ts
  src/shared/libs/browser/useFormPersist/useFormPersist.test.tsx
  src/shared/libs/browser/useFormPersist/useFormPersist.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2254: QuestionEditFormSkeleton done
  src/app/layouts/MainLayout/SkeletonGenerator/SkeletonGenerator.tsx
  src/features/question/editQuestion/index.ts
  src/features/question/editQuestion/ui/QuestionEditForm/QuestionEditFormSkeleton.tsx
  src/features/question/editQuestion/ui/QuestionEditFormHeader/QuestionEditFormHeaderSkeleton.tsx
  src/pages/admin/question/questionEdit/ui/QuestionEditPage/QuestionEditPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2428: added FormInputRadioGroup and change forms with radio
  src/entities/collection/ui/CollectionForm/CollectionForm.tsx
  src/entities/task/ui/TaskForm/TaskForm.tsx
  src/shared/ui/form/FormInputRadioGroup.tsx
  src/shared/ui/form/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2426: added shared FormInputRange component for selecting digital ranges
  src/entities/question/ui/QuestionForm/QuestionForm.module.css
  src/entities/question/ui/QuestionForm/QuestionForm.skeleton.tsx
  src/entities/question/ui/QuestionForm/QuestionForm.tsx
  src/entities/task/ui/TaskForm/TaskForm.module.css
  src/entities/task/ui/TaskForm/TaskForm.skeleton.tsx
  src/entities/task/ui/TaskForm/TaskForm.tsx
  src/shared/ui/form/FormInputRange/FormInputRange.module.css
  src/shared/ui/form/FormInputRange/FormInputRange.skeleton.tsx
  src/shared/ui/form/FormInputRange/FormInputRange.tsx
  src/shared/ui/form/FormInputRange/index.ts
  src/shared/ui/form/index.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2425: refactor: address review comments
  src/entities/collection/ui/CollectionForm/CollectionForm.skeleton.tsx
  src/entities/collection/ui/CollectionForm/CollectionForm.tsx
  src/entities/featureFlag/ui/FeatureFlagForm/FeatureFlagForm.tsx
  src/entities/question/ui/QuestionForm/QuestionForm.module.css
  src/entities/question/ui/QuestionForm/QuestionForm.skeleton.tsx
  src/entities/question/ui/QuestionForm/QuestionForm.tsx
  src/entities/skill/ui/SkillForm/SkillForm.skeleton.tsx
  src/entities/skill/ui/SkillForm/SkillForm.tsx
  src/entities/specialization/ui/SpecializationForm/SpecializationForm.module.css
  src/entities/specialization/ui/SpecializationForm/SpecializationForm.skeleton.tsx
  src/entities/specialization/ui/SpecializationForm/SpecializationForm.tsx
  src/entities/topic/ui/TopicForm/TopicForm.module.css
  src/entities/topic/ui/TopicForm/TopicForm.skeleton.tsx
  src/entities/topic/ui/TopicForm/TopicForm.tsx
  src/shared/ui/form/FormInputDescription/FormInputDescription.skeleton.tsx
  src/shared/ui/form/FormInputDescription/FormInputDescription.tsx
  src/shared/ui/form/FormInputDescription/index.ts
  src/shared/ui/form/index.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2425: Remove redundant styles from description class
  src/entities/question/ui/QuestionForm/QuestionForm.module.css
Due: npm run lint:css:fix

YH-2469: create new rule to check props name
  eslint.config.mjs
  eslint/props-naming/policy.mjs
  eslint/props-naming/rule.mjs
Due: none

YH-2469: change props check rule for skeleton components
  eslint/props-naming/policy.mjs
Due: none

YH-2457: added articles table with pagination
  public/locales/en/article.json
  public/locales/en/translation.json
  public/locales/ru/article.json
  public/locales/ru/translation.json
  src/app/layouts/MainLayout/SkeletonGenerator/SkeletonGenerator.tsx
  src/app/providers/router/routeConfig.tsx
  src/entities/article/api/articleApi.ts
  src/entities/article/index.ts
  src/entities/article/model/constants/article.ts
  src/entities/article/model/types/article.ts
  src/entities/article/model/types/filters.ts
  src/entities/article/ui/ArticleTopicsCell/ArticleTopicsCell.tsx
  src/entities/specialization/@x/article.ts
  src/features/article/filterArticles/index.ts
  src/features/article/filterArticles/model/hooks/useArticlesFilters.ts
  src/features/article/filterArticles/model/hooks/useGetArticlesFilterParams.ts
  src/pages/admin/article/articles/index.ts
  src/pages/admin/article/articles/ui/ArticlesTable/ArticlesTable.module.css
  src/pages/admin/article/articles/ui/ArticlesTable/ArticlesTable.tsx
  src/pages/admin/article/articles/ui/ArticlesTablePage/ArticlesTablePage.lazy.tsx
  src/pages/admin/article/articles/ui/ArticlesTablePage/ArticlesTablePage.module.css
  src/pages/admin/article/articles/ui/ArticlesTablePage/ArticlesTablePage.skeleton.tsx
  src/pages/admin/article/articles/ui/ArticlesTablePage/ArticlesTablePage.tsx
  src/shared/assets/icons/articles.svg
  src/shared/config/i18n/i18nNamespaces.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/query/apiTags.ts
  src/shared/config/router/routes.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2251: add FeatureFlagEditPage skeleton
  src/app/layouts/MainLayout/SkeletonGenerator/SkeletonGenerator.tsx
  src/app/providers/router/routeConfig.tsx
  src/entities/featureFlag/index.ts
  src/entities/featureFlag/ui/FeatureFlagClientTypeSelect/FeatureFlagClientTypeSelect.skeleton.tsx
  src/entities/featureFlag/ui/FeatureFlagForm/FeatureFlagForm.skeleton.tsx
  src/entities/user/@x/featureFlag.ts
  src/entities/user/ui/RoleSelect/RoleSelect.skeleton.tsx
  src/features/featureFlag/editFeatureFlag/index.ts
  src/features/featureFlag/editFeatureFlag/ui/FeatureFlagEditForm/FeatureFlagEditForm.skeleton.tsx
  src/features/featureFlag/editFeatureFlag/ui/FeatureFlagEditFormHeader/FeatureFlagEditFormHeader.skeleton.tsx
  src/pages/admin/featureFlag/featureFlagEdit/ui/FeatureFlagEditPage.skeleton.tsx
  src/pages/admin/featureFlag/featureFlagEdit/ui/FeatureFlagEditPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2464: add TestQuestionPage
  public/locales/en/testQuestion.json
  public/locales/ru/testQuestion.json
  src/app/providers/router/routeConfig.tsx
  src/entities/testQuestion/api/testQuestionApi.ts
  src/entities/testQuestion/index.ts
  src/entities/testQuestion/model/constants/testQuestion.ts
  src/entities/testQuestion/model/types/testQuestion.ts
  src/pages/admin/testQuestion/testQuestionDetail/index.ts
  src/pages/admin/testQuestion/testQuestionDetail/ui/TestQuestionAdditionalInfo/TestQuestionAdditionalInfo.tsx
  src/pages/admin/testQuestion/testQuestionDetail/ui/TestQuestionPage/TestQuestionPage.lazy.tsx
  src/pages/admin/testQuestion/testQuestionDetail/ui/TestQuestionPage/TestQuestionPage.tsx
  src/pages/admin/testQuestion/testQuestionDetail/ui/TestQuestionPageContent/TestQuestionPageContent.module.css
  src/pages/admin/testQuestion/testQuestionDetail/ui/TestQuestionPageContent/TestQuestionPageContent.tsx
  src/shared/config/i18n/i18nNamespaces.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/query/apiTags.ts
  src/shared/config/router/routes.ts
  src/shared/ui/BackButton/BackButton.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2350: fix column action render logic
  src/shared/ui/TableActions/TableActions.tsx
  src/shared/ui/TableActions/types.ts
  src/shared/ui/TableV2/TableBody.tsx
  src/shared/ui/TableV2/TableV2.tsx
Due: npm run prettier, npm run lint:ts:fix

Feature/yh 2350 (#1470)
  src/shared/ui/TableActions/TableActions.tsx
  src/shared/ui/TableActions/types.ts
  src/shared/ui/TableV2/TableBody.tsx
  src/shared/ui/TableV2/TableV2.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2248: add CompanyEditPage skeleton
  src/app/layouts/MainLayout/SkeletonGenerator/SkeletonGenerator.tsx
  src/features/company/editCompany/index.ts
  src/features/company/editCompany/ui/CompanyEditForm/CompanyEditForm.skeleton.tsx
  src/features/company/editCompany/ui/CompanyEditFormHeader/CompanyEditFormHeader.skeleton.tsx
  src/pages/admin/company/companyEdit/index.ts
  src/pages/admin/company/companyEdit/ui/CompanyEditPage/CompanyEditPage.skeleton.tsx
  src/pages/admin/company/companyEdit/ui/CompanyEditPage/CompanyEditPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2427: added FormInputText components
  src/entities/collection/ui/CollectionForm/CollectionForm.tsx
  src/entities/company/ui/CompanyForm/CompanyForm.tsx
  src/entities/featureFlag/ui/FeatureFlagForm/FeatureFlagForm.tsx
  src/entities/referralLink/ui/ReferralLinkForm/ReferralLinkForm.tsx
  src/entities/resource/ui/ResourceForm/ResourceForm.tsx
  src/entities/skill/ui/SkillForm/SkillForm.tsx
  src/entities/specialization/ui/SpecializationForm/SpecializationForm.tsx
  src/entities/task/ui/TaskForm/TaskForm.tsx
  src/entities/topic/ui/TopicForm/TopicForm.tsx
  src/shared/ui/Form/FormInputText.tsx
  src/shared/ui/Form/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2427: added FormInputText components
  src/entities/collection/ui/CollectionForm/CollectionForm.tsx
  src/entities/company/ui/CompanyForm/CompanyForm.tsx
  src/entities/featureFlag/ui/FeatureFlagForm/FeatureFlagForm.tsx
  src/entities/referralLink/ui/ReferralLinkForm/ReferralLinkForm.tsx
  src/entities/resource/ui/ResourceForm/ResourceForm.tsx
  src/entities/skill/ui/SkillForm/SkillForm.tsx
  src/entities/specialization/ui/SpecializationForm/SpecializationForm.tsx
  src/entities/task/ui/TaskForm/TaskForm.tsx
  src/entities/topic/ui/TopicForm/TopicForm.tsx
  src/shared/ui/Form/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2446: Auto-save form values (#1456)
  src/features/specialization/createSpecialization/ui/SpecializationCreateForm/SpecializationCreateForm.tsx
  src/features/specialization/createSpecialization/ui/SpecializationCreateFormHeader/SpecializationCreateFormHeader.tsx
  src/shared/libs/browser/constants.ts
  src/shared/libs/browser/index.ts
  src/shared/libs/browser/manageLocalStorage/manageLocalStorage.ts
  src/shared/libs/browser/useFormPersist/index.ts
  src/shared/libs/browser/useFormPersist/useFormPersist.test.tsx
  src/shared/libs/browser/useFormPersist/useFormPersist.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2473: added Auto-save form values for SkillCreateForm
  src/entities/specialization/ui/SpecializationSelect/SpecializationSelect.test.tsx
  src/entities/specialization/ui/SpecializationSelect/SpecializationSelect.tsx
  src/features/skill/createSkill/ui/SkillCreateForm/SkillCreateForm.tsx
  src/features/skill/createSkill/ui/SkillCreateFormHeader/SkillCreateFormHeader.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2478: added form autosave in FeatureFlagCreateForm
  src/features/featureFlag/createFeatureFlag/ui/FeatureFlagCreateForm/FeatureFlagCreateForm.tsx
  src/features/featureFlag/createFeatureFlag/ui/FeatureFlagCreateFormHeader/FeatureFlagCreateFormHeader.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2462: add test creation page
  public/locales/en/testQuestion.json
  public/locales/ru/testQuestion.json
  src/app/providers/router/routeConfig.tsx
  src/entities/skill/@x/testQuestion.ts
  src/entities/specialization/@x/testQuestion.ts
  src/entities/testQuestion/api/testQuestionApi.ts
  src/entities/testQuestion/index.ts
  src/entities/testQuestion/model/constants/testQuestion.ts
  src/entities/testQuestion/model/types/testQuestion.ts
  src/entities/testQuestion/ui/TestQuestionForm/TestQuestionForm.module.css
  src/entities/testQuestion/ui/TestQuestionForm/TestQuestionForm.tsx
  src/entities/testQuestion/ui/TestQuestionVariants/TestQuestionVariants.module.css
  src/entities/testQuestion/ui/TestQuestionVariants/TestQuestionVariants.tsx
  src/features/testQuestion/createTestQuestion/api/createTestQuestionApi.ts
  src/features/testQuestion/createTestQuestion/index.ts
  src/features/testQuestion/createTestQuestion/model/constants/createTestQuestionConstants.ts
  src/features/testQuestion/createTestQuestion/model/types/testQuestionCreateTypes.ts
  src/features/testQuestion/createTestQuestion/ui/TestQuestionCreateForm/TestQuestionCreateForm.tsx
  src/features/testQuestion/createTestQuestion/ui/TestQuestionCreateFormHeader/TestQuestionCreateFormHeader.tsx
  src/pages/admin/testQuestion/testQuestionCreate/index.ts
  src/pages/admin/testQuestion/testQuestionCreate/ui/TestQuestionCreatePage/TestQuestionCreatePage.lazy.tsx
  src/pages/admin/testQuestion/testQuestionCreate/ui/TestQuestionCreatePage/TestQuestionCreatePage.tsx
  src/shared/config/i18n/i18nNamespaces.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/query/apiTags.ts
  src/shared/config/router/routes.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2463: add i18n namespace and translations for article create
  public/locales/en/article.json
  public/locales/en/translation.json
  public/locales/ru/article.json
  public/locales/ru/translation.json
  src/shared/config/i18n/i18nNamespaces.ts
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2463: add article form, entity types
  src/entities/article/index.ts
  src/entities/article/model/constants/articleOptions.ts
  src/entities/article/model/types/article.ts
  src/entities/article/ui/ArticleForm/ArticleForm.module.css
  src/entities/article/ui/ArticleForm/ArticleForm.tsx
  src/entities/article/ui/ArticleTopicSelect/ArticleTopicSelect.tsx
  src/entities/skill/@x/article.ts
  src/entities/specialization/@x/article.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2463: add article create page
  src/app/providers/router/routeConfig.tsx
  src/features/article/createArticle/api/createArticleApi.ts
  src/features/article/createArticle/index.ts
  src/features/article/createArticle/lib/validation/articleCreateSchema.ts
  src/features/article/createArticle/model/constants/createArticleConstants.ts
  src/features/article/createArticle/model/types/articleCreateTypes.ts
  src/features/article/createArticle/ui/ArticleCreateForm/ArticleCreateForm.tsx
  src/features/article/createArticle/ui/ArticleCreateFormHeader/ArticleCreateFormHeader.module.css
  src/features/article/createArticle/ui/ArticleCreateFormHeader/ArticleCreateFormHeader.tsx
  src/pages/admin/article/articleCreate/index.ts
  src/pages/admin/article/articleCreate/ui/ArticleCreatePage.tsx
  src/pages/admin/article/articleCreate/ui/ArticleCreatePageLazy.tsx
  src/shared/config/query/apiTags.ts
  src/shared/config/router/routes.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2476: added form autosave in TopicCreateForm
  src/features/topics/createTopics/ui/TopicCreateForm/TopicCreateForm.tsx
  src/features/topics/createTopics/ui/TopicCreateFormHeader/TopicCreateFormHeader.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2460: create test questions page and add test questions table with pagination
  public/locales/en/testQuestions.json
  public/locales/en/translation.json
  public/locales/ru/testQuestions.json
  public/locales/ru/translation.json
  src/app/providers/router/routeConfig.tsx
  src/entities/testQuestion/api/testQuestionApi.ts
  src/entities/testQuestion/index.ts
  src/entities/testQuestion/model/constants/testQuestion.ts
  src/entities/testQuestion/model/types/testQuestion.ts
  src/pages/admin/testQuestion/index.ts
  src/pages/admin/testQuestion/ui/TestQuestionsPage/TestQuestionsPage.lazy.tsx
  src/pages/admin/testQuestion/ui/TestQuestionsPage/TestQuestionsPage.tsx
  src/pages/admin/testQuestion/ui/TestQuestionsTable/TestQuestionsTable.tsx
  src/shared/assets/icons/testQuestions.svg
  src/shared/config/i18n/i18nNamespaces.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2322: fixed some issues
  public/locales/ru/vacancyMarketDetails.json
  src/app/styles/variables/pallete.css
  src/pages/career/VacancyMarketDetails/ui/VacancyMarketDetailsBody/VacancyMarketDetailsBody.tsx
  src/pages/career/VacancyMarketDetails/ui/VacancyMarketDetailsHeader/VacancyMarketDetailsHeader.module.css
  src/pages/career/VacancyMarketDetails/ui/VacancyMarketDetailsHeader/VacancyMarketDetailsHeader.tsx
  src/pages/career/VacancyMarketDetails/ui/VacancyMarketDetailsPage/VacancyMarketDetailsPage.tsx
  src/pages/career/VacancyMarketDetails/ui/VacancyMarketDetailsSummary/VacancyMarketDetailsSummary.module.css
  src/pages/career/VacancyMarketDetails/ui/VacancyMarketDetailsSummary/VacancyMarketDetailsSummary.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Flex/Flex.module.css
  src/shared/ui/Flex/constants.ts
  src/shared/ui/Flex/types.ts
  src/shared/ui/Text/Text.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2322: fixed another issues
  public/locales/en/vacancyMarketDetails.json
  src/pages/career/VacancyMarketDetails/ui/VacancyMarketDetailsBody/VacancyMarketDetailsBody.module.css
  src/pages/career/VacancyMarketDetails/ui/VacancyMarketDetailsHeader/VacancyMarketDetailsHeader.module.css
  src/pages/career/VacancyMarketDetails/ui/VacancyMarketDetailsSummary/VacancyMarketDetailsSummary.module.css
Due: npm run lint:css:fix

YH-2427: show prettier config in CI
  .github/workflows/pr-checks.yml
Due: none

YH-2427: changed format FormInputText with Prettier 3.9
  src/shared/ui/Form/FormInputText.tsx
Due: npm run prettier, npm run lint:ts:fix

Path conditions:
  npm run prettier: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:ts:fix: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:css:fix: any of: *.css
