Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1095: add media links for specializations
  public/locales/en/mediaLink.json
  public/locales/ru/mediaLink.json
  src/entities/media/index.ts
  src/entities/media/model/constants/media.ts
  src/entities/media/model/helpers/getChannelsForSpecializations.ts
  src/entities/media/model/types/media.ts
  src/entities/media/ui/MediaLinksBanner/MediaLinksBanner.tsx
  src/entities/media/ui/MediaLinksItem/MediaLinksItem.module.css
  src/entities/media/ui/MediaLinksItem/MediaLinksItem.tsx
  src/entities/media/ui/MediaLinksList/MediaLinksList.module.css
  src/entities/media/ui/MediaLinksList/MediaLinksList.tsx
  src/pages/admin/CollectionPage/ui/CollectionPage.tsx
  src/pages/interview/CollectionPage/ui/CollectionPage.tsx
  src/pages/landing/PublicCollectionPage/ui/PublicCollectionPage.tsx
  src/shared/config/i18n/i18n.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Chip/types.ts
  src/widgets/Collection/ui/AdditionalInfo/AdditionalInfo.tsx
  src/widgets/Collection/ui/CollectionAdditionalInfoDrawer/CollectionAdditionalInfoDrawer.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1060: filter list menu for author
  src/app/layouts/MainLayout/ui/MainLayout.tsx
  src/app/providers/router/config/routeConfig.tsx
  src/entities/auth/model/types/auth.ts
  src/shared/config/i18n/i18n.ts
  src/widgets/Sidebar/model/types/sidebar.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1060: del str
  src/shared/config/i18n/i18n.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1095: add media links for questions and fix getChannels function
  src/entities/media/index.ts
  src/entities/media/model/helpers/getChannelsForSpecializations.ts
  src/entities/media/ui/MediaLinksBanner/MediaLinksBanner.tsx
  src/entities/media/ui/MediaLinksList/MediaLinksList.module.css
  src/entities/media/ui/MediaLinksList/MediaLinksList.tsx
  src/pages/admin/CollectionPage/ui/CollectionPage.tsx
  src/pages/interview/CollectionPage/ui/CollectionPage.tsx
  src/pages/interview/QuestionPage/ui/QuestionPage.tsx
  src/pages/landing/PublicCollectionPage/ui/PublicCollectionPage.tsx
  src/pages/landing/PublicQuestionPage/ui/PublicQuestionPage.tsx
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsFilterPanel/PublicQuestionsFilterPanel.tsx
  src/widgets/Collection/ui/AdditionalInfo/AdditionalInfo.tsx
  src/widgets/Collection/ui/CollectionAdditionalInfoDrawer/CollectionAdditionalInfoDrawer.tsx
  src/widgets/Collection/ui/CollectionsFilterPanel/CollectionsFilterPanel.tsx
  src/widgets/question/QuestionAdditionalInfo/ui/QuestionAdditionalInfo.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1095: refactor "getChannelsForSpecialization" function
  src/entities/media/index.ts
  src/entities/media/model/helpers/getChannelsForSpecializations.ts
  src/entities/media/model/types/media.ts
  src/pages/interview/CollectionPage/ui/CollectionPage.tsx
  src/pages/interview/QuestionPage/ui/QuestionPage.tsx
  src/pages/landing/PublicCollectionPage/ui/PublicCollectionPage.tsx
  src/pages/landing/PublicQuestionPage/ui/PublicQuestionPage.tsx
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsFilterPanel/PublicQuestionsFilterPanel.tsx
  src/widgets/Collection/ui/CollectionAdditionalInfoDrawer/CollectionAdditionalInfoDrawer.tsx
  src/widgets/Collection/ui/CollectionsFilterPanel/CollectionsFilterPanel.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-11: fix link styles (#717)
  src/app/styles/normalize.css
Due: npm run lint:css:fix

YH-1104: replaced hardcoded subscription price with constant
  public/locales/en/subscription.json
  public/locales/ru/subscription.json
  src/entities/subscription/index.ts
  src/entities/subscription/model/constants/subscriptionConstants.ts
  src/features/subscriptions/subscribe/ui/AgreementForm/AgreementForm.tsx
  src/features/subscriptions/subscribe/ui/SubscribeButton/api/getPaymentUrl.ts
  src/widgets/Profile/ui/SubscriptionTab/ui/FreeSubscriptionTab/FreeSubscriptionTab.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1095: fix localization files and layout
  public/locales/en/media.json
  public/locales/en/mediaLink.json
  public/locales/ru/media.json
  public/locales/ru/mediaLink.json
  src/entities/media/index.ts
  src/entities/media/model/helpers/getChannelsForSpecializations.ts
  src/entities/media/model/types/media.ts
  src/entities/media/ui/MediaLinksBanner/MediaLinksBanner.tsx
  src/entities/media/ui/MediaLinksItem/MediaLinksItem.tsx
  src/shared/config/i18n/i18n.ts
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1095: add media links for specializations (#719)
  public/locales/en/media.json
  public/locales/ru/media.json
  src/entities/media/index.ts
  src/entities/media/model/constants/media.ts
  src/entities/media/model/helpers/getChannelsForSpecializations.ts
  src/entities/media/model/types/media.ts
  src/entities/media/ui/MediaLinksBanner/MediaLinksBanner.tsx
  src/entities/media/ui/MediaLinksItem/MediaLinksItem.module.css
  src/entities/media/ui/MediaLinksItem/MediaLinksItem.tsx
  src/pages/admin/CollectionPage/ui/CollectionPage.tsx
  src/pages/interview/CollectionPage/ui/CollectionPage.tsx
  src/pages/interview/QuestionPage/ui/QuestionPage.tsx
  src/pages/landing/PublicCollectionPage/ui/PublicCollectionPage.tsx
  src/pages/landing/PublicQuestionPage/ui/PublicQuestionPage.tsx
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsFilterPanel/PublicQuestionsFilterPanel.tsx
  src/shared/config/i18n/i18n.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Chip/types.ts
  src/widgets/Collection/ui/AdditionalInfo/AdditionalInfo.tsx
  src/widgets/Collection/ui/CollectionAdditionalInfoDrawer/CollectionAdditionalInfoDrawer.tsx
  src/widgets/Collection/ui/CollectionsFilterPanel/CollectionsFilterPanel.tsx
  src/widgets/question/QuestionAdditionalInfo/ui/QuestionAdditionalInfo.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1104: replaced hardcoded subscription price with constant (#720)
  public/locales/en/subscription.json
  public/locales/ru/subscription.json
  src/entities/subscription/index.ts
  src/entities/subscription/model/constants/subscriptionConstants.ts
  src/features/subscriptions/subscribe/ui/AgreementForm/AgreementForm.tsx
  src/features/subscriptions/subscribe/ui/SubscribeButton/api/getPaymentUrl.ts
  src/widgets/Profile/ui/SubscriptionTab/ui/FreeSubscriptionTab/FreeSubscriptionTab.tsx
Due: npm run prettier, npm run lint:ts:fix

Release 1.1.3
  RELEASE_NOTES.md
  package-lock.json
  package.json
Due: none

YH-1054: Added tiktok and instagram icons
  src/shared/assets/icons/tiktok.svg
  src/shared/ui/Icon/icons.ts
  src/shared/ui/Icon/types.ts
  src/widgets/Landing/Footer/model/constants/footerConstants.ts
  src/widgets/Landing/Footer/ui/FooterLinks/FooterLinks.module.css
  src/widgets/Landing/Footer/ui/FooterLinks/FooterLinks.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-944: added LandingLayout Story with docs and Loki visual tests
  .loki/reference/chrome_iphone7_app_layouts_LandingLayout_Default.png
  .loki/reference/chrome_iphone7_app_layouts_LandingLayout_Loading.png
  .loki/reference/chrome_laptop_app_layouts_LandingLayout_Default.png
  .loki/reference/chrome_laptop_app_layouts_LandingLayout_Loading.png
  src/app/layouts/LandingLayout/ui/LandingLayout.stories.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1009: Add tests for Sidebar
  src/widgets/Sidebar/model/data/sidebarMock.ts
  src/widgets/Sidebar/ui/Sidebar/SIdebar.test.tsx
  src/widgets/Sidebar/ui/Sidebar/Sidebar.test.tsx
  src/widgets/Sidebar/ui/Sidebar/Sidebar.tsx
  src/widgets/Sidebar/ui/SidebarMenuItem/SIdebarMenuItem.test.tsx
  src/widgets/Sidebar/ui/SidebarMenuItem/SidebarCategoryMenuItem.test.tsx
  src/widgets/Sidebar/ui/SidebarMenuItem/SidebarCategoryMenuItem.tsx
  src/widgets/Sidebar/ui/SidebarMenuItem/SidebarMenuItem.test.tsx
  src/widgets/Sidebar/ui/SidebarMenuItem/SidebarSingleMenuItem.test.tsx
  src/widgets/Sidebar/ui/SidebarMenuItem/SidebarSingleMenuItem.tsx
  src/widgets/Sidebar/ui/SidebarMenuList/SIdebarMenuList.test.tsx
  src/widgets/Sidebar/ui/SidebarMenuList/SidebarMenuList.test.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1060: array roles
  src/app/layouts/MainLayout/ui/MainLayout.tsx
  src/app/providers/router/config/routeConfig.tsx
  src/entities/auth/index.ts
  src/entities/auth/model/constants/authConstants.ts
  src/widgets/Sidebar/model/types/sidebar.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1080: add favorite in quiz
  src/entities/quiz/index.ts
  src/entities/quiz/ui/ResponseButtons/ResponseButtons.tsx
  src/pages/interview/InterviewQuizPage/ui/InterviewQuizPage.tsx
  src/pages/landing/PublicQuizPage/ui/PublicQuizPage.tsx
  src/widgets/quiz/InterviewSlider/InterviewSlider.module.css
  src/widgets/quiz/InterviewSlider/InterviewSlider.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1082: adding a delete user button on the users page in the admin panel
  src/features/profile/deleteAccount/ui/DeleteAccountButton/DeleteAccountButton.tsx
  src/widgets/UsersTable/ui/UsersTable.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1117: add Popover component with warning text for collection
  public/locales/en/collection.json
  public/locales/ru/collection.json
  src/entities/collection/index.ts
  src/entities/collection/ui/СollectionWarningInfo/CollectionWarningInfo.module.css
  src/entities/collection/ui/СollectionWarningInfo/CollectionWarningInfo.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Card/Card.tsx
  src/widgets/Collection/ui/CollectionBody/CollectionBody.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1102: add marketplace resources API
  src/entities/resource/api/resourceApi.ts
  src/entities/resource/model/constants/resource.ts
  src/entities/resource/model/types/resource.ts
  src/pages/landing/PublicMarketplacePage/ui/PublicMarketplacePage.tsx
  src/shared/config/api/apiTags.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1102: connect resources API to /marketplace
  src/entities/resource/index.ts
  src/entities/resource/model/constants/resource.ts
  src/pages/landing/PublicMarketplacePage/ui/PublicMarketplacePage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1104: fixed favorite button UI update after click
  src/features/question/favoriteQuestion/ui/FavoriteQuestionButton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1102: add resources pagination
  src/pages/landing/PublicMarketplacePage/ui/PublicMarketplacePage.tsx
  src/widgets/Marketplace/index.ts
  src/widgets/Marketplace/model/hooks/useMarketplaceFilters.ts
  src/widgets/Marketplace/ui/ResourcesPagination/ResourcesPagination.module.css
  src/widgets/Marketplace/ui/ResourcesPagination/ResourcesPagination.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1054: Added tiktok and instagram icons (#723)
  src/shared/assets/icons/tiktok.svg
  src/shared/ui/Icon/icons.ts
  src/shared/ui/Icon/types.ts
  src/widgets/Landing/Footer/model/constants/footerConstants.ts
  src/widgets/Landing/Footer/ui/FooterLinks/FooterLinks.module.css
  src/widgets/Landing/Footer/ui/FooterLinks/FooterLinks.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1102: clean resources query to match current API
  src/pages/landing/PublicMarketplacePage/ui/PublicMarketplacePage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1117: refactoring based on comments
  src/entities/collection/ui/СollectionWarningInfo/CollectionWarningInfo.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Card/Card.tsx
  src/shared/ui/Popover/index.ts
  src/widgets/Collection/ui/CollectionBody/CollectionBody.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1117: add Popover component with warning text for collection (#728)
  public/locales/en/collection.json
  public/locales/ru/collection.json
  src/entities/collection/index.ts
  src/entities/collection/ui/СollectionWarningInfo/CollectionWarningInfo.module.css
  src/entities/collection/ui/СollectionWarningInfo/CollectionWarningInfo.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Card/Card.tsx
  src/shared/ui/Popover/index.ts
  src/widgets/Collection/ui/CollectionBody/CollectionBody.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1082: adding a delete user button on the users page in the admin panel (#727)
  src/features/profile/deleteAccount/ui/DeleteAccountButton/DeleteAccountButton.tsx
  src/widgets/UsersTable/ui/UsersTable.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1060: filter list menu for author (#721)
  src/app/layouts/MainLayout/ui/MainLayout.tsx
  src/app/providers/router/config/routeConfig.tsx
  src/entities/auth/index.ts
  src/entities/auth/model/constants/authConstants.ts
  src/entities/auth/model/types/auth.ts
  src/widgets/Sidebar/model/types/sidebar.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1137: disabling buttons learned, not learned
  src/shared/ui/BaseFilterSection/BaseFilterSection.tsx
  src/widgets/question/QuestionsFilterPanel/ui/StatusFilterSection/StatusFilterSection.tsx
Due: npm run prettier, npm run lint:ts:fix

Update BaseFilterSection.tsx
  src/shared/ui/BaseFilterSection/BaseFilterSection.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1137: edit
  src/shared/ui/BaseFilterSection/BaseFilterSection.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1102: rename onPageChange → onChangePage and reset page on each filter change
  src/pages/landing/PublicMarketplacePage/ui/PublicMarketplacePage.tsx
  src/widgets/Marketplace/model/hooks/useMarketplaceFilters.ts
  src/widgets/Marketplace/ui/ResourcesPagination/ResourcesPagination.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1135: refactor premium subscribe component
  public/locales/en/subscription.json
  public/locales/ru/subscription.json
  src/entities/subscription/model/types/subscription.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/Profile/ui/SubscriptionTab/model/helpers/getActiveSubscriptions.ts
  src/widgets/Profile/ui/SubscriptionTab/ui/PremiumSubscriptionTab/PremiumSubscriptionTab.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1043: removed focus outline, fixed display of markup in the text editor
  src/shared/ui/TextEditor/TextEditor.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1136: filling the landig, displaying text on mobile and correcting the layout
  src/widgets/Landing/BannerBlock/ui/AvatarGroup/AvatarGroup.module.css
  src/widgets/Landing/BannerBlock/ui/BannerImage/BannerImage.module.css
  src/widgets/Landing/BannerBlock/ui/BlockTitle/BlockTitle.module.css
Due: npm run lint:css:fix

YH-1103: Added iOS Guru
  src/entities/guru/model/constants/gurus.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1115: fix bug with rerender when status of questions was changed
  src/pages/interview/QuestionPage/ui/QuestionPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1115: fix bug with rerender when status of questions was changed (#735)
  src/pages/interview/QuestionPage/ui/QuestionPage.tsx
Due: npm run prettier, npm run lint:ts:fix

Path conditions:
  npm run prettier: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:ts:fix: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:css:fix: any of: *.css
