Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

.lintstagedrc:

{
  "./**/*.{ts,tsx,js,jsx}": ["npm run prettier", "npm run lint:ts:fix"],
  "*.css": "npm run lint:css:fix"
}

change env tags
  .github/workflows/deploy.yml
Due: none

YH-1306: add page to router
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/app/providers/router/config/routeConfig.tsx
  src/app/providers/router/ui/WikiRoute.tsx
  src/pages/wiki/ResourcesPage/index.ts
  src/pages/wiki/ResourcesPage/ui/ResourcesPage.lazy.ts
  src/pages/wiki/ResourcesPage/ui/ResourcesPage.skeleton.tsx
  src/pages/wiki/ResourcesPage/ui/ResourcesPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
Due: npm run prettier, npm run lint:ts:fix

Feature/migration to k8s (#841)
  .github/workflows/deploy.yml
  Dockerfile
  nginx/custom_body_size.conf
  nginx/yeahub_default.conf
  src/widgets/authentication/login/ui/LoginCreateForm/LoginCreateForm.tsx
  src/widgets/registration/ui/UserCreateForm.tsx
Due: npm run prettier, npm run lint:ts:fix

fix error 1
  .github/workflows/deploy.yml
Due: none

Feature/migration to k8s (#842)
  .github/workflows/deploy.yml
Due: none

add ref branch
  .github/workflows/deploy.yml
Due: none

Feature/migration to k8s (#843)
  .github/workflows/deploy.yml
Due: none

add fixes for helm commit
  .github/workflows/deploy.yml
Due: none

Feature/migration to k8s (#844)
  .github/workflows/deploy.yml
Due: none

YH-1306: add page files
  src/pages/wiki/ResourcesPage/index.ts
  src/pages/wiki/ResourcesPage/ui/ResourcesPage.lazy.ts
  src/pages/wiki/ResourcesPage/ui/ResourcesPage.module.css
  src/pages/wiki/ResourcesPage/ui/ResourcesPage.skeleton.tsx
  src/pages/wiki/ResourcesPage/ui/ResourcesPage.tsx
  src/widgets/Landing/AboutQuestionsBlock/ui/SkillChip/SkillChip.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1302: fix resetting activeQuiz state when cloning finished quiz
  src/features/quiz/cloneQuiz/ui/CloneQuizButton/CloneQuizButton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1000: add skeleton to collection block, connect skeleton to landing page
  src/app/layouts/LandingLayout/model/helper/SkeletonGenerator.tsx
  src/pages/landing/LandingPage/ui/LandingPage.skeleton.tsx
  src/widgets/Landing/CollectionBlock/index.ts
  src/widgets/Landing/CollectionBlock/ui/AdditionalBlock/AdditionalBlock.skeleton.tsx
  src/widgets/Landing/CollectionBlock/ui/CollectionBlock/CollectionBlock.skeleton.tsx
  src/widgets/Landing/CollectionBlock/ui/FilterChip/FilterChip.skeleton.tsx
  src/widgets/Landing/CollectionBlock/ui/FiltersBlock/FiltersBlock.skeleton.tsx
  src/widgets/Landing/CollectionBlock/ui/MainBlock/MainBlock.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1306: fix from comments
  src/app/providers/router/config/routeConfig.tsx
  src/app/providers/router/ui/WikiRoute.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1316: move paste plugin registration to onCreate
  src/shared/ui/TextEditor/TextEditor.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1289: Fix show collections image (#840)
  src/widgets/CollectionsTable/ui/CollectionsTable.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1316: fix in one line
  src/shared/ui/TextEditor/TextEditor.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1285: Make dropdown clickable across full width
  src/shared/ui/Dropdown/Select/Select.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1285: Fix, add handleClick to constant
  src/shared/ui/Dropdown/Select/Select.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1285: Set width select option max 400px and overflow visible
  src/features/profile/editProfileForm/ui/EditProfileForm/EditProfileForm.module.css
  src/features/profile/editProfileForm/ui/EditProfileForm/EditProfileForm.tsx
  src/shared/ui/Card/Card.module.css
  src/shared/ui/Dropdown/Dropdown/Dropdown.module.css
  src/widgets/Landing/AboutQuestionsBlock/ui/SkillChip/SkillChip.module.css
  src/widgets/registration/ui/UserCreateForm.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1293: update toast styles (#820)
  src/shared/ui/Toast/CloseBtn.tsx
  src/shared/ui/Toast/Error.tsx
  src/shared/ui/Toast/Success.tsx
  src/shared/ui/Toast/Toast.module.css
  src/shared/ui/Toast/Toast.tsx
  src/shared/ui/Toast/Warning.tsx
  src/shared/ui/Toast/constants.ts
  src/shared/ui/Toast/styles.module.css
  src/shared/ui/Toast/types.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1288: Fix shrink icon (#839)
  src/shared/ui/Chip/Chip.module.css
Due: npm run lint:css:fix

YH-1296: added show to image skill in question (#834)
  src/entities/question/index.ts
  src/entities/question/model/lib/getQuestionImage.ts
  src/widgets/question/QuestionHeader/ui/QuestionHeader.tsx
  src/widgets/question/QuestionsList/ui/PreviewQuestionsItem/PreviewQuestionsItem.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1283: Add break-word rule in Card.module.css (#832)
  src/shared/ui/Card/Card.module.css
Due: npm run lint:css:fix

YH-1284: fix unique key (#833)
  src/entities/socialNetwork/ui/SocialNetWorkList/SocialNetWorkList.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1316: move paste plugin registration to onCreate (#848)
  src/shared/ui/TextEditor/TextEditor.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1306: add Resources page to dashboard (#845)
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/app/providers/router/config/routeConfig.tsx
  src/pages/wiki/ResourcesPage/index.ts
  src/pages/wiki/ResourcesPage/ui/ResourcesPage.lazy.ts
  src/pages/wiki/ResourcesPage/ui/ResourcesPage.module.css
  src/pages/wiki/ResourcesPage/ui/ResourcesPage.tsx
  src/shared/assets/icons/wiki.svg
  src/shared/assets/icons/wikiResources.svg
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
  src/widgets/Landing/AboutQuestionsBlock/ui/SkillChip/SkillChip.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1285: Make dropdown clickable across full width (#838)
  src/features/profile/editProfileForm/ui/EditProfileForm/EditProfileForm.module.css
  src/features/profile/editProfileForm/ui/EditProfileForm/EditProfileForm.tsx
  src/shared/ui/Card/Card.module.css
  src/shared/ui/Dropdown/Dropdown/Dropdown.module.css
  src/shared/ui/Dropdown/Select/Select.tsx
  src/widgets/Landing/AboutQuestionsBlock/ui/SkillChip/SkillChip.module.css
  src/widgets/registration/ui/UserCreateForm.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1313: fix quiz progress and navigation to unanswered question
  src/entities/quiz/hooks/useSlideSwitcher.ts
  src/entities/quiz/model/selectors/quizSelectors.ts
  src/pages/interview/InterviewQuizPage/ui/InterviewQuizPage.tsx
  src/widgets/interview/InterviewPreparation/ui/PreviewActiveQuiz/PreviewActiveQuiz.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1302: fix from comments
  src/entities/quiz/api/quizApi.ts
  src/features/quiz/cloneQuiz/ui/CloneQuizButton/CloneQuizButton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1302: fix resetting activeQuiz state when cloning finished quiz (#846)
  src/entities/quiz/api/quizApi.ts
  src/features/quiz/cloneQuiz/ui/CloneQuizButton/CloneQuizButton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1307: update resource card
  src/entities/resource/api/__mock__/data/resourcesMock.ts
  src/entities/resource/model/types/resource.ts
  src/entities/resource/ui/ResourceCard/ResourceCard.module.css
  src/entities/resource/ui/ResourceCard/ResourceCard.tsx
  src/features/resources/createResource/model/lib/map/toCreateResourceBody.ts
  src/features/resources/createResource/model/lib/validation/resourceCreateSchema.ts
  src/features/resources/createResource/ui/ResourceCreateForm/ResourceCreateForm.tsx
  src/widgets/resources/ResourcesTable/ui/ResourcesTable.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1294: fix errors
  src/entities/question/ui/QuestionForm/QuestionForm.tsx
  src/entities/resource/api/__mock__/data/resourcesMock.ts
  src/entities/resource/model/types/resource.ts
  src/entities/resource/ui/ResourceCard/ResourceCard.tsx
  src/entities/resource/ui/ResourceForm/ResourceForm.tsx
  src/features/resources/createResource/model/lib/map/toCreateResourceBody.ts
  src/features/resources/createResource/model/lib/validation/resourceCreateSchema.ts
  src/features/resources/createResource/model/types/resourceCreateTypes.ts
  src/features/resources/createResource/ui/ResourceCreateForm/ResourceCreateForm.tsx
  src/features/resources/createResource/ui/ResourceCreateFormWithHeader/ResourceCreateFormWithHeader.tsx
  src/features/resources/editResource/api/editResourceApi.ts
  src/features/resources/editResource/model/lib/validation/resourceEditSchema.ts
  src/features/resources/editResource/ui/ResourceEditForm/ResourceEditForm.tsx
  src/widgets/resources/ResourcesTable/ui/ResourcesTable.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1294: created ResourceEditPage and added it to routes, also changed some locales (#824)
  public/locales/en/marketplace.json
  public/locales/en/translation.json
  public/locales/ru/marketplace.json
  public/locales/ru/translation.json
  src/app/providers/router/config/routeConfig.tsx
  src/entities/question/ui/QuestionForm/QuestionForm.tsx
  src/entities/resource/api/__mock__/data/resourcesMock.ts
  src/entities/resource/api/resourceApi.ts
  src/entities/resource/model/constants/resource.ts
  src/entities/resource/model/types/resource.ts
  src/entities/resource/ui/ResourceCard/ResourceCard.tsx
  src/entities/resource/ui/ResourceForm/ResourceForm.tsx
  src/features/resources/createResource/model/lib/map/toCreateResourceBody.ts
  src/features/resources/createResource/model/types/resourceCreateTypes.ts
  src/features/resources/createResource/ui/ResourceCreateForm/ResourceCreateForm.tsx
  src/features/resources/createResource/ui/ResourceCreateFormWithHeader/ResourceCreateFormWithHeader.tsx
  src/features/resources/editResource/api/editResourceApi.ts
  src/features/resources/editResource/index.ts
  src/features/resources/editResource/model/constants/editResourceConstants.ts
  src/features/resources/editResource/model/lib/validation/resourceEditSchema.ts
  src/features/resources/editResource/model/types/resourcesEditTypes.ts
  src/features/resources/editResource/ui/ResourceEditForm/ResourceEditForm.module.css
  src/features/resources/editResource/ui/ResourceEditForm/ResourceEditForm.tsx
  src/features/resources/editResource/ui/ResourceEditFormHeader/ResourceEditFormHeader.tsx
  src/pages/admin/ResourceEditPage/index.ts
  src/pages/admin/ResourceEditPage/ui/ResourceEditPage.lazy.tsx
  src/pages/admin/ResourceEditPage/ui/ResourceEditPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/resources/ResourcesTable/ui/ResourcesTable.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1307: update ResourceCard.tsx
  src/entities/resource/ui/ResourceCard/ResourceCard.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1000: fix from comments
  src/entities/collection/ui/CollectionPreview/CollectionPreview.sekeleton.tsx
  src/widgets/Landing/CollectionBlock/ui/AdditionalBlock/AdditionalBlock.skeleton.tsx
  src/widgets/Landing/CollectionBlock/ui/FilterChip/FilterChip.skeleton.tsx
  src/widgets/Landing/CollectionBlock/ui/MainBlock/MainBlock.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1307: fix comments
  src/entities/resource/ui/ResourceCard/ResourceCard.module.css
  src/entities/resource/ui/ResourceCard/ResourceCard.tsx
  src/features/resources/createResource/model/lib/map/toCreateResourceBody.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1307: update resource card (#850)
  src/entities/resource/api/__mock__/data/resourcesMock.ts
  src/entities/resource/ui/ResourceCard/ResourceCard.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1298: fix comments
  src/widgets/resources/ResourcesTable/ui/ResourcesTable.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1298: Made corrections to the resource table (#823)
  public/locales/en/resources.json
  public/locales/ru/resources.json
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/resources/ResourcesTable/ui/ResourcesTable.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1000: add skeleton to collection block, connect skeleton to landing page (#847)
  src/app/layouts/LandingLayout/model/helper/SkeletonGenerator.tsx
  src/entities/collection/ui/CollectionPreview/CollectionPreview.sekeleton.tsx
  src/pages/landing/LandingPage/ui/LandingPage.skeleton.tsx
  src/widgets/Landing/CollectionBlock/index.ts
  src/widgets/Landing/CollectionBlock/ui/AdditionalBlock/AdditionalBlock.skeleton.tsx
  src/widgets/Landing/CollectionBlock/ui/CollectionBlock/CollectionBlock.skeleton.tsx
  src/widgets/Landing/CollectionBlock/ui/FilterChip/FilterChip.skeleton.tsx
  src/widgets/Landing/CollectionBlock/ui/FiltersBlock/FiltersBlock.skeleton.tsx
  src/widgets/Landing/CollectionBlock/ui/MainBlock/MainBlock.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix
