Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-578: fix design (#302)
  public/locales/en/interviewQuizResult.json
  public/locales/ru/interviewQuizResult.json
  src/shared/ui/Card/ui/Card.tsx
  src/widgets/Charts/ui/PassedQuestionChart/PassedQuestionChart.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-584: add scroll for tag pre in text from question
  src/shared/ui/TextHtml/ui/TextHtml.module.css
Due: npm run lint:css:fix

YH-584: add scroll for tag pre in text from question (#307)
  src/shared/ui/TextHtml/ui/TextHtml.module.css
Due: npm run lint:css:fix

YH-580: fixed email verify stumb height
  src/entities/profile/ui/EmailVerify/EmailVerify.module.css
Due: npm run lint:css:fix

YH-585: fix button size; fix img padding to margin; del unused var
  src/widgets/Landing/Footer/ui/Footer.module.css
  src/widgets/Landing/Footer/ui/Footer.tsx
  src/widgets/Landing/InterviewBlock/ui/InterviewBlock/InterviewBlock.module.css
  src/widgets/Landing/InterviewBlock/ui/InterviewBlock/InterviewBlock.tsx
  src/widgets/Profile/ui/UserCard/ui/UserInfoBlock/UserInfoBlock.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-582: add logout, settings to sidebar
  .husky/pre-commit
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/app/providers/router/config/routeConfig.tsx
  src/features/common/user-preferences/ui/UserPreferences.tsx
  src/shared/assets/icons/chat.svg
  src/shared/ui/TextHtml/ui/TextHtml.module.css
  src/widgets/Header/ui/Header.tsx
  src/widgets/Profile/ui/UserCard/ui/UserInfoBlock/UserInfoBlock.tsx
  src/widgets/Sidebar/ui/Sidebar/Sidebar.module.css
  src/widgets/Sidebar/ui/Sidebar/Sidebar.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-580: fixed email verify stumb height (#306)
  src/entities/profile/ui/EmailVerify/EmailVerify.module.css
Due: npm run lint:css:fix

YH-582: add logout, settings to sidebar (#309)
  .husky/pre-commit
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/app/providers/router/config/routeConfig.tsx
  src/features/common/user-preferences/ui/UserPreferences.tsx
  src/shared/assets/icons/chat.svg
  src/shared/ui/TextHtml/ui/TextHtml.module.css
  src/widgets/Header/ui/Header.tsx
  src/widgets/Profile/ui/UserCard/ui/UserInfoBlock/UserInfoBlock.tsx
  src/widgets/Sidebar/ui/Sidebar/Sidebar.module.css
  src/widgets/Sidebar/ui/Sidebar/Sidebar.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-583: add: Translation to create new quizToast
  public/locales/en/translation.json
  public/locales/ru/translation.json
Due: none

YH-585: fix button size; fix img padding to margin; del unused var (#308)
  src/widgets/Landing/Footer/ui/Footer.module.css
  src/widgets/Landing/Footer/ui/Footer.tsx
  src/widgets/Landing/InterviewBlock/ui/InterviewBlock/InterviewBlock.module.css
  src/widgets/Landing/InterviewBlock/ui/InterviewBlock/InterviewBlock.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-583: replace interview-finish
  public/locales/en/translation.json
  public/locales/ru/translation.json
Due: none

YH-583: add: Translation to create new quizToast (#310)
  public/locales/en/translation.json
  public/locales/ru/translation.json
Due: none

YH-586: delete function for toasts
  src/entities/quiz/api/quizApi.ts
  src/features/authentication/passwordRecovery/api/passwordRecoveryApi.ts
  src/features/profile/changePassword/api/changePasswordApi.ts
  src/features/profile/editProfileForm/api/editProfileApi.ts
  src/features/question/deleteQuestion/api/deleteQuestionApi.ts
  src/features/quiz/learnQuestion/api/learnQuestionApi.ts
  src/features/quiz/resetQuestionStudyProgress/api/resetQuestionStudyProgressApi.ts
Due: npm run prettier, npm run lint:ts:fix

YH-586: delete function for toasts
  src/features/question/deleteQuestion/api/deleteQuestionApi.ts
Due: npm run prettier, npm run lint:ts:fix

YH-586: delete function for toasts (#311)
  src/entities/quiz/api/quizApi.ts
  src/features/authentication/passwordRecovery/api/passwordRecoveryApi.ts
  src/features/profile/changePassword/api/changePasswordApi.ts
  src/features/profile/editProfileForm/api/editProfileApi.ts
  src/features/question/deleteQuestion/api/deleteQuestionApi.ts
  src/features/quiz/learnQuestion/api/learnQuestionApi.ts
  src/features/quiz/resetQuestionStudyProgress/api/resetQuestionStudyProgressApi.ts
Due: npm run prettier, npm run lint:ts:fix

Release 1.0.1
  RELEASE_NOTES.md
  commitlint.config.ts
  package.json
Due: npm run prettier, npm run lint:ts:fix

YH-538: useProfileQuery replacement
  src/app/providers/router/ui/InterviewRoute.tsx
  src/app/providers/router/ui/VerifiedEmailRoute.tsx
  src/entities/auth/api/authApi.ts
  src/entities/profile/index.ts
  src/entities/profile/model/selectors/profileSelectors.ts
  src/entities/profile/model/slices/profileSlice.ts
  src/entities/profile/model/types/profile.ts
  src/features/profile/changePassword/ui/ChangePassword.tsx
  src/features/profile/confirmationEmail/ui/ConfirmationEmail.tsx
  src/pages/admin/QuestionEditPage/ui/QuestionEditPage.tsx
  src/pages/admin/QuestionPage/QuestionPage.tsx
  src/pages/auth/LoginPage/ui/LoginPage.tsx
  src/pages/interview/InterviewQuizPage/ui/InterviewQuizPage.tsx
  src/pages/interview/InterviewQuizResultPage/ui/InterviewQuizResultPage.tsx
  src/pages/interview/InterviewStatisticsPage/ui/InterviewStatisticsPage.tsx
  src/pages/interview/MainPage/ui/MainPage.tsx
  src/pages/interview/QuestionPage/ui/QuestionPage.tsx
  src/pages/interview/QuestionsPage/ui/QuestionsPage/QuestionsPage.tsx
  src/pages/profile/ProfilePage/ui/ProfilePage.tsx
  src/widgets/FullInterviewHistory/ui/FullInterviewHistoryList/model/hooks/useGetHistory.ts
  src/widgets/IncompleteProfileStub/ui/IncompleteProfileStub.tsx
  src/widgets/InterviewHistory/ui/InterviewHistoryList/InterviewHistoryList.tsx
  src/widgets/InterviewQuestions/ui/InterviewQuestionsList/InterviewQuestionsList.tsx
  src/widgets/Question/ui/QuestionActions/QuestionActions.tsx
  src/widgets/Question/ui/QuestionPreview/QuestionPreview.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-544: create styles on create skills page
  public/locales/ru/skill.json
  src/entities/skill/ui/SkillForm/SkillForm.module.css
  src/entities/skill/ui/SkillForm/SkillForm.tsx
  src/features/skill/createSkill/ui/SkillCreateForm/SkillCreateForm.tsx
  src/features/skill/createSkill/ui/SkillCreateFormHeader/SkillCreateFormHeader.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-545: fix validation errors on questions page
  src/features/question/createQuestion/model/lib/validation/questionCreateSchema.ts
Due: npm run prettier, npm run lint:ts:fix

YH-532: fix FaqItem component
  public/locales/en/interview.json
  public/locales/en/subscription.json
  public/locales/en/subscriptionCard.json
  public/locales/ru/interview.json
  public/locales/ru/subscription.json
  public/locales/ru/subscriptionCard.json
  src/entities/auth/ui/RegistrationLabel/RegistrationLabel.tsx
  src/entities/subscription/index.ts
  src/entities/subscription/model/types/subscription.ts
  src/entities/subscription/ui/Subscription/Subscription.tsx
  src/entities/subscription/ui/SubscriptionCard/SubscriptionCard.module.css
  src/entities/subscription/ui/SubscriptionCard/SubscriptionCard.tsx
  src/features/subscription/SubscribeButton/index.ts
  src/features/subscription/SubscribeButton/ui/SubscribeButton.tsx
  src/features/subscription/subscribe/index.ts
  src/features/subscription/subscribe/ui/Subcribe.tsx
  src/shared/config/i18n/i18n.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Faq/index.ts
  src/shared/ui/Faq/ui/Faq.tsx
  src/shared/ui/Faq/ui/FaqItem.tsx
  src/shared/ui/Flex/ui/Flex.module.css
  src/shared/ui/Flex/ui/Flex.stories.tsx
  src/shared/ui/Flex/ui/Flex.test.tsx
  src/shared/ui/Flex/ui/Flex.tsx
  src/shared/ui/KeywordInput/KeywordInput.tsx
  src/widgets/FaqList/index.ts
  src/widgets/FaqList/model/types/types.ts
  src/widgets/FaqList/ui/FaqItem/FaqItem.module.css
  src/widgets/FaqList/ui/FaqItem/FaqItem.tsx
  src/widgets/FaqList/ui/FaqList/Faq.tsx
  src/widgets/FaqList/ui/FaqList/FaqList.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-541: add Card(withOutsideShadow) and add styles QuestionHeader/image
  src/widgets/Question/ui/AdditionalInfo/AdditionalInfo.tsx
  src/widgets/Question/ui/QuestionBody/QuestionBody.tsx
  src/widgets/Question/ui/QuestionHeader/QuestionHeader.module.css
  src/widgets/Question/ui/QuestionHeader/QuestionHeader.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-540: fix SpecializationDetailPage
  src/entities/specialization/ui/SpecializationCard/SpecializationCard.tsx
  src/features/specialization/deleteSpecialization/ui/DeleteSpecializationButton/DeleteSpecializationButton.tsx
  src/pages/admin/SpecializationDetailPage/ui/SpecializationDetailPage/SpecializationDetailPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-541: add Card(withOutsideShadow) and add styles QuestionHeader/image (#316)
  src/widgets/Question/ui/AdditionalInfo/AdditionalInfo.tsx
  src/widgets/Question/ui/QuestionBody/QuestionBody.tsx
  src/widgets/Question/ui/QuestionHeader/QuestionHeader.module.css
  src/widgets/Question/ui/QuestionHeader/QuestionHeader.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-539: remove filter from skills, specializations (#303)
  src/pages/admin/QuestionsTablePage/ui/QuestionsTablePage/QuestionsTablePage.tsx
  src/pages/admin/SkillsPage/ui/SkillsPage/SkillsPage.tsx
  src/pages/admin/SpecializationsPage/ui/SpecializationsPage/SpecializationsPage.tsx
  src/widgets/SearchSection/ui/SearchSection.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-587: Add 404 Page logic
  src/app/providers/router/config/routeConfig.tsx
  src/app/providers/router/ui/AuthRoute.tsx
  src/app/providers/router/ui/UnAuthRoute.tsx
  src/pages/Error404Page/ui/Error404Page.module.css
  src/pages/Error404Page/ui/Error404Page.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-538: fix comments
  src/app/providers/router/ui/InterviewRoute.tsx
  src/entities/profile/index.ts
  src/entities/profile/model/selectors/profileSelectors.ts
  src/entities/profile/model/types/profile.ts
  src/features/profile/changePassword/ui/ChangePassword.tsx
  src/pages/interview/InterviewQuizPage/ui/InterviewQuizPage.tsx
  src/pages/interview/QuestionPage/ui/QuestionPage.tsx
  src/pages/interview/QuestionsPage/ui/QuestionsPage/QuestionsPage.tsx
  src/widgets/InterviewHistory/ui/InterviewHistoryList/InterviewHistoryList.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-545: fixed validation keywords
  src/features/question/createQuestion/model/lib/validation/questionCreateSchema.ts
  src/features/question/editQuestion/model/lib/validation/questionEditSchema.ts
Due: npm run prettier, npm run lint:ts:fix

YH-548: add jest tests
  src/shared/ui/BackButton/ui/BackButton.test.tsx
  src/shared/ui/BackButton/ui/BackButton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-600: add yandex metrica
  public/index.html
Due: none

YH-587: Add 404 Page logic (#318)
  src/app/providers/router/config/routeConfig.tsx
  src/app/providers/router/ui/AuthRoute.tsx
  src/app/providers/router/ui/UnAuthRoute.tsx
  src/pages/Error404Page/ui/Error404Page.module.css
  src/pages/Error404Page/ui/Error404Page.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-544: fixed edit/create skills page
  public/locales/ru/skill.json
  src/entities/question/ui/ChooseQuestionsCategories/ChooseQuestionsCategories.tsx
  src/entities/skill/model/types/skill.ts
  src/entities/skill/ui/SkillForm/SkillForm.module.css
  src/entities/skill/ui/SkillForm/SkillForm.tsx
  src/features/skill/createSkill/model/lib/validation/skillCreateSchema.ts
  src/features/skill/createSkill/ui/SkillCreateFormHeader/SkillCreateFormHeader.tsx
  src/features/skill/editSkill/model/lib/validation/skillEditSchema.ts
  src/features/skill/editSkill/ui/SkillEditForm/SkillEditForm.tsx
  src/features/skill/editSkill/ui/SkillEditFormHeader/SkillEditFormHeader.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-545: fix validation errors on questions page (#315)
  src/features/question/createQuestion/model/lib/validation/questionCreateSchema.ts
  src/features/question/editQuestion/model/lib/validation/questionEditSchema.ts
Due: npm run prettier, npm run lint:ts:fix

YH-538: useProfileQuery replacement (#313)
  src/app/providers/router/ui/InterviewRoute.tsx
  src/app/providers/router/ui/VerifiedEmailRoute.tsx
  src/entities/auth/api/authApi.ts
  src/entities/profile/index.ts
  src/entities/profile/model/selectors/profileSelectors.ts
  src/entities/profile/model/slices/profileSlice.ts
  src/entities/profile/model/types/profile.ts
  src/features/profile/changePassword/ui/ChangePassword.tsx
  src/features/profile/confirmationEmail/ui/ConfirmationEmail.tsx
  src/pages/admin/QuestionEditPage/ui/QuestionEditPage.tsx
  src/pages/admin/QuestionPage/QuestionPage.tsx
  src/pages/auth/LoginPage/ui/LoginPage.tsx
  src/pages/interview/InterviewQuizPage/ui/InterviewQuizPage.tsx
  src/pages/interview/InterviewQuizResultPage/ui/InterviewQuizResultPage.tsx
  src/pages/interview/InterviewStatisticsPage/ui/InterviewStatisticsPage.tsx
  src/pages/interview/MainPage/ui/MainPage.tsx
  src/pages/interview/QuestionPage/ui/QuestionPage.tsx
  src/pages/interview/QuestionsPage/ui/QuestionsPage/QuestionsPage.tsx
  src/pages/profile/ProfilePage/ui/ProfilePage.tsx
  src/widgets/FullInterviewHistory/ui/FullInterviewHistoryList/model/hooks/useGetHistory.ts
  src/widgets/IncompleteProfileStub/ui/IncompleteProfileStub.tsx
  src/widgets/InterviewHistory/ui/InterviewHistoryList/InterviewHistoryList.tsx
  src/widgets/InterviewQuestions/ui/InterviewQuestionsList/InterviewQuestionsList.tsx
  src/widgets/Question/ui/QuestionActions/QuestionActions.tsx
  src/widgets/Question/ui/QuestionPreview/QuestionPreview.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-581: fix sidBar on mobile
  src/shared/ui/Drawer/ui/Drawer.module.css
  src/widgets/Sidebar/ui/Sidebar/Sidebar.module.css
Due: npm run lint:css:fix

YH-474: add dropdown
  src/shared/assets/icons/ArrowSelect.svg
  src/shared/ui/Dropdown/index.ts
  src/shared/ui/Dropdown/model/DropdownTypes.ts
  src/shared/ui/Dropdown/ui/Dropdown/Dropdown.module.css
  src/shared/ui/Dropdown/ui/Dropdown/Dropdown.tsx
  src/shared/ui/Dropdown/ui/DropdownMenu/DropdownMenu.module.css
  src/shared/ui/Dropdown/ui/DropdownMenu/DropdownMenu.tsx
  src/shared/ui/Dropdown/ui/DropdownOptions/DropdownOptions.module.css
  src/shared/ui/Dropdown/ui/DropdownOptions/DropdownOptions.tsx
  src/shared/ui/Input/model/types/InputTypes.ts
  src/shared/ui/Input/ui/Input.module.css
  src/shared/ui/Input/ui/Input.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-474: dropdown extends
  src/shared/ui/Dropdown/ui/Dropdown/Dropdown.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-581: fix sidBar on mobile (#320)
  src/shared/ui/Drawer/ui/Drawer.module.css
  src/widgets/Sidebar/ui/Sidebar/Sidebar.module.css
Due: npm run lint:css:fix

YH-540: fix SpecializationDetailPage (#317)
  src/entities/specialization/ui/SpecializationCard/SpecializationCard.tsx
  src/features/specialization/deleteSpecialization/ui/DeleteSpecializationButton/DeleteSpecializationButton.tsx
  src/pages/admin/SpecializationDetailPage/ui/SpecializationDetailPage/SpecializationDetailPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-548: add jest tests (#319)
  src/shared/ui/BackButton/ui/BackButton.test.tsx
  src/shared/ui/BackButton/ui/BackButton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-601: fix drawer bug and route to interview from landing
  src/shared/ui/Drawer/ui/Drawer.module.css
  src/widgets/Landing/InterviewModeBlock/ui/InterviewModeBlock/InterviewModeBlock.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

Path conditions:
  npm run prettier: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:ts:fix: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:css:fix: any of: *.css
