Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

.lintstagedrc:

{
  "./**/*.{ts,tsx,js,jsx}": ["npm run prettier", "npm run lint:ts:fix"],
  "*.css": "npm run lint:css:fix"
}

YH-594: remove state and styles
  src/entities/question/ui/ChooseQuestionsCategories/ChooseQuestionsCategories.module.css
  src/entities/question/ui/ChooseQuestionsCategories/ChooseQuestionsCategories.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-594: update adaptive for a createQuizPage (#334)
  src/entities/question/ui/ChooseQuestionCount/ChooseQuestionCount.module.css
  src/entities/question/ui/ChooseQuestionsCategories/ChooseQuestionsCategories.module.css
  src/entities/question/ui/ChooseQuestionsCategories/ChooseQuestionsCategories.tsx
  src/pages/interview/CreateQuizPage/ui/CreateQuizPage.module.css
  src/pages/interview/CreateQuizPage/ui/CreateQuizPage.tsx
  src/shared/ui/BaseFilterSection/BaseFilterSection.module.css
  src/shared/ui/Counter/Counter.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-591: comments corrected
  src/widgets/InterviewHistory/ui/InterviewHistoryList/InterviewHistoryList.module.css
Due: npm run lint:css:fix

YH-593: fix adaptive for a detailed question
  src/pages/admin/QuestionPage/QuestionPage.tsx
  src/pages/interview/QuestionPage/ui/QuestionPage.module.css
  src/pages/interview/QuestionPage/ui/QuestionPage.skeleton.tsx
  src/pages/interview/QuestionPage/ui/QuestionPage.tsx
  src/shared/ui/ImageWithWrapper/ImageWithWrapper.tsx
  src/widgets/Question/ui/AdditionalInfo/AdditionalInfo.module.css
  src/widgets/Question/ui/QuestionBody/QuestionBody.module.css
  src/widgets/Question/ui/QuestionHeader/QuestionHeader.module.css
  src/widgets/Question/ui/QuestionHeader/QuestionHeader.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-591:fix InterviewPage styles (#331)
  src/entities/quiz/ui/InterviewResults/InterviewResults.module.css
  src/pages/interview/InterviewPage/ui/InterviewPage.module.css
  src/shared/ui/Card/ui/Card.module.css
  src/widgets/InterviewHistory/ui/InterviewHistoryList/InterviewHistoryList.module.css
  src/widgets/InterviewQuestions/ui/InterviewQuestionsItem/InterviewQuestionsItem.module.css
  src/widgets/InterviewQuestions/ui/InterviewQuestionsList/InterviewQuestionsList.module.css
Due: npm run lint:css:fix

YH-597: fix InterviewHistoryPage styles
  src/entities/quiz/ui/InterviewResults/InterviewResults.module.css
  src/entities/quiz/ui/QuestionCategores/QuestionCategories.module.css
  src/entities/quiz/ui/QuestionCategores/QuestionCategories.tsx
  src/shared/ui/Calendar/ui/EventCalendar.css
  src/widgets/FullInterviewHistory/ui/FullInterviewHistoryItem/FullInterviewHistoryItem.module.css
  src/widgets/FullInterviewHistory/ui/FullInterviewHistoryItem/InterviewHeader/InterviewHeader.module.css
  src/widgets/FullInterviewHistory/ui/FullInterviewHistoryItem/InterviewParameters/InterviewParameters.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-593: fix popover
  src/pages/interview/QuestionPage/ui/QuestionPage.tsx
  src/shared/ui/Popover/ui/Popover/Popover.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-595: fix adaptive
  src/entities/quiz/ui/InterviewSlider/InterviewSlider.module.css
  src/entities/quiz/ui/QuestionNavPanel/QuestionNavPanel.module.css
  src/entities/quiz/ui/ResponseButtons/ResponseButtons.module.css
  src/pages/interview/InterviewQuizPage/ui/InterviewQuizPage.module.css
  src/pages/interview/InterviewQuizPage/ui/InterviewQuizPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Button/ui/Button.module.css
  src/shared/ui/KeywordInput/KeywordInput.tsx
  src/shared/ui/TextHtml/ui/TextHtml.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

feature/YH-602 (#328)
  public/locales/en/landing.json
  public/locales/ru/docs.json
  public/locales/ru/landing.json
  src/app/layouts/LandingLayout/ui/LandingLayout.module.css
  src/app/layouts/LandingLayout/ui/LandingLayout.tsx
  src/app/providers/router/config/routeConfig.tsx
  src/app/styles/variables/button-colors.css
  src/pages/landing/DocsPage/index.ts
  src/pages/landing/DocsPage/ui/DocsPage.module.css
  src/pages/landing/DocsPage/ui/DocsPage.tsx
  src/pages/landing/MainPage/ui/MainPage.tsx
  src/shared/config/i18n/i18n.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
  src/shared/ui/Button/model/helpers.ts
  src/shared/ui/Button/model/types.ts
  src/shared/ui/Button/ui/Button.module.css
  src/widgets/Docs/DocsBlock/index.ts
  src/widgets/Docs/DocsBlock/model/constants.ts
  src/widgets/Docs/DocsBlock/model/types/types.ts
  src/widgets/Docs/DocsBlock/ui/DocItem/DocItem.module.css
  src/widgets/Docs/DocsBlock/ui/DocItem/DocItem.tsx
  src/widgets/Docs/DocsBlock/ui/Docs/DocsList.module.css
  src/widgets/Docs/DocsBlock/ui/Docs/DocsList.tsx
  src/widgets/Landing/Footer/ui/Footer.module.css
  src/widgets/Landing/Footer/ui/Footer.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-605: add link to question on PassedQuestionList
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/KeywordInput/KeywordInput.tsx
  src/widgets/PassedQuestions/ui/PassedQuestionsItem/PassedQuestionsItem.module.css
  src/widgets/PassedQuestions/ui/PassedQuestionsItem/PassedQuestionsItem.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-592: redesign:questionsPage,add:popover
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/app/styles/variables/main-variables.css
  src/entities/question/ui/ChooseQuestionsCategories/ChooseQuestionsCategories.module.css
  src/entities/question/ui/ChooseQuestionsCategories/ChooseQuestionsCategories.tsx
  src/pages/interview/QuestionsPage/ui/QuestionsPage/QuestionsPage.module.css
  src/pages/interview/QuestionsPage/ui/QuestionsPage/QuestionsPage.tsx
  src/pages/interview/QuestionsPage/ui/QuestionsPagePagination/QuestionPagePagination.module.css
  src/shared/ui/Accordion/ui/Accordion.module.css
  src/shared/ui/Accordion/ui/Accordion.tsx
  src/shared/ui/BaseFilterSection/BaseFilterSection.module.css
  src/shared/ui/BaseFilterSection/BaseFilterSection.tsx
  src/shared/ui/Breadcrumbs/ui/Breadcrumbs.tsx
  src/shared/ui/Card/ui/Card.module.css
  src/shared/ui/EmptyStub/ui/EmptyStub.module.css
  src/shared/ui/EmptyStub/ui/EmptyStub.tsx
  src/shared/ui/Popover/ui/Popover/Popover.tsx
  src/shared/ui/QuestionParam/QuestionParam.module.css
  src/widgets/Question/ui/QuestionPreview/QuestionPreview.module.css
  src/widgets/Question/ui/QuestionPreview/QuestionPreview.tsx
  src/widgets/Question/ui/QuestionsFilterPanel/ui/QuestionsFilterPanel.module.css
  src/widgets/Question/ui/QuestionsSummaryList/QuestionsSummaryList.module.css
  src/widgets/Question/ui/QuestionsSummaryList/QuestionsSummaryList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-592: add: ChooseQuestionsCategories translations
  public/locales/en/quiz.json
  public/locales/en/translation.json
  public/locales/ru/interviewQuiz.json
  public/locales/ru/translation.json
  src/entities/question/ui/ChooseQuestionsCategories/ChooseQuestionsCategories.tsx
  src/pages/interview/QuestionsPage/ui/QuestionsPage/QuestionsPage.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-592: fix translations add interviewQuiz file
  public/locales/en/interviewQuiz.json
  public/locales/ru/interviewQuiz.json
Due: none

YH-593: fix popover style
  src/pages/interview/QuestionPage/ui/QuestionPage.module.css
  src/pages/interview/QuestionPage/ui/QuestionPage.tsx
  src/widgets/Question/ui/AdditionalInfo/AdditionalInfo.module.css
  src/widgets/Question/ui/AdditionalInfo/AdditionalInfo.tsx
  src/widgets/Question/ui/ProgressBlock/ProgressBlock.module.css
  src/widgets/Question/ui/QuestionBody/QuestionBody.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-219: feature:model for admin form. fix: modal editProfile (#326)
  src/features/profile/editProfileForm/ui/EditProfileForm/EditProfileForm.tsx
  src/features/question/createQuestion/ui/QuestionCreateForm/QuestionCreateForm.tsx
  src/features/question/editQuestion/ui/QuestionEditForm/QuestionEditForm.tsx
  src/features/skill/createSkill/ui/SkillCreateForm/SkillCreateForm.tsx
  src/features/skill/editSkill/ui/SkillEditForm/SkillEditForm.tsx
  src/features/specialization/createSpecialization/ui/SpecializationCreateForm/SpecializationCreateForm.tsx
  src/features/specialization/editSpecialization/ui/SpecializationEditForm/SpecializationEditForm.tsx
  src/shared/ui/Breadcrumbs/ui/Breadcrumbs.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-605: add link to question on PassedQuestionList (#337)
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/KeywordInput/KeywordInput.tsx
  src/widgets/PassedQuestions/ui/PassedQuestionsItem/PassedQuestionsItem.module.css
  src/widgets/PassedQuestions/ui/PassedQuestionsItem/PassedQuestionsItem.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-597: fix InterviewHistoryPage styles (#335)
  src/entities/quiz/ui/InterviewResults/InterviewResults.module.css
  src/entities/quiz/ui/QuestionCategores/QuestionCategories.module.css
  src/entities/quiz/ui/QuestionCategores/QuestionCategories.tsx
  src/shared/ui/Calendar/ui/EventCalendar.css
  src/widgets/FullInterviewHistory/ui/FullInterviewHistoryItem/FullInterviewHistoryItem.module.css
  src/widgets/FullInterviewHistory/ui/FullInterviewHistoryItem/InterviewHeader/InterviewHeader.module.css
  src/widgets/FullInterviewHistory/ui/FullInterviewHistoryItem/InterviewParameters/InterviewParameters.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-596: add adaptive for interview result page
  src/pages/interview/InterviewQuizResultPage/ui/InterviewQuizResultPage.tsx
  src/pages/interview/InterviewQuizResultPage/ui/InterviewResultPage.module.css
  src/shared/ui/PassedQuestionStatInfo/ui/PassedQuestionStatInfo.module.css
  src/widgets/Charts/ui/PassedInterviewStat/PassedInterviewStat.tsx
  src/widgets/PassedQuestions/ui/PassedQuestionsItem/PassedQuestionsItem.module.css
  src/widgets/PassedQuestions/ui/PassedQuestionsList/PassedQuestionsList.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-592: fix styles, popup border, search icon
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/features/common/search-input/ui/SearchInput.tsx
  src/pages/interview/QuestionsPage/ui/QuestionsPage/QuestionsPage.module.css
  src/pages/interview/QuestionsPage/ui/QuestionsPage/QuestionsPage.tsx
  src/shared/ui/Breadcrumbs/ui/Breadcrumbs.module.css
  src/shared/ui/EmptyStub/ui/EmptyStub.tsx
  src/widgets/Question/ui/QuestionsSummaryList/QuestionsSummaryList.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-596: add scroll to questions list
  src/widgets/PassedQuestions/ui/PassedQuestionsList/PassedQuestionsList.module.css
Due: npm run lint:css:fix

YH-596: fix diagram fontSize
  src/widgets/Charts/model/constants/options.ts
Due: npm run prettier, npm run lint:ts:fix

YH-595: del comment
  public/locales/en/auth.json
  src/shared/ui/Breadcrumbs/ui/Breadcrumbs.tsx
  src/shared/ui/Button/ui/Button.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-592: redesign: questionsPage, add: popover, refactor (#339)
  public/locales/en/interviewQuiz.json
  public/locales/en/translation.json
  public/locales/ru/interviewQuiz.json
  public/locales/ru/translation.json
  src/app/styles/variables/main-variables.css
  src/entities/question/ui/ChooseQuestionsCategories/ChooseQuestionsCategories.module.css
  src/entities/question/ui/ChooseQuestionsCategories/ChooseQuestionsCategories.tsx
  src/features/common/search-input/ui/SearchInput.tsx
  src/pages/interview/QuestionsPage/ui/QuestionsPage/QuestionsPage.module.css
  src/pages/interview/QuestionsPage/ui/QuestionsPage/QuestionsPage.tsx
  src/pages/interview/QuestionsPage/ui/QuestionsPagePagination/QuestionPagePagination.module.css
  src/shared/ui/Accordion/ui/Accordion.module.css
  src/shared/ui/Accordion/ui/Accordion.tsx
  src/shared/ui/BaseFilterSection/BaseFilterSection.module.css
  src/shared/ui/BaseFilterSection/BaseFilterSection.tsx
  src/shared/ui/Breadcrumbs/ui/Breadcrumbs.module.css
  src/shared/ui/Card/ui/Card.module.css
  src/shared/ui/EmptyStub/ui/EmptyStub.module.css
  src/shared/ui/EmptyStub/ui/EmptyStub.tsx
  src/shared/ui/Popover/ui/Popover/Popover.tsx
  src/shared/ui/QuestionParam/QuestionParam.module.css
  src/widgets/Question/ui/QuestionPreview/QuestionPreview.module.css
  src/widgets/Question/ui/QuestionPreview/QuestionPreview.tsx
  src/widgets/Question/ui/QuestionsFilterPanel/ui/QuestionsFilterPanel.module.css
  src/widgets/Question/ui/QuestionsSummaryList/QuestionsSummaryList.module.css
  src/widgets/Question/ui/QuestionsSummaryList/QuestionsSummaryList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-533: refactoring and add translation
  public/locales/en/profile.json
  public/locales/en/subscription.json
  public/locales/ru/profile.json
  public/locales/ru/subscription.json
  src/features/subscription/TariffSelection/index.ts
  src/features/subscription/TariffSelection/ui/TariffSelection.tsx
  src/features/subscription/UnsubscribeButton/UnsubscribeButton.tsx
  src/features/subscription/UnsubscribeButton/index.ts
  src/pages/profile/SettingsProfilePage/ui/SettingsProfilePage.tsx
  src/shared/assets/icons/ArrowDownIcon.svg
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/helpers/formatDate/formatDate.ts
  src/shared/hooks/useI18nHelpers.ts
  src/shared/ui/ProgressBar/ui/ProgressBar.tsx
  src/widgets/Profile/index.ts
  src/widgets/Profile/ui/Subscription/SubscribePagination/index.ts
  src/widgets/Profile/ui/Subscription/index.ts
  src/widgets/Profile/ui/Subscription/types/types.ts
  src/widgets/Profile/ui/Subscription/ui/PayHistoryItem/PayHistoryItem.module.css
  src/widgets/Profile/ui/Subscription/ui/PayHistoryItem/PayHistoryItem.tsx
  src/widgets/Profile/ui/Subscription/ui/PayHistoryItem/index.ts
  src/widgets/Profile/ui/Subscription/ui/PayHistoryList/PayHistoryList.module.css
  src/widgets/Profile/ui/Subscription/ui/PayHistoryList/PayHistoryList.tsx
  src/widgets/Profile/ui/Subscription/ui/PayHistoryList/index.ts
  src/widgets/Profile/ui/Subscription/ui/Subscribe.tsx
  src/widgets/Profile/ui/Subscription/ui/SubscriptionPagination/SubscriptionPagination.module.css
  src/widgets/Profile/ui/Subscription/ui/SubscriptionPagination/SubscriptionPagination.tsx
  src/widgets/Profile/ui/Subscription/ui/SubscriptionTab/Subscribe.module.css
  src/widgets/Profile/ui/Subscription/ui/SubscriptionTab/SubscriptionTab.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

Feature/yh 596 (#340)
  src/pages/interview/InterviewQuizResultPage/ui/InterviewQuizResultPage.tsx
  src/pages/interview/InterviewQuizResultPage/ui/InterviewResultPage.module.css
  src/shared/ui/PassedQuestionStatInfo/ui/PassedQuestionStatInfo.module.css
  src/widgets/Charts/model/constants/options.ts
  src/widgets/Charts/ui/PassedInterviewStat/PassedInterviewStat.tsx
  src/widgets/PassedQuestions/ui/PassedQuestionsItem/PassedQuestionsItem.module.css
  src/widgets/PassedQuestions/ui/PassedQuestionsList/PassedQuestionsList.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-597: сalendar component is wrapped in a popover
  src/shared/ui/Calendar/ui/EventCalendar.css
  src/shared/ui/Calendar/ui/EventCalendar.tsx
  src/widgets/FullInterviewHistory/ui/FullInterviewHistoryList/FullInterviewHistoryList.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-608: fix styles Sidebar and Header
  src/features/common/user-preferences/ui/UserPreferences.module.css
  src/shared/assets/icons/leftChevron.svg
  src/shared/assets/icons/toggleSidebar.svg
  src/shared/ui/AppLogo/AppLogo.module.css
  src/widgets/Header/ui/Header.module.css
  src/widgets/Header/ui/Header.tsx
  src/widgets/Sidebar/ui/Sidebar/Sidebar.module.css
  src/widgets/Sidebar/ui/Sidebar/Sidebar.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-597: сalendar component is wrapped in a popover (#343)
  src/shared/ui/Calendar/ui/EventCalendar.css
  src/shared/ui/Calendar/ui/EventCalendar.tsx
  src/widgets/FullInterviewHistory/ui/FullInterviewHistoryList/FullInterviewHistoryList.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-593: fix popover
  src/pages/admin/QuestionPage/QuestionPage.module.css
  src/pages/admin/QuestionPage/QuestionPage.tsx
  src/pages/interview/QuestionPage/ui/QuestionPage.module.css
  src/pages/interview/QuestionPage/ui/QuestionPage.tsx
  src/shared/assets/icons/DiplomaVerified.svg
  src/shared/ui/Breadcrumbs/ui/Breadcrumbs.module.css
  src/shared/ui/ImageWithWrapper/ImageWithWrapper.tsx
  src/widgets/Question/ui/AdditionalInfo/AdditionalInfo.module.css
  src/widgets/Question/ui/AdditionalInfo/AdditionalInfo.tsx
  src/widgets/Question/ui/QuestionHeader/QuestionHeader.module.css
  src/widgets/Question/ui/QuestionHeader/QuestionHeader.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-593: fix ImageWithWrapper
  src/shared/ui/ImageWithWrapper/ImageWithWrapper.tsx
  src/widgets/Question/ui/QuestionHeader/QuestionHeader.module.css
  src/widgets/Question/ui/QuestionHeader/QuestionHeader.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-593: fix question image
  src/shared/ui/ImageWithWrapper/ImageWithWrapper.module.css
  src/widgets/Question/ui/QuestionHeader/QuestionHeader.module.css
  src/widgets/Question/ui/QuestionHeader/QuestionHeader.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-612: refactor admin popovers
  src/features/question/deleteQuestion/ui/DeleteQuestionButton/DeleteQuestionButton.module.css
  src/features/question/deleteQuestion/ui/DeleteQuestionButton/DeleteQuestionButton.tsx
  src/features/skill/deleteSkill/ui/DeleteSkillButton/DeleteSkillButton.module.css
  src/features/skill/deleteSkill/ui/DeleteSkillButton/DeleteSkillButton.tsx
  src/features/specialization/deleteSpecialization/ui/DeleteSpecializationButton/DeleteSpecializationButton.module.css
  src/features/specialization/deleteSpecialization/ui/DeleteSpecializationButton/DeleteSpecializationButton.tsx
  src/shared/config/i18n/i18n.ts
  src/widgets/QuestionsTable/ui/QuestionsTable.tsx
  src/widgets/SkillsTable/ui/SkillsTable.tsx
  src/widgets/SpecializationsTable/ui/SpecializationsTable.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-593: fix ImageWithWrapper
  src/shared/ui/ImageWithWrapper/ImageWithWrapper.module.css
Due: npm run lint:css:fix

YH-593: fix ImageWithWrapper on Interview page
  src/shared/ui/ImageWithWrapper/ImageWithWrapper.module.css
Due: npm run lint:css:fix

YH-593: fix ImageWithWrapper style
  src/shared/ui/ImageWithWrapper/ImageWithWrapper.module.css
Due: npm run lint:css:fix

YH-552: add mock query for question list
  public/locales/en/auth.json
  src/entities/auth/api/__mocks__/data/authMockResponse.ts
  src/entities/auth/api/__mocks__/data/authProfileQueryMockResponse.ts
  src/entities/question/api/__mocks__/data/index.ts
  src/entities/question/api/__mocks__/data/questionsMock.ts
  src/entities/question/api/__mocks__/questionListMock.ts
  src/entities/question/api/questionApi.ts
Due: npm run prettier, npm run lint:ts:fix

YH-533: added translation options
  public/locales/en/subscription.json
  public/locales/ru/subscription.json
  src/widgets/Profile/ui/Subscription/ui/SubscriptionTab/SubscriptionTab.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-593: update adaptive for a detailed question (#332)
  src/pages/admin/QuestionPage/QuestionPage.module.css
  src/pages/admin/QuestionPage/QuestionPage.tsx
  src/pages/interview/QuestionPage/ui/QuestionPage.module.css
  src/pages/interview/QuestionPage/ui/QuestionPage.skeleton.tsx
  src/pages/interview/QuestionPage/ui/QuestionPage.tsx
  src/shared/assets/icons/DiplomaVerified.svg
  src/shared/ui/Breadcrumbs/ui/Breadcrumbs.module.css
  src/widgets/Question/ui/AdditionalInfo/AdditionalInfo.module.css
  src/widgets/Question/ui/AdditionalInfo/AdditionalInfo.tsx
  src/widgets/Question/ui/ProgressBlock/ProgressBlock.module.css
  src/widgets/Question/ui/QuestionActions/QuestionActions.tsx
  src/widgets/Question/ui/QuestionBody/QuestionBody.module.css
  src/widgets/Question/ui/QuestionHeader/QuestionHeader.module.css
  src/widgets/Question/ui/QuestionHeader/QuestionHeader.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix
