Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2470: Adding tests for the useTableSelection hook
  src/shared/ui/TableV2/useTableSelection.test.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2427: removed prettier debug from CI
  .github/workflows/pr-checks.yml
Due: none

YH-2463: add article create page
  src/app/providers/router/routeConfig.tsx
  src/entities/article/ui/ArticleForm/ArticleForm.tsx
  src/features/article/createArticle/api/createArticleApi.ts
  src/features/article/createArticle/index.ts
  src/features/article/createArticle/lib/validation/articleCreateSchema.ts
  src/features/article/createArticle/model/constants/createArticleConstants.ts
  src/features/article/createArticle/model/types/articleCreateTypes.ts
  src/features/article/createArticle/ui/ArticleCreateForm/ArticleCreateForm.tsx
  src/features/article/createArticle/ui/ArticleCreateFormHeader/ArticleCreateFormHeader.module.css
  src/features/article/createArticle/ui/ArticleCreateFormHeader/ArticleCreateFormHeader.tsx
  src/pages/admin/article/articleCreate/index.ts
  src/pages/admin/article/articleCreate/ui/ArticleCreatePage.tsx
  src/pages/admin/article/articleCreate/ui/ArticleCreatePageLazy.tsx
  src/shared/config/query/apiTags.ts
  src/shared/config/router/routes.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2471: add autosave to company creation form
  src/entities/company/ui/CompanyForm/CompanyForm.tsx
  src/features/company/createCompany/lib/validation/companyCreateSchema.ts
  src/features/company/createCompany/model/types/companyCreateTypes.ts
  src/features/company/createCompany/ui/CompanyCreateForm/CompanyCreateForm.tsx
  src/features/company/createCompany/ui/CompanyCreateFormHeader/CompanyCreateFormHeader.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2481: userQuestiosFavoriteMock.ts, addFavoriteQuestionMock, resetFavoriteQuestionMock, constants favoriteQuestionApiUrls dublicate(fsd import trouble)
  src/entities/question/api/__mocks__/data/questionsMock.ts
  src/entities/question/api/__mocks__/data/userQuestiosFavoriteMock.ts
  src/entities/question/api/__mocks__/favoriteQuestionMock.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2481: task done
  src/entities/question/api/__mocks__/favoriteQuestionMock.ts
  src/entities/question/api/__mocks__/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2481: task done
  src/entities/question/api/__mocks__/data/userQuestionsFavoriteMock.ts
  src/entities/question/api/__mocks__/favoriteQuestionMock.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2480: add learnQuestion mock
  src/entities/auth/@x/question.ts
  src/entities/question/api/__mocks__/data/index.ts
  src/entities/question/api/__mocks__/data/questionsMock.ts
  src/entities/question/api/__mocks__/data/userQuestionProgressMock.ts
  src/entities/question/index.ts
  src/features/quiz/learnQuestion/api/_mocks_/learnQuestionMock.ts
  src/features/quiz/learnQuestion/api/learnQuestionApi.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2488: Test creation page
  public/locales/en/testCreate.json
  public/locales/ru/testCreate.json
  src/app/providers/router/routeConfig.tsx
  src/entities/test/api/testApi.ts
  src/entities/test/index.ts
  src/entities/test/model/constants/testConstants.ts
  src/entities/test/model/helpers/saveActiveTest.ts
  src/entities/test/model/hooks/useCreateTestFilters.ts
  src/entities/test/model/hooks/useGetCreateTestFilterParams.ts
  src/entities/test/model/types/testTypes.ts
  src/pages/test/createTest/index.ts
  src/pages/test/createTest/ui/CreateTestFilters/CreateTestFilters.module.css
  src/pages/test/createTest/ui/CreateTestFilters/CreateTestFilters.tsx
  src/pages/test/createTest/ui/CreateTestPage/CreateTestPage.lazy.ts
  src/pages/test/createTest/ui/CreateTestPage/CreateTestPage.module.css
  src/pages/test/createTest/ui/CreateTestPage/CreateTestPage.tsx
  src/shared/config/i18n/i18nNamespaces.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2481: fix userQuestionsFavoriteMock.ts and cross-imports
  src/entities/auth/@x/question.ts
  src/entities/question/api/__mocks__/data/userQuestionsFavoriteMock.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2482: add rule to check imports
  eslint.config.mjs
  eslint/relative-module-imports/policy.mjs
  eslint/relative-module-imports/rule.mjs
Due: none

YH-2479: auto-save referral link from values
  src/features/referralLinks/createReferralLink/ui/ReferralLinkCreateForm/ReferralLinkCreateForm.tsx
  src/features/referralLinks/createReferralLink/ui/ReferralLinkCreateFormWithHeader/ReferralLinkCreateFormWithHeader.tsx
Due: npm run prettier, npm run lint:ts:fix

Path conditions:
  npm run prettier: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:ts:fix: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:css:fix: any of: *.css
