Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

.lintstagedrc:

{
  "./**/*.{ts,tsx,js,jsx}": ["npm run prettier", "npm run lint:ts:fix"],
  "*.css": "npm run lint:css:fix"
}

YH-1691: fix step number rendering bug
  src/shared/ui/Range/RangeSteps/RangeSteps.module.css
  src/shared/ui/Range/RangeSteps/RangeSteps.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1945: fix load url parameters for feature flags filters
  src/features/featureFlag/model/hooks/useGetFeatureFlagFilterParams.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1945: refactor ClientTypeFilter
  src/features/featureFlag/ui/ClientTypeFilter/ClientTypeFilter.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1945: refactor rename and transfer to request roleIds
  src/features/featureFlag/model/hooks/useFeatureFlagFilters.ts
  src/features/featureFlag/model/hooks/useGetFeatureFlagFilterParams.ts
  src/features/featureFlag/model/types/filters.ts
  src/features/featureFlag/ui/featureFlagFilters/FeatureFlagFilters.tsx
  src/pages/admin/featureFlag/featureFlags/ui/FeatureFlagPage/FeatureFlagsPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1945: refactor filterFeatureFlag directory structure
  src/features/featureFlag/filterFeatureFlag/index.ts
  src/features/featureFlag/filterFeatureFlag/model/hooks/useFeatureFlagFilters.ts
  src/features/featureFlag/filterFeatureFlag/model/hooks/useGetFeatureFlagFilterParams.ts
  src/features/featureFlag/filterFeatureFlag/model/types/filters.ts
  src/features/featureFlag/filterFeatureFlag/ui/ClientTypeFilter/ClientTypeFilter.tsx
  src/features/featureFlag/filterFeatureFlag/ui/featureFlagFilters/FeatureFlagFilters.tsx
  src/features/featureFlag/index.ts
  src/pages/admin/featureFlag/featureFlags/ui/FeatureFlagPage/FeatureFlagsPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1936: fix comments
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/entities/featureFlag/index.ts
  src/entities/featureFlag/model/types/featureFlag.ts
  src/entities/featureFlag/ui/FeatureFlagClientTypeSelect/FeatureFlagClientTypeSelect.tsx
  src/entities/featureFlag/ui/FeatureFlagForm/FeatureFlagForm.module.css
  src/entities/featureFlag/ui/FeatureFlagForm/FeatureFlagForm.tsx
  src/features/featureFlag/createFeatureFlag/api/createFeatureFlagApi.ts
  src/features/featureFlag/createFeatureFlag/lib/utils/getCreateFeatureFlagApiErrorMessage.ts
  src/features/featureFlag/createFeatureFlag/lib/validation/featureFlagCreateSchema.ts
  src/features/featureFlag/createFeatureFlag/model/constants/createFeatureFlagConstants.ts
  src/features/featureFlag/createFeatureFlag/model/types/featureFlagCreateTypes.ts
  src/features/featureFlag/createFeatureFlag/ui/FeatureFlagCreateFormHeader/FeatureFlagCreateFormHeader.tsx
  src/pages/admin/featureFlag/featureFlags/ui/FeatureFlagPage/FeatureFlagsPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/libs/app/index.ts
  src/shared/libs/app/regexp.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1945: implement activity filter for feature flags
  public/locales/en/featureFlags.json
  public/locales/ru/featureFlags.json
  src/features/featureFlag/filterFeatureFlag/ui/ActivityFeatureFlagFilters/ActivityFeatureFlagFilters.tsx
  src/features/featureFlag/filterFeatureFlag/ui/featureFlagFilters/FeatureFlagFilters.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1691: fix step number rendering bug (#1235)
  src/shared/ui/Range/RangeSteps/RangeSteps.module.css
  src/shared/ui/Range/RangeSteps/RangeSteps.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1929: add workflow to build storybook
  .github/workflows/storybook-pages.yml
Due: none

YH-1929: add workflow to build storybook (#1237)
  .github/workflows/storybook-pages.yml
Due: none

YH-1929: fix deploy file
  .github/workflows/storybook-pages.yml
Due: none

Feature/yh 1929 (#1238)
  .github/workflows/storybook-pages.yml
Due: none

Release 1.10.1
  RELEASE_NOTES.md
  package-lock.json
  package.json
Due: none

YH-1945: add feature flags filters (#1231)
  public/locales/en/featureFlags.json
  public/locales/ru/featureFlags.json
  src/entities/featureFlag/api/featureFlagApi.ts
  src/entities/featureFlag/model/types/featureFlag.ts
  src/entities/user/index.ts
  src/entities/user/ui/UserRolesListField/UserRolesListField.skeleton.tsx
  src/entities/user/ui/UserRolesListField/UserRolesListField.tsx
  src/features/featureFlag/filterFeatureFlag/index.ts
  src/features/featureFlag/filterFeatureFlag/model/hooks/useFeatureFlagFilters.ts
  src/features/featureFlag/filterFeatureFlag/model/hooks/useGetFeatureFlagFilterParams.ts
  src/features/featureFlag/filterFeatureFlag/model/types/filters.ts
  src/features/featureFlag/filterFeatureFlag/ui/ActivityFeatureFlagFilters/ActivityFeatureFlagFilters.tsx
  src/features/featureFlag/filterFeatureFlag/ui/ClientTypeFilter/ClientTypeFilter.tsx
  src/features/featureFlag/filterFeatureFlag/ui/featureFlagFilters/FeatureFlagFilters.tsx
  src/features/user/filterUsers/ui/UsersFilters/UsersFilters.skeleton.tsx
  src/features/user/filterUsers/ui/UsersFilters/UsersFilters.tsx
  src/pages/admin/featureFlag/featureFlags/ui/FeatureFlagPage/FeatureFlagsPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/SearchInput/SearchInput.module.css
  src/widgets/SearchSection/ui/SearchSection.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1936: fix error
  src/entities/featureFlag/model/constants/featureFlags.ts
  src/features/featureFlag/filterFeatureFlag/ui/ClientTypeFilter/ClientTypeFilter.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1936: create FeatureFlag page (#1229)
  public/locales/en/featureFlags.json
  public/locales/en/translation.json
  public/locales/ru/featureFlags.json
  public/locales/ru/translation.json
  src/app/providers/router/routeConfig.tsx
  src/entities/featureFlag/index.ts
  src/entities/featureFlag/model/constants/featureFlags.ts
  src/entities/featureFlag/model/types/featureFlag.ts
  src/entities/featureFlag/ui/FeatureFlagClientTypeSelect/FeatureFlagClientTypeSelect.tsx
  src/entities/featureFlag/ui/FeatureFlagForm/FeatureFlagForm.module.css
  src/entities/featureFlag/ui/FeatureFlagForm/FeatureFlagForm.tsx
  src/entities/user/@x/featureFlag.ts
  src/features/featureFlag/createFeatureFlag/api/createFeatureFlagApi.ts
  src/features/featureFlag/createFeatureFlag/index.ts
  src/features/featureFlag/createFeatureFlag/lib/utils/getCreateFeatureFlagApiErrorMessage.ts
  src/features/featureFlag/createFeatureFlag/lib/validation/featureFlagCreateSchema.ts
  src/features/featureFlag/createFeatureFlag/model/constants/createFeatureFlagConstants.ts
  src/features/featureFlag/createFeatureFlag/model/types/featureFlagCreateTypes.ts
  src/features/featureFlag/createFeatureFlag/ui/FeatureFlagCreateForm/FeatureFlagCreateForm.module.css
  src/features/featureFlag/createFeatureFlag/ui/FeatureFlagCreateForm/FeatureFlagCreateForm.tsx
  src/features/featureFlag/createFeatureFlag/ui/FeatureFlagCreateFormHeader/FeatureFlagCreateFormHeader.tsx
  src/features/featureFlag/filterFeatureFlag/ui/ClientTypeFilter/ClientTypeFilter.tsx
  src/pages/admin/featureFlag/featureFlagCreate/index.ts
  src/pages/admin/featureFlag/featureFlagCreate/ui/FeatureFlagCreatePage.lazy.tsx
  src/pages/admin/featureFlag/featureFlagCreate/ui/FeatureFlagCreatePage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/libs/app/index.ts
  src/shared/libs/app/regexp.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1564: add analytic page template skeleton
  src/widgets/analytics/AnalyticPageTemplate/ui/AnalyticPageTemplate/AnalyticPageTemplate.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1564: add analytic page template mobile list skeleton and update index
  src/widgets/analytics/AnalyticPageTemplate/index.ts
  src/widgets/analytics/AnalyticPageTemplate/ui/AnalyticPageTemplateMobileList/AnalyticPageTemplateMobileList.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1564: add analytic template skeleton to all corresponding pages
  src/pages/analytics/difficultQuestions/ui/DifficultQuestionsPage/DifficultQuestionsPage.tsx
  src/pages/analytics/popularQuestions/ui/PopularQuestionsPage/PopularQuestionsPage.tsx
  src/pages/analytics/popularSkills/ui/PopularSkillsPage/PopularSkillsPage.tsx
  src/pages/analytics/progressSpecializations/ui/ProgressSpecializationsPage/ProgressSpecializationsPage.tsx
  src/pages/analytics/skillsProficiency/ui/SkillsProficiencyPage/SkillsProficiencyPage.tsx
  src/widgets/PageWrapper/ui/PageWrapper/PageWrapper.tsx
Due: npm run prettier, npm run lint:ts:fix

feature/YH-1908: add topics filter to admin questions page
  src/entities/question/model/types/filters.ts
  src/entities/question/model/types/question.ts
  src/entities/topic/model/constants/topicConstants.ts
  src/entities/topic/ui/TopicFilterField/TopicFilterField.tsx
  src/features/question/filterQuestions/model/hooks/useQuestionsFilters.ts
  src/features/question/filterQuestions/ui/QuestionsFilters/QuestionsFilters.tsx
  src/pages/admin/question/questions/ui/QuestionsTablePage/QuestionsTablePage.tsx
Due: npm run prettier, npm run lint:ts:fix

fix: remove console.logs and unused types
  src/entities/question/model/types/filters.ts
  src/entities/topic/ui/TopicFilterField/TopicFilterField.tsx
  src/features/question/filterQuestions/ui/QuestionsFilters/QuestionsFilters.tsx
  src/pages/admin/question/questions/ui/QuestionsTablePage/QuestionsTablePage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1994: fix i18n key conflict for select.role field
  public/locales/ru/user.json
  src/entities/user/ui/UserCard/UserCard.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1994: change key name on en localization
  public/locales/en/user.json
Due: none

YH-1975: refactor auth layout skeleton according to review comments
  src/app/layouts/AuthLayout/AuthAside/AuthAside.skeleton.tsx
  src/app/layouts/AuthLayout/AuthLayout.skeleton.module.css
  src/app/layouts/AuthLayout/AuthLayout.skeleton.tsx
  src/app/layouts/AuthLayout/AuthLayout.test.tsx
  src/app/layouts/AuthLayout/AuthLayout/AuthLayout.skeleton.tsx
  src/app/layouts/AuthLayout/AuthLayout/AuthLayout.tsx
  src/app/layouts/AuthLayout/BenefitItem/BenefitItem.skeleton.tsx
  src/app/layouts/AuthLayout/BenefitsList/BenefitsList.skeleton.tsx
  src/app/layouts/AuthLayout/index.ts
  src/entities/auth/index.ts
  src/entities/auth/ui/RegistrationLabel/RegistrationLabel.skeleton.tsx
  src/features/authentication/login/index.ts
  src/features/authentication/login/ui/LoginForm/LoginForm.skeleton.tsx
  src/features/authentication/login/ui/TelegramLogin/TelegramLogin.skeleton.tsx
  src/pages/auth/login/ui/LoginPage/LoginPage.module.css
  src/pages/auth/login/ui/LoginPage/LoginPage.skeleton.module.css
  src/pages/auth/login/ui/LoginPage/LoginPage.skeleton.tsx
  src/widgets/authentication/login/index.ts
  src/widgets/authentication/login/ui/LoginCreateForm/LoginCreateForm.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1994: move select.role into select object in localization
  public/locales/en/user.json
  public/locales/ru/user.json
  src/entities/user/ui/UserCard/UserCard.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1939: add toggle feature flag
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/features/featureFlag/toggleActiveFeatureFlag/api/toggleActiveFeatureFlagApi.ts
  src/features/featureFlag/toggleActiveFeatureFlag/index.ts
  src/features/featureFlag/toggleActiveFeatureFlag/lib/utils/getToggleActiveFlagApiMessage.ts
  src/features/featureFlag/toggleActiveFeatureFlag/model/constants/toggleActiveFeatureFlagConstants.ts
  src/features/featureFlag/toggleActiveFeatureFlag/model/types/toggleActiveFeatureFlagTypes.ts
  src/features/featureFlag/toggleActiveFeatureFlag/ui/ToggleActiveFeatureFlagSwitch.tsx
  src/pages/admin/featureFlag/featureFlags/ui/FeatureFlagPage/FeatureFlagsTablePage.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1979: add unit tests for TopicSelect
  src/entities/topic/ui/TopicSelect/TopicSelect.test.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1977: refactor SidebarCategoryMenuItem open Tooltip
  src/widgets/Sidebar/ui/SidebarMenuItem/SidebarCategoryMenuItem.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1755: remove early return to fix error handling
  src/pages/admin/specialization/specializationEdit/ui/SpecializationEditPage/SpecializationEditPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1939: add toggle feature flag
  src/features/featureFlag/toggleActiveFeatureFlag/index.ts
  src/features/featureFlag/toggleActiveFeatureFlag/ui/ToggleActiveFeatureFlagSwitch/ToggleActiveFeatureFlagSwitch.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1939: add toggle feature flag
  src/features/featureFlag/toggleActiveFeatureFlag/api/toggleActiveFeatureFlagApi.ts
  src/features/featureFlag/toggleActiveFeatureFlag/ui/ToggleActiveFeatureFlagSwitch/ToggleActiveFeatureFlagSwitch.tsx
  src/pages/admin/featureFlag/featureFlags/ui/FeatureFlagPage/FeatureFlagsTablePage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1939: add toggle feature flag (#1242)
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/features/featureFlag/toggleActiveFeatureFlag/api/toggleActiveFeatureFlagApi.ts
  src/features/featureFlag/toggleActiveFeatureFlag/index.ts
  src/features/featureFlag/toggleActiveFeatureFlag/lib/utils/getToggleActiveFlagApiMessage.ts
  src/features/featureFlag/toggleActiveFeatureFlag/model/constants/toggleActiveFeatureFlagConstants.ts
  src/features/featureFlag/toggleActiveFeatureFlag/model/types/toggleActiveFeatureFlagTypes.ts
  src/features/featureFlag/toggleActiveFeatureFlag/ui/ToggleActiveFeatureFlagSwitch/ToggleActiveFeatureFlagSwitch.tsx
  src/pages/admin/featureFlag/featureFlags/ui/FeatureFlagPage/FeatureFlagsTablePage.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1967: add skeleton components
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/entities/company/index.ts
  src/entities/company/ui/CompanyCompactList/CompanyCompactList.skeleton.tsx
  src/entities/programmingLanguage/index.ts
  src/entities/programmingLanguage/ui/ProgrammingLanguageList/ProgrammingLanguageList.skeleton.tsx
  src/entities/programmingLanguage/ui/ProgrammingLanguageSelect/ProgrammingLanguageSelect.skeleton.tsx
  src/entities/task/index.ts
  src/entities/task/ui/TaskCategoryChip/TaskCategoryChip.skeleton.tsx
  src/entities/task/ui/TaskDifficultyChip/TaskDifficultyChip.skeleton.tsx
  src/entities/task/ui/TaskStatusChip/TaskStatusChip.skeleton.tsx
  src/features/featureFlag/deleteFeatureFlag/api/deleteFeatureFlagApi.ts
  src/features/featureFlag/deleteFeatureFlag/index.ts
  src/features/featureFlag/deleteFeatureFlag/lib/utils/getDeleteFlagApiMessage.ts
  src/features/featureFlag/deleteFeatureFlag/model/constants/deleteFeatureFlagConstants.ts
  src/features/featureFlag/deleteFeatureFlag/model/types/deleteFeatureFlagTypes.ts
  src/features/featureFlag/deleteFeatureFlag/ui/DeleteFeatureFlagButton.tsx
  src/pages/admin/featureFlag/featureFlags/ui/FeatureFlagPage/FeatureFlagsTablePage.tsx
  src/pages/tasks/task/index.ts
  src/pages/tasks/task/ui/TaskPageContent/TaskPageContent.skeleton.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/task/TaskEditor/index.ts
  src/widgets/task/TaskEditor/ui/TaskEditor.skeleton.tsx
  src/widgets/task/TaskTabs/index.ts
  src/widgets/task/TaskTabs/ui/TaskTabs/TaskTabs.skeleton.tsx
  src/widgets/task/TaskTabs/ui/tabs/TaskDescription/TaskDescription.module.css
  src/widgets/task/TaskTabs/ui/tabs/TaskDescription/TaskDescription.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1967: add TaskPage skeleton
  src/app/layouts/MainLayout/SkeletonGenerator/SkeletonGenerator.tsx
  src/pages/tasks/task/ui/TaskPage/TaskPage.tsx
Due: npm run prettier, npm run lint:ts:fix

feature/YH-1908: add topics filter to admin questions page (#1236)
  src/entities/question/model/types/filters.ts
  src/entities/question/model/types/question.ts
  src/entities/topic/model/constants/topicConstants.ts
  src/entities/topic/ui/TopicFilterField/TopicFilterField.tsx
  src/features/question/filterQuestions/model/hooks/useQuestionsFilters.ts
  src/features/question/filterQuestions/ui/QuestionsFilters/QuestionsFilters.tsx
  src/pages/admin/question/questions/ui/QuestionsTablePage/QuestionsTablePage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1937: Added a feature flag editing page
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/app/providers/router/routeConfig.tsx
  src/entities/featureFlag/api/featureFlagApi.ts
  src/entities/featureFlag/index.ts
  src/entities/featureFlag/model/constants/featureFlags.ts
  src/entities/featureFlag/model/types/featureFlag.ts
  src/features/featureFlag/editFeatureFlag/api/editFeatureFlagApi.ts
  src/features/featureFlag/editFeatureFlag/index.ts
  src/features/featureFlag/editFeatureFlag/lib/utils/getEditFeatureFlagApiErrorMessage.tsx
  src/features/featureFlag/editFeatureFlag/lib/validation/featureFlagEditSchema.ts
  src/features/featureFlag/editFeatureFlag/model/constants/editFeatureFlagConstants.ts
  src/features/featureFlag/editFeatureFlag/model/types/featureFlagEditTypes.ts
  src/features/featureFlag/editFeatureFlag/ui/FeatureFlagEditForm/FeatureFlagEditForm.module.css
  src/features/featureFlag/editFeatureFlag/ui/FeatureFlagEditForm/FeatureFlagEditForm.tsx
  src/features/featureFlag/editFeatureFlag/ui/FeatureFlagEditFormCancelModal/FeatureFlagEditFormCancelModal.tsx
  src/features/featureFlag/editFeatureFlag/ui/FeatureFlagEditFormHeader/FeatureFlagEditFormHeader.module.css
  src/features/featureFlag/editFeatureFlag/ui/FeatureFlagEditFormHeader/FeatureFlagEditFormHeader.tsx
  src/pages/admin/featureFlag/featureFlagEdit/index.ts
  src/pages/admin/featureFlag/featureFlagEdit/ui/FeatureFlagEditPage.lazy.tsx
  src/pages/admin/featureFlag/featureFlagEdit/ui/FeatureFlagEditPage.tsx
  src/pages/admin/featureFlag/featureFlags/ui/FeatureFlagPage/FeatureFlagsTablePage.tsx
  src/pages/admin/featureFlag/flagEdit/index.ts
  src/pages/admin/featureFlag/flagEdit/ui/FeatureFlagEditPage.lazy.tsx
  src/pages/admin/featureFlag/flagEdit/ui/FeatureFlagEditPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/query/apiTags.ts
  src/shared/config/router/routes.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1915: added task sorting by name, difficulty, createdAt with ASC/DESC order
  public/locales/ru/task.json
  src/entities/task/model/types/filters.ts
  src/entities/topic/index.ts
  src/features/question/filterQuestions/ui/QuestionsFilters/QuestionsFilters.tsx
  src/features/task/filterTasks/index.ts
  src/features/task/filterTasks/model/constants/sort.ts
  src/features/task/filterTasks/model/hooks/useTasksFilters.ts
  src/features/task/filterTasks/ui/SortTasksByField/SortTasksByField.tsx
  src/features/task/filterTasks/ui/SortTasksByOrder/SortTasksByOrder.tsx
  src/features/task/filterTasks/ui/TaskFilters/TasksFilters.tsx
  src/pages/admin/task/tasks/ui/TasksTablePage/TasksTablePage.tsx
  src/pages/tasks/tasks/ui/TasksPage/TasksPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1915: added English translations for task sorting
  public/locales/en/task.json
Due: none

YH-1937: fixed PR review comments
  src/app/providers/router/routeConfig.tsx
  src/features/featureFlag/editFeatureFlag/model/constants/editFeatureFlagConstants.ts
  src/features/featureFlag/editFeatureFlag/ui/FeatureFlagEditForm/FeatureFlagEditForm.tsx
  src/pages/admin/featureFlag/featureFlags/ui/FeatureFlagPage/FeatureFlagsTablePage.tsx
  src/pages/admin/featureFlag/flagEdit/index.ts
  src/pages/admin/featureFlag/flagEdit/ui/FeatureFlagEditPage.lazy.tsx
  src/pages/admin/featureFlag/flagEdit/ui/FeatureFlagEditPage.tsx
  src/shared/config/router/routes.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1976: update Specialization interface
  src/entities/specialization/model/types/specialization.ts
Due: npm run prettier, npm run lint:ts:fix
