Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

.lintstagedrc:

{
  "./**/*.{ts,tsx,js,jsx}": ["npm run prettier", "npm run lint:ts:fix"],
  "*.css": "npm run lint:css:fix"
}

YH-1233: quiz results without subscription (#778)
  src/app/providers/router/config/routeConfig.tsx
  src/entities/question/api/questionApi.ts
  src/entities/quiz/api/quizApi.ts
  src/entities/quiz/utils/getActiveQuizQuestions.ts
  src/pages/interview/InterviewMockQuizResultPage/index.ts
  src/pages/interview/InterviewMockQuizResultPage/model/hooks/useCalculationQuizResult.ts
  src/pages/interview/InterviewMockQuizResultPage/model/hooks/useInterviewMockQuizResultData.ts
  src/pages/interview/InterviewMockQuizResultPage/ui/InterviewMockQuizResultPage.lazy.ts
  src/pages/interview/InterviewMockQuizResultPage/ui/InterviewMockQuizResultPage.module.css
  src/pages/interview/InterviewMockQuizResultPage/ui/InterviewMockQuizResultPage.skeleton.tsx
  src/pages/interview/InterviewMockQuizResultPage/ui/InterviewMockQuizResultPage.tsx
  src/pages/interview/InterviewQuizPage/ui/InterviewQuizPage.tsx
  src/widgets/interview/PassedQuestionsList/ui/PassedQuestionsList/PassedQuestionsList.tsx
  src/widgets/interview/QuestionsStatistic/ui/PassedQuestionsStatistic/PassedQuestionsStatistic.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1235: update clear state
  src/pages/interview/InterviewMockQuizResultPage/model/hooks/useInterviewMockQuizResultData.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1235: Get active mock quiz (#784)
  src/entities/quiz/index.ts
  src/entities/quiz/model/slices/activeQuizSlice.ts
  src/pages/interview/InterviewMockQuizResultPage/model/hooks/useInterviewMockQuizResultData.ts
  src/pages/interview/InterviewQuizPage/ui/InterviewQuizPage.tsx
  src/widgets/interview/InterviewPreparation/ui/InterviewPreparation/InterviewPreparation.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1238: fix cancelled button for user status = canceled
  src/widgets/Profile/ui/SubscriptionTab/ui/PremiumSubscriptionTab/PremiumSubscriptionTab.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-863: Added tests for StatusChip
  src/app/providers/router/config/routeConfig.tsx
  src/entities/question/api/questionApi.ts
  src/entities/quiz/api/quizApi.ts
  src/entities/quiz/utils/getActiveQuizQuestions.ts
  src/pages/interview/InterviewMockQuizResultPage/index.ts
  src/pages/interview/InterviewMockQuizResultPage/model/hooks/useCalculationQuizResult.ts
  src/pages/interview/InterviewMockQuizResultPage/model/hooks/useInterviewMockQuizResultData.ts
  src/pages/interview/InterviewMockQuizResultPage/ui/InterviewMockQuizResultPage.lazy.ts
  src/pages/interview/InterviewMockQuizResultPage/ui/InterviewMockQuizResultPage.module.css
  src/pages/interview/InterviewMockQuizResultPage/ui/InterviewMockQuizResultPage.skeleton.tsx
  src/pages/interview/InterviewMockQuizResultPage/ui/InterviewMockQuizResultPage.tsx
  src/pages/interview/InterviewQuizPage/ui/InterviewQuizPage.tsx
  src/shared/ui/StatusChip/StatusChip.test.tsx
  src/shared/ui/StatusChip/StatusChip.tsx
  src/widgets/interview/PassedQuestionsList/ui/PassedQuestionsList/PassedQuestionsList.tsx
  src/widgets/interview/QuestionsStatistic/ui/PassedQuestionsStatistic/PassedQuestionsStatistic.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

Release 1.1.7
  RELEASE_NOTES.md
  package-lock.json
  package.json
Due: none

YH-1238: fix cancelled button for user status = canceled (#785)
  src/widgets/Profile/ui/SubscriptionTab/ui/PremiumSubscriptionTab/PremiumSubscriptionTab.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1127: refactor
  src/entities/guru/ui/GurusList/GurusList.module.css
  src/entities/guru/ui/GurusList/GurusList.tsx
  src/entities/media/model/assets/index.ts
  src/entities/media/model/constants/media.ts
  src/entities/media/model/types/media.ts
  src/entities/media/ui/MediaLinksList/MediaLinksList.tsx
  src/pages/landing/MediaPage/ui/MediaPage.tsx
  src/widgets/Landing/Media/index.ts
  src/widgets/Landing/Media/ui/TelegramChannels/TelegramChannels.module.css
  src/widgets/Landing/Media/ui/TelegramChannels/TelegramChannels.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-855: add expand/collapse button (#779)
  src/shared/ui/Icon/types.ts
  src/shared/ui/TableCellEntityList/TableCellEntityList.module.css
  src/shared/ui/TableCellEntityList/TableCellEntityList.tsx
  src/widgets/QuestionsTable/ui/QuestionsTable.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

Feature: YH-1211 - Connect API to create resource form (#773)
  public/locales/ru/translation.json
  src/entities/resource/model/types/resource.ts
  src/entities/resource/ui/ResourceForm/ResourceForm.tsx
  src/entities/resource/ui/ResourceSelect/ResourceSelect.tsx
  src/features/resources/createResource/api/createResourceApi.ts
  src/features/resources/createResource/index.ts
  src/features/resources/createResource/model/constants/createResourceConstants.ts
  src/features/resources/createResource/model/lib/validation/resourceCreateSchema.ts
  src/features/resources/createResource/model/types/resourceCreateTypes.ts
  src/features/resources/createResource/ui/ResourceCreateForm/ResourceCreateForm.tsx
  src/features/resources/createResource/ui/ResourceCreateFormWithHeader/ResourceCreateFormWithHeader.module.css
  src/features/resources/createResource/ui/ResourceCreateFormWithHeader/ResourceCreateFormWithHeader.tsx
  src/pages/landing/PublicMarketplaceRequestPage/ui/PublicMarketplaceRequestPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1127: fix
  src/entities/guru/ui/GurusList/GurusList.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-367: fixed editing and deleting collection by admin
  src/pages/admin/CollectionPage/ui/CollectionPage.tsx
  src/pages/admin/CollectionsPage/ui/CollectionsPage/CollectionsPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-863: Added tests from StatusChip
  src/shared/ui/StatusChip/StatusChip.test.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-863: revert changes
  src/pages/interview/InterviewMockQuizResultPage/model/hooks/useInterviewMockQuizResultData.ts
Due: npm run prettier, npm run lint:ts:fix

YH-863: Added tests from StatusChip
  src/shared/ui/StatusChip/StatusChip.test.tsx
  src/shared/ui/StatusChip/StatusChip.tsx
  src/shared/ui/StatusChip/model/constants.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1243: fix(styles): remove background-color: inherit in collection preview and fix duplicate :disabled selector in button
  src/entities/collection/ui/CollectionPreview/CollectionPreview.module.css
  src/shared/ui/Button/Button.module.css
Due: npm run lint:css:fix

YH-1227: made corrections so that the author could delete and change collections, isAuthor I get via useSelector
  src/entities/profile/index.ts
  src/entities/profile/model/selectors/profileSelectors.ts
  src/features/collections/editCollection/ui/CollectionEditForm/CollectionEditForm.tsx
  src/pages/admin/CollectionEditPage/ui/CollectionEditPage.tsx
  src/pages/admin/CollectionPage/ui/CollectionPage.tsx
  src/pages/admin/CollectionsPage/ui/CollectionsPage/CollectionsPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1241: fixed the request for specializations
  src/entities/media/model/types/media.ts
  src/pages/profile/UserProfilePage/ui/UserProfilePage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-973: replaced hardcoded message with i18n fallback LeavingPageBlocker
  src/shared/ui/LeavingPageBlocker/LeavingPageBlocker.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-973: replaced hardcoded message with i18n fallback LeavingPageBlocker
  package-lock.json
  package.json
  public/locales/en/interviewQuizCreate.json
  public/locales/en/interviewQuizResult.json
  public/locales/en/landing.json
  public/locales/en/media.json
  public/locales/ru/interviewQuizCreate.json
  public/locales/ru/interviewQuizResult.json
  public/locales/ru/landing.json
  public/locales/ru/media.json
  src/entities/media/model/types/media.ts
  src/shared/ui/TableCellEntityList/TableCellEntityList.tsx
  src/widgets/QuestionsTable/ui/QuestionsTable.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1212: рефактор архитектура табов подписки
  src/features/profile/changePassword/index.ts
  src/features/profile/changePassword/ui/ChangePasswordForm.module.css
  src/features/profile/changePassword/ui/ChangePasswordForm.tsx
  src/features/subscriptions/activeSubscription/index.ts
  src/features/subscriptions/activeSubscription/model/lib/subscriptionUtils.ts
  src/features/subscriptions/activeSubscription/ui/ActiveSubscriptionInfo.module.css
  src/features/subscriptions/activeSubscription/ui/ActiveSubscriptionInfo.tsx
  src/features/subscriptions/faq/index.ts
  src/features/subscriptions/faq/model/constants/faqData.ts
  src/features/subscriptions/faq/model/types/types.ts
  src/features/subscriptions/faq/ui/FaqItem/FaqItem.module.css
  src/features/subscriptions/faq/ui/FaqItem/FaqItem.tsx
  src/features/subscriptions/faq/ui/FaqList.tsx
  src/features/subscriptions/paymentHistory/index.ts
  src/features/subscriptions/paymentHistory/ui/PaymentHistory.module.css
  src/features/subscriptions/paymentHistory/ui/PaymentHistory.tsx
  src/features/subscriptions/subscribe/ui/AgreementForm/AgreementForm.tsx
  src/pages/profile/SettingsProfilePage/ui/SettingsProfilePage.tsx
  src/pages/profile/SettingsProfilePage/ui/tabs/ChangePasswordTab/ChangePasswordTab.tsx
  src/pages/profile/SettingsProfilePage/ui/tabs/FreeSubscriptionTab/FreeSubscriptionTab.tsx
  src/pages/profile/SettingsProfilePage/ui/tabs/PremiumSubscriptionTab/PremiumSubscriptionTab.tsx
  src/pages/profile/SettingsProfilePage/ui/tabs/SubscriptionTab/SubscriptionTab.tsx
  src/shared/types/payment.ts
  src/shared/ui/PaymentHistoryList/index.ts
  src/shared/ui/PaymentHistoryList/ui/PaymentHistoryItem/PaymentHistoryItem.module.css
  src/shared/ui/PaymentHistoryList/ui/PaymentHistoryItem/PaymentHistoryItem.tsx
  src/shared/ui/PaymentHistoryList/ui/PaymentHistoryList.module.css
  src/shared/ui/PaymentHistoryList/ui/PaymentHistoryList.tsx
  src/shared/ui/Tabs/hooks.ts
  src/widgets/SubscriptionManager/index.ts
  src/widgets/SubscriptionManager/ui/FreeSubscription/FreeSubscription.tsx
  src/widgets/SubscriptionManager/ui/PremiumSubscription/PremiumSubscription.module.css
  src/widgets/SubscriptionManager/ui/PremiumSubscription/PremiumSubscription.tsx
  src/widgets/SubscriptionManager/ui/SubscriptionManager.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1241: fixed the request for specializations (#790)
  src/entities/media/model/types/media.ts
  src/pages/profile/UserProfilePage/ui/UserProfilePage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1243: fix(styles): remove background-color: inherit in collection preview and fix duplicate :disabled selector in button (#789)
  src/entities/collection/ui/CollectionPreview/CollectionPreview.module.css
  src/shared/ui/Button/Button.module.css
Due: npm run lint:css:fix

YH-367: fixed editing and deleting collection by admin (#788)
  src/entities/profile/index.ts
  src/entities/profile/model/selectors/profileSelectors.ts
  src/features/collections/editCollection/ui/CollectionEditForm/CollectionEditForm.tsx
  src/pages/admin/CollectionEditPage/ui/CollectionEditPage.tsx
  src/pages/admin/CollectionPage/ui/CollectionPage.tsx
  src/pages/admin/CollectionsPage/ui/CollectionsPage/CollectionsPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-973: replaced hardcoded message with i18n fallback LeavingPageBlocker
  src/entities/media/model/types/media.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1242: queries: useGetHistoryQuizQuery, useGetProfileQuizStatsQuery, useGetActiveQuizQuery - skip occurs if this is not a premium user
  src/pages/interview/InterviewPage/ui/InterviewPage.tsx
  src/widgets/interview/PassedQuizzesList/ui/PreviewPassedQuizzesList/PreviewPassedQuizzesList.tsx
  src/widgets/interview/QuestionsStatistic/ui/PreviewQuestionsStatistic/PreviewQuestionsStatistic.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-863: Added tests
  src/shared/ui/StatusChip/StatusChip.test.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1223: fix PreviewQuestionsItem routing
  src/widgets/question/QuestionsList/ui/PreviewQuestionsItem/PreviewQuestionsItem.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1223: fixed landing routing+tests
  src/entities/question/index.ts
  src/entities/question/model/lib/getQuestionRoute.test.ts
  src/entities/question/model/lib/getQuestionRoute.ts
  src/widgets/question/QuestionsList/ui/PreviewQuestionsItem/PreviewQuestionsItem.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1212: fix comments
  src/entities/media/model/types/media.ts
  src/features/subscriptions/activeSubscription/index.ts
  src/features/subscriptions/activeSubscription/ui/ActiveSubscriptionInfo.module.css
  src/features/subscriptions/faq/index.ts
  src/features/subscriptions/faq/model/constants/faqData.ts
  src/features/subscriptions/faq/model/types/types.ts
  src/features/subscriptions/faq/ui/FaqItem/FaqItem.module.css
  src/features/subscriptions/faq/ui/FaqItem/FaqItem.tsx
  src/features/subscriptions/paymentHistory/index.ts
  src/features/subscriptions/paymentHistory/ui/PaymentHistory.tsx
  src/features/subscriptions/subscribe/ui/AgreementForm/AgreementForm.tsx
  src/features/subscriptions/unsubscribe/ui/UnsubscribeButton/UnsubscribeButton.module.css
  src/features/subscriptions/unsubscribe/ui/UnsubscribeButton/UnsubscribeButton.tsx
  src/pages/profile/SettingsProfilePage/index.ts
  src/pages/profile/SettingsProfilePage/ui/tabs/FreeSubscriptionTab/FreeSubscriptionTab.tsx
  src/pages/profile/SettingsProfilePage/ui/tabs/PremiumSubscriptionTab/PremiumSubscriptionTab.tsx
  src/shared/ui/Button/Button.module.css
  src/shared/ui/PaymentHistoryList/index.ts
  src/shared/ui/PaymentHistoryList/ui/PaymentHistoryList.module.css
  src/widgets/FaqList/index.ts
  src/widgets/FaqList/ui/FaqList/Faq.tsx
  src/widgets/FaqList/ui/FaqList/FaqList.tsx
  src/widgets/PayHistoryList/index.ts
  src/widgets/PayHistoryList/ui/PayHistoryItem/PayHistoryItem.module.css
  src/widgets/PayHistoryList/ui/PayHistoryItem/PayHistoryItem.tsx
  src/widgets/PayHistoryList/ui/PayHistoryList/PayHistoryList.module.css
  src/widgets/PayHistoryList/ui/PayHistoryList/PayHistoryList.tsx
  src/widgets/Subscription/index.ts
  src/widgets/Subscription/model/lib/subscriptionUtils.ts
  src/widgets/Subscription/ui/ActiveSubscriptionInfo/ActiveSubscriptionInfo.module.css
  src/widgets/Subscription/ui/ActiveSubscriptionInfo/ActiveSubscriptionInfo.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-853: hide skills field when no specialization selected in QuestionForm
  src/entities/question/ui/QuestionForm/QuestionForm.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1158: Replace subscription check with premium role check, show cur… (#749)
  src/widgets/manageProfiles/ui/ManageProfilesPanel/ManageProfilesPanel.tsx
  src/widgets/manageProfiles/ui/ProfilesCounter/ProfilesCounter.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1134: ResourceCreateForm (#743)
  public/locales/en/marketplace.json
  public/locales/ru/marketplace.json
  src/app/providers/router/config/routeConfig.tsx
  src/entities/resource/index.ts
  src/entities/resource/model/constants/resource.ts
  src/entities/resource/model/types/filters.ts
  src/entities/resource/model/types/resource.ts
  src/entities/resource/ui/FormSelect/FormSelect.module.css
  src/entities/resource/ui/FormSelect/FormSelect.tsx
  src/entities/resource/ui/ResourceForm/ResourceForm.module.css
  src/entities/resource/ui/ResourceForm/ResourceForm.tsx
  src/entities/resource/ui/ResourceSelect/ResourceSelect.tsx
  src/entities/resource/ui/StatusFilterSection/StatusFilterSection.tsx
  src/entities/specialization/ui/SpecializationSelect/SpecializationSelect.tsx
  src/features/resource/createResource/index.ts
  src/features/resource/createResource/model/lib/validation/resourceCreateSchema.ts
  src/features/resource/createResource/model/types/resourceCreateTypes.ts
  src/features/resource/createResource/ui/ResourceCreateForm/ResourceCreateForm.tsx
  src/features/resource/createResource/ui/ResourceCreateFormWithHeader/ResourceCreateFormWithHeader.module.css
  src/features/resource/createResource/ui/ResourceCreateFormWithHeader/ResourceCreateFormWithHeader.tsx
  src/pages/landing/PublicMarketplacePage/ui/PublicMarketplacePage.tsx
  src/pages/landing/PublicMarketplaceRequestPage/index.ts
  src/pages/landing/PublicMarketplaceRequestPage/ui/PublicMarketplaceRequestPage.lazy.ts
  src/pages/landing/PublicMarketplaceRequestPage/ui/PublicMarketplaceRequestPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
  src/shared/ui/Chip/Chip.module.css
  src/shared/ui/Dropdown/Select/Select.module.css
  src/shared/ui/ImageLoaderWithoutCropper/ImageLoaderWithoutCropper.module.css
  src/shared/ui/KeywordInput/KeywordInput.module.css
  src/shared/ui/KeywordInput/KeywordInput.tsx
  src/shared/ui/SelectWithChips/SelectWithChips.module.css
  src/shared/ui/SelectWithChips/SelectWithChips.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1207: fix login error toast (#763)
  public/locales/ru/translation.json
Due: none

YH-1038: update save active quiz with profileId (#761)
  src/entities/auth/api/authApi.ts
  src/entities/profile/model/slices/profileSlice.ts
  src/entities/quiz/api/quizApi.ts
  src/entities/quiz/hooks/useSlideSwitcher.ts
  src/entities/quiz/index.ts
  src/entities/quiz/model/constants/quizConstants.ts
  src/entities/quiz/model/helpers/getValidActiveQuizzesFromLS.ts
  src/entities/quiz/model/slices/activeQuizSlice.ts
  src/entities/quiz/model/types/quiz.ts
  src/entities/subscription/model/slices/activeSubscriptionSlice.tsx
  src/features/profile/setActiveProfile/api/setActiveProfileApi.ts
  src/pages/admin/CollectionsPage/model/slices/collectionsPageSlice.ts
  src/pages/admin/CompaniesTablePage/model/slices/companiesTablePageSlice.ts
  src/pages/admin/QuestionsTablePage/model/slices/questionsTablePageSlice.ts
  src/pages/admin/SkillsPage/model/slices/skillsPageSlice.ts
  src/pages/admin/SpecializationsPage/model/slices/specializationsPageSlice.ts
  src/pages/admin/UserTablePage/model/slices/usersPageSlice.ts
  src/pages/interview/CreateQuizPage/model/slices/CreateQuizPageSlice.ts
  src/pages/interview/InterviewHistoryPage/model/slices/InterviewHistoryPageSlice.ts
  src/pages/interview/QuestionsPage/model/slices/questionsPageSlice.ts
  src/pages/landing/CreatePublicQuizPage/model/slices/CreatePublicQuizPageSlice.ts
  src/shared/config/store/clearStore.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1198: limitation of features for the public trainer (#759)
  src/pages/landing/CreatePublicQuizPage/ui/CreatePublicQuizPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1203: fixed the link to view statistics (#757)
  src/entities/subscription/ui/PremiumSubscriptionTooltipBody/PremiumSubscriptionTooltipBody.tsx
  src/entities/subscription/ui/SubscriptionCard/SubscriptionCard.tsx
  src/widgets/interview/QuestionsStatistic/ui/PreviewQuestionsStatistic/PreviewQuestionsStatistic.tsx
Due: npm run prettier, npm run lint:ts:fix
