Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

.lintstagedrc:

{
  "./**/*.{ts,tsx,js,jsx}": ["npm run prettier", "npm run lint:ts:fix"],
  "*.css": "npm run lint:css:fix"
}

YH-1045: fix skeleton main layout
  src/app/layouts/MainLayout/ui/MainLayout.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1066: fix click to profile popover
  src/shared/config/i18n/i18n.ts
Due: npm run prettier, npm run lint:ts:fix

[YH-1066, YH-1065, YH-1067, YH-1045] fix bugs (#699)
  public/locales/en/interviewHistory.json
  public/locales/ru/interviewHistory.json
  src/app/layouts/MainLayout/ui/MainLayout.skeleton.tsx
  src/shared/config/i18n/i18n.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/Profile/ui/SubscriptionTab/ui/PremiumSubscriptionTab/PremiumSubscriptionTab.tsx
  src/widgets/interview/PassedQuizzesList/ui/PreviewPassedQuizzesList/PreviewPassedQuizzesList.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1059: A translation has been added for the author role and styles have been set for it. (#698)
  public/locales/en/user.json
  public/locales/ru/user.json
  src/entities/user/model/types/user.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/UsersTable/ui/UsersTable.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

Release 1.1.1
  RELEASE_NOTES.md
  package-lock.json
  package.json
Due: none

YH-1051: changed gauge color, added question stats, activated user button
  src/shared/ui/charts/GaugeChart/GaugeChart.tsx
  src/widgets/interview/QuestionsStatistic/model/lib/getQuestionsStats/getQuestionsStats.ts
  src/widgets/interview/QuestionsStatistic/ui/PreviewQuestionsStatistic/PreviewQuestionsStatistic.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1044: Profile correction
  src/entities/user/ui/UserEditButton/UserEditButton.tsx
  src/shared/ui/AvatarWithoutPhoto/AvatarWithoutPhoto.module.css
  src/shared/ui/ImageLoader/ImageLoader.module.css
  src/widgets/Profile/ui/UserCard/ui/UserBlock/UserBlock.module.css
  src/widgets/Profile/ui/UserCard/ui/UserImageBlock/UserImageBlock.module.css
  src/widgets/Profile/ui/UserCard/ui/UserInfoBlock/UserInfoBlock.module.css
  src/widgets/Profile/ui/UserCard/ui/UserInfoBlock/UserInfoBlock.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1042: style: change drawer position
  src/pages/landing/PublicMarketplacePage/ui/PublicMarketplacePage.module.css
Due: npm run lint:css:fix

YH-1050: Add a wrapper to stub questions
  src/widgets/question/QuestionsList/ui/PreviewQuestionsList/PreviewQuestionsList.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1044: Fix sizes
  src/widgets/Profile/ui/UserCard/ui/UserImageBlock/UserImageBlock.module.css
Due: npm run lint:css:fix

YH-1023: add marketplace entity skeleton (types + mocks)
  src/entities/marketplace/api/__mock__/data/resourcesMock.ts
  src/entities/marketplace/index.ts
  src/entities/marketplace/model/types/resource.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1023: ResourceCard + MarketplaceList integrated into page
  src/entities/marketplace/index.ts
  src/entities/marketplace/ui/ResourceCard/ResourceCard.module.css
  src/entities/marketplace/ui/ResourceCard/ResourceCard.tsx
  src/pages/landing/PublicMarketplacePage/ui/PublicMarketplacePage.tsx
  src/widgets/Marketplace/index.ts
  src/widgets/Marketplace/ui/MarketplaceList/MarketplaceList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1023: add section header, unify placeholder image, enlarge preview size, and extend mocks
  src/entities/marketplace/api/__mock__/data/resourcesMock.ts
  src/entities/marketplace/ui/ResourceCard/ResourceCard.module.css
  src/pages/landing/PublicMarketplacePage/ui/PublicMarketplacePage.module.css
  src/pages/landing/PublicMarketplacePage/ui/PublicMarketplacePage.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1023: add marketplace i18n translations and wire keys
  public/locales/en/marketplace.json
  public/locales/ru/marketplace.json
  src/pages/landing/PublicMarketplacePage/ui/PublicMarketplacePage.tsx
  src/shared/config/i18n/i18n.ts
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1023: add suggest-link with icon and responsive header alignment
  src/pages/landing/PublicMarketplacePage/ui/PublicMarketplacePage.module.css
  src/pages/landing/PublicMarketplacePage/ui/PublicMarketplacePage.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1023: adjust marketplace header layout (desktop CSS tweak)
  src/pages/landing/PublicMarketplacePage/ui/PublicMarketplacePage.module.css
Due: npm run lint:css:fix

YH-1023: refactor suggest button to use Button component with link-purple variant and icon suffix
  src/pages/landing/PublicMarketplacePage/ui/PublicMarketplacePage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1023: refactor header title to use Text body6 variant with isMainTitle and drop title class
  src/pages/landing/PublicMarketplacePage/ui/PublicMarketplacePage.module.css
  src/pages/landing/PublicMarketplacePage/ui/PublicMarketplacePage.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1050: Add a wrapper to stub questions (#703)
  src/widgets/question/QuestionsList/ui/PreviewQuestionsList/PreviewQuestionsList.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1051: updated user button
  src/widgets/interview/QuestionsStatistic/ui/PreviewQuestionsStatistic/PreviewQuestionsStatistic.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1044: Profile correction (#702)
  src/entities/user/ui/UserEditButton/UserEditButton.tsx
  src/shared/ui/AvatarWithoutPhoto/AvatarWithoutPhoto.module.css
  src/shared/ui/ImageLoader/ImageLoader.module.css
  src/widgets/Profile/ui/UserCard/ui/UserBlock/UserBlock.module.css
  src/widgets/Profile/ui/UserCard/ui/UserImageBlock/UserImageBlock.module.css
  src/widgets/Profile/ui/UserCard/ui/UserInfoBlock/UserInfoBlock.module.css
  src/widgets/Profile/ui/UserCard/ui/UserInfoBlock/UserInfoBlock.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1023: rename propose.label key to add.resource.link.label
  public/locales/en/marketplace.json
  public/locales/ru/marketplace.json
  src/pages/landing/PublicMarketplacePage/ui/PublicMarketplacePage.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1051: removed duplication in getQuestionsStats
  src/widgets/interview/QuestionsStatistic/model/lib/getQuestionsStats/getQuestionsStats.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1023: rename marketplace entity to resource
  src/entities/resource/api/__mock__/data/resourcesMock.ts
  src/entities/resource/index.ts
  src/entities/resource/model/types/resource.ts
  src/entities/resource/ui/ResourceCard/ResourceCard.module.css
  src/entities/resource/ui/ResourceCard/ResourceCard.tsx
  src/widgets/Marketplace/ui/MarketplaceList/MarketplaceList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1023: adapt ResourceCard to match Swagger Resource interface
  src/entities/resource/api/__mock__/data/resourcesMock.ts
  src/entities/resource/model/types/resource.ts
  src/entities/resource/ui/ResourceCard/ResourceCard.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1023: clean up ResourceCard styles by removing unnecessary overflow and background-color inherit
  src/entities/resource/ui/ResourceCard/ResourceCard.module.css
Due: npm run lint:css:fix

YH-1023: use relative import for Resource type in ResourceCard
  src/entities/resource/ui/ResourceCard/ResourceCard.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1023: use provider as link target and display in ResourceCard
  src/entities/resource/api/__mock__/data/resourcesMock.ts
  src/entities/resource/model/types/resource.ts
  src/entities/resource/ui/ResourceCard/ResourceCard.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1023: remove hostname and title CSS classes from ResourceCard
  src/entities/resource/ui/ResourceCard/ResourceCard.module.css
Due: npm run lint:css:fix

YH-1023: replace actions container with Flex and remove actions class
  src/pages/landing/PublicMarketplacePage/ui/PublicMarketplacePage.module.css
  src/pages/landing/PublicMarketplacePage/ui/PublicMarketplacePage.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1042: fix: remove keywords & rename entity to resource
  src/entities/resource/index.ts
  src/entities/resource/model/types.ts
  src/entities/resource/ui/KeywordsListSection/KeywordsListSection.tsx
  src/entities/resource/ui/ResourcesFilterSection/ResourcesFilterSection.module.css
  src/entities/resource/ui/ResourcesFilterSection/ResourcesFilterSection.tsx
  src/entities/resource/ui/StatusFilterSection/StatusFilterSection.tsx
  src/widgets/Marketplace/ui/MarketplaceFiltersPanel/MarketplaceFiltersPanel.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1023: rename MarketplaceList component and folder to ResourcesList
  src/pages/landing/PublicMarketplacePage/ui/PublicMarketplacePage.tsx
  src/widgets/Marketplace/ui/RecourcesList/ResourcesList.ts.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1023: consolidate entity imports in ResourcesList
  src/widgets/Marketplace/index.ts
  src/widgets/Marketplace/ui/RecourcesList/ResourcesList.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1051: changed gauge color, added question stats, activated user bu… (#701)
  src/shared/ui/charts/GaugeChart/GaugeChart.tsx
  src/widgets/interview/QuestionsStatistic/model/lib/getQuestionsStats/getQuestionsStats.ts
  src/widgets/interview/QuestionsStatistic/ui/PreviewQuestionsStatistic/PreviewQuestionsStatistic.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1042: create resource filters for marketplace (#693)
  public/locales/en/marketplace.json
  public/locales/ru/marketplace.json
  src/entities/resource/index.ts
  src/entities/resource/model/types.ts
  src/entities/resource/ui/KeywordsListSection/KeywordsListSection.tsx
  src/entities/resource/ui/ResourcesFilterSection/ResourcesFilterSection.module.css
  src/entities/resource/ui/ResourcesFilterSection/ResourcesFilterSection.tsx
  src/entities/resource/ui/StatusFilterSection/StatusFilterSection.tsx
  src/pages/landing/PublicMarketplacePage/ui/PublicMarketplacePage.tsx
  src/shared/config/i18n/i18n.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/hooks/useQueryFilter.ts
  src/shared/ui/Drawer/Drawer.module.css
  src/widgets/Marketplace/index.ts
  src/widgets/Marketplace/model/hooks/useMarketplaceFilters.ts
  src/widgets/Marketplace/ui/MarketplaceFiltersPanel/MarketplaceFiltersPanel.tsx
  src/widgets/Marketplace/ui/SearchBlock/SearchBlock.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1072: Redirect to verification
  src/features/subscriptions/subscribe/ui/SubscribeButton/ui/SubscribeButton.tsx
  src/widgets/Marketplace/model/hooks/useMarketplaceFilters.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1072: Changing the receipt of the value
  src/features/subscriptions/subscribe/ui/SubscribeButton/ui/SubscribeButton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1072: Redirect to verification (#704)
  src/features/subscriptions/subscribe/ui/SubscribeButton/ui/SubscribeButton.tsx
  src/widgets/Marketplace/model/hooks/useMarketplaceFilters.ts
Due: npm run prettier, npm run lint:ts:fix

YH-999: adds a skeleton for the simulator block on the landing page
  src/pages/landing/LandingPage/ui/LandingPage.skeleton.tsx
  src/widgets/Landing/InterviewTrainerBlock/index.ts
  src/widgets/Landing/InterviewTrainerBlock/ui/AdditionalBlock/AdditionalBlock.module.css
  src/widgets/Landing/InterviewTrainerBlock/ui/AdditionalBlock/AdditionalBlock.skeleton.tsx
  src/widgets/Landing/InterviewTrainerBlock/ui/InterviewCard/InterviewCard.skeleton.tsx
  src/widgets/Landing/InterviewTrainerBlock/ui/InterviewTrainerBlock/InterviewTrainerBlock.module.css
  src/widgets/Landing/InterviewTrainerBlock/ui/InterviewTrainerBlock/InterviewTrainerBlock.skeleton.tsx
  src/widgets/Landing/InterviewTrainerBlock/ui/MainBlock/MainBlock.module.css
  src/widgets/Landing/InterviewTrainerBlock/ui/MainBlock/MainBlock.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-999: fix after comments
  src/widgets/Landing/InterviewTrainerBlock/ui/AdditionalBlock/AdditionalBlock.module.css
  src/widgets/Landing/InterviewTrainerBlock/ui/AdditionalBlock/AdditionalBlock.skeleton.tsx
  src/widgets/Landing/InterviewTrainerBlock/ui/InterviewTrainerBlock/InterviewTrainerBlock.module.css
  src/widgets/Landing/InterviewTrainerBlock/ui/InterviewTrainerBlock/InterviewTrainerBlock.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix
