Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1391: Fix translations
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1476: change types and css
  src/entities/mostDifficultQuestions/api/__mocks__/data/mostDifficultQuestionsMock.ts
  src/entities/mostDifficultQuestions/model/types/difficultQuestions.ts
  src/entities/mostDifficultQuestions/ui/MostDifficultQuestions.tsx
  src/widgets/question/DifficultQuestionsList/ui/DifficultQuestionsList.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1369: edits based on comments review
  src/entities/resource/api/resourceApi.ts
  src/pages/wiki/ResourcesPage/ui/ResourcesPage.module.css
  src/pages/wiki/ResourcesPage/ui/ResourcesPage.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1399: added approve button with modal and toast
  public/locales/en/resources.json
  public/locales/en/translation.json
  public/locales/ru/resources.json
  public/locales/ru/translation.json
  src/features/resources/approveRequest/api/approveResourceRequestApi.ts
  src/features/resources/approveRequest/index.ts
  src/features/resources/approveRequest/ui/ApproveRequestModal/ApproveRequestModal.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/resources/ResourceRequestView/ui/ResourceRequestViewFormWithHeader/ResourceRequestViewFormWithHeader.module.css
  src/widgets/resources/ResourceRequestView/ui/ResourceRequestViewFormWithHeader/ResourceRequestViewFormWithHeader.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1391: Fix translations (#926)
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1394: add a request editing page
  public/locales/en/marketplace.json
  public/locales/en/translation.json
  public/locales/ru/marketplace.json
  public/locales/ru/translation.json
  src/app/providers/router/config/routeConfig.tsx
  src/entities/resource/api/resourceApi.ts
  src/entities/resource/index.ts
  src/entities/resource/ui/MyResourceCard/MyResourceCard.tsx
  src/entities/resource/ui/ResourceModerationModal/ResourceModerationModal.module.css
  src/entities/resource/ui/ResourceModerationModal/ResourceModerationModal.tsx
  src/features/resources/createResourceRequest/ui/ResourceRequestCreateForm/ResourceRequestCreateForm.tsx
  src/features/resources/editResourceRequest/api/editResourceRequestApi.ts
  src/features/resources/editResourceRequest/index.ts
  src/features/resources/editResourceRequest/model/constants/editResourceRequestConstants.ts
  src/features/resources/editResourceRequest/model/lib/validation/resourceRequestEditSchema.ts
  src/features/resources/editResourceRequest/model/types/resourceRequestEditTypes.ts
  src/features/resources/editResourceRequest/ui/ResourceRequestEditForm/ResourceRequestEditForm.tsx
  src/features/resources/editResourceRequest/ui/ResourceRequestEditFormWithHeader/ResourceRequestFormWithHeader.module.css
  src/features/resources/editResourceRequest/ui/ResourceRequestEditFormWithHeader/ResourceRequestFormWithHeader.tsx
  src/pages/wiki/RequestResourceEditPage/index.ts
  src/pages/wiki/RequestResourceEditPage/ui/RequestResourceEditPage.lazy.ts
  src/pages/wiki/RequestResourceEditPage/ui/RequestResourceEditPage.tsx
  src/shared/config/api/apiTags.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1394: fix translation
  src/features/resources/createResourceRequest/ui/ResourceRequestCreateFormWithHeader/ResourceRequestFormWithHeader.tsx
  src/features/resources/editResourceRequest/ui/ResourceRequestEditFormWithHeader/ResourceRequestFormWithHeader.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1394: fix styles and disable conditions
  src/features/resources/editResourceRequest/api/editResourceRequestApi.ts
  src/features/resources/editResourceRequest/ui/ResourceRequestEditForm/ResourceRequestEditForm.tsx
  src/features/resources/editResourceRequest/ui/ResourceRequestEditFormWithHeader/ResourceRequestFormWithHeader.module.css
  src/features/resources/editResourceRequest/ui/ResourceRequestEditFormWithHeader/ResourceRequestFormWithHeader.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1377: add RTK query hook to fetch count of pending requests, add count parameter to label in Tabs component
  src/entities/resource/api/resourceApi.ts
  src/pages/admin/ResourcesPage/model/hooks/useGetResourcesPageTabs.tsx
  src/pages/admin/ResourcesPage/model/hooks/useGetResourcesRequestsTotal.tsx
  src/shared/ui/Tabs/Tabs.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1417: added a filter by author
  public/locales/en/user.json
  public/locales/ru/user.json
  src/entities/specialization/model/types/specialization.ts
  src/entities/user/index.ts
  src/entities/user/ui/ChooseAuthor/ChooseAuthor.tsx
  src/features/specialization/specializationFilterSet/hooks/useSpecializationFilter.ts
  src/features/specialization/specializationFilterSet/index.ts
  src/features/specialization/specializationFilterSet/ui/SpecializationFilterSet.tsx
  src/pages/admin/SpecializationsPage/ui/SpecializationsPage/SpecializationsPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/IconButton/IconButton.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1393: add status, make components flexible for different pages
  src/app/providers/router/config/routeConfig.tsx
  src/entities/skill/ui/SkillList/SkillList.tsx
  src/pages/admin/ResourcePage/ui/ResourcePage.tsx
  src/pages/wiki/RequestInfoPage/index.ts
  src/pages/wiki/RequestInfoPage/ui/RequestInfoPage.module.css
  src/pages/wiki/RequestInfoPage/ui/RequestInfoPage.tsx
  src/pages/wiki/RequestInfoPage/ui/ResourceInfoPage.tsx
  src/widgets/resources/ResourceAdditionalInfo/ui/ResourceAdditionalInfo.tsx
  src/widgets/resources/ResourceAdditionalInfoDrawer/ui/ResourceAdditionalInfoDrawer.tsx
  src/widgets/resources/ResourceBody/ui/ResourceBody.tsx
  src/widgets/resources/ResourceHeader/ui/ResourceHeader.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1393: adapt paddings for tab and mobile
  src/pages/wiki/RequestInfoPage/ui/RequestInfoPage.module.css
Due: npm run lint:css:fix

YH-1421: added email field for subscription
  public/locales/en/subscriptionCard.json
  public/locales/ru/subscriptionCard.json
  src/features/subscriptions/subscribe/model/types/subscriptionAgreeTypes.ts
  src/features/subscriptions/subscribe/model/validation/subscriptionAgreeSchema.ts
  src/features/subscriptions/subscribe/ui/AgreementForm/AgreementForm.module.css
  src/features/subscriptions/subscribe/ui/AgreementForm/AgreementForm.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1395: Fixed Comments
  public/locales/en/resources.json
  public/locales/ru/resources.json
  src/features/requests/deleteApplication/api/deleteMyResorceRequestApi.ts
  src/features/requests/deleteApplication/index.ts
  src/features/requests/deleteApplication/model/constants/DeleteRequestApiUrls.ts
  src/features/requests/deleteApplication/ui/DeleteMyResourceRequestButton/DeleteMyResourceRequestButton.module.css
  src/features/requests/deleteApplication/ui/DeleteMyResourceRequestButton/DeleteMyResourceRequestButton.tsx
  src/features/requests/deleteApplication/ui/DeleteRequest/DeleteRequest.tsx
  src/pages/wiki/MyResourcesPage/ui/MyResourcesPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/ConfirmationDeleteModal/ConfiramationDeleteModal.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1394: add new moderation modal and fix styles
  public/locales/en/resources.json
  public/locales/ru/resources.json
  src/entities/resource/index.ts
  src/features/resources/createResourceRequest/ui/ResourceModerationModal/ResourceModerationModal.module.css
  src/features/resources/createResourceRequest/ui/ResourceModerationModal/ResourceModerationModal.tsx
  src/features/resources/createResourceRequest/ui/ResourceRequestCreateForm/ResourceRequestCreateForm.tsx
  src/features/resources/createResourceRequest/ui/ResourceRequestCreateFormWithHeader/ResourceRequestFormWithHeader.module.css
  src/features/resources/createResourceRequest/ui/ResourceRequestCreateFormWithHeader/ResourceRequestFormWithHeader.tsx
  src/features/resources/editResourceRequest/ui/ResourceEditedModerationModal/ResourceEditedModerationModal.module.css
  src/features/resources/editResourceRequest/ui/ResourceEditedModerationModal/ResourceEditedModerationModal.tsx
  src/features/resources/editResourceRequest/ui/ResourceRequestEditForm/ResourceRequestEditForm.tsx
  src/features/resources/editResourceRequest/ui/ResourceRequestEditFormWithHeader/ResourceRequestFormWithHeader.module.css
  src/features/resources/editResourceRequest/ui/ResourceRequestEditFormWithHeader/ResourceRequestFormWithHeader.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1398: added reject button for resource request with modal and toast
  public/locales/en/resources.json
  public/locales/en/translation.json
  public/locales/ru/resources.json
  public/locales/ru/translation.json
  src/features/resources/rejectResourceRequest/api/rejectResourceRequestApi.ts
  src/features/resources/rejectResourceRequest/index.ts
  src/features/resources/rejectResourceRequest/model/constants/rejectResourceRequestConstants.ts
  src/features/resources/rejectResourceRequest/ui/RejectResourceRequestButton/RejectResourceRequestButton.tsx
  src/features/resources/rejectResourceRequest/ui/RejectResourceRequestModal/RejectResourceRequestModal.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/resources/ResourceRequestView/ui/ResourceRequestViewForm/ResourceRequestViewForm.tsx
  src/widgets/resources/ResourceRequestView/ui/ResourceRequestViewFormWithHeader/ResourceRequestViewFormWithHeader.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1398: added translations
  public/locales/en/translation.json
  public/locales/ru/resources.json
  public/locales/ru/translation.json
Due: none

YH-1388: fix types for api
  src/entities/skill/api/__mocks__/data/skillsMock.ts
  src/entities/skill/api/__mocks__/skillListPopularMock.ts
  src/entities/skill/api/skillApi.ts
  src/entities/skill/model/types/skill.ts
  src/shared/ui/GraphProgressBar/ui/GraphProgressBar.module.css
  src/shared/ui/GraphProgressBar/ui/GraphProgressBar.tsx
  src/widgets/analytics/PopularSkills/ui/PopularSkills/PopularSkills.module.css
  src/widgets/analytics/PopularSkills/ui/ProgressBarItem/ProgressBarItem.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1388: change api url
  src/entities/skill/model/constants/skillConstants.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1394: moved moderation modal to shared and reused it
  src/features/resources/createResourceRequest/ui/ResourceModerationModal/ResourceModerationModal.tsx
  src/features/resources/editResourceRequest/ui/ResourceEditedModerationModal/ResourceEditedModerationModal.module.css
  src/features/resources/editResourceRequest/ui/ResourceEditedModerationModal/ResourceEditedModerationModal.tsx
  src/shared/ui/NotificationModal/NotificationModal.module.css
  src/shared/ui/NotificationModal/NotificationModal.tsx
  src/shared/ui/NotificationModal/index.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1394: fix translation
  public/locales/en/resources.json
Due: none

YH-1389: add resource edit restrictions for author role (#910)
  src/features/resources/deleteResource/ui/DeleteResourceButton/DeleteResourceButton.tsx
  src/pages/admin/CollectionsPage/ui/CollectionsPage/CollectionsPage.tsx
  src/pages/admin/QuestionsTablePage/ui/QuestionsTablePage/QuestionsTablePage.tsx
  src/pages/admin/ResourcesPage/ui/tabs/ResourcesAllTab/ResourcesAllTab/ResourcesAllTab.tsx
  src/widgets/resources/ResourcesTable/ui/ResourcesTable.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1404: added a tooltip for companies (#911)
  public/locales/ru/translation.json
  src/features/company/deleteCompany/ui/DeleteCompanyButton/DeleteCompanyButton.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/CompaniesTable/ui/CompaniesTable.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1377: add label with total count of request in 'Requests' tab (#921)
  src/entities/resource/api/resourceApi.ts
  src/pages/admin/ResourcesPage/model/hooks/useGetResourcesPageTabs.tsx
  src/shared/ui/Tabs/Tabs.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1418: Added the SkillFilter component
  src/features/skill/skillFilter/index.ts
  src/features/skill/skillFilter/ui/SkillFilter.tsx
  src/pages/admin/SkillsPage/ui/SkillsPage/SkillsPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1376: add some FSD and naming changes
  src/app/msw/handlers.ts
  src/entities/mostDifficultQuestions/api/__mocks__/data/mostDifficultQuestionsMock.ts
  src/entities/mostDifficultQuestions/index.ts
  src/entities/mostDifficultQuestions/ui/MostDifficultQuestions.tsx
  src/entities/question/mostDifficultQuestions/api/__mocks__/data/index.ts
  src/entities/question/mostDifficultQuestions/api/__mocks__/data/mostDifficultQuestionsMock.ts
  src/entities/question/mostDifficultQuestions/api/__mocks__/index.ts
  src/entities/question/mostDifficultQuestions/api/__mocks__/mostDifficultQuestions.ts
  src/entities/question/mostDifficultQuestions/api/mostDifficultQuestionsApi.ts
  src/entities/question/mostDifficultQuestions/index.ts
  src/entities/question/mostDifficultQuestions/model/constants/difficultQuestions.ts
  src/entities/question/mostDifficultQuestions/model/types/difficultQuestions.ts
  src/entities/question/mostDifficultQuestions/ui/MostDifficultQuestion/MostDifficultQuestion.module.css
  src/entities/question/mostDifficultQuestions/ui/MostDifficultQuestion/MostDifficultQuestion.tsx
  src/entities/question/mostDifficultQuestions/ui/MostDifficultQuestions/MostDifficultQuestions.tsx
  src/pages/analytics/AnalyticsPage/ui/AnalyticsPage.tsx
  src/shared/ui/ProgressBar/ProgressBar.module.css
  src/shared/ui/ProgressBar/ProgressBar.tsx
  src/widgets/analytics/DifficultQuestionsList/index.ts
  src/widgets/analytics/DifficultQuestionsList/ui/DifficultQuestionsList.module.css
  src/widgets/analytics/DifficultQuestionsList/ui/DifficultQuestionsList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1429: Added a pre-switch to the QuestionsFilterSet component
  public/locales/ru/questions.json
  src/entities/question/index.ts
  src/entities/question/ui/QuestionAuthorFilter/QuestionAuthorFilter.module.css
  src/entities/question/ui/QuestionAuthorFilter/QuestionAuthorFilter.tsx
  src/features/question/questionsFilterSet/ui/QuestionsFilterSet.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/hooks/useQueryFilter.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1376: add translation and change progressBar color logic
  public/locales/en/questions.json
  public/locales/ru/questions.json
  src/entities/question/mostDifficultQuestions/api/__mocks__/data/mostDifficultQuestionsMock.ts
  src/entities/question/mostDifficultQuestions/index.ts
  src/entities/question/mostDifficultQuestions/ui/MostDifficultQuestion/MostDifficultQuestion.module.css
  src/entities/question/mostDifficultQuestions/ui/MostDifficultQuestion/MostDifficultQuestion.tsx
  src/entities/question/mostDifficultQuestions/ui/MostDifficultQuestions/MostDifficultQuestions.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/analytics/DifficultQuestionsList/ui/DifficultQuestionsList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1430: added reset filters button for users table
  src/features/user/resetUsers/index.ts
  src/features/user/resetUsers/ui/ResetFiltersButton.tsx
  src/pages/admin/UserTablePage/ui/UserTablePage/UsersTablePage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1376: destructure mostDifficultQuestion folder into questions folder in Entity
  src/app/msw/handlers.ts
  src/entities/question/api/__mocks__/data/index.ts
  src/entities/question/api/__mocks__/data/mostDifficultQuestionsMock.ts
  src/entities/question/api/__mocks__/index.ts
  src/entities/question/api/__mocks__/mostDifficultQuestions.ts
  src/entities/question/api/mostDifficultQuestionsApi.ts
  src/entities/question/index.ts
  src/entities/question/model/constants/difficultQuestions.ts
  src/entities/question/model/types/difficultQuestions.ts
  src/entities/question/mostDifficultQuestions/api/__mocks__/data/index.ts
  src/entities/question/mostDifficultQuestions/api/__mocks__/index.ts
  src/entities/question/mostDifficultQuestions/index.ts
  src/entities/question/ui/MostDifficultQuestion/MostDifficultQuestion.module.css
  src/entities/question/ui/MostDifficultQuestion/MostDifficultQuestion.tsx
  src/entities/question/ui/MostDifficultQuestions/MostDifficultQuestions.tsx
  src/widgets/analytics/DifficultQuestionsList/ui/DifficultQuestionsList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1430: updated reset button functionality conditions
  src/features/user/resetUsers/ui/ResetFiltersButton.tsx
  src/pages/admin/UserTablePage/ui/UserTablePage/UsersTablePage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1417: added a filter by author review
  public/locales/en/user.json
  public/locales/ru/user.json
  src/entities/user/index.ts
  src/entities/user/ui/ChooseAuthor/ChooseAuthor.tsx
  src/entities/user/ui/UserSelect/UserSelect.skeleton.tsx
  src/entities/user/ui/UserSelect/UserSelect.tsx
  src/features/specialization/specializationFilterSet/ui/SpecializationFilterSet.tsx
  src/pages/admin/SpecializationsPage/ui/SpecializationsPage/SpecializationsPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/specializationFilterSet/hooks/useSpecializationFilter.ts
  src/widgets/specializationFilterSet/index.ts
  src/widgets/specializationFilterSet/ui/SpecializationFilterSet.module.css
  src/widgets/specializationFilterSet/ui/SpecializationFilterSet.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1376: remove extra files and cancele mosk request
  config/webpack/webpackDevServer.ts
  src/app/index.tsx
  src/entities/question/api/__mocks__/data/index.ts
  src/entities/question/api/__mocks__/data/mostDifficultQuestionsMock.ts
  src/entities/question/api/__mocks__/data/questionsMock.ts
  src/entities/question/api/__mocks__/index.ts
  src/entities/question/api/__mocks__/mostDifficultQuestions.ts
  src/entities/question/api/__mocks__/questionListMock.ts
  src/entities/question/api/mostDifficultQuestionsApi.ts
  src/entities/question/api/questionApi.ts
  src/entities/question/index.ts
  src/entities/question/model/constants/difficultQuestions.ts
  src/entities/question/model/constants/question.ts
  src/entities/question/model/types/difficultQuestions.ts
  src/entities/question/model/types/question.ts
  src/entities/question/ui/MostDifficultQuestion/MostDifficultQuestion.tsx
  src/entities/question/ui/MostDifficultQuestions/MostDifficultQuestions.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1376: mix questions before displaying
  src/entities/question/ui/MostDifficultQuestions/MostDifficultQuestions.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1379: writing unit tests for a component with a choice of specializations
  src/entities/specialization/ui/SpecializationSelect/SpecializationSelect.test.tsx
  src/entities/specialization/ui/SpecializationSelect/SpecializationSelect.tsx
  src/shared/ui/Dropdown/Dropdown/Dropdown.tsx
  src/shared/ui/Dropdown/Select/Select.tsx
  src/shared/ui/SelectWithChips/SelectWithChips.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1433: added stub for zero resources requests
  public/locales/en/marketplace.json
  public/locales/ru/marketplace.json
  src/pages/wiki/MyResourcesPage/ui/MyResourcesPage.module.css
  src/pages/wiki/MyResourcesPage/ui/MyResourcesPage.tsx
  src/shared/assets/images/SearchPage.png
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/Marketplace/index.ts
  src/widgets/Marketplace/ui/NoRequestsCard/NoRequestsCard.module.css
  src/widgets/Marketplace/ui/NoRequestsCard/NoRequestsCard.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1399: split into components
  public/locales/en/resources.json
  public/locales/ru/resources.json
  src/features/resources/approveRequest/api/approveResourceRequestApi.ts
  src/features/resources/approveRequest/model/constants/approveResourceConstants.ts
  src/features/resources/approveRequest/ui/ApproveRequestButton/ApproveRequestButton.module.css
  src/features/resources/approveRequest/ui/ApproveRequestButton/ApproveRequestButton.tsx
  src/widgets/resources/ResourceRequestView/ui/ResourceRequestViewFormWithHeader/ResourceRequestViewFormWithHeader.module.css
  src/widgets/resources/ResourceRequestView/ui/ResourceRequestViewFormWithHeader/ResourceRequestViewFormWithHeader.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1431: added empty state for Users Table with reset filters button
  src/features/user/UsersFilterSet/hooks/useUserFilter.ts
  src/pages/admin/UserTablePage/ui/UserTablePage/UsersTablePage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1369: added number of applications with the "Under consideration… (#919)
  src/entities/resource/api/resourceApi.ts
  src/pages/wiki/ResourcesPage/ui/ResourcesPage.module.css
  src/pages/wiki/ResourcesPage/ui/ResourcesPage.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

Path conditions:
  npm run prettier: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:ts:fix: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:css:fix: any of: *.css
