Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-950: Fix collections list (#608)
  src/pages/interview/CollectionsPage/ui/CollectionsPage/CollectionsPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-948: change color in chart
  src/shared/ui/charts/GaugeChart/GaugeChart.tsx
  src/shared/ui/charts/PieChart/PieSegmentList/PieSegmentList.tsx
  src/widgets/interview/QuizzesStatistic/model/getQuizQuestionsInfo.ts
  src/widgets/interview/QuizzesStatistic/ui/QuizzesStatistic/QuizzesStatistic.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-958: increase collection questions limit
  src/entities/collection/api/collectionApi.ts
  src/entities/question/ui/ChooseQuestionsDrawer/ChooseQuestionsDrawer.tsx
  src/pages/admin/CollectionPage/ui/CollectionPage.tsx
  src/pages/interview/CollectionPage/ui/CollectionPage.tsx
  src/shared/constants/queryConstants.ts
Due: npm run prettier, npm run lint:ts:fix

YH-958: Use questionsCount as limit collection questions
  src/entities/collection/api/collectionApi.ts
  src/entities/collection/model/types/collection.ts
  src/entities/collection/ui/CollectionForm/CollectionForm.tsx
  src/features/collections/editCollection/ui/CollectionEditForm/CollectionEditForm.tsx
  src/pages/admin/CollectionPage/ui/CollectionPage.tsx
  src/pages/interview/CollectionPage/ui/CollectionPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-958: Change selection questions count
  src/shared/constants/queryConstants.ts
Due: npm run prettier, npm run lint:ts:fix

YH-958: increase collection questions limit (#611)
  src/entities/collection/api/collectionApi.ts
  src/entities/collection/model/types/collection.ts
  src/entities/collection/ui/CollectionForm/CollectionForm.tsx
  src/entities/question/ui/ChooseQuestionsDrawer/ChooseQuestionsDrawer.tsx
  src/features/collections/editCollection/ui/CollectionEditForm/CollectionEditForm.tsx
  src/pages/admin/CollectionPage/ui/CollectionPage.tsx
  src/pages/interview/CollectionPage/ui/CollectionPage.tsx
  src/shared/constants/queryConstants.ts
Due: npm run prettier, npm run lint:ts:fix

Release 1.0.13
  RELEASE_NOTES.md
  package-lock.json
  package.json
Due: none

YH-920: added History block for landing
  public/locales/en/landing.json
  public/locales/ru/landing.json
  src/app/styles/variables/pallete.css
  src/pages/landing/NewLandingPage/ui/NewLandingPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/NewLanding/HistoryBlock/index.ts
  src/widgets/NewLanding/HistoryBlock/model/assets/progressBarChart.avif
  src/widgets/NewLanding/HistoryBlock/model/assets/progressCircle.avif
  src/widgets/NewLanding/HistoryBlock/model/assets/progressCircleMobile.avif
  src/widgets/NewLanding/HistoryBlock/model/assets/progressDesc.avif
  src/widgets/NewLanding/HistoryBlock/model/assets/sealCheckPointer.avif
  src/widgets/NewLanding/HistoryBlock/model/constants/index.ts
  src/widgets/NewLanding/HistoryBlock/ui/HistoryBlock/HistoryBlock.module.css
  src/widgets/NewLanding/HistoryBlock/ui/HistoryBlock/HistoryBlock.tsx
  src/widgets/NewLanding/HistoryBlock/ui/HistorySlide/HistorySlide.module.css
  src/widgets/NewLanding/HistoryBlock/ui/HistorySlide/HistorySlide.tsx
  src/widgets/NewLanding/HistoryBlock/ui/HistorySliderBlock/HistorySliderBlock.module.css
  src/widgets/NewLanding/HistoryBlock/ui/HistorySliderBlock/HistorySliderBlock.tsx
  src/widgets/NewLanding/HistoryBlock/ui/HistoryTextBlock/HistoryTextBlock.module.css
  src/widgets/NewLanding/HistoryBlock/ui/HistoryTextBlock/HistoryTextBlock.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-877: Add tests for Timer
  src/shared/ui/Timer/Timer.test.tsx
  src/shared/ui/Timer/Timer.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-962: create text editor
  package.json
  src/app/msw/browser.ts
  src/app/styles/variables/font-familys.css
  src/entities/question/ui/QuestionForm/QuestionForm.tsx
  src/features/profile/editProfileForm/ui/EditProfileForm/EditProfileForm.module.css
  src/shared/ui/TextEditor/BubbleMenu.tsx
  src/shared/ui/TextEditor/TextEditor.module.css
  src/shared/ui/TextEditor/TextEditor.stories.tsx
  src/shared/ui/TextEditor/TextEditor.tsx
  src/shared/ui/TextEditor/createCopyButton.ts
  src/shared/ui/TextEditor/index.ts
  src/shared/ui/TextEditor/registerHighlightLanguages.ts
  src/shared/ui/TextEditor/types.ts
  src/shared/ui/TextHtml/TextHtml.module.css
  src/shared/ui/TextHtml/TextHtml.stories.tsx
  src/shared/ui/TextHtml/TextHtml.test.tsx
  src/shared/ui/TextHtml/TextHtml.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-918: Create Collections block for new Landing
  public/locales/en/landing.json
  public/locales/ru/landing.json
  src/app/providers/router/config/routeConfig.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/Landing/CollectionBlock/index.ts
  src/widgets/Landing/CollectionBlock/model/assets/miniatures/avito.avif
  src/widgets/Landing/CollectionBlock/model/assets/miniatures/index.ts
  src/widgets/Landing/CollectionBlock/model/assets/miniatures/ozon.avif
  src/widgets/Landing/CollectionBlock/model/assets/miniatures/sber.avif
  src/widgets/Landing/CollectionBlock/model/assets/miniatures/tbank.avif
  src/widgets/Landing/CollectionBlock/model/assets/miniatures/vk.avif
  src/widgets/Landing/CollectionBlock/model/assets/miniatures/wb.avif
  src/widgets/Landing/CollectionBlock/model/assets/miniatures/yandex.avif
  src/widgets/Landing/CollectionBlock/model/assets/sber.avif
  src/widgets/Landing/CollectionBlock/model/assets/stars-outline.svg
  src/widgets/Landing/CollectionBlock/model/assets/tbank.avif
  src/widgets/Landing/CollectionBlock/model/assets/vk.avif
  src/widgets/Landing/CollectionBlock/model/constants/index.ts
  src/widgets/Landing/CollectionBlock/ui/AdditionalBlock/AdditionalBlock.module.css
  src/widgets/Landing/CollectionBlock/ui/AdditionalBlock/AdditionalBlock.tsx
  src/widgets/Landing/CollectionBlock/ui/CollectionBlock/CollectionBlock.module.css
  src/widgets/Landing/CollectionBlock/ui/CollectionBlock/CollectionBlock.tsx
  src/widgets/Landing/CollectionBlock/ui/CollectionCard/CollectionCard.module.css
  src/widgets/Landing/CollectionBlock/ui/CollectionCard/CollectionCard.tsx
  src/widgets/Landing/CollectionBlock/ui/FilterChip/FilterChip.module.css
  src/widgets/Landing/CollectionBlock/ui/FilterChip/FilterChip.tsx
  src/widgets/Landing/CollectionBlock/ui/FiltersBlock/FiltersBlock.module.css
  src/widgets/Landing/CollectionBlock/ui/FiltersBlock/FiltersBlock.tsx
  src/widgets/Landing/CollectionBlock/ui/MainBlock/MainBlock.module.css
  src/widgets/Landing/CollectionBlock/ui/MainBlock/MainBlock.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-952: Change popover to drawer in Collection
  src/pages/interview/CollectionPage/ui/CollectionPage.module.css
  src/pages/interview/CollectionPage/ui/CollectionPage.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-964: Fix collection training questions limit
  src/features/collections/trainCollection/ui/TrainCollectionButton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-947: fix NAN value in chart
  src/shared/ui/charts/GaugeChart/GaugeChart.module.css
  src/shared/ui/charts/GaugeChart/GaugeChart.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-946: Fix size of MainPage blocks in unverified profile
  src/pages/interview/MainPage/ui/MainPage.module.css
Due: npm run lint:css:fix

YH-946: Fix size of MainPage blocks in unverified profile (#623)
  src/pages/interview/MainPage/ui/MainPage.module.css
Due: npm run lint:css:fix

YH-947: fix NAN value in chart (#622)
  src/shared/ui/charts/GaugeChart/GaugeChart.module.css
  src/shared/ui/charts/GaugeChart/GaugeChart.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-964: Fix collection training questions limit (#621)
  src/features/collections/trainCollection/ui/TrainCollectionButton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-948: change color in chart (#610)
  src/shared/ui/charts/GaugeChart/GaugeChart.tsx
  src/shared/ui/charts/PieChart/PieSegmentList/PieSegmentList.tsx
  src/widgets/interview/QuizzesStatistic/model/getQuizQuestionsInfo.ts
  src/widgets/interview/QuizzesStatistic/ui/QuizzesStatistic/QuizzesStatistic.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-916: fix comms
  public/locales/en/landing.json
  public/locales/ru/landing.json
  src/pages/landing/NewLandingPage/ui/NewLandingPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/NewLanding/SpecialityBlock/index.ts
  src/widgets/NewLanding/SpecialityBlock/model/assets/Android Dev.avif
  src/widgets/NewLanding/SpecialityBlock/model/assets/Android Dev.png
  src/widgets/NewLanding/SpecialityBlock/model/assets/Backend.avif
  src/widgets/NewLanding/SpecialityBlock/model/assets/Backend.png
  src/widgets/NewLanding/SpecialityBlock/model/assets/Data Science.avif
  src/widgets/NewLanding/SpecialityBlock/model/assets/Data Science.png
  src/widgets/NewLanding/SpecialityBlock/model/assets/Frontend.avif
  src/widgets/NewLanding/SpecialityBlock/model/assets/Frontend.png
  src/widgets/NewLanding/SpecialityBlock/model/assets/Game Dev.avif
  src/widgets/NewLanding/SpecialityBlock/model/assets/Game Dev.png
  src/widgets/NewLanding/SpecialityBlock/model/assets/Machine Learning.avif
  src/widgets/NewLanding/SpecialityBlock/model/assets/Machine Learning.png
  src/widgets/NewLanding/SpecialityBlock/model/assets/Testing.avif
  src/widgets/NewLanding/SpecialityBlock/model/assets/Testing.png
  src/widgets/NewLanding/SpecialityBlock/model/assets/iOS Dev.avif
  src/widgets/NewLanding/SpecialityBlock/model/assets/iOS Dev.png
  src/widgets/NewLanding/SpecialityBlock/ui/SpecializationBlock/SpecializationBlock.module.css
  src/widgets/NewLanding/SpecialityBlock/ui/SpecializationBlock/SpecializationBlock.tsx
  src/widgets/NewLanding/SpecialityBlock/ui/SpecializationBlock/mockSpecialization.ts
  src/widgets/NewLanding/SpecialityBlock/ui/SpecializationCard/SpecializationCard.module.css
  src/widgets/NewLanding/SpecialityBlock/ui/SpecializationCard/SpecializationCard.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-965: Remove show label from quiz creating
  src/entities/question/ui/ChooseQuestionsCategories/ChooseQuestionsCategories.tsx
  src/pages/interview/CreateQuizPage/ui/CreateQuizPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-952: Change popover to drawer in Collection (#619)
  src/pages/interview/CollectionPage/ui/CollectionPage.module.css
  src/pages/interview/CollectionPage/ui/CollectionPage.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-916: add new block to landing (#605)
  public/locales/en/landing.json
  public/locales/ru/landing.json
  src/pages/landing/NewLandingPage/ui/NewLandingPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/NewLanding/SpecialityBlock/index.ts
  src/widgets/NewLanding/SpecialityBlock/model/assets/Android Dev.avif
  src/widgets/NewLanding/SpecialityBlock/model/assets/Backend.avif
  src/widgets/NewLanding/SpecialityBlock/model/assets/Data Science.avif
  src/widgets/NewLanding/SpecialityBlock/model/assets/Frontend.avif
  src/widgets/NewLanding/SpecialityBlock/model/assets/Game Dev.avif
  src/widgets/NewLanding/SpecialityBlock/model/assets/Machine Learning.avif
  src/widgets/NewLanding/SpecialityBlock/model/assets/Testing.avif
  src/widgets/NewLanding/SpecialityBlock/model/assets/iOS Dev.avif
  src/widgets/NewLanding/SpecialityBlock/ui/SpecializationBlock/SpecializationBlock.module.css
  src/widgets/NewLanding/SpecialityBlock/ui/SpecializationBlock/SpecializationBlock.tsx
  src/widgets/NewLanding/SpecialityBlock/ui/SpecializationBlock/mockSpecialization.ts
  src/widgets/NewLanding/SpecialityBlock/ui/SpecializationCard/SpecializationCard.module.css
  src/widgets/NewLanding/SpecialityBlock/ui/SpecializationCard/SpecializationCard.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-965: Remove show label from quiz creating (#624)
  src/entities/question/ui/ChooseQuestionsCategories/ChooseQuestionsCategories.tsx
  src/pages/interview/CreateQuizPage/ui/CreateQuizPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-916: fix
  public/locales/en/landing.json
  public/locales/ru/landing.json
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/NewLanding/SpecialityBlock/ui/SpecializationBlock/SpecializationBlock.tsx
  src/widgets/NewLanding/SpecialityBlock/ui/SpecializationBlock/mockSpecialization.ts
  src/widgets/NewLanding/SpecialityBlock/ui/SpecializationCard/SpecializationCard.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-919: fixed locales files
  public/locales/en/landing.json
  public/locales/ru/landing.json
Due: none

Feature/yh 916 (#625)
  public/locales/en/landing.json
  public/locales/ru/landing.json
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/NewLanding/SpecialityBlock/ui/SpecializationBlock/SpecializationBlock.tsx
  src/widgets/NewLanding/SpecialityBlock/ui/SpecializationBlock/mockSpecialization.ts
  src/widgets/NewLanding/SpecialityBlock/ui/SpecializationCard/SpecializationCard.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-953: add icon and styles to empty questions for CollectionBody component
  src/shared/assets/icons/clockSquare.svg
  src/widgets/Collection/ui/CollectionBody/CollectionBody.module.css
  src/widgets/Collection/ui/CollectionBody/CollectionBody.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-951: add table skeleton, fix /admin/user route (#609)
  src/app/layouts/MainLayout/model/helper/SkeletonGenerator.tsx
  src/pages/admin/CollectionsPage/index.ts
  src/pages/admin/CollectionsPage/ui/CollectionsPage/CollectionsPage.skeleton.tsx
  src/pages/admin/CompaniesTablePage/index.ts
  src/pages/admin/CompaniesTablePage/ui/CompaniesTablePage/CompaniesTablePage.skeleton.tsx
  src/pages/admin/QuestionsTablePage/index.ts
  src/pages/admin/QuestionsTablePage/ui/QuestionsTablePage/QuestionsTablePage.skeleton.tsx
  src/pages/admin/SkillsPage/index.ts
  src/pages/admin/SkillsPage/ui/SkillsPage/SkillsPage.skeleton.tsx
  src/pages/admin/SpecializationsPage/index.ts
  src/pages/admin/SpecializationsPage/ui/SpecializationsPage/SpecializationsPage.skeleton.tsx
  src/pages/admin/UserTablePage/index.ts
  src/pages/admin/UserTablePage/ui/UserTablePage/UsersTablePage.skeleton.tsx
  src/shared/config/router/routes.ts
  src/shared/ui/Checkbox/Checkbox.skeleton.tsx
  src/shared/ui/Checkbox/index.ts
  src/shared/ui/Table/Table.skeleton.tsx
  src/shared/ui/Table/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-978: fixed delete button styles in admin panel
  src/features/collections/deleteCollection/ui/deleteCollectionButton/DeleteCollectionButton.tsx
  src/features/company/deleteCompany/ui/DeleteCompanyButton/DeleteCompanyButton.tsx
  src/features/question/deleteQuestion/ui/DeleteQuestionButton/DeleteQuestionButton.tsx
  src/features/skill/deleteSkill/ui/DeleteSkillButton/DeleteSkillButton.tsx
  src/features/specialization/deleteSpecialization/ui/DeleteSpecializationButton/DeleteSpecializationButton.tsx
  src/shared/ui/Popover/PopoverMenu/PopoverMenu.tsx
  src/shared/ui/Popover/types.ts
  src/widgets/CollectionsTable/ui/CollectionsTable.tsx
  src/widgets/CompaniesTable/ui/CompaniesTable.tsx
  src/widgets/QuestionsTable/ui/QuestionsTable.tsx
  src/widgets/SkillsTable/ui/SkillsTable.tsx
  src/widgets/SpecializationsTable/ui/SpecializationsTable.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-973: fix translate and form input
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/features/collections/createCollection/ui/CollectionCreateForm/CollectionCreateForm.tsx
  src/features/company/createCompany/ui/CompanyCreateForm/CompanyCreateForm.tsx
  src/features/question/createQuestion/ui/QuestionCreateForm/QuestionCreateForm.tsx
  src/features/skill/createSkill/ui/SkillCreateForm/SkillCreateForm.tsx
  src/features/specialization/createSpecialization/ui/SpecializationCreateForm/SpecializationCreateForm.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/hooks/index.ts
  src/shared/hooks/useIsFormNonEmpty.ts
  src/shared/ui/LeavingPageBlocker/LeavingPageBlocker.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-976: fixed FiltersDrawer.tsx state and button's cursor style
  src/shared/ui/FiltersDrawer/FiltersDrawer.module.css
  src/shared/ui/FiltersDrawer/FiltersDrawer.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-968: deleteв errors characters
  src/shared/ui/charts/GaugeChart/GaugeChart.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-920: fixed comments
  public/locales/en/landing.json
  public/locales/ru/landing.json
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/NewLanding/HistoryBlock/model/assets/progressCircleMobile.avif
  src/widgets/NewLanding/HistoryBlock/model/constants/index.ts
  src/widgets/NewLanding/HistoryBlock/ui/HistoryBlock/HistoryBlock.module.css
  src/widgets/NewLanding/HistoryBlock/ui/HistorySlide/HistorySlide.module.css
  src/widgets/NewLanding/HistoryBlock/ui/HistorySlide/HistorySlide.tsx
  src/widgets/NewLanding/HistoryBlock/ui/HistorySliderBlock/HistorySliderBlock.module.css
  src/widgets/NewLanding/HistoryBlock/ui/HistorySliderBlock/HistorySliderBlock.tsx
  src/widgets/NewLanding/HistoryBlock/ui/HistoryTextBlock/HistoryTextBlock.module.css
  src/widgets/NewLanding/HistoryBlock/ui/HistoryTextBlock/HistoryTextBlock.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-962: update text editor
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/features/profile/editProfileForm/ui/EditProfileForm/EditProfileForm.module.css
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/libs/utils/determineLanguage/determineLanguage.ts
  src/shared/libs/utils/determineLanguage/index.ts
  src/shared/ui/TextEditor/components/BubbleMenu.tsx
  src/shared/ui/TextEditor/index.ts
  src/shared/ui/TextEditor/model/types.ts
  src/shared/ui/TextEditor/ui/BubbleMenu/BubbleMenu.module.css
  src/shared/ui/TextEditor/ui/BubbleMenu/BubbleMenu.tsx
  src/shared/ui/TextEditor/ui/TextEditor.module.css
  src/shared/ui/TextEditor/ui/TextEditor.stories.tsx
  src/shared/ui/TextEditor/ui/TextEditor.tsx
  src/shared/ui/TextEditor/ui/TextEditor/TextEditor.module.css
  src/shared/ui/TextEditor/ui/TextEditor/TextEditor.stories.tsx
  src/shared/ui/TextEditor/ui/TextEditor/TextEditor.tsx
  src/shared/ui/TextEditor/utils/createCodeBlockNodeView.ts
  src/shared/ui/TextEditor/utils/createCopyButton.ts
  src/shared/ui/TextEditor/utils/registerHighlightLanguages.ts
  src/shared/ui/TextHtml/TextHtml.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-953: add icon and styles to empty questions for CollectionBody component (#626)
  src/shared/assets/icons/clockSquare.svg
  src/widgets/Collection/ui/CollectionBody/CollectionBody.module.css
  src/widgets/Collection/ui/CollectionBody/CollectionBody.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

Path conditions:
  npm run prettier: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:ts:fix: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:css:fix: any of: *.css
