Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

.lintstagedrc:

{
  "./**/*.{ts,tsx,js,jsx}": ["npm run prettier", "npm run lint:ts:fix"],
  "*.css": "npm run lint:css:fix"
}

YH-424: admin QuestionDetailPage implementation (#193)
  src/app/providers/router/config/routeConfig.tsx
  src/pages/interview/QuestionPage/ui/QuestionPage.module.css
  src/pages/interview/QuestionPage/ui/QuestionPage.tsx
  src/shared/config/router/routes.ts
  src/widgets/QuestionsTable/ui/QuestionsTable.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

Update InterviewQuizPage.tsx
  src/pages/interview/InterviewQuizPage/ui/InterviewQuizPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-461: fix query params, block margin, link style
  src/pages/interview/QuestionPage/ui/QuestionPage.module.css
  src/widgets/Question/ui/AdditionalInfo/AdditionalInfo.tsx
  src/widgets/Question/ui/QuestionActions/QuestionActions.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-412: Fixed interview page widgets layout
  src/pages/interview/InterviewPage/ui/InterviewPage.module.css
  src/shared/ui/Card/ui/Card.module.css
  src/shared/ui/Card/ui/Card.tsx
  src/shared/ui/ImageWithWrapper/ImageWithWrapper.module.css
  src/shared/ui/QuestionParam/QuestionParam.module.css
  src/widgets/InterviewHistory/ui/InterviewHistoryItem/InterviewHistoryItem.module.css
  src/widgets/InterviewHistory/ui/InterviewHistoryItem/InterviewHistoryItem.tsx
  src/widgets/InterviewHistory/ui/InterviewHistoryList/InterviewHistoryList.module.css
  src/widgets/InterviewPreparation/ui/QuestionLargePreview/QuestionLargePreview.module.css
  src/widgets/InterviewPreparation/ui/QuestionProgressBarBlock/QuestionProgressBarBlock.module.css
  src/widgets/InterviewQuestions/ui/InterviewQuestionsItem/InterviewQuestionsItem.module.css
  src/widgets/InterviewQuestions/ui/InterviewQuestionsList/InterviewQuestionsList.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-412: Fixed interview page widgets layout (#200)
  src/pages/interview/InterviewPage/ui/InterviewPage.module.css
  src/shared/ui/Card/ui/Card.module.css
  src/shared/ui/Card/ui/Card.tsx
  src/shared/ui/ImageWithWrapper/ImageWithWrapper.module.css
  src/shared/ui/QuestionParam/QuestionParam.module.css
  src/widgets/InterviewHistory/ui/InterviewHistoryItem/InterviewHistoryItem.module.css
  src/widgets/InterviewHistory/ui/InterviewHistoryItem/InterviewHistoryItem.tsx
  src/widgets/InterviewHistory/ui/InterviewHistoryList/InterviewHistoryList.module.css
  src/widgets/InterviewPreparation/ui/QuestionLargePreview/QuestionLargePreview.module.css
  src/widgets/InterviewPreparation/ui/QuestionProgressBarBlock/QuestionProgressBarBlock.module.css
  src/widgets/InterviewQuestions/ui/InterviewQuestionsItem/InterviewQuestionsItem.module.css
  src/widgets/InterviewQuestions/ui/InterviewQuestionsList/InterviewQuestionsList.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-461: fix query params, block margin, link style (#199)
  src/pages/interview/QuestionPage/ui/QuestionPage.module.css
  src/widgets/Question/ui/AdditionalInfo/AdditionalInfo.tsx
  src/widgets/Question/ui/QuestionActions/QuestionActions.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-433: add skillDetailPage (#198)
  src/app/providers/router/config/routeConfig.tsx
  src/entities/skill/api/skillApi.ts
  src/entities/skill/index.ts
  src/entities/skill/ui/SkillCard/SkillCard.module.css
  src/entities/skill/ui/SkillCard/SkillCard.tsx
  src/pages/admin/SkillDetailPage/index.ts
  src/pages/admin/SkillDetailPage/ui/SkillDetailPage/SkillDetailPage.lazy.tsx
  src/pages/admin/SkillDetailPage/ui/SkillDetailPage/SkillDetailPage.tsx
  src/shared/config/i18n/i18n.ts
  src/shared/config/router/routes.ts
  src/widgets/SkillsTable/ui/SkillsTable.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-445: fixed table actions (#191)
  .eslintrc.json
  package-lock.json
  src/features/skill/deleteSkill/ui/DeleteSkillButton/DeleteSkillButton.tsx
  src/pages/admin/SkillsPage/ui/SkillsPage/SkillsPage.module.css
  src/pages/admin/SkillsPage/ui/SkillsPage/SkillsPage.tsx
  src/pages/admin/SkillsPage/ui/SkillsPagePagination/SkillsPagePagination.module.css
  src/shared/config/sentry/sentry.ts
  src/shared/ui/Table/ui/Table.module.css
  src/shared/ui/Table/ui/Table.tsx
  src/widgets/Sidebar/ui/Sidebar/Sidebar.tsx
  src/widgets/SkillsTable/ui/SkillsTable.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-439: style variable, keyDownHandler, classnames
  src/shared/ui/Modal/ui/Modal.tsx
  src/shared/ui/Modal/ui/styles.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-436: resolved conflict
  src/pages/interview/QuestionPage/ui/QuestionPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-457: commented dark theme
  public/index.html
  src/app/styles/App.css
  src/features/theme/switch-theme/model/types/themeProvider.ts
  src/features/theme/switch-theme/ui/ThemeSwitcher.tsx
  src/features/theme/switch-theme/utils/initTheme.ts
  src/features/theme/switch-theme/utils/themeUtils.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-463: fix sentry
  src/app/providers/router/config/routeConfig.tsx
  src/index.tsx
  src/shared/config/sentry/sentry.ts
  src/widgets/Sidebar/ui/Sidebar/Sidebar.tsx
Due: npm run prettier, npm run lint:ts:fix

Feature/yh 463 (#202)
  src/index.tsx
  src/shared/config/sentry/sentry.ts
Due: npm run prettier, npm run lint:ts:fix

YH-463: fix conflict
  src/app/providers/router/config/routeConfig.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-463: fix conflict (#203)
  src/app/providers/router/config/routeConfig.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-463: fix conflicts
  src/widgets/Sidebar/ui/Sidebar/Sidebar.tsx
Due: npm run prettier, npm run lint:ts:fix

Fix/yh 463 (#204)
  src/widgets/Sidebar/ui/Sidebar/Sidebar.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-399: add emptyStub svg
  src/shared/assets/icons/EmptyStub.svg
  src/shared/ui/ImageWithWrapper/ImageWithWrapper.module.css
  src/shared/ui/ImageWithWrapper/ImageWithWrapper.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-455: add links to questions list on interview statistic
  src/pages/interview/InterviewStatisticsPage/ui/InterviewStatisticsPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-443: a11y update
  public/locales/en/a11y.json
  public/locales/ru/a11y.json
  src/app/layouts/MainLayout/ui/MainLayout.tsx
  src/entities/quiz/ui/QuestionCategores/QuestionCategories.tsx
  src/entities/quiz/ui/QuestionNavPanel/QuestionNavPanel.tsx
  src/shared/config/i18n/i18n.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/BackButton/ui/BackButton.tsx
  src/shared/ui/Calendar/ui/EventCalendar.tsx
  src/widgets/Question/ui/AdditionalInfo/AdditionalInfo.tsx
  src/widgets/Question/ui/QuestionPreview/QuestionPreview.tsx
  src/widgets/Sidebar/ui/Sidebar/Sidebar.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-439: useRef, aria-label internationalization
  src/shared/ui/Modal/ui/Modal.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-439: added Modal ui component (#174)
  src/app/styles/App.css
  src/shared/ui/Modal/index.ts
  src/shared/ui/Modal/ui/Modal.tsx
  src/shared/ui/Modal/ui/styles.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-457: commented dark theme (#201)
  public/index.html
  src/app/styles/App.css
  src/features/theme/switch-theme/model/types/themeProvider.ts
  src/features/theme/switch-theme/ui/ThemeSwitcher.tsx
  src/features/theme/switch-theme/utils/initTheme.ts
  src/features/theme/switch-theme/utils/themeUtils.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-399: pulled up changes from develop
  public/index.html
  src/app/providers/router/config/routeConfig.tsx
  src/app/styles/App.css
  src/features/theme/switch-theme/model/types/themeProvider.ts
  src/features/theme/switch-theme/ui/ThemeSwitcher.tsx
  src/features/theme/switch-theme/utils/initTheme.ts
  src/features/theme/switch-theme/utils/themeUtils.ts
  src/shared/ui/Modal/index.ts
  src/shared/ui/Modal/ui/Modal.tsx
  src/shared/ui/Modal/ui/styles.module.css
  src/widgets/Sidebar/ui/Sidebar/Sidebar.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-460: admin question edit fix
  src/features/question/createQuestion/ui/QuestionCreateFormHeader/QuestionCreateFormHeader.tsx
  src/pages/admin/QuestionEditPage/ui/QuestionEditPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-443: a11y update (#206)
  public/locales/en/a11y.json
  public/locales/ru/a11y.json
  src/app/layouts/MainLayout/ui/MainLayout.tsx
  src/entities/quiz/ui/QuestionCategores/QuestionCategories.tsx
  src/entities/quiz/ui/QuestionNavPanel/QuestionNavPanel.tsx
  src/shared/config/i18n/i18n.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/BackButton/ui/BackButton.tsx
  src/shared/ui/Calendar/ui/EventCalendar.tsx
  src/widgets/Question/ui/AdditionalInfo/AdditionalInfo.tsx
  src/widgets/Question/ui/QuestionPreview/QuestionPreview.tsx
  src/widgets/Sidebar/ui/Sidebar/Sidebar.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-455: add routes to questions page and links
  public/locales/en/interview.json
  public/locales/en/interviewStatistics.json
  public/locales/ru/interview.json
  public/locales/ru/interviewStatistics.json
  src/entities/quiz/model/types/quiz.ts
  src/pages/interview/InterviewPage/ui/InterviewPage.tsx
  src/pages/interview/InterviewStatisticsPage/ui/InterviewStatisticsPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/PassedQuestionStatInfo/ui/PassedQuestionStatInfo.module.css
  src/shared/ui/PassedQuestionStatInfo/ui/PassedQuestionStatInfo.tsx
  src/shared/ui/StatInfoItem/ui/StatInfoItem.module.css
  src/shared/ui/StatInfoItem/ui/StatInfoItem.tsx
  src/widgets/InterviewHistory/ui/InterviewHistoryList/InterviewHistoryList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-399: add empty stub on QuestionHeader
  src/widgets/Question/ui/QuestionHeader/QuestionHeader.module.css
  src/widgets/Question/ui/QuestionHeader/QuestionHeader.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-455: fixed styles as in the layout
  src/pages/interview/InterviewStatisticsPage/ui/InterviewStatisticsPage.module.css
  src/pages/interview/InterviewStatisticsPage/ui/InterviewStatisticsPage.tsx
  src/shared/ui/PassedQuestionStatInfo/ui/PassedQuestionStatInfo.module.css
  src/shared/ui/PassedQuestionStatInfo/ui/PassedQuestionStatInfo.tsx
  src/shared/ui/StatInfoItem/ui/StatInfoItem.module.css
  src/shared/ui/StatInfoItem/ui/StatInfoItem.tsx
  src/widgets/InterviewHistory/ui/InterviewHistoryList/InterviewHistoryList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-399: add emptyStub svg (#205)
  src/shared/assets/icons/EmptyStub.svg
  src/shared/ui/ImageWithWrapper/ImageWithWrapper.module.css
  src/shared/ui/ImageWithWrapper/ImageWithWrapper.tsx
  src/widgets/Question/ui/QuestionHeader/QuestionHeader.module.css
  src/widgets/Question/ui/QuestionHeader/QuestionHeader.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-440: add Drawer
  src/shared/ui/Drawer/index.ts
  src/shared/ui/Drawer/ui/Drawer.module.css
  src/shared/ui/Drawer/ui/Drawer.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-438: fixed styles input, pagination and buttons
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/features/question/deleteQuestion/ui/DeleteQuestionButton/DeleteQuestionButton.tsx
  src/pages/admin/QuestionsTablePage/ui/QuestionTablePagePagination/QuestionTablePagePagination.module.css
  src/pages/admin/QuestionsTablePage/ui/QuestionsTablePage/QuestionsTablePage.module.css
  src/pages/admin/QuestionsTablePage/ui/QuestionsTablePage/QuestionsTablePage.tsx
  src/pages/admin/SkillsPage/ui/SkillsPage/SkillsPage.module.css
  src/pages/admin/SkillsPage/ui/SkillsPagePagination/SkillsPagePagination.module.css
  src/shared/assets/icons/Plus.svg
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Card/ui/Card.module.css
  src/widgets/QuestionsTable/ui/QuestionsTable.tsx
  src/widgets/SearchSection/ui/SearchSection.module.css
  src/widgets/SearchSection/ui/SearchSection.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-438: remove useState, useEffect and reduced margin
  src/pages/admin/QuestionsTablePage/ui/QuestionTablePagePagination/QuestionTablePagePagination.module.css
  src/pages/admin/QuestionsTablePage/ui/QuestionsTablePage/QuestionsTablePage.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-438: fixed styles input, pagination and buttons (#210)
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/features/question/deleteQuestion/ui/DeleteQuestionButton/DeleteQuestionButton.tsx
  src/pages/admin/QuestionsTablePage/ui/QuestionTablePagePagination/QuestionTablePagePagination.module.css
  src/pages/admin/QuestionsTablePage/ui/QuestionsTablePage/QuestionsTablePage.module.css
  src/pages/admin/QuestionsTablePage/ui/QuestionsTablePage/QuestionsTablePage.tsx
  src/pages/admin/SkillsPage/ui/SkillsPage/SkillsPage.module.css
  src/pages/admin/SkillsPage/ui/SkillsPagePagination/SkillsPagePagination.module.css
  src/shared/assets/icons/Plus.svg
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Card/ui/Card.module.css
  src/widgets/QuestionsTable/ui/QuestionsTable.tsx
  src/widgets/SearchSection/ui/SearchSection.module.css
  src/widgets/SearchSection/ui/SearchSection.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-455: add new routes and link on question page (#208)
  public/locales/en/interview.json
  public/locales/en/interviewStatistics.json
  public/locales/ru/interview.json
  public/locales/ru/interviewStatistics.json
  src/entities/quiz/model/types/quiz.ts
  src/pages/interview/InterviewPage/ui/InterviewPage.tsx
  src/pages/interview/InterviewStatisticsPage/ui/InterviewStatisticsPage.module.css
  src/pages/interview/InterviewStatisticsPage/ui/InterviewStatisticsPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/PassedQuestionStatInfo/ui/PassedQuestionStatInfo.module.css
  src/shared/ui/PassedQuestionStatInfo/ui/PassedQuestionStatInfo.tsx
  src/shared/ui/StatInfoItem/ui/StatInfoItem.module.css
  src/shared/ui/StatInfoItem/ui/StatInfoItem.tsx
  src/widgets/InterviewHistory/ui/InterviewHistoryList/InterviewHistoryList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-356: imageLoader cropper (#175)
  package-lock.json
  package.json
  public/locales/en/profile.json
  public/locales/en/translation.json
  public/locales/ru/profile.json
  public/locales/ru/translation.json
  src/app/styles/App.css
  src/entities/auth/model/types/auth.ts
  src/entities/education/ui/EducationFormField/EducationFormField.tsx
  src/entities/project/ui/ProjectFormField/ProjectFormField.tsx
  src/features/editProfileForm/model/lib/validation/editProfileSchema.ts
  src/features/editProfileForm/model/types/editProfileTypes.ts
  src/features/editProfileForm/ui/PersonalInformationTabForm/PersonalInformationTabForm.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/FileLoader/FileLoader.tsx
  src/shared/ui/ImageLoader/ImageLoader.module.css
  src/shared/ui/ImageLoader/ImageLoader.tsx
  src/shared/ui/ImageLoader/ImageLoaderCropper.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-472: skills level input removed
  src/features/editProfileForm/ui/PersonalInformationTabForm/PersonalInformationTabForm.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-441: fix: animation
  src/shared/ui/Card/ui/Card.tsx
  src/widgets/Question/ui/QuestionBody/QuestionBody.module.css
  src/widgets/Question/ui/QuestionBody/QuestionBody.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-441: fix animation
  package-lock.json
  src/pages/interview/QuestionPage/ui/QuestionPage.module.css
  src/pages/interview/QuestionPage/ui/QuestionPage.tsx
  src/shared/ui/Card/ui/Card.module.css
  src/shared/ui/Card/ui/Card.tsx
  src/widgets/Question/ui/QuestionBody/QuestionBody.module.css
  src/widgets/Question/ui/QuestionBody/QuestionBody.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-441: fix animation (2)
  .eslintrc.json
Due: none
