Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1312: Create page with list of requests for the resource (#881)
  public/locales/en/resources.json
  public/locales/ru/resources.json
  src/app/providers/router/config/routeConfig.tsx
  src/app/providers/store/config/config.ts
  src/entities/resource/api/resourceApi.ts
  src/entities/resource/index.ts
  src/entities/resource/model/constants/resource.ts
  src/entities/resource/model/types/resource.ts
  src/entities/resource/model/types/resourceRequest.ts
  src/entities/resource/ui/ResourceRequestStatus/ResourceRequestStatus.tsx
  src/pages/admin/ResourcesRequestsTablePage/index.ts
  src/pages/admin/ResourcesRequestsTablePage/model/selectors/resourcesRequestsTablePageSelectors.ts
  src/pages/admin/ResourcesRequestsTablePage/model/slice/resourcesRequestsPageSlice.ts
  src/pages/admin/ResourcesRequestsTablePage/model/types/resourcesRequestsTablePageTypes.ts
  src/pages/admin/ResourcesRequestsTablePage/ui/ResourcesRequestsTablePage/ResourcesRequestsTablePage.module.css
  src/pages/admin/ResourcesRequestsTablePage/ui/ResourcesRequestsTablePage/ResourcesRequestsTablePage.tsx
  src/pages/admin/ResourcesRequestsTablePage/ui/ResourcesRequestsTablePagePagination/ResourcesRequestsTablePagePagination.module.css
  src/pages/admin/ResourcesRequestsTablePage/ui/ResourcesRequestsTablePagePagination/ResourcesRequestsTablePagePagination.tsx
  src/shared/config/api/apiTags.ts
  src/shared/config/i18n/i18n.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
  src/shared/config/store/State.ts
  src/widgets/resources/ResourceRequestsTable/ui/ResourceRequestsTable.module.css
  src/widgets/resources/ResourceRequestsTable/ui/ResourceRequestsTable.tsx
  src/widgets/resources/index.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1318: add crumbs, route for requestresourcePage
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/app/providers/router/config/routeConfig.tsx
  src/features/resources/createResourceRequest/api/createResourceRequestApi.ts
  src/features/resources/createResourceRequest/model/types/resourceRequestCreateTypes.ts
  src/features/resources/createResourceRequest/ui/ResourceModerationModal/ResourceModerationModal.tsx
  src/features/resources/createResourceRequest/ui/ResourceRequestCreateForm/ResourceRequestCreateForm.tsx
  src/features/resources/createResourceRequest/ui/ResourceRequestCreateFormWithHeader/ResourceRequestFormWithHeader.module.css
  src/features/resources/createResourceRequest/ui/ResourceRequestCreateFormWithHeader/ResourceRequestFormWithHeader.tsx
  src/pages/wiki/MyResourcesPage/ui/MyResourcesPage.tsx
  src/pages/wiki/ResourcesPage/ui/ResourcesPage.module.css
  src/pages/wiki/ResourcesPage/ui/ResourcesPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

creating a widget for the most frequent questions
  src/pages/analytics/AnalyticsPage/ui/AnalyticsPage.tsx
  src/shared/ui/Icons/ReactIcon/ReactIcon.tsx
  src/widgets/interview/InterviewPopularQuestions/ui/InterviewPopularQuestions.module.css
  src/widgets/interview/InterviewPopularQuestions/ui/InterviewPopularQuestions.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1400: add new guru
  src/entities/guru/model/constants/gurus.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1401: add link in header for resources
  public/locales/en/landing.json
  public/locales/ru/landing.json
  src/app/providers/router/config/routeConfig.tsx
  src/pages/landing/PublicMarketplacePage/index.ts
  src/pages/landing/PublicMarketplacePage/ui/PublicMarketplacePage.lazy.ts
  src/pages/landing/PublicMarketplaceRequestPage/index.ts
  src/pages/landing/PublicMarketplaceRequestPage/ui/PublicMarketplaceRequestPage.lazy.ts
  src/pages/landing/PublicMarketplaceRequestPage/ui/PublicMarketplaceRequestPage.tsx
  src/pages/landing/PublicResourcesPage/index.ts
  src/pages/landing/PublicResourcesPage/ui/PublicResourcesPage.lazy.ts
  src/pages/landing/PublicResourcesPage/ui/PublicResourcesPage.module.css
  src/pages/landing/PublicResourcesPage/ui/PublicResourcesPage.skeleton.tsx
  src/pages/landing/PublicResourcesPage/ui/PublicResourcesPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
  src/widgets/Landing/Header/model/constants/headerConstants.ts
  src/widgets/Landing/Header/ui/HeaderNav/HeaderNavDesktop/HeaderNavDesktop.skeleton.tsx
  src/widgets/interview/PassedQuestionsList/ui/PassedQuestionsItem/PassedQuestionsItem.module.css
  src/widgets/question/QuestionHeader/ui/QuestionHeader.module.css
  src/widgets/question/QuestionsList/ui/PreviewQuestionsItem/PreviewQuestionsItem.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1400: add new guru (#898)
  src/entities/guru/model/constants/gurus.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1318: update translate
  public/locales/en/resources.json
  public/locales/ru/resources.json
Due: none

YH-1376: create most diffucult questions widget & mock queries for it
  config/webpack/webpackDevServer.ts
  src/app/index.tsx
  src/app/msw/handlers.ts
  src/app/styles/variables/pallete.css
  src/pages/analytics/AnalyticsPage/ui/AnalyticsPage.tsx
  src/shared/ui/ProgressBar/ProgressBar.module.css
  src/shared/ui/ProgressBar/ProgressBar.tsx
  src/widgets/question/MostDifficultQuestions/api/__mocks__/data/index.ts
  src/widgets/question/MostDifficultQuestions/api/__mocks__/data/mostDifficultQuestionsMock.ts
  src/widgets/question/MostDifficultQuestions/api/__mocks__/index.ts
  src/widgets/question/MostDifficultQuestions/api/__mocks__/mostDifficultQuestions.ts
  src/widgets/question/MostDifficultQuestions/api/mostDifficultQuestionsApi.ts
  src/widgets/question/MostDifficultQuestions/index.ts
  src/widgets/question/MostDifficultQuestions/model/constants/questions.ts
  src/widgets/question/MostDifficultQuestions/model/types/questions.ts
  src/widgets/question/MostDifficultQuestions/ui/MostDifficultQuestions.module.css
  src/widgets/question/MostDifficultQuestions/ui/MostDifficultQuestions.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1372: add SkillProficiency widget
  public/locales/en/analytics.json
  public/locales/ru/analytics.json
  src/app/msw/handlers.ts
  src/entities/questionStats/learnedQuestion/api/__mocks__/data/index.ts
  src/entities/questionStats/learnedQuestion/api/__mocks__/data/learnedQuestionsMock.ts
  src/entities/questionStats/learnedQuestion/api/__mocks__/getLearnedQuestionsMock.ts
  src/entities/questionStats/learnedQuestion/api/__mocks__/index.ts
  src/entities/questionStats/learnedQuestion/api/learnedQuestionApi.ts
  src/entities/questionStats/learnedQuestion/index.ts
  src/entities/questionStats/learnedQuestion/model/constants/index.ts
  src/entities/questionStats/learnedQuestion/model/lib/index.ts
  src/entities/questionStats/learnedQuestion/model/types/index.ts
  src/pages/analytics/AnalyticsPage/ui/AnalyticsPage.tsx
  src/shared/config/i18n/i18n.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/analytics/SkillsProficiency/index.ts
  src/widgets/analytics/SkillsProficiency/model/hooks/useItemsSizeCalculation.ts
  src/widgets/analytics/SkillsProficiency/ui/SkillBar/SkillBar.module.css
  src/widgets/analytics/SkillsProficiency/ui/SkillBar/SkillBar.tsx
  src/widgets/analytics/SkillsProficiency/ui/SkillProficiencyItem/SkillProficiencyItem.module.css
  src/widgets/analytics/SkillsProficiency/ui/SkillProficiencyItem/SkillProficiencyItem.tsx
  src/widgets/analytics/SkillsProficiency/ui/SkillsProficiency/SkillsProficiency.module.css
  src/widgets/analytics/SkillsProficiency/ui/SkillsProficiency/SkillsProficiency.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1401: add link in header for resources (#900)
  public/locales/en/landing.json
  public/locales/ru/landing.json
  src/app/providers/router/config/routeConfig.tsx
  src/pages/landing/PublicMarketplacePage/index.ts
  src/pages/landing/PublicMarketplacePage/ui/PublicMarketplacePage.lazy.ts
  src/pages/landing/PublicMarketplaceRequestPage/index.ts
  src/pages/landing/PublicMarketplaceRequestPage/ui/PublicMarketplaceRequestPage.lazy.ts
  src/pages/landing/PublicMarketplaceRequestPage/ui/PublicMarketplaceRequestPage.tsx
  src/pages/landing/PublicResourcesPage/index.ts
  src/pages/landing/PublicResourcesPage/ui/PublicResourcesPage.lazy.ts
  src/pages/landing/PublicResourcesPage/ui/PublicResourcesPage.module.css
  src/pages/landing/PublicResourcesPage/ui/PublicResourcesPage.skeleton.tsx
  src/pages/landing/PublicResourcesPage/ui/PublicResourcesPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
  src/widgets/Landing/Header/model/constants/headerConstants.ts
  src/widgets/Landing/Header/ui/HeaderNav/HeaderNavDesktop/HeaderNavDesktop.skeleton.tsx
  src/widgets/interview/PassedQuestionsList/ui/PassedQuestionsItem/PassedQuestionsItem.module.css
  src/widgets/question/QuestionHeader/ui/QuestionHeader.module.css
  src/widgets/question/QuestionsList/ui/PreviewQuestionsItem/PreviewQuestionsItem.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1318: add url path for requestResource, new page RequestResourcePage (#876)
  public/locales/en/resources.json
  public/locales/en/translation.json
  public/locales/ru/resources.json
  public/locales/ru/translation.json
  src/app/providers/router/config/routeConfig.tsx
  src/entities/resource/ui/ResourceSelect/ResourceSelect.tsx
  src/features/resources/createResource/api/createResourceApi.ts
  src/features/resources/createResourceRequest/api/createResourceRequestApi.ts
  src/features/resources/createResourceRequest/index.ts
  src/features/resources/createResourceRequest/model/constants/createResourceRequestConstants.ts
  src/features/resources/createResourceRequest/model/lib/validation/resourceRequestCreateSchema.ts
  src/features/resources/createResourceRequest/model/types/resourceRequestCreateTypes.ts
  src/features/resources/createResourceRequest/ui/ResourceModerationModal/ResourceModerationModal.module.css
  src/features/resources/createResourceRequest/ui/ResourceModerationModal/ResourceModerationModal.tsx
  src/features/resources/createResourceRequest/ui/ResourceRequestCreateForm/ResourceRequestCreateForm.tsx
  src/features/resources/createResourceRequest/ui/ResourceRequestCreateFormWithHeader/ResourceRequestFormWithHeader.module.css
  src/features/resources/createResourceRequest/ui/ResourceRequestCreateFormWithHeader/ResourceRequestFormWithHeader.tsx
  src/pages/wiki/MyResourcesPage/ui/MyResourcesPage.tsx
  src/pages/wiki/RequestResourceCreatePage/index.ts
  src/pages/wiki/RequestResourceCreatePage/ui/RequestResourceCreatePage.lazy.ts
  src/pages/wiki/RequestResourceCreatePage/ui/RequestResourceCreatePage.tsx
  src/pages/wiki/ResourcesPage/ui/ResourcesPage.module.css
  src/pages/wiki/ResourcesPage/ui/ResourcesPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
  src/shared/ui/Modal/Modal.module.css
  src/shared/ui/Modal/Modal.tsx
  src/shared/ui/Modal/ModalTypes.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1376: change files structure for FSD
  src/app/msw/handlers.ts
  src/entities/mostDifficultQuestions/api/__mocks__/data/index.ts
  src/entities/mostDifficultQuestions/api/__mocks__/data/mostDifficultQuestionsMock.ts
  src/entities/mostDifficultQuestions/api/__mocks__/index.ts
  src/entities/mostDifficultQuestions/api/__mocks__/mostDifficultQuestions.ts
  src/entities/mostDifficultQuestions/api/mostDifficultQuestionsApi.ts
  src/entities/mostDifficultQuestions/index.ts
  src/entities/mostDifficultQuestions/model/constants/difficultQuestions.ts
  src/entities/mostDifficultQuestions/model/types/difficultQuestions.ts
  src/entities/mostDifficultQuestions/ui/MostDifficultQuestions.module.css
  src/entities/mostDifficultQuestions/ui/MostDifficultQuestions.tsx
  src/pages/analytics/AnalyticsPage/ui/AnalyticsPage.tsx
  src/widgets/question/DifficultQuestionsList/index.ts
  src/widgets/question/DifficultQuestionsList/ui/DifficultQuestionsList.module.css
  src/widgets/question/DifficultQuestionsList/ui/DifficultQuestionsList.tsx
  src/widgets/question/MostDifficultQuestions/ui/MostDifficultQuestions.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1376: fix classes naming and use translation
  src/entities/mostDifficultQuestions/ui/MostDifficultQuestions.module.css
  src/entities/mostDifficultQuestions/ui/MostDifficultQuestions.tsx
  src/widgets/question/DifficultQuestionsList/ui/DifficultQuestionsList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1378: added tabs for resources and requests
  src/app/providers/router/config/routeConfig.tsx
  src/pages/admin/ResourcesTablePage/ui/ResourcesTablePage/ResourcesTablePage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1387: fix show interface after cancelled subscription
  src/widgets/Subscription/ui/ActiveSubscriptionInfo/ActiveSubscriptionInfo.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1387: fix show interface after cancelled subscription (#905)
  src/widgets/Subscription/ui/ActiveSubscriptionInfo/ActiveSubscriptionInfo.tsx
Due: npm run prettier, npm run lint:ts:fix

Release 1.1.12
  RELEASE_NOTES.md
  package-lock.json
  package.json
  src/app/providers/router/config/routeConfig.tsx
  src/pages/wiki/ResourcesPage/ui/ResourcesPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-935: Add tests for specializations block on landing page
  src/widgets/Landing/SpecialityBlock/ui/SpecializationBlock/SpecializationBlock.test.tsx
  src/widgets/Landing/SpecialityBlock/ui/SpecializationBlock/SpecializationBlock.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1349: Add verification via Telegram
  public/locales/en/profile.json
  public/locales/ru/profile.json
  src/entities/auth/api/__mocks__/data/authProfileQueryMockResponse.ts
  src/entities/auth/api/authApi.ts
  src/entities/auth/index.ts
  src/entities/auth/model/constants/authConstants.ts
  src/entities/auth/model/types/auth.ts
  src/entities/profile/index.ts
  src/entities/profile/ui/TelegramVerifyed/TelegramVerified.module.css
  src/entities/profile/ui/TelegramVerifyed/TelegramVerified.tsx
  src/features/authentication/login/index.ts
  src/features/authentication/login/ui/TelegramLoginButton/ui/TelegramLinkButton/TelegramLinkButton.tsx
  src/pages/profile/SettingsProfilePage/ui/tabs/EmailConfirmationTab/EmailConfirmationTab.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/Profile/index.ts
  src/widgets/Profile/ui/ConfirmationTelegram/index.ts
  src/widgets/Profile/ui/ConfirmationTelegram/ui/ConfirmationTelegram.module.css
  src/widgets/Profile/ui/ConfirmationTelegram/ui/ConfirmationTelegram.tsx
  src/widgets/TelegramVerification/index.ts
  src/widgets/TelegramVerification/ui/TelegramVerification.module.css
  src/widgets/TelegramVerification/ui/TelegramVerification.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1349: Fix bugs
  src/entities/auth/model/constants/authConstants.ts
  src/widgets/Profile/ui/ConfirmationTelegram/ui/ConfirmationTelegram.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1388: added vertical and horizontal display to the widget and fixed bugs
  src/app/msw/handlers.ts
  src/entities/analytics/api/__mock__/data/popularSkillsMockResponse.ts
  src/entities/analytics/api/__mock__/index.ts
  src/entities/analytics/api/__mock__/popularSkillsQueryMock.ts
  src/entities/analytics/api/analyticsApi.ts
  src/entities/analytics/index.ts
  src/entities/analytics/model/constants/analyticsConstants.ts
  src/entities/analytics/model/types/analytics.ts
  src/entities/skill/api/__mocks__/data/index.ts
  src/entities/skill/api/__mocks__/data/skillsMock.ts
  src/entities/skill/api/__mocks__/index.ts
  src/entities/skill/api/__mocks__/skillListPopularMock.ts
  src/entities/skill/api/skillApi.ts
  src/entities/skill/index.ts
  src/entities/skill/model/constants/skillConstants.ts
  src/entities/skill/model/types/skill.ts
  src/pages/analytics/AnalyticsPage/ui/AnalyticsPage.tsx
  src/shared/config/api/apiTags.ts
  src/shared/ui/ProgressBar/ProgressBar.module.css
  src/shared/ui/ProgressBar/ProgressBar.tsx
  src/widgets/analytics/GraphProgressBar/index.ts
  src/widgets/analytics/GraphProgressBar/ui/GraphProgressBar/GraphProgressBar.module.css
  src/widgets/analytics/GraphProgressBar/ui/GraphProgressBar/GraphProgressBar.tsx
  src/widgets/analytics/GraphProgressBar/ui/ProgressBarItem/ProgressBarItem.module.css
  src/widgets/analytics/GraphProgressBar/ui/ProgressBarItem/ProgressBarItem.tsx
  src/widgets/analytics/PopularSkills/index.ts
  src/widgets/analytics/PopularSkills/ui/PopularSkills/PopularSkills.module.css
  src/widgets/analytics/PopularSkills/ui/PopularSkills/PopularSkills.tsx
  src/widgets/analytics/PopularSkills/ui/PopularSkillsItem/PopularSkillsItem.module.css
  src/widgets/analytics/PopularSkills/ui/PopularSkillsItem/PopularSkillsItem.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1388: add default specialization Id
  public/locales/en/analytics.json
  public/locales/ru/analytics.json
  src/widgets/analytics/GraphProgressBar/ui/GraphProgressBar/GraphProgressBar.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1378: update tabs
  src/app/providers/router/config/routeConfig.tsx
  src/entities/collection/ui/æollectionWarningInfo/CollectionWarningInfo.module.css
  src/entities/collection/ui/æollectionWarningInfo/CollectionWarningInfo.tsx
  src/pages/admin/ResourcesPage/index.ts
  src/pages/admin/ResourcesPage/model/hooks/useGetResourcesPageTabs.tsx
  src/pages/admin/ResourcesPage/model/selectors/resourcesAllTabSelectors.ts
  src/pages/admin/ResourcesPage/model/selectors/resourcesRequestsTabSelectors.ts
  src/pages/admin/ResourcesPage/model/slice/resourcesAllTabSlice.ts
  src/pages/admin/ResourcesPage/model/slice/resourcesRequestsTabSlice.ts
  src/pages/admin/ResourcesPage/model/types/resourcesAllTabTypes.ts
  src/pages/admin/ResourcesPage/model/types/resourcesRequestsTabTypes.ts
  src/pages/admin/ResourcesPage/ui/ResourcesPage.lazy.tsx
  src/pages/admin/ResourcesPage/ui/ResourcesPage.tsx
  src/pages/admin/ResourcesPage/ui/tabs/ResourcesAllTab/ResourcesAllTab/ResourcesAllTab.module.css
  src/pages/admin/ResourcesPage/ui/tabs/ResourcesAllTab/ResourcesAllTab/ResourcesAllTab.skeleton.tsx
  src/pages/admin/ResourcesPage/ui/tabs/ResourcesAllTab/ResourcesAllTab/ResourcesAllTab.tsx
  src/pages/admin/ResourcesPage/ui/tabs/ResourcesAllTab/ResourcesAllTabPagination/ResourcesAllTabPagination.module.css
  src/pages/admin/ResourcesPage/ui/tabs/ResourcesAllTab/ResourcesAllTabPagination/ResourcesAllTabPagination.tsx
  src/pages/admin/ResourcesPage/ui/tabs/ResourcesAllTab/index.ts
  src/pages/admin/ResourcesPage/ui/tabs/ResourcesAllTab/ui/ResourcesAllTab/ResourcesAllTab.lazy.tsx
  src/pages/admin/ResourcesPage/ui/tabs/ResourcesRequestsTab/ResourcesRequestsTab/ResourcesRequestsTab.module.css
  src/pages/admin/ResourcesPage/ui/tabs/ResourcesRequestsTab/ResourcesRequestsTab/ResourcesRequestsTab.tsx
  src/pages/admin/ResourcesPage/ui/tabs/ResourcesRequestsTab/ResourcesRequestsTabPagination/ResourcesRequestsTabPagination.module.css
  src/pages/admin/ResourcesPage/ui/tabs/ResourcesRequestsTab/ResourcesRequestsTabPagination/ResourcesRequestsTabPagination.tsx
  src/pages/admin/ResourcesPage/ui/tabs/ResourcesRequestsTab/index.ts
  src/shared/hooks/useQueryFilter.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1389: add resource edit restrictions for author role
  src/features/resources/deleteResource/ui/DeleteResourceButton/DeleteResourceButton.tsx
  src/pages/admin/CollectionsPage/ui/CollectionsPage/CollectionsPage.tsx
  src/pages/admin/QuestionsTablePage/ui/QuestionsTablePage/QuestionsTablePage.tsx
  src/pages/admin/ResourcesTablePage/ui/ResourcesTablePage/ResourcesTablePage.tsx
  src/widgets/resources/ResourcesTable/ui/ResourcesTable.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1396: add new disabled page of resource
  src/app/providers/router/config/routeConfig.tsx
  src/entities/resource/index.ts
  src/entities/resource/model/types/resource.ts
  src/entities/skill/ui/SkillSelect/SkillSelect.tsx
  src/features/resources/createResource/model/types/resourceCreateTypes.ts
  src/features/resources/createResourceRequest/model/types/resourceRequestCreateTypes.ts
  src/features/resources/editResource/model/types/resourcesEditTypes.ts
  src/features/resources/viewResource/index.ts
  src/features/resources/viewResource/ui/ResourceDisabledForm/ResourceDisabledForm.module.css
  src/features/resources/viewResource/ui/ResourceDisabledForm/ResourceDisabledForm.tsx
  src/features/resources/viewResource/ui/ResourceViewForm/ResourceViewForm.tsx
  src/features/resources/viewResource/ui/ResourceViewFormWithHeader/ResourceViewFormWithHeader.module.css
  src/features/resources/viewResource/ui/ResourceViewFormWithHeader/ResourceViewFormWithHeader.tsx
  src/pages/admin/ResourceViewPage/index.ts
  src/pages/admin/ResourceViewPage/ui/ResourceViewPage.lazy.ts
  src/pages/admin/ResourceViewPage/ui/ResourceViewPage.tsx
  src/shared/config/router/routes.ts
  src/shared/ui/FileLoader/FileLoader.tsx
  src/shared/ui/ImageLoaderWithoutCropper/ImageLoaderWithoutCropper.tsx
  src/shared/ui/KeywordInput/KeywordInput.tsx
  src/widgets/resources/ResourcesTable/ui/ResourcesTable.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1378: added tabs for resources and requests (#903)
  public/locales/en/resources.json
  public/locales/ru/resources.json
  src/app/providers/router/config/routeConfig.tsx
  src/app/providers/store/config/config.ts
  src/pages/admin/ResourcesPage/index.ts
  src/pages/admin/ResourcesPage/model/hooks/useGetResourcesPageTabs.tsx
  src/pages/admin/ResourcesPage/model/selectors/resourcesAllTabSelectors.ts
  src/pages/admin/ResourcesPage/model/selectors/resourcesRequestsTabSelectors.ts
  src/pages/admin/ResourcesPage/model/slice/resourcesAllTabSlice.ts
  src/pages/admin/ResourcesPage/model/slice/resourcesRequestsTabSlice.ts
  src/pages/admin/ResourcesPage/model/types/resourcesAllTabTypes.ts
  src/pages/admin/ResourcesPage/model/types/resourcesRequestsTabTypes.ts
  src/pages/admin/ResourcesPage/ui/ResourcesPage.lazy.tsx
  src/pages/admin/ResourcesPage/ui/ResourcesPage.tsx
  src/pages/admin/ResourcesPage/ui/tabs/ResourcesAllTab/ResourcesAllTab/ResourcesAllTab.module.css
  src/pages/admin/ResourcesPage/ui/tabs/ResourcesAllTab/ResourcesAllTab/ResourcesAllTab.skeleton.tsx
  src/pages/admin/ResourcesPage/ui/tabs/ResourcesAllTab/ResourcesAllTab/ResourcesAllTab.tsx
  src/pages/admin/ResourcesPage/ui/tabs/ResourcesAllTab/ResourcesAllTabPagination/ResourcesAllTabPagination.module.css
  src/pages/admin/ResourcesPage/ui/tabs/ResourcesAllTab/ResourcesAllTabPagination/ResourcesAllTabPagination.tsx
  src/pages/admin/ResourcesPage/ui/tabs/ResourcesRequestsTab/ResourcesRequestsTab/ResourcesRequestsTab.module.css
  src/pages/admin/ResourcesPage/ui/tabs/ResourcesRequestsTab/ResourcesRequestsTab/ResourcesRequestsTab.tsx
  src/pages/admin/ResourcesPage/ui/tabs/ResourcesRequestsTab/ResourcesRequestsTabPagination/ResourcesRequestsTabPagination.module.css
  src/pages/admin/ResourcesPage/ui/tabs/ResourcesRequestsTab/ResourcesRequestsTabPagination/ResourcesRequestsTabPagination.tsx
  src/pages/admin/ResourcesRequestsTablePage/index.ts
  src/pages/admin/ResourcesRequestsTablePage/model/selectors/resourcesRequestsTablePageSelectors.ts
  src/pages/admin/ResourcesTablePage/index.ts
  src/pages/admin/ResourcesTablePage/model/selectors/resourcesTablePageSelectors.ts
  src/pages/admin/ResourcesTablePage/ui/ResourcesTablePage/ResourcesTablePage.lazy.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/store/State.ts
  src/shared/hooks/useQueryFilter.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1345: apply review comments
  src/shared/ui/Table/Table.module.css
  src/shared/ui/Table/Table.tsx
  src/shared/ui/TableCellEntityList/TableCellEntityList.tsx
  src/widgets/CollectionsTable/ui/CollectionsTable.tsx
  src/widgets/CompaniesTable/ui/CompaniesTable.tsx
  src/widgets/QuestionsTable/ui/QuestionsTable.tsx
  src/widgets/SkillsTable/ui/SkillsTable.tsx
  src/widgets/SpecializationsTable/ui/SpecializationsTable.tsx
  src/widgets/UsersTable/ui/UsersTable.tsx
  src/widgets/resources/ResourcesTable/ui/ResourcesTable.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1404: added a tooltip for companies
  public/locales/ru/translation.json
  src/features/company/deleteCompany/ui/DeleteCompanyButton/DeleteCompanyButton.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/CompaniesTable/ui/CompaniesTable.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1413: fix add image to resource
  src/entities/resource/model/types/resource.ts
  src/entities/resource/ui/ResourceCard/ResourceCard.tsx
  src/entities/resource/ui/ResourceForm/ResourceForm.tsx
  src/features/resources/createResource/model/lib/validation/resourceCreateSchema.ts
  src/features/resources/createResource/ui/ResourceCreateForm/ResourceCreateForm.tsx
  src/features/resources/createResourceRequest/model/lib/validation/resourceRequestCreateSchema.ts
  src/features/resources/createResourceRequest/model/types/resourceRequestCreateTypes.ts
  src/features/resources/createResourceRequest/ui/ResourceRequestCreateForm/ResourceRequestCreateForm.tsx
  src/features/resources/editResource/model/lib/validation/resourceEditSchema.ts
  src/features/resources/editResource/ui/ResourceEditForm/ResourceEditForm.tsx
  src/widgets/resources/ResourceBody/ui/ResourceBody.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1385: reset skills on specialization change (Public Resources Change)
  src/widgets/Marketplace/model/hooks/useMarketplaceFilters.ts
Due: npm run prettier, npm run lint:ts:fix

fix crack in AnalyticsPage
  src/pages/analytics/AnalyticsPage/ui/AnalyticsPage.tsx
  src/widgets/interview/InterviewPopularQuestions/ui/InterviewPopularQuestions.tsx
Due: npm run prettier, npm run lint:ts:fix

fix crack in AnalyticsPage
  src/pages/analytics/AnalyticsPage/ui/AnalyticsPage.tsx
  src/widgets/interview/InterviewPopularQuestions/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1413: fix add image to resource (#912)
  src/entities/resource/model/types/resource.ts
  src/entities/resource/ui/ResourceCard/ResourceCard.tsx
  src/entities/resource/ui/ResourceForm/ResourceForm.tsx
  src/features/resources/createResource/model/lib/validation/resourceCreateSchema.ts
  src/features/resources/createResource/ui/ResourceCreateForm/ResourceCreateForm.tsx
  src/features/resources/createResourceRequest/model/lib/validation/resourceRequestCreateSchema.ts
  src/features/resources/createResourceRequest/model/types/resourceRequestCreateTypes.ts
  src/features/resources/createResourceRequest/ui/ResourceRequestCreateForm/ResourceRequestCreateForm.tsx
  src/features/resources/editResource/model/lib/validation/resourceEditSchema.ts
  src/features/resources/editResource/ui/ResourceEditForm/ResourceEditForm.tsx
  src/widgets/resources/ResourceBody/ui/ResourceBody.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1391: Fix bugs by comments
  public/locales/en/profile.json
  public/locales/ru/profile.json
  src/entities/auth/api/__mocks__/data/authProfileQueryMockResponse.ts
  src/entities/auth/api/authApi.ts
  src/entities/auth/index.ts
  src/entities/auth/model/constants/authConstants.ts
  src/entities/auth/model/types/auth.ts
  src/entities/profile/index.ts
  src/entities/profile/ui/TelegramVerifyed/TelegramVerified.module.css
  src/entities/profile/ui/TelegramVerifyed/TelegramVerified.tsx
  src/entities/profile/ui/UserVerifyed/UserVerified.module.css
  src/entities/profile/ui/UserVerifyed/UserVerified.tsx
  src/entities/profile/ui/UserVerifyed/UserVerifyed.module.css
  src/features/authentication/login/index.ts
  src/features/authentication/login/ui/TelegramLoginButton/ui/TelegramLinkButton/TelegramLinkButton.tsx
  src/features/authentication/login/ui/TelegramLoginButton/ui/TelegramLoginButton/TelegramLoginButton.tsx
  src/features/authentication/login/ui/TelegramLoginButton/ui/TelegramWidget/TelegramWidget.tsx
  src/features/authentication/telegramLink/api/telegramLinkApi.ts
  src/features/authentication/telegramLink/index.ts
  src/features/authentication/telegramLink/model/constants/telegramLinkConstants.ts
  src/features/authentication/telegramLink/model/types/telegramLinkTypes.ts
  src/features/profile/confirmationEmail/ui/ConfirmationEmail.module.css
  src/features/profile/confirmationEmail/ui/ConfirmationEmail.tsx
  src/pages/profile/SettingsProfilePage/ui/tabs/EmailConfirmationTab/EmailConfirmationTab.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/ConfirmationTelegram/index.ts
  src/widgets/ConfirmationTelegram/ui/ConfirmationTelegram.module.css
  src/widgets/ConfirmationTelegram/ui/ConfirmationTelegram.tsx
  src/widgets/EmailVerification/ui/EmailVerification.tsx
  src/widgets/Profile/index.ts
  src/widgets/Profile/ui/ConfirmationTelegram/ui/ConfirmationTelegram.module.css
  src/widgets/Profile/ui/ConfirmationTelegram/ui/ConfirmationTelegram.tsx
  src/widgets/TelegramVerification/index.ts
  src/widgets/TelegramVerification/ui/TelegramVerification.module.css
  src/widgets/TelegramVerification/ui/TelegramVerification.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1349: Fix bugs
  src/features/authentication/telegramLink/api/telegramLinkApi.ts
  src/features/authentication/telegramLink/model/types/telegramLinkTypes.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1388: add title in props
  src/widgets/analytics/GraphProgressBar/ui/GraphProgressBar/GraphProgressBar.tsx
Due: npm run prettier, npm run lint:ts:fix

delete unused files
  src/pages/admin/ResourcesRequestsTablePage/index.ts
  src/pages/admin/ResourcesRequestsTablePage/model/selectors/resourcesRequestsTablePageSelectors.ts
  src/pages/admin/ResourcesRequestsTablePage/model/slice/resourcesRequestsPageSlice.ts
  src/pages/admin/ResourcesRequestsTablePage/model/types/resourcesRequestsTablePageTypes.ts
  src/pages/admin/ResourcesRequestsTablePage/ui/ResourcesRequestsTablePage/ResourcesRequestsTablePage.module.css
  src/pages/admin/ResourcesRequestsTablePage/ui/ResourcesRequestsTablePage/ResourcesRequestsTablePage.tsx
  src/pages/admin/ResourcesRequestsTablePage/ui/ResourcesRequestsTablePagePagination/ResourcesRequestsTablePagePagination.module.css
  src/pages/admin/ResourcesRequestsTablePage/ui/ResourcesRequestsTablePagePagination/ResourcesRequestsTablePagePagination.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

Release 1.1.13
  RELEASE_NOTES.md
  package-lock.json
  package.json
Due: none

Path conditions:
  npm run prettier: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:ts:fix: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:css:fix: any of: *.css
