Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2129: add author role check
  src/features/question/deleteQuestion/api/__mocks__/deleteQuestionMock.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2143: Adding mock error handling when creating a theme
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/features/topics/createTopics/api/__mock__/createTopicMock.ts
  src/features/topics/createTopics/lib/utils/getCreateTopicsApiErrorMessage.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/libs/query/helpers/createErrorResponse.ts
  src/shared/libs/query/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2156: write unit tests for CollectionSelect
  src/entities/collection/ui/CollectionSelect/CollectionSelect.test.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2143: Standardizing the process of adding skills
  src/features/topics/createTopics/api/__mock__/createTopicMock.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2143: Adding mock error handling when creating a theme (#1309)
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/features/specialization/createSpecialization/api/__mock__/createSpecializationErrorMock.ts
  src/features/topics/createTopics/api/__mock__/createTopic.ts
  src/features/topics/createTopics/api/__mock__/createTopicMock.ts
  src/features/topics/createTopics/index.ts
  src/features/topics/createTopics/lib/utils/getCreateTopicsApiErrorMessage.ts
  src/features/topics/createTopics/model/types/topicCreateErrorTypes.ts
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2129: add error handling to deleteQuestionMock (#1312)
  src/entities/auth/index.ts
  src/features/question/deleteQuestion/api/__mocks__/deleteQuestionMock.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2101: add unit tests for CompanySelect component
  src/entities/company/ui/CompanySelect/CompanySelect.test.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2160: add manageLocalStorage tests
  src/shared/libs/browser/manageLocalStorage/manageLocalStorage.test.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2101: added constants
  src/entities/company/ui/CompanySelect/CompanySelect.test.tsx
  src/entities/company/ui/CompanySelect/CompanySelect.tsx
  src/entities/company/ui/CompanySelect/constants.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2003: add unit test for TaskCategorySelect (#1256)
  src/entities/task/ui/TaskCategorySelect/TaskCategorySelect.test.tsx
  src/entities/task/ui/TaskCategorySelect/TaskCategorySelect.tsx
  src/shared/ui/Dropdown/Dropdown/constants.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2174: refactor SpecializationForm blocks with FormField
  src/entities/specialization/ui/SpecializationForm/SpecializationForm.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2174: remove unused classes from SpecializationForm styles
  src/entities/specialization/ui/SpecializationForm/SpecializationForm.module.css
Due: npm run lint:css:fix

YH-2176: add additional info for specializationDetails page
  public/locales/en/specialization.json
  public/locales/ru/specialization.json
  src/entities/specialization/index.ts
  src/entities/specialization/ui/SpecializationAdditionalInfo/SpecializationAdditionalInfo.module.css
  src/entities/specialization/ui/SpecializationAdditionalInfo/SpecializationAdditionalInfo.tsx
  src/entities/specialization/ui/SpecializationCard/SpecializationCard.tsx
  src/pages/admin/specialization/specializationDetail/ui/SpecializationDetailPage/SpecializationDetailPage.tsx
  src/pages/admin/specialization/specializationDetail/ui/SpecializationPageContent/SpecializationPageContent.module.css
  src/pages/admin/specialization/specializationDetail/ui/SpecializationPageContent/SpecializationPageContent.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/specialization/index.ts
  src/widgets/specialization/ui/SpecializationAdditionalInfoDrawer/SpecializationAdditionalInfoDrawer.module.css
  src/widgets/specialization/ui/SpecializationAdditionalInfoDrawer/SpecializationAdditionalInfoDrawer.tsx
  src/widgets/specialization/ui/SpecializationHeader/SpecializationHeader.module.css
  src/widgets/specialization/ui/SpecializationHeader/SpecializationHeader.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2172: remove CollectionSelect.test.tsx
  src/entities/collection/ui/CollectionSelect/CollectionSelect.test.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2175: Replaced by h1 h2 p on the component Text
  src/entities/specialization/ui/SpecializationCard/SpecializationCard.module.css
  src/entities/specialization/ui/SpecializationCard/SpecializationCard.skeleton.tsx
  src/entities/specialization/ui/SpecializationCard/SpecializationCard.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2158: add handleApiError tests
  src/shared/libs/query/handleApiError/handleApiError.test.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2197: improve skeletons for SpecializationDetailPage
  src/entities/specialization/ui/SpecializationCard/SpecializationCard.skeleton.tsx
  src/pages/admin/specialization/specializationDetail/ui/SpecializationDetailPage/SpecializationDetailPage.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2175: changed according to comments
  src/entities/specialization/ui/SpecializationCard/SpecializationCard.module.css
  src/entities/specialization/ui/SpecializationCard/SpecializationCard.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2197: improve skeletons for SpecializationDetailPage
  src/pages/admin/specialization/specializationDetail/ui/SpecializationDetailPage/SpecializationDetailPage.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2082: EntitySelect is created for different selects to unify their logic
  src/entities/auth/index.ts
  src/entities/collection/ui/CollectionForm/CollectionForm.tsx
  src/entities/company/ui/CompanySelect/CompanySelect.module.css
  src/entities/company/ui/CompanySelect/CompanySelect.tsx
  src/entities/programmingLanguage/ui/ProgrammingLanguageSelect/ProgrammingLanguageSelect.tsx
  src/entities/resource/ui/ResourceSelect/ResourceSelect.tsx
  src/entities/skill/ui/SkillSelect/SkillSelect.tsx
  src/entities/specialization/ui/SpecializationSelect/SpecializationSelect.tsx
  src/entities/task/ui/TaskCategorySelect/TaskCategorySelect.tsx
  src/entities/topic/ui/TopicSelect/TopicSelect.tsx
  src/entities/user/ui/RoleSelect/RoleSelect.tsx
  src/shared/ui/Dropdown/index.ts
  src/shared/ui/EntitySelect/EntitySelect.tsx
  src/shared/ui/EntitySelect/index.ts
  src/shared/ui/SelectWithChips/SelectWithChips.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2188: add unit test for TablePagination
  src/shared/ui/TablePagination/TablePagination.skeleton.tsx
  src/shared/ui/TablePagination/TablePagination.test.tsx
  src/shared/ui/TablePagination/TablePagination.tsx
  src/shared/ui/TablePagination/constants.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2180: заменил h1, h2, p на компонент Text с соответствующим вариантом
  .env.example
  package-lock.json
  src/entities/skill/ui/SkillCard/SkillCard.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2180: откат изменений в .env.example и package-lock.json
  .env.example
  package-lock.json
Due: none

YH-2188: remove duplicate tests, add render wrapper test
  src/shared/ui/TablePagination/TablePagination.test.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2197: Add skeleton for TopicDetailPage
  src/entities/topic/index.ts
  src/entities/topic/ui/TopicAdditionalInfo/TopicAdditionalInfo.skeleton.tsx
  src/entities/topic/ui/TopicCard/TopicCard.skeleton.tsx
  src/pages/admin/topic/topicDetail/ui/TopicDetailPage/TopicDetailPage.skeleton.tsx
  src/pages/admin/topic/topicDetail/ui/TopicDetailPage/TopicDetailPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2175: changed according to new comments
  src/entities/specialization/ui/SpecializationCard/SpecializationCard.module.css
  src/entities/specialization/ui/SpecializationCard/SpecializationCard.skeleton.tsx
  src/entities/specialization/ui/SpecializationCard/SpecializationCard.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2176: Refactor widget structure and add skeleton
  src/entities/specialization/ui/SpecializationAdditionalInfo/SpecializationAdditionalInfo.skeleton.tsx
  src/pages/admin/specialization/specializationDetail/ui/SpecializationDetailPage/SpecializationDetailPage.skeleton.tsx
  src/pages/admin/specialization/specializationDetail/ui/SpecializationPageContent/SpecializationPageContent.tsx
  src/widgets/specialization/SpecializationHeader/index.ts
  src/widgets/specialization/SpecializationHeader/ui/SpecializationAdditionalInfoDrawer/SpecializationAdditionalInfoDrawer.module.css
  src/widgets/specialization/SpecializationHeader/ui/SpecializationAdditionalInfoDrawer/SpecializationAdditionalInfoDrawer.skeleton.tsx
  src/widgets/specialization/SpecializationHeader/ui/SpecializationAdditionalInfoDrawer/SpecializationAdditionalInfoDrawer.tsx
  src/widgets/specialization/SpecializationHeader/ui/SpecializationHeader/SpecializationHeader.module.css
  src/widgets/specialization/SpecializationHeader/ui/SpecializationHeader/SpecializationHeader.skeleton.tsx
  src/widgets/specialization/SpecializationHeader/ui/SpecializationHeader/SpecializationHeader.tsx
  src/widgets/specialization/index.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2176: Correct imports and SpecializationCardSkeleton
  src/entities/specialization/index.ts
  src/entities/specialization/ui/SpecializationCard/SpecializationCard.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2164: add tests for BaseFilterSection
  src/shared/ui/BaseFilterSection/BaseFilterSection.test.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2204: The category field for tasks has been updated
  src/entities/task/api/__mocks__/data/tasksMock.ts
  src/entities/task/model/types/task.ts
  src/entities/task/ui/TaskCard/TaskCard.tsx
  src/features/task/createTask/api/__mocks__/taskCreateMock.ts
  src/widgets/task/TaskTabs/ui/tabs/TaskDescription/TaskDescription.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2179: add locales for SkillsTable component
  public/locales/en/skill.json
  public/locales/ru/skill.json
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2179: add TableCellWithTooltip component and refactor SkillsTable component
  src/pages/admin/skill/skills/ui/SkillsTable/SkillsTable.module.css
  src/pages/admin/skill/skills/ui/SkillsTable/SkillsTable.tsx
  src/shared/ui/TableCellWithTooltip/TableCellWithTooltip.module.css
  src/shared/ui/TableCellWithTooltip/TableCellWithTooltip.tsx
  src/shared/ui/TableCellWithTooltip/index.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2179: add isLimitSize for Text in TableCellWithTooltip and remove dublicated css properties
  src/shared/ui/TableCellWithTooltip/TableCellWithTooltip.module.css
  src/shared/ui/TableCellWithTooltip/TableCellWithTooltip.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2179: change useTruncation logic to fix the calculation bug in firefox
  src/shared/libs/dom/useTruncation/useTruncation.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2068: Updating the category field for tasks
  public/locales/en/task.json
  public/locales/ru/task.json
  src/entities/auth/index.ts
  src/entities/task/api/__mocks__/data/tasksMock.ts
  src/entities/task/model/types/task.ts
  src/entities/task/ui/TaskForm/TaskForm.tsx
  src/features/task/createTask/api/__mocks__/taskCreateMock.ts
  src/features/task/createTask/lib/validation/taskCreateSchema.ts
  src/features/task/editTask/lib/validation/taskEditSchema.ts
  src/features/task/editTask/ui/TaskEditForm/TaskEditForm.tsx
  src/features/task/filterTasks/model/hooks/useGetTasksFilterParams.ts
  src/pages/admin/task/taskDetail/ui/TaskAdditionalInfo/TaskAdditionalInfo.tsx
  src/pages/admin/task/taskDetail/ui/TaskAdditionalInfoDrawer/TaskAdditionalInfoDrawer.tsx
  src/pages/admin/task/taskDetail/ui/TaskHeader/TaskHeader.tsx
  src/pages/admin/task/taskDetail/ui/TaskPageContent/TaskPageContent.tsx
  src/pages/admin/task/tasks/ui/TasksTable/TasksTable.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2204: The category field for tasks has been updated
  src/entities/task/ui/TaskCard/TaskCard.tsx
  src/widgets/task/TaskTabs/ui/tabs/TaskDescription/TaskDescription.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2202: fix
  src/entities/task/api/__mocks__/data/tasksMock.ts
  src/entities/task/model/types/task.ts
  src/entities/task/ui/TaskForm/TaskForm.tsx
  src/features/task/createTask/api/__mocks__/taskCreateMock.ts
  src/features/task/createTask/lib/validation/taskCreateSchema.ts
  src/features/task/editTask/lib/validation/taskEditSchema.ts
  src/features/task/editTask/ui/TaskEditForm/TaskEditForm.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2068: Updating the category field for tasks (#1332)
  public/locales/en/task.json
  public/locales/ru/task.json
  src/entities/auth/index.ts
  src/entities/task/api/__mocks__/data/tasksMock.ts
  src/entities/task/model/types/task.ts
  src/entities/task/ui/TaskCard/TaskCard.tsx
  src/entities/task/ui/TaskForm/TaskForm.tsx
  src/features/task/createTask/api/__mocks__/taskCreateMock.ts
  src/features/task/createTask/lib/validation/taskCreateSchema.ts
  src/features/task/editTask/lib/validation/taskEditSchema.ts
  src/features/task/editTask/ui/TaskEditForm/TaskEditForm.tsx
  src/features/task/filterTasks/model/hooks/useGetTasksFilterParams.ts
  src/pages/admin/task/taskDetail/ui/TaskAdditionalInfo/TaskAdditionalInfo.tsx
  src/pages/admin/task/taskDetail/ui/TaskAdditionalInfoDrawer/TaskAdditionalInfoDrawer.tsx
  src/pages/admin/task/taskDetail/ui/TaskHeader/TaskHeader.tsx
  src/pages/admin/task/taskDetail/ui/TaskPageContent/TaskPageContent.tsx
  src/pages/admin/task/tasks/ui/TasksTable/TasksTable.tsx
  src/widgets/task/TaskTabs/ui/tabs/TaskDescription/TaskDescription.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2200: add unit test for FilterDrawer
  src/shared/ui/FiltersDrawer/FiltersDrawer.skeleton.tsx
  src/shared/ui/FiltersDrawer/FiltersDrawer.test.tsx
  src/shared/ui/FiltersDrawer/FiltersDrawer.tsx
  src/shared/ui/FiltersDrawer/constants.ts
Due: npm run prettier, npm run lint:ts:fix

Path conditions:
  npm run prettier: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:ts:fix: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:css:fix: any of: *.css
