Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

.lintstagedrc:

{
  "./**/*.{ts,tsx,js,jsx}": ["npm run prettier", "npm run lint:ts:fix"],
  "*.css": "npm run lint:css:fix"
}

YH-1626: Added stubs for specializations
  public/locales/en/specialization.json
  public/locales/ru/specialization.json
  src/pages/admin/specialization/specializationCreate/ui/SpecializationCreatePage/SpecializationCreatePage.tsx
  src/pages/admin/specialization/specializationDetail/ui/SpecializationDetailPage/SpecializationDetailPage.tsx
  src/pages/admin/specialization/specializationEdit/ui/SpecializationEditPage/SpecializationEditPage.tsx
  src/pages/admin/specialization/specializations/ui/SpecializationsPage/SpecializationsPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1623: add stubs for admin collections pages (#1087)
  public/locales/en/collection.json
  public/locales/ru/collection.json
  src/pages/admin/collection/collectionCreate/ui/CollectionCreatePage/CollectionCreatePage.tsx
  src/pages/admin/collection/collectionDetail/ui/CollectionPage/CollectionPage.tsx
  src/pages/admin/collection/collectionEdit/ui/CollectionEditPage/CollectionEditPage.tsx
  src/pages/admin/collection/collections/ui/CollectionsPage/CollectionsPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-864: added tests for counter component (#1074)
  src/shared/ui/Counter/Counter.test.tsx
  src/shared/ui/Counter/Counter.tsx
  src/shared/ui/Counter/constants.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1627: add stubs for admin topic pages
  public/locales/en/topic.json
  public/locales/ru/topic.json
  src/pages/admin/topic/topicCreate/ui/TopicCreatePage/TopicCreatePage.tsx
  src/pages/admin/topic/topicDetail/ui/TopicDetailPage/TopicDetailPage.tsx
  src/pages/admin/topic/topicEdit/ui/TopicEditPage/TopicEditPage.tsx
  src/pages/admin/topic/topics/ui/TopicsPage/TopicsPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1674: update TasksPage UI, add breadcrumbs and filters.
  public/locales/en/task.json
  public/locales/en/translation.json
  public/locales/ru/task.json
  public/locales/ru/translation.json
  src/app/providers/router/routeConfig.tsx
  src/entities/programmingLanguage/api/programmingLanguageApi.ts
  src/entities/programmingLanguage/index.ts
  src/entities/programmingLanguage/model/types/programmingLanguage.ts
  src/entities/task/index.ts
  src/entities/task/model/types/filters.ts
  src/entities/task/model/types/task.ts
  src/entities/task/ui/TaskCard/TaskCard.module.css
  src/entities/task/ui/TaskCard/TaskCard.tsx
  src/entities/task/ui/TaskDifficultyChip/TaskDifficultyChip.module.css
  src/entities/task/ui/TaskDifficultyChip/TaskDifficultyChip.tsx
  src/features/task/filterTasks/index.ts
  src/features/task/filterTasks/model/hooks/useGetTasksFilterParams.ts
  src/features/task/filterTasks/model/hooks/useTasksFilters.ts
  src/features/task/filterTasks/ui/TaskDifficultyFilter/TaskDifficultyFilter.module.css
  src/features/task/filterTasks/ui/TaskDifficultyFilter/TaskDifficultyFilter.tsx
  src/features/task/filterTasks/ui/TaskFilters/TasksFilters.tsx
  src/features/task/filterTasks/ui/TaskLanguagesFilter/TaskLanguagesFilter.tsx
  src/pages/tasks/task/ui/TaskPage.tsx
  src/pages/tasks/tasks/ui/TasksPage.module.css
  src/pages/tasks/tasks/ui/TasksPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/query/apiTags.ts
  src/shared/config/router/routes.ts
  src/shared/ui/BaseFilterSection/BaseFilterSection.tsx
  src/shared/ui/DifficultyBadge/DifficultyBadge.module.css
  src/shared/ui/DifficultyBadge/DifficultyBadge.tsx
  src/shared/ui/DifficultyBadge/index.ts
  src/widgets/PageWrapper/ui/PageWrapper/PageWrapper.tsx
  src/widgets/task/TasksList/index.ts
  src/widgets/task/TasksList/ui/TasksList.module.css
  src/widgets/task/TasksList/ui/TasksList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1520: isMy requests filter added
  src/features/resources/filterResourceRequests/model/hooks/useGetResourceRequestsFilterParams.ts
  src/features/resources/filterResourceRequests/model/hooks/useResourceRequestsFilters.ts
  src/features/resources/filterResourceRequests/ui/ResourceRequestsFilters/ResourceRequestsFilters.tsx
  src/pages/admin/resource/resources/ui/tabs/ResourcesRequestsTab/ResourcesRequestsTab.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1537: added trim validation for topic title and description fields
  src/features/topics/editTopic/lib/validation/topicEditSchema.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1557: added a skeleton to the documents page
  src/pages/landing/docs/ui/DocsPage/DocsPage.skeleton.tsx
  src/pages/landing/docs/ui/DocsPage/DocsPage.tsx
  src/widgets/Docs/DocsBlock/index.ts
  src/widgets/Docs/DocsBlock/model/types/types.ts
  src/widgets/Docs/DocsBlock/ui/DocItem/DocItem.skeleton.tsx
  src/widgets/Docs/DocsBlock/ui/DocItem/DocItem.tsx
  src/widgets/Docs/DocsBlock/ui/Docs/DocsList.skeleton.tsx
  src/widgets/Docs/DocsBlock/ui/Docs/DocsList.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1520: isMy requests filter added (#1086)
  public/locales/en/resources.json
  public/locales/en/translation.json
  public/locales/ru/resources.json
  public/locales/ru/translation.json
  src/entities/resource/model/types/resourceRequest.ts
  src/features/resources/filterResourceRequests/model/hooks/useGetResourceRequestsFilterParams.ts
  src/features/resources/filterResourceRequests/model/hooks/useResourceRequestsFilters.ts
  src/features/resources/filterResourceRequests/model/types/filters.ts
  src/features/resources/filterResourceRequests/ui/ResourceRequestsFilters/ResourceRequestsFilters.tsx
  src/features/resources/myRequestsFilter/index.ts
  src/features/resources/myRequestsFilter/model/hooks.ts
  src/features/resources/myRequestsFilter/ui/MyRequestsToggle.tsx
  src/pages/admin/resource/resources/ui/tabs/ResourcesRequestsTab/ResourcesRequestsTab.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1537: added trim validation for topic title and description fields (#1092)
  src/features/topics/editTopic/lib/validation/topicEditSchema.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1557: added a skeleton to the documents page
  src/app/layouts/LandingLayout/SkeletonGenerator/SkeletonGenerator.tsx
  src/pages/landing/docs/index.ts
  src/pages/landing/docs/ui/DocsPage/DocsPage.tsx
  src/widgets/Docs/DocsBlock/model/types/types.ts
  src/widgets/Docs/DocsBlock/ui/DocItem/DocItem.skeleton.tsx
  src/widgets/Docs/DocsBlock/ui/DocItem/DocItem.tsx
  src/widgets/Docs/DocsBlock/ui/Docs/DocsList.skeleton.tsx
  src/widgets/Docs/DocsBlock/ui/Docs/DocsList.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1624: добавлены заглушки для списка и деталей компаний (WIP)
  public/locales/en/companies.json
  public/locales/ru/companies.json
  src/pages/admin/company/companies/ui/CompaniesTablePage/CompaniesTablePage.tsx
  src/pages/admin/company/companyDetail/ui/CompanyDetailPage/CompanyDetailPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1557: added a skeleton to the documents page (#1093)
  src/app/layouts/LandingLayout/SkeletonGenerator/SkeletonGenerator.tsx
  src/pages/landing/docs/index.ts
  src/pages/landing/docs/ui/DocsPage/DocsPage.skeleton.tsx
  src/widgets/Docs/DocsBlock/index.ts
  src/widgets/Docs/DocsBlock/ui/DocItem/DocItem.skeleton.tsx
  src/widgets/Docs/DocsBlock/ui/DocItem/DocItem.tsx
  src/widgets/Docs/DocsBlock/ui/Docs/DocsList.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1674: apply review fixes across tasks filters, UI, and api typing.
  src/entities/programmingLanguage/api/programmingLanguageApi.ts
  src/entities/programmingLanguage/model/types/programmingLanguage.ts
  src/entities/task/ui/TaskCard/TaskCard.tsx
  src/entities/task/ui/TaskDifficultyChip/TaskDifficultyChip.module.css
  src/entities/task/ui/TaskDifficultyChip/TaskDifficultyChip.tsx
  src/features/resources/myRequestsFilter/ui/MyRequestsToggle.tsx
  src/features/task/filterTasks/model/hooks/useGetTasksFilterParams.ts
  src/features/task/filterTasks/ui/TaskDifficultyFilter/TaskDifficultyFilter.tsx
  src/features/task/filterTasks/ui/TaskFilters/TasksFilters.tsx
  src/shared/ui/DifficultyBadge/DifficultyBadge.module.css
  src/shared/ui/DifficultyBadge/DifficultyBadge.tsx
  src/shared/ui/DifficultyBadge/index.ts
  src/widgets/task/TasksList/ui/TasksList.module.css
  src/widgets/task/TasksList/ui/TasksList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1674: apply review fixes across tasks filters, UI, and api typing.
  src/entities/programmingLanguage/model/constants/programmingLanguageApiUrls.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1648: Onboarding has been adjusted to close the modal window and navigate back to previous steps.
  src/shared/ui/Stepper/Stepper.tsx
  src/shared/ui/Stepper/types.ts
  src/widgets/Main/OnboardingModal/ui/FinalStep/FinalStep/FinalStep.tsx
  src/widgets/Main/OnboardingModal/ui/FinalStep/NavigationBlock/NavigationBlock.tsx
  src/widgets/Main/OnboardingModal/ui/OnboardingModal/OnboardingModal.tsx
  src/widgets/Main/OnboardingModal/ui/SubscriptionBenefitsStep/SubscriptionBenefitsStep.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1679: added tests for SimpleStub and checked coverage
  src/shared/ui/SimpleStub/SimpleStub.test.tsx
  src/shared/ui/SimpleStub/SimpleStub.tsx
  src/shared/ui/SimpleStub/constants.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1624: добавить заглушки для страниц компаний
  src/pages/admin/company/companies/ui/CompaniesTablePage/CompaniesTablePage.tsx
  src/pages/admin/company/companyCreate/ui/CompanyCreatePage/CompanyCreatePage.tsx
  src/pages/admin/company/companyEdit/ui/CompanyEditPage/CompanyEditPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1674: update TasksPage UI, add breadcrumbs and filters. (#1091)
  public/locales/en/task.json
  public/locales/en/translation.json
  public/locales/ru/task.json
  public/locales/ru/translation.json
  src/app/providers/router/routeConfig.tsx
  src/entities/programmingLanguage/api/programmingLanguageApi.ts
  src/entities/programmingLanguage/index.ts
  src/entities/programmingLanguage/model/constants/programmingLanguageApiUrls.ts
  src/entities/programmingLanguage/model/types/programmingLanguage.ts
  src/entities/task/index.ts
  src/entities/task/model/types/filters.ts
  src/entities/task/model/types/task.ts
  src/entities/task/ui/TaskCard/TaskCard.module.css
  src/entities/task/ui/TaskCard/TaskCard.tsx
  src/entities/task/ui/TaskDifficultyChip/TaskDifficultyChip.module.css
  src/entities/task/ui/TaskDifficultyChip/TaskDifficultyChip.tsx
  src/features/resources/myRequestsFilter/ui/MyRequestsToggle.tsx
  src/features/task/filterTasks/index.ts
  src/features/task/filterTasks/model/hooks/useGetTasksFilterParams.ts
  src/features/task/filterTasks/model/hooks/useTasksFilters.ts
  src/features/task/filterTasks/ui/TaskDifficultyFilter/TaskDifficultyFilter.module.css
  src/features/task/filterTasks/ui/TaskDifficultyFilter/TaskDifficultyFilter.tsx
  src/features/task/filterTasks/ui/TaskFilters/TasksFilters.tsx
  src/features/task/filterTasks/ui/TaskLanguagesFilter/TaskLanguagesFilter.tsx
  src/pages/tasks/task/ui/TaskPage.tsx
  src/pages/tasks/tasks/ui/TasksPage.module.css
  src/pages/tasks/tasks/ui/TasksPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/query/apiTags.ts
  src/shared/config/router/routes.ts
  src/shared/ui/BaseFilterSection/BaseFilterSection.tsx
  src/widgets/PageWrapper/ui/PageWrapper/PageWrapper.tsx
  src/widgets/task/TasksList/index.ts
  src/widgets/task/TasksList/ui/TasksList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1648: Onboarding has been adjusted to close the modal window and navigate back to previous steps. (#1095)
  src/shared/ui/Stepper/Stepper.tsx
  src/shared/ui/Stepper/types.ts
  src/widgets/Main/OnboardingModal/ui/FinalStep/FinalStep/FinalStep.tsx
  src/widgets/Main/OnboardingModal/ui/FinalStep/NavigationBlock/NavigationBlock.tsx
  src/widgets/Main/OnboardingModal/ui/OnboardingModal/OnboardingModal.tsx
  src/widgets/Main/OnboardingModal/ui/SubscriptionBenefitsStep/SubscriptionBenefitsStep.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1679: added tests for SimpleStub and checked coverage (#1094)
  src/shared/ui/SimpleStub/SimpleStub.test.tsx
  src/shared/ui/SimpleStub/SimpleStub.tsx
  src/shared/ui/SimpleStub/constants.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1627: Corrected comments in TopicsPage and TopicDetailPage
  src/pages/admin/topic/topicDetail/ui/TopicDetailPage/TopicDetailPage.tsx
  src/pages/admin/topic/topics/ui/TopicsPage/TopicsPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1686: Added stories and screenshots to the StatusChip component
  .loki/reference/chrome_iphone7_shared_StatusChip_Green.png
  .loki/reference/chrome_iphone7_shared_StatusChip_Purple.png
  .loki/reference/chrome_iphone7_shared_StatusChip_Red.png
  .loki/reference/chrome_iphone7_shared_StatusChip_Yellow.png
  .loki/reference/chrome_laptop_shared_StatusChip_Green.png
  .loki/reference/chrome_laptop_shared_StatusChip_Purple.png
  .loki/reference/chrome_laptop_shared_StatusChip_Red.png
  .loki/reference/chrome_laptop_shared_StatusChip_Yellow.png
  src/shared/ui/StatusChip/StatusChip.stories.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1624: исправил замечания по ревью
  src/pages/admin/company/companies/ui/CompaniesTablePage/CompaniesTablePage.tsx
  src/pages/admin/company/companyDetail/ui/CompanyDetailPage/CompanyDetailPage.tsx
  src/pages/admin/company/companyEdit/ui/CompanyEditPage/CompanyEditPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1627: add stubs for admin topic pages (#1090)
  public/locales/en/topic.json
  public/locales/ru/topic.json
  src/pages/admin/topic/topicCreate/ui/TopicCreatePage/TopicCreatePage.tsx
  src/pages/admin/topic/topicDetail/ui/TopicDetailPage/TopicDetailPage.tsx
  src/pages/admin/topic/topicEdit/ui/TopicEditPage/TopicEditPage.tsx
  src/pages/admin/topic/topics/ui/TopicsPage/TopicsPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1686: Added stories and screenshots to the StatusChip component (#1097)
  .loki/reference/chrome_iphone7_shared_StatusChip_Green.png
  .loki/reference/chrome_iphone7_shared_StatusChip_Purple.png
  .loki/reference/chrome_iphone7_shared_StatusChip_Red.png
  .loki/reference/chrome_iphone7_shared_StatusChip_Yellow.png
  .loki/reference/chrome_laptop_shared_StatusChip_Green.png
  .loki/reference/chrome_laptop_shared_StatusChip_Purple.png
  .loki/reference/chrome_laptop_shared_StatusChip_Red.png
  .loki/reference/chrome_laptop_shared_StatusChip_Yellow.png
  src/shared/ui/StatusChip/StatusChip.stories.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1685: add admin tasks list page with filters, table and stubs.
  public/locales/en/task.json
  public/locales/en/translation.json
  public/locales/ru/task.json
  public/locales/ru/translation.json
  src/app/providers/router/routeConfig.tsx
  src/app/providers/store/config.ts
  src/pages/admin/task/tasks/index.ts
  src/pages/admin/task/tasks/model/selectors/tasksTablePageSelectors.ts
  src/pages/admin/task/tasks/model/slices/tasksTablePageSlice.ts
  src/pages/admin/task/tasks/model/types/tasksTablePageTypes.ts
  src/pages/admin/task/tasks/ui/TasksTable/TasksTable.tsx
  src/pages/admin/task/tasks/ui/TasksTablePage/TasksTablePage.lazy.tsx
  src/pages/admin/task/tasks/ui/TasksTablePage/TasksTablePage.module.css
  src/pages/admin/task/tasks/ui/TasksTablePage/TasksTablePage.tsx
  src/shared/assets/icons/lifeBuoy.svg
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/redux/State.ts
  src/shared/config/router/routes.ts
  src/shared/libs/app/types.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1690: add character counter and max length limit to TextArea component.
  src/shared/ui/TextArea/TextArea.module.css
  src/shared/ui/TextArea/TextArea.tsx
  src/shared/ui/TextArea/types.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1647: Fixed the styles of the modal window for deleting a profile
  src/shared/ui/ConfirmationDeleteModal/ConfirmationDeleteModal.module.css
Due: npm run lint:css:fix

YH-1682: добавлен дропдаун выбора ключевых слов в форму ресурса
  src/entities/resource/api/resourceApi.ts
  src/entities/resource/model/constants/resource.ts
  src/entities/resource/model/types/resource.ts
  src/entities/resource/ui/ResourceForm/ResourceForm.module.css
  src/entities/resource/ui/ResourceForm/ResourceForm.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1671: QuestionsPage skills request dublication
  src/pages/wiki/question/questions/ui/QuestionsPage/QuestionsPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1682: добавлены переводы для ключевых слов в форме ресурса
  public/locales/en/resources.json
  public/locales/ru/resources.json
Due: none

YH-1644: fixed tabs that went beyond the page boundaries
  src/shared/ui/Tabs/Tabs.module.css
Due: npm run lint:css:fix

YH-1626: Fixed comments
  src/pages/admin/specialization/specializationDetail/ui/SpecializationDetailPage/SpecializationDetailPage.tsx
  src/pages/admin/specialization/specializations/ui/SpecializationsPage/SpecializationsPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1581: resolved the conflict (part 2)
  src/entities/resource/api/__mock__/data/resourcesRequestsMock.ts
  src/entities/resource/api/__mock__/index.ts
  src/entities/resource/api/__mock__/resourcesRequestsMock.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1681: added keywords dropdown at collection create page
  src/entities/collection/ui/CollectionForm/CollectionForm.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1581: resolved the conflict (part 2) (#1085)
  src/entities/resource/api/__mock__/data/resourcesRequestsMock.ts
  src/entities/resource/api/__mock__/index.ts
  src/entities/resource/api/__mock__/resourcesRequestsMock.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1644: fixed tabs that went beyond the page boundaries (#1103)
  src/shared/ui/Tabs/Tabs.module.css
Due: npm run lint:css:fix

YH-1671: QuestionsPage skills request dublication (#1102)
  src/pages/wiki/question/questions/ui/QuestionsPage/QuestionsPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1682: добавлен дропдаун выбора ключевых слов в форму ресурса (#1101)
  public/locales/en/resources.json
  public/locales/ru/resources.json
  src/entities/resource/api/resourceApi.ts
  src/entities/resource/model/constants/resource.ts
  src/entities/resource/model/types/resource.ts
  src/entities/resource/ui/ResourceForm/ResourceForm.module.css
  src/entities/resource/ui/ResourceForm/ResourceForm.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix
