Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1733: refactored createTopic mock in topics feature
  src/app/index.tsx
  src/app/msw/handlers.ts
  src/entities/skill/api/__mocks__/skillListMock.ts
  src/entities/topic/api/__mock__/index.ts
  src/entities/topic/index.ts
  src/entities/topic/model/constants/topicConstants.ts
  src/features/topics/createTopics/api/__mock__/createTopic.ts
  src/features/topics/createTopics/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1625: fix hasData check and add i18n
  public/locales/en/skill.json
  public/locales/ru/skill.json
  src/pages/admin/skill/skillDetail/ui/SkillDetailPage/SkillDetailPage.tsx
  src/pages/admin/skill/skills/ui/SkillsPage/SkillsPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1601: fix error
  src/features/profile/editProfileForm/ui/SkillsTabForm/SkillsTabForm.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1707: adding tests for the Stub component (#1110)
  src/shared/ui/Stub/Stub.test.tsx
  src/shared/ui/Stub/Stub.tsx
  src/shared/ui/Stub/constants.ts
  src/shared/ui/Stub/index.ts
  src/shared/ui/Stub/types.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1628: добавлены заглушки для страниц ресурсов (#1122)
  public/locales/en/resources.json
  public/locales/ru/resources.json
  src/pages/admin/resource/resourceCreate/ui/ResourceCreatePage/ResourceCreatePage.tsx
  src/pages/admin/resource/resourceDetail/ui/RecourcePageContent/ResourcePageContent.module.css
  src/pages/admin/resource/resourceDetail/ui/RecourcePageContent/ResourcePageContent.tsx
  src/pages/admin/resource/resourceDetail/ui/ResourcePage/ResourcePage.tsx
  src/pages/admin/resource/resourceRequestDetail/ui/ResourceRequestViewPage/ResourceRequestViewPage.tsx
  src/pages/admin/resource/resources/ui/tabs/ResourcesAllTab/ResourcesAllTab.tsx
  src/pages/admin/resource/resources/ui/tabs/ResourcesRequestsTab/ResourcesRequestsTab.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1710: add unit tests for Banner (#1123)
  src/shared/ui/Banner/Banner.skeleton.tsx
  src/shared/ui/Banner/Banner.test.tsx
  src/shared/ui/Banner/Banner.tsx
  src/shared/ui/Banner/constants.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1742: fix
  src/app/index.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1625: fix
  src/pages/admin/skill/skillDetail/ui/SkillDetailPage/SkillDetailPage.tsx
  src/pages/admin/skill/skills/ui/SkillsPage/SkillsPage.tsx
Due: npm run prettier, npm run lint:ts:fix

Feature/yh 1723 add comprehensive validation for question forms and refactor with FormField component (#1124)
  package-lock.json
  package.json
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/entities/question/ui/QuestionForm/QuestionForm.module.css
  src/entities/question/ui/QuestionForm/QuestionForm.tsx
  src/features/question/createQuestion/lib/validation/questionCreateSchema.ts
  src/features/question/editQuestion/lib/validation/questionEditSchema.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/libs/fp/index.ts
  src/shared/libs/fp/isEmptyHtml/index.ts
  src/shared/libs/fp/isEmptyHtml/isEmptyHtml.ts
  src/shared/ui/TextEditor/TextEditor.module.css
  src/shared/ui/TextEditor/TextEditor.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1620: added stub for dashboard/interview pages (#1125)
  public/locales/en/interviewHistory.json
  public/locales/en/interviewQuizResult.json
  public/locales/ru/interviewHistory.json
  public/locales/ru/interviewQuizResult.json
  src/app/providers/router/routeConfig.tsx
  src/pages/interview/createQuiz/ui/CreateQuizPage/CreateQuizPage.tsx
  src/pages/interview/interviewHistory/model/hooks/useInterviewHistoryData.ts
  src/pages/interview/interviewHistory/ui/InterviewHistoryPage/InterviewHistoryPage.module.css
  src/pages/interview/interviewHistory/ui/InterviewHistoryPage/InterviewHistoryPage.tsx
  src/pages/interview/interviewMockQuizResult/ui/InterviewMockQuizResultPage/InterviewMockQuizResultPage.tsx
  src/pages/interview/interviewQuiz/ui/InterviewQuizPage/InterviewQuizPage.tsx
  src/pages/interview/interviewQuizResult/ui/InterviewQuizResultPage/InterviewQuizResultPage.tsx
  src/pages/interview/interviewStatistics/ui/InterviewStatisticsPage/InterviewStatisticsPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/interview/PassedQuizzesList/ui/FullPassedQuizzesList/FullPassedQuizzesList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1629: fix
  src/pages/admin/specialization/specializations/ui/SpecializationsTable/SpecializationsTable.tsx
  src/pages/admin/user/userDetail/ui/UserDetailPage/UserDetailPage.tsx
  src/pages/admin/user/userEdit/ui/UserEditPage/UserEditPage.tsx
  src/pages/admin/user/users/ui/UserTablePage/UsersTablePage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1733: fix
  src/app/index.tsx
  src/entities/topic/api/__mock__/createTopic.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1560: Add RequestInfoPageSkeleton component for RequestInfoPage (#1129)
  src/pages/wiki/resource/resourceRequestDetail/ui/RequestInfoPage/RequestInfoPage.skeleton.tsx
  src/pages/wiki/resource/resourceRequestDetail/ui/RequestInfoPage/RequestInfoPage.tsx
Due: npm run prettier, npm run lint:ts:fix

Feature/yh 1625 (#1134)
  public/locales/en/skill.json
  public/locales/ru/skill.json
  src/pages/admin/skill/skillCreate/ui/SkillCreatePage/SkillCreatePage.tsx
  src/pages/admin/skill/skillDetail/ui/SkillDetailPage/SkillDetailPage.tsx
  src/pages/admin/skill/skillEdit/ui/SkillEditPage/SkillEditPage.tsx
  src/pages/admin/skill/skills/ui/SkillsPage/SkillsPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1742: add mock request to delete a topic (#1132)
  src/app/msw/handlers.ts
  src/entities/topic/index.ts
  src/features/topics/deleteTopic/api/__mocks__/deleteTopicMock.ts
  src/features/topics/deleteTopic/api/__mocks__/index.ts
  src/features/topics/deleteTopic/index.ts
Due: npm run prettier, npm run lint:ts:fix

Merge pull request #1121 from YeaHubTeam/release/1.7.1 (#1128)
  src/app/msw/handlers.ts
  src/entities/skill/api/__mocks__/skillListMock.ts
  src/entities/topic/index.ts
  src/features/topics/createTopics/api/__mock__/createTopic.ts
  src/features/topics/createTopics/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1629: add stubs for admin users pages (#1127)
  public/locales/en/user.json
  public/locales/ru/user.json
  src/pages/admin/user/userDetail/ui/UserDetailPage/UserDetailPage.tsx
  src/pages/admin/user/userEdit/ui/UserEditPage/UserEditPage.tsx
  src/pages/admin/user/users/ui/UserTablePage/UsersTablePage.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1601: fix(skill-select): skip skills request until specialization is selected (#1108)
  src/entities/skill/ui/SkillSelect/SkillSelect.tsx
  src/entities/topic/ui/TopicForm/TopicForm.tsx
  src/features/profile/editProfileForm/ui/SkillsTabForm/SkillsTabForm.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1454: fix
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/entities/user/api/usersRatingApi.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1758: add feature toggle
  src/app/layouts/LandingLayout/LandingLayout.tsx
  src/app/layouts/MainLayout/MainLayout.tsx
  src/entities/featureToggle/index.ts
  src/entities/featureToggle/model/constants/featureToggles.ts
  src/entities/featureToggle/model/types/featureToggle.ts
  src/entities/featureToggle/ui/WithFeature/WithFeature.tsx
  src/entities/task/ui/TaskCategoryFilterList/TaskCategoryFilterList.tsx
  src/pages/analytics/analytics/ui/AnalyticsPage/AnalyticsPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1758: add feature toggle (#1137)
  src/app/layouts/LandingLayout/LandingLayout.tsx
  src/app/layouts/MainLayout/MainLayout.tsx
  src/entities/featureToggle/index.ts
  src/entities/featureToggle/model/constants/featureToggles.ts
  src/entities/featureToggle/model/types/featureToggle.ts
  src/entities/featureToggle/ui/WithFeature/WithFeature.tsx
  src/entities/task/ui/TaskCategoryFilterList/TaskCategoryFilterList.tsx
  src/pages/analytics/analytics/ui/AnalyticsPage/AnalyticsPage.tsx
Due: npm run prettier, npm run lint:ts:fix

Release 1.7.3
  RELEASE_NOTES.md
  package-lock.json
  package.json
Due: none

YH-1748: add language change switcher
  public/locales/en/skill.json
  public/locales/ru/skill.json
  src/features/internationalization/switch-language/assets/icons/enIcon.svg
  src/features/internationalization/switch-language/assets/icons/index.ts
  src/features/internationalization/switch-language/assets/icons/ruIcon.svg
  src/features/internationalization/switch-language/ui/LanguageSwitcher/LanguageSwitcher.module.css
  src/features/internationalization/switch-language/ui/LanguageSwitcher/LanguageSwitcher.tsx
  src/widgets/Header/ui/HeaderLayout/HeaderLayout.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1748: fix language bugs
  public/locales/en/auth.json
  public/locales/en/collection.json
  public/locales/en/subscription.json
  public/locales/en/translation.json
  public/locales/ru/subscription.json
  src/features/internationalization/switch-language/ui/LanguageSwitcher/LanguageSwitcher.module.css
  src/features/subscriptions/subscribe/ui/SubscribeButton/SubscribeButton.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Breadcrumbs/Breadcrumbs.tsx
  src/shared/ui/Stub/Stub.tsx
  src/shared/ui/Stub/constants.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1730: fix errors
  config/webpack/types/types.ts
  config/webpack/webpackDevServer.ts
  package.json
  public/locales/en/task.json
  public/locales/ru/task.json
  src/app/index.tsx
  src/entities/task/model/types/task.ts
  src/entities/task/ui/TaskCard/TaskCard.tsx
  src/entities/task/ui/TaskDescription/TaskDescription.tsx
  src/features/subscriptions/unsubscribe/ui/UnsubscribeButton/UnsubscribeButton.module.css
  src/features/subscriptions/unsubscribe/ui/UnsubscribeButton/UnsubscribeButton.tsx
  src/pages/admin/collection/collections/ui/CollectionsPage/CollectionsPage.tsx
  src/pages/profile/settings/ui/ActiveSubscriptionInfo/ActiveSubscriptionInfo.tsx
  src/pages/tasks/task/ui/TaskPageContent/TaskPageContent.module.css
  src/pages/tasks/task/ui/TaskPageContent/TaskPageContent.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/task/TaskWorkspace/model/types/types.ts
  src/widgets/task/TaskWorkspace/ui/TaskOutput/TaskOutput.tsx
  src/widgets/task/TaskWorkspace/ui/TaskOutput/TaskOutputResult/TaskOutputResult.tsx
  src/widgets/task/TaskWorkspace/ui/TaskOutput/TaskOutputTestCaseInfo/TaskOutputTestCaseInfo.tsx
  webpack.config.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1730: refactor
  package-lock.json
  package.json
  src/entities/task/index.ts
  src/entities/task/model/types/task.ts
  src/pages/tasks/task/ui/TaskPageContent/TaskPageContent.module.css
  src/pages/tasks/task/ui/TaskPageContent/TaskPageContent.tsx
  src/shared/ui/Tabs/Tabs.module.css
  src/widgets/task/TaskEditor/index.ts
  src/widgets/task/TaskEditor/ui/TaskEditor.module.css
  src/widgets/task/TaskEditor/ui/TaskEditor.tsx
  src/widgets/task/TaskTabs/index.ts
  src/widgets/task/TaskTabs/libs/hooks/useTaskTabsQuery.ts
  src/widgets/task/TaskTabs/model/types/types.ts
  src/widgets/task/TaskTabs/ui/TaskOutputTestCaseInfo/TaskOutputTestCaseInfo.module.css
  src/widgets/task/TaskTabs/ui/TaskOutputTestCaseInfo/TaskOutputTestCaseInfo.tsx
  src/widgets/task/TaskTabs/ui/TaskSolutionInfo/TaskSolutionInfo.module.css
  src/widgets/task/TaskTabs/ui/TaskSolutionInfo/TaskSolutionInfo.tsx
  src/widgets/task/TaskTabs/ui/TaskTabs.tsx
  src/widgets/task/TaskTabs/ui/TaskTabs/TaskTabs.module.css
  src/widgets/task/TaskTabs/ui/TaskTabs/TaskTabs.tsx
  src/widgets/task/TaskTabs/ui/tabs/TaskDescription/TaskDescription.module.css
  src/widgets/task/TaskTabs/ui/tabs/TaskDescription/TaskDescription.tsx
  src/widgets/task/TaskTabs/ui/tabs/TaskOutputResult/TaskOutputResult.module.css
  src/widgets/task/TaskTabs/ui/tabs/TaskOutputResult/TaskOutputResult.tsx
  src/widgets/task/TaskTabs/ui/tabs/TaskOutputTests/TaskOutputTests.module.css
  src/widgets/task/TaskTabs/ui/tabs/TaskOutputTests/TaskOutputTests.tsx
  src/widgets/task/TaskTabs/ui/tabs/TaskSolutions/TaskSolutions.tsx
  src/widgets/task/TaskWorkspace/index.ts
  src/widgets/task/TaskWorkspace/model/hooks/useTaskOutputQuery.ts
  src/widgets/task/TaskWorkspace/model/types/types.ts
  src/widgets/task/TaskWorkspace/ui/TaskOutput/TaskOutput.module.css
  src/widgets/task/TaskWorkspace/ui/TaskOutput/TaskOutput.tsx
  src/widgets/task/TaskWorkspace/ui/TaskWorkspace.module.css
  src/widgets/task/TaskWorkspace/ui/TaskWorkspace.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1730: refactor
  src/entities/auth/api/authApi.ts
  src/pages/tasks/task/ui/TaskPageContent/TaskPageContent.tsx
  src/shared/ui/TextEditor/TextEditor.stories.tsx
  src/widgets/Landing/Footer/ui/FooterMain/FooterMain.skeleton.test.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1750: added specialization stats logic and fixed rating filters
  src/app/index.tsx
  src/entities/user/__mocks__/index.ts
  src/entities/user/__mocks__/ratingStatsMock.ts
  src/entities/user/api/userApi.ts
  src/entities/user/index.ts
  src/entities/user/model/types/user.ts
  src/pages/analytics/usersRating/ui/UsersRatingPage/UsersRatingPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1730: fix mobile
  src/pages/tasks/task/ui/TaskPageContent/TaskPageContent.module.css
  src/pages/tasks/task/ui/TaskPageContent/TaskPageContent.tsx
  src/widgets/task/TaskEditor/ui/TaskEditor.module.css
  src/widgets/task/TaskEditor/ui/TaskEditor.tsx
  src/widgets/task/TaskTabs/ui/TaskTabs/TaskTabs.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1730: fix mobile (#1142)
  src/pages/tasks/task/ui/TaskPageContent/TaskPageContent.module.css
  src/pages/tasks/task/ui/TaskPageContent/TaskPageContent.tsx
  src/widgets/task/TaskEditor/ui/TaskEditor.module.css
  src/widgets/task/TaskEditor/ui/TaskEditor.tsx
  src/widgets/task/TaskTabs/ui/TaskTabs/TaskTabs.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

Release 1.7.4
  RELEASE_NOTES.md
  package-lock.json
  package.json
Due: none

YH-1761: added tasks selection to collection form
  public/locales/en/collection.json
  public/locales/en/skill.json
  public/locales/ru/collection.json
  public/locales/ru/skill.json
  src/entities/collection/ui/CollectionForm/CollectionForm.tsx
  src/entities/task/@x/collection.ts
  src/entities/task/index.ts
  src/entities/task/ui/ChooseTasksDrawer/ChooseTasksDrawer.module.css
  src/entities/task/ui/ChooseTasksDrawer/ChooseTasksDrawer.tsx
  src/entities/task/ui/ChooseTasksDrawer/TasksSearchList.tsx
  src/entities/task/ui/ChooseTasksDrawer/index.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1748: update language switch
  src/features/internationalization/switch-language/assets/icons/en.png
  src/features/internationalization/switch-language/assets/icons/enIcon.svg
  src/features/internationalization/switch-language/assets/icons/index.ts
  src/features/internationalization/switch-language/assets/icons/ru.png
  src/features/internationalization/switch-language/assets/icons/ruIcon.svg
  src/features/internationalization/switch-language/ui/LanguageSwitcher/LanguageSwitcher.module.css
  src/features/internationalization/switch-language/ui/LanguageSwitcher/LanguageSwitcher.tsx
  src/shared/ui/Switch/Switch.tsx
  src/shared/ui/Switch/types.ts
  src/widgets/Header/ui/HeaderLayout/HeaderLayout.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1748: fix comments
  src/shared/ui/Stub/Stub.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1748: add language change switcher (#1139)
  public/locales/en/auth.json
  public/locales/en/collection.json
  public/locales/en/skill.json
  public/locales/en/subscription.json
  public/locales/en/translation.json
  public/locales/ru/skill.json
  public/locales/ru/subscription.json
  src/features/internationalization/switch-language/assets/icons/en.png
  src/features/internationalization/switch-language/assets/icons/index.ts
  src/features/internationalization/switch-language/assets/icons/ru.png
  src/features/internationalization/switch-language/ui/LanguageSwitcher/LanguageSwitcher.module.css
  src/features/internationalization/switch-language/ui/LanguageSwitcher/LanguageSwitcher.tsx
  src/features/subscriptions/subscribe/ui/SubscribeButton/SubscribeButton.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Breadcrumbs/Breadcrumbs.tsx
  src/shared/ui/Stub/constants.ts
  src/shared/ui/Switch/Switch.tsx
  src/shared/ui/Switch/types.ts
  src/widgets/Header/ui/HeaderLayout/HeaderLayout.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1748: fix error
  src/features/internationalization/switch-language/ui/LanguageSwitcher/LanguageSwitcher.module.css
Due: npm run lint:css:fix

YH-1748: fix error (#1145)
  src/features/internationalization/switch-language/ui/LanguageSwitcher/LanguageSwitcher.module.css
Due: npm run lint:css:fix

YH-1752: add current user rating logic and mapping, fix errors
  src/app/index.tsx
  src/entities/user/api/usersRatingApi.ts
  src/entities/user/index.ts
  src/entities/user/lib/mapUserProfilePosition.ts
  src/entities/user/model/constants/usersRatingConstants.ts
  src/entities/user/model/types/usersRating.ts
  src/pages/analytics/usersRating/ui/UsersRatingList/UsersRatingList.tsx
  src/pages/analytics/usersRating/ui/UsersRatingPage/UsersRatingPage.tsx
  src/widgets/analytics/UsersRatingWidget/ui/UsersRatingWidget/UsersRatingWidget.tsx
Due: npm run prettier, npm run lint:ts:fix

Path conditions:
  npm run prettier: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:ts:fix: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:css:fix: any of: *.css
