Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1523: fix GurusItem layout (#988)
  src/entities/guru/ui/GurusItem/GurusItem.tsx
  src/entities/guru/ui/GurusList/GurusList.tsx
  src/widgets/Landing/GurusBlock/ui/GuruCard/GurusCard.tsx
  src/widgets/Landing/MentorsBlock/ui/MentorCard/MentorCard.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1451: added page for most difficult questions (#968)
  public/locales/en/analytics.json
  public/locales/en/translation.json
  public/locales/ru/analytics.json
  public/locales/ru/translation.json
  src/app/providers/router/config/routeConfig.tsx
  src/app/providers/store/config/config.ts
  src/entities/question/index.ts
  src/pages/analytics/DifficultQuestionsPage/index.ts
  src/pages/analytics/DifficultQuestionsPage/model/selectors/difficultQuestionsPageSelectors.ts
  src/pages/analytics/DifficultQuestionsPage/model/slices/difficultQuestionsPageSlice.ts
  src/pages/analytics/DifficultQuestionsPage/model/types/difficultQuestionsPageTypes.ts
  src/pages/analytics/DifficultQuestionsPage/ui/DifficultQuestionMobile/DifficultQuestionMobile.module.css
  src/pages/analytics/DifficultQuestionsPage/ui/DifficultQuestionMobile/DifficultQuestionMobile.tsx
  src/pages/analytics/DifficultQuestionsPage/ui/DifficultQuestionsList/DifficultQuestionsList.tsx
  src/pages/analytics/DifficultQuestionsPage/ui/DifficultQuestionsPage/DifficultQuestionsPage.module.css
  src/pages/analytics/DifficultQuestionsPage/ui/DifficultQuestionsPage/DifficultQuestionsPage.tsx
  src/pages/analytics/DifficultQuestionsPage/ui/DifficultQuestionsTable/DifficultQuestionsTable.module.css
  src/pages/analytics/DifficultQuestionsPage/ui/DifficultQuestionsTable/DifficultQuestionsTable.tsx
  src/pages/analytics/ProgressSpecializationsPage/ui/ProgressSpecializationsPage.module.css
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
  src/shared/config/store/State.ts
  src/shared/ui/Tooltip/Tooltip.tsx
  src/shared/ui/Tooltip/types.ts
  src/widgets/analytics/DifficultQuestionsList/ui/DifficultQuestionsList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

Release 1.2.0
  RELEASE_NOTES.md
  package-lock.json
  package.json
  src/app/providers/router/config/routeConfig.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1486: added tests for UserRolesList component
  src/entities/user/model/data/userRolesMock.ts
  src/entities/user/ui/UserRolesList/UserRolesList.test.tsx
  src/entities/user/ui/UserRolesList/UserRolesList.tsx
  src/shared/ui/StatusChip/StatusChip.tsx
Due: npm run prettier, npm run lint:ts:fix

исправление ошибок
  src/pages/landing/PublicCollectionPage/ui/PublicCollectionPage.tsx
Due: npm run prettier, npm run lint:ts:fix

исправление ошибок
  src/app/providers/router/config/routeConfig.tsx
  src/features/collections/watchCollection/WatchCollectionButton.tsx
  src/pages/interview/CollectionsPage/ui/CollectionsPage/CollectionsPage.tsx
  src/pages/landing/PublicCollectionsPage/ui/PublicCollectionsPage.tsx
  src/shared/config/router/routes.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1463: add small fixes, use Banner component in AvosListen
  src/pages/landing/AvosPage/ui/AvosPage.tsx
  src/shared/constants/media.ts
  src/shared/ui/Banner/ui/Banner.module.css
  src/shared/ui/Banner/ui/Banner.tsx
  src/widgets/Landing/Avos/ui/AvosBanner/AvosBanner.tsx
  src/widgets/Landing/Avos/ui/AvosListen/AvosListen.module.css
  src/widgets/Landing/Avos/ui/AvosListen/AvosListen.tsx
  src/widgets/Landing/Avos/ui/AvosPromo/AvosPromo.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1375: add route
  public/locales/en/analytics.json
  public/locales/ru/analytics.json
  src/app/providers/router/config/routeConfig.tsx
Due: npm run prettier, npm run lint:ts:fix

Feature/YH-1463 (#982)
  public/locales/en/landing.json
  public/locales/ru/landing.json
  src/app/providers/router/config/routeConfig.tsx
  src/app/styles/variables/main-variables.css
  src/pages/landing/AvosPage/index.ts
  src/pages/landing/AvosPage/ui/AvosPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
  src/shared/constants/media.ts
  src/shared/ui/Banner/ui/Banner.module.css
  src/shared/ui/Banner/ui/Banner.tsx
  src/shared/ui/Chip/Chip.tsx
  src/shared/ui/Chip/types.ts
  src/shared/ui/Text/Text.module.css
  src/widgets/Landing/Avos/index.ts
  src/widgets/Landing/Avos/model/assets/avosAndYeahubLogo.png
  src/widgets/Landing/Avos/model/assets/desktopScreenshot.jpg
  src/widgets/Landing/Avos/model/assets/headphones.jpg
  src/widgets/Landing/Avos/model/assets/tabletScreenshot.jpg
  src/widgets/Landing/Avos/ui/AvosBanner/AvosBanner.module.css
  src/widgets/Landing/Avos/ui/AvosBanner/AvosBanner.tsx
  src/widgets/Landing/Avos/ui/AvosListen/AvosListen.module.css
  src/widgets/Landing/Avos/ui/AvosListen/AvosListen.tsx
  src/widgets/Landing/Avos/ui/AvosPromo/AvosPromo.module.css
  src/widgets/Landing/Avos/ui/AvosPromo/AvosPromo.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

исправление ошибок
  public/locales/en/collection.json
  public/locales/ru/collection.json
Due: none

Feature/yh 1375 (#951)
  public/locales/en/analytics.json
  public/locales/ru/analytics.json
  src/app/providers/router/config/routeConfig.tsx
  src/entities/question/api/questionApi.ts
  src/entities/question/index.ts
  src/entities/question/model/constants/question.ts
  src/entities/question/model/types/question.ts
  src/entities/question/ui/PreviewQuestionsItem/PreviewQuestionsItem.module.css
  src/entities/question/ui/PreviewQuestionsItem/PreviewQuestionsItem.skeleton.tsx
  src/entities/question/ui/PreviewQuestionsItem/PreviewQuestionsItem.tsx
  src/entities/question/ui/QuestionGradeList/QuestionGradeList.tsx
  src/pages/analytics/AnalyticsPage/ui/AnalyticsPage.tsx
  src/shared/config/api/apiTags.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/Collection/ui/CollectionBody/CollectionBody.tsx
  src/widgets/analytics/PopularQuestions/index.ts
  src/widgets/analytics/PopularQuestions/ui/PopularQuestions.module.css
  src/widgets/analytics/PopularQuestions/ui/PopularQuestions.tsx
  src/widgets/question/QuestionsList/index.ts
  src/widgets/question/QuestionsList/ui/PreviewQuestionsList/PreviewQuestionsList.skeleton.tsx
  src/widgets/question/QuestionsList/ui/PreviewQuestionsList/PreviewQuestionsList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1447: Created a popular questions page
  public/locales/en/analytics.json
  public/locales/ru/analytics.json
  public/locales/ru/translation.json
  src/app/providers/router/config/routeConfig.tsx
  src/pages/analytics/PopularQuestionsPage/index.ts
  src/pages/analytics/PopularQuestionsPage/ui/PopularQuestionsList/PopularQuestionsList.module.css
  src/pages/analytics/PopularQuestionsPage/ui/PopularQuestionsList/PopularQuestionsList.tsx
  src/pages/analytics/PopularQuestionsPage/ui/PopularQuestionsPage/PopularQuestionsPage.module.css
  src/pages/analytics/PopularQuestionsPage/ui/PopularQuestionsPage/PopularQuestionsPage.tsx
  src/pages/analytics/PopularQuestionsPage/ui/PopularQuestionsPagePagination/PopularQuestionsPagePagination.module.css
  src/pages/analytics/PopularQuestionsPage/ui/PopularQuestionsPagePagination/PopularQuestionsPagePagination.tsx
  src/pages/analytics/PopularQuestionsPage/ui/PopularQuestionsPageTable/PopularQuestionsPageTable.module.css
  src/pages/analytics/PopularQuestionsPage/ui/PopularQuestionsPageTable/PopularQuestionsPageTable.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1447: Added a link from the popular questions widget to the corresponding page
  src/widgets/analytics/PopularQuestions/ui/PopularQuestions.tsx
Due: npm run prettier, npm run lint:ts:fix

fix dashboard and landing CollectionPage
  src/pages/interview/CollectionPage/ui/CollectionPage.tsx
  src/pages/landing/PublicCollectionPage/ui/PublicCollectionPage.tsx
  src/widgets/Collection/ui/CollectionNavigation/CollectionNavigation.tsx
Due: npm run prettier, npm run lint:ts:fix

fix line space
  src/pages/interview/CollectionPage/ui/CollectionPage.tsx
  src/pages/landing/PublicCollectionPage/ui/PublicCollectionPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1447: Created a popular questions page (#985)
  public/locales/en/analytics.json
  public/locales/ru/analytics.json
  public/locales/ru/translation.json
  src/app/providers/router/config/routeConfig.tsx
  src/pages/analytics/PopularQuestionsPage/index.ts
  src/pages/analytics/PopularQuestionsPage/ui/PopularQuestionsList/PopularQuestionsList.module.css
  src/pages/analytics/PopularQuestionsPage/ui/PopularQuestionsList/PopularQuestionsList.tsx
  src/pages/analytics/PopularQuestionsPage/ui/PopularQuestionsPage/PopularQuestionsPage.module.css
  src/pages/analytics/PopularQuestionsPage/ui/PopularQuestionsPage/PopularQuestionsPage.tsx
  src/pages/analytics/PopularQuestionsPage/ui/PopularQuestionsPagePagination/PopularQuestionsPagePagination.module.css
  src/pages/analytics/PopularQuestionsPage/ui/PopularQuestionsPagePagination/PopularQuestionsPagePagination.tsx
  src/pages/analytics/PopularQuestionsPage/ui/PopularQuestionsPageTable/PopularQuestionsPageTable.module.css
  src/pages/analytics/PopularQuestionsPage/ui/PopularQuestionsPageTable/PopularQuestionsPageTable.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
  src/widgets/analytics/PopularQuestions/ui/PopularQuestions.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1475: add PHP Guru (#989)
  src/entities/guru/model/constants/gurus.ts
Due: npm run prettier, npm run lint:ts:fix

Feature/YH-1456 (#984)
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/pages/wiki/MyResourcesPage/ui/MyResourcesPage.tsx
  src/shared/assets/images/LoadError.png
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/EmptyStub/EmptyStub.module.css
  src/shared/ui/EmptyStub/EmptyStub.tsx
  src/shared/ui/EmptyStub/index.ts
  src/shared/ui/Stub/Stub.module.css
  src/shared/ui/Stub/Stub.tsx
  src/shared/ui/Stub/index.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

Feature/YH-1463 (#982)
  public/locales/en/landing.json
  public/locales/ru/landing.json
  src/app/providers/router/config/routeConfig.tsx
  src/app/styles/variables/main-variables.css
  src/pages/landing/AvosPage/index.ts
  src/pages/landing/AvosPage/ui/AvosPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/constants/media.ts
  src/shared/ui/Banner/ui/Banner.module.css
  src/shared/ui/Banner/ui/Banner.tsx
  src/shared/ui/Chip/Chip.tsx
  src/shared/ui/Chip/types.ts
  src/shared/ui/Text/Text.module.css
  src/widgets/Landing/Avos/index.ts
  src/widgets/Landing/Avos/model/assets/avosAndYeahubLogo.png
  src/widgets/Landing/Avos/model/assets/desktopScreenshot.jpg
  src/widgets/Landing/Avos/model/assets/headphones.jpg
  src/widgets/Landing/Avos/model/assets/tabletScreenshot.jpg
  src/widgets/Landing/Avos/ui/AvosBanner/AvosBanner.module.css
  src/widgets/Landing/Avos/ui/AvosBanner/AvosBanner.tsx
  src/widgets/Landing/Avos/ui/AvosListen/AvosListen.module.css
  src/widgets/Landing/Avos/ui/AvosListen/AvosListen.tsx
  src/widgets/Landing/Avos/ui/AvosPromo/AvosPromo.module.css
  src/widgets/Landing/Avos/ui/AvosPromo/AvosPromo.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

feature/YH-1467 добавлен баннер на страницу списка коллекций Добавлена кнопка перехода на собеседования
  src/features/collections/watchCollection/WatchCollectionButton.tsx
  src/features/collections/watchCollection/index.ts
  src/pages/interview/CollectionPage/ui/CollectionPage.tsx
  src/pages/interview/CollectionsPage/ui/CollectionsPage/CollectionsPage.tsx
  src/pages/landing/PublicCollectionPage/ui/PublicCollectionPage.tsx
  src/pages/landing/PublicCollectionsPage/ui/PublicCollectionsPage.tsx
  src/shared/assets/icons/watch.svg
  src/shared/assets/images/collections/TbankIcon.jpg
  src/shared/assets/images/collections/ozonIcon.jpg
  src/shared/assets/images/collections/sberIcon.jpg
  src/shared/assets/images/collections/vkIcon.jpg
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Icon/icons.ts
  src/shared/ui/Icon/types.ts
  src/widgets/Collection/index.ts
  src/widgets/Collection/ui/CollectionInterview/InterviewRecordings.module.css
  src/widgets/Collection/ui/CollectionInterview/InterviewRecordings.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

исправление ошибок
  src/app/providers/router/config/routeConfig.tsx
  src/features/collections/watchCollection/WatchCollectionButton.tsx
  src/pages/interview/CollectionsPage/ui/CollectionsPage/CollectionsPage.tsx
  src/pages/landing/PublicCollectionsPage/ui/PublicCollectionsPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1467: fix banner
  config/webpack/webpackDevServer.ts
  src/pages/interview/CollectionPage/ui/CollectionPage.tsx
  src/pages/interview/CollectionsPage/ui/CollectionsPage/CollectionsPage.tsx
  src/pages/landing/PublicCollectionPage/ui/PublicCollectionPage.skeleton.tsx
  src/pages/landing/PublicCollectionPage/ui/PublicCollectionPage.tsx
  src/pages/landing/PublicCollectionsPage/ui/PublicCollectionsPage.tsx
  src/shared/ui/Card/Card.tsx
  src/widgets/Collection/index.ts
  src/widgets/Collection/ui/CollectionNavigation/CollectionNavigation.skeleton.tsx
  src/widgets/Collection/ui/CollectionNavigation/CollectionNavigation.tsx
  src/widgets/Collection/ui/CollectionsContent/CollectionsContent.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1497: add i18n keys
  public/locales/en/specialization.json
  public/locales/ru/specialization.json
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1497: add Switch component to SpecializationsFilters
  src/features/specialization/filterSpecializations/model/hooks/useGetSpecializationsFilterParams.ts
  src/features/specialization/filterSpecializations/model/hooks/useSpecializationsFilters.ts
  src/features/specialization/filterSpecializations/model/types/filters.ts
  src/features/specialization/filterSpecializations/ui/SpecializationsFilters/SpecializationsFilters.tsx
  src/pages/admin/SpecializationsPage/ui/SpecializationsPage/SpecializationsPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1497: fix i18n keys
  public/locales/en/specialization.json
  public/locales/ru/specialization.json
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1497: fix specializations 'My' filter behaviour
  src/features/specialization/filterSpecializations/model/hooks/useGetSpecializationsFilterParams.ts
  src/features/specialization/filterSpecializations/model/hooks/useSpecializationsFilters.ts
  src/features/specialization/filterSpecializations/ui/SpecializationsFilters/SpecializationsFilters.tsx
  src/pages/admin/SpecializationsPage/ui/SpecializationsPage/SpecializationsPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1479: add CopyButton
  src/shared/assets/icons/copy.svg
  src/shared/hooks/index.ts
  src/shared/hooks/useCopy.ts
  src/shared/ui/CopyButton/CopyButton.module.css
  src/shared/ui/CopyButton/CopyButton.tsx
  src/shared/ui/CopyButton/index.ts
  src/shared/ui/CopyButton/types.ts
  src/shared/ui/Icon/icons.ts
  src/shared/ui/Icon/types.ts
  src/shared/ui/Table/Table.stories.tsx
  src/shared/ui/Table/Table.tsx
  src/widgets/CollectionsTable/ui/CollectionsTable.tsx
  src/widgets/CompaniesTable/ui/CompaniesTable.tsx
  src/widgets/QuestionsTable/ui/QuestionsTable.tsx
  src/widgets/SkillsTable/ui/SkillsTable.tsx
  src/widgets/SpecializationsTable/ui/SpecializationsTable.tsx
  src/widgets/UsersTable/ui/UsersTable.tsx
  src/widgets/resources/ResourcesTable/ui/ResourcesTable.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1336: move interview questions & collections to wiki section
  src/app/layouts/MainLayout/model/helper/SkeletonGenerator.tsx
  src/app/providers/router/config/routeConfig.tsx
  src/entities/collection/model/lib/getCollectionRoute.ts
  src/entities/question/model/lib/getQuestionRoute.test.ts
  src/entities/question/model/lib/getQuestionRoute.ts
  src/pages/admin/QuestionPage/QuestionPage.tsx
  src/pages/interview/CollectionPage/ui/CollectionPage.module.css
  src/pages/interview/CollectionsPage/ui/CollectionsPage/CollectionsPage.tsx
  src/pages/interview/QuestionPage/ui/QuestionPage.tsx
  src/pages/landing/PublicCollectionPage/ui/PublicCollectionPage.module.css
  src/pages/landing/PublicQuestionPage/ui/PublicQuestionPage.tsx
  src/shared/config/router/routes.ts
  src/widgets/Collection/ui/CollectionInterview/InterviewRecordingsBanner.module.css
  src/widgets/Collection/ui/CollectionsContent/CollectionsContent.tsx
  src/widgets/Landing/Header/model/constants/headerConstants.ts
  src/widgets/Main/OnboardingModal/ui/FinalStep/NavigationBlock/NavigationBlock.tsx
  src/widgets/interview/PassedQuestionsList/ui/PassedQuestionsItem/PassedQuestionsItem.tsx
  src/widgets/interview/PreviewCollectionsList/ui/PreviewCollectionsList/PreviewCollectionsList.tsx
  src/widgets/interview/QuestionsStatistic/model/lib/getQuestionsStats/getQuestionsStats.ts
  src/widgets/question/QuestionActions/ui/QuestionAction.module.css
  src/widgets/question/QuestionAdditionalInfoDrawer/ui/QuestionAdditionalInfoDrawer.tsx
  src/widgets/question/QuestionsList/ui/PreviewQuestionsList/PreviewQuestionsList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

Path conditions:
  npm run prettier: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:ts:fix: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:css:fix: any of: *.css
