Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-807: fix error open drawer in landing
  src/shared/assets/icons/closeCircle.svg
  src/widgets/question/QuestionAdditionalInfoDrawer/ui/QuestionAdditionalInfoDrawer.tsx
Due: npm run prettier, npm run lint:ts:fix

Feature/yh 807 (#500)
  src/shared/assets/icons/closeCircle.svg
  src/widgets/question/QuestionAdditionalInfoDrawer/ui/QuestionAdditionalInfoDrawer.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-766: fetching questions for the collection
  src/entities/question/model/types/question.ts
  src/pages/interview/CollectionPage/ui/CollectionPage.tsx
  src/widgets/Collection/ui/CollectionBody/CollectionBody.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-805: Update display of collection data
  public/locales/ru/collection.json
  src/entities/collection/model/types/collection.ts
  src/pages/admin/CollectionPage/ui/CollectionPage.skeleton.tsx
  src/pages/admin/CollectionPage/ui/CollectionPage.tsx
  src/pages/admin/CollectionsPage/ui/CollectionsPage/CollectionsPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/Collection/ui/AdditionalInfo/AdditionalInfo.module.css
  src/widgets/Collection/ui/AdditionalInfo/AdditionalInfo.tsx
  src/widgets/CollectionsTable/ui/CollectionsTable.module.css
  src/widgets/CollectionsTable/ui/CollectionsTable.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-725: corrected last comments
  src/entities/question/api/__mocks__/questionListMock.ts
  src/entities/skill/api/__mocks__/skillListMock.ts
Due: npm run prettier, npm run lint:ts:fix

YH-677: add update collection request
  public/locales/en/collection.json
  public/locales/en/translation.json
  public/locales/ru/collection.json
  public/locales/ru/translation.json
  src/entities/collection/api/__mock__/data/collectionsMock.ts
  src/entities/collection/api/collectionApi.ts
  src/entities/collection/model/constants/collection.ts
  src/entities/collection/model/types/collection.ts
  src/entities/collection/ui/CollectionForm/CollectionForm.tsx
  src/features/collections/createCollection/model/lib/validation/collectionCreateSchema.ts
  src/features/collections/editCollection/api/editCollectionApi.ts
  src/features/collections/editCollection/model/constants/editCollectionConstants.ts
  src/features/collections/editCollection/model/lib/validation/collectionEditSchema.ts
  src/features/collections/editCollection/model/types/collectionEditTypes.ts
  src/features/collections/editCollection/ui/CollectionEditForm/CollectionEditForm.tsx
  src/features/collections/editCollection/ui/CollectionEditFormHeader/CollectionEditFormHeader.tsx
  src/pages/admin/CollectionEditPage/ui/CollectionEditPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/Collection/ui/AdditionalInfo/AdditionalInfo.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-677: fixed image change in collection
  src/entities/collection/model/types/collection.ts
  src/entities/collection/ui/CollectionForm/CollectionForm.tsx
  src/features/collections/createCollection/model/lib/validation/collectionCreateSchema.ts
  src/features/collections/editCollection/model/lib/validation/collectionEditSchema.ts
  src/features/collections/editCollection/ui/CollectionEditFormHeader/CollectionEditFormHeader.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-723: Mok response to create skill
  src/entities/skill/api/__mocks__/skillMock.ts
Due: npm run prettier, npm run lint:ts:fix

YH-722: Add mock request for edit skill
  src/entities/skill/api/__mocks__/index.ts
  src/entities/skill/api/__mocks__/skillEditMock.ts
  src/entities/skill/api/__mocks__/skillMock.ts
  src/entities/skill/model/types/skill.ts
Due: npm run prettier, npm run lint:ts:fix

YH-796: PublicQuestions Page & Question Page & LP Styles fixed. Filters Button rebase Into Title
  src/app/layouts/LandingLayout/ui/LandingLayout.module.css
  src/app/styles/variables/main-variables.css
  src/pages/landing/PublicQuestionPage/ui/PublicQuestionPage.module.css
  src/pages/landing/PublicQuestionPage/ui/PublicQuestionPage.tsx
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsPage/PublicQuestionsPage.module.css
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsPage/PublicQuestionsPage.skeleton.tsx
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsPage/PublicQuestionsPage.tsx
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsPagePagination/PublicQuestionPagePagination.module.css
  src/shared/ui/Accordion/ui/Accordion.module.css
  src/shared/ui/AppLogo/AppLogo.module.css
  src/shared/ui/Button/ui/Button.module.css
  src/shared/ui/Card/ui/Card.module.css
  src/widgets/Landing/Footer/ui/Footer.module.css
  src/widgets/Landing/Header/ui/Header/Header.module.css
  src/widgets/Landing/Header/ui/Header/Header.tsx
  src/widgets/Landing/InterviewBlock/ui/AdvantagesList/AdvantagesList.module.css
  src/widgets/Landing/InterviewBlock/ui/InterviewBlock/InterviewBlock.module.css
  src/widgets/Landing/InterviewModeBlock/ui/InterviewModeBlock/InterviewModeBlock.module.css
  src/widgets/Landing/PlatformInterfaceBlock/ui/CategoriesBlock/CategoriesBlock.module.css
  src/widgets/Landing/PlatformInterfaceBlock/ui/PlatformInterfaceBlock/PlatformInterfaceBlock.module.css
  src/widgets/Landing/ProgressBlock/ui/ProgressBlock/ProgressBlock.module.css
  src/widgets/Landing/TrainingBlock/ui/OfferList/OfferList.module.css
  src/widgets/Landing/TrainingBlock/ui/TrainingBlock/TrainingBlock.module.css
  src/widgets/question/QuestionAdditionalInfo/ui/QuestionAdditionalInfo.tsx
  src/widgets/question/QuestionAdditionalInfoDrawer/ui/QuestionAdditionalInfoDrawer.module.css
  src/widgets/question/QuestionAdditionalInfoDrawer/ui/QuestionAdditionalInfoDrawer.tsx
  src/widgets/question/QuestionBody/ui/QuestionBody.module.css
  src/widgets/question/QuestionBody/ui/QuestionBody.tsx
  src/widgets/question/QuestionHeader/ui/QuestionHeader.module.css
  src/widgets/question/QuestionsList/ui/FullQuestionItem/FullQuestionItem.module.css
  src/widgets/question/QuestionsList/ui/FullQuestionsList/FullQuestionsList.module.css
  src/widgets/question/QuestionsList/ui/FullQuestionsList/FullQuestionsList.skeleton.tsx
  src/widgets/question/QuestionsList/ui/FullQuestionsList/FullQuestionsList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-722: Add fix styles for filter buttons
  src/shared/ui/Chip/ui/Chip.module.css
Due: npm run lint:css:fix

YH-722: Add mock request for edit skill (#505)
  src/entities/skill/api/__mocks__/index.ts
  src/entities/skill/api/__mocks__/skillEditMock.ts
  src/entities/skill/api/__mocks__/skillMock.ts
  src/entities/skill/model/types/skill.ts
  src/shared/ui/Chip/ui/Chip.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-800: Dashboard disabled email (#498)
  RELEASE_NOTES.md
  package-lock.json
  package.json
  src/features/profile/editProfileForm/ui/PersonalInformationTabForm/PersonalInformationTabForm.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-723: corrected
  src/entities/skill/api/__mocks__/index.ts
  src/entities/skill/api/__mocks__/skillCreateMock.ts
  src/entities/skill/api/__mocks__/skillMock.ts
Due: npm run prettier, npm run lint:ts:fix

Feature/yh 723: Mok response to create (#504)
  src/entities/skill/api/__mocks__/index.ts
  src/entities/skill/api/__mocks__/skillCreateMock.ts
Due: npm run prettier, npm run lint:ts:fix

YH-799: Changed Filter Mode
  src/entities/question/api/questionApi.ts
  src/entities/question/model/types/question.ts
Due: npm run prettier, npm run lint:ts:fix

YH-797: fix header
  src/app/layouts/LandingLayout/ui/LandingLayout.module.css
  src/app/layouts/LandingLayout/ui/LandingLayout.tsx
  src/app/styles/App.css
  src/widgets/Landing/Header/ui/Header/Header.module.css
  src/widgets/Landing/Header/ui/Header/Header.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-815: Transfer from uikit Tooltip
  src/shared/ui/Tooltip/index.ts
  src/shared/ui/Tooltip/model/types.ts
  src/shared/ui/Tooltip/ui/Tooltip.module.css
  src/shared/ui/Tooltip/ui/Tooltip.stories.tsx
  src/shared/ui/Tooltip/ui/Tooltip.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-796: PublicQuestions Page & Question Page & LP Styles fixed. Filters Button rebase Into Title (#506)
  src/app/layouts/LandingLayout/ui/LandingLayout.module.css
  src/app/styles/variables/main-variables.css
  src/pages/landing/PublicQuestionPage/ui/PublicQuestionPage.module.css
  src/pages/landing/PublicQuestionPage/ui/PublicQuestionPage.tsx
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsPage/PublicQuestionsPage.module.css
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsPage/PublicQuestionsPage.skeleton.tsx
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsPage/PublicQuestionsPage.tsx
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsPagePagination/PublicQuestionPagePagination.module.css
  src/shared/ui/Accordion/ui/Accordion.module.css
  src/shared/ui/AppLogo/AppLogo.module.css
  src/shared/ui/Button/ui/Button.module.css
  src/shared/ui/Card/ui/Card.module.css
  src/widgets/Landing/Footer/ui/Footer.module.css
  src/widgets/Landing/Header/ui/Header/Header.module.css
  src/widgets/Landing/Header/ui/Header/Header.tsx
  src/widgets/Landing/InterviewBlock/ui/AdvantagesList/AdvantagesList.module.css
  src/widgets/Landing/InterviewBlock/ui/InterviewBlock/InterviewBlock.module.css
  src/widgets/Landing/InterviewModeBlock/ui/InterviewModeBlock/InterviewModeBlock.module.css
  src/widgets/Landing/PlatformInterfaceBlock/ui/CategoriesBlock/CategoriesBlock.module.css
  src/widgets/Landing/PlatformInterfaceBlock/ui/PlatformInterfaceBlock/PlatformInterfaceBlock.module.css
  src/widgets/Landing/ProgressBlock/ui/ProgressBlock/ProgressBlock.module.css
  src/widgets/Landing/TrainingBlock/ui/OfferList/OfferList.module.css
  src/widgets/Landing/TrainingBlock/ui/TrainingBlock/TrainingBlock.module.css
  src/widgets/question/QuestionAdditionalInfo/ui/QuestionAdditionalInfo.tsx
  src/widgets/question/QuestionAdditionalInfoDrawer/ui/QuestionAdditionalInfoDrawer.module.css
  src/widgets/question/QuestionAdditionalInfoDrawer/ui/QuestionAdditionalInfoDrawer.tsx
  src/widgets/question/QuestionBody/ui/QuestionBody.module.css
  src/widgets/question/QuestionBody/ui/QuestionBody.tsx
  src/widgets/question/QuestionHeader/ui/QuestionHeader.module.css
  src/widgets/question/QuestionsList/ui/FullQuestionItem/FullQuestionItem.module.css
  src/widgets/question/QuestionsList/ui/FullQuestionsList/FullQuestionsList.module.css
  src/widgets/question/QuestionsList/ui/FullQuestionsList/FullQuestionsList.skeleton.tsx
  src/widgets/question/QuestionsList/ui/FullQuestionsList/FullQuestionsList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-799: Comment
  src/entities/question/model/types/question.ts
Due: npm run prettier, npm run lint:ts:fix

YH-677: fix CollectionEditForm
  src/entities/collection/api/__mock__/data/collectionsMock.ts
  src/entities/collection/model/types/collection.ts
  src/entities/collection/ui/CollectionForm/CollectionForm.tsx
  src/features/collections/editCollection/api/editCollectionApi.ts
  src/features/collections/editCollection/ui/CollectionEditForm/CollectionEditForm.tsx
  src/features/collections/editCollection/ui/CollectionEditFormHeader/CollectionEditFormHeader.tsx
  src/widgets/CollectionsTable/ui/CollectionsTable.tsx
Due: npm run prettier, npm run lint:ts:fix

Feature/yh 799: Changed Skill Filter Mode (#507)
  src/entities/question/api/questionApi.ts
  src/entities/question/model/types/question.ts
Due: npm run prettier, npm run lint:ts:fix

YH-721: fix deleteSkillMock
  .eslintrc.json
  src/entities/skill/api/__mocks__/skillMock.ts
  src/entities/skill/model/constants/skillConstants.ts
  src/features/skill/deleteSkill/api/__mocks__/deleteSkillMock.ts
  src/shared/assets/icons/CloseCircle.svg
Due: npm run prettier, npm run lint:ts:fix

YH-676: added reqiest for create collection
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/entities/collection/api/__mock__/data/collectionsMock.ts
  src/entities/collection/api/collectionApi.ts
  src/entities/collection/model/constants/collection.ts
  src/entities/collection/model/types/collection.ts
  src/entities/collection/ui/CollectionForm/CollectionForm.tsx
  src/features/collections/createCollection/api/createCollectionApi.ts
  src/features/collections/createCollection/model/constants/createCollectionConstants.ts
  src/features/collections/createCollection/model/lib/validation/collectionCreateSchema.ts
  src/features/collections/createCollection/model/types/collectionCreateTypes.ts
  src/features/collections/createCollection/ui/CollectionCreateForm/CollectionCreateForm.tsx
  src/features/collections/createCollection/ui/CollectionCreateFormHeader/CollectionCreateFormHeader.tsx
  src/features/collections/editCollection/model/lib/validation/collectionEditSchema.ts
  src/features/collections/editCollection/ui/CollectionEditForm/CollectionEditForm.tsx
  src/pages/admin/CollectionPage/ui/CollectionPage.skeleton.tsx
  src/pages/admin/CollectionPage/ui/CollectionPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/Collection/ui/AdditionalInfo/AdditionalInfo.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-677: add update collection request (#503)
  public/locales/en/collection.json
  public/locales/en/translation.json
  public/locales/ru/collection.json
  public/locales/ru/translation.json
  src/entities/collection/api/__mock__/data/collectionsMock.ts
  src/entities/collection/api/collectionApi.ts
  src/entities/collection/model/constants/collection.ts
  src/entities/collection/model/types/collection.ts
  src/entities/collection/ui/CollectionForm/CollectionForm.tsx
  src/features/collections/createCollection/model/lib/validation/collectionCreateSchema.ts
  src/features/collections/editCollection/api/editCollectionApi.ts
  src/features/collections/editCollection/model/constants/editCollectionConstants.ts
  src/features/collections/editCollection/model/lib/validation/collectionEditSchema.ts
  src/features/collections/editCollection/model/types/collectionEditTypes.ts
  src/features/collections/editCollection/ui/CollectionEditForm/CollectionEditForm.tsx
  src/features/collections/editCollection/ui/CollectionEditFormHeader/CollectionEditFormHeader.tsx
  src/pages/admin/CollectionEditPage/ui/CollectionEditPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/Collection/ui/AdditionalInfo/AdditionalInfo.tsx
  src/widgets/CollectionsTable/ui/CollectionsTable.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-797: fix header
  src/app/layouts/LandingLayout/ui/LandingLayout.tsx
  src/app/styles/App.css
  src/widgets/Landing/Footer/ui/Footer.module.css
  src/widgets/Landing/Footer/ui/Footer.tsx
  src/widgets/Landing/Header/ui/Header/Header.module.css
  src/widgets/Landing/Header/ui/Header/Header.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-813: add GaugeChart stories and loki test
  .loki/reference/chrome_iphone7_shared_charts_BarChart_Default.png
  .loki/reference/chrome_iphone7_shared_charts_BarChart_Full_Progress.png
  .loki/reference/chrome_iphone7_shared_charts_BarChart_Half_Progress.png
  .loki/reference/chrome_iphone7_shared_charts_BarChart_Skeleton.png
  .loki/reference/chrome_laptop_shared_charts_BarChart_Default.png
  .loki/reference/chrome_laptop_shared_charts_BarChart_Full_Progress.png
  .loki/reference/chrome_laptop_shared_charts_BarChart_Half_Progress.png
  .loki/reference/chrome_laptop_shared_charts_BarChart_Skeleton.png
  src/shared/ui/charts/GaugeChart/ui/GaugeChart.module.css
  src/shared/ui/charts/GaugeChart/ui/GaugeChart.skeleton.tsx
  src/shared/ui/charts/GaugeChart/ui/GaugeChart.stories.tsx
  src/shared/ui/charts/GaugeChart/ui/GaugeChart.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-805: fix collections table
  src/entities/collection/model/types/collection.ts
  src/widgets/Collection/ui/AdditionalInfo/AdditionalInfo.module.css
  src/widgets/Collection/ui/AdditionalInfo/AdditionalInfo.tsx
  src/widgets/CollectionsTable/ui/CollectionsTable.module.css
  src/widgets/CollectionsTable/ui/CollectionsTable.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-766: add question request handling in admin panel
  src/pages/admin/CollectionPage/ui/CollectionPage.tsx
  src/widgets/Collection/ui/CollectionBody/CollectionBody.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-815: fix tooltip
  src/shared/ui/Tooltip/ui/Tooltip.module.css
  src/shared/ui/Tooltip/ui/Tooltip.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-813: add GaugeChart stories and loki test (#514)
  .loki/reference/chrome_iphone7_shared_charts_BarChart_Default.png
  .loki/reference/chrome_iphone7_shared_charts_BarChart_Full_Progress.png
  .loki/reference/chrome_iphone7_shared_charts_BarChart_Half_Progress.png
  .loki/reference/chrome_iphone7_shared_charts_BarChart_Skeleton.png
  .loki/reference/chrome_laptop_shared_charts_BarChart_Default.png
  .loki/reference/chrome_laptop_shared_charts_BarChart_Full_Progress.png
  .loki/reference/chrome_laptop_shared_charts_BarChart_Half_Progress.png
  .loki/reference/chrome_laptop_shared_charts_BarChart_Skeleton.png
  src/shared/ui/charts/GaugeChart/ui/GaugeChart.module.css
  src/shared/ui/charts/GaugeChart/ui/GaugeChart.skeleton.tsx
  src/shared/ui/charts/GaugeChart/ui/GaugeChart.stories.tsx
  src/shared/ui/charts/GaugeChart/ui/GaugeChart.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-766: fetching questions for the collection (#501)
  src/entities/question/model/types/question.ts
  src/pages/admin/CollectionPage/ui/CollectionPage.tsx
  src/pages/interview/CollectionPage/ui/CollectionPage.tsx
  src/widgets/Collection/ui/CollectionBody/CollectionBody.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-817: Quiz Clone
  src/entities/quiz/api/quizApi.ts
  src/entities/quiz/index.ts
  src/entities/quiz/model/constants/quizConstants.ts
  src/pages/interview/InterviewQuizResultPage/ui/InterviewQuizResultPage.tsx
  src/widgets/interview/PassedQuestionsList/ui/PassedQuestionsList/PassedQuestionsList.module.css
  src/widgets/interview/PassedQuestionsList/ui/PassedQuestionsList/PassedQuestionsList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-797: fix conflicts
  src/app/layouts/LandingLayout/ui/LandingLayout.module.css
  src/app/layouts/LandingLayout/ui/LandingLayout.tsx
  src/app/styles/App.css
  src/widgets/Landing/Header/ui/Header/Header.module.css
  src/widgets/Landing/PlatformInterfaceBlock/ui/PlatformInterfaceBlock/PlatformInterfaceBlock.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-676: added reqiest for create collection (#513)
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/entities/collection/model/types/collection.ts
  src/features/collections/createCollection/api/createCollectionApi.ts
  src/features/collections/createCollection/model/constants/createCollectionConstants.ts
  src/features/collections/createCollection/model/lib/validation/collectionCreateSchema.ts
  src/features/collections/createCollection/model/types/collectionCreateTypes.ts
  src/features/collections/createCollection/ui/CollectionCreateForm/CollectionCreateForm.tsx
  src/features/collections/createCollection/ui/CollectionCreateFormHeader/CollectionCreateFormHeader.tsx
  src/features/collections/editCollection/model/lib/validation/collectionEditSchema.ts
  src/pages/admin/CollectionPage/ui/CollectionPage.skeleton.tsx
  src/pages/admin/CollectionPage/ui/CollectionPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

Path conditions:
  npm run prettier: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:ts:fix: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:css:fix: any of: *.css
