Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

.lintstagedrc:

{
  "./**/*.{ts,tsx,js,jsx}": ["npm run prettier", "npm run lint:ts:fix"],
  "*.css": "npm run lint:css:fix"
}

YH-986: update sentry setting & reports
  src/app/index.tsx
  src/app/layouts/MainLayout/ui/MainLayout.tsx
  src/app/providers/router/config/routeConfig.tsx
  src/app/providers/sentry/AppInitSentryUser.tsx
  src/app/providers/store/config/config.ts
  src/shared/config/sentry/ErrorBoundary.tsx
  src/shared/config/sentry/SentryRouteTracker.tsx
  src/shared/config/sentry/appContext.ts
  src/shared/config/sentry/context.ts
  src/shared/config/sentry/middleware.ts
  src/shared/config/sentry/sentry.ts
  src/shared/config/sentry/sentryApiErrorMiddleware.ts
Due: npm run prettier, npm run lint:ts:fix

YH-975: change component Text
  src/entities/skill/ui/SkillForm/SkillForm.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-991: Change button link
  src/widgets/Landing/InterviewTrainerBlock/ui/InterviewCard/InterviewCard.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-992: add for Landing in landing.json en/ru translations
  public/locales/en/landing.json
  public/locales/ru/landing.json
Due: none

YH-993: Fix public collection route
  src/entities/collection/ui/CollectionPreview/CollectionPreview.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-993: Fix public collection route (#645)
  src/entities/collection/ui/CollectionPreview/CollectionPreview.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-961: fix new comments
  public/locales/en/collection.json
  public/locales/en/specialization.json
  public/locales/ru/specialization.json
  public/locales/ru/translation.json
  src/app/providers/router/config/routeConfig.tsx
  src/entities/collection/ui/CollectionAccessInfo/CollectionAccessInfo.tsx
  src/entities/collection/ui/CollectionCompanyInfo/CollectionCompanyInfo.tsx
  src/entities/collection/ui/CollectionQuestionsCount/CollectionQuestionsCount.tsx
  src/entities/specialization/ui/SpecializationsList/SpecializationsList.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/Collection/ui/AdditionalInfo/AdditionalInfo.tsx
  src/widgets/Collection/ui/CollectionAdditionalInfoDrawer/CollectionAdditionalInfoDrawer.module.css
  src/widgets/Collection/ui/CollectionAdditionalInfoDrawer/CollectionAdditionalInfoDrawer.skeleton.tsx
  src/widgets/Collection/ui/CollectionBody/CollectionBody.module.css
  src/widgets/Collection/ui/CollectionBody/CollectionBody.tsx
  src/widgets/Collection/ui/CollectionHeader/CollectionHeader.tsx
  src/widgets/question/QuestionAdditionalInfoDrawer/ui/QuestionAdditionalInfoDrawer.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-992: add for Landing in landing.json en/ru filter translations
  public/locales/en/landing.json
  public/locales/ru/landing.json
Due: none

YH-992: add for Landing in landing.json en/ru translations (#644)
  public/locales/en/landing.json
  public/locales/ru/landing.json
Due: none

YH-961: fix one more comment
  src/pages/admin/CollectionPage/ui/CollectionPage.tsx
  src/pages/interview/CollectionPage/ui/CollectionPage.tsx
  src/pages/landing/PublicCollectionPage/ui/PublicCollectionPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-974: add Text from shared/ui for QuestionForm (#638)
  src/entities/question/ui/QuestionForm/QuestionForm.module.css
  src/entities/question/ui/QuestionForm/QuestionForm.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-975: delete className
  src/entities/skill/ui/SkillForm/SkillForm.module.css
  src/entities/skill/ui/SkillForm/SkillForm.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-975: delete classes
  src/entities/skill/ui/SkillForm/SkillForm.module.css
Due: npm run lint:css:fix

YH-975: change component Text (#642)
  src/entities/skill/ui/SkillForm/SkillForm.module.css
  src/entities/skill/ui/SkillForm/SkillForm.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-979: fix search in CollectionsPage
  src/pages/admin/CollectionsPage/model/selectors/collectionsPageSelectors.ts
  src/pages/admin/CollectionsPage/model/slices/collectionsPageSlice.ts
  src/pages/admin/CollectionsPage/model/types/collectionsPageTypes.ts
  src/pages/admin/CollectionsPage/ui/CollectionsPage/CollectionsPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-994: fix filters width
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsPage/PublicQuestionsPage.module.css
Due: npm run lint:css:fix

YH-994: fix filters width (#647)
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsPage/PublicQuestionsPage.module.css
Due: npm run lint:css:fix

YH-991: Change button link (#649)
  src/widgets/Landing/InterviewTrainerBlock/ui/InterviewCard/InterviewCard.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-990: fix font-size on titles for Landing page
  src/widgets/Landing/AboutQuestionsBlock/ui/About/About.tsx
  src/widgets/Landing/BannerBlock/ui/BlockTitle/BlockTitle.tsx
  src/widgets/Landing/HistoryBlock/ui/HistoryTextBlock/HistoryTextBlock.tsx
  src/widgets/Landing/InterviewTrainerBlock/ui/InterviewTrainerBlock/InterviewTrainerBlock.tsx
  src/widgets/Landing/SpecialityBlock/ui/SpecializationBlock/SpecializationBlock.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-995: Fix landing layout
  src/app/layouts/LandingLayout/ui/LandingLayout.module.css
  src/app/layouts/LandingLayout/ui/LandingLayout.skeleton.tsx
  src/app/layouts/LandingLayout/ui/LandingLayout.tsx
  src/widgets/Landing/Footer/index.ts
  src/widgets/Landing/Header/index.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-990: fix BlockTitle for Landing page
  src/widgets/Landing/BannerBlock/ui/BlockTitle/BlockTitle.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-995: Fix landing layout (#648)
  src/app/layouts/LandingLayout/ui/LandingLayout.module.css
  src/app/layouts/LandingLayout/ui/LandingLayout.skeleton.tsx
  src/app/layouts/LandingLayout/ui/LandingLayout.tsx
  src/widgets/Landing/Footer/index.ts
  src/widgets/Landing/Header/index.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-990: fix font-size on titles for Landing page (#650)
  src/widgets/Landing/AboutQuestionsBlock/ui/About/About.tsx
  src/widgets/Landing/BannerBlock/ui/BlockTitle/BlockTitle.tsx
  src/widgets/Landing/HistoryBlock/ui/HistoryTextBlock/HistoryTextBlock.tsx
  src/widgets/Landing/InterviewTrainerBlock/ui/InterviewTrainerBlock/InterviewTrainerBlock.tsx
  src/widgets/Landing/SpecialityBlock/ui/SpecializationBlock/SpecializationBlock.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-983: delete user via admin panel
  public/locales/en/translation.json
  public/locales/en/user.json
  public/locales/ru/translation.json
  public/locales/ru/user.json
  src/features/profile/deleteAccount/api/deleteAccountApi.ts
  src/features/profile/deleteAccount/index.ts
  src/features/profile/deleteAccount/model/types/deleteAccount.ts
  src/features/profile/deleteAccount/ui/DeleteAccountModal/DeleteAccountModal.module.css
  src/features/profile/deleteAccount/ui/DeleteAccountModal/DeleteAccountModal.tsx
  src/features/profile/deleteAccount/ui/DeleteUserAccount/DeleteUserAccount.module.css
  src/features/profile/deleteAccount/ui/DeleteUserAccount/DeleteUserAccount.tsx
  src/pages/admin/UserDetailPage/ui/UserDetailPage.tsx
  src/pages/admin/UserTablePage/model/selectors/usersPageSelectors.ts
  src/pages/admin/UserTablePage/model/slices/usersPageSlice.ts
  src/pages/admin/UserTablePage/model/types/usersPageTypes.ts
  src/pages/admin/UserTablePage/ui/UserTablePage/UsersTablePage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/Profile/ui/AccountTab/ui/AccountTab.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1003: fix bugs on public and interview collections pages, landing and login pages
  src/app/providers/router/ui/AuthRoute.tsx
  src/entities/collection/index.ts
  src/entities/collection/ui/ChooseCollectionSpecialization/ChooseCollectionSpecialization.skeleton.tsx
  src/entities/collection/ui/CollectionPreview/CollectionPreview.tsx
  src/pages/interview/CollectionsPage/ui/CollectionsPage/CollectionsPage.module.css
  src/pages/interview/CollectionsPage/ui/CollectionsPage/CollectionsPage.skeleton.tsx
  src/pages/interview/CollectionsPage/ui/CollectionsPage/CollectionsPage.tsx
  src/pages/landing/PublicCollectionsPage/ui/PublicCollectionsPage.module.css
  src/pages/landing/PublicCollectionsPage/ui/PublicCollectionsPage.skeleton.tsx
  src/pages/landing/PublicCollectionsPage/ui/PublicCollectionsPage.tsx
  src/widgets/Collection/index.ts
  src/widgets/Collection/model/types/types.ts
  src/widgets/Collection/ui/CollectionsContent/CollectionsContent.module.css
  src/widgets/Collection/ui/CollectionsContent/CollectionsContent.skeleton.tsx
  src/widgets/Collection/ui/CollectionsContent/CollectionsContent.tsx
  src/widgets/Collection/ui/CollectionsFilterPanel/CollectionsFilterPanel.module.css
  src/widgets/Collection/ui/CollectionsFilterPanel/CollectionsFilterPanel.skeleton.tsx
  src/widgets/Collection/ui/CollectionsFilterPanel/CollectionsFilterPanel.tsx
  src/widgets/Collection/ui/CollectionsFilters/CollectionsFilters.skeleton.tsx
  src/widgets/Collection/ui/CollectionsFilters/CollectionsFilters.tsx
  src/widgets/Collection/ui/CollectionsFiltersDrawer/CollectionsFiltersDrawer.module.css
  src/widgets/Collection/ui/CollectionsFiltersDrawer/CollectionsFiltersDrawer.skeleton.tsx
  src/widgets/Collection/ui/CollectionsFiltersDrawer/CollectionsFiltersDrawer.tsx
  src/widgets/Landing/BannerBlock/ui/BannerButton/BannerButton.tsx
  src/widgets/Landing/JoinToCommunity/ui/JoinToCommunity/JoinToCommunity.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-983: fix translation variables, create handlers
  src/features/profile/deleteAccount/api/deleteAccountApi.ts
  src/features/profile/deleteAccount/ui/DeleteAccountModal/DeleteAccountModal.tsx
  src/features/profile/deleteAccount/ui/DeleteUserAccount/DeleteUserAccount.tsx
  src/pages/admin/UserDetailPage/ui/UserDetailPage.module.css
  src/pages/admin/UserDetailPage/ui/UserDetailPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/Profile/ui/AccountTab/ui/AccountTab.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1003: fix few styles
  src/pages/interview/CollectionsPage/ui/CollectionsPage/CollectionsPage.module.css
  src/pages/interview/CollectionsPage/ui/CollectionsPage/CollectionsPage.tsx
  src/widgets/Collection/ui/CollectionsContent/CollectionsContent.skeleton.tsx
  src/widgets/Collection/ui/CollectionsFiltersDrawer/CollectionsFiltersDrawer.module.css
  src/widgets/Collection/ui/CollectionsFiltersDrawer/CollectionsFiltersDrawer.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1003: fix collection preview link
  src/entities/collection/ui/CollectionPreview/CollectionPreview.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1003: fix bugs on public and interview collections pages, landing … (#652)
  src/app/providers/router/ui/AuthRoute.tsx
  src/entities/collection/index.ts
  src/entities/collection/ui/ChooseCollectionSpecialization/ChooseCollectionSpecialization.skeleton.tsx
  src/entities/collection/ui/CollectionPreview/CollectionPreview.tsx
  src/pages/interview/CollectionsPage/ui/CollectionsPage/CollectionsPage.module.css
  src/pages/interview/CollectionsPage/ui/CollectionsPage/CollectionsPage.skeleton.tsx
  src/pages/interview/CollectionsPage/ui/CollectionsPage/CollectionsPage.tsx
  src/pages/landing/PublicCollectionsPage/ui/PublicCollectionsPage.module.css
  src/pages/landing/PublicCollectionsPage/ui/PublicCollectionsPage.skeleton.tsx
  src/pages/landing/PublicCollectionsPage/ui/PublicCollectionsPage.tsx
  src/widgets/Collection/index.ts
  src/widgets/Collection/model/types/types.ts
  src/widgets/Collection/ui/CollectionsContent/CollectionsContent.module.css
  src/widgets/Collection/ui/CollectionsContent/CollectionsContent.skeleton.tsx
  src/widgets/Collection/ui/CollectionsContent/CollectionsContent.tsx
  src/widgets/Collection/ui/CollectionsFilterPanel/CollectionsFilterPanel.module.css
  src/widgets/Collection/ui/CollectionsFilterPanel/CollectionsFilterPanel.skeleton.tsx
  src/widgets/Collection/ui/CollectionsFilterPanel/CollectionsFilterPanel.tsx
  src/widgets/Collection/ui/CollectionsFilters/CollectionsFilters.module.css
  src/widgets/Collection/ui/CollectionsFilters/CollectionsFilters.skeleton.tsx
  src/widgets/Collection/ui/CollectionsFilters/CollectionsFilters.tsx
  src/widgets/Collection/ui/CollectionsFiltersDrawer/CollectionsFiltersDrawer.module.css
  src/widgets/Collection/ui/CollectionsFiltersDrawer/CollectionsFiltersDrawer.skeleton.tsx
  src/widgets/Collection/ui/CollectionsFiltersDrawer/CollectionsFiltersDrawer.tsx
  src/widgets/Landing/BannerBlock/ui/BannerButton/BannerButton.tsx
  src/widgets/Landing/JoinToCommunity/ui/JoinToCommunity/JoinToCommunity.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

Release 1.0.14
  RELEASE_NOTES.md
  package-lock.json
  package.json
Due: none

YH-980: Add tooltips to sidebar items for admin users
  src/app/layouts/MainLayout/ui/MainLayout.tsx
  src/widgets/Sidebar/ui/Sidebar/Sidebar.tsx
  src/widgets/Sidebar/ui/SidebarMenuItem/SidebarMenuItem.tsx
  src/widgets/Sidebar/ui/SidebarMenuList/SidebarMenuList.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1004: Handle null createdBy in questions
  src/widgets/question/QuestionAdditionalInfo/ui/QuestionAdditionalInfo.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1004: Handle null createdBy in questions (#655)
  src/widgets/question/QuestionAdditionalInfo/ui/QuestionAdditionalInfo.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-941: added tests to CollectionBlock
  src/widgets/Landing/CollectionBlock/ui/AdditionalBlock/AdditionalBlock.test.tsx
  src/widgets/Landing/CollectionBlock/ui/CollectionBlock/CollectionBlock.test.tsx
  src/widgets/Landing/CollectionBlock/ui/CollectionBlock/CollectionBlock.tsx
  src/widgets/Landing/CollectionBlock/ui/FilterChip/FilterChip.test.tsx
  src/widgets/Landing/CollectionBlock/ui/FiltersBlock/FiltersBlock.test.tsx
  src/widgets/Landing/CollectionBlock/ui/FiltersBlock/FiltersBlock.tsx
  src/widgets/Landing/CollectionBlock/ui/MainBlock/MainBlock.test.tsx
  src/widgets/Landing/CollectionBlock/ui/MainBlock/MainBlock.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-978: fixed delete button styles in admin panel (#627)
  src/features/collections/deleteCollection/ui/deleteCollectionButton/DeleteCollectionButton.tsx
  src/features/company/deleteCompany/ui/DeleteCompanyButton/DeleteCompanyButton.tsx
  src/features/question/deleteQuestion/ui/DeleteQuestionButton/DeleteQuestionButton.tsx
  src/features/skill/deleteSkill/ui/DeleteSkillButton/DeleteSkillButton.tsx
  src/features/specialization/deleteSpecialization/ui/DeleteSpecializationButton/DeleteSpecializationButton.tsx
  src/shared/ui/Button/Button.module.css
  src/shared/ui/Button/helpers.ts
  src/shared/ui/Button/types.ts
  src/shared/ui/Popover/PopoverMenu/PopoverMenu.module.css
  src/shared/ui/Popover/PopoverMenu/PopoverMenu.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-977: added navigation by title text click and styles for text (#637)
  src/widgets/CollectionsTable/ui/CollectionsTable.tsx
  src/widgets/CompaniesTable/ui/CompaniesTable.tsx
  src/widgets/QuestionsTable/ui/QuestionsTable.tsx
  src/widgets/SkillsTable/ui/SkillsTable.tsx
  src/widgets/SpecializationsTable/ui/SpecializationsTable.tsx
  src/widgets/UsersTable/ui/UsersTable.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1007: fix auth token update
  src/shared/config/api/baseApi.ts
Due: npm run prettier, npm run lint:ts:fix

YH-741: add limit content fo free users
  public/locales/ru/subscription.json
  src/shared/ui/Card/ui/Card.module.css
  src/widgets/question/QuestionActions/QuestionActions.module.css
  src/widgets/question/QuestionActions/QuestionActions.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix
