Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

.lintstagedrc:

{
  "./**/*.{ts,tsx,js,jsx}": ["npm run prettier", "npm run lint:ts:fix"],
  "*.css": "npm run lint:css:fix"
}

YH-1504: corrected the header and the specialization page
  src/entities/specialization/ui/SpecializationForm/SpecializationForm.module.css
  src/entities/specialization/ui/SpecializationForm/SpecializationForm.tsx
  src/features/specialization/editSpecialization/ui/SpecializationEditForm/SpecializationEditForm.tsx
  src/features/specialization/editSpecialization/ui/SpecializationEditFormHeader/SpecializationEditFormHeader.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1498: add 'my skills' switch filter
  public/locales/en/skill.json
  public/locales/ru/skill.json
  src/entities/skill/model/types/skill.ts
  src/features/question/filterQuestions/ui/QuestionsFilters/QuestionsFilters.tsx
  src/features/skill/filterSkills/model/hooks/useSkillsFilters.ts
  src/features/skill/filterSkills/model/types/filters.ts
  src/features/skill/filterSkills/ui/SkillsFilters.tsx
  src/pages/admin/SkillsPage/ui/SkillsPage/SkillsPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1498: add 'my skills' switch filter
  src/widgets/analytics/PopularSkillsWidget/ui/PopularSkillsWidget/PopularSkillsWidget.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1495: fixed by reviewer comments
  src/entities/user/ui/UserSelect/UserSelect.tsx
  src/features/collections/filterCollections/model/hooks/useGetCollectionsFilterParams.ts
  src/shared/hooks/useDebounced.ts
  src/shared/ui/Dropdown/Dropdown/Dropdown.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1546: add MVP page
  package-lock.json
  package.json
  public/locales/en/liveCoding.json
  public/locales/en/translation.json
  public/locales/ru/liveCoding.json
  public/locales/ru/translation.json
  src/app/providers/router/config/routeConfig.tsx
  src/pages/liveCoding/index.ts
  src/pages/liveCoding/ui/LiveCodingPage.lazy.tsx
  src/pages/liveCoding/ui/LiveCodingPage.module.css
  src/pages/liveCoding/ui/LiveCodingPage.tsx
  src/shared/config/i18n/i18n.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
  src/widgets/LiveCoding/index.ts
  src/widgets/LiveCoding/ui/LiveCoding.module.css
  src/widgets/LiveCoding/ui/LiveCoding.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-547: Changed the test grouping and added a skeleton test
  src/shared/ui/Accordion/model/constans.ts
  src/shared/ui/Accordion/model/constants.ts
  src/shared/ui/Accordion/ui/Accordion.skeleton.tsx
  src/shared/ui/Accordion/ui/Accordion.test.tsx
  src/shared/ui/Accordion/ui/Accordion.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1502: add rate, complexity and author columns to questions table
  src/widgets/QuestionsTable/ui/QuestionsTable.tsx
Due: npm run prettier, npm run lint:ts:fix

Release 1.3.0
  RELEASE_NOTES.md
  package-lock.json
  package.json
Due: none

YH-1495: added user filter and user search within the dropdown in collections (#1002)
  src/entities/collection/model/types/collection.ts
  src/entities/user/ui/UserSelect/UserSelect.tsx
  src/features/collections/filterCollections/model/hooks/useCollectionsFilters.ts
  src/features/collections/filterCollections/model/hooks/useGetCollectionsFilterParams.ts
  src/features/collections/filterCollections/model/types/types.ts
  src/pages/admin/CollectionsPage/ui/CollectionsPage/CollectionsPage.tsx
  src/shared/hooks/useDebounced.ts
  src/shared/ui/Dropdown/Dropdown/Dropdown.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1522: add skills filter on my resourses page
  src/features/resources/filterResourceRequests/model/hooks/useGetResourceRequestsFilterParams.ts
  src/features/resources/filterResourceRequests/model/hooks/useResourceRequestsFilters.ts
  src/features/resources/filterResourceRequests/model/types/filters.ts
  src/features/resources/filterResourceRequests/ui/ResourceRequestsFilters/ResourceRequestsFilters.tsx
  src/pages/wiki/MyResourcesPage/ui/MyResourcesPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1458: added access-denied type to Stub component with translations and image
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/shared/assets/images/AccessDenied.png
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Stub/Stub.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1458: added access-denied type to Stub component with translations and image (#1013)
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/shared/assets/images/AccessDenied.png
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Stub/Stub.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1502: add rate, complexity and author columns to questions table (#1011)
  src/widgets/QuestionsTable/ui/QuestionsTable.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1522: fix error with hasFilters
  src/features/resources/filterResourceRequests/model/hooks/useResourceRequestsFilters.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1522: add skills filter on my resourses page (#1014)
  src/features/resources/filterResourceRequests/model/hooks/useGetResourceRequestsFilterParams.ts
  src/features/resources/filterResourceRequests/model/hooks/useResourceRequestsFilters.ts
  src/features/resources/filterResourceRequests/model/types/filters.ts
  src/features/resources/filterResourceRequests/ui/ResourceRequestsFilters/ResourceRequestsFilters.tsx
  src/pages/wiki/MyResourcesPage/ui/MyResourcesPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1504: corrected the header and the specialization page (#1008)
  src/entities/specialization/ui/SpecializationForm/SpecializationForm.module.css
  src/entities/specialization/ui/SpecializationForm/SpecializationForm.tsx
  src/features/specialization/editSpecialization/ui/SpecializationEditForm/SpecializationEditForm.tsx
  src/features/specialization/editSpecialization/ui/SpecializationEditFormHeader/SpecializationEditFormHeader.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1498: add 'my skills' switch filter (#1007)
  public/locales/en/skill.json
  public/locales/ru/skill.json
  src/entities/skill/model/types/skill.ts
  src/features/question/filterQuestions/ui/QuestionsFilters/QuestionsFilters.tsx
  src/features/skill/filterSkills/model/hooks/useSkillsFilters.ts
  src/features/skill/filterSkills/model/types/filters.ts
  src/features/skill/filterSkills/ui/SkillsFilters.tsx
  src/pages/admin/SkillsPage/ui/SkillsPage/SkillsPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/analytics/PopularSkillsWidget/ui/PopularSkillsWidget/PopularSkillsWidget.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1493: added keyword filter to collections
  public/locales/en/collection.json
  public/locales/ru/collection.json
  src/entities/collection/api/collectionApi.ts
  src/entities/collection/index.ts
  src/entities/collection/model/constants/collection.ts
  src/entities/collection/model/types/collection.ts
  src/entities/collection/ui/KeywordSelect/KeywordSelect.tsx
  src/features/collections/filterCollections/model/hooks/useCollectionsFilters.ts
  src/features/collections/filterCollections/model/hooks/useGetCollectionsFilterParams.ts
  src/features/collections/filterCollections/model/types/types.ts
  src/features/collections/filterCollections/ui/CollectionsFilters/CollectionsFilters.tsx
  src/pages/interview/CollectionsPage/ui/CollectionsPage/CollectionsPage.tsx
  src/pages/landing/PublicCollectionsPage/ui/PublicCollectionsPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1546: fix from comments
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/pages/liveCoding/ui/LiveCodingPage.tsx
  src/shared/config/i18n/i18n.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/CodeEditor/CodeEditor.module.css
  src/shared/ui/CodeEditor/CodeEditor.tsx
  src/shared/ui/CodeEditor/index.ts
  src/widgets/LiveCoding/index.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1556: add name branch lint
  .husky/pre-commit
  src/widgets/analytics/PopularSkillsWidget/ui/PopularSkillsWidget/PopularSkillsWidget.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1493: added clear button for keyword filter and fixed dropdown z-index conflict
  src/entities/collection/ui/KeywordSelect/KeywordSelect.module.css
  src/entities/collection/ui/KeywordSelect/KeywordSelect.tsx
  src/features/collections/filterCollections/ui/CollectionsFilters/CollectionsFilters.tsx
  src/pages/interview/CollectionsPage/ui/CollectionsPage/CollectionsPage.module.css
  src/pages/landing/PublicCollectionsPage/ui/PublicCollectionsPage.module.css
  src/shared/ui/Dropdown/Dropdown/Dropdown.module.css
  src/shared/ui/Dropdown/Dropdown/Dropdown.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1496: added authority filter in collections
  public/locales/en/collection.json
  public/locales/ru/collection.json
  src/features/collections/filterCollections/model/hooks/useCollectionsFilters.ts
  src/features/collections/filterCollections/model/types/types.ts
  src/features/collections/filterCollections/ui/CollectionsFilters/CollectionsFilters.tsx
  src/pages/admin/CollectionsPage/ui/CollectionsPage/CollectionsPage.tsx
  src/pages/interview/CollectionsPage/ui/CollectionsPage/CollectionsPage.tsx
  src/pages/landing/PublicCollectionsPage/ui/PublicCollectionsPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1569: fix sidebar menu spacing and inactive sub-item color
  src/widgets/Sidebar/ui/SidebarMenuItem/SidebarMenuItem.module.css
  src/widgets/Sidebar/ui/SidebarMenuList/SidebarMenuList.module.css
Due: npm run lint:css:fix

YH-1420: add Telegram binding error handling
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/features/authentication/telegramLink/api/telegramLinkApi.ts
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1420: fix comms
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/app/types/global.d.ts
  src/entities/auth/index.ts
  src/entities/auth/model/types/auth.ts
  src/features/authentication/telegramLink/api/telegramLinkApi.ts
  src/features/authentication/telegramLink/model/lib/utils/getTelegramLinkApiErrorMessage.ts
  src/features/specialization/createSpecialization/model/lib/utils/getCreateSpecializationApiErrorMessage.ts
  src/features/specialization/createSpecialization/model/types/specializationCreateTypes.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/helpers/handleApiError/handleApiError.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1493: refactored clear button logic in Dropdown component
  src/entities/collection/ui/KeywordSelect/KeywordSelect.module.css
  src/entities/collection/ui/KeywordSelect/KeywordSelect.tsx
  src/shared/ui/Dropdown/Dropdown/Dropdown.module.css
  src/shared/ui/Dropdown/Dropdown/Dropdown.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1517: Add empty state for filtered applications
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/shared/assets/images/notFound.avif
  src/shared/ui/EmptyFilterStub/EmptyFilerStub.module.css
  src/shared/ui/EmptyFilterStub/EmptyFilterStub.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1547: fix typo in en/ru profile translation keys and update husky branch validation regex
  .husky/pre-commit
  public/locales/en/profile.json
  public/locales/ru/profile.json
Due: none

YH-1496: added authority filter in collections
  src/features/collections/filterCollections/model/hooks/useCollectionsFilters.ts
  src/features/collections/filterCollections/ui/CollectionsFilters/CollectionsFilters.tsx
  src/pages/admin/CollectionsPage/ui/CollectionsPage/CollectionsPage.tsx
  src/pages/interview/CollectionsPage/ui/CollectionsPage/CollectionsPage.tsx
  src/pages/landing/PublicCollectionsPage/ui/PublicCollectionsPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1534: added TopicsPage
  public/locales/en/topics.json
  public/locales/ru/topics.json
  src/app/providers/router/config/routeConfig.tsx
  src/app/providers/store/config/config.ts
  src/entities/topic/api/topicApi.ts
  src/entities/topic/index.ts
  src/entities/topic/model/constants/topicConstants.ts
  src/entities/topic/model/types/topic.ts
  src/pages/admin/TopicsPage/index.ts
  src/pages/admin/TopicsPage/model/selectors/topicsPageSelectors.ts
  src/pages/admin/TopicsPage/model/slices/topicsPageSlice.ts
  src/pages/admin/TopicsPage/model/types/topicsPageTypes.ts
  src/pages/admin/TopicsPage/ui/TopicsPage/TopicsPage.lazy.tsx
  src/pages/admin/TopicsPage/ui/TopicsPage/TopicsPage.tsx
  src/shared/config/api/apiTags.ts
  src/shared/config/i18n/i18n.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
  src/shared/config/store/State.ts
  src/widgets/TopicsTable/index.ts
  src/widgets/TopicsTable/ui/TopicsTable.module.css
  src/widgets/TopicsTable/ui/TopicsTable.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1420: fix comms
  src/features/authentication/telegramLink/api/telegramLinkApi.ts
  src/features/specialization/createSpecialization/model/lib/utils/getCreateSpecializationApiErrorMessage.ts
  src/features/specialization/createSpecialization/model/types/specializationCreateTypes.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1517: fix comms
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/pages/admin/CollectionsPage/ui/CollectionsPage/CollectionsPage.tsx
  src/pages/admin/CompaniesTablePage/ui/CompaniesTablePage/CompaniesTablePage.tsx
  src/pages/admin/QuestionsTablePage/ui/QuestionsTablePage/QuestionsTablePage.tsx
  src/pages/admin/ResourcesPage/ui/tabs/ResourcesRequestsTab/ResourcesRequestsTab.tsx
  src/pages/admin/UserTablePage/ui/UserTablePage/UsersTablePage.tsx
  src/pages/interview/QuestionsPage/ui/QuestionsPage/QuestionsPage.tsx
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsPage/PublicQuestionsPage.tsx
  src/pages/landing/PublicResourcesPage/ui/PublicResourcesPage.tsx
  src/pages/wiki/MyResourcesPage/ui/MyResourcesPage.tsx
  src/pages/wiki/ResourcesPage/ui/ResourcesPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/EmptyFilterStub/EmptyFilerStub.module.css
  src/shared/ui/EmptyFilterStub/EmptyFilterStub.test.tsx
  src/shared/ui/EmptyFilterStub/EmptyFilterStub.tsx
  src/shared/ui/EmptyFilterStub/constants.ts
  src/shared/ui/EmptyFilterStub/index.ts
  src/shared/ui/Stub/Stub.tsx
  src/widgets/Collection/ui/CollectionsContent/CollectionsContent.tsx
  src/widgets/interview/PassedQuizzesList/ui/FullPassedQuizzesList/FullPassedQuizzesList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1536: Added a topic creation page
  public/locales/en/skill.json
  public/locales/en/topic.json
  public/locales/en/translation.json
  public/locales/ru/skill.json
  public/locales/ru/topic.json
  public/locales/ru/translation.json
  src/app/providers/router/config/routeConfig.tsx
  src/entities/topic/TopicForm/TopicForm.module.css
  src/entities/topic/TopicForm/TopicForm.tsx
  src/entities/topic/index.ts
  src/entities/topic/model/types/topic.ts
  src/features/topics/createTopics/api/createTopicApi.ts
  src/features/topics/createTopics/index.ts
  src/features/topics/createTopics/model/constants/createTopicConstants.ts
  src/features/topics/createTopics/model/lib/validation/topicCreateSchema.ts
  src/features/topics/createTopics/model/types/topicCreateTypes.ts
  src/features/topics/createTopics/ui/TopicCreateForm/TopicCreateForm.module.css
  src/features/topics/createTopics/ui/TopicCreateForm/TopicCreateForm.tsx
  src/features/topics/createTopics/ui/TopicCreateFormHeader/TopicCreateFormHeader.tsx
  src/pages/admin/TopicCreatePage/index.ts
  src/pages/admin/TopicCreatePage/ui/TopicCreatePage.lazy.tsx
  src/pages/admin/TopicCreatePage/ui/TopicCreatePage.tsx
  src/shared/config/api/apiTags.ts
  src/shared/config/i18n/i18n.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1583: fix build
  webpack.config.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1420: move function
  src/features/authentication/telegramLink/api/telegramLinkApi.ts
  src/shared/libs/query/handleApiError/handleApiError.ts
  src/shared/libs/query/handleApiError/index.ts
  src/shared/libs/query/index.ts
Due: npm run prettier, npm run lint:ts:fix
