Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

.lintstagedrc:

{
  "./**/*.{ts,tsx,js,jsx}": ["npm run prettier", "npm run lint:ts:fix"],
  "*.css": "npm run lint:css:fix"
}

YH-1134: feature: add EMPTY_RESOURCE_ID constant, fix chip padding, fix button height
  src/entities/resource/model/constants/resource.ts
  src/entities/resource/ui/ResourceForm/ResourceForm.module.css
  src/entities/resource/ui/ResourceSelect/ResourceSelect.tsx
  src/entities/specialization/ui/SpecializationSelect/SpecializationSelect.tsx
  src/shared/ui/Chip/Chip.module.css
  src/shared/ui/KeywordInput/KeywordInput.tsx
  src/shared/ui/SelectWithChips/SelectWithChips.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1134: feature: add ResourceAccessCategory to resourceCreateSchema
  src/features/resource/createResource/model/lib/validation/resourceCreateSchema.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1190: replaced links with constants
  src/widgets/Header/ui/UserPreferences/UserPreferences.tsx
  src/widgets/interview/InterviewPreparation/ui/InterviewPreparation/InterviewPreparation.tsx
  src/widgets/interview/PassedQuizzesList/ui/PreviewPassedQuizzesList/PreviewPassedQuizzesList.tsx
  src/widgets/interview/QuestionsStatistic/ui/PreviewQuestionsStatistic/PreviewQuestionsStatistic.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1190: fix incorrect link to settings page (#746)
  src/shared/constants/customRoutes.ts
  src/widgets/Collection/ui/CollectionBody/CollectionBody.tsx
  src/widgets/Header/ui/UserPreferences/UserPreferences.tsx
  src/widgets/interview/InterviewPreparation/ui/InterviewPreparation/InterviewPreparation.tsx
  src/widgets/interview/PassedQuizzesList/ui/PreviewPassedQuizzesList/PreviewPassedQuizzesList.tsx
  src/widgets/interview/QuestionsStatistic/ui/PreviewQuestionsStatistic/PreviewQuestionsStatistic.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1157: Added a tooltip for the profile creation button (#741)
  public/locales/en/profile.json
  public/locales/ru/profile.json
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Tooltip/Tooltip.tsx
  src/widgets/manageProfiles/ui/ManageProfilesPanel/ManageProfilesPanel.module.css
  src/widgets/manageProfiles/ui/ManageProfilesPanel/ManageProfilesPanel.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1052: Add subscription tooltip (#737)
  public/locales/en/subscriptionCard.json
  public/locales/ru/subscriptionCard.json
  src/entities/subscription/index.ts
  src/entities/subscription/model/types/subscription.ts
  src/entities/subscription/ui/PremiumSubscriptionTooltipBody/PremiumSubscriptionTooltipBody.module.css
  src/entities/subscription/ui/PremiumSubscriptionTooltipBody/PremiumSubscriptionTooltipBody.tsx
  src/entities/subscription/ui/SubscriptionCard/SubscriptionCard.module.css
  src/entities/subscription/ui/SubscriptionCard/SubscriptionCard.tsx
  src/features/subscriptions/subscribe/ui/AgreementForm/AgreementForm.module.css
  src/features/subscriptions/subscribe/ui/AgreementForm/AgreementForm.tsx
  src/shared/assets/icons/info.svg
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Icon/icons.ts
  src/shared/ui/Icon/types.ts
  src/shared/ui/Tooltip/Tooltip.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1162: added mock request
  src/app/msw/handlers.ts
  src/entities/payment/api/__mocks__/data/index.ts
  src/entities/payment/api/__mocks__/data/paymentsMock.ts
  src/entities/payment/api/__mocks__/index.ts
  src/entities/payment/api/__mocks__/paymentsListMock.ts
  src/entities/payment/api/paymentApi.ts
  src/entities/payment/index.ts
  src/entities/payment/model/slices/activePaymentsSlice.tsx
  src/entities/payment/model/types/payments.ts
  src/widgets/Profile/ui/SubscriptionTab/ui/PayHistoryItem/PayHistoryItem.tsx
  src/widgets/Profile/ui/SubscriptionTab/ui/PayHistoryList/PayHistoryList.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1070: Added a tooltip. Replaced it with the desired text (#706)
  public/locales/en/questions.json
  public/locales/ru/questions.json
  src/features/quiz/learnQuestion/ui/LearnQuestionButton.tsx
  src/features/quiz/resetQuestionStudyProgress/ui/ResetQuestionStudyProgressButton.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1189: refactor tabs
  RELEASE_NOTES.md
  package-lock.json
  package.json
Due: none

YH-1158: Replace subscription check with premium role check, show current count when exceeding limit
  src/entities/profile/index.ts
  src/entities/profile/model/selectors/profileSelectors.ts
  src/widgets/manageProfiles/ui/ManageProfilesPanel/ManageProfilesPanel.tsx
  src/widgets/manageProfiles/ui/ProfilesCounter/ProfilesCounter.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1064: add access restriction for authors to work only with their own collections
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/entities/collection/model/types/collection.ts
  src/features/collections/deleteCollection/ui/deleteCollectionButton/DeleteCollectionButton.tsx
  src/features/collections/editCollection/ui/CollectionEditForm/CollectionEditForm.tsx
  src/pages/admin/CollectionPage/ui/CollectionPage.tsx
  src/pages/admin/CollectionsPage/ui/CollectionsPage/CollectionsPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/types/types.ts
  src/shared/ui/Button/Button.module.css
  src/shared/ui/Checkbox/Checkbox.module.css
  src/shared/ui/Popover/PopoverMenu/PopoverMenu.tsx
  src/shared/ui/Popover/types.ts
  src/shared/ui/Table/Table.tsx
  src/shared/ui/Tooltip/Tooltip.module.css
  src/shared/ui/Tooltip/Tooltip.tsx
  src/shared/ui/Tooltip/types.ts
  src/widgets/CollectionsTable/ui/CollectionsTable.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1158: Remove checking admin role
  src/entities/profile/index.ts
  src/entities/profile/model/selectors/profileSelectors.ts
  src/widgets/manageProfiles/ui/ManageProfilesPanel/ManageProfilesPanel.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1191: added translation for password change button and toaster when authorization failed
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1138: add btn trial
  public/locales/en/subscription.json
  public/locales/ru/subscription.json
  src/entities/profile/index.ts
  src/entities/profile/model/selectors/profileSelectors.ts
  src/entities/subscription/api/subscriptionApi.ts
  src/entities/subscription/index.ts
  src/entities/subscription/model/constants/subscriptionConstants.ts
  src/entities/subscription/ui/PremiumSubscriptionTooltipBody/PremiumSubscriptionTooltipBody.tsx
  src/entities/subscription/ui/SubscriptionCard/SubscriptionCard.module.css
  src/entities/subscription/ui/SubscriptionCard/SubscriptionCard.tsx
  src/features/subscriptions/subscribe/ui/AgreementForm/AgreementForm.module.css
  src/features/subscriptions/subscribe/ui/AgreementForm/AgreementForm.tsx
  src/features/subscriptions/subscribe/ui/SubscribeButton/ui/SubscribeButton.module.css
  src/features/subscriptions/subscribe/ui/TrialButton/index.ts
  src/features/subscriptions/subscribe/ui/TrialButton/ui/TrialButton.module.css
  src/features/subscriptions/subscribe/ui/TrialButton/ui/TrialButton.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1159: add useTruncation hook
  src/features/profile/deleteProfile/ui/DeleteProfileButton/DeleteProfileButton.tsx
  src/shared/hooks/index.ts
  src/shared/hooks/useTruncation.ts
  src/shared/ui/Icon/Icon.tsx
  src/shared/ui/Modal/Modal.tsx
  src/shared/ui/Text/Text.module.css
  src/shared/ui/Text/Text.tsx
  src/shared/ui/Tooltip/Tooltip.module.css
  src/shared/ui/Tooltip/Tooltip.tsx
  src/widgets/manageProfiles/ui/ProfileCard/ProfileCard.module.css
  src/widgets/manageProfiles/ui/ProfileCard/ProfileCard.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

[YH-guru-fixed] - fix tg link
  src/entities/guru/model/constants/gurus.ts
Due: npm run prettier, npm run lint:ts:fix

[YH-guru-fixed] - fix tg link (#753)
  src/entities/guru/model/constants/gurus.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1163: fix input label and error label
  src/features/profile/changePassword/ui/ChangePassword.module.css
  src/features/profile/changePassword/ui/ChangePassword.tsx
  src/shared/ui/FormControl/FormControl.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1189: refactor tabs (#744)
  src/features/profile/editProfileForm/helpers/editProfileFormHelpers.ts
  src/features/profile/editProfileForm/ui/EditProfileForm/EditProfileForm.module.css
  src/features/profile/editProfileForm/ui/EditProfileForm/EditProfileForm.tsx
  src/pages/profile/SettingsProfilePage/ui/SettingsProfilePage.tsx
  src/shared/ui/Tabs/Tabs.module.css
  src/shared/ui/Tabs/Tabs.stories.tsx
  src/shared/ui/Tabs/Tabs.test.tsx
  src/shared/ui/Tabs/Tabs.tsx
  src/shared/ui/Tabs/hooks.ts
  src/shared/ui/Tabs/index.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

fix/YH-1159 (#745)
  src/features/profile/deleteProfile/ui/DeleteProfileButton/DeleteProfileButton.tsx
  src/shared/hooks/index.ts
  src/shared/hooks/useScreenSize.ts
  src/shared/hooks/useTruncation.ts
  src/shared/ui/Icon/Icon.tsx
  src/shared/ui/Modal/Modal.tsx
  src/shared/ui/Text/Text.module.css
  src/shared/ui/Text/Text.tsx
  src/shared/ui/Tooltip/Tooltip.module.css
  src/shared/ui/Tooltip/Tooltip.tsx
  src/widgets/manageProfiles/ui/ProfileCard/ProfileCard.module.css
  src/widgets/manageProfiles/ui/ProfileCard/ProfileCard.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1043: improved profile text editor
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/features/profile/editProfileForm/model/lib/validation/editProfileSchema.ts
  src/features/profile/editProfileForm/model/lib/validation/validateNoLinks.ts
  src/features/profile/editProfileForm/ui/AboutMeTabForm/AboutMeTabForm.tsx
  src/features/profile/editProfileForm/ui/EditProfileForm/EditProfileForm.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/TextEditor/TextEditor.module.css
  src/shared/ui/TextEditor/TextEditor.tsx
  src/shared/ui/TextEditor/types.ts
  src/widgets/Profile/ui/InfoCard/ui/InfoBlockText/InfoBlockText.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1163: fix issues mentioned in code review
  src/features/profile/changePassword/ui/ChangePassword.module.css
  src/shared/ui/FormControl/FormControl.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1193: Fixed profile edit form
  src/features/profile/editProfileForm/ui/PersonalInformationTabForm/PersonalInformationTabForm.module.css
  src/features/profile/editProfileForm/ui/PersonalInformationTabForm/PersonalInformationTabForm.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1043: refactor
  src/features/profile/editProfileForm/ui/AboutMeTabForm/AboutMeTabForm.tsx
  src/shared/ui/TextEditor/TextEditor.module.css
  src/shared/ui/TextEditor/TextEditor.tsx
  src/shared/ui/TextEditor/types.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1163: fix input label and error label (#754)
  src/features/profile/changePassword/ui/ChangePassword.module.css
  src/features/profile/changePassword/ui/ChangePassword.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1193: Fixed profile edit form (#755)
  src/features/profile/editProfileForm/ui/PersonalInformationTabForm/PersonalInformationTabForm.module.css
  src/features/profile/editProfileForm/ui/PersonalInformationTabForm/PersonalInformationTabForm.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1163: fix issues mentioned in code review
  src/features/collections/deleteCollection/ui/deleteCollectionButton/DeleteCollectionButton.tsx
  src/pages/admin/CollectionPage/ui/CollectionPage.tsx
  src/shared/ui/Popover/PopoverMenu/PopoverMenu.tsx
  src/shared/ui/Popover/types.ts
  src/shared/ui/Tooltip/Tooltip.tsx
  src/widgets/CollectionsTable/ui/CollectionsTable.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1063: For a user with the author role, added restrictions for working with companies
  public/locales/en/companies.json
  public/locales/ru/companies.json
  src/app/styles/variables/pallete.css
  src/entities/company/model/types/companyTypes.ts
  src/features/company/createCompany/model/lib/validation/companyCreateSchema.ts
  src/features/company/deleteCompany/ui/DeleteCompanyButton/DeleteCompanyButton.tsx
  src/features/company/editCompany/model/lib/validation/companyEditSchema.ts
  src/pages/admin/CompaniesTablePage/ui/CompaniesTablePage/CompaniesTablePage.tsx
  src/pages/admin/CompanyDetailPage/ui/CompanyDetailPage/CompanyDetailPage.tsx
  src/pages/admin/CompanyEditPage/ui/CompanyEditPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/types/types.ts
  src/shared/ui/Button/Button.module.css
  src/shared/ui/Popover/PopoverMenu/PopoverMenu.tsx
  src/shared/ui/Popover/types.ts
  src/shared/ui/Table/Table.tsx
  src/shared/ui/Tooltip/Tooltip.module.css
  src/shared/ui/Tooltip/types.ts
  src/widgets/CompaniesTable/ui/CompaniesTable.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1203: fixed the link to view statistics
  src/entities/subscription/ui/PremiumSubscriptionTooltipBody/PremiumSubscriptionTooltipBody.tsx
  src/entities/subscription/ui/SubscriptionCard/SubscriptionCard.tsx
  src/shared/constants/customRoutes.ts
  src/widgets/interview/QuestionsStatistic/ui/PreviewQuestionsStatistic/PreviewQuestionsStatistic.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1158: Replace subscription check with premium role check, show cur… (#749)
  src/widgets/manageProfiles/ui/ManageProfilesPanel/ManageProfilesPanel.tsx
  src/widgets/manageProfiles/ui/ProfilesCounter/ProfilesCounter.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1064: adds an additional condition for displaying the tooltip
  src/shared/ui/Popover/PopoverMenu/PopoverMenu.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1203: fixed the link to view statistics
  src/shared/constants/customRoutes.ts
  src/widgets/interview/QuestionsStatistic/ui/PreviewQuestionsStatistic/PreviewQuestionsStatistic.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1197: updated interview trainer widget UI
  public/locales/en/interviewQuiz.json
  public/locales/ru/interviewQuiz.json
  src/shared/assets/icons/vector.svg
  src/shared/assets/images/quiz-card-preview.avif
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/interview/InterviewPreparation/ui/PreviewInactiveQuiz/PreviewInactiveQuiz.module.css
  src/widgets/interview/InterviewPreparation/ui/PreviewInactiveQuiz/PreviewInactiveQuiz.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1198: limitation of features for the public trainer
  src/pages/landing/CreatePublicQuizPage/ui/CreatePublicQuizPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1197: replaced text and added translation
  public/locales/en/interviewQuiz.json
  public/locales/ru/interviewQuiz.json
Due: none

YH-1134: ResourceCreateForm (#743)
  public/locales/en/marketplace.json
  public/locales/ru/marketplace.json
  src/app/providers/router/config/routeConfig.tsx
  src/entities/resource/index.ts
  src/entities/resource/model/constants/resource.ts
  src/entities/resource/model/types/filters.ts
  src/entities/resource/model/types/resource.ts
  src/entities/resource/ui/FormSelect/FormSelect.module.css
  src/entities/resource/ui/FormSelect/FormSelect.tsx
  src/entities/resource/ui/ResourceForm/ResourceForm.module.css
  src/entities/resource/ui/ResourceForm/ResourceForm.tsx
  src/entities/resource/ui/ResourceSelect/ResourceSelect.tsx
  src/entities/resource/ui/StatusFilterSection/StatusFilterSection.tsx
  src/entities/specialization/ui/SpecializationSelect/SpecializationSelect.tsx
  src/features/resource/createResource/index.ts
  src/features/resource/createResource/model/lib/validation/resourceCreateSchema.ts
  src/features/resource/createResource/model/types/resourceCreateTypes.ts
  src/features/resource/createResource/ui/ResourceCreateForm/ResourceCreateForm.tsx
  src/features/resource/createResource/ui/ResourceCreateFormWithHeader/ResourceCreateFormWithHeader.module.css
  src/features/resource/createResource/ui/ResourceCreateFormWithHeader/ResourceCreateFormWithHeader.tsx
  src/pages/landing/PublicMarketplacePage/ui/PublicMarketplacePage.tsx
  src/pages/landing/PublicMarketplaceRequestPage/index.ts
  src/pages/landing/PublicMarketplaceRequestPage/ui/PublicMarketplaceRequestPage.lazy.ts
  src/pages/landing/PublicMarketplaceRequestPage/ui/PublicMarketplaceRequestPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
  src/shared/ui/Chip/Chip.module.css
  src/shared/ui/Dropdown/Select/Select.module.css
  src/shared/ui/ImageLoaderWithoutCropper/ImageLoaderWithoutCropper.module.css
  src/shared/ui/KeywordInput/KeywordInput.module.css
  src/shared/ui/KeywordInput/KeywordInput.tsx
  src/shared/ui/SelectWithChips/SelectWithChips.module.css
  src/shared/ui/SelectWithChips/SelectWithChips.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1203: fixed the link to view statistics (#757)
  src/entities/subscription/ui/PremiumSubscriptionTooltipBody/PremiumSubscriptionTooltipBody.tsx
  src/entities/subscription/ui/SubscriptionCard/SubscriptionCard.tsx
  src/widgets/interview/QuestionsStatistic/ui/PreviewQuestionsStatistic/PreviewQuestionsStatistic.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1197: fix media styles cards link-button
  src/shared/ui/Card/Card.module.css
Due: npm run lint:css:fix
