Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

.lintstagedrc:

{
  "./**/*.{ts,tsx,js,jsx}": ["npm run prettier", "npm run lint:ts:fix"],
  "*.css": "npm run lint:css:fix"
}

YH-1194: edits mase based on comments
  public/locales/en/interviewQuizResult.json
  public/locales/en/landing.json
  public/locales/ru/interviewQuizResult.json
  public/locales/ru/landing.json
  src/app/msw/handlers.ts
  src/entities/question/api/__mocks__/getQuestionsSpecializationByIdCountMock.ts
  src/entities/question/api/__mocks__/index.ts
  src/entities/question/api/questionApi.ts
  src/entities/question/index.ts
  src/entities/question/model/constants/question.ts
  src/entities/question/model/types/question.ts
  src/entities/question/ui/ChooseSpecialization/ChooseSpecialization.tsx
  src/entities/quiz/api/__mocks__/getQuizResults.ts
  src/entities/quiz/api/__mocks__/index.ts
  src/entities/quiz/index.ts
  src/entities/quiz/model/types/quiz.ts
  src/entities/specialization/index.ts
  src/entities/specialization/model/constants/specializationConstants.ts
  src/pages/interview/InterviewStatisticsPage/ui/InterviewStatisticsPage.tsx
  src/pages/landing/PublicQuizPage/ui/PublicQuizPage.tsx
  src/pages/landing/PublicQuizResultPage/model/hooks/useCalculationQuizResult.ts
  src/pages/landing/PublicQuizResultPage/model/hooks/usePublicQuizResultData.ts
  src/pages/landing/PublicQuizResultPage/model/hooks/useQuizStatic.ts
  src/pages/landing/PublicQuizResultPage/ui/PublicQuizResultPage.module.css
  src/pages/landing/PublicQuizResultPage/ui/PublicQuizResultPage.skeleton.tsx
  src/pages/landing/PublicQuizResultPage/ui/PublicQuizResultPage.tsx
  src/shared/config/api/apiTags.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/interview/CategoryProgressList/index.ts
  src/widgets/interview/CategoryProgressList/ui/CategoryProgressItem/CategoryProgressItem.tsx
  src/widgets/interview/CategoryProgressList/ui/CategoryProgressList/CategoryProgressList.tsx
  src/widgets/interview/CategoryProgressList/ui/CategoryProgressListWrap/CategoryProgressListWrap.skeleton.tsx
  src/widgets/interview/CategoryProgressList/ui/CategoryProgressListWrap/CategoryProgressListWrap.tsx
  src/widgets/interview/QuestionsStatistic/ui/PassedQuestionsStatistic/PassedQuestionsStatistic.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1194: conflict in headers
  src/app/msw/handlers.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1164: fix modal layout
  src/shared/ui/Modal/Modal.module.css
Due: npm run lint:css:fix

YH-1230: added go guru
  src/entities/guru/model/constants/gurus.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1230: added go guru (#776)
  src/entities/guru/model/constants/gurus.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1194: added a request to get statistics data
  src/entities/question/model/constants/question.ts
  src/entities/question/ui/ChooseSpecialization/ChooseSpecialization.tsx
  src/pages/landing/CreatePublicQuizPage/ui/CreatePublicQuizPage.tsx
Due: npm run prettier, npm run lint:ts:fix

Feature/yh 1194 (#764)
  public/locales/en/interviewQuizResult.json
  public/locales/ru/interviewQuizResult.json
  src/app/msw/handlers.ts
  src/entities/question/api/__mocks__/getQuestionsSpecializationByIdCountMock.ts
  src/entities/question/api/__mocks__/index.ts
  src/entities/question/api/questionApi.ts
  src/entities/question/index.ts
  src/entities/question/model/constants/question.ts
  src/entities/question/model/types/question.ts
  src/entities/question/ui/ChooseSpecialization/ChooseSpecialization.tsx
  src/entities/specialization/index.ts
  src/entities/specialization/model/constants/specializationConstants.ts
  src/pages/interview/InterviewStatisticsPage/ui/InterviewStatisticsPage.tsx
  src/pages/landing/CreatePublicQuizPage/ui/CreatePublicQuizPage.tsx
  src/pages/landing/PublicQuizPage/ui/PublicQuizPage.tsx
  src/pages/landing/PublicQuizResultPage/model/hooks/useCalculationQuizResult.ts
  src/pages/landing/PublicQuizResultPage/model/hooks/usePublicQuizResultData.ts
  src/pages/landing/PublicQuizResultPage/ui/PublicQuizResultPage.module.css
  src/pages/landing/PublicQuizResultPage/ui/PublicQuizResultPage.skeleton.tsx
  src/pages/landing/PublicQuizResultPage/ui/PublicQuizResultPage.tsx
  src/shared/config/api/apiTags.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/charts/GaugeChart/GaugeChart.tsx
  src/widgets/interview/CategoryProgressList/ui/CategoryProgressItem/CategoryProgressItem.tsx
  src/widgets/interview/CategoryProgressList/ui/CategoryProgressList/CategoryProgressList.tsx
  src/widgets/interview/QuestionsStatistic/index.ts
  src/widgets/interview/QuestionsStatistic/ui/PassedQuestionsStatistic/PassedQuestionsStatistic.skeleton.tsx
  src/widgets/interview/QuestionsStatistic/ui/PassedQuestionsStatistic/PassedQuestionsStatistic.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1208: added information about spam messages.
  src/features/profile/confirmationEmail/ui/ConfirmationEmail.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1208: added information about spam messages. (#768)
  public/locales/en/profile.json
  public/locales/ru/profile.json
  src/app/styles/variables/pallete.css
  src/app/styles/variables/themes.css
  src/features/profile/confirmationEmail/ui/ConfirmationEmail.module.css
  src/features/profile/confirmationEmail/ui/ConfirmationEmail.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Button/Button.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1211: fix: rename to arg
  src/features/resources/createResource/api/createResourceApi.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1215: I replaced the StatusChip code in the UsersTable and UserRol… (#775)
  src/app/providers/router/config/routeConfig.tsx
  src/entities/auth/model/types/auth.ts
  src/entities/user/model/types/user.ts
  src/entities/user/ui/UserRolesList/UserRolesList.module.css
  src/entities/user/ui/UserRolesList/UserRolesList.tsx
  src/shared/ui/StatusChip/StatusChip.module.css
  src/shared/ui/StatusChip/StatusChip.tsx
  src/widgets/UsersTable/ui/UsersTable.module.css
  src/widgets/UsersTable/ui/UsersTable.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1164: change modal design (#769)
  public/locales/ru/profile.json
  src/shared/ui/ImageLoader/ImageLoader.tsx
  src/shared/ui/Modal/Modal.module.css
  src/shared/ui/Modal/Modal.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1196: Implement CTA modal on quiz result page
  public/locales/en/interviewQuizResult.json
  public/locales/ru/interviewQuizResult.json
  src/entities/subscription/ui/PremiumSubscriptionTooltipBody/PremiumSubscriptionTooltipBody.module.css
  src/entities/subscription/ui/SubscriptionCard/SubscriptionCard.module.css
  src/features/profile/changePassword/ui/ChangePassword.module.css
  src/features/profile/deleteAccount/model/types/deleteAccount.ts
  src/features/profile/deleteAccount/ui/modals/AdminDeleteAccountModal/AdminDeleteAccountModal.tsx
  src/features/profile/deleteAccount/ui/modals/UserDeleteAccountModal/UserDeleteAccountModal.tsx
  src/features/profile/deleteProfile/model/types/deleteProfileTypes.ts
  src/features/profile/editProfileForm/ui/PersonalInformationTabForm/PersonalInformationTabForm.module.css
  src/features/subscriptions/subscribe/ui/AgreementForm/AgreementForm.module.css
  src/features/subscriptions/unsubscribe/ui/UnsubscribeModal/UnsubscribeModal.tsx
  src/pages/landing/PublicQuizResultPage/ui/PublicQuizResultPage.tsx
  src/shared/assets/icons/check.svg
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Checkbox/Checkbox.module.css
  src/shared/ui/ConfirmationDeleteModal/ConfiramationDeleteModal.tsx
  src/shared/ui/Icon/icons.ts
  src/shared/ui/Icon/types.ts
  src/shared/ui/Modal/Modal.module.css
  src/shared/ui/Modal/Modal.tsx
  src/shared/ui/Modal/ModalTypes.ts
  src/shared/ui/Modal/index.ts
  src/shared/ui/Tooltip/Tooltip.module.css
  src/widgets/Landing/QuizResultModal/index.ts
  src/widgets/Landing/QuizResultModal/model/assets/bars.avif
  src/widgets/Landing/QuizResultModal/model/assets/index.ts
  src/widgets/Landing/QuizResultModal/model/assets/progress-card.avif
  src/widgets/Landing/QuizResultModal/ui/CallToActionBlock/AboutBenefits/AboutBenefits.module.css
  src/widgets/Landing/QuizResultModal/ui/CallToActionBlock/AboutBenefits/AboutBenefits.tsx
  src/widgets/Landing/QuizResultModal/ui/CallToActionBlock/CallToActionBlock.module.css
  src/widgets/Landing/QuizResultModal/ui/CallToActionBlock/CallToActionBlock.tsx
  src/widgets/Landing/QuizResultModal/ui/ProgressBlock/ProgressBlock.module.css
  src/widgets/Landing/QuizResultModal/ui/ProgressBlock/ProgressBlock.tsx
  src/widgets/Landing/QuizResultModal/ui/QuizResultButton/QuizResultButton.module.css
  src/widgets/Landing/QuizResultModal/ui/QuizResultButton/QuizResultButton.tsx
  src/widgets/Landing/QuizResultModal/ui/QuizResultModal/QuizResultModal.module.css
  src/widgets/Landing/QuizResultModal/ui/QuizResultModal/QuizResultModal.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1233: quiz results without subscription
  src/pages/interview/CreateQuizPage/model/hooks/useCalculationInterviewResult.ts
  src/pages/interview/InterviewQuizResultPage/ui/InterviewQuizResultPage.tsx
  src/pages/landing/CreatePublicQuizPage/ui/CreatePublicQuizPage.tsx
  src/widgets/interview/QuizAdditionalInfo/ui/QuizAdditionalInfo/QuizAdditionalInfo.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-855: add expand/collapse button
  src/shared/ui/Icon/types.ts
  src/widgets/QuestionsTable/ui/QuestionsTable.module.css
  src/widgets/QuestionsTable/ui/QuestionsTable.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1234: add Stepper component
  src/shared/assets/icons/stepCheck.svg
  src/shared/assets/icons/stepStudent.svg
  src/shared/ui/Stepper/Stepper.module.css
  src/shared/ui/Stepper/Stepper.stories.tsx
  src/shared/ui/Stepper/Stepper.tsx
  src/shared/ui/Stepper/index.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1234: replaced state name
  src/shared/ui/Stepper/Stepper.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-855: add links to spec and skill in table
  src/shared/ui/TableCellEntityList/TableCellEntityList.module.css
  src/shared/ui/TableCellEntityList/TableCellEntityList.tsx
  src/widgets/QuestionsTable/ui/QuestionsTable.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1234: use Icon component, fix styles and add setActiveStep prop
  src/shared/assets/icons/check.svg
  src/shared/assets/icons/stepStudent.svg
  src/shared/assets/icons/student.svg
  src/shared/ui/Icon/icons.ts
  src/shared/ui/Icon/types.ts
  src/shared/ui/Stepper/Stepper.module.css
  src/shared/ui/Stepper/Stepper.stories.tsx
  src/shared/ui/Stepper/Stepper.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1234: delete stepCheck icon
  src/shared/assets/icons/stepCheck.svg
Due: none

YH-1234: fix type Step
  src/shared/ui/Stepper/Stepper.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1224: Add mock quiz for users without subscription
  src/app/providers/router/config/routeConfig.tsx
  src/entities/quiz/api/quizApi.ts
  src/entities/quiz/hooks/useSlideSwitcher.ts
  src/entities/quiz/index.ts
  src/entities/quiz/model/constants/quizConstants.ts
  src/entities/quiz/model/slices/activeQuizSlice.ts
  src/entities/quiz/model/types/quiz.ts
  src/pages/interview/CreateQuizPage/ui/CreateQuizPage.tsx
  src/pages/interview/InterviewQuizPage/ui/InterviewQuizPage.tsx
  src/pages/landing/CreatePublicQuizPage/ui/CreatePublicQuizPage.tsx
  src/pages/landing/PublicQuizPage/ui/PublicQuizPage.tsx
  src/pages/landing/PublicQuizResultPage/model/hooks/useCalculationQuizResult.ts
  src/pages/landing/PublicQuizResultPage/model/hooks/usePublicQuizResultData.ts
  src/widgets/interview/QuestionsStatistic/ui/PassedQuestionsStatistic/PassedQuestionsStatistic.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1234: replace setActiveStep type
  src/shared/ui/Stepper/Stepper.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1138: fix comments
  src/entities/profile/model/selectors/profileSelectors.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1138: fix comments
  public/locales/en/interviewQuiz.json
  public/locales/en/translation.json
  public/locales/ru/interviewQuiz.json
  public/locales/ru/translation.json
  src/pages/landing/CreatePublicQuizPage/ui/CreatePublicQuizPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1224: Change logic of request and saving format
  src/entities/quiz/api/quizApi.ts
  src/entities/quiz/hooks/useSlideSwitcher.ts
  src/entities/quiz/index.ts
  src/entities/quiz/model/helpers/getValidActiveMockQuizFromLS.ts
  src/entities/quiz/model/slices/activeQuizSlice.ts
  src/entities/quiz/model/types/quiz.ts
  src/entities/quiz/utils/getActiveQuizQuestions.ts
  src/pages/interview/InterviewQuizPage/ui/InterviewQuizPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1224: Add mock quiz for users without subscription (#781)
  src/app/providers/router/config/routeConfig.tsx
  src/entities/quiz/api/quizApi.ts
  src/entities/quiz/hooks/useSlideSwitcher.ts
  src/entities/quiz/index.ts
  src/entities/quiz/model/constants/quizConstants.ts
  src/entities/quiz/model/helpers/getValidActiveMockQuizFromLS.ts
  src/entities/quiz/model/slices/activeQuizSlice.ts
  src/entities/quiz/model/types/quiz.ts
  src/entities/quiz/utils/getActiveQuizQuestions.ts
  src/pages/interview/CreateQuizPage/ui/CreateQuizPage.tsx
  src/pages/interview/InterviewQuizPage/ui/InterviewQuizPage.tsx
  src/pages/landing/CreatePublicQuizPage/ui/CreatePublicQuizPage.tsx
  src/pages/landing/PublicQuizPage/ui/PublicQuizPage.tsx
  src/pages/landing/PublicQuizResultPage/model/hooks/useCalculationQuizResult.ts
  src/pages/landing/PublicQuizResultPage/model/hooks/usePublicQuizResultData.ts
  src/widgets/interview/QuestionsStatistic/ui/PassedQuestionsStatistic/PassedQuestionsStatistic.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1236: fix refresh
  src/entities/auth/api/authApi.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1196: Fix translations, layouts
  public/locales/en/interviewQuizResult.json
  public/locales/ru/interviewQuizResult.json
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/Landing/QuizResultModal/ui/CallToActionBlock/AboutBenefits/AboutBenefits.module.css
  src/widgets/Landing/QuizResultModal/ui/CallToActionBlock/AboutBenefits/AboutBenefits.tsx
  src/widgets/Landing/QuizResultModal/ui/CallToActionBlock/CallToActionBlock.tsx
  src/widgets/Landing/QuizResultModal/ui/ProgressBlock/ProgressBlock.module.css
  src/widgets/Landing/QuizResultModal/ui/QuizResultButton/QuizResultButton.tsx
  src/widgets/Landing/QuizResultModal/ui/QuizResultModal/QuizResultModal.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1237: add a guru
  src/entities/guru/model/constants/gurus.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1237: add a guru (#783)
  src/entities/guru/model/constants/gurus.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1234: add Stepper component (#780)
  src/shared/assets/icons/check.svg
  src/shared/assets/icons/student.svg
  src/shared/ui/Icon/icons.ts
  src/shared/ui/Icon/types.ts
  src/shared/ui/Stepper/Stepper.module.css
  src/shared/ui/Stepper/Stepper.stories.tsx
  src/shared/ui/Stepper/Stepper.tsx
  src/shared/ui/Stepper/index.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1214: expanded clickable area of Tiptap editor (#774)
  src/shared/ui/TextEditor/TextEditor.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1236: fix refresh (#782)
  src/entities/auth/api/authApi.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1196: remove duplicates
  src/shared/ui/Icon/icons.ts
  src/shared/ui/Icon/types.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1196: Implement CTA modal on quiz result page (#777)
  public/locales/en/interviewQuizResult.json
  public/locales/ru/interviewQuizResult.json
  src/features/profile/changePassword/ui/ChangePassword.module.css
  src/features/profile/deleteAccount/model/types/deleteAccount.ts
  src/features/profile/deleteAccount/ui/modals/AdminDeleteAccountModal/AdminDeleteAccountModal.tsx
  src/features/profile/deleteAccount/ui/modals/UserDeleteAccountModal/UserDeleteAccountModal.tsx
  src/features/profile/deleteProfile/model/types/deleteProfileTypes.ts
  src/features/profile/editProfileForm/ui/PersonalInformationTabForm/PersonalInformationTabForm.module.css
  src/features/subscriptions/unsubscribe/ui/UnsubscribeModal/UnsubscribeModal.tsx
  src/pages/landing/PublicQuizResultPage/ui/PublicQuizResultPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Checkbox/Checkbox.module.css
  src/shared/ui/ConfirmationDeleteModal/ConfiramationDeleteModal.tsx
  src/shared/ui/Icon/types.ts
  src/shared/ui/Modal/Modal.module.css
  src/shared/ui/Modal/Modal.tsx
  src/shared/ui/Modal/ModalTypes.ts
  src/shared/ui/Modal/index.ts
  src/shared/ui/Tooltip/Tooltip.module.css
  src/widgets/Landing/QuizResultModal/index.ts
  src/widgets/Landing/QuizResultModal/model/assets/bars.avif
  src/widgets/Landing/QuizResultModal/model/assets/index.ts
  src/widgets/Landing/QuizResultModal/model/assets/progress-card.avif
  src/widgets/Landing/QuizResultModal/ui/CallToActionBlock/AboutBenefits/AboutBenefits.module.css
  src/widgets/Landing/QuizResultModal/ui/CallToActionBlock/AboutBenefits/AboutBenefits.tsx
  src/widgets/Landing/QuizResultModal/ui/CallToActionBlock/CallToActionBlock.module.css
  src/widgets/Landing/QuizResultModal/ui/CallToActionBlock/CallToActionBlock.tsx
  src/widgets/Landing/QuizResultModal/ui/ProgressBlock/ProgressBlock.module.css
  src/widgets/Landing/QuizResultModal/ui/ProgressBlock/ProgressBlock.tsx
  src/widgets/Landing/QuizResultModal/ui/QuizResultButton/QuizResultButton.module.css
  src/widgets/Landing/QuizResultModal/ui/QuizResultButton/QuizResultButton.tsx
  src/widgets/Landing/QuizResultModal/ui/QuizResultModal/QuizResultModal.module.css
  src/widgets/Landing/QuizResultModal/ui/QuizResultModal/QuizResultModal.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1235: Get active mock quiz
  src/entities/quiz/index.ts
  src/entities/quiz/model/slices/activeQuizSlice.ts
  src/pages/interview/InterviewQuizPage/ui/InterviewQuizPage.tsx
  src/widgets/interview/InterviewPreparation/ui/InterviewPreparation/InterviewPreparation.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1233: add quiz result for free user
  src/app/providers/router/config/routeConfig.tsx
  src/entities/question/api/questionApi.ts
  src/entities/quiz/api/quizApi.ts
  src/entities/quiz/utils/getActiveQuizQuestions.ts
  src/pages/interview/CreateQuizPage/model/hooks/useCalculationInterviewResult.ts
  src/pages/interview/InterviewMockQuizResultPage/index.ts
  src/pages/interview/InterviewMockQuizResultPage/model/hooks/useCalculationQuizResult.ts
  src/pages/interview/InterviewMockQuizResultPage/model/hooks/useInterviewMockQuizResultData.ts
  src/pages/interview/InterviewMockQuizResultPage/ui/InterviewMockQuizResultPage.lazy.ts
  src/pages/interview/InterviewMockQuizResultPage/ui/InterviewMockQuizResultPage.module.css
  src/pages/interview/InterviewMockQuizResultPage/ui/InterviewMockQuizResultPage.skeleton.tsx
  src/pages/interview/InterviewMockQuizResultPage/ui/InterviewMockQuizResultPage.tsx
  src/pages/interview/InterviewQuizPage/ui/InterviewQuizPage.tsx
  src/pages/interview/InterviewQuizResultPage/ui/InterviewQuizResultPage.tsx
  src/widgets/interview/PassedQuestionsList/ui/PassedQuestionsList/PassedQuestionsList.tsx
  src/widgets/interview/QuestionsStatistic/ui/PassedQuestionsStatistic/PassedQuestionsStatistic.tsx
  src/widgets/interview/QuizAdditionalInfo/ui/QuizAdditionalInfo/QuizAdditionalInfo.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix
