Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-999: deletes unnecessary imports
  src/widgets/Landing/InterviewTrainerBlock/ui/InterviewTrainerBlock/InterviewTrainerBlock.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-940: added story and taking screenshots of the CollectionBlock (#685)
  .loki/reference/chrome_iphone7_widgets_Landing_CollectionBlock_AdditionalBlock_Primary.png
  .loki/reference/chrome_iphone7_widgets_Landing_CollectionBlock_FilterChip_Default.png
  .loki/reference/chrome_iphone7_widgets_Landing_CollectionBlock_FilterChip_With_Long_Text.png
  .loki/reference/chrome_iphone7_widgets_Landing_CollectionBlock_FiltersBlock_Primary.png
  .loki/reference/chrome_iphone7_widgets_Landing_CollectionBlock_FiltersBlock_With_Custom_Filters.png
  .loki/reference/chrome_iphone7_widgets_Landing_CollectionBlock_FiltersBlock_With_Many_Filters.png
  .loki/reference/chrome_iphone7_widgets_Landing_CollectionBlock_MainBlock_Primary.png
  .loki/reference/chrome_iphone7_widgets_Landing_CollectionBlock_Primary.png
  .loki/reference/chrome_laptop_widgets_Landing_CollectionBlock_AdditionalBlock_Primary.png
  .loki/reference/chrome_laptop_widgets_Landing_CollectionBlock_FilterChip_Default.png
  .loki/reference/chrome_laptop_widgets_Landing_CollectionBlock_FilterChip_With_Long_Text.png
  .loki/reference/chrome_laptop_widgets_Landing_CollectionBlock_FiltersBlock_Primary.png
  .loki/reference/chrome_laptop_widgets_Landing_CollectionBlock_FiltersBlock_With_Custom_Filters.png
  .loki/reference/chrome_laptop_widgets_Landing_CollectionBlock_FiltersBlock_With_Many_Filters.png
  .loki/reference/chrome_laptop_widgets_Landing_CollectionBlock_MainBlock_Primary.png
  .loki/reference/chrome_laptop_widgets_Landing_CollectionBlock_Primary.png
  src/widgets/Landing/CollectionBlock/ui/AdditionalBlock/AdditionalBlock.stories.tsx
  src/widgets/Landing/CollectionBlock/ui/CollectionBlock/CollectionBlock.stories.tsx
  src/widgets/Landing/CollectionBlock/ui/FilterChip/FilterChip.stories.tsx
  src/widgets/Landing/CollectionBlock/ui/FiltersBlock/FiltersBlock.stories.tsx
  src/widgets/Landing/CollectionBlock/ui/MainBlock/MainBlock.stories.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1023 — UI маркетплейса: карточки ресурсов на моках (#691)
  public/locales/en/marketplace.json
  public/locales/ru/marketplace.json
  src/entities/resource/api/__mock__/data/resourcesMock.ts
  src/entities/resource/index.ts
  src/entities/resource/model/types/resource.ts
  src/entities/resource/ui/ResourceCard/ResourceCard.module.css
  src/entities/resource/ui/ResourceCard/ResourceCard.tsx
  src/pages/landing/PublicMarketplacePage/ui/PublicMarketplacePage.module.css
  src/pages/landing/PublicMarketplacePage/ui/PublicMarketplacePage.tsx
  src/shared/config/i18n/i18n.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/Marketplace/index.ts
  src/widgets/Marketplace/ui/RecourcesList/ResourcesList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-999 :adds a skeleton for the simulator block on the landing page (#694)
  src/pages/landing/LandingPage/ui/LandingPage.skeleton.tsx
  src/widgets/Landing/InterviewTrainerBlock/index.ts
  src/widgets/Landing/InterviewTrainerBlock/ui/AdditionalBlock/AdditionalBlock.module.css
  src/widgets/Landing/InterviewTrainerBlock/ui/AdditionalBlock/AdditionalBlock.skeleton.tsx
  src/widgets/Landing/InterviewTrainerBlock/ui/InterviewCard/InterviewCard.skeleton.tsx
  src/widgets/Landing/InterviewTrainerBlock/ui/InterviewTrainerBlock/InterviewTrainerBlock.module.css
  src/widgets/Landing/InterviewTrainerBlock/ui/InterviewTrainerBlock/InterviewTrainerBlock.skeleton.tsx
  src/widgets/Landing/InterviewTrainerBlock/ui/MainBlock/MainBlock.module.css
  src/widgets/Landing/InterviewTrainerBlock/ui/MainBlock/MainBlock.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-986: update sentry setting & reports (#641)
  src/app/index.tsx
  src/app/layouts/MainLayout/ui/MainLayout.tsx
  src/app/providers/sentry/AppInitSentryUser.tsx
  src/app/providers/store/config/config.ts
  src/shared/config/sentry/ErrorBoundary.tsx
  src/shared/config/sentry/SentryRouteTracker.tsx
  src/shared/config/sentry/appContext.ts
  src/shared/config/sentry/context.ts
  src/shared/config/sentry/middleware.ts
  src/shared/config/sentry/sentry.ts
  src/shared/config/sentry/sentryApiErrorMiddleware.ts
Due: npm run prettier, npm run lint:ts:fix

YH-998: adds a skeleton for the skill block on the landing page
  src/pages/landing/LandingPage/ui/LandingPage.skeleton.tsx
  src/shared/ui/Chip/Chip.skeleton.tsx
  src/shared/ui/Chip/types.ts
  src/shared/ui/Icon/types.ts
  src/widgets/Landing/AboutQuestionsBlock/index.ts
  src/widgets/Landing/AboutQuestionsBlock/model/constants/index.ts
  src/widgets/Landing/AboutQuestionsBlock/ui/About/About.module.css
  src/widgets/Landing/AboutQuestionsBlock/ui/About/About.skeleton.tsx
  src/widgets/Landing/AboutQuestionsBlock/ui/AboutQuestionsBlock/AboutQuestionsBlock.skeleton.tsx
  src/widgets/Landing/AboutQuestionsBlock/ui/AboutQuestionsBlock/AboutQuestionsBlock.tsx
  src/widgets/Landing/AboutQuestionsBlock/ui/Cards/CardBlockLayout/CardBlockLayout.skeleton.tsx
  src/widgets/Landing/AboutQuestionsBlock/ui/Cards/CardLayout/CardLayout.skeleton.tsx
  src/widgets/Landing/AboutQuestionsBlock/ui/Cards/FiltersCard/FiltersCard.skeleton.tsx
  src/widgets/Landing/AboutQuestionsBlock/ui/Cards/SkillsCard/SkillsBlock/SkillsBlock.skeleton.tsx
  src/widgets/Landing/AboutQuestionsBlock/ui/Cards/SkillsCard/SkillsCard.skeleton.tsx
  src/widgets/Landing/AboutQuestionsBlock/ui/Cards/SpecializationCard/SpecializationBlock/SpecializationBlock.skeleton.tsx
  src/widgets/Landing/AboutQuestionsBlock/ui/Cards/SpecializationCard/SpecializationCard.skeleton.tsx
  src/widgets/Landing/AboutQuestionsBlock/ui/InterviewMaterials/InterviewMaterials.skeleton.tsx
  src/widgets/Landing/AboutQuestionsBlock/ui/SkillChip/SkillChip.skeleton.tsx
  src/widgets/Landing/AboutQuestionsBlock/ui/SkillsListTicker/SkillsListTicker.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-998: fix ChipSkeleton for SkillListSkeleton
  src/entities/skill/ui/SkillList/SkillList.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1070: Added a tooltip. Replaced it with the desired text
  public/locales/en/questions.json
  public/locales/ru/questions.json
  src/features/quiz/learnQuestion/ui/LearnQuestionButton.tsx
  src/features/quiz/resetQuestionStudyProgress/ui/ResetQuestionStudyProgressButton.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1100: Removed all instances of the Sentry feedback form
  src/shared/config/sentry/ErrorBoundary.tsx
  src/shared/config/sentry/sentry.ts
  src/shared/config/sentry/sentryApiErrorMiddleware.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1100: Removed all instances of the Sentry feedback form (#707)
  src/shared/config/sentry/ErrorBoundary.tsx
  src/shared/config/sentry/sentry.ts
  src/shared/config/sentry/sentryApiErrorMiddleware.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1024: delete text-size
  src/shared/ui/TextEditor/TextEditor.module.css
  src/shared/ui/TextHtml/TextHtml.module.css
Due: npm run lint:css:fix

YH-1024: tab-size: 2
  src/shared/ui/TextEditor/TextEditor.module.css
  src/shared/ui/TextHtml/TextHtml.module.css
Due: npm run lint:css:fix

YH-1070: Fixed a bug with sending data
  src/features/profile/editProfileForm/ui/EditProfileForm/EditProfileForm.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1101: Fixed a bug with sending data
  src/features/profile/editProfileForm/ui/EditProfileForm/EditProfileForm.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-985: Manage Profiles
  public/locales/en/profile.json
  public/locales/en/translation.json
  public/locales/ru/profile.json
  public/locales/ru/translation.json
  src/app/styles/variables/pallete.css
  src/entities/auth/api/__mocks__/data/authProfileQueryMockResponse.ts
  src/entities/auth/api/authApi.ts
  src/entities/auth/model/types/auth.ts
  src/entities/profile/index.ts
  src/entities/profile/model/selectors/profileSelectors.ts
  src/entities/profile/model/slices/profileSlice.ts
  src/features/profile/deleteAccount/ui/modals/UserDeleteAccountModal/UserDeleteAccountModal.tsx
  src/features/profile/manageProfiles/api/manageProfileApi.ts
  src/features/profile/manageProfiles/index.ts
  src/features/profile/manageProfiles/model/assets/check.avif
  src/features/profile/manageProfiles/model/assets/index.ts
  src/features/profile/manageProfiles/model/assets/profile.avif
  src/features/profile/manageProfiles/model/constants/manageProfilesContants.ts
  src/features/profile/manageProfiles/model/types/manageProfilesTypes.ts
  src/features/profile/manageProfiles/ui/CreateProfileButton/CreateProfileButton.tsx
  src/features/profile/manageProfiles/ui/DeleteProfileButton/DeleteProfileButton.tsx
  src/features/profile/manageProfiles/ui/DeleteProfileButton/DeleteProfileModal/DeleteProfileModal.tsx
  src/features/profile/manageProfiles/ui/ManageProfilesPanel/ManageProfilesPanel.module.css
  src/features/profile/manageProfiles/ui/ManageProfilesPanel/ManageProfilesPanel.tsx
  src/features/profile/manageProfiles/ui/ProfileCard/ProfileCard.module.css
  src/features/profile/manageProfiles/ui/ProfileCard/ProfileCard.tsx
  src/features/profile/manageProfiles/ui/ProfilesCounter/ProfilesCounter.module.css
  src/features/profile/manageProfiles/ui/ProfilesCounter/ProfilesCounter.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/ConfirmationDeleteModal/ConfiramationDeleteModal.tsx
  src/shared/ui/ConfirmationDeleteModal/ConfirmationDeleteModal.module.css
  src/shared/ui/ConfirmationDeleteModal/index.ts
  src/widgets/Profile/ui/AccountTab/ui/AccountTab.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1024: fix TextEditor style (#671)
  src/app/styles/App.css
  src/app/styles/variables/font-families.css
  src/app/styles/variables/font-familys.css
  src/shared/ui/TextEditor/TextEditor.module.css
  src/shared/ui/TextEditor/TextEditor.tsx
  src/shared/ui/TextHtml/TextHtml.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1101: Fixed a bug with sending data (#710)
  src/features/profile/editProfileForm/ui/EditProfileForm/EditProfileForm.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-998: adds a skeleton for the skill block on the landing page (#705)
  src/entities/skill/ui/SkillList/SkillList.skeleton.tsx
  src/pages/landing/LandingPage/ui/LandingPage.skeleton.tsx
  src/shared/ui/Chip/Chip.skeleton.tsx
  src/shared/ui/Chip/types.ts
  src/shared/ui/Icon/types.ts
  src/widgets/Landing/AboutQuestionsBlock/index.ts
  src/widgets/Landing/AboutQuestionsBlock/model/constants/index.ts
  src/widgets/Landing/AboutQuestionsBlock/ui/About/About.module.css
  src/widgets/Landing/AboutQuestionsBlock/ui/About/About.skeleton.tsx
  src/widgets/Landing/AboutQuestionsBlock/ui/AboutQuestionsBlock/AboutQuestionsBlock.skeleton.tsx
  src/widgets/Landing/AboutQuestionsBlock/ui/AboutQuestionsBlock/AboutQuestionsBlock.tsx
  src/widgets/Landing/AboutQuestionsBlock/ui/Cards/CardBlockLayout/CardBlockLayout.skeleton.tsx
  src/widgets/Landing/AboutQuestionsBlock/ui/Cards/CardLayout/CardLayout.skeleton.tsx
  src/widgets/Landing/AboutQuestionsBlock/ui/Cards/FiltersCard/FiltersCard.skeleton.tsx
  src/widgets/Landing/AboutQuestionsBlock/ui/Cards/SkillsCard/SkillsBlock/SkillsBlock.skeleton.tsx
  src/widgets/Landing/AboutQuestionsBlock/ui/Cards/SkillsCard/SkillsCard.skeleton.tsx
  src/widgets/Landing/AboutQuestionsBlock/ui/Cards/SpecializationCard/SpecializationBlock/SpecializationBlock.skeleton.tsx
  src/widgets/Landing/AboutQuestionsBlock/ui/Cards/SpecializationCard/SpecializationCard.skeleton.tsx
  src/widgets/Landing/AboutQuestionsBlock/ui/InterviewMaterials/InterviewMaterials.skeleton.tsx
  src/widgets/Landing/AboutQuestionsBlock/ui/SkillChip/SkillChip.skeleton.tsx
  src/widgets/Landing/AboutQuestionsBlock/ui/SkillsListTicker/SkillsListTicker.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1001: adds a skeleton for the history block on the landing page
  src/pages/landing/LandingPage/ui/LandingPage.skeleton.tsx
  src/widgets/Landing/HistoryBlock/index.ts
  src/widgets/Landing/HistoryBlock/ui/HistoryBlock/HistoryBlock.skeleton.tsx
  src/widgets/Landing/HistoryBlock/ui/HistorySlide/HistorySlide.skeleton.tsx
  src/widgets/Landing/HistoryBlock/ui/HistorySliderBlock/HistorySliderBlock.module.css
  src/widgets/Landing/HistoryBlock/ui/HistorySliderBlock/HistorySliderBlock.skeleton.tsx
  src/widgets/Landing/HistoryBlock/ui/HistoryTextBlock/HistoryTextBlock.module.css
  src/widgets/Landing/HistoryBlock/ui/HistoryTextBlock/HistoryTextBlock.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1001: fix the color of the block in mobile resolution
  src/widgets/Landing/HistoryBlock/ui/HistoryBlock/HistoryBlock.module.css
  src/widgets/Landing/HistoryBlock/ui/HistoryBlock/HistoryBlock.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1043: improved profile text editor
  package-lock.json
  package.json
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/features/profile/editProfileForm/model/lib/validation/editProfileSchema.ts
  src/features/profile/editProfileForm/model/lib/validation/validateNoLinks.ts
  src/features/profile/editProfileForm/ui/AboutMeTabForm/AboutMeTabForm.module.css
  src/features/profile/editProfileForm/ui/AboutMeTabForm/AboutMeTabForm.tsx
  src/features/profile/editProfileForm/ui/EditProfileForm/EditProfileForm.tsx
  src/shared/config/i18n/i18n.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/TextEditor/TextEditor.module.css
  src/shared/ui/TextEditor/TextEditor.tsx
  src/shared/ui/TextEditor/types.ts
  src/shared/ui/TextHtml/TextHtml.tsx
  src/widgets/Profile/ui/InfoCard/ui/InfoBlockText/InfoBlockText.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1001: adds a skeleton for the history block on the landing page (#712)
  src/pages/landing/LandingPage/ui/LandingPage.skeleton.tsx
  src/widgets/Landing/HistoryBlock/index.ts
  src/widgets/Landing/HistoryBlock/ui/HistoryBlock/HistoryBlock.module.css
  src/widgets/Landing/HistoryBlock/ui/HistoryBlock/HistoryBlock.skeleton.tsx
  src/widgets/Landing/HistoryBlock/ui/HistorySlide/HistorySlide.skeleton.tsx
  src/widgets/Landing/HistoryBlock/ui/HistorySliderBlock/HistorySliderBlock.module.css
  src/widgets/Landing/HistoryBlock/ui/HistorySliderBlock/HistorySliderBlock.skeleton.tsx
  src/widgets/Landing/HistoryBlock/ui/HistoryTextBlock/HistoryTextBlock.module.css
  src/widgets/Landing/HistoryBlock/ui/HistoryTextBlock/HistoryTextBlock.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-981: made a favorites system
  src/shared/ui/Icon/types.ts
Due: npm run prettier, npm run lint:ts:fix

YH-981: made a favorites system
  public/locales/en/questions.json
  public/locales/en/translation.json
  public/locales/ru/questions.json
  public/locales/ru/translation.json
  src/entities/question/model/types/question.ts
  src/features/quiz/favoriteQuestion/api/favoriteQuestionApi.ts
  src/features/quiz/favoriteQuestion/index.ts
  src/features/quiz/favoriteQuestion/model/favoriteQuestionTypes.ts
  src/features/quiz/favoriteQuestion/ui/FavoriteQuestionButton.module.css
  src/features/quiz/favoriteQuestion/ui/FavoriteQuestionButton.tsx
  src/pages/interview/QuestionPage/ui/QuestionPage.tsx
  src/pages/interview/QuestionsPage/ui/QuestionsPage/QuestionsPage.tsx
  src/shared/assets/icons/favorite.svg
  src/shared/assets/icons/favorite_red.svg
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/hooks/useQueryFilter.ts
  src/shared/ui/Icon/icons.ts
  src/shared/ui/Icon/types.ts
  src/widgets/question/QuestionActions/ui/QuestionActions.tsx
  src/widgets/question/QuestionsFilterPanel/model/types.ts
  src/widgets/question/QuestionsFilterPanel/ui/StatusFilterSection/StatusFilterSection.tsx
  src/widgets/question/QuestionsList/ui/FullQuestionItem/FullQuestionItem.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-981: fix comms
  public/locales/en/questions.json
  public/locales/en/translation.json
  public/locales/ru/questions.json
  public/locales/ru/translation.json
  src/entities/quiz/api/quizApi.ts
  src/entities/quiz/model/types/quiz.ts
  src/entities/quiz/ui/InterviewSlider/InterviewSlider.tsx
  src/entities/quiz/ui/ResponseButtons/ResponseButtons.tsx
  src/features/quiz/favoriteQuestion/api/favoriteQuestionApi.ts
  src/features/quiz/favoriteQuestion/model/constants/favoriteQuestionConstants.ts
  src/features/quiz/favoriteQuestion/model/types/favoriteQuestionTypes.ts
  src/features/quiz/favoriteQuestion/ui/FavoriteQuestionButton.module.css
  src/features/quiz/favoriteQuestion/ui/FavoriteQuestionButton.tsx
  src/pages/interview/InterviewQuizPage/ui/InterviewQuizPage.tsx
  src/pages/interview/QuestionsPage/ui/QuestionsPage/QuestionsPage.tsx
  src/shared/assets/icons/favoriteRed.svg
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-981: fix comms
  src/entities/quiz/ui/InterviewSlider/InterviewSlider.tsx
  src/entities/quiz/ui/ResponseButtons/ResponseButtons.tsx
  src/entities/resource/model/types.ts
  src/features/quiz/favoriteQuestion/index.ts
  src/features/quiz/favoriteQuestion/ui/FavoriteQuestionButton.skeleton.tsx
  src/pages/interview/InterviewQuizPage/ui/InterviewQuizPage.tsx
  src/pages/interview/QuestionsPage/ui/QuestionsPage/QuestionsPage.tsx
  src/widgets/question/QuestionActions/ui/QuestionActions.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-981: fix comms
  src/features/question/favoriteQuestion/api/favoriteQuestionApi.ts
  src/features/question/favoriteQuestion/index.ts
  src/features/question/favoriteQuestion/model/constants/favoriteQuestionConstants.ts
  src/features/question/favoriteQuestion/model/types/favoriteQuestionTypes.ts
  src/features/question/favoriteQuestion/ui/FavoriteQuestionButton.module.css
  src/features/question/favoriteQuestion/ui/FavoriteQuestionButton.skeleton.tsx
  src/features/question/favoriteQuestion/ui/FavoriteQuestionButton.tsx
  src/widgets/question/QuestionActions/ui/QuestionActions.skeleton.tsx
  src/widgets/question/QuestionActions/ui/QuestionActions.tsx
  src/widgets/question/QuestionsList/ui/FullQuestionItem/FullQuestionItem.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-981: made a favorites system (#669)
  public/locales/en/questions.json
  public/locales/en/translation.json
  public/locales/ru/questions.json
  public/locales/ru/translation.json
  src/entities/question/model/types/question.ts
  src/entities/quiz/api/quizApi.ts
  src/entities/quiz/model/types/quiz.ts
  src/entities/resource/model/types.ts
  src/features/question/favoriteQuestion/api/favoriteQuestionApi.ts
  src/features/question/favoriteQuestion/index.ts
  src/features/question/favoriteQuestion/model/constants/favoriteQuestionConstants.ts
  src/features/question/favoriteQuestion/model/types/favoriteQuestionTypes.ts
  src/features/question/favoriteQuestion/ui/FavoriteQuestionButton.module.css
  src/features/question/favoriteQuestion/ui/FavoriteQuestionButton.skeleton.tsx
  src/features/question/favoriteQuestion/ui/FavoriteQuestionButton.tsx
  src/pages/interview/QuestionPage/ui/QuestionPage.tsx
  src/pages/interview/QuestionsPage/ui/QuestionsPage/QuestionsPage.tsx
  src/shared/assets/icons/favorite.svg
  src/shared/assets/icons/favoriteRed.svg
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/hooks/useQueryFilter.ts
  src/shared/ui/Icon/icons.ts
  src/shared/ui/Icon/types.ts
  src/widgets/question/QuestionActions/ui/QuestionActions.skeleton.tsx
  src/widgets/question/QuestionActions/ui/QuestionActions.tsx
  src/widgets/question/QuestionsFilterPanel/model/types.ts
  src/widgets/question/QuestionsFilterPanel/ui/StatusFilterSection/StatusFilterSection.tsx
  src/widgets/question/QuestionsList/ui/FullQuestionItem/FullQuestionItem.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1105: update dropdown in profile skills edit
  src/app/styles/App.css
  src/shared/config/i18n/i18n.ts
  src/shared/ui/AvatarWithoutPhoto/AvatarWithoutPhoto.module.css
  src/shared/ui/Dropdown/Dropdown/Dropdown.module.css
  src/shared/ui/Dropdown/Dropdown/Dropdown.tsx
  src/shared/ui/Dropdown/Select/Select.module.css
  src/shared/ui/Dropdown/Select/Select.tsx
  src/shared/ui/ImageLoader/ImageLoader.module.css
  src/shared/ui/SelectWithChips/SelectWithChips.tsx
  src/widgets/Landing/HistoryBlock/ui/HistoryBlock/HistoryBlock.module.css
  src/widgets/Landing/HistoryBlock/ui/HistorySliderBlock/HistorySliderBlock.module.css
  src/widgets/Landing/HistoryBlock/ui/HistoryTextBlock/HistoryTextBlock.module.css
  src/widgets/Landing/InterviewTrainerBlock/ui/AdditionalBlock/AdditionalBlock.module.css
  src/widgets/Landing/InterviewTrainerBlock/ui/InterviewTrainerBlock/InterviewTrainerBlock.module.css
  src/widgets/Profile/ui/UserCard/ui/UserBlock/UserBlock.module.css
  src/widgets/Profile/ui/UserCard/ui/UserImageBlock/UserImageBlock.module.css
  src/widgets/Profile/ui/UserCard/ui/UserInfoBlock/UserInfoBlock.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1105: update dropdown in profile skills edit
  src/shared/ui/ImageLoader/ImageLoader.module.css
  src/widgets/Profile/ui/UserCard/ui/UserImageBlock/UserImageBlock.module.css
Due: npm run lint:css:fix

YH-1105: update dropdown in profile skills edit (#714)
  src/app/styles/App.css
  src/shared/config/i18n/i18n.ts
  src/shared/ui/AvatarWithoutPhoto/AvatarWithoutPhoto.module.css
  src/shared/ui/Dropdown/Dropdown/Dropdown.module.css
  src/shared/ui/Dropdown/Dropdown/Dropdown.tsx
  src/shared/ui/Dropdown/Select/Select.module.css
  src/shared/ui/Dropdown/Select/Select.tsx
  src/shared/ui/ImageLoader/ImageLoader.module.css
  src/shared/ui/SelectWithChips/SelectWithChips.tsx
  src/widgets/Landing/HistoryBlock/ui/HistoryBlock/HistoryBlock.module.css
  src/widgets/Landing/HistoryBlock/ui/HistorySliderBlock/HistorySliderBlock.module.css
  src/widgets/Landing/HistoryBlock/ui/HistoryTextBlock/HistoryTextBlock.module.css
  src/widgets/Landing/InterviewTrainerBlock/ui/AdditionalBlock/AdditionalBlock.module.css
  src/widgets/Landing/InterviewTrainerBlock/ui/InterviewTrainerBlock/InterviewTrainerBlock.module.css
  src/widgets/Profile/ui/UserCard/ui/UserBlock/UserBlock.module.css
  src/widgets/Profile/ui/UserCard/ui/UserImageBlock/UserImageBlock.module.css
  src/widgets/Profile/ui/UserCard/ui/UserInfoBlock/UserInfoBlock.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1106: fix default specialization in edit profile
  src/entities/specialization/ui/SpecializationSelect/SpecializationSelect.module.css
  src/entities/specialization/ui/SpecializationSelect/SpecializationSelect.tsx
  src/shared/ui/Dropdown/Dropdown/Dropdown.tsx
  src/shared/ui/Dropdown/Select/Select.module.css
  src/shared/ui/Dropdown/Select/Select.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1106: fix default specialization in edit profile (#715)
  src/entities/specialization/ui/SpecializationSelect/SpecializationSelect.module.css
  src/entities/specialization/ui/SpecializationSelect/SpecializationSelect.tsx
  src/shared/ui/Dropdown/Dropdown/Dropdown.tsx
  src/shared/ui/Dropdown/Select/Select.module.css
  src/shared/ui/Dropdown/Select/Select.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1070: Processed the comments
  public/locales/en/questions.json
  public/locales/ru/questions.json
  src/features/quiz/learnQuestion/ui/LearnQuestionButton.tsx
  src/features/quiz/resetQuestionStudyProgress/ui/ResetQuestionStudyProgressButton.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1108: delete uikit
  package-lock.json
  package.json
  src/app/styles/App.css
  src/entities/collection/ui/CollectionForm/CollectionForm.module.css
  src/entities/collection/ui/CollectionForm/CollectionForm.tsx
  src/entities/company/ui/CompanyForm/CompanyForm.module.css
  src/entities/company/ui/CompanyForm/CompanyForm.tsx
  src/entities/company/ui/CompanySelect/CompanySelect.tsx
  src/entities/question/ui/QuestionForm/QuestionForm.tsx
  src/entities/skill/model/types/profileSkill.ts
  src/entities/skill/ui/SkillForm/SkillForm.tsx
  src/entities/skill/ui/SkillSelect/SkillSelect.tsx
  src/entities/socialNetwork/ui/SocialNetWorkList/SocialNetWorkList.tsx
  src/entities/specialization/index.ts
  src/entities/specialization/ui/SpecializationSelect/SpecializationSelect.tsx
  src/entities/specialization/utils/getSpecializationDefaultIcon.ts
  src/features/authentication/passwordRecovery/ui/PasswordRecoveryForm/PasswordRecoveryForm.tsx
  src/features/collections/trainCollection/ui/TrainCollectionButton.tsx
  src/features/profile/confirmationEmail/ui/ConfirmationEmail.tsx
  src/shared/ui/BackButton/BackButton.tsx
  src/shared/ui/FiltersDrawer/FiltersDrawer.tsx
  src/shared/ui/FormControl/FormControl.tsx
  src/shared/ui/IconButton/IconButton.module.css
  src/shared/ui/IconButton/IconButton.tsx
  src/shared/ui/SelectWithChips/SelectWithChips.tsx
  src/shared/ui/Table/Table.tsx
  src/widgets/SearchSection/ui/SearchSection.module.css
  src/widgets/interview/PassedQuestionsList/ui/PassedQuestionsItem/PassedQuestionsItem.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1108: delete uikit (#716)
  package-lock.json
  package.json
  src/app/styles/App.css
  src/entities/collection/ui/CollectionForm/CollectionForm.module.css
  src/entities/collection/ui/CollectionForm/CollectionForm.tsx
  src/entities/company/ui/CompanyForm/CompanyForm.module.css
  src/entities/company/ui/CompanyForm/CompanyForm.tsx
  src/entities/company/ui/CompanySelect/CompanySelect.tsx
  src/entities/question/ui/QuestionForm/QuestionForm.tsx
  src/entities/skill/model/types/profileSkill.ts
  src/entities/skill/ui/SkillForm/SkillForm.tsx
  src/entities/skill/ui/SkillSelect/SkillSelect.tsx
  src/entities/socialNetwork/ui/SocialNetWorkList/SocialNetWorkList.tsx
  src/entities/specialization/index.ts
  src/entities/specialization/ui/SpecializationSelect/SpecializationSelect.tsx
  src/entities/specialization/utils/getSpecializationDefaultIcon.ts
  src/features/authentication/passwordRecovery/ui/PasswordRecoveryForm/PasswordRecoveryForm.tsx
  src/features/collections/trainCollection/ui/TrainCollectionButton.tsx
  src/features/profile/confirmationEmail/ui/ConfirmationEmail.tsx
  src/shared/ui/BackButton/BackButton.tsx
  src/shared/ui/FiltersDrawer/FiltersDrawer.tsx
  src/shared/ui/FormControl/FormControl.tsx
  src/shared/ui/IconButton/IconButton.module.css
  src/shared/ui/IconButton/IconButton.tsx
  src/shared/ui/SelectWithChips/SelectWithChips.tsx
  src/shared/ui/Table/Table.tsx
  src/widgets/SearchSection/ui/SearchSection.module.css
  src/widgets/interview/PassedQuestionsList/ui/PassedQuestionsItem/PassedQuestionsItem.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-11: fix link styles
  src/app/styles/normalize.css
Due: npm run lint:css:fix

YH-1043: fixed: insert text with formatting; correct display of code blocks; preservation of indents
  src/features/profile/editProfileForm/model/lib/validation/validateNoLinks.ts
  src/shared/ui/TextEditor/TextEditor.tsx
  src/shared/ui/TextHtml/TextHtml.tsx
  src/shared/ui/TextHtml/lib/markdownParser.ts
  src/shared/utils/textEditor/createPastePlugin.ts
Due: npm run prettier, npm run lint:ts:fix

Release 1.1.2
  RELEASE_NOTES.md
  package-lock.json
  package.json
Due: none

Path conditions:
  npm run prettier: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:ts:fix: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:css:fix: any of: *.css
