Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

.lintstagedrc:

{
  "./**/*.{ts,tsx,js,jsx}": ["npm run prettier", "npm run lint:ts:fix"],
  "*.css": "npm run lint:css:fix"
}

YH-1198: limitation of features for the public trainer (#759)
  src/pages/landing/CreatePublicQuizPage/ui/CreatePublicQuizPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1209: Adds a demo trainer for users without a subscription
  public/locales/en/interviewQuizCreate.json
  public/locales/ru/interviewQuizCreate.json
  src/app/providers/router/config/routeConfig.tsx
  src/entities/question/ui/ChooseQuestionComplexity/ChooseQuestionComplexity.tsx
  src/entities/question/ui/ChooseQuestionCount/ChooseQuestionCount.tsx
  src/entities/quiz/ui/QuizQuestionMode/QuizQuestionMode.tsx
  src/pages/interview/CreateQuizPage/ui/CreateQuizPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/interview/InterviewPreparation/ui/InterviewPreparation/InterviewPreparation.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1038: update save active quiz with profileId
  src/entities/auth/api/authApi.ts
  src/entities/profile/model/slices/profileSlice.ts
  src/entities/quiz/api/quizApi.ts
  src/entities/quiz/hooks/useSlideSwitcher.ts
  src/entities/quiz/index.ts
  src/entities/quiz/model/constants/quizConstants.ts
  src/entities/quiz/model/helpers/getValidActiveQuizzesFromLS.ts
  src/entities/quiz/model/slices/activeQuizSlice.ts
  src/entities/quiz/model/types/quiz.ts
  src/entities/subscription/model/slices/activeSubscriptionSlice.tsx
  src/features/profile/setActiveProfile/api/setActiveProfileApi.ts
  src/pages/admin/CollectionsPage/model/slices/collectionsPageSlice.ts
  src/pages/admin/CompaniesTablePage/model/slices/companiesTablePageSlice.ts
  src/pages/admin/QuestionsTablePage/model/slices/questionsTablePageSlice.ts
  src/pages/admin/SkillsPage/model/slices/skillsPageSlice.ts
  src/pages/admin/SpecializationsPage/model/slices/specializationsPageSlice.ts
  src/pages/admin/UserTablePage/model/slices/usersPageSlice.ts
  src/pages/interview/CreateQuizPage/model/slices/CreateQuizPageSlice.ts
  src/pages/interview/InterviewHistoryPage/model/slices/InterviewHistoryPageSlice.ts
  src/pages/interview/QuestionsPage/model/slices/questionsPageSlice.ts
  src/pages/landing/CreatePublicQuizPage/model/slices/CreatePublicQuizPageSlice.ts
  src/shared/config/store/clearStore.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1206: fix left margin
  src/features/authentication/login/ui/LoginForm/LoginForm.module.css
Due: npm run lint:css:fix

YH-1038: update save active quiz with profileId (#761)
  src/entities/auth/api/authApi.ts
  src/entities/profile/model/slices/profileSlice.ts
  src/entities/quiz/api/quizApi.ts
  src/entities/quiz/hooks/useSlideSwitcher.ts
  src/entities/quiz/index.ts
  src/entities/quiz/model/constants/quizConstants.ts
  src/entities/quiz/model/helpers/getValidActiveQuizzesFromLS.ts
  src/entities/quiz/model/slices/activeQuizSlice.ts
  src/entities/quiz/model/types/quiz.ts
  src/entities/subscription/model/slices/activeSubscriptionSlice.tsx
  src/features/profile/setActiveProfile/api/setActiveProfileApi.ts
  src/pages/admin/CollectionsPage/model/slices/collectionsPageSlice.ts
  src/pages/admin/CompaniesTablePage/model/slices/companiesTablePageSlice.ts
  src/pages/admin/QuestionsTablePage/model/slices/questionsTablePageSlice.ts
  src/pages/admin/SkillsPage/model/slices/skillsPageSlice.ts
  src/pages/admin/SpecializationsPage/model/slices/specializationsPageSlice.ts
  src/pages/admin/UserTablePage/model/slices/usersPageSlice.ts
  src/pages/interview/CreateQuizPage/model/slices/CreateQuizPageSlice.ts
  src/pages/interview/InterviewHistoryPage/model/slices/InterviewHistoryPageSlice.ts
  src/pages/interview/QuestionsPage/model/slices/questionsPageSlice.ts
  src/pages/landing/CreatePublicQuizPage/model/slices/CreatePublicQuizPageSlice.ts
  src/shared/config/store/clearStore.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1207: fix login error toast
  public/locales/ru/translation.json
Due: none

YH-1194: updating the quiz result page
  public/locales/en/landing.json
  public/locales/ru/landing.json
  src/app/msw/handlers.ts
  src/entities/quiz/api/__mocks__/getQuizResults.ts
  src/entities/quiz/api/__mocks__/index.ts
  src/entities/quiz/index.ts
  src/entities/quiz/model/types/quiz.ts
  src/pages/landing/PublicQuizResultPage/model/hooks/useQuizStatic.ts
  src/pages/landing/PublicQuizResultPage/ui/PublicQuizResultPage.module.css
  src/pages/landing/PublicQuizResultPage/ui/PublicQuizResultPage.skeleton.tsx
  src/pages/landing/PublicQuizResultPage/ui/PublicQuizResultPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/interview/CategoryProgressList/index.ts
  src/widgets/interview/CategoryProgressList/ui/CategoryProgressItem/CategoryProgressItem.tsx
  src/widgets/interview/CategoryProgressList/ui/CategoryProgressListWrap/CategoryProgressListWrap.skeleton.tsx
  src/widgets/interview/CategoryProgressList/ui/CategoryProgressListWrap/CategoryProgressListWrap.tsx
  src/widgets/interview/QuestionsStatistic/index.ts
  src/widgets/interview/QuestionsStatistic/ui/PassedQuestionsStatistic/PassedQuestionsStatistic.skeleton.tsx
  src/widgets/interview/QuestionsStatistic/ui/PassedQuestionsStatistic/PassedQuestionsStatistic.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1194: filling out the chart
  src/shared/ui/charts/GaugeChart/GaugeChart.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1162: edits based on comments
  src/app/providers/store/config/config.ts
  src/entities/payment/api/__mocks__/data/paymentsMock.ts
  src/entities/payment/api/__mocks__/paymentsListMock.ts
  src/entities/payment/index.ts
  src/entities/payment/model/constants/payments.ts
  src/entities/payment/model/slices/activePaymentsSlice.tsx
  src/entities/payment/model/types/payments.ts
  src/widgets/Profile/ui/SubscriptionTab/ui/PayHistoryItem/PayHistoryItem.tsx
  src/widgets/Profile/ui/SubscriptionTab/ui/PayHistoryList/PayHistoryList.tsx
  src/widgets/Profile/ui/SubscriptionTab/ui/PremiumSubscriptionTab/PremiumSubscriptionTab.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1162: removed output to console
  src/widgets/Profile/ui/SubscriptionTab/ui/PremiumSubscriptionTab/PremiumSubscriptionTab.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1207: fix login error toast (#763)
  public/locales/ru/translation.json
Due: none

YH-1162: adding data retrieval, typing and adjustments (#742)
  src/app/msw/handlers.ts
  src/entities/payment/api/__mocks__/data/index.ts
  src/entities/payment/api/__mocks__/data/paymentsMock.ts
  src/entities/payment/api/__mocks__/index.ts
  src/entities/payment/api/__mocks__/paymentsListMock.ts
  src/entities/payment/api/paymentApi.ts
  src/entities/payment/index.ts
  src/entities/payment/model/constants/payments.ts
  src/entities/payment/model/types/payments.ts
  src/shared/config/api/apiTags.ts
  src/widgets/Profile/ui/SubscriptionTab/types/types.ts
  src/widgets/Profile/ui/SubscriptionTab/ui/PayHistoryItem/PayHistoryItem.tsx
  src/widgets/Profile/ui/SubscriptionTab/ui/PayHistoryList/PayHistoryList.tsx
  src/widgets/Profile/ui/SubscriptionTab/ui/PremiumSubscriptionTab/PremiumSubscriptionTab.tsx
  src/widgets/Profile/ui/SubscriptionTab/ui/SubscriptionPagination/SubscriptionPagination.tsx
Due: npm run prettier, npm run lint:ts:fix

Release 1.1.6
  RELEASE_NOTES.md
  package-lock.json
  package.json
Due: none

YH-1194: conflict resolution
  src/app/msw/handlers.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1197: add shadow and corrected size
  src/widgets/interview/InterviewPreparation/ui/PreviewInactiveQuiz/PreviewInactiveQuiz.module.css
Due: npm run lint:css:fix

YH-1064: add access restriction for authors to work only with their own collections (#750)
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/entities/collection/model/types/collection.ts
  src/features/collections/deleteCollection/ui/deleteCollectionButton/DeleteCollectionButton.tsx
  src/features/collections/editCollection/ui/CollectionEditForm/CollectionEditForm.tsx
  src/pages/admin/CollectionPage/ui/CollectionPage.tsx
  src/pages/admin/CollectionsPage/ui/CollectionsPage/CollectionsPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/types/types.ts
  src/shared/ui/Button/Button.module.css
  src/shared/ui/Checkbox/Checkbox.module.css
  src/shared/ui/Popover/PopoverMenu/PopoverMenu.tsx
  src/shared/ui/Popover/types.ts
  src/shared/ui/Table/Table.tsx
  src/shared/ui/Tooltip/Tooltip.module.css
  src/shared/ui/Tooltip/Tooltip.tsx
  src/shared/ui/Tooltip/types.ts
  src/widgets/CollectionsTable/ui/CollectionsTable.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1197: updated interview trainer widget UI (#758)
  public/locales/en/interviewQuiz.json
  public/locales/ru/interviewQuiz.json
  src/shared/assets/icons/vector.svg
  src/shared/assets/images/quiz-card-preview.avif
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Card/Card.module.css
  src/widgets/interview/InterviewPreparation/ui/PreviewInactiveQuiz/PreviewInactiveQuiz.module.css
  src/widgets/interview/InterviewPreparation/ui/PreviewInactiveQuiz/PreviewInactiveQuiz.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1191: added translation for password change button and toaster when authorization failed (#751)
  public/locales/en/translation.json
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1043: improved profile text editor (#713)
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/features/profile/editProfileForm/model/lib/validation/editProfileSchema.ts
  src/features/profile/editProfileForm/model/lib/validation/validateNoLinks.ts
  src/features/profile/editProfileForm/ui/AboutMeTabForm/AboutMeTabForm.tsx
  src/features/profile/editProfileForm/ui/EditProfileForm/EditProfileForm.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/TextEditor/TextEditor.tsx
  src/widgets/Profile/ui/InfoCard/ui/InfoBlockText/InfoBlockText.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1206: replace paragraphs and headings with <Text>, clean up styles
  src/features/authentication/forgotPassword/ui/EmailSendModal/EmailSendModal.module.css
  src/features/authentication/forgotPassword/ui/EmailSendModal/EmailSendModal.tsx
  src/features/authentication/login/ui/LoginForm/LoginForm.module.css
  src/features/authentication/login/ui/LoginForm/LoginForm.tsx
  src/features/authentication/login/ui/RegistrationLabel/RegistrationLabel.tsx
  src/features/authentication/registration/ui/LoginLabel/LoginLabel.tsx
  src/features/authentication/registration/ui/RegisterForm/RegisterForm.module.css
  src/features/authentication/registration/ui/RegisterForm/RegisterForm.tsx
  src/features/authentication/socialAuthenticate/SocialAuthenticateList/ui/SocialAuthenticateList.module.css
  src/features/authentication/socialAuthenticate/SocialAuthenticateList/ui/SocialAuthenticateList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1206: fix left margin (#762)
  src/features/authentication/forgotPassword/ui/EmailSendModal/EmailSendModal.module.css
  src/features/authentication/forgotPassword/ui/EmailSendModal/EmailSendModal.tsx
  src/features/authentication/login/ui/LoginForm/LoginForm.module.css
  src/features/authentication/login/ui/LoginForm/LoginForm.tsx
  src/features/authentication/login/ui/RegistrationLabel/RegistrationLabel.tsx
  src/features/authentication/registration/ui/LoginLabel/LoginLabel.tsx
  src/features/authentication/registration/ui/RegisterForm/RegisterForm.module.css
  src/features/authentication/registration/ui/RegisterForm/RegisterForm.tsx
  src/features/authentication/socialAuthenticate/SocialAuthenticateList/ui/SocialAuthenticateList.module.css
  src/features/authentication/socialAuthenticate/SocialAuthenticateList/ui/SocialAuthenticateList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1009: Add tests for Sidebar (#725)
  src/widgets/Sidebar/model/data/sidebarMock.ts
  src/widgets/Sidebar/ui/Sidebar/SIdebar.test.tsx
  src/widgets/Sidebar/ui/Sidebar/Sidebar.test.tsx
  src/widgets/Sidebar/ui/Sidebar/Sidebar.tsx
  src/widgets/Sidebar/ui/SidebarMenuItem/SIdebarMenuItem.test.tsx
  src/widgets/Sidebar/ui/SidebarMenuItem/SidebarCategoryMenuItem.test.tsx
  src/widgets/Sidebar/ui/SidebarMenuItem/SidebarCategoryMenuItem.tsx
  src/widgets/Sidebar/ui/SidebarMenuItem/SidebarMenuItem.test.tsx
  src/widgets/Sidebar/ui/SidebarMenuItem/SidebarSingleMenuItem.test.tsx
  src/widgets/Sidebar/ui/SidebarMenuItem/SidebarSingleMenuItem.tsx
  src/widgets/Sidebar/ui/SidebarMenuList/SIdebarMenuList.test.tsx
  src/widgets/Sidebar/ui/SidebarMenuList/SidebarMenuList.test.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-867: adding tests for the component (#747)
  src/shared/ui/GradeChip/GradeChip.test.tsx
  src/shared/ui/GradeChip/GradeChip.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-877: Add tests for Timer (#615)
  src/shared/ui/Timer/Timer.test.tsx
  src/shared/ui/Timer/Timer.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-861: add tests for Card
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Card/Card.test.tsx
  src/shared/ui/Card/Card.tsx
  src/shared/ui/Text/Text.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-861: add tests for Card (#766)
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Card/Card.test.tsx
  src/shared/ui/Card/Card.tsx
  src/shared/ui/Text/Text.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1208: added information about spam messages.
  public/locales/en/profile.json
  public/locales/ru/profile.json
  src/app/styles/variables/pallete.css
  src/app/styles/variables/themes.css
  src/features/profile/confirmationEmail/ui/ConfirmationEmail.module.css
  src/features/profile/confirmationEmail/ui/ConfirmationEmail.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Button/Button.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1164: change modal design
  public/locales/ru/profile.json
  src/shared/ui/ImageLoader/ImageLoader.tsx
  src/shared/ui/Modal/Modal.module.css
  src/shared/ui/Modal/Modal.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1209: fix issues mentioned in code review
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/entities/question/ui/ChooseQuestionComplexity/ChooseQuestionComplexity.tsx
  src/entities/question/ui/ChooseQuestionCount/ChooseQuestionCount.tsx
  src/pages/interview/CreateQuizPage/model/hooks/useQueryFilter.ts
  src/pages/interview/CreateQuizPage/ui/CreateQuizPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1138: fix comments
  src/entities/profile/model/selectors/profileSelectors.ts
  src/features/subscriptions/trial/api/getTrial.ts
  src/features/subscriptions/trial/model/types/types.ts
Due: npm run prettier, npm run lint:ts:fix

Feature/YH-1209 : Adds a demo trainer for users without a subscription (#760)
  public/locales/en/interviewQuizCreate.json
  public/locales/en/translation.json
  public/locales/ru/interviewQuizCreate.json
  public/locales/ru/translation.json
  src/app/providers/router/config/routeConfig.tsx
  src/entities/question/ui/ChooseQuestionComplexity/ChooseQuestionComplexity.tsx
  src/entities/question/ui/ChooseQuestionCount/ChooseQuestionCount.tsx
  src/entities/quiz/ui/QuizQuestionMode/QuizQuestionMode.tsx
  src/pages/interview/CreateQuizPage/model/hooks/useQueryFilter.ts
  src/pages/interview/CreateQuizPage/ui/CreateQuizPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/interview/InterviewPreparation/ui/InterviewPreparation/InterviewPreparation.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1213: display all questions without restrictions for admin
  src/pages/admin/CollectionPage/ui/CollectionPage.tsx
  src/widgets/Collection/ui/CollectionBody/CollectionBody.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1211: feature: rename the folder name from "resource" to "resources", implement { useCreateResourceMutation }, use it in <ResourceCreateFormWithHeader />
  public/locales/ru/translation.json
  src/entities/resource/model/types/resource.ts
  src/features/resources/createResource/api/createResourceApi.ts
  src/features/resources/createResource/model/constants/createResourceConstants.ts
  src/pages/landing/PublicMarketplaceRequestPage/ui/PublicMarketplaceRequestPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1211: fix: not multiple onChange in ResourceSelect
  src/entities/resource/ui/ResourceForm/ResourceForm.tsx
  src/entities/resource/ui/ResourceSelect/ResourceSelect.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1211: fix: moved from /feature/resource to /feature/resources, deleted "indentation": [2] from .stylelintrc (deprecated)
  .stylelintrc.json
  src/features/resources/createResource/index.ts
  src/features/resources/createResource/model/lib/validation/resourceCreateSchema.ts
  src/features/resources/createResource/model/types/resourceCreateTypes.ts
  src/features/resources/createResource/ui/ResourceCreateForm/ResourceCreateForm.tsx
  src/features/resources/createResource/ui/ResourceCreateFormWithHeader/ResourceCreateFormWithHeader.module.css
  src/features/resources/createResource/ui/ResourceCreateFormWithHeader/ResourceCreateFormWithHeader.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1138: fix comments
  src/entities/profile/model/selectors/profileSelectors.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1138: fix comments
  public/locales/en/subscription.json
  public/locales/ru/subscription.json
Due: none

YH-1214: expanded clickable area of Tiptap editor
  src/shared/ui/TextEditor/TextEditor.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1213: display all questions without restrictions for admin (#771)
  src/pages/admin/CollectionPage/ui/CollectionPage.tsx
  src/widgets/Collection/ui/CollectionBody/CollectionBody.tsx
Due: npm run prettier, npm run lint:ts:fix
