Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-704: fix default specialty (#436)
  src/entities/specialization/ui/SpecializationSelect/SpecializationSelect.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-688: Disable Specialization Change On Select (#435)
  src/entities/specialization/ui/SpecializationSelect/SpecializationSelect.tsx
  src/features/profile/editProfileForm/ui/PersonalInformationTabForm/PersonalInformationTabForm.tsx
Due: npm run prettier, npm run lint:ts:fix

fix webpack css loader
  config/webpack/webpackLoaders.ts
Due: npm run prettier, npm run lint:ts:fix

fix webpack css loader (#440)
  config/webpack/webpackLoaders.ts
Due: npm run prettier, npm run lint:ts:fix

Feature/YH-698 (#427)
  public/locales/ru/subscription.json
  src/entities/collection/ui/CollectionForm/CollectionForm.module.css
  src/entities/subscription/api/subscriptionApi.ts
  src/entities/subscription/index.ts
  src/entities/subscription/model/constants/subscriptionConstants.ts
  src/entities/subscription/model/types/subscription.ts
  src/shared/config/api/apiTags.ts
  src/shared/ui/Button/ui/Button.module.css
  src/widgets/Profile/ui/SubscriptionTab/ui/FreeSubscriptionTab/FreeSubscriptionTab.tsx
  src/widgets/Profile/ui/SubscriptionTab/ui/PremiumSubscriptionTab/PremiumSubscriptionTab.module.css
  src/widgets/Profile/ui/SubscriptionTab/ui/PremiumSubscriptionTab/PremiumSubscriptionTab.tsx
  src/widgets/Profile/ui/SubscriptionTab/ui/SubscriptionTab/SubscriptionTab.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-727: fix comments
  src/widgets/Question/ui/QuestionPreview/QuestionPreview.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-711: fix conflicts
  src/widgets/question/QuestionsList/ui/FullQuestionsList/FullQuestionsList.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-711: display selected skills / spec in title (#434)
  public/locales/en/questions.json
  public/locales/ru/questions.json
  src/pages/landing/PublicQuestionsPage/hooks/useTitleFromQuery.ts
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsPage/PublicQuestionsPage.tsx
  src/shared/ui/Text/ui/Text.tsx
  src/widgets/question/QuestionsList/ui/FullQuestionsList/FullQuestionsList.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-693: add specialization and keywords to collection form (#426)
  public/locales/ru/collection.json
  src/entities/collection/model/types/collection.ts
  src/entities/collection/ui/CollectionForm/CollectionForm.module.css
  src/entities/collection/ui/CollectionForm/CollectionForm.tsx
  src/features/collections/createCollection/model/lib/validation/collectionCreateSchema.ts
  src/features/collections/editCollection/model/lib/validation/collectionEditSchema.ts
  src/features/collections/editCollection/ui/CollectionEditForm/CollectionEditForm.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/Collection/ui/AdditionalInfo/AdditionalInfo.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-729: fixed styles and added Text according to review
  src/widgets/Landing/CookiesWarningBlock/ui/CookiesWarning.module.css
  src/widgets/Landing/CookiesWarningBlock/ui/CookiesWarning.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-699: add subscriptionCards widget (#422)
  public/locales/en/subscription.json
  public/locales/en/subscriptionCard.json
  public/locales/ru/subscription.json
  public/locales/ru/subscriptionCard.json
  src/entities/auth/model/types/auth.ts
  src/entities/collection/ui/CollectionForm/CollectionForm.module.css
  src/entities/subscription/model/types/subscription.ts
  src/entities/subscription/ui/SubscriptionCard/SubscriptionCard.module.css
  src/entities/subscription/ui/SubscriptionCard/SubscriptionCard.tsx
  src/features/authentication/registration/ui/RegisterForm/RegisterForm.tsx
  src/features/subscription/SubscribeButton/ui/SubscribeButton.tsx
  src/features/subscription/index.ts
  src/features/subscription/model/types/subscriptionAgreeTypes.ts
  src/features/subscription/model/validation/subscriptionAgreeSchema.ts
  src/features/subscription/ui/AgreementForm/AgreementForm.module.css
  src/features/subscription/ui/AgreementForm/AgreementForm.tsx
  src/features/subscription/ui/SubscribeButton/index.ts
  src/features/subscription/ui/SubscribeButton/ui/SubscribeButton.tsx
  src/features/subscription/ui/UnsubscribeButton/index.ts
  src/features/subscription/ui/UnsubscribeButton/ui/UnsubscribeButton.tsx
  src/shared/assets/icons/free-sub.svg
  src/shared/assets/icons/pro-sub.svg
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Text/ui/Text.module.css
  src/shared/utils/parseI18nText.ts
  src/widgets/FaqList/ui/FaqItem/FaqItem.module.css
  src/widgets/FaqList/ui/FaqItem/FaqItem.tsx
  src/widgets/FaqList/ui/FaqList/Faq.tsx
  src/widgets/FaqList/ui/FaqList/FaqList.module.css
  src/widgets/Profile/ui/SubscriptionTab/ui/SubscriptionTab/SubscriptionTab.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

Feature/YH-698 (#427)
  public/locales/ru/subscription.json
  src/entities/subscription/api/subscriptionApi.ts
  src/entities/subscription/index.ts
  src/entities/subscription/model/constants/subscriptionConstants.ts
  src/entities/subscription/model/types/subscription.ts
  src/shared/config/api/apiTags.ts
  src/shared/ui/Button/ui/Button.module.css
  src/widgets/Profile/ui/SubscriptionTab/ui/FreeSubscriptionTab/FreeSubscriptionTab.tsx
  src/widgets/Profile/ui/SubscriptionTab/ui/PremiumSubscriptionTab/PremiumSubscriptionTab.module.css
  src/widgets/Profile/ui/SubscriptionTab/ui/PremiumSubscriptionTab/PremiumSubscriptionTab.tsx
  src/widgets/Profile/ui/SubscriptionTab/ui/SubscriptionTab/SubscriptionTab.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-480: add basic seo for app
  public/index.html
  public/robots.txt
  public/sitemap.xml
  src/shared/ui/AppLogo/AppLogo.tsx
  src/widgets/Landing/InterviewBlock/ui/InterviewBlock/InterviewBlock.tsx
  src/widgets/Landing/InterviewModeBlock/ui/InterviewModeBlock/InterviewModeBlock.tsx
  src/widgets/Landing/TrainingBlock/ui/QuestionList/QuestionList.tsx
  src/widgets/Landing/TrainingBlock/ui/QuestionList/mockTraining.ts
Due: npm run prettier, npm run lint:ts:fix

YH-480: add basic seo for app (#441)
  public/index.html
  public/robots.txt
  public/sitemap.xml
  src/shared/ui/AppLogo/AppLogo.tsx
  src/widgets/Landing/InterviewBlock/ui/InterviewBlock/InterviewBlock.tsx
  src/widgets/Landing/InterviewModeBlock/ui/InterviewModeBlock/InterviewModeBlock.tsx
  src/widgets/Landing/TrainingBlock/ui/QuestionList/QuestionList.tsx
  src/widgets/Landing/TrainingBlock/ui/QuestionList/mockTraining.ts
Due: npm run prettier, npm run lint:ts:fix

YH-744: hide tariff tab
  src/pages/profile/SettingsProfilePage/ui/SettingsProfilePage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-733: fix collections page
  src/entities/collection/api/collectionApi.ts
  src/entities/collection/index.ts
  src/entities/collection/model/types/collection.ts
  src/entities/collection/ui/ChooseCollectionAccess/ChooseCollectionAccess.tsx
  src/entities/specialization/model/types/specialization.ts
  src/pages/interview/CollectionsPage/model/slices/collectionsPageSlice.ts
  src/pages/interview/CollectionsPage/model/types/collectionsPageType.ts
  src/pages/interview/CollectionsPage/ui/CollectionsPage/CollectionsPage.tsx
  src/pages/interview/CreateQuizPage/model/hooks/useQueryFilter.ts
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsPage/PublicQuestionsPage.tsx
  src/shared/hooks/useQueryFilter.ts
  src/widgets/Collection/index.ts
  src/widgets/Collection/ui/CollectionPreview/CollectionPreview.tsx
  src/widgets/Collection/ui/CollectionsFilterPanel/model/types.ts
  src/widgets/Collection/ui/CollectionsFilterPanel/ui/CollectionsFilterPanel.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-729: added cookie warning to landing page (#438)
  public/locales/ru/landing.json
  src/app/layouts/LandingLayout/ui/LandingLayout.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/Landing/CookiesWarningBlock/index.ts
  src/widgets/Landing/CookiesWarningBlock/ui/CookiesWarning.module.css
  src/widgets/Landing/CookiesWarningBlock/ui/CookiesWarning.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-744: hide tariff tab (#443)
  src/pages/profile/SettingsProfilePage/ui/SettingsProfilePage.tsx
Due: npm run prettier, npm run lint:ts:fix

Release 1.0.6
  RELEASE_NOTES.md
  package.json
Due: none

Release 1.0.6 - fix cookie modal
  src/widgets/Landing/CookiesWarningBlock/ui/CookiesWarning.module.css
  src/widgets/Landing/CookiesWarningBlock/ui/CookiesWarning.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-733: add collectionApiUrls import
  src/entities/collection/api/collectionApi.ts
Due: npm run prettier, npm run lint:ts:fix

YH-728: added popover to change your avatar
  public/locales/en/profile.json
  public/locales/ru/profile.json
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/ImageLoader/ImageLoader.tsx
  src/shared/ui/ImageLoader/ImageLoaderCropper.css
  src/widgets/Profile/ui/UserCard/ui/UserImageBlock/UserImageBlock.module.css
  src/widgets/Profile/ui/UserCard/ui/UserImageBlock/UserImageBlock.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-745: FIX Gray inputs & chips
  src/features/profile/changePassword/ui/ChangePassword.module.css
  src/shared/ui/SelectWithChips/SelectWithChips.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-728: fix code after review: added hook, refactored styles, updated text
  public/locales/en/profile.json
  public/locales/ru/profile.json
  src/features/profile/editProfileForm/index.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/hooks/useClickOutside.tsx
  src/shared/ui/ImageLoader/ImageLoader.tsx
  src/widgets/Profile/ui/UserCard/ui/UserImageBlock/UserImageBlock.module.css
  src/widgets/Profile/ui/UserCard/ui/UserImageBlock/UserImageBlock.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-745: FIX Gray inputs & chips (#447)
  src/features/profile/changePassword/ui/ChangePassword.module.css
  src/shared/ui/SelectWithChips/SelectWithChips.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

Feature/yh 733 (#444)
  src/entities/collection/api/collectionApi.ts
  src/entities/collection/index.ts
  src/entities/collection/model/types/collection.ts
  src/entities/collection/ui/ChooseCollectionAccess/ChooseCollectionAccess.tsx
  src/pages/interview/CollectionsPage/model/slices/collectionsPageSlice.ts
  src/pages/interview/CollectionsPage/model/types/collectionsPageType.ts
  src/pages/interview/CollectionsPage/ui/CollectionsPage/CollectionsPage.tsx
  src/shared/hooks/useQueryFilter.ts
  src/widgets/Collection/index.ts
  src/widgets/Collection/ui/CollectionPreview/CollectionPreview.tsx
  src/widgets/Collection/ui/CollectionsFilterPanel/model/types.ts
  src/widgets/Collection/ui/CollectionsFilterPanel/ui/CollectionsFilterPanel.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-728: refactored code based on review feedback
  src/shared/ui/FileLoader/FileLoader.tsx
  src/shared/ui/ImageLoader/ImageLoader.tsx
  src/widgets/Profile/ui/UserCard/ui/UserImageBlock/UserImageBlock.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-634: fix comments
  public/locales/en/user.json
  public/locales/ru/collection.json
  public/locales/ru/user.json
  src/app/msw/handlers.ts
  src/entities/user/api/userApi.ts
  src/entities/user/index.ts
  src/entities/user/model/types/user.ts
  src/features/question/editQuestion/api/__mocks__/index.ts
  src/features/question/editQuestion/index.ts
  src/pages/admin/UserDetailPage/model/types/userCreateTypes.ts
  src/pages/admin/UserDetailPage/ui/UserDetailPage.tsx
  src/pages/admin/UserEditPage/ui/UserEditPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Text/ui/Text.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-747: Add Sizes For Button
  src/features/profile/changePassword/ui/ChangePassword.tsx
  src/pages/interview/CreateQuizPage/ui/CreateQuizPage.module.css
  src/shared/ui/Button/model/types.ts
  src/shared/ui/Button/ui/Button.module.css
  src/shared/ui/Button/ui/Button.tsx
  src/widgets/Landing/PlatformInterfaceBlock/ui/CategoriesBlock/CategoriesBlock.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-701: удален скроллы в фильтрации вопросов
  src/entities/question/ui/ChooseQuestionsCategories/ChooseQuestionsCategories.module.css
  src/entities/question/ui/ChooseQuestionsCategories/ChooseQuestionsCategories.tsx
  src/entities/question/ui/ChooseSpecialization/ChooseSpecialization.module.css
  src/entities/question/ui/ChooseSpecialization/ChooseSpecialization.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-731: add collections widget
  src/entities/collection/index.ts
  src/entities/collection/ui/CollectionPreview/CollectionPreview.module.css
  src/entities/collection/ui/CollectionPreview/CollectionPreview.tsx
  src/pages/interview/InterviewPage/ui/InterviewPage.module.css
  src/pages/interview/InterviewPage/ui/InterviewPage.skeleton.tsx
  src/pages/interview/InterviewPage/ui/InterviewPage.tsx
  src/shared/ui/CollectionParam/ui/CollectionParam.module.css
  src/shared/ui/CollectionParam/ui/CollectionParam.skeleton.tsx
  src/widgets/Collection/index.ts
  src/widgets/Collection/ui/CollectionsList/CollectionsList.tsx
  src/widgets/interview/PassedQuizzesList/ui/PreviewPassedQuizzesList/PreviewPassedQuizzesList.skeleton.tsx
  src/widgets/interview/PriorCollectionsList/index.ts
  src/widgets/interview/PriorCollectionsList/ui/PreviewCollectionItem/PreviewCollectionsItem.module.css
  src/widgets/interview/PriorCollectionsList/ui/PreviewCollectionItem/PreviewCollectionsItem.skeleton.tsx
  src/widgets/interview/PriorCollectionsList/ui/PreviewCollectionsList/PreviewCollectionsList.module.css
  src/widgets/interview/PriorCollectionsList/ui/PreviewCollectionsList/PreviewCollectionsList.skeleton.tsx
  src/widgets/interview/PriorCollectionsList/ui/PreviewCollectionsList/PreviewCollectionsList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-634: feature UserEdit (#431)
  public/locales/en/user.json
  public/locales/ru/user.json
  src/app/providers/router/config/routeConfig.tsx
  src/entities/user/api/userApi.ts
  src/entities/user/index.ts
  src/entities/user/model/constants/userConstants.ts
  src/entities/user/model/types/user.ts
  src/entities/user/ui/RoleSelect/RoleSelect.tsx
  src/entities/user/ui/UserCard/UserCard.tsx
  src/pages/admin/UserDetailPage/model/types/userCreateTypes.ts
  src/pages/admin/UserDetailPage/ui/UserDetailPage.tsx
  src/pages/admin/UserEditPage/index.ts
  src/pages/admin/UserEditPage/ui/UserEditPage.lazy.tsx
  src/pages/admin/UserEditPage/ui/UserEditPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
  src/widgets/UsersTable/ui/UsersTable.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-728: added popover to change your avatar (#446)
  public/locales/en/profile.json
  public/locales/ru/profile.json
  src/features/profile/editProfileForm/index.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/hooks/useClickOutside.tsx
  src/shared/ui/FileLoader/FileLoader.tsx
  src/shared/ui/ImageLoader/ImageLoader.tsx
  src/shared/ui/ImageLoader/ImageLoaderCropper.css
  src/widgets/Profile/ui/UserCard/ui/UserImageBlock/UserImageBlock.module.css
  src/widgets/Profile/ui/UserCard/ui/UserImageBlock/UserImageBlock.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-736: add userStatus
  public/locales/en/user.json
  public/locales/ru/user.json
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/Header/ui/UserPreferences/UserPreferences.module.css
  src/widgets/Header/ui/UserPreferences/UserPreferences.tsx
  src/widgets/Header/ui/UserPreferencesHeader/UserPreferencesHeader.module.css
  src/widgets/Header/ui/UserPreferencesHeader/UserPreferencesHeader.tsx
  src/widgets/Profile/ui/StatusLabel/StatusLabel.module.css
  src/widgets/Profile/ui/StatusLabel/StatusLabel.tsx
  src/widgets/Profile/ui/UserCard/ui/UserBlock/UserBlock.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-701: add padding in class &.drawer-mobile
  src/pages/interview/QuestionPage/ui/QuestionPage.module.css
  src/pages/interview/QuestionsPage/ui/QuestionsPage/QuestionsPage.module.css
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsPage/PublicQuestionsPage.module.css
  src/shared/ui/Calendar/ui/EventCalendar.css
Due: npm run lint:css:fix

YH-736: add User status label
  public/locales/en/user.json
  public/locales/ru/user.json
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/Header/ui/UserPreferences/UserPreferences.module.css
  src/widgets/Header/ui/UserPreferences/UserPreferences.tsx
  src/widgets/Header/ui/UserPreferencesHeader/UserPreferencesHeader.module.css
  src/widgets/Header/ui/UserPreferencesHeader/UserPreferencesHeader.tsx
  src/widgets/Profile/ui/StatusLabel/StatusLabel.module.css
  src/widgets/Profile/ui/StatusLabel/StatusLabel.tsx
  src/widgets/Profile/ui/UserCard/ui/UserBlock/UserBlock.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-731: decomposed the structure and removed the excess
  src/entities/collection/index.ts
  src/entities/collection/ui/CollectionPreview/CollectionPreview.module.css
  src/entities/collection/ui/CollectionPreview/CollectionPreview.tsx
  src/entities/collection/ui/PreviewCollectionItem/PreviewCollectionsItem.module.css
  src/entities/collection/ui/PreviewCollectionItem/PreviewCollectionsItem.skeleton.tsx
  src/pages/interview/InterviewPage/ui/InterviewPage.skeleton.tsx
  src/pages/interview/InterviewPage/ui/InterviewPage.tsx
  src/shared/ui/CollectionParam/ui/CollectionParam.skeleton.tsx
  src/widgets/interview/PreviewCollectionsList/index.ts
  src/widgets/interview/PreviewCollectionsList/ui/PreviewCollectionsList/PreviewCollectionsList.module.css
  src/widgets/interview/PreviewCollectionsList/ui/PreviewCollectionsList/PreviewCollectionsList.skeleton.tsx
  src/widgets/interview/PreviewCollectionsList/ui/PreviewCollectionsList/PreviewCollectionsList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-746: Transferring the Chip component to the project from uikit
  src/entities/question/ui/ChooseQuestionsDrawer/ChooseQuestionsDrawer.module.css
  src/entities/question/ui/ChooseQuestionsDrawer/ChooseQuestionsDrawer.tsx
  src/shared/ui/BaseFilterSection/BaseFilterSection.module.css
  src/shared/ui/BaseFilterSection/BaseFilterSection.tsx
  src/shared/ui/Chip/index.ts
  src/shared/ui/Chip/model/types.ts
  src/shared/ui/Chip/ui/Chip.module.css
  src/shared/ui/Chip/ui/Chip.tsx
  src/shared/ui/SelectWithChips/SelectWithChips.tsx
  src/widgets/Collection/ui/AdditionalInfo/AdditionalInfo.tsx
  src/widgets/interview/PassedQuizzesList/ui/QuestionCategores/QuestionCategories.tsx
  src/widgets/question/AdditionalInfo/AdditionalInfo.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

Path conditions:
  npm run prettier: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:ts:fix: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:css:fix: any of: *.css
