Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

.lintstagedrc:

{
  "./**/*.{ts,tsx,js,jsx}": ["npm run prettier", "npm run lint:ts:fix"],
  "*.css": "npm run lint:css:fix"
}

YH-488: transfer IconButton from uikit; styles refactor
  src/app/App.tsx
  src/app/styles/button-colors.css
  src/shared/ui/Button/model/helpers.ts
  src/shared/ui/Button/model/types.ts
  src/shared/ui/Button/ui/Button.tsx
  src/shared/ui/IconButton/index.ts
  src/shared/ui/IconButton/model/types.ts
  src/shared/ui/IconButton/ui/IconButton.module.css
  src/shared/ui/IconButton/ui/IconButton.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-488: transfer IconButton from uikit; styles refactor (#240)
  src/app/App.tsx
  src/app/styles/button-colors.css
  src/shared/ui/Button/model/helpers.ts
  src/shared/ui/Button/model/types.ts
  src/shared/ui/Button/ui/Button.tsx
  src/shared/ui/IconButton/index.ts
  src/shared/ui/IconButton/model/types.ts
  src/shared/ui/IconButton/ui/IconButton.module.css
  src/shared/ui/IconButton/ui/IconButton.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-514: reorganization styles
  src/app/App.tsx
  src/app/styles/App.css
  src/app/styles/variables/button-colors.css
  src/app/styles/variables/main-variables.css
  src/app/styles/variables/pallete.css
  src/app/styles/variables/themes.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-436: expand category menu by pathname, refactored
  public/locales/ru/interviewStatistics.json
  src/app/providers/router/config/routeConfig.tsx
  src/app/providers/router/ui/InterviewRoute.tsx
  src/pages/interview/InterviewPage/ui/InterviewPage.tsx
  src/shared/assets/icons/logo.svg
  src/shared/ui/AppLogo/AppLogo.module.css
  src/shared/ui/AppLogo/AppLogo.tsx
  src/widgets/Sidebar/ui/SidebarMenuItem/SidebarCategoryMenuItem.tsx
  src/widgets/Sidebar/ui/SidebarMenuItem/SidebarMenuItem.module.css
  src/widgets/SpecializationEmptyStub/index.ts
  src/widgets/SpecializationEmptyStub/ui/SpecializationEmptyStub.module.css
  src/widgets/SpecializationEmptyStub/ui/SpecializationEmptyStub.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-497: refactoring
  src/features/profile/confirmationEmail/ui/ConfirmationEmail.module.css
  src/features/profile/confirmationEmail/ui/ConfirmationEmail.tsx
  src/features/profile/editProfileForm/ui/EditProfileForm/EditProfileForm.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-497: fix
  public/index.html
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/app/App.tsx
  src/app/styles/button-colors.css
  src/entities/skill/ui/SkillCard/SkillCard.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Button/model/helpers.ts
  src/shared/ui/Button/model/types.ts
  src/shared/ui/Button/ui/Button.tsx
  src/shared/ui/IconButton/index.ts
  src/shared/ui/IconButton/model/types.ts
  src/shared/ui/IconButton/ui/IconButton.module.css
  src/shared/ui/IconButton/ui/IconButton.tsx
  src/shared/ui/ImageLoader/ImageLoader.tsx
  src/shared/ui/Loader/ui/Loader.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-436: refactored card content and styles
  src/widgets/SpecializationEmptyStub/ui/SpecializationEmptyStub.module.css
  src/widgets/SpecializationEmptyStub/ui/SpecializationEmptyStub.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-513: Added delete button to question page
  src/features/question/deleteQuestion/ui/DeleteQuestionButton/DeleteQuestionButton.tsx
  src/pages/admin/QuestionPage/QuestionPage.tsx
  src/shared/ui/BackHeader/ui/BackHeader.module.css
  src/shared/ui/BackHeader/ui/BackHeader.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-508: Update the skill's detail page
  src/entities/skill/ui/SkillCard/SkillCard.module.css
  src/entities/skill/ui/SkillCard/SkillCard.tsx
  src/pages/admin/SkillDetailPage/ui/SkillDetailPage/SkillDetailPage.tsx
  src/shared/ui/Card/ui/Card.module.css
  src/shared/ui/Card/ui/Card.tsx
  src/shared/ui/ImageWithWrapper/ImageWithWrapper.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-436: add: RedirectToInterviewPage, fix: logo, remove: btn-active,… (#217)
  public/locales/ru/interviewStatistics.json
  src/app/providers/router/config/routeConfig.tsx
  src/app/providers/router/ui/InterviewRoute.tsx
  src/pages/interview/InterviewPage/ui/InterviewPage.tsx
  src/shared/assets/icons/logo.svg
  src/shared/ui/AppLogo/AppLogo.module.css
  src/shared/ui/AppLogo/AppLogo.tsx
  src/widgets/Sidebar/ui/SidebarMenuItem/SidebarCategoryMenuItem.tsx
  src/widgets/Sidebar/ui/SidebarMenuItem/SidebarMenuItem.module.css
  src/widgets/SpecializationEmptyStub/index.ts
  src/widgets/SpecializationEmptyStub/ui/SpecializationEmptyStub.module.css
  src/widgets/SpecializationEmptyStub/ui/SpecializationEmptyStub.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-436: fix routes
  src/app/providers/router/ui/InterviewRoute.tsx
  src/widgets/Sidebar/ui/SidebarMenuItem/SidebarCategoryMenuItem.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-518: interview history message fixed
  src/widgets/InterviewHistory/ui/InterviewHistoryList/InterviewHistoryList.module.css
  src/widgets/InterviewHistory/ui/InterviewHistoryList/InterviewHistoryList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-508: fixed usage DeleteSkillButton
  src/entities/skill/ui/SkillCard/SkillCard.module.css
  src/entities/skill/ui/SkillCard/SkillCard.tsx
  src/features/skill/deleteSkill/ui/DeleteSkillButton/DeleteSkillButton.tsx
  src/pages/admin/SkillDetailPage/ui/SkillDetailPage/SkillDetailPage.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-508: delete Navlink on DeleteSkillButton
  src/pages/admin/SkillDetailPage/ui/SkillDetailPage/SkillDetailPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-518: verified user check added
  public/locales/en/interview.json
  public/locales/ru/interview.json
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/InterviewHistory/ui/InterviewHistoryList/InterviewHistoryList.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-513: addded toast when a question is deleted
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/features/question/deleteQuestion/api/deleteQuestionApi.ts
  src/features/question/deleteQuestion/model/types/questionDeleteTypes.ts
  src/features/question/deleteQuestion/ui/DeleteQuestionButton/DeleteQuestionButton.tsx
  src/pages/admin/QuestionPage/QuestionPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-520: fix: Logo
  src/shared/ui/AppLogo/AppLogo.module.css
  src/shared/ui/AppLogo/AppLogo.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-508: fixed style
  src/entities/skill/ui/SkillCard/SkillCard.module.css
  src/entities/skill/ui/SkillCard/SkillCard.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-504: fix margins add translations
  public/locales/ru/interviewStatistics.json
  src/shared/ui/PassedQuestionStatInfo/ui/PassedQuestionStatInfo.module.css
Due: npm run lint:css:fix

YH-509: Added filtering of questions to the admin panel
  public/locales/en/questions.json
  public/locales/ru/questions.json
  src/entities/question/index.ts
  src/entities/question/ui/RateFilterSection/RateFilterSection.tsx
  src/entities/question/ui/SortQuestions/QuestionsSorter/QuestionsSorter.tsx
  src/entities/question/ui/SortQuestions/SortQuestionsByField/SortQuestionsByField.tsx
  src/features/question/questionsFilterSet/index.ts
  src/features/question/questionsFilterSet/ui/QuestionsFilterSet.tsx
  src/pages/admin/QuestionsTablePage/ui/QuestionTablePagePagination/QuestionTablePagePagination.tsx
  src/pages/admin/QuestionsTablePage/ui/QuestionsTablePage/QuestionsTablePage.tsx
  src/pages/interview/QuestionsPage/ui/QuestionsPage/QuestionsPage.tsx
  src/shared/hooks/useQueryFilter.ts
  src/shared/ui/Drawer/ui/Drawer.module.css
  src/shared/ui/FiltersDrawer/index.ts
  src/shared/ui/FiltersDrawer/ui/FiltersDrawer.module.css
  src/shared/ui/FiltersDrawer/ui/FiltersDrawer.tsx
  src/widgets/Question/ui/QuestionsFilterPanel/ui/QuestionsFilterPanel.tsx
  src/widgets/SearchSection/ui/SearchSection.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-514: add pallete colors from develop
  src/app/styles/variables/pallete.css
  src/app/styles/variables/themes.css
  src/features/profile/confirmationEmail/ui/ConfirmationEmail.module.css
  src/widgets/Profile/ui/UserCard/ui/UserInfoBlock/UserInfoBlock.module.css
Due: npm run lint:css:fix

YH-489: add magnifier svg and aria labels
  src/shared/assets/icons/Magnifer.svg
  src/shared/ui/Input/ui/Input.module.css
  src/shared/ui/Input/ui/Input.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-520: fix: Logo (#246)
  src/shared/ui/AppLogo/AppLogo.module.css
  src/shared/ui/AppLogo/AppLogo.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-504: fix margins add translations (#247)
  src/shared/ui/PassedQuestionStatInfo/ui/PassedQuestionStatInfo.module.css
Due: npm run lint:css:fix

YH-518: interview history message fixed (#245)
  public/locales/en/interview.json
  public/locales/ru/interview.json
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/InterviewHistory/ui/InterviewHistoryList/InterviewHistoryList.module.css
  src/widgets/InterviewHistory/ui/InterviewHistoryList/InterviewHistoryList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-508: Update the skill's detail page (#244)
  src/entities/skill/ui/SkillCard/SkillCard.module.css
  src/entities/skill/ui/SkillCard/SkillCard.tsx
  src/features/skill/deleteSkill/ui/DeleteSkillButton/DeleteSkillButton.tsx
  src/pages/admin/SkillDetailPage/ui/SkillDetailPage/SkillDetailPage.tsx
  src/shared/ui/Card/ui/Card.module.css
  src/shared/ui/Card/ui/Card.tsx
  src/shared/ui/ImageWithWrapper/ImageWithWrapper.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-507: Calendar history page clipping fix
  src/pages/interview/InterviewHistoryPage/ui/InterviewHistoryPage.tsx
  src/widgets/FullInterviewHistory/ui/FullInterviewHistoryList/FullInterviewHistoryList.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-515: add Tab Change Password, add translation for Change Password, add form Change Password, add validation for form
  public/locales/en/profile.json
  public/locales/ru/profile.json
  src/features/profile/changePassword/index.ts
  src/features/profile/changePassword/ui/ChangePassword.module.css
  src/features/profile/changePassword/ui/ChangePassword.tsx
  src/pages/profile/SettingsProfilePage/ui/SettingsProfilePage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/Profile/index.ts
  src/widgets/Profile/ui/ChangePasswordTab/index.ts
  src/widgets/Profile/ui/ChangePasswordTab/model/lib/validation/changePasswordSchema.ts
  src/widgets/Profile/ui/ChangePasswordTab/model/types/changePasswordSchemaTypes.ts
  src/widgets/Profile/ui/ChangePasswordTab/ui/ChangePasswordTab.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-515: fix pixel perfect
  src/features/profile/changePassword/ui/ChangePassword.module.css
  src/features/profile/changePassword/ui/ChangePassword.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-507: Calendar history page clipping fix (#249)
  src/pages/interview/InterviewHistoryPage/ui/InterviewHistoryPage.tsx
  src/widgets/FullInterviewHistory/ui/FullInterviewHistoryList/FullInterviewHistoryList.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-514: reorganization styles structure (#241)
  src/app/App.tsx
  src/app/styles/App.css
  src/app/styles/variables/button-colors.css
  src/app/styles/variables/main-variables.css
  src/app/styles/variables/pallete.css
  src/app/styles/variables/themes.css
  src/features/profile/confirmationEmail/ui/ConfirmationEmail.module.css
  src/widgets/Profile/ui/UserCard/ui/UserInfoBlock/UserInfoBlock.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-513: fixed button import
  src/features/question/deleteQuestion/ui/DeleteQuestionButton/DeleteQuestionButton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-516: add ForgotPassword, PasswordRecovery pages
  public/locales/en/auth.json
  public/locales/en/validation.json
  public/locales/ru/auth.json
  public/locales/ru/validation.json
  src/app/providers/router/config/routeConfig.tsx
  src/entities/auth/index.ts
  src/entities/auth/model/types/auth.ts
  src/entities/auth/ui/RegistrationLabel/RegistrationLabel.module.css
  src/entities/auth/ui/RegistrationLabel/RegistrationLabel.tsx
  src/features/authentication/forgotPassword/index.ts
  src/features/authentication/forgotPassword/ui/ForgotPasswordForm/ForgotPasswordForm.module.css
  src/features/authentication/forgotPassword/ui/ForgotPasswordForm/ForgotPasswordForm.tsx
  src/features/authentication/login/index.ts
  src/features/authentication/passwordRecovery/index.ts
  src/features/authentication/passwordRecovery/ui/PasswordRecoveryForm/PasswordRecoveryForm.module.css
  src/features/authentication/passwordRecovery/ui/PasswordRecoveryForm/PasswordRecoveryForm.tsx
  src/pages/auth/ForgotPasswordPage/index.ts
  src/pages/auth/ForgotPasswordPage/ui/ForgotPasswordPage.lazy.ts
  src/pages/auth/ForgotPasswordPage/ui/ForgotPasswordPage.module.css
  src/pages/auth/ForgotPasswordPage/ui/ForgotPasswordPage.tsx
  src/pages/auth/PasswordRecoveryPage/index.ts
  src/pages/auth/PasswordRecoveryPage/ui/PasswordRecoveryPage.lazy.ts
  src/pages/auth/PasswordRecoveryPage/ui/PasswordRecoveryPage.module.css
  src/pages/auth/PasswordRecoveryPage/ui/PasswordRecoveryPage.tsx
  src/shared/assets/images/emailModal.png
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
  src/shared/ui/Timer/Timer.module.css
  src/shared/ui/Timer/Timer.tsx
  src/widgets/Landing/Header/ui/Header/Header.tsx
  src/widgets/authentication/forgotPassword/index.ts
  src/widgets/authentication/forgotPassword/model/lib/validation/forgotPasswordSchema.ts
  src/widgets/authentication/forgotPassword/model/types/forgotPasswordTypes.ts
  src/widgets/authentication/forgotPassword/ui/ForgotPassword/ForgotPassword.tsx
  src/widgets/authentication/login/ui/LoginCreateForm/LoginCreateForm.tsx
  src/widgets/authentication/passwordRecovery/index.ts
  src/widgets/authentication/passwordRecovery/model/lib/validation/passwordRecoverySchema.ts
  src/widgets/authentication/passwordRecovery/model/types/passwordRecoveryTypes.ts
  src/widgets/authentication/passwordRecovery/ui/PasswordRecovery.module.css
  src/widgets/authentication/passwordRecovery/ui/PasswordRecovery.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-511: removed textClassName prop
  src/entities/education/ui/EducationFormField/EducationFormField.tsx
  src/entities/experience/ui/ExperienceFormField/ExperienceFormField.tsx
  src/entities/quiz/ui/ResponseButtons/ResponseButtons.tsx
  src/features/profile/editProfileForm/ui/ProjectsTabForm/ProjectsTabForm.tsx
  src/shared/ui/Button/model/types.ts
  src/shared/ui/Button/ui/Button.tsx
  src/widgets/SearchSection/ui/SearchSection.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-509: Added filtering of questions to the admin panel (#248)
  public/locales/en/questions.json
  public/locales/ru/questions.json
  src/entities/question/index.ts
  src/entities/question/ui/RateFilterSection/RateFilterSection.tsx
  src/entities/question/ui/SortQuestions/QuestionsSorter/QuestionsSorter.tsx
  src/entities/question/ui/SortQuestions/SortQuestionsByField/SortQuestionsByField.tsx
  src/features/question/questionsFilterSet/index.ts
  src/features/question/questionsFilterSet/ui/QuestionsFilterSet.tsx
  src/pages/admin/QuestionsTablePage/ui/QuestionTablePagePagination/QuestionTablePagePagination.tsx
  src/pages/admin/QuestionsTablePage/ui/QuestionsTablePage/QuestionsTablePage.tsx
  src/pages/interview/QuestionsPage/ui/QuestionsPage/QuestionsPage.tsx
  src/shared/hooks/useQueryFilter.ts
  src/shared/ui/Drawer/ui/Drawer.module.css
  src/shared/ui/FiltersDrawer/index.ts
  src/shared/ui/FiltersDrawer/ui/FiltersDrawer.module.css
  src/shared/ui/FiltersDrawer/ui/FiltersDrawer.tsx
  src/widgets/Question/ui/QuestionsFilterPanel/ui/QuestionsFilterPanel.tsx
  src/widgets/SearchSection/ui/SearchSection.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-515: add button from shared, add adaptive
  src/features/profile/changePassword/ui/ChangePassword.module.css
  src/features/profile/changePassword/ui/ChangePassword.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix
