Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1800: [admin] add message error collectionDelete (#1179)
  .husky/pre-commit
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/features/collections/deleteCollection/api/deleteCollectionApi.ts
  src/features/collections/deleteCollection/lib/utils/getDeleteConllectionApiMessage.ts
  src/features/collections/deleteCollection/model/types/deleteCollectionTypes.ts
  src/features/question/editQuestion/ui/QuestionEditForm/QuestionEditForm.tsx
  src/pages/admin/question/questions/ui/QuestionsTable/QuestionsTable.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/TextArea/TextArea.tsx
Due: npm run prettier, npm run lint:ts:fix

Release 1.8.3
  RELEASE_NOTES.md
  package-lock.json
  package.json
Due: none

YH-1664: edit ReferralLinkForm
  .env.example
  .github/workflows/deploy.yml
  Dockerfile
  Dockerfile.production
  Dockerfile.test
  public/locales/en/marketplace.json
  public/locales/en/referralLink.json
  public/locales/en/translation.json
  public/locales/ru/marketplace.json
  public/locales/ru/referralLink.json
  public/locales/ru/translation.json
  src/entities/referralLink/index.ts
  src/entities/referralLink/model/types/referralLinks.ts
  src/entities/user/ui/UserSelect/UserSelect.tsx
  src/features/referralLinks/createReferralLink/api/createReferralLinkApi.ts
  src/features/referralLinks/createReferralLink/lib/utils/getCreateReferralLinkApiErrorMessage.ts
  src/features/referralLinks/createReferralLink/lib/validation/referralLinkCreateSchema.ts
  src/features/referralLinks/createReferralLink/model/types/refferalLinkCreateTypes.ts
  src/features/referralLinks/createReferralLink/ui/ReferralLinkCreateForm/ReferralLinkCreateForm.tsx
  src/features/referralLinks/createReferralLink/ui/ReferralLinkCreateFormCard/ReferralLinkCreateFormCard.module.css
  src/features/referralLinks/createReferralLink/ui/ReferralLinkCreateFormCard/ReferralLinkCreateFormCard.tsx
  src/features/referralLinks/createReferralLink/ui/ReferralLinkCreateFormWithHeader/ReferralLinkCreateFormWithHeader.module.css
  src/features/referralLinks/createReferralLink/ui/ReferralLinkCreateFormWithHeader/ReferralLinkCreateFormWithHeader.tsx
  src/features/referralLinks/createReferralLink/ui/ReferralLinkForm/ReferralLinkForm.module.css
  src/features/referralLinks/createReferralLink/ui/ReferralLinkForm/ReferralLinkForm.tsx
  src/pages/admin/referralLink/referralLinks/ui/ReferralLinksPage/ReferralLinksPage.tsx
  src/pages/admin/referralLink/referralLinks/ui/ReferralLinksTable/ReferralLinksTable.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/libs/app/index.ts
  src/shared/libs/app/regexp.ts
  webpack.config.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1806: add popover, route and template of new page
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/app/providers/router/routeConfig.tsx
  src/pages/admin/question/questionCreateMultiple/index.ts
  src/pages/admin/question/questionCreateMultiple/ui/questionCreateMultiplePage.lazy.tsx
  src/pages/admin/question/questionCreateMultiple/ui/questionCreateMultiplePage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
  src/widgets/SearchSection/ui/SearchSection.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1807: ограничение высоты списков
  src/shared/ui/BaseFilterSection/BaseFilterSection.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1807: ограничение высоты списков (#1181)
  src/shared/ui/BaseFilterSection/BaseFilterSection.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1792: added error handling for delete skill api (#1176)
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/features/skill/deleteSkill/api/deleteSkillApi.ts
  src/features/skill/deleteSkill/lib/utils/getDeleteSkillApiErrorMessage.ts
  src/features/skill/deleteSkill/model/types/DeleteSkillErrorTypes.ts
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1793: added error handling for deleting a specialization (#1175)
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/features/specialization/deleteSpecialization/api/deleteSpecializationApi.ts
  src/features/specialization/deleteSpecialization/lib/utils/getDeleteSpecializationApiErrorMessage.ts
  src/features/specialization/deleteSpecialization/model/types/deleteSpecializationTypes.ts
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1735: fix
  src/entities/collection/api/__mock__/data/collectionsMock.ts
  src/entities/company/api/__mocks__/data/companiesMock.ts
  src/entities/company/model/types/companyTypes.ts
  src/features/company/createCompany/api/__mock__/createCompany.ts
  src/features/company/createCompany/lib/validation/companyCreateSchema.ts
  src/features/company/createCompany/model/types/companyCreateTypes.ts
  src/features/company/deleteCompanies/model/thunks/deleteMultipleCompaniesThunk.ts
  src/features/company/deleteCompanies/ui/DeleteCompaniesButton/DeleteCompaniesButton.tsx
  src/features/company/editCompany/lib/validation/companyEditSchema.ts
  src/pages/admin/company/companies/model/slices/companiesTablePageSlice.ts
  src/pages/admin/company/companies/model/types/companiesTablePageTypes.ts
  src/pages/admin/company/companies/ui/CompaniesTablePage/CompaniesTablePage.tsx
  src/widgets/CompaniesTable/ui/CompaniesTable.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1773: add error handling for skill edit (#1158)
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/features/skill/editSkill/api/editSkillApi.ts
  src/features/skill/editSkill/lib/utils/getEditSkillApiErrorMessage.ts
  src/features/skill/editSkill/model/types/skillEditPageTypes.ts
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1787: Added tests for TableCellEntityList
  src/shared/ui/TableCellEntityList/TableCellEntityList.test.tsx
  src/shared/ui/TableCellEntityList/TableCellEntityList.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1712: fix
  src/entities/question/model/types/question.ts
  src/features/question/createQuestion/lib/validation/questionCreateSchema.ts
  src/features/question/editQuestion/lib/validation/questionEditSchema.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1771: implement specialization edit error handling and mocks (#1166)
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/app/msw/handlers.ts
  src/features/specialization/editSpecialization/api/__mocks__/index.ts
  src/features/specialization/editSpecialization/api/__mocks__/specializationEditMock.ts
  src/features/specialization/editSpecialization/api/editSpecializationApi.ts
  src/features/specialization/editSpecialization/index.ts
  src/features/specialization/editSpecialization/model/types/specializationEditPageTypes.ts
  src/features/specialization/editSpecialization/model/utils/getApiErrorMessage.ts
  src/features/specialization/editSpecialization/ui/SpecializationEditForm/SpecializationEditForm.tsx
  src/features/specialization/editSpecialization/ui/SpecializationEditFormHeader/SpecializationEditFormHeader.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1782: fix(resources): correct hasFilters logic for undefined status (#1167)
  src/features/resources/filterResourceRequests/model/hooks/useResourceRequestsFilters.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1808: Added a mock request to get referral links
  src/app/msw/handlers.ts
  src/entities/referralLink/api/__mocks__/data/index.ts
  src/entities/referralLink/api/__mocks__/data/referralLinksMock.ts
  src/entities/referralLink/api/__mocks__/index.ts
  src/entities/referralLink/api/__mocks__/referralLinksListMock.ts
  src/entities/referralLink/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1781: add page wrapper for ResourceEditPage, renamed incorreсt naming (#1168)
  src/pages/admin/resource/resourceDetail/ui/ResourcePage/ResourcePage.tsx
  src/pages/admin/resource/resourceDetail/ui/ResourcePageContent/ResourcePageContent.module.css
  src/pages/admin/resource/resourceDetail/ui/ResourcePageContent/ResourcePageContent.tsx
  src/pages/admin/resource/resourceEdit/ui/ResourceEditPage/ResourceEditPage.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1815: added new task categories typing and translations
  public/locales/en/task.json
  public/locales/ru/task.json
  src/entities/task/model/constants/task.ts
  src/entities/task/model/types/task.ts
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1816: added a mock request to getTaskList
  src/entities/task/api/__mocks__/getTaskList.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1815: fix
  src/entities/task/ui/TaskStructuresField/TaskStructuresField.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1815: added new task categories typing and translations (#1184)
  public/locales/en/task.json
  public/locales/ru/task.json
  src/entities/task/model/constants/task.ts
  src/entities/task/model/types/task.ts
  src/entities/task/ui/TaskStructuresField/TaskStructuresField.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

Release 1.8.4
  RELEASE_NOTES.md
  package-lock.json
  package.json
Due: none

YH-1806: add multiple questions creation page
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/entities/question/index.ts
  src/entities/question/ui/QuestionMultipleForm/QuestionMultipleForm.tsx
  src/features/question/createMultipleQuestions/api/createMultipleQuestionsApi.ts
  src/features/question/createMultipleQuestions/index.ts
  src/features/question/createMultipleQuestions/lib/utils/getCreateMultipleQuestionsApiErrorMessage.ts
  src/features/question/createMultipleQuestions/lib/validation/createMultipleQuestionsSchema.ts
  src/features/question/createMultipleQuestions/model/constants/createMultipleQuestionsConstants.ts
  src/features/question/createMultipleQuestions/model/types/createMultipleQuestionsTypes.ts
  src/features/question/createMultipleQuestions/ui/QuestionCreateMultipleForm/QuestionCreateMultipleForm.module.css
  src/features/question/createMultipleQuestions/ui/QuestionCreateMultipleForm/QuestionCreateMultipleForm.tsx
  src/features/question/createMultipleQuestions/ui/QuestionCreateMultipleFormHeader/QuestionCreateMultipleFormHeader.tsx
  src/pages/admin/question/questionCreateMultiple/ui/questionCreateMultiplePage.tsx
  src/pages/admin/question/questions/ui/QuestionsTablePage/QuestionsTablePage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/query/baseApi.ts
  src/shared/libs/query/handleApiError/handleApiError.ts
  src/widgets/SearchSection/ui/SearchSection.tsx
  src/widgets/question/GeneratedQuestionsWidget/index.ts
  src/widgets/question/GeneratedQuestionsWidget/ui/GeneratedQuestionsErrors/GeneratedQuestionsErrors.module.css
  src/widgets/question/GeneratedQuestionsWidget/ui/GeneratedQuestionsErrors/GeneratedQuestionsErrors.tsx
  src/widgets/question/GeneratedQuestionsWidget/ui/GeneratedQuestionsTable/GeneratedQuestionsTable.tsx
  src/widgets/question/GeneratedQuestionsWidget/ui/GeneratedQuestionsWidget/GeneratedQuestionsWidget.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1806: fix from comments
  public/locales/en/questions.json
  public/locales/en/translation.json
  public/locales/ru/questions.json
  public/locales/ru/translation.json
  src/entities/question/index.ts
  src/features/question/createMultipleQuestions/index.ts
  src/features/question/createMultipleQuestions/lib/utils/getCreateMultipleQuestionsApiErrorMessage.ts
  src/features/question/createMultipleQuestions/ui/QuestionCreateMultipleForm/QuestionCreateMultipleForm.tsx
  src/features/question/createMultipleQuestions/ui/QuestionMultipleForm/QuestionMultipleForm.module.css
  src/features/question/createMultipleQuestions/ui/QuestionMultipleForm/QuestionMultipleForm.tsx
  src/pages/admin/question/questionCreateMultiple/ui/questionCreateMultiplePage.tsx
  src/pages/admin/question/questions/ui/QuestionsTablePage/QuestionsTablePage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/question/GeneratedQuestionsWidget/ui/GeneratedQuestionsErrors/GeneratedQuestionsErrors.tsx
  src/widgets/question/GeneratedQuestionsWidget/ui/GeneratedQuestionsTable/GeneratedQuestionsTable.tsx
  src/widgets/question/GeneratedQuestionsWidget/ui/GeneratedQuestionsWidget/GeneratedQuestionsWidget.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1806: delete log
  src/pages/admin/question/questionCreateMultiple/ui/questionCreateMultiplePage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1789: add filters and search to referral links page
  public/locales/en/referralLink.json
  public/locales/ru/referralLink.json
  src/entities/referralLink/index.ts
  src/entities/referralLink/model/types/filters.ts
  src/entities/user/ui/UserSelect/UserSelect.tsx
  src/features/referralLinks/filterReferralLinks/index.ts
  src/features/referralLinks/filterReferralLinks/model/hooks/useGetReferralLinksFilterParams.ts
  src/features/referralLinks/filterReferralLinks/model/hooks/useReferralLinksFilters.ts
  src/features/referralLinks/filterReferralLinks/model/types/filters.ts
  src/features/referralLinks/filterReferralLinks/ui/ReferralLinksFilters/ReferralLinksFilters.tsx
  src/features/referralLinks/filterReferralLinks/ui/ReferralLinksSortByFieldFilter/ReferralLinksSortByFieldFilter.tsx
  src/pages/admin/referralLink/referralLinks/model/slices/referralLinksPageSlice.ts
  src/pages/admin/referralLink/referralLinks/ui/ReferralLinksPage/ReferralLinksPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1664: create referral link creation page (#1173)
  .env.example
  .github/workflows/deploy.yml
  Dockerfile
  Dockerfile.production
  Dockerfile.test
  public/locales/en/marketplace.json
  public/locales/en/referralLink.json
  public/locales/en/translation.json
  public/locales/ru/marketplace.json
  public/locales/ru/referralLink.json
  public/locales/ru/translation.json
  src/app/providers/router/routeConfig.tsx
  src/entities/referralLink/index.ts
  src/entities/referralLink/model/types/referralLinks.ts
  src/entities/user/ui/UserSelect/UserSelect.tsx
  src/features/referralLinks/createReferralLink/api/createReferralLinkApi.ts
  src/features/referralLinks/createReferralLink/index.ts
  src/features/referralLinks/createReferralLink/lib/utils/getCreateReferralLinkApiErrorMessage.ts
  src/features/referralLinks/createReferralLink/lib/validation/referralLinkCreateSchema.ts
  src/features/referralLinks/createReferralLink/model/constants/createReferralLinkApiUrls.ts
  src/features/referralLinks/createReferralLink/model/types/refferalLinkCreateTypes.ts
  src/features/referralLinks/createReferralLink/ui/ReferralLinkCreateForm/ReferralLinkCreateForm.tsx
  src/features/referralLinks/createReferralLink/ui/ReferralLinkCreateFormCard/ReferralLinkCreateFormCard.module.css
  src/features/referralLinks/createReferralLink/ui/ReferralLinkCreateFormCard/ReferralLinkCreateFormCard.tsx
  src/features/referralLinks/createReferralLink/ui/ReferralLinkCreateFormWithHeader/ReferralLinkCreateFormWithHeader.module.css
  src/features/referralLinks/createReferralLink/ui/ReferralLinkCreateFormWithHeader/ReferralLinkCreateFormWithHeader.tsx
  src/features/referralLinks/createReferralLink/ui/ReferralLinkForm/ReferralLinkForm.module.css
  src/features/referralLinks/createReferralLink/ui/ReferralLinkForm/ReferralLinkForm.tsx
  src/pages/admin/referralLink/ReferralLinkCreate/index.ts
  src/pages/admin/referralLink/ReferralLinkCreate/ui/ReferralLinkCreatePage/ReferralLinkCreatePage.lazy.tsx
  src/pages/admin/referralLink/ReferralLinkCreate/ui/ReferralLinkCreatePage/ReferralLinkCreatePage.tsx
  src/pages/admin/referralLink/referralLinks/ui/ReferralLinksPage/ReferralLinksPage.tsx
  src/pages/admin/referralLink/referralLinks/ui/ReferralLinksTable/ReferralLinksTable.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
  src/shared/libs/app/index.ts
  src/shared/libs/app/regexp.ts
  webpack.config.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1788: update tests
  src/shared/ui/Switch/Switch.test.tsx
  src/shared/ui/Switch/Switch.tsx
  src/shared/ui/Switch/constants.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1788: fix Switch tests after code review
  src/shared/ui/Switch/Switch.test.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1817: Моковый запрос на получение списка решений задач
  src/app/msw/handlers.ts
  src/entities/task/api/__mocks__/data/index.ts
  src/entities/task/api/__mocks__/data/tasksMocks.ts
  src/entities/task/api/__mocks__/index.ts
  src/entities/task/api/__mocks__/taskCategoryMock.ts
  src/entities/task/api/__mocks__/taskProfileSolutionMock.ts
  src/entities/task/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1663: added referral link detail page
  src/app/providers/router/routeConfig.tsx
  src/entities/referralLink/api/referralLinksApi.ts
  src/entities/referralLink/index.ts
  src/entities/referralLink/model/constants/referralLinksConstants.ts
  src/entities/referralLink/model/types/referralLinks.ts
  src/entities/referralLink/ui/ReferralLinkCard/ReferralLinkCard.module.css
  src/entities/referralLink/ui/ReferralLinkCard/ReferralLinkCard.tsx
  src/entities/referralLink/ui/ReferralLinkCount/ReferralLinkCount.tsx
  src/entities/referralLink/ui/ReferralLinkDate/ReferralLinkDate.tsx
  src/entities/referralLink/ui/ReferralLinkOwner/ReferralLinkOwner.tsx
  src/entities/referralLink/ui/ReferralLinkSum/ReferralLinkSum.module.css
  src/entities/referralLink/ui/ReferralLinkSum/ReferralLinkSum.tsx
  src/pages/admin/referralLink/ReferalLinkDetail/index.ts
  src/pages/admin/referralLink/ReferalLinkDetail/ui/ReferralLinkDetailPage/ReferralLinkDetailPage.lazy.tsx
  src/pages/admin/referralLink/ReferalLinkDetail/ui/ReferralLinkDetailPage/ReferralLinkDetailPage.tsx
  src/pages/admin/referralLink/referralLinks/ui/ReferralLinksTable/ReferralLinksTable.tsx
  src/widgets/referralLink/ReferralLinkAdditionalInfo/index.ts
  src/widgets/referralLink/ReferralLinkAdditionalInfo/ui/ReferralLinkAdditionalInfo.module.css
  src/widgets/referralLink/ReferralLinkAdditionalInfo/ui/ReferralLinkAdditionalInfo.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1666: added delete referral link feature
  public/locales/en/referralLink.json
  public/locales/en/translation.json
  public/locales/ru/referralLink.json
  public/locales/ru/translation.json
  src/features/referralLinks/deleteReferralLink/api/deleteReferralLinkApi.ts
  src/features/referralLinks/deleteReferralLink/index.ts
  src/features/referralLinks/deleteReferralLink/lib/utils/getDeleteReferralLinkApiErrorMessage.ts
  src/features/referralLinks/deleteReferralLink/model/constants/deleteReferralLinkApiUrls.ts
  src/features/referralLinks/deleteReferralLink/model/types/deleteReferralLinkTypes.ts
  src/features/referralLinks/deleteReferralLink/ui/DeleteReferralLinkButton/DeleteReferralLinkButton.tsx
  src/features/referralLinks/deleteReferralLink/ui/DeleteReferralLinkModal/DeleteReferralLinkModal.tsx
  src/pages/admin/referralLink/referralLinks/ui/ReferralLinksTable/ReferralLinksTable.tsx
  src/shared/config/i18n/i18nTranslations.ts
  steiger.config.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1802: added a filter by user (#1177)
  src/entities/user/ui/UserSelect/UserSelect.tsx
  src/features/company/filterCompanies/model/hooks/useCompaniesFilters.ts
  src/features/company/filterCompanies/model/hooks/useGetCompaniesFilterParams.ts
  src/features/company/filterCompanies/model/types/filters.ts
  src/features/company/filterCompanies/ui/CompaniesFilters/CompaniesFilters.tsx
  src/pages/admin/company/companies/ui/CompaniesTablePage/CompaniesTablePage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1801: added author filter to skills page (#1178)
  src/entities/user/ui/UserSelect/UserSelect.tsx
  src/features/skill/filterSkills/model/hooks/useSkillsFilters.ts
  src/features/skill/filterSkills/model/types/filters.ts
  src/features/skill/filterSkills/ui/SkillsFilters.tsx
  src/pages/admin/skill/skills/ui/SkillsPage/SkillsPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1666: added delete referral link feature (#1192)
  public/locales/en/referralLink.json
  public/locales/en/translation.json
  public/locales/ru/referralLink.json
  public/locales/ru/translation.json
  src/features/referralLinks/deleteReferralLink/api/deleteReferralLinkApi.ts
  src/features/referralLinks/deleteReferralLink/index.ts
  src/features/referralLinks/deleteReferralLink/lib/utils/getDeleteReferralLinkApiErrorMessage.ts
  src/features/referralLinks/deleteReferralLink/model/constants/deleteReferralLinkApiUrls.ts
  src/features/referralLinks/deleteReferralLink/model/types/deleteReferralLinkTypes.ts
  src/features/referralLinks/deleteReferralLink/ui/DeleteReferralLinkButton/DeleteReferralLinkButton.tsx
  src/features/referralLinks/deleteReferralLink/ui/DeleteReferralLinkModal/DeleteReferralLinkModal.tsx
  src/pages/admin/referralLink/referralLinks/ui/ReferralLinksTable/ReferralLinksTable.tsx
  src/shared/config/i18n/i18nTranslations.ts
  steiger.config.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1663: fixed review comments
  public/locales/en/referralLink.json
  public/locales/ru/referralLink.json
  src/entities/referralLink/api/referralLinksApi.ts
  src/entities/referralLink/ui/ReferralLinkCard/ReferralLinkCard.tsx
  src/entities/referralLink/ui/ReferralLinkCount/ReferralLinkCount.tsx
  src/entities/referralLink/ui/ReferralLinkDate/ReferralLinkDate.tsx
  src/entities/referralLink/ui/ReferralLinkOwner/ReferralLinkOwner.tsx
  src/entities/referralLink/ui/ReferralLinkSum/ReferralLinkSum.module.css
  src/entities/referralLink/ui/ReferralLinkSum/ReferralLinkSum.tsx
  src/pages/admin/referralLink/ReferalLinkDetail/ui/ReferralLinkDetailPage/ReferralLinkDetailPage.tsx
  src/pages/admin/referralLink/ReferalLinkDetail/ui/ReferralLinkDetailPage/ReferralLinkDetailPageContent.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Chip/Chip.module.css
  src/shared/ui/Chip/Chip.tsx
  src/shared/ui/Chip/types.ts
  src/widgets/referralLink/ReferralLinkAdditionalInfo/ui/ReferralLinkAdditionalInfo.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1663: added referral link detail page (#1191)
  public/locales/en/referralLink.json
  public/locales/ru/referralLink.json
  src/app/providers/router/routeConfig.tsx
  src/entities/referralLink/api/referralLinksApi.ts
  src/entities/referralLink/index.ts
  src/entities/referralLink/model/constants/referralLinksConstants.ts
  src/entities/referralLink/model/types/referralLinks.ts
  src/entities/referralLink/ui/ReferralLinkCard/ReferralLinkCard.module.css
  src/entities/referralLink/ui/ReferralLinkCard/ReferralLinkCard.tsx
  src/entities/referralLink/ui/ReferralLinkCount/ReferralLinkCount.tsx
  src/entities/referralLink/ui/ReferralLinkDate/ReferralLinkDate.tsx
  src/entities/referralLink/ui/ReferralLinkOwner/ReferralLinkOwner.tsx
  src/entities/referralLink/ui/ReferralLinkSum/ReferralLinkSum.tsx
  src/pages/admin/referralLink/ReferalLinkDetail/index.ts
  src/pages/admin/referralLink/ReferalLinkDetail/ui/ReferralLinkDetailPage/ReferralLinkDetailPage.lazy.tsx
  src/pages/admin/referralLink/ReferalLinkDetail/ui/ReferralLinkDetailPage/ReferralLinkDetailPage.tsx
  src/pages/admin/referralLink/ReferalLinkDetail/ui/ReferralLinkDetailPage/ReferralLinkDetailPageContent.tsx
  src/pages/admin/referralLink/referralLinks/ui/ReferralLinksTable/ReferralLinksTable.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Chip/Chip.module.css
  src/shared/ui/Chip/Chip.tsx
  src/shared/ui/Chip/types.ts
  src/widgets/referralLink/ReferralLinkAdditionalInfo/index.ts
  src/widgets/referralLink/ReferralLinkAdditionalInfo/ui/ReferralLinkAdditionalInfo.module.css
  src/widgets/referralLink/ReferralLinkAdditionalInfo/ui/ReferralLinkAdditionalInfo.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

Feature/yh 1806: add multiple questions creation page (#1188)
  public/locales/en/questions.json
  public/locales/en/translation.json
  public/locales/ru/questions.json
  public/locales/ru/translation.json
  src/app/providers/router/routeConfig.tsx
  src/features/question/createMultipleQuestions/api/createMultipleQuestionsApi.ts
  src/features/question/createMultipleQuestions/index.ts
  src/features/question/createMultipleQuestions/lib/utils/getCreateMultipleQuestionsApiErrorMessage.ts
  src/features/question/createMultipleQuestions/lib/validation/createMultipleQuestionsSchema.ts
  src/features/question/createMultipleQuestions/model/constants/createMultipleQuestionsConstants.ts
  src/features/question/createMultipleQuestions/model/types/createMultipleQuestionsTypes.ts
  src/features/question/createMultipleQuestions/ui/QuestionCreateMultipleForm/QuestionCreateMultipleForm.module.css
  src/features/question/createMultipleQuestions/ui/QuestionCreateMultipleForm/QuestionCreateMultipleForm.tsx
  src/features/question/createMultipleQuestions/ui/QuestionCreateMultipleFormHeader/QuestionCreateMultipleFormHeader.tsx
  src/features/question/createMultipleQuestions/ui/QuestionMultipleForm/QuestionMultipleForm.module.css
  src/features/question/createMultipleQuestions/ui/QuestionMultipleForm/QuestionMultipleForm.tsx
  src/pages/admin/question/questionCreateMultiple/index.ts
  src/pages/admin/question/questionCreateMultiple/ui/questionCreateMultiplePage.lazy.tsx
  src/pages/admin/question/questionCreateMultiple/ui/questionCreateMultiplePage.tsx
  src/pages/admin/question/questions/ui/QuestionsTablePage/QuestionsTablePage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/query/baseApi.ts
  src/shared/config/router/routes.ts
  src/shared/libs/query/handleApiError/handleApiError.ts
  src/widgets/SearchSection/ui/SearchSection.tsx
  src/widgets/question/GeneratedQuestionsWidget/index.ts
  src/widgets/question/GeneratedQuestionsWidget/ui/GeneratedQuestionsErrors/GeneratedQuestionsErrors.module.css
  src/widgets/question/GeneratedQuestionsWidget/ui/GeneratedQuestionsErrors/GeneratedQuestionsErrors.tsx
  src/widgets/question/GeneratedQuestionsWidget/ui/GeneratedQuestionsTable/GeneratedQuestionsTable.tsx
  src/widgets/question/GeneratedQuestionsWidget/ui/GeneratedQuestionsWidget/GeneratedQuestionsWidget.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1816: corrected
  src/app/msw/handlers.ts
  src/entities/task/api/__mocks__/data/index.ts
  src/entities/task/api/__mocks__/data/taskListMock.ts
  src/entities/task/api/__mocks__/getTaskList.ts
  src/entities/task/api/__mocks__/index.ts
  src/entities/task/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1665: added a referral link editing page
  public/locales/en/marketplace.json
  public/locales/en/translation.json
  public/locales/ru/marketplace.json
  public/locales/ru/translation.json
  src/app/providers/router/routeConfig.tsx
  src/entities/referralLink/api/referralLinksApi.ts
  src/entities/referralLink/model/constants/referralLinksConstants.ts
  src/entities/referralLink/model/types/referralLinks.ts
  src/features/referralLinks/editReferralLink/api/editReferralLinkApi.ts
  src/features/referralLinks/editReferralLink/index.ts
  src/features/referralLinks/editReferralLink/lib/utils/getEditReferralLinkApiErrorMessage.ts
  src/features/referralLinks/editReferralLink/lib/validation/referralLinkEditSchema.ts
  src/features/referralLinks/editReferralLink/model/constants/editReferralLinkApiUrls.ts
  src/features/referralLinks/editReferralLink/model/types/referralEditPageTypes.ts
  src/features/referralLinks/editReferralLink/ui/ReferralLinkEditForm/ReferralLinkEditForm.module.css
  src/features/referralLinks/editReferralLink/ui/ReferralLinkEditForm/ReferralLinkEditForm.tsx
  src/features/referralLinks/editReferralLink/ui/ReferralLinkEditFormHeader/ReferralLinkEditFormHeader.tsx
  src/features/referralLinks/editReferralLink/ui/ReferralLinkForm/ReferralLinkForm.module.css
  src/features/referralLinks/editReferralLink/ui/ReferralLinkForm/ReferralLinkForm.tsx
  src/pages/admin/referralLink/referralLinkEdit/index.ts
  src/pages/admin/referralLink/referralLinkEdit/ui/ReferralLinkEditPage/ReferralLinkEditPage.lazy.tsx
  src/pages/admin/referralLink/referralLinkEdit/ui/ReferralLinkEditPage/ReferralLinkEditPage.tsx
  src/pages/admin/referralLink/referralLinks/ui/ReferralLinksTable/ReferralLinksTable.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1814: added skeleton for the task list page
  src/entities/task/index.ts
  src/entities/task/ui/TaskCard/TaskCard.skeleton.tsx
  src/entities/task/ui/TaskCategoryFilterList/TaskCategoryFilterList.skeleton.tsx
  src/features/task/filterTasks/index.ts
  src/features/task/filterTasks/ui/TaskDifficultyFilter/TaskDifficultyFilter.skeleton.tsx
  src/features/task/filterTasks/ui/TaskFilters/TasksFilters.skeleton.tsx
  src/features/task/filterTasks/ui/TaskLanguagesFilter/TaskLanguagesFilter.skeleton.tsx
  src/pages/tasks/tasks/ui/TasksPage/TasksPage.skeleton.tsx
  src/pages/tasks/tasks/ui/TasksPage/TasksPage.tsx
  src/widgets/task/TasksList/ui/TasksList/TasksList.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix

Path conditions:
  npm run prettier: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:ts:fix: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:css:fix: any of: *.css
