Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-601: fix drawer bug and route to interview from landing (#323)
  src/shared/ui/Drawer/ui/Drawer.module.css
  src/widgets/Landing/InterviewModeBlock/ui/InterviewModeBlock/InterviewModeBlock.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-588: fixed registration page and logo
  public/locales/en/auth.json
  public/locales/ru/auth.json
  src/app/layouts/AuthLayout/ui/AuthAside/AuthAside.module.css
  src/app/layouts/AuthLayout/ui/AuthAside/AuthAside.tsx
  src/features/authentication/registration/ui/RegisterForm/RegisterForm.module.css
  src/features/authentication/registration/ui/RegisterForm/RegisterForm.tsx
  src/pages/auth/RegistrationPage/ui/RegistrationPage.module.css
  src/pages/auth/RegistrationPage/ui/RegistrationPage.tsx
  src/shared/assets/icons/logoDark.png
  src/shared/assets/icons/logoLight.png
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/constants/consentAndTermsLinks.ts
  src/shared/ui/AppLogo/AppLogo.module.css
  src/shared/ui/AppLogo/AppLogo.tsx
  src/shared/ui/Checkbox/index.ts
  src/shared/ui/Checkbox/model/Checkbox.d.ts
  src/shared/ui/Checkbox/model/types.ts
  src/shared/ui/Checkbox/ui/Checkbox.module.css
  src/shared/ui/Checkbox/ui/Checkbox.tsx
  src/widgets/registration/model/lib/validation/registerSchema.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-606: refactor quiz types
  src/entities/question/model/types/question.ts
  src/entities/quiz/api/quizApi.ts
  src/entities/quiz/index.ts
  src/entities/quiz/model/constants/quizConstants.ts
  src/entities/quiz/model/data/interviewQuestions.ts
  src/entities/quiz/model/types/quiz.ts
  src/entities/quiz/ui/QuestionNavPanel/QuestionNavPanel.tsx
  src/entities/quiz/ui/ResponseButtons/ResponseButtons.tsx
  src/entities/quiz/utils/getActiveQuizQuestions.ts
  src/pages/interview/CreateQuizPage/ui/CreateQuizPage.tsx
  src/pages/interview/InterviewPage/ui/InterviewPage.tsx
  src/pages/interview/InterviewQuizPage/ui/InterviewQuizPage.tsx
  src/pages/interview/InterviewQuizResultPage/ui/InterviewQuizResultPage.tsx
  src/pages/interview/InterviewStatisticsPage/model/helpers/transformSkillsArray.ts
  src/pages/interview/InterviewStatisticsPage/ui/InterviewStatisticsPage.tsx
  src/widgets/FullInterviewHistory/ui/FullInterviewHistoryItem/FullInterviewHistoryItem.tsx
  src/widgets/FullInterviewHistory/ui/FullInterviewHistoryItem/InterviewParameters/InterviewParameters.tsx
  src/widgets/FullInterviewHistory/ui/FullInterviewHistoryList/model/hooks/useGetHistory.ts
  src/widgets/InterviewHistory/ui/InterviewHistoryItem/InterviewHistoryItem.tsx
  src/widgets/InterviewHistory/ui/InterviewHistoryList/InterviewHistoryList.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-606: refactor quiz types (#325)
  src/entities/question/model/types/question.ts
  src/entities/quiz/api/quizApi.ts
  src/entities/quiz/index.ts
  src/entities/quiz/model/constants/quizConstants.ts
  src/entities/quiz/model/data/interviewQuestions.ts
  src/entities/quiz/model/types/quiz.ts
  src/entities/quiz/ui/QuestionNavPanel/QuestionNavPanel.tsx
  src/entities/quiz/ui/ResponseButtons/ResponseButtons.tsx
  src/entities/quiz/utils/getActiveQuizQuestions.ts
  src/pages/interview/CreateQuizPage/ui/CreateQuizPage.tsx
  src/pages/interview/InterviewPage/ui/InterviewPage.tsx
  src/pages/interview/InterviewQuizPage/ui/InterviewQuizPage.tsx
  src/pages/interview/InterviewQuizResultPage/ui/InterviewQuizResultPage.tsx
  src/pages/interview/InterviewStatisticsPage/model/helpers/transformSkillsArray.ts
  src/pages/interview/InterviewStatisticsPage/ui/InterviewStatisticsPage.tsx
  src/widgets/FullInterviewHistory/ui/FullInterviewHistoryItem/FullInterviewHistoryItem.tsx
  src/widgets/FullInterviewHistory/ui/FullInterviewHistoryItem/InterviewParameters/InterviewParameters.tsx
  src/widgets/FullInterviewHistory/ui/FullInterviewHistoryList/model/hooks/useGetHistory.ts
  src/widgets/InterviewHistory/ui/InterviewHistoryItem/InterviewHistoryItem.tsx
  src/widgets/InterviewHistory/ui/InterviewHistoryList/InterviewHistoryList.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-544: fixed create skills page
  src/features/skill/createSkill/ui/SkillCreateFormHeader/SkillCreateFormHeader.tsx
  src/features/skill/editSkill/ui/SkillEditForm/SkillEditForm.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-546: add story to Accordion (#286)
  .loki/reference/chrome_iphone7_shared_ui_Accordion_With_Children.png
  .loki/reference/chrome_iphone7_shared_ui_Accordion_Without_Children.png
  .loki/reference/chrome_laptop_shared_ui_Accordion_With_Children.png
  .loki/reference/chrome_laptop_shared_ui_Accordion_Without_Children.png
  src/shared/ui/Accordion/ui/Accordion.stories.tsx
  src/shared/ui/Accordion/ui/Accordion.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-551: fixed BaseFilterSection test
  src/shared/ui/BaseFilterSection/BaseFilterSection.test.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-549: Added a comment for the BackButton for the story
  src/shared/ui/BackButton/ui/BackButton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-219: feature:model for admin form. fix: modal editProfile
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/features/profile/editProfileForm/ui/EditProfileForm/EditProfileForm.tsx
  src/features/question/createQuestion/ui/QuestionCreateForm/QuestionCreateForm.tsx
  src/features/question/editQuestion/ui/QuestionEditForm/QuestionEditForm.tsx
  src/features/skill/createSkill/ui/SkillCreateForm/SkillCreateForm.tsx
  src/features/skill/editSkill/ui/SkillEditForm/SkillEditForm.tsx
  src/features/specialization/createSpecialization/ui/SpecializationCreateForm/SpecializationCreateForm.tsx
  src/features/specialization/editSpecialization/ui/SpecializationEditForm/SpecializationEditForm.tsx
  src/shared/ui/Breadcrumbs/ui/Breadcrumbs.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-544: create styles on create skills page (#314)
  public/locales/ru/skill.json
  src/entities/question/ui/ChooseQuestionsCategories/ChooseQuestionsCategories.tsx
  src/entities/skill/model/types/skill.ts
  src/entities/skill/ui/SkillForm/SkillForm.module.css
  src/entities/skill/ui/SkillForm/SkillForm.tsx
  src/features/skill/createSkill/model/lib/validation/skillCreateSchema.ts
  src/features/skill/createSkill/ui/SkillCreateForm/SkillCreateForm.tsx
  src/features/skill/createSkill/ui/SkillCreateFormHeader/SkillCreateFormHeader.tsx
  src/features/skill/editSkill/model/lib/validation/skillEditSchema.ts
  src/features/skill/editSkill/ui/SkillEditForm/SkillEditForm.tsx
  src/features/skill/editSkill/ui/SkillEditFormHeader/SkillEditFormHeader.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-549: add story to backbutton component (#289)
  .loki/reference/chrome_iphone7_shared_BackButton_Primary.png
  .loki/reference/chrome_laptop_shared_BackButton_Primary.png
  src/shared/ui/BackButton/ui/BackButton.stories.tsx
  src/shared/ui/BackButton/ui/BackButton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-551: add test for BaseFilterSection (#288)
  src/shared/ui/BaseFilterSection/BaseFilterSection.test.tsx
Due: npm run prettier, npm run lint:ts:fix

Merge pull request #266 from YeaHubTeam/develop (#277)
  public/locales/en/subscription.json
  public/locales/en/subscriptionCard.json
  public/locales/ru/subscription.json
  public/locales/ru/subscriptionCard.json
  src/app/styles/variables/main-variables.css
  src/entities/subscription/index.ts
  src/entities/subscription/model/types/subscription.ts
  src/entities/subscription/ui/SubscriptionCard/SubscriptionCard.module.css
  src/entities/subscription/ui/SubscriptionCard/SubscriptionCard.tsx
  src/features/subscription/SubscribeButton/index.ts
  src/features/subscription/SubscribeButton/ui/SubscribeButton.tsx
  src/shared/assets/icons/iconCheck.svg
  src/shared/assets/icons/subscription-base.svg
  src/shared/assets/icons/subscription-free.svg
  src/shared/assets/icons/subscription-premium.svg
  src/shared/config/i18n/i18n.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Flex/ui/Flex.module.css
  src/shared/ui/Flex/ui/Flex.stories.tsx
  src/shared/ui/Flex/ui/Flex.test.tsx
  src/shared/ui/Flex/ui/Flex.tsx
  src/shared/ui/KeywordInput/KeywordInput.tsx
  src/widgets/FaqList/index.ts
  src/widgets/FaqList/model/types/types.ts
  src/widgets/FaqList/ui/FaqItem/FaqItem.module.css
  src/widgets/FaqList/ui/FaqItem/FaqItem.tsx
  src/widgets/FaqList/ui/FaqList/Faq.tsx
  src/widgets/FaqList/ui/FaqList/FaqList.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-588: fixed checkbox
  src/entities/auth/model/types/auth.ts
  src/features/authentication/registration/ui/RegisterForm/RegisterForm.module.css
  src/features/authentication/registration/ui/RegisterForm/RegisterForm.tsx
  src/shared/ui/Checkbox/ui/Checkbox.module.css
  src/shared/ui/Checkbox/ui/Checkbox.tsx
  src/widgets/registration/model/lib/validation/registerSchema.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-588: fixed registration form
  src/features/authentication/registration/ui/RegisterForm/RegisterForm.tsx
  src/widgets/registration/model/lib/validation/registerSchema.ts
Due: npm run prettier, npm run lint:ts:fix

YH-602: add page docs
  public/locales/ru/docs.json
  src/app/providers/router/config/routeConfig.tsx
  src/pages/docs/DocsPage/index.ts
  src/pages/docs/DocsPage/ui/DocsPage.module.css
  src/pages/docs/DocsPage/ui/DocsPage.tsx
  src/shared/config/i18n/i18n.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
  src/widgets/Docs/DocsBlock/index.ts
  src/widgets/Docs/DocsBlock/model/types/types.ts
  src/widgets/Docs/DocsBlock/ui/DocItem/DocItem.module.css
  src/widgets/Docs/DocsBlock/ui/DocItem/DocItem.tsx
  src/widgets/Docs/DocsBlock/ui/Docs/Docs.module.css
  src/widgets/Docs/DocsBlock/ui/Docs/Docs.tsx
  src/widgets/Landing/Footer/ui/Footer.module.css
  src/widgets/Landing/Footer/ui/Footer.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-474: refactoring
  src/shared/ui/Dropdown/model/DropdownTypes.ts
  src/shared/ui/Dropdown/ui/Dropdown/Dropdown.tsx
  src/shared/ui/Dropdown/ui/DropdownMenu/DropdownMenu.module.css
  src/shared/ui/Dropdown/ui/DropdownMenu/DropdownMenu.tsx
  src/shared/ui/Dropdown/ui/DropdownOption/DropdownOption.module.css
  src/shared/ui/Dropdown/ui/DropdownOption/DropdownOption.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-602: fix design
  public/locales/ru/docs.json
  src/app/styles/variables/button-colors.css
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Button/model/helpers.ts
  src/shared/ui/Button/model/types.ts
  src/shared/ui/Button/ui/Button.module.css
  src/widgets/Docs/DocsBlock/model/constants.ts
  src/widgets/Docs/DocsBlock/ui/DocItem/DocItem.module.css
  src/widgets/Docs/DocsBlock/ui/DocItem/DocItem.tsx
  src/widgets/Docs/DocsBlock/ui/Docs/Docs.module.css
  src/widgets/Docs/DocsBlock/ui/Docs/Docs.tsx
  src/widgets/Landing/Footer/ui/Footer.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-598: add responsive layout to interviewStatPage
  public/locales/en/interviewStatistics.json
  public/locales/ru/interviewStatistics.json
  src/pages/interview/InterviewPage/ui/InterviewPage.tsx
  src/pages/interview/InterviewStatisticsPage/ui/InterviewStatisticsPage.module.css
  src/pages/interview/InterviewStatisticsPage/ui/InterviewStatisticsPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/AttemptInfoItem/ui/AttemptInfoItem.module.css
  src/shared/ui/PassedQuestionStatInfo/ui/PassedQuestionStatInfo.module.css
  src/shared/ui/PassedQuestionStatInfo/ui/PassedQuestionStatInfo.tsx
  src/shared/ui/StatInfoItem/ui/StatInfoItem.module.css
  src/shared/ui/StatInfoItem/ui/StatInfoItem.tsx
  src/widgets/Charts/ui/PassedInterviewStat/PassedInterviewStat.module.css
  src/widgets/Charts/ui/PassedInterviewStat/PassedInterviewStat.tsx
  src/widgets/Charts/ui/PassedQuestionChart/PassedQuestionChart.tsx
  src/widgets/Charts/ui/ProgressByCategoriesList/ProgressByCategoriesList.module.css
  src/widgets/InterviewHistory/ui/InterviewHistoryItem/InterviewHistoryItem.module.css
  src/widgets/InterviewHistory/ui/InterviewHistoryList/InterviewHistoryList.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-602: fix ui
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/Landing/Footer/ui/Footer.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-542: fixed sidebar items active routes and refactored
  src/shared/utils/isPathMatch.ts
  src/widgets/Sidebar/ui/SidebarMenuItem/SidebarCategoryMenuItem.tsx
  src/widgets/Sidebar/ui/SidebarMenuItem/SidebarSingleMenuItem.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-598: fix statistics layout
  src/pages/interview/InterviewPage/ui/InterviewPage.module.css
  src/pages/interview/InterviewPage/ui/InterviewPage.tsx
  src/pages/interview/InterviewStatisticsPage/ui/InterviewStatisticsPage.module.css
  src/pages/interview/InterviewStatisticsPage/ui/InterviewStatisticsPage.tsx
  src/shared/ui/PassedQuestionStatInfo/ui/PassedQuestionStatInfo.module.css
  src/shared/ui/PassedQuestionStatInfo/ui/PassedQuestionStatInfo.tsx
  src/shared/ui/StatInfoItem/ui/StatInfoItem.module.css
  src/shared/ui/StatInfoItem/ui/StatInfoItem.tsx
  src/widgets/Charts/ui/PassedQuestionChart/PassedQuestionChart.tsx
  src/widgets/InterviewHistory/ui/InterviewHistoryList/InterviewHistoryList.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-542: fixed sidebar items active routes and refactored (#330)
  src/shared/utils/isPathMatch.ts
  src/widgets/Sidebar/ui/SidebarMenuItem/SidebarCategoryMenuItem.tsx
  src/widgets/Sidebar/ui/SidebarMenuItem/SidebarSingleMenuItem.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-588: fixed AuthAside and logo
  public/locales/en/auth.json
  public/locales/ru/auth.json
  src/app/layouts/AuthLayout/ui/AuthAside/AuthAside.module.css
  src/app/layouts/AuthLayout/ui/AuthAside/AuthAside.tsx
  src/app/layouts/AuthLayout/ui/BenefitItem/BenefitItem.module.css
  src/app/layouts/AuthLayout/ui/BenefitItem/BenefitItem.tsx
  src/app/layouts/AuthLayout/ui/BenefitsList/BenefitsList.module.css
  src/app/layouts/AuthLayout/ui/BenefitsList/BenefitsList.tsx
  src/features/authentication/registration/ui/LoginLabel/LoginLabel.module.css
  src/features/authentication/registration/ui/RegisterForm/RegisterForm.module.css
  src/features/authentication/registration/ui/RegisterForm/RegisterForm.tsx
  src/pages/auth/RegistrationPage/ui/RegistrationPage.module.css
  src/shared/assets/icons/checkCircle.svg
  src/shared/assets/icons/logoDark.png
  src/shared/assets/icons/logoLight.png
  src/shared/constants/consentAndTermsLinks.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-219: fix: text and useEffect
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/features/profile/editProfileForm/ui/EditProfileForm/EditProfileForm.tsx
  src/features/question/createQuestion/ui/QuestionCreateForm/QuestionCreateForm.tsx
  src/features/question/editQuestion/ui/QuestionEditForm/QuestionEditForm.tsx
  src/features/skill/createSkill/ui/SkillCreateForm/SkillCreateForm.tsx
  src/features/skill/editSkill/ui/SkillEditForm/SkillEditForm.tsx
  src/features/specialization/createSpecialization/ui/SpecializationCreateForm/SpecializationCreateForm.tsx
  src/features/specialization/editSpecialization/ui/SpecializationEditForm/SpecializationEditForm.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-588: fixed documents links
  src/features/authentication/registration/ui/RegisterForm/RegisterForm.tsx
  src/shared/constants/documents.ts
Due: npm run prettier, npm run lint:ts:fix

YH-588: fixed registration page and logo (#324)
  public/locales/en/auth.json
  public/locales/ru/auth.json
  src/app/layouts/AuthLayout/ui/AuthAside/AuthAside.module.css
  src/app/layouts/AuthLayout/ui/AuthAside/AuthAside.tsx
  src/app/layouts/AuthLayout/ui/BenefitItem/BenefitItem.module.css
  src/app/layouts/AuthLayout/ui/BenefitItem/BenefitItem.tsx
  src/app/layouts/AuthLayout/ui/BenefitsList/BenefitsList.module.css
  src/app/layouts/AuthLayout/ui/BenefitsList/BenefitsList.tsx
  src/entities/auth/model/types/auth.ts
  src/features/authentication/registration/ui/LoginLabel/LoginLabel.module.css
  src/features/authentication/registration/ui/RegisterForm/RegisterForm.module.css
  src/features/authentication/registration/ui/RegisterForm/RegisterForm.tsx
  src/pages/auth/RegistrationPage/ui/RegistrationPage.module.css
  src/pages/auth/RegistrationPage/ui/RegistrationPage.tsx
  src/shared/assets/icons/checkCircle.svg
  src/shared/assets/icons/logo.png
  src/shared/assets/icons/logoDark.png
  src/shared/assets/icons/logoLight.png
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/constants/documents.ts
  src/shared/ui/AppLogo/AppLogo.module.css
  src/shared/ui/AppLogo/AppLogo.tsx
  src/shared/ui/Checkbox/index.ts
  src/shared/ui/Checkbox/model/Checkbox.d.ts
  src/shared/ui/Checkbox/model/types.ts
  src/shared/ui/Checkbox/ui/Checkbox.module.css
  src/shared/ui/Checkbox/ui/Checkbox.tsx
  src/widgets/registration/model/lib/validation/registerSchema.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-602: fix footer
  public/locales/en/landing.json
  public/locales/ru/docs.json
  public/locales/ru/landing.json
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/Landing/Footer/ui/Footer.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-598: add responsive layout to interviewStatPage (#329)
  public/locales/en/interviewStatistics.json
  public/locales/ru/interviewStatistics.json
  src/pages/interview/InterviewPage/ui/InterviewPage.module.css
  src/pages/interview/InterviewPage/ui/InterviewPage.tsx
  src/pages/interview/InterviewStatisticsPage/ui/InterviewStatisticsPage.module.css
  src/pages/interview/InterviewStatisticsPage/ui/InterviewStatisticsPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/AttemptInfoItem/ui/AttemptInfoItem.module.css
  src/shared/ui/PassedQuestionStatInfo/ui/PassedQuestionStatInfo.module.css
  src/shared/ui/StatInfoItem/ui/StatInfoItem.module.css
  src/shared/ui/StatInfoItem/ui/StatInfoItem.tsx
  src/widgets/Charts/ui/PassedInterviewStat/PassedInterviewStat.module.css
  src/widgets/Charts/ui/PassedInterviewStat/PassedInterviewStat.tsx
  src/widgets/Charts/ui/PassedQuestionChart/PassedQuestionChart.tsx
  src/widgets/Charts/ui/ProgressByCategoriesList/ProgressByCategoriesList.module.css
  src/widgets/InterviewHistory/ui/InterviewHistoryItem/InterviewHistoryItem.module.css
  src/widgets/InterviewHistory/ui/InterviewHistoryList/InterviewHistoryList.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-591:fix InterviewPage styles
  src/entities/quiz/ui/InterviewResults/InterviewResults.module.css
  src/pages/interview/InterviewPage/ui/InterviewPage.module.css
  src/shared/ui/Card/ui/Card.module.css
  src/widgets/InterviewHistory/ui/InterviewHistoryList/InterviewHistoryList.module.css
  src/widgets/InterviewQuestions/ui/InterviewQuestionsItem/InterviewQuestionsItem.module.css
  src/widgets/InterviewQuestions/ui/InterviewQuestionsList/InterviewQuestionsList.module.css
Due: npm run lint:css:fix

YH-602: fix DocsPage
  src/app/layouts/LandingLayout/ui/LandingLayout.module.css
  src/app/layouts/LandingLayout/ui/LandingLayout.tsx
  src/app/providers/router/config/routeConfig.tsx
  src/pages/docs/DocsPage/ui/DocsPage.tsx
  src/pages/landing/DocsPage/index.ts
  src/pages/landing/DocsPage/ui/DocsPage.module.css
  src/pages/landing/DocsPage/ui/DocsPage.tsx
  src/pages/landing/MainPage/ui/MainPage.tsx
  src/widgets/Docs/DocsBlock/index.ts
  src/widgets/Docs/DocsBlock/model/constants.ts
  src/widgets/Docs/DocsBlock/model/types/types.ts
  src/widgets/Docs/DocsBlock/ui/DocItem/DocItem.tsx
  src/widgets/Docs/DocsBlock/ui/Docs/Docs.tsx
  src/widgets/Docs/DocsBlock/ui/Docs/DocsList.module.css
  src/widgets/Docs/DocsBlock/ui/Docs/DocsList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-532: review 2
  src/features/subscription/subscribe/ui/Subcribe.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-532: fix config
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/KeywordInput/KeywordInput.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-593: update adaptive for a detailed question
  src/pages/interview/QuestionPage/ui/QuestionPage.module.css
  src/pages/interview/QuestionPage/ui/QuestionPage.skeleton.tsx
  src/pages/interview/QuestionPage/ui/QuestionPage.tsx
  src/widgets/Question/ui/QuestionActions/QuestionActions.tsx
  src/widgets/Question/ui/QuestionHeader/QuestionHeader.module.css
  src/widgets/Sidebar/ui/Sidebar/Sidebar.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-593: add popover menu
  src/pages/interview/QuestionPage/ui/QuestionPage.module.css
  src/pages/interview/QuestionPage/ui/QuestionPage.tsx
  src/shared/ui/Breadcrumbs/ui/Breadcrumbs.module.css
  src/widgets/Question/ui/QuestionActions/QuestionActions.tsx
  src/widgets/Question/ui/QuestionHeader/QuestionHeader.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-533: add: Subscription and payment component
  src/app/styles/variables/pallete.css
  src/features/subscription/TariffSelection/index.ts
  src/features/subscription/TariffSelection/ui/TariffSelection.tsx
  src/pages/profile/SettingsProfilePage/ui/SettingsProfilePage.tsx
  src/shared/assets/icons/ArrowDownIcon.svg
  src/shared/assets/icons/SealCheck.svg
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/KeywordInput/KeywordInput.tsx
  src/shared/ui/ProgressBar/index.ts
  src/shared/ui/ProgressBar/ui/ProgressBar.module.css
  src/shared/ui/ProgressBar/ui/ProgressBar.tsx
  src/widgets/Profile/index.ts
  src/widgets/Profile/ui/Subscription/SubscribePagination/SubscribePagination.module.css
  src/widgets/Profile/ui/Subscription/SubscribePagination/SubscribePagination.tsx
  src/widgets/Profile/ui/Subscription/SubscribePagination/index.ts
  src/widgets/Profile/ui/Subscription/index.ts
  src/widgets/Profile/ui/Subscription/ui/Subscribe.module.css
  src/widgets/Profile/ui/Subscription/ui/Subscribe.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-593: rerurn sidebar height
  src/widgets/Sidebar/ui/Sidebar/Sidebar.module.css
Due: npm run lint:css:fix

YH-594: update adaptive for a createQuizPage
  src/entities/question/ui/ChooseQuestionCount/ChooseQuestionCount.module.css
  src/entities/question/ui/ChooseQuestionsCategories/ChooseQuestionsCategories.tsx
  src/pages/interview/CreateQuizPage/ui/CreateQuizPage.module.css
  src/pages/interview/CreateQuizPage/ui/CreateQuizPage.tsx
  src/shared/ui/BaseFilterSection/BaseFilterSection.module.css
  src/shared/ui/Counter/Counter.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

Path conditions:
  npm run prettier: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:ts:fix: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:css:fix: any of: *.css
