Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

Fix/yh 1480 (#965)
  public/locales/en/analytics.json
  public/locales/ru/analytics.json
  src/features/subscriptions/subscribe/api/getPaymentUrl.ts
  src/features/subscriptions/subscribe/model/constants/subscribeButtonConstants.ts
  src/features/subscriptions/subscribe/model/types/subscriptionAgreeTypes.ts
  src/features/subscriptions/subscribe/ui/AgreementForm/AgreementForm.tsx
  src/features/subscriptions/subscribe/ui/SubscribeButton/SubscribeButton.module.css
  src/features/subscriptions/subscribe/ui/SubscribeButton/SubscribeButton.tsx
  src/features/subscriptions/subscribe/ui/SubscribeButton/index.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1397: corrections
  public/locales/en/resources.json
  public/locales/ru/resources.json
  src/features/resources/editResourceRequest/index.ts
  src/features/resources/editResourceRequest/ui/ResourceEditFormAll/ResourceRequestEditForm.tsx
  src/features/resources/editResourceRequest/ui/ResourceEditFormRequest/ResourceEditFormRequest.module.css
  src/features/resources/editResourceRequest/ui/ResourceEditFormRequest/ResourceEditFormRequest.tsx
  src/features/resources/editResourceRequest/ui/ResourceRequestEditFormWithHeader/ResourceRequestFormWithHeader.tsx
  src/pages/admin/ResourceRequestEditPage/ui/ResourceRequestEditPage.tsx.tsx
  src/pages/wiki/RequestResourceEditPage/ui/RequestResourceEditPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/resources/ResourceRequestView/ui/ResourceRequestViewFormWithHeader/ResourceRequestViewFormWithHeader.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

Release 1.1.17
  RELEASE_NOTES.md
  package-lock.json
  package.json
Due: none

YH-1481: update create quiz filters
  src/app/providers/store/config/config.ts
  src/entities/question/ui/ChooseQuestionCount/ChooseQuestionCount.tsx
  src/entities/quiz/index.ts
  src/entities/quiz/model/hooks/useCreateQuizFilters.ts
  src/entities/quiz/model/hooks/useGetCreateQuizFilterParams.ts
  src/entities/quiz/model/hooks/useSlideSwitcher.ts
  src/entities/quiz/model/types/filters.ts
  src/pages/interview/CreateQuizPage/index.ts
  src/pages/interview/CreateQuizPage/model/hooks/useQueryFilter.ts
  src/pages/interview/CreateQuizPage/model/selectors/createQuizPageSelectors.ts
  src/pages/interview/CreateQuizPage/model/slices/CreateQuizPageSlice.ts
  src/pages/interview/CreateQuizPage/model/types/CreateQuizPageTypes.ts
  src/pages/interview/CreateQuizPage/ui/CreateQuizPage.tsx
  src/pages/landing/CreatePublicQuizPage/index.ts
  src/pages/landing/CreatePublicQuizPage/model/hooks/useQueryFilter.ts
  src/pages/landing/CreatePublicQuizPage/model/selectors/createPublicQuizPageSelectors.ts
  src/pages/landing/CreatePublicQuizPage/model/slices/CreatePublicQuizPageSlice.ts
  src/pages/landing/CreatePublicQuizPage/ui/CreatePublicQuizPage.tsx
  src/shared/config/store/State.ts
  src/widgets/interview/CreateQuizFilters/index.ts
  src/widgets/interview/CreateQuizFilters/ui/CreateQuizFilters.module.css
  src/widgets/interview/CreateQuizFilters/ui/CreateQuizFilters.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1451: added page for most difficult questions
  public/locales/en/analytics.json
  public/locales/en/translation.json
  public/locales/ru/analytics.json
  public/locales/ru/translation.json
  src/app/providers/router/config/routeConfig.tsx
  src/app/providers/store/config/config.ts
  src/entities/question/index.ts
  src/entities/question/model/types/difficultQuestion.ts
  src/entities/question/ui/MostDifficultQuestionMobile/MostDifficultQuestionMobile.tsx
  src/entities/question/ui/MostDifficultQuestionMobile/MostDifficultQuestionsMobile.module.css
  src/entities/question/ui/MostDifficultQuestionsMobile/MostDifficultQuestionsMobile.tsx
  src/pages/analytics/DifficultQuestionsPage/index.ts
  src/pages/analytics/DifficultQuestionsPage/model/selectors/difficultQuestionsPageSelectors.ts
  src/pages/analytics/DifficultQuestionsPage/model/slices/difficultQuestionsPageSlice.ts
  src/pages/analytics/DifficultQuestionsPage/model/types/difficultQuestionsPageTypes.ts
  src/pages/analytics/DifficultQuestionsPage/ui/DifficultQuestionsList/DifficultQuestionsList.tsx
  src/pages/analytics/DifficultQuestionsPage/ui/DifficultQuestionsPage/DifficultQuestionsPage.module.css
  src/pages/analytics/DifficultQuestionsPage/ui/DifficultQuestionsPage/DifficultQuestionsPage.tsx
  src/pages/analytics/DifficultQuestionsPage/ui/DifficultQuestionsTable/DifficultQuestionsTable.module.css
  src/pages/analytics/DifficultQuestionsPage/ui/DifficultQuestionsTable/DifficultQuestionsTable.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
  src/shared/config/store/State.ts
  src/shared/ui/Tooltip/Tooltip.tsx
  src/shared/ui/Tooltip/types.ts
  src/widgets/analytics/DifficultQuestionsList/ui/DifficultQuestionsList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1481: update create quiz filters (#967)
  src/app/providers/store/config/config.ts
  src/entities/question/ui/ChooseQuestionCount/ChooseQuestionCount.tsx
  src/entities/quiz/index.ts
  src/entities/quiz/model/hooks/useCreateQuizFilters.ts
  src/entities/quiz/model/hooks/useGetCreateQuizFilterParams.ts
  src/entities/quiz/model/hooks/useSlideSwitcher.ts
  src/entities/quiz/model/types/filters.ts
  src/pages/interview/CreateQuizPage/index.ts
  src/pages/interview/CreateQuizPage/model/hooks/useQueryFilter.ts
  src/pages/interview/CreateQuizPage/model/selectors/createQuizPageSelectors.ts
  src/pages/interview/CreateQuizPage/model/slices/CreateQuizPageSlice.ts
  src/pages/interview/CreateQuizPage/model/types/CreateQuizPageTypes.ts
  src/pages/interview/CreateQuizPage/ui/CreateQuizPage.tsx
  src/pages/landing/CreatePublicQuizPage/index.ts
  src/pages/landing/CreatePublicQuizPage/model/hooks/useQueryFilter.ts
  src/pages/landing/CreatePublicQuizPage/model/selectors/createPublicQuizPageSelectors.ts
  src/pages/landing/CreatePublicQuizPage/model/slices/CreatePublicQuizPageSlice.ts
  src/pages/landing/CreatePublicQuizPage/ui/CreatePublicQuizPage.tsx
  src/shared/config/store/State.ts
  src/widgets/interview/CreateQuizFilters/index.ts
  src/widgets/interview/CreateQuizFilters/ui/CreateQuizFilters.module.css
  src/widgets/interview/CreateQuizFilters/ui/CreateQuizFilters.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1452: add page Progress Specializations
  public/locales/en/analytics.json
  public/locales/en/specialization.json
  public/locales/en/translation.json
  public/locales/ru/analytics.json
  public/locales/ru/specialization.json
  public/locales/ru/translation.json
  src/app/providers/router/config/routeConfig.tsx
  src/entities/specialization/ui/SpecializationSelect/SpecializationSelect.tsx
  src/pages/analytics/ProgressSpecializationsPage/index.ts
  src/pages/analytics/ProgressSpecializationsPage/ui/ProgressSpecializationsPage.module.css
  src/pages/analytics/ProgressSpecializationsPage/ui/ProgressSpecializationsPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
  src/shared/ui/Dropdown/Dropdown/Dropdown.module.css
  src/shared/ui/Dropdown/Dropdown/Dropdown.tsx
  src/shared/ui/Table/Table.tsx
  src/shared/ui/TableMobile/TableMobile.module.css
  src/shared/ui/TableMobile/TableMobile.tsx
  src/shared/ui/TableMobile/index.ts
  src/widgets/analytics/SpecializationsProgress/ui/SpecializationsProgressPanel/SpecializationsProgressPanel.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1461: extend Guru types and seed constants with hasPractice and socials.landing
  src/entities/guru/model/constants/gurus.ts
  src/entities/guru/model/types/guru.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1461: GurusItem 'More' link with i18n label and styles
  public/locales/en/guru.json
  public/locales/ru/guru.json
  src/entities/guru/ui/GurusItem/GurusItem.module.css
  src/entities/guru/ui/GurusItem/GurusItem.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1482: update questions filters in admin
  public/locales/en/questions.json
  public/locales/en/translation.json
  public/locales/ru/questions.json
  public/locales/ru/translation.json
  src/entities/question/index.ts
  src/entities/question/model/types/question.ts
  src/entities/question/ui/QuestionAuthorFilter/QuestionAuthorFilter.module.css
  src/entities/question/ui/QuestionAuthorFilter/QuestionAuthorFilter.tsx
  src/entities/question/ui/SortQuestions/QuestionsSorter/QuestionsSorter.tsx
  src/entities/question/ui/SortQuestions/SortQuestionsByField/SortQuestionsByField.tsx
  src/features/question/filterQuestions/index.ts
  src/features/question/filterQuestions/model/hooks/useGetQuestionsFilterParams.ts
  src/features/question/filterQuestions/model/hooks/useQuestionsFilters.ts
  src/features/question/filterQuestions/model/types/filters.ts
  src/features/question/filterQuestions/ui/QuestionRateFilter/QuestionRateFilter.skeleton.tsx
  src/features/question/filterQuestions/ui/QuestionRateFilter/QuestionRateFilter.tsx
  src/features/question/filterQuestions/ui/QuestionSortByFieldFilter/QuestionSortByFieldFilter.tsx
  src/features/question/filterQuestions/ui/QuestionStatusFilter/QuestionStatusFilter.skeleton.tsx
  src/features/question/filterQuestions/ui/QuestionStatusFilter/QuestionStatusFilter.tsx
  src/features/question/filterQuestions/ui/QuestionsFilters/QuestionsFilters.skeleton.tsx
  src/features/question/filterQuestions/ui/QuestionsFilters/QuestionsFilters.tsx
  src/features/question/questionsFilterSet/index.ts
  src/features/question/questionsFilterSet/ui/QuestionsFilterSet.tsx
  src/pages/admin/QuestionsTablePage/model/selectors/questionsTablePageSelectors.test.ts
  src/pages/admin/QuestionsTablePage/model/selectors/questionsTablePageSelectors.ts
  src/pages/admin/QuestionsTablePage/model/slices/questionsTablePageSlice.test.ts
  src/pages/admin/QuestionsTablePage/model/slices/questionsTablePageSlice.ts
  src/pages/admin/QuestionsTablePage/ui/QuestionsTablePage/QuestionsTablePage.tsx
  src/pages/interview/QuestionsPage/ui/QuestionsPage/QuestionsPage.skeleton.tsx
  src/pages/interview/QuestionsPage/ui/QuestionsPage/QuestionsPage.tsx
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsPage/PublicQuestionsPage.skeleton.tsx
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsPage/PublicQuestionsPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/OrderFilter/OrderFilter.tsx
  src/shared/ui/OrderFilter/index.ts
  src/shared/ui/Switch/model/types.ts
  src/shared/ui/Switch/ui/Switch.tsx
  src/widgets/SearchSection/ui/SearchSection.module.css
  src/widgets/question/QuestionsFilters/index.ts
  src/widgets/question/QuestionsFilters/ui/QuestionsFilters.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1403: webpack bundle optimization (#960)
  config/webpack/webpackConfig.ts
  config/webpack/webpackPlugins.ts
  package-lock.json
  package.json
  public/index.html
Due: npm run prettier, npm run lint:ts:fix

YH-1455: restrict resources viewing access for unverified users
  src/pages/wiki/MyResourcesPage/ui/MyResourcesPage.tsx
  src/pages/wiki/RequestInfoPage/ui/RequestInfoPage.tsx
  src/pages/wiki/RequestResourceCreatePage/ui/RequestResourceCreatePage.tsx
  src/pages/wiki/RequestResourceEditPage/ui/RequestResourceEditPage.tsx
  src/pages/wiki/ResourcesPage/ui/ResourcesPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1397: corrections
  src/features/resources/editResourceRequest/ui/ResourceEditFormAll/ResourceRequestEditForm.tsx
  src/pages/admin/ResourceViewPage/ui/ResourceRequestViewPage.tsx
  src/widgets/resources/ResourceRequestView/ui/ResourceRequestViewForm/ResourceRequestViewForm.tsx
Due: npm run prettier, npm run lint:ts:fix

Feature/YH-1450 (#961)
  public/locales/en/analytics.json
  public/locales/en/translation.json
  public/locales/ru/analytics.json
  public/locales/ru/translation.json
  src/app/providers/router/config/routeConfig.tsx
  src/entities/skill/api/__mocks__/data/skillsMock.ts
  src/entities/skill/index.ts
  src/entities/skill/model/types/skill.ts
  src/entities/specialization/ui/SpecializationSelect/SpecializationSelect.tsx
  src/pages/analytics/PopularSkillsPage/index.ts
  src/pages/analytics/PopularSkillsPage/ui/PopularSkillsMobileCard/PopularSkillsMobileCard.module.css
  src/pages/analytics/PopularSkillsPage/ui/PopularSkillsMobileCard/PopularSkillsMobileCard.tsx
  src/pages/analytics/PopularSkillsPage/ui/PopularSkillsPage/PopularSkillsPage.module.css
  src/pages/analytics/PopularSkillsPage/ui/PopularSkillsPage/PopularSkillsPage.tsx
  src/pages/analytics/PopularSkillsPage/ui/PopularSkillsPageTable/PopularSkillsPageTable.module.css
  src/pages/analytics/PopularSkillsPage/ui/PopularSkillsPageTable/PopularSkillsPageTable.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
  src/shared/ui/Table/Table.tsx
  src/widgets/analytics/PopularSkills/ui/PopularSkills/PopularSkills.tsx
  src/widgets/analytics/SkillsProficiency/ui/SkillsProficiency/SkillsProficiency.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1482: fix reset search value
  src/pages/admin/QuestionsTablePage/ui/QuestionsTablePage/QuestionsTablePage.tsx
  src/widgets/SearchSection/ui/SearchSection.module.css
  src/widgets/SearchSection/ui/SearchSection.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1397: fix error
  src/features/resources/editResourceRequest/ui/ResourceEditFormAll/ResourceRequestEditForm.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1397: fix error
  package.json
  src/app/providers/router/config/routeConfig.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

feature YH-1459 добавлены картинки лучшего качества, исправлен баг с плавающей картинкой
  src/widgets/Landing/AdvantagesBlock/ui/AdvantagesBlock.tsx
  src/widgets/Landing/AdvantagesBlock/ui/AdvantagesList/AdvantagesList.module.css
  src/widgets/Landing/AdvantagesBlock/ui/AdvantagesList/AdvantagesList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

feature YH-1459 добавлены картинки лучшего качества,
  src/shared/assets/images/landing/learning/banner/experienceBanner.png
  src/shared/assets/images/landing/learning/banner/processBanner.png
  src/shared/assets/images/landing/learning/banner/projectBanner.png
  src/shared/assets/images/landing/learning/banner/supportBanner.png
  src/shared/assets/images/landing/learning/banner/teamBanner.png
  src/shared/assets/images/landing/learning/banner/technoBanner.png
  src/shared/assets/images/landing/learning/icons/experienceIcon.png
  src/shared/assets/images/landing/learning/icons/processIcon.png
  src/shared/assets/images/landing/learning/icons/projectIcon.png
  src/shared/assets/images/landing/learning/icons/supportIcon.png
  src/shared/assets/images/landing/learning/icons/teamIcon.png
  src/shared/assets/images/landing/learning/icons/technoIcon.png
Due: none

YH-1455: restrict resources viewing access for unverified users (#972)
  src/pages/wiki/MyResourcesPage/ui/MyResourcesPage.tsx
  src/pages/wiki/RequestInfoPage/ui/RequestInfoPage.tsx
  src/pages/wiki/RequestResourceCreatePage/ui/RequestResourceCreatePage.tsx
  src/pages/wiki/RequestResourceEditPage/ui/RequestResourceEditPage.tsx
  src/pages/wiki/ResourcesPage/ui/ResourcesPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1452: fix remarks
  public/locales/en/specialization.json
  public/locales/ru/specialization.json
  src/entities/specialization/ui/SpecializationSelect/SpecializationSelect.tsx
  src/pages/analytics/ProgressSpecializationsPage/ui/ProgressSpecializationsPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Dropdown/Dropdown/Dropdown.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1460: added mentors block
  public/locales/en/landing.json
  public/locales/ru/landing.json
  src/entities/guru/index.ts
  src/entities/guru/model/constants/gurus.ts
  src/entities/guru/model/types/guru.ts
  src/shared/assets/icons/tickWithBackground.svg
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Icon/icons.ts
  src/shared/ui/Icon/types.ts
  src/widgets/Landing/CollectionBlock/ui/CollectionBlock/CollectionBlock.tsx
  src/widgets/Landing/MentorsBlock/index.ts
  src/widgets/Landing/MentorsBlock/ui/MentorCard/MentorCard.module.css
  src/widgets/Landing/MentorsBlock/ui/MentorCard/MentorCard.tsx
  src/widgets/Landing/MentorsBlock/ui/MentorsBlock/MentorsBlock.module.css
  src/widgets/Landing/MentorsBlock/ui/MentorsBlock/MentorsBlock.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

feauture/YH-1459 (#956)
  public/locales/en/learning.json
  public/locales/ru/learning.json
  src/app/providers/router/config/routeConfig.tsx
  src/pages/landing/LearningPage/index.ts
  src/pages/landing/LearningPage/ui/LearningPage.tsx
  src/shared/assets/icons/Container.png
  src/shared/assets/images/landing/learning/banner/experienceBanner.png
  src/shared/assets/images/landing/learning/banner/processBanner.png
  src/shared/assets/images/landing/learning/banner/projectBanner.png
  src/shared/assets/images/landing/learning/banner/prokectBanner.png
  src/shared/assets/images/landing/learning/banner/supportBanner.png
  src/shared/assets/images/landing/learning/banner/teamBanner.png
  src/shared/assets/images/landing/learning/banner/technoBanner.png
  src/shared/assets/images/landing/learning/icons/experienceIcon.png
  src/shared/assets/images/landing/learning/icons/experinceIcon.png
  src/shared/assets/images/landing/learning/icons/processIcon.png
  src/shared/assets/images/landing/learning/icons/projectIcon.png
  src/shared/assets/images/landing/learning/icons/supportIcon.png
  src/shared/assets/images/landing/learning/icons/teamIcon.png
  src/shared/assets/images/landing/learning/icons/technoIcon.png
  src/shared/config/i18n/i18n.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
  src/shared/ui/AdvantagesList/AdvantagesList.module.css
  src/shared/ui/AdvantagesList/AdvantagesList.tsx
  src/widgets/Landing/AdvantagesBlock/index.ts
  src/widgets/Landing/AdvantagesBlock/ui/AdvantagesBlock.module.css
  src/widgets/Landing/AdvantagesBlock/ui/AdvantagesBlock.tsx
  src/widgets/Landing/AdvantagesBlock/ui/AdvantagesList/AdvantagesList.module.css
  src/widgets/Landing/AdvantagesBlock/ui/AdvantagesList/AdvantagesList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1097: fix errors
  src/features/question/filterQuestions/index.ts
  src/features/question/navigateQuestion/model/hooks/usePublicQuestionNavigation.ts
  src/pages/interview/QuestionPage/ui/QuestionPage.tsx
  src/pages/interview/QuestionsPage/ui/QuestionsPage/QuestionsPage.tsx
  src/pages/landing/PublicQuestionPage/ui/PublicQuestionPage.tsx
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsPage/PublicQuestionsPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1097: fix imports
  src/features/question/navigateQuestion/model/hooks/useQuestionNavigation.ts
  src/pages/interview/QuestionPage/ui/QuestionPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1107: add navigation buttons on collection detail page
  public/locales/en/collection.json
  public/locales/ru/collection.json
  src/entities/collection/index.ts
  src/entities/collection/model/constants/collection.ts
  src/entities/collection/model/lib/getCollectionRoute.ts
  src/entities/collection/ui/CollectionPreview/CollectionPreview.tsx
  src/features/collections/navigateCollection/index.ts
  src/features/collections/navigateCollection/model/hooks/useCollectionNavigation.ts
  src/features/collections/navigateCollection/model/hooks/useCollectionQueryNavigate.ts
  src/features/collections/navigateCollection/model/hooks/useInitCollectionId.ts
  src/features/collections/navigateCollection/model/hooks/usePublicCollectionNavigation.ts
  src/features/collections/navigateCollection/model/types/collectionNavigationTypes.ts
  src/features/collections/navigateCollection/ui/CollectionNavigationButtons.skeleton.tsx
  src/features/collections/navigateCollection/ui/CollectionNavigationButtons.tsx
  src/features/question/favoriteQuestion/ui/FavoriteQuestionButton.tsx
  src/features/question/navigateQuestion/model/hooks/usePublicQuestionNavigation.ts
  src/features/question/navigateQuestion/model/hooks/useQuestionNavigation.ts
  src/pages/interview/CollectionPage/ui/CollectionPage.skeleton.tsx
  src/pages/interview/CollectionPage/ui/CollectionPage.tsx
  src/pages/landing/PublicCollectionPage/ui/PublicCollectionPage.skeleton.tsx
  src/pages/landing/PublicCollectionPage/ui/PublicCollectionPage.tsx
  src/pages/landing/PublicCollectionsPage/ui/PublicCollectionsPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/helpers/calculatePageNavigation/calculatePageNavigation.ts
  src/shared/helpers/calculatePageNavigation/index.ts
  src/widgets/Collection/index.ts
  src/widgets/Collection/ui/CollectionNavigation/CollectionNavigation.skeleton.tsx
  src/widgets/Collection/ui/CollectionNavigation/CollectionNavigation.tsx
  src/widgets/Collection/ui/CollectionsList/CollectionsList.tsx
  src/widgets/question/QuestionActions/ui/QuestionActions.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1107: delete variant props
  src/entities/collection/ui/CollectionPreview/CollectionPreview.tsx
  src/features/collections/navigateCollection/ui/CollectionNavigationButtons.skeleton.tsx
  src/features/collections/navigateCollection/ui/CollectionNavigationButtons.tsx
  src/widgets/Collection/ui/CollectionsContent/CollectionsContent.tsx
  src/widgets/Collection/ui/CollectionsList/CollectionsList.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1397: added edit page for request resource (#950)
  package.json
  public/locales/en/resources.json
  public/locales/ru/resources.json
  src/app/providers/router/config/routeConfig.tsx
  src/app/styles/variables/pallete.css
  src/entities/resource/ui/ResourceForm/ResourceForm.module.css
  src/features/resources/editResource/ui/ResourceEditForm/ResourceEditForm.tsx
  src/features/resources/editResource/ui/ResourceEditFormHeader/ResourceEditFormHeader.module.css
  src/features/resources/editResource/ui/ResourceEditFormHeader/ResourceEditFormHeader.tsx
  src/features/resources/editResourceRequest/index.ts
  src/features/resources/editResourceRequest/ui/ResourceEditFormAll/ResourceRequestEditForm.tsx
  src/features/resources/editResourceRequest/ui/ResourceRequestEditFormWithHeader/ResourceRequestFormWithHeader.tsx
  src/pages/admin/ResourceRequestEditPage/index.ts
  src/pages/admin/ResourceRequestEditPage/ui/ResourceRequestEditPage.lazy.ts
  src/pages/admin/ResourceRequestEditPage/ui/ResourceRequestEditPage.tsx.tsx
  src/pages/admin/ResourceViewPage/ui/ResourceRequestViewPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
  src/shared/ui/BackHeader/BackHeader.module.css
  src/shared/ui/BackHeader/BackHeader.tsx
  src/shared/ui/TextArea/TextArea.module.css
  src/widgets/resources/ResourceRequestView/ui/ResourceRequestViewForm/ResourceRequestViewForm.tsx
  src/widgets/resources/ResourceRequestView/ui/ResourceRequestViewFormWithHeader/ResourceRequestViewFormWithHeader.module.css
  src/widgets/resources/ResourceRequestView/ui/ResourceRequestViewFormWithHeader/ResourceRequestViewFormWithHeader.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1460: fixed css styles and reused GurusItem component
  src/entities/guru/ui/GurusItem/GurusItem.module.css
  src/entities/guru/ui/GurusItem/GurusItem.tsx
  src/pages/landing/LearningPage/ui/LearningPage.tsx
  src/shared/ui/AdvantagesList/AdvantagesList.module.css
  src/widgets/Landing/AdvantagesBlock/ui/AdvantagesList/AdvantagesList.module.css
  src/widgets/Landing/AdvantagesBlock/ui/AdvantagesList/AdvantagesList.tsx
  src/widgets/Landing/CollectionBlock/ui/CollectionBlock/CollectionBlock.tsx
  src/widgets/Landing/MentorsBlock/ui/MentorCard/MentorCard.module.css
  src/widgets/Landing/MentorsBlock/ui/MentorCard/MentorCard.tsx
  src/widgets/Landing/MentorsBlock/ui/MentorsBlock/MentorsBlock.module.css
  src/widgets/Landing/MentorsBlock/ui/MentorsBlock/MentorsBlock.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1483: refactor specializations filters
  src/entities/specialization/ui/SpecializationsListField/SpecializationsListField.tsx
  src/entities/user/ui/UserSelect/UserSelect.tsx
  src/features/question/filterQuestions/model/hooks/useQuestionsFilters.ts
  src/features/specialization/filterSecializations/index.ts
  src/features/specialization/filterSecializations/model/hooks/useGetSpecializationsFilterParams.ts
  src/features/specialization/filterSecializations/model/hooks/useSpecializationsFilters.ts
  src/features/specialization/filterSecializations/model/types/filters.ts
  src/features/specialization/filterSecializations/ui/SpecializationsFilters/SpecializationsFilters.skeleton.tsx
  src/features/specialization/filterSecializations/ui/SpecializationsFilters/SpecializationsFilters.tsx
  src/pages/admin/QuestionsTablePage/ui/QuestionsTablePage/QuestionsTablePage.tsx
  src/pages/admin/SpecializationsPage/ui/SpecializationsPage/SpecializationsPage.tsx
  src/pages/admin/SpecializationsPage/ui/SpecializationsPagePagination/SpecializationsPagePagination.tsx
  src/widgets/SearchSection/ui/SearchSection.tsx
  src/widgets/specializationFilterSet/hooks/useSpecializationFilter.ts
  src/widgets/specializationFilterSet/index.ts
  src/widgets/specializationFilterSet/ui/SpecializationFilterSet.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1451: fixes after review
  src/entities/question/index.ts
  src/entities/question/model/types/difficultQuestion.ts
  src/entities/question/ui/MostDifficultQuestionsMobile/MostDifficultQuestionsMobile.tsx
  src/pages/analytics/DifficultQuestionsPage/model/slices/difficultQuestionsPageSlice.ts
  src/pages/analytics/DifficultQuestionsPage/model/types/difficultQuestionsPageTypes.ts
  src/pages/analytics/DifficultQuestionsPage/ui/DifficultQuestionMobile/DifficultQuestionMobile.module.css
  src/pages/analytics/DifficultQuestionsPage/ui/DifficultQuestionMobile/DifficultQuestionMobile.tsx
  src/pages/analytics/DifficultQuestionsPage/ui/DifficultQuestionsList/DifficultQuestionsList.tsx
  src/pages/analytics/DifficultQuestionsPage/ui/DifficultQuestionsPage/DifficultQuestionsPage.tsx
  src/pages/analytics/DifficultQuestionsPage/ui/DifficultQuestionsTable/DifficultQuestionsTable.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1451: fix route name case format
  src/app/providers/router/config/routeConfig.tsx
  src/entities/question/index.ts
  src/shared/config/router/routes.ts
  src/widgets/analytics/DifficultQuestionsList/ui/DifficultQuestionsList.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1375: Fixed comments
  public/locales/en/analytics.json
  public/locales/ru/analytics.json
  src/entities/question/index.ts
  src/entities/question/model/types/question.ts
  src/entities/question/ui/PopularQuestion/PopularQuestion.module.css
  src/entities/question/ui/PopularQuestion/PopularQuestion.tsx
  src/entities/question/ui/PreviewQuestionsItem/PreviewQuestionsItem.module.css
  src/entities/question/ui/PreviewQuestionsItem/PreviewQuestionsItem.skeleton.tsx
  src/entities/question/ui/PreviewQuestionsItem/PreviewQuestionsItem.tsx
  src/entities/question/ui/QuestionGradeList/QuestionGradeList.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/Collection/ui/CollectionBody/CollectionBody.tsx
  src/widgets/analytics/PopularQuestions/ui/PopularQuestions.tsx
  src/widgets/analytics/PopularQuestions/ui/PopularQuestions/PopularQuestions.module.css
  src/widgets/analytics/PopularQuestions/ui/PopularQuestions/PopularQuestions.tsx
  src/widgets/question/QuestionsList/index.ts
  src/widgets/question/QuestionsList/ui/PreviewQuestionsList/PreviewQuestionsList.skeleton.tsx
  src/widgets/question/QuestionsList/ui/PreviewQuestionsList/PreviewQuestionsList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1463: add route, add banner layout
  src/app/providers/router/config/routeConfig.tsx
  src/app/styles/variables/main-variables.css
  src/pages/landing/AvosPage/index.ts
  src/pages/landing/AvosPage/ui/AvosPage.tsx
  src/shared/config/router/routes.ts
  src/shared/ui/AdvantagesList/AdvantagesList.module.css
  src/shared/ui/Text/Text.module.css
  src/widgets/Landing/AdvantagesBlock/ui/AdvantagesList/AdvantagesList.module.css
  src/widgets/Landing/AdvantagesBlock/ui/AdvantagesList/AdvantagesList.tsx
  src/widgets/Landing/AvosBanner/index.ts
  src/widgets/Landing/AvosBanner/model/avosBannerLogo.png
  src/widgets/Landing/AvosBanner/ui/AvosBanner.module.css
  src/widgets/Landing/AvosBanner/ui/AvosBanner.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1483: refactor specializations filters
  package.json
  src/pages/admin/SpecializationsPage/model/selectors/specializationsPageSelectors.test.ts
  src/pages/admin/SpecializationsPage/model/selectors/specializationsPageSelectors.ts
  src/pages/admin/SpecializationsPage/model/slices/specializationsPageSlice.test.ts
  src/pages/admin/SpecializationsPage/model/slices/specializationsPageSlice.ts
  src/pages/admin/SpecializationsPage/model/types/specializationsPageTypes.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1483: rename folder
  src/features/specialization/filterSpecializations/index.ts
  src/features/specialization/filterSpecializations/model/hooks/useGetSpecializationsFilterParams.ts
  src/features/specialization/filterSpecializations/model/hooks/useSpecializationsFilters.ts
  src/features/specialization/filterSpecializations/model/types/filters.ts
  src/features/specialization/filterSpecializations/ui/SpecializationsFilters/SpecializationsFilters.skeleton.tsx
  src/features/specialization/filterSpecializations/ui/SpecializationsFilters/SpecializationsFilters.tsx
  src/pages/admin/SpecializationsPage/ui/SpecializationsPage/SpecializationsPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1483: refactor specializations filters (#975)
  src/entities/specialization/ui/SpecializationsListField/SpecializationsListField.tsx
  src/entities/user/ui/UserSelect/UserSelect.tsx
  src/features/question/filterQuestions/model/hooks/useQuestionsFilters.ts
  src/features/specialization/filterSpecializations/index.ts
  src/features/specialization/filterSpecializations/model/hooks/useGetSpecializationsFilterParams.ts
  src/features/specialization/filterSpecializations/model/hooks/useSpecializationsFilters.ts
  src/features/specialization/filterSpecializations/model/types/filters.ts
  src/features/specialization/filterSpecializations/ui/SpecializationsFilters/SpecializationsFilters.skeleton.tsx
  src/features/specialization/filterSpecializations/ui/SpecializationsFilters/SpecializationsFilters.tsx
  src/pages/admin/QuestionsTablePage/ui/QuestionsTablePage/QuestionsTablePage.tsx
  src/pages/admin/SpecializationsPage/model/selectors/specializationsPageSelectors.test.ts
  src/pages/admin/SpecializationsPage/model/selectors/specializationsPageSelectors.ts
  src/pages/admin/SpecializationsPage/model/slices/specializationsPageSlice.test.ts
  src/pages/admin/SpecializationsPage/model/slices/specializationsPageSlice.ts
  src/pages/admin/SpecializationsPage/model/types/specializationsPageTypes.ts
  src/pages/admin/SpecializationsPage/ui/SpecializationsPage/SpecializationsPage.tsx
  src/pages/admin/SpecializationsPage/ui/SpecializationsPagePagination/SpecializationsPagePagination.tsx
  src/widgets/SearchSection/ui/SearchSection.tsx
  src/widgets/specializationFilterSet/hooks/useSpecializationFilter.ts
  src/widgets/specializationFilterSet/index.ts
  src/widgets/specializationFilterSet/ui/SpecializationFilterSet.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1484: refactor filter users
  public/locales/en/learning.json
  public/locales/ru/learning.json
  src/app/providers/store/config/config.ts
  src/entities/user/index.ts
  src/entities/user/model/types/user.ts
  src/features/user/UsersFilterSet/hooks/useUserFilter.ts
  src/features/user/UsersFilterSet/index.tsx
  src/features/user/UsersFilterSet/ui/UsersFilterSet.tsx
  src/features/user/filterUsers/index.ts
  src/features/user/filterUsers/model/hooks/useGetUsersFilterParams.ts
  src/features/user/filterUsers/model/hooks/useUsersFilters.ts
  src/features/user/filterUsers/model/types/filters.ts
  src/features/user/filterUsers/ui/UserRolesListField/UserRolesListField.skeleton.tsx
  src/features/user/filterUsers/ui/UserRolesListField/UserRolesListField.tsx
  src/features/user/filterUsers/ui/UsersFilters/UsersFilters.skeleton.tsx
  src/features/user/filterUsers/ui/UsersFilters/UsersFilters.tsx
  src/features/user/filterUsers/ui/VerifiedSwitch/VerifiedSwitch.module.css
  src/features/user/filterUsers/ui/VerifiedSwitch/VerifiedSwitch.tsx
  src/pages/admin/UserTablePage/index.ts
  src/pages/admin/UserTablePage/model/selectors/usersPageSelectors.ts
  src/pages/admin/UserTablePage/model/slices/usersPageSlice.ts
  src/pages/admin/UserTablePage/model/types/usersPageTypes.ts
  src/pages/admin/UserTablePage/ui/UserTablePage/UsersTablePage.tsx
  src/pages/admin/UserTablePage/ui/UserTablePagePagination/UserTablePagePagination.tsx
  src/shared/config/store/State.ts
  src/shared/ui/AdvantagesList/AdvantagesList.module.css
  src/widgets/Landing/AdvantagesBlock/ui/AdvantagesBlock.module.css
  src/widgets/Landing/AdvantagesBlock/ui/AdvantagesList/AdvantagesList.module.css
  src/widgets/Landing/AdvantagesBlock/ui/AdvantagesList/AdvantagesList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1484: refactor filter users (#976)
  public/locales/en/learning.json
  public/locales/ru/learning.json
  src/app/providers/store/config/config.ts
  src/entities/user/index.ts
  src/entities/user/model/types/user.ts
  src/features/user/UsersFilterSet/hooks/useUserFilter.ts
  src/features/user/UsersFilterSet/index.tsx
  src/features/user/UsersFilterSet/ui/UsersFilterSet.tsx
  src/features/user/filterUsers/index.ts
  src/features/user/filterUsers/model/hooks/useGetUsersFilterParams.ts
  src/features/user/filterUsers/model/hooks/useUsersFilters.ts
  src/features/user/filterUsers/model/types/filters.ts
  src/features/user/filterUsers/ui/UserRolesListField/UserRolesListField.skeleton.tsx
  src/features/user/filterUsers/ui/UserRolesListField/UserRolesListField.tsx
  src/features/user/filterUsers/ui/UsersFilters/UsersFilters.skeleton.tsx
  src/features/user/filterUsers/ui/UsersFilters/UsersFilters.tsx
  src/features/user/filterUsers/ui/VerifiedSwitch/VerifiedSwitch.module.css
  src/features/user/filterUsers/ui/VerifiedSwitch/VerifiedSwitch.tsx
  src/pages/admin/UserTablePage/index.ts
  src/pages/admin/UserTablePage/model/selectors/usersPageSelectors.ts
  src/pages/admin/UserTablePage/model/slices/usersPageSlice.ts
  src/pages/admin/UserTablePage/model/types/usersPageTypes.ts
  src/pages/admin/UserTablePage/ui/UserTablePage/UsersTablePage.tsx
  src/pages/admin/UserTablePage/ui/UserTablePagePagination/UserTablePagePagination.tsx
  src/shared/config/store/State.ts
  src/shared/ui/AdvantagesList/AdvantagesList.module.css
  src/widgets/Landing/AdvantagesBlock/ui/AdvantagesBlock.module.css
  src/widgets/Landing/AdvantagesBlock/ui/AdvantagesList/AdvantagesList.module.css
  src/widgets/Landing/AdvantagesBlock/ui/AdvantagesList/AdvantagesList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

Path conditions:
  npm run prettier: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:ts:fix: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:css:fix: any of: *.css
