Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1385: reset skills on specialization change (Public Resources Change) (#914)
  src/widgets/Marketplace/model/hooks/useMarketplaceFilters.ts
Due: npm run prettier, npm run lint:ts:fix

Feature/YH-1345 (#893)
  src/shared/ui/Table/Table.module.css
  src/shared/ui/Table/Table.tsx
  src/shared/ui/TableCellEntityList/TableCellEntityList.tsx
  src/widgets/CollectionsTable/ui/CollectionsTable.tsx
  src/widgets/CompaniesTable/ui/CompaniesTable.tsx
  src/widgets/QuestionsTable/ui/QuestionsTable.tsx
  src/widgets/SkillsTable/ui/SkillsTable.tsx
  src/widgets/SpecializationsTable/ui/SpecializationsTable.tsx
  src/widgets/UsersTable/ui/UsersTable.tsx
  src/widgets/resources/ResourcesTable/ui/ResourcesTable.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1392: add telegram unlink from account
  public/locales/en/profile.json
  public/locales/en/translation.json
  public/locales/ru/profile.json
  public/locales/ru/translation.json
  src/entities/auth/api/__mocks__/data/authMockResponse.ts
  src/entities/auth/api/__mocks__/data/authProfileQueryMockResponse.ts
  src/entities/auth/index.ts
  src/entities/auth/model/types/auth.ts
  src/entities/user/model/types/user.ts
  src/features/authentication/telegramUnlink/api/telegramUnlinkApi.ts
  src/features/authentication/telegramUnlink/index.ts
  src/features/authentication/telegramUnlink/model/constants/telegramUnlinkConstants.ts
  src/features/authentication/telegramUnlink/model/types/telegramUnlinkTypes.ts
  src/features/authentication/telegramUnlink/ui/ConfirmTelegramUnlinkModal/ConfirmTelegramUnlinkModal.tsx
  src/features/authentication/telegramUnlink/ui/TelegramUnlinkButton/TelegramUnlinkButton.tsx
  src/pages/profile/SettingsProfilePage/index.ts
  src/pages/profile/SettingsProfilePage/model/hooks/useGetSettingsProfileTabs.tsx
  src/pages/profile/SettingsProfilePage/ui/SettingsProfilePage.tsx
  src/pages/profile/SettingsProfilePage/ui/tabs/EmailConfirmationTab/EmailConfirmationTab.tsx
  src/pages/profile/SettingsProfilePage/ui/tabs/VerificationTab/VerificationTab.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/TelegramVerifiedSection/index.ts
  src/widgets/TelegramVerifiedSection/ui/TelegramVerifiedSection.module.css
  src/widgets/TelegramVerifiedSection/ui/TelegramVerifiedSection.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1392: change custom routes
  src/shared/constants/customRoutes.ts
  src/widgets/interview/InterviewPreparation/ui/InterviewPreparation/InterviewPreparation.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1392: undo name changes
  src/pages/profile/SettingsProfilePage/index.ts
  src/pages/profile/SettingsProfilePage/model/hooks/useGetSettingsProfileTabs.tsx
  src/pages/profile/SettingsProfilePage/ui/tabs/EmailConfirmationTab/EmailConfirmationTab.tsx
  src/shared/constants/customRoutes.ts
  src/widgets/interview/InterviewPreparation/ui/InterviewPreparation/InterviewPreparation.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1392: fix response type
  src/features/authentication/telegramUnlink/model/types/telegramUnlinkTypes.ts
Due: npm run prettier, npm run lint:ts:fix

Release 1.1.13
  src/app/providers/router/config/routeConfig.tsx
  src/pages/wiki/MyResourcesPage/ui/MyResourcesPage.tsx
  src/pages/wiki/ResourcesPage/ui/ResourcesPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1395: added deleteButton for requests
  src/features/requests/deleteApplication/api/deleteRequestApi.ts
  src/features/requests/deleteApplication/index.ts
  src/features/requests/deleteApplication/model/constants/DeleteRequestApiUrls.ts
  src/features/requests/deleteApplication/ui/DeleteRequest/DeleteRequest.module.css
  src/features/requests/deleteApplication/ui/DeleteRequest/DeleteRequest.tsx
  src/pages/wiki/MyResourcesPage/ui/MyResourcesPage.tsx
  src/shared/ui/ConfirmationDeleteModal/ConfiramationDeleteModal.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1374: Created a widget to display progress by specialization
  public/locales/ru/specialization.json
  src/entities/specialization/index.ts
  src/entities/specialization/model/types/specialization.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/SpecializationsProgress/index.ts
  src/widgets/SpecializationsProgress/ui/SpecializationsProgress.module.css
  src/widgets/SpecializationsProgress/ui/SpecializationsProgress.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1374: Added a mock request
  public/locales/ru/specialization.json
  src/app/msw/handlers.ts
  src/entities/specialization/index.ts
  src/entities/specialization/model/types/specialization.ts
  src/pages/analytics/AnalyticsPage/ui/AnalyticsPage.tsx
  src/shared/config/api/apiTags.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/SpecializationsProgress/index.ts
  src/widgets/SpecializationsProgress/ui/SpecializationsProgress.module.css
  src/widgets/SpecializationsProgress/ui/SpecializationsProgress.tsx
  src/widgets/analytics/api/__mocks__/data/index.ts
  src/widgets/analytics/api/__mocks__/data/specializationProgressMock.ts
  src/widgets/analytics/api/__mocks__/index.ts
  src/widgets/analytics/api/__mocks__/specializationProgressListMock.ts
  src/widgets/analytics/api/specializationProgressApi.ts
  src/widgets/analytics/index.ts
  src/widgets/analytics/model/constants/specializationProgress.ts
  src/widgets/analytics/model/types/specializationProgress.ts
  src/widgets/analytics/ui/SpecializationsProgress/SpecializationsProgress.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1369: added number of applications with the "Under consideration" status
  src/pages/wiki/ResourcesPage/ui/ResourcesPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1374: Fixed the mock request
  src/widgets/analytics/api/__mocks__/specializationProgressListMock.ts
  src/widgets/analytics/ui/SpecializationsProgress/SpecializationsProgress.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1374: Fixed the mock request
  public/locales/ru/specialization.json
Due: none

YH-1393: create resource info page, add request to the server, add route
  src/app/providers/router/config/routeConfig.tsx
  src/entities/resource/api/resourceApi.ts
  src/entities/resource/model/constants/resource.ts
  src/entities/resource/model/types/resourceRequest.ts
  src/pages/wiki/RequestInfoPage/index.ts
  src/pages/wiki/RequestInfoPage/ui/ResourceInfoPage.tsx
  src/shared/config/api/apiTags.ts
  src/shared/config/router/routes.ts
  src/widgets/Marketplace/ui/MyRecourcesList/MyResourcesList.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1396: add disabled resource request page
  src/app/providers/router/config/routeConfig.tsx
  src/entities/resource/api/resourceApi.ts
  src/entities/resource/index.ts
  src/entities/resource/model/constants/resource.ts
  src/entities/resource/model/types/resourceRequest.ts
  src/features/resources/viewResource/index.ts
  src/features/resources/viewResource/ui/ResourceViewForm/ResourceViewForm.tsx
  src/features/resources/viewResource/ui/ResourceViewFormWithHeader/ResourceViewFormWithHeader.tsx
  src/pages/admin/ResourceViewPage/index.ts
  src/pages/admin/ResourceViewPage/ui/ResourceRequestViewPage.lazy.ts
  src/pages/admin/ResourceViewPage/ui/ResourceRequestViewPage.tsx
  src/pages/admin/ResourceViewPage/ui/ResourceViewPage.lazy.ts
  src/pages/admin/ResourceViewPage/ui/ResourceViewPage.tsx
  src/shared/config/router/routes.ts
  src/shared/ui/TableCellEntityList/index.ts
  src/widgets/resources/ResourceRequestView/index.ts
  src/widgets/resources/ResourceRequestView/ui/ResourceRequestDisabledForm/ResourceRequestDisabledForm.module.css
  src/widgets/resources/ResourceRequestView/ui/ResourceRequestDisabledForm/ResourceRequestDisabledForm.tsx
  src/widgets/resources/ResourceRequestView/ui/ResourceRequestViewForm/ResourceRequestViewForm.tsx
  src/widgets/resources/ResourceRequestView/ui/ResourceRequestViewFormWithHeader/ResourceRequestViewFormWithHeader.module.css
  src/widgets/resources/ResourceRequestView/ui/ResourceRequestViewFormWithHeader/ResourceRequestViewFormWithHeader.tsx
  src/widgets/resources/ResourceRequestsTable/ui/ResourceRequestsTable.tsx
  src/widgets/resources/ResourcesTable/ui/ResourcesTable.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1376: change mock data structure
  src/entities/mostDifficultQuestions/api/__mocks__/data/mostDifficultQuestionsMock.ts
  src/entities/mostDifficultQuestions/model/types/difficultQuestions.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1391: Fix bugs
  src/entities/auth/index.ts
  src/entities/profile/index.ts
  src/entities/profile/ui/UserVerified/UserVerified.module.css
  src/entities/profile/ui/UserVerified/UserVerified.tsx
  src/features/authentication/login/index.ts
  src/features/authentication/telegramLink/api/telegramLinkApi.ts
  src/features/authentication/telegramLink/model/types/telegramLinkTypes.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1391: Fix bugs
  src/entities/profile/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1391: Fix bugs
  src/features/authentication/login/index.ts
  src/features/authentication/telegramLink/index.ts
  src/features/authentication/telegramLink/ui/TelegramLinkButton/TelegramLinkButton.tsx
  src/widgets/ConfirmationTelegram/ui/ConfirmationTelegram.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1391: Fix bugs
  public/locales/en/profile.json
  public/locales/ru/profile.json
  src/entities/auth/index.ts
  src/entities/auth/model/constants/telegramConstants.ts
  src/entities/auth/ui/TelegramWidget/TelegramWidget.tsx
  src/features/authentication/login/ui/TelegramLoginButton/ui/TelegramLoginButton/TelegramLoginButton.tsx
  src/features/authentication/telegramLink/ui/TelegramLinkButton/TelegramLinkButton.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1377: add label with total count of request in 'Requests' tab, page: admin/ResourcesPage
  src/pages/admin/ResourcesPage/model/hooks/useGetResourcesRequestsTotal.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1377: add label with total count of request in 'Requests' tab, page: admin/ResourcesPage
  src/pages/admin/ResourcesPage/model/hooks/useGetResourcesPageTabs.tsx
  src/pages/admin/ResourcesPage/model/hooks/useGetResourcesRequestsTotal.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1388: add new ui component GraphProgressBar
  src/entities/skill/model/types/skill.ts
  src/pages/analytics/AnalyticsPage/ui/AnalyticsPage.tsx
  src/shared/ui/GraphProgressBar/index.ts
  src/shared/ui/GraphProgressBar/ui/GraphProgressBar.module.css
  src/shared/ui/GraphProgressBar/ui/GraphProgressBar.tsx
  src/shared/ui/ProgressBar/ProgressBar.module.css
  src/widgets/analytics/GraphProgressBar/index.ts
  src/widgets/analytics/GraphProgressBar/ui/GraphProgressBar/GraphProgressBar.module.css
  src/widgets/analytics/GraphProgressBar/ui/ProgressBarItem/ProgressBarItem.module.css
  src/widgets/analytics/GraphProgressBar/ui/ProgressBarItem/ProgressBarItem.tsx
  src/widgets/analytics/PopularSkills/index.ts
  src/widgets/analytics/PopularSkills/ui/PopularSkills/PopularSkills.module.css
  src/widgets/analytics/PopularSkills/ui/PopularSkills/PopularSkills.tsx
  src/widgets/analytics/PopularSkills/ui/ProgressBarItem/ProgressBarItem.module.css
  src/widgets/analytics/PopularSkills/ui/ProgressBarItem/ProgressBarItem.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1386: Removed the specialization filter in ResourcesPage
  src/pages/wiki/ResourcesPage/ui/ResourcesPage.tsx
  src/widgets/Marketplace/ui/MarketplaceFiltersPanel/MarketplaceFiltersPanel.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1375 переработан виджет, добавлен перевод
  src/pages/analytics/AnalyticsPage/ui/AnalyticsPage.tsx
  src/widgets/interview/InterviewPopularQuestions/ui/InterviewPopularQuestions.module.css
  src/widgets/interview/InterviewPopularQuestions/ui/InterviewPopularQuestions.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1376: change some naming, update mock data structure and types
  src/entities/mostDifficultQuestions/api/__mocks__/data/mostDifficultQuestionsMock.ts
  src/entities/mostDifficultQuestions/api/__mocks__/mostDifficultQuestions.ts
  src/entities/mostDifficultQuestions/api/mostDifficultQuestionsApi.ts
  src/entities/mostDifficultQuestions/model/constants/difficultQuestions.ts
  src/entities/mostDifficultQuestions/model/types/difficultQuestions.ts
  src/entities/mostDifficultQuestions/ui/MostDifficultQuestions.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1391: Add verification via Telegram (#908)
  public/locales/en/profile.json
  public/locales/ru/profile.json
  src/entities/auth/api/authApi.ts
  src/entities/auth/index.ts
  src/entities/auth/model/constants/telegramConstants.ts
  src/entities/auth/ui/TelegramWidget/TelegramWidget.tsx
  src/entities/profile/index.ts
  src/entities/profile/ui/UserVerified/UserVerified.module.css
  src/entities/profile/ui/UserVerified/UserVerified.tsx
  src/entities/profile/ui/UserVerifyed/UserVerifyed.module.css
  src/features/authentication/login/ui/TelegramLoginButton/ui/TelegramLoginButton/TelegramLoginButton.tsx
  src/features/authentication/telegramLink/api/telegramLinkApi.ts
  src/features/authentication/telegramLink/index.ts
  src/features/authentication/telegramLink/model/constants/telegramLinkConstants.ts
  src/features/authentication/telegramLink/ui/TelegramLinkButton/TelegramLinkButton.tsx
  src/features/profile/confirmationEmail/ui/ConfirmationEmail.module.css
  src/features/profile/confirmationEmail/ui/ConfirmationEmail.tsx
  src/pages/profile/SettingsProfilePage/ui/tabs/EmailConfirmationTab/EmailConfirmationTab.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/ConfirmationTelegram/index.ts
  src/widgets/ConfirmationTelegram/ui/ConfirmationTelegram.module.css
  src/widgets/ConfirmationTelegram/ui/ConfirmationTelegram.tsx
  src/widgets/EmailVerification/ui/EmailVerification.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1396: fix after the review
  src/entities/resource/api/resourceApi.ts
  src/entities/resource/index.ts
  src/entities/resource/model/types/resourceRequest.ts
  src/entities/resource/ui/ResourceForm/ResourceForm.tsx
  src/pages/admin/ResourceViewPage/ui/ResourceRequestViewPage.tsx
  src/shared/config/router/routes.ts
  src/shared/ui/FileLoader/FileLoader.module.css
  src/shared/ui/FileLoader/FileLoader.tsx
  src/shared/ui/KeywordInput/KeywordInput.tsx
  src/shared/ui/SimpleChip/SimpleChip.tsx
  src/widgets/resources/ResourceRequestView/ui/ResourceRequestDisabledForm/ResourceRequestDisabledForm.module.css
  src/widgets/resources/ResourceRequestView/ui/ResourceRequestDisabledForm/ResourceRequestDisabledForm.tsx
  src/widgets/resources/ResourceRequestView/ui/ResourceRequestViewForm/ResourceRequestViewForm.tsx
  src/widgets/resources/ResourceRequestView/ui/ResourceRequestViewFormWithHeader/ResourceRequestViewFormWithHeader.tsx
  src/widgets/resources/ResourceRequestsTable/ui/ResourceRequestsTable.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1392: fix after merge
  src/features/authentication/telegramUnlink/model/constants/telegramUnlinkConstants.ts
  src/pages/profile/SettingsProfilePage/ui/tabs/EmailConfirmationTab/EmailConfirmationTab.tsx
  src/widgets/TelegramVerifiedSection/ui/TelegramVerifiedSection.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1396: fix after the review
  public/locales/en/resources.json
  public/locales/ru/resources.json
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/resources/ResourceRequestView/ui/ResourceRequestViewFormWithHeader/ResourceRequestViewFormWithHeader.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1396: add new disabled page of resource (#904)
  public/locales/en/resources.json
  public/locales/ru/resources.json
  src/app/providers/router/config/routeConfig.tsx
  src/entities/resource/api/resourceApi.ts
  src/entities/resource/index.ts
  src/entities/resource/model/constants/resource.ts
  src/entities/resource/model/types/resource.ts
  src/entities/resource/model/types/resourceRequest.ts
  src/entities/resource/ui/ResourceForm/ResourceForm.tsx
  src/entities/skill/ui/SkillSelect/SkillSelect.tsx
  src/features/resources/createResource/model/types/resourceCreateTypes.ts
  src/features/resources/createResourceRequest/model/types/resourceRequestCreateTypes.ts
  src/features/resources/editResource/model/types/resourcesEditTypes.ts
  src/pages/admin/ResourceViewPage/index.ts
  src/pages/admin/ResourceViewPage/ui/ResourceRequestViewPage.lazy.ts
  src/pages/admin/ResourceViewPage/ui/ResourceRequestViewPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
  src/shared/ui/FileLoader/FileLoader.module.css
  src/shared/ui/FileLoader/FileLoader.tsx
  src/shared/ui/ImageLoaderWithoutCropper/ImageLoaderWithoutCropper.tsx
  src/shared/ui/KeywordInput/KeywordInput.tsx
  src/shared/ui/SimpleChip/SimpleChip.tsx
  src/shared/ui/TableCellEntityList/index.ts
  src/widgets/resources/ResourceRequestView/index.ts
  src/widgets/resources/ResourceRequestView/ui/ResourceRequestViewForm/ResourceRequestViewForm.tsx
  src/widgets/resources/ResourceRequestView/ui/ResourceRequestViewFormWithHeader/ResourceRequestViewFormWithHeader.module.css
  src/widgets/resources/ResourceRequestView/ui/ResourceRequestViewFormWithHeader/ResourceRequestViewFormWithHeader.tsx
  src/widgets/resources/ResourceRequestsTable/ui/ResourceRequestsTable.tsx
  src/widgets/resources/ResourcesTable/ui/ResourcesTable.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1391: Fix translations bugs
  src/features/authentication/telegramLink/api/telegramLinkApi.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1391: Change E-mail confirmation to Verification
  public/locales/en/profile.json
  public/locales/ru/profile.json
Due: none

YH-1372: Refactor by comments
  src/app/msw/handlers.ts
  src/entities/question/api/__mocks__/data/index.ts
  src/entities/question/api/__mocks__/data/learnedQuestionsMock.ts
  src/entities/question/api/__mocks__/getLearnedQuestionsMock.ts
  src/entities/question/api/__mocks__/index.ts
  src/entities/question/api/questionApi.ts
  src/entities/question/index.ts
  src/entities/question/model/constants/question.ts
  src/entities/question/model/lib/getPaginatedData.ts
  src/entities/question/model/types/learnedQuestion.ts
  src/entities/question/model/types/question.ts
  src/entities/questionStats/learnedQuestion/api/__mocks__/data/index.ts
  src/entities/questionStats/learnedQuestion/api/__mocks__/getLearnedQuestionsMock.ts
  src/entities/questionStats/learnedQuestion/api/__mocks__/index.ts
  src/entities/questionStats/learnedQuestion/api/learnedQuestionApi.ts
  src/entities/questionStats/learnedQuestion/index.ts
  src/entities/questionStats/learnedQuestion/model/constants/index.ts
  src/features/quiz/finishQuiz/api/finishQuizApi.ts
  src/features/quiz/interruptQuiz/api/interruptQuizApi.ts
  src/features/quiz/learnQuestion/api/learnQuestionApi.ts
  src/features/quiz/resetQuestionStudyProgress/api/resetQuestionStudyProgressApi.ts
  src/pages/interview/QuestionsPage/ui/QuestionsPage/QuestionsPage.tsx
  src/shared/config/api/apiTags.ts
  src/widgets/analytics/SkillsProficiency/model/hooks/useItemsSizeCalculation.ts
  src/widgets/analytics/SkillsProficiency/ui/SkillsProficiency/SkillsProficiency.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1279: fix skeleton from media page
  src/entities/guru/ui/GuruSocialsList/GuruSocialsList.skeleton.tsx
  src/entities/guru/ui/GurusItem/GurusItem.module.css
  src/entities/guru/ui/GurusItem/GurusItem.skeleton.tsx
  src/entities/media/ui/MediaLinkItem/MediaLinkItem.skeleton.tsx
  src/widgets/Landing/Media/ui/AlarmFactBanner/AlarmFactBanner.module.css
  src/widgets/Landing/Media/ui/AlarmFactBanner/AlarmFactBanner.skeleton.tsx
  src/widgets/Landing/Media/ui/AlarmFactBanner/AlarmFactBanner.tsx
  src/widgets/Landing/Media/ui/GurusBlock/GurusBlock.skeleton.tsx
  src/widgets/Landing/Media/ui/OurMediaBanner/OurMediaBanner.module.css
  src/widgets/Landing/Media/ui/OurMediaBanner/OurMediaBanner.skeleton.tsx
  src/widgets/Landing/Media/ui/TelegramChannels/TelegramChannels.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1279: skeleton from media page (#870)
  src/app/layouts/LandingLayout/model/helper/SkeletonGenerator.tsx
  src/app/layouts/MainLayout/model/helper/SkeletonGenerator.tsx
  src/entities/guru/index.ts
  src/entities/guru/ui/GuruSocialsList/GuruSocialsList.module.css
  src/entities/guru/ui/GuruSocialsList/GuruSocialsList.skeleton.tsx
  src/entities/guru/ui/GurusItem/GurusItem.module.css
  src/entities/guru/ui/GurusItem/GurusItem.skeleton.tsx
  src/entities/guru/ui/GurusList/GurusList.skeleton.tsx
  src/entities/media/index.ts
  src/entities/media/ui/MediaLinkItem/MediaLinkItem.module.css
  src/entities/media/ui/MediaLinkItem/MediaLinkItem.skeleton.tsx
  src/entities/media/ui/MediaLinksList/MediaLinksList.skeleton.tsx
  src/pages/landing/MediaPage/index.ts
  src/pages/landing/MediaPage/ui/MediaPage.skeleton.tsx
  src/widgets/Landing/Media/index.ts
  src/widgets/Landing/Media/ui/AlarmFactBanner/AlarmFactBanner.module.css
  src/widgets/Landing/Media/ui/AlarmFactBanner/AlarmFactBanner.skeleton.tsx
  src/widgets/Landing/Media/ui/AlarmFactBanner/AlarmFactBanner.tsx
  src/widgets/Landing/Media/ui/GurusBlock/GurusBlock.skeleton.tsx
  src/widgets/Landing/Media/ui/OurMediaBanner/OurMediaBanner.module.css
  src/widgets/Landing/Media/ui/OurMediaBanner/OurMediaBanner.skeleton.tsx
  src/widgets/Landing/Media/ui/TelegramChannels/TelegramChannels.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1391: Fix translations
  public/locales/en/profile.json
  public/locales/en/translation.json
  public/locales/ru/profile.json
  public/locales/ru/translation.json
  src/features/authentication/telegramLink/api/telegramLinkApi.ts
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

Release 1.1.14
  RELEASE_NOTES.md
  package-lock.json
  package.json
  src/widgets/authentication/login/ui/LoginCreateForm/LoginCreateForm.tsx
  src/widgets/registration/ui/UserCreateForm.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1391: Fix translation bugs (#923)
  public/locales/en/profile.json
  public/locales/en/translation.json
  public/locales/ru/profile.json
  public/locales/ru/translation.json
  src/features/authentication/telegramLink/api/telegramLinkApi.ts
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1386: Removed the specialization filter in ResourcesPage (#922)
  src/pages/wiki/ResourcesPage/ui/ResourcesPage.tsx
  src/widgets/Marketplace/ui/MarketplaceFiltersPanel/MarketplaceFiltersPanel.tsx
Due: npm run prettier, npm run lint:ts:fix

Path conditions:
  npm run prettier: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:ts:fix: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:css:fix: any of: *.css
