Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

feature/YH-741 (#482)
  public/locales/ru/subscription.json
  src/app/providers/router/config/routeConfig.tsx
  src/app/providers/router/ui/PremiumRoute.tsx
  src/entities/profile/index.ts
  src/entities/profile/model/selectors/profileSelectors.ts
  src/features/quiz/learnQuestion/ui/LearnQuestionButton.tsx
  src/features/quiz/resetQuestionStudyProgress/ui/ResetQuestionStudyProgressButton.tsx
  src/shared/ui/Card/ui/Card.module.css
  src/widgets/Landing/PlatformInterfaceBlock/ui/CategoriesBlock/CategoriesBlock.tsx
  src/widgets/Profile/ui/SubscriptionTab/ui/SubscriptionTab/SubscriptionTab.tsx
  src/widgets/interview/InterviewPreparation/ui/InterviewPreparation/InterviewPreparation.tsx
  src/widgets/interview/PassedQuizzesList/ui/PreviewPassedQuizzesList/PreviewPassedQuizzesList.tsx
  src/widgets/interview/QuestionsStatistic/ui/PreviewQuestionsStatistic/PreviewQuestionsStatistic.tsx
  src/widgets/question/QuestionActions/QuestionActions.tsx
  src/widgets/question/QuestionsList/ui/FullQuestionItem/FullQuestionItem.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1007: fix auth token update (#657)
  src/shared/config/api/baseApi.ts
Due: npm run prettier, npm run lint:ts:fix

YH-979: fix search in CollectionsPage (#646)
  src/pages/admin/CollectionsPage/model/selectors/collectionsPageSelectors.ts
  src/pages/admin/CollectionsPage/model/slices/collectionsPageSlice.ts
  src/pages/admin/CollectionsPage/model/types/collectionsPageTypes.ts
  src/pages/admin/CollectionsPage/ui/CollectionsPage/CollectionsPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1002: Replace react-slick usage with shared Slider component
  src/shared/ui/Slider/Slider.tsx
  src/shared/ui/Slider/index.ts
  src/widgets/Landing/AboutQuestionsBlock/model/constants/index.ts
  src/widgets/Landing/AboutQuestionsBlock/ui/InterviewMaterials/InterviewMaterials.tsx
  src/widgets/Landing/AboutQuestionsBlock/ui/SkillsListTicker/SkillsListTicker.tsx
  src/widgets/Landing/CollectionBlock/model/constants/index.ts
  src/widgets/Landing/CollectionBlock/ui/MainBlock/MainBlock.tsx
  src/widgets/Landing/HistoryBlock/model/constants/index.ts
  src/widgets/Landing/HistoryBlock/ui/HistorySliderBlock/HistorySliderBlock.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1002: Replace react-slick usage with shared Slider component (#658)
  src/shared/ui/Slider/Slider.tsx
  src/shared/ui/Slider/index.ts
  src/widgets/Landing/AboutQuestionsBlock/model/constants/index.ts
  src/widgets/Landing/AboutQuestionsBlock/ui/InterviewMaterials/InterviewMaterials.tsx
  src/widgets/Landing/AboutQuestionsBlock/ui/SkillsListTicker/SkillsListTicker.tsx
  src/widgets/Landing/CollectionBlock/model/constants/index.ts
  src/widgets/Landing/CollectionBlock/ui/MainBlock/MainBlock.tsx
  src/widgets/Landing/HistoryBlock/model/constants/index.ts
  src/widgets/Landing/HistoryBlock/ui/HistorySliderBlock/HistorySliderBlock.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-962: fix h1-h6 & codeblock
  src/app/msw/browser.ts
  src/shared/ui/Card/Card.module.css
  src/shared/ui/TextEditor/TextEditor.module.css
  src/shared/ui/TextEditor/TextEditor.stories.tsx
  src/shared/ui/TextEditor/TextEditor.tsx
  src/shared/ui/TextEditor/index.ts
  src/shared/ui/TextEditor/ui/BubbleMenu/BubbleMenu.tsx
  src/shared/ui/TextHtml/TextHtml.module.css
  src/shared/ui/TextHtml/TextHtml.stories.tsx
  src/shared/ui/TextHtml/TextHtml.tsx
  src/shared/utils/TextEditor/BubbleMenu/BubbleMenu.module.css
  src/shared/utils/TextEditor/BubbleMenu/BubbleMenu.tsx
  src/shared/utils/TextEditor/model/types.ts
  src/shared/utils/TextEditor/utils/createCodeBlockNodeView.ts
  src/shared/utils/TextEditor/utils/createCopyButton.ts
  src/shared/utils/TextEditor/utils/registerHighlightLanguages.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1006: added notifications for auth errors
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/entities/auth/api/authApi.ts
Due: npm run prettier, npm run lint:ts:fix

YH-941: fixed tests, added data-testid props to UI-components
  src/shared/ui/Button/Button.tsx
  src/shared/ui/Button/types.ts
  src/shared/ui/Card/Card.tsx
  src/widgets/Landing/CollectionBlock/model/constants/index.ts
  src/widgets/Landing/CollectionBlock/ui/AdditionalBlock/AdditionalBlock.test.tsx
  src/widgets/Landing/CollectionBlock/ui/AdditionalBlock/AdditionalBlock.tsx
  src/widgets/Landing/CollectionBlock/ui/CollectionBlock/CollectionBlock.test.tsx
  src/widgets/Landing/CollectionBlock/ui/CollectionBlock/CollectionBlock.tsx
  src/widgets/Landing/CollectionBlock/ui/FilterChip/FilterChip.test.tsx
  src/widgets/Landing/CollectionBlock/ui/FiltersBlock/FiltersBlock.test.tsx
  src/widgets/Landing/CollectionBlock/ui/FiltersBlock/FiltersBlock.tsx
  src/widgets/Landing/CollectionBlock/ui/MainBlock/MainBlock.test.tsx
  src/widgets/Landing/CollectionBlock/ui/MainBlock/MainBlock.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1006: added notifications for auth errors (#659)
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/entities/auth/api/authApi.ts
Due: npm run prettier, npm run lint:ts:fix

YH-962: fix codeblock tabs
  src/entities/question/ui/QuestionForm/QuestionForm.tsx
  src/shared/ui/BubbleMenu/BubbleMenu.module.css
  src/shared/ui/BubbleMenu/BubbleMenu.tsx
  src/shared/ui/TextEditor/TextEditor.module.css
  src/shared/ui/TextEditor/TextEditor.stories.tsx
  src/shared/ui/TextEditor/TextEditor.tsx
  src/shared/ui/TextEditor/index.ts
  src/shared/ui/TextEditor/types.ts
  src/shared/ui/TextHtml/TextHtml.module.css
  src/shared/ui/TextHtml/TextHtml.tsx
  src/shared/utils/TextEditor/createCustomCodeBlock.ts
  src/shared/utils/TextEditor/index.ts
  src/shared/utils/TextEditor/normalizeHtmlContent.ts
  src/shared/utils/TextEditor/normalizeIndentation.ts
  src/shared/utils/TextEditor/utils/createCopyButton.ts
  src/shared/utils/textEditor/createCodeBlockNodeView.ts
  src/shared/utils/textEditor/registerHighlightLanguages.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-997: added skeletons for specialization block and cart
  src/app/layouts/LandingLayout/model/helper/SkeletonGenerator.tsx
  src/pages/landing/LandingPage/index.ts
  src/pages/landing/LandingPage/ui/LandingPage.skeleton.tsx
  src/widgets/Landing/SpecialityBlock/index.ts
  src/widgets/Landing/SpecialityBlock/ui/SpecializationBlock/SpecializationBlock.skeleton.tsx
  src/widgets/Landing/SpecialityBlock/ui/SpecializationCard/SpecializationCard.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-962: fix TextEditor
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/shared/config/i18n/i18n.ts
  src/shared/ui/TextEditor/TextEditor.module.css
  src/shared/ui/TextEditor/TextEditor.tsx
  src/shared/utils/TextEditor/convertSpacesToTabs.ts
  src/shared/utils/TextEditor/createCustomCodeBlock.ts
  src/shared/utils/TextEditor/createPastePlugin.ts
  src/shared/utils/TextEditor/handleEditorPaste.ts
  src/shared/utils/TextEditor/index.ts
  src/shared/utils/TextEditor/normalizeHtmlContent.ts
  src/shared/utils/TextEditor/normalizeIndentation.ts
  src/shared/utils/textEditor/createCodeBlockNodeView.ts
  src/shared/utils/textEditor/registerHighlightLanguages.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-997: Replaced Skeleton with TextSkeleton and ButtonSkeleton
  src/app/layouts/LandingLayout/model/helper/SkeletonGenerator.tsx
  src/widgets/Landing/SpecialityBlock/ui/SpecializationBlock/SpecializationBlock.skeleton.tsx
  src/widgets/Landing/SpecialityBlock/ui/SpecializationCard/SpecializationCard.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-962: fix codeBlock in TextEditor
  src/shared/ui/BubbleMenu/BubbleMenuEditor.module.css
  src/shared/ui/BubbleMenu/BubbleMenuEditor.tsx
  src/shared/ui/TextEditor/TextEditor.tsx
  src/shared/ui/TextHtml/TextHtml.module.css
  src/shared/utils/TextEditor/createPastePlugin.ts
  src/shared/utils/TextEditor/handleEditorPaste.ts
  src/shared/utils/TextEditor/parseHtmlToTiptapContent.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-962: fix BubbleMenuEditor folder name
  src/shared/ui/BubbleMenuEditor/BubbleMenuEditor.module.css
  src/shared/ui/BubbleMenuEditor/BubbleMenuEditor.tsx
  src/shared/ui/TextEditor/TextEditor.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-997: added skeletons for specialization block and cart (#660)
  src/app/layouts/LandingLayout/model/helper/SkeletonGenerator.tsx
  src/pages/landing/LandingPage/index.ts
  src/pages/landing/LandingPage/ui/LandingPage.skeleton.tsx
  src/widgets/Landing/SpecialityBlock/index.ts
  src/widgets/Landing/SpecialityBlock/ui/SpecializationBlock/SpecializationBlock.skeleton.tsx
  src/widgets/Landing/SpecialityBlock/ui/SpecializationCard/SpecializationCard.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-941: added tests to CollectionBlock (#656)
  src/shared/ui/Button/Button.tsx
  src/shared/ui/Button/types.ts
  src/shared/ui/Card/Card.tsx
  src/widgets/Landing/CollectionBlock/model/constants/index.ts
  src/widgets/Landing/CollectionBlock/ui/AdditionalBlock/AdditionalBlock.test.tsx
  src/widgets/Landing/CollectionBlock/ui/AdditionalBlock/AdditionalBlock.tsx
  src/widgets/Landing/CollectionBlock/ui/CollectionBlock/CollectionBlock.test.tsx
  src/widgets/Landing/CollectionBlock/ui/CollectionBlock/CollectionBlock.tsx
  src/widgets/Landing/CollectionBlock/ui/FilterChip/FilterChip.test.tsx
  src/widgets/Landing/CollectionBlock/ui/FiltersBlock/FiltersBlock.test.tsx
  src/widgets/Landing/CollectionBlock/ui/FiltersBlock/FiltersBlock.tsx
  src/widgets/Landing/CollectionBlock/ui/MainBlock/MainBlock.test.tsx
  src/widgets/Landing/CollectionBlock/ui/MainBlock/MainBlock.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-857: Add tests for AppLogo component (#561)
  config/jest/jest.config.ts
  src/shared/ui/AppLogo/AppLogo.test.tsx
  src/shared/ui/AppLogo/AppLogo.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-962: create text editor (#616)
  package.json
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/app/styles/variables/font-familys.css
  src/entities/question/ui/QuestionForm/QuestionForm.tsx
  src/shared/config/i18n/i18n.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/libs/utils/determineLanguage/determineLanguage.ts
  src/shared/libs/utils/determineLanguage/index.ts
  src/shared/ui/BubbleMenuEditor/BubbleMenuEditor.module.css
  src/shared/ui/BubbleMenuEditor/BubbleMenuEditor.tsx
  src/shared/ui/Card/Card.module.css
  src/shared/ui/TextEditor/TextEditor.module.css
  src/shared/ui/TextEditor/TextEditor.stories.tsx
  src/shared/ui/TextEditor/TextEditor.tsx
  src/shared/ui/TextEditor/index.ts
  src/shared/ui/TextEditor/types.ts
  src/shared/ui/TextHtml/TextHtml.module.css
  src/shared/ui/TextHtml/TextHtml.stories.tsx
  src/shared/ui/TextHtml/TextHtml.test.tsx
  src/shared/ui/TextHtml/TextHtml.tsx
  src/shared/utils/TextEditor/convertSpacesToTabs.ts
  src/shared/utils/TextEditor/createCustomCodeBlock.ts
  src/shared/utils/TextEditor/createPastePlugin.ts
  src/shared/utils/TextEditor/index.ts
  src/shared/utils/TextEditor/normalizeHtmlContent.ts
  src/shared/utils/TextEditor/parseHtmlToTiptapContent.ts
  src/shared/utils/textEditor/createCodeBlockNodeView.ts
  src/shared/utils/textEditor/registerHighlightLanguages.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1013: fix deploy
  package-lock.json
Due: none

YH-1013: fix deploy (#661)
  package-lock.json
Due: none

YH-1013: fix deploy (rename folder)
  src/shared/utils/textEditor/convertSpacesToTabs.ts
  src/shared/utils/textEditor/createCustomCodeBlock.ts
  src/shared/utils/textEditor/createPastePlugin.ts
  src/shared/utils/textEditor/index.ts
  src/shared/utils/textEditor/normalizeHtmlContent.ts
  src/shared/utils/textEditor/parseHtmlToTiptapContent.ts
  src/widgets/Landing/CollectionBlock/ui/AdditionalBlock/AdditionalBlock.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1013: fix deploy (AppLogo)
  src/shared/ui/AppLogo/AppLogo.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1013: fix deploy (#662)
  src/shared/ui/AppLogo/AppLogo.tsx
  src/shared/utils/textEditor/convertSpacesToTabs.ts
  src/shared/utils/textEditor/createCustomCodeBlock.ts
  src/shared/utils/textEditor/createPastePlugin.ts
  src/shared/utils/textEditor/index.ts
  src/shared/utils/textEditor/normalizeHtmlContent.ts
  src/shared/utils/textEditor/parseHtmlToTiptapContent.ts
  src/widgets/Landing/CollectionBlock/ui/AdditionalBlock/AdditionalBlock.tsx
Due: npm run prettier, npm run lint:ts:fix

Release 1.0.15
  RELEASE_NOTES.md
  package-lock.json
  package.json
Due: none

YH-980: Fix by comments, add tooltips for platform
  src/app/layouts/MainLayout/ui/MainLayout.tsx
  src/widgets/Sidebar/ui/Sidebar/Sidebar.tsx
  src/widgets/Sidebar/ui/SidebarMenuItem/SidebarCategoryMenuItem.tsx
  src/widgets/Sidebar/ui/SidebarMenuItem/SidebarMenuItem.tsx
  src/widgets/Sidebar/ui/SidebarMenuItem/SidebarSingleMenuItem.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-983: add DeleteAccountButton
  public/locales/en/user.json
  public/locales/ru/user.json
  src/features/profile/deleteAccount/api/deleteAccountApi.ts
  src/features/profile/deleteAccount/index.ts
  src/features/profile/deleteAccount/model/types/deleteAccount.ts
  src/features/profile/deleteAccount/ui/DeleteAccountButton/DeleteAccountButton.module.css
  src/features/profile/deleteAccount/ui/DeleteAccountButton/DeleteAccountButton.tsx
  src/features/profile/deleteAccount/ui/DeleteUserAccount/DeleteUserAccount.module.css
  src/features/profile/deleteAccount/ui/DeleteUserAccount/DeleteUserAccount.tsx
  src/features/profile/deleteAccount/ui/modals/AdminDeleteAccountModal/AdminDeleteAccountModal.tsx
  src/features/profile/deleteAccount/ui/modals/UserDeleteAccountModal/UserDeleteAccountModal.module.css
  src/features/profile/deleteAccount/ui/modals/UserDeleteAccountModal/UserDeleteAccountModal.tsx
  src/pages/admin/UserDetailPage/ui/UserDetailPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/hooks/useModal.ts
  src/shared/ui/Modal/Modal.tsx
  src/shared/ui/Modal/index.ts
  src/widgets/Profile/ui/AccountTab/ui/AccountTab.module.css
  src/widgets/Profile/ui/AccountTab/ui/AccountTab.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-700: disable husky
  .husky/pre-commit
Due: none

YH-700: fix errors
  .husky/pre-commit
  src/features/subscription/ui/SubscribeButton/ui/SubscribeButton.tsx
  src/shared/ui/Button/Button.module.css
  src/widgets/Header/ui/UserPreferences/UserPreferences.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-700: update husky
  .husky/pre-commit
Due: none

YH-996: feature add skeleton to landing page banner
  src/pages/landing/LandingPage/ui/LandingPage.skeleton.tsx
  src/widgets/Landing/BannerBlock/index.ts
  src/widgets/Landing/BannerBlock/ui/AvatarGroup/AvatarGroup.module.css
  src/widgets/Landing/BannerBlock/ui/AvatarGroup/AvatarGroupSkeleton.tsx
  src/widgets/Landing/BannerBlock/ui/BannerBlock/BannerBlock.module.css
  src/widgets/Landing/BannerBlock/ui/BannerBlock/BannerBlockSkeleton.tsx
  src/widgets/Landing/BannerBlock/ui/BannerButton/BannerButtonSkeleton.tsx
  src/widgets/Landing/BannerBlock/ui/BannerContent/BannerContentSkeleton.tsx
  src/widgets/Landing/BannerBlock/ui/BannerImage/BannerImage.module.css
  src/widgets/Landing/BannerBlock/ui/BannerImage/BannerImageSkeleton.tsx
  src/widgets/Landing/BannerBlock/ui/BlockDescription/BlockDescriptionSkeleton.tsx
  src/widgets/Landing/BannerBlock/ui/BlockTitle/BlockTitleSkeleton.tsx
  src/widgets/Landing/BannerBlock/ui/Sticker/Sticker.module.css
  src/widgets/Landing/BannerBlock/ui/Sticker/Sticker.tsx
  src/widgets/Landing/BannerBlock/ui/Sticker/StickerSkeleton.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-980: Add tooltips to sidebar items for admin users (#654)
  src/widgets/Sidebar/ui/Sidebar/Sidebar.tsx
  src/widgets/Sidebar/ui/SidebarMenuItem/SidebarCategoryMenuItem.tsx
  src/widgets/Sidebar/ui/SidebarMenuItem/SidebarMenuItem.tsx
  src/widgets/Sidebar/ui/SidebarMenuItem/SidebarSingleMenuItem.tsx
  src/widgets/Sidebar/ui/SidebarMenuList/SidebarMenuList.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-996: feature fix comment
  src/widgets/Landing/BannerBlock/ui/AvatarGroup/AvatarGroup.skeleton.tsx
  src/widgets/Landing/BannerBlock/ui/BannerBlock/BannerBlock.skeleton.tsx
  src/widgets/Landing/BannerBlock/ui/BannerButton/BannerButton.skeleton.tsx
  src/widgets/Landing/BannerBlock/ui/BannerContent/BannerContent.skeleton.tsx
  src/widgets/Landing/BannerBlock/ui/BannerImage/BannerImage.skeleton.tsx
  src/widgets/Landing/BannerBlock/ui/BlockDescription/BlockDescription.skeleton.tsx
  src/widgets/Landing/BannerBlock/ui/BlockTitle/BlockTitle.skeleton.tsx
  src/widgets/Landing/BannerBlock/ui/Sticker/Sticker.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-981: made a favorites system
  public/locales/en/questions.json
  public/locales/en/translation.json
  public/locales/ru/questions.json
  public/locales/ru/translation.json
  src/entities/question/model/types/question.ts
  src/features/quiz/favoriteQuestion/api/favoriteQuestionApi.ts
  src/features/quiz/favoriteQuestion/index.ts
  src/features/quiz/favoriteQuestion/model/favoriteQuestionTypes.ts
  src/features/quiz/favoriteQuestion/ui/FavoriteQuestionButton.module.css
  src/features/quiz/favoriteQuestion/ui/FavoriteQuestionButton.tsx
  src/pages/interview/QuestionPage/ui/QuestionPage.tsx
  src/pages/interview/QuestionsPage/ui/QuestionsPage/QuestionsPage.tsx
  src/shared/assets/icons/favorite.svg
  src/shared/assets/icons/favorite_red.svg
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/hooks/useQueryFilter.ts
  src/shared/ui/Icon/icons.ts
  src/shared/ui/Icon/types.ts
  src/widgets/question/QuestionActions/ui/QuestionActions.tsx
  src/widgets/question/QuestionsFilterPanel/model/types.ts
  src/widgets/question/QuestionsFilterPanel/ui/StatusFilterSection/StatusFilterSection.tsx
  src/widgets/question/QuestionsList/ui/FullQuestionItem/FullQuestionItem.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-983: delete user via admin panel (#651)
  config/jest/jest.config.ts
  public/locales/en/translation.json
  public/locales/en/user.json
  public/locales/ru/translation.json
  public/locales/ru/user.json
  src/features/profile/deleteAccount/api/deleteAccountApi.ts
  src/features/profile/deleteAccount/index.ts
  src/features/profile/deleteAccount/model/types/deleteAccount.ts
  src/features/profile/deleteAccount/ui/DeleteAccountButton/DeleteAccountButton.module.css
  src/features/profile/deleteAccount/ui/DeleteAccountButton/DeleteAccountButton.tsx
  src/features/profile/deleteAccount/ui/modals/AdminDeleteAccountModal/AdminDeleteAccountModal.tsx
  src/features/profile/deleteAccount/ui/modals/UserDeleteAccountModal/UserDeleteAccountModal.module.css
  src/features/profile/deleteAccount/ui/modals/UserDeleteAccountModal/UserDeleteAccountModal.tsx
  src/features/quiz/learnQuestion/ui/LearnQuestionButton.tsx
  src/features/quiz/resetQuestionStudyProgress/ui/ResetQuestionStudyProgressButton.tsx
  src/pages/admin/UserDetailPage/ui/UserDetailPage.module.css
  src/pages/admin/UserDetailPage/ui/UserDetailPage.tsx
  src/pages/admin/UserTablePage/model/selectors/usersPageSelectors.ts
  src/pages/admin/UserTablePage/model/slices/usersPageSlice.ts
  src/pages/admin/UserTablePage/model/types/usersPageTypes.ts
  src/pages/admin/UserTablePage/ui/UserTablePage/UsersTablePage.tsx
  src/pages/profile/SettingsProfilePage/ui/SettingsProfilePage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/hooks/useModal.ts
  src/shared/ui/Modal/Modal.tsx
  src/shared/ui/Modal/index.ts
  src/widgets/Profile/ui/AccountTab/ui/AccountTab.module.css
  src/widgets/Profile/ui/AccountTab/ui/AccountTab.tsx
  src/widgets/interview/PassedQuizzesList/ui/PreviewPassedQuizzesList/PreviewPassedQuizzesList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-966: feature- delete other version files skeleton
  src/widgets/Landing/BannerBlock/ui/AvatarGroup/AvatarGroupSkeleton.tsx
  src/widgets/Landing/BannerBlock/ui/BannerBlock/BannerBlockSkeleton.tsx
  src/widgets/Landing/BannerBlock/ui/BannerButton/BannerButtonSkeleton.tsx
  src/widgets/Landing/BannerBlock/ui/BannerContent/BannerContentSkeleton.tsx
  src/widgets/Landing/BannerBlock/ui/BannerImage/BannerImageSkeleton.tsx
  src/widgets/Landing/BannerBlock/ui/BlockDescription/BlockDescriptionSkeleton.tsx
  src/widgets/Landing/BannerBlock/ui/BlockTitle/BlockTitleSkeleton.tsx
  src/widgets/Landing/BannerBlock/ui/Sticker/StickerSkeleton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-966: add file with exports skeleton
  src/widgets/Landing/BannerBlock/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-966: add file with fix style
  src/widgets/Landing/BannerBlock/ui/Sticker/Sticker.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-966: change css file with fix style
  src/widgets/Landing/BannerBlock/ui/Sticker/Sticker.module.css
Due: npm run lint:css:fix

Path conditions:
  npm run prettier: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:ts:fix: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:css:fix: any of: *.css
