Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1750: applied code review changes
  how --stat f4a69c36
  src/app/index.tsx
  src/entities/user/__mocks__/ratingStatsMock.ts
  src/entities/user/api/userApi.ts
  src/entities/user/model/types/user.ts
  src/pages/analytics/usersRating/ui/RatingStatsTooltip/RatingStatsTooltip.tsx
  src/pages/analytics/usersRating/ui/User/RatingStatsTooltip.tsx
  src/pages/analytics/usersRating/ui/UsersRatingPage/UsersRatingPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1761: fix collection form tasks loading and id types
  src/entities/collection/api/collectionApi.ts
  src/entities/collection/model/constants/collection.ts
  src/entities/collection/ui/CollectionForm/CollectionForm.tsx
  src/entities/task/ui/ChooseTasksDrawer/ChooseTasksDrawer.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1751: Add users questions rating stats by specialization logic
  src/entities/user/__mocks__/data/usersRatingMock.ts
  src/entities/user/__mocks__/index.ts
  src/entities/user/__mocks__/usersRatingMock.ts
  src/entities/user/__mocks__/usersRatingStatsMock.ts
  src/entities/user/api/usersRatingApi.ts
  src/entities/user/index.ts
  src/entities/user/model/constants/usersRatingConstants.ts
  src/entities/user/model/types/usersRating.ts
  src/pages/analytics/usersRating/lib/getOverallProgress/getOverallProgress.ts
  src/pages/analytics/usersRating/ui/CurrentUserRating/CurrentUserRating.tsx
  src/pages/analytics/usersRating/ui/UsersRatingList/UsersRatingList.tsx
  src/pages/analytics/usersRating/ui/UsersRatingPage/UsersRatingPage.tsx
  src/pages/analytics/usersRating/ui/UsersRatingProgressBar/UsersRatingProgressBar.tsx
  src/pages/analytics/usersRating/ui/UsersRatingTable/UsersRatingTable.tsx
  src/widgets/analytics/UsersRatingWidget/lib/getRankedUsers/getRankedUsers.ts
  src/widgets/analytics/UsersRatingWidget/ui/UserRatingItem/UserRatingItem.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1662: added admin referral page
  public/locales/en/referral.json
  public/locales/ru/referral.json
  public/locales/ru/translation.json
  src/app/providers/router/routeConfig.tsx
  src/app/providers/store/config.ts
  src/entities/referrals/api/referralApi.ts
  src/entities/referrals/index.ts
  src/entities/referrals/model/constants/referralConstants.ts
  src/entities/referrals/model/types/referrals.ts
  src/features/referral/filterReferrals/index.ts
  src/features/referral/filterReferrals/model/hooks/useGetReferralsFilterParams.ts
  src/features/referral/filterReferrals/model/hooks/useReferralsFilters.ts
  src/features/referral/filterReferrals/model/types/filters.ts
  src/pages/admin/referral/referrals/index.ts
  src/pages/admin/referral/referrals/model/selectors/referralsPageSelectors.ts
  src/pages/admin/referral/referrals/model/slices/referralsPageSlice.ts
  src/pages/admin/referral/referrals/model/types/referralsPageTypes.ts
  src/pages/admin/referral/referrals/ui/ReferralPage/ReferralPage.tsx
  src/pages/admin/referral/referrals/ui/ReferralTable/ReferralTable.tsx
  src/shared/assets/icons/referralsIcon.svg
  src/shared/config/i18n/i18nNamespaces.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/query/apiTags.ts
  src/shared/config/redux/State.ts
  src/shared/config/router/routes.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1761: fix collection tasks mapping and validation schemas
  src/entities/collection/api/collectionApi.ts
  src/entities/collection/model/constants/collection.ts
  src/entities/collection/model/types/collection.ts
  src/entities/collection/ui/CollectionForm/CollectionForm.tsx
  src/entities/task/@x/collection.ts
  src/features/collections/createCollection/lib/validation/collectionCreateSchema.ts
  src/features/collections/editCollection/lib/validation/collectionEditSchema.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1712: Add topics functionality to questions
  package-lock.json
  package.json
  public/locales/en/questions.json
  public/locales/en/skill.json
  public/locales/ru/questions.json
  public/locales/ru/skill.json
  src/entities/question/model/types/question.ts
  src/entities/question/ui/QuestionAdditionalInfo/QuestionAdditionalInfo.tsx
  src/entities/question/ui/QuestionForm/QuestionForm.tsx
  src/entities/topic/@x/question.ts
  src/entities/topic/index.ts
  src/entities/topic/ui/TopicList/TopicList.tsx
  src/pages/admin/question/questionDetail/ui/QuestionPageContent/QuestionPageContent.tsx
  src/pages/admin/question/questions/ui/QuestionsTable/QuestionsTable.tsx
  src/pages/landing/publicQuestion/ui/PublicQuestionPage/PublicQuestionPage.tsx
  src/pages/wiki/question/questionDetail/ui/QuestionPageContent/QuestionPageContent.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/question/QuestionHeader/ui/QuestionAdditionalInfoDrawer/QuestionAdditionalInfoDrawer.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1761: refactoring CollectionForm, moving logic into hooks
  src/entities/collection/ui/CollectionForm/CollectionForm.tsx
  src/entities/collection/ui/CollectionForm/hooks/useCollectionImage.ts
  src/entities/collection/ui/CollectionForm/hooks/useCollectionQuestions.ts
  src/entities/collection/ui/CollectionForm/hooks/useCollectionTasks.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1712: update skill translations
  public/locales/en/skill.json
  public/locales/ru/skill.json
Due: none

YH-1760: add tasks in collections
  public/locales/en/skill.json
  public/locales/en/task.json
  public/locales/ru/collection.json
  public/locales/ru/skill.json
  public/locales/ru/task.json
  src/entities/collection/index.ts
  src/entities/collection/model/types/collection.ts
  src/entities/collection/ui/CollectionPreview/CollectionPreview.module.css
  src/entities/collection/ui/CollectionPreview/CollectionPreview.tsx
  src/entities/collection/ui/CollectionTasksCount/CollectionTasksCount.module.css
  src/entities/collection/ui/CollectionTasksCount/CollectionTasksCount.tsx
  src/entities/task/index.ts
  src/entities/task/model/types/task.ts
  src/entities/task/ui/TaskWarningInfo/TaskWarningInfo.module.css
  src/entities/task/ui/TaskWarningInfo/TaskWarningInfo.tsx
  src/pages/admin/collection/collectionDetail/ui/CollectionPage/CollectionPage.tsx
  src/pages/admin/collection/collections/ui/CollectionsPage/CollectionsPage.tsx
  src/pages/landing/publicCollection/ui/PublicCollectionPage/PublicCollectionPage.tsx
  src/pages/wiki/collection/collectionDetail/ui/CollectionContent/CollectionContent.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/TextEditor/TextEditor.tsx
  src/widgets/Collection/ui/AdditionalInfo/AdditionalInfo.tsx
  src/widgets/Collection/ui/CollectionAdditionalInfoDrawer/CollectionAdditionalInfoDrawer.tsx
  src/widgets/Collection/ui/CollectionBody/CollectionBody.tsx
  src/widgets/CollectionsTable/ui/CollectionsTable.tsx
  src/widgets/task/TasksList/TasksController/TasksController.module.css
  src/widgets/task/TasksList/TasksController/TasksController.skeleton.tsx
  src/widgets/task/TasksList/TasksController/TasksController.tsx
  src/widgets/task/TasksList/index.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1761: added tasks selection to collection form (#1144)
  public/locales/en/collection.json
  public/locales/ru/collection.json
  src/entities/collection/api/collectionApi.ts
  src/entities/collection/model/constants/collection.ts
  src/entities/collection/model/types/collection.ts
  src/entities/collection/ui/CollectionForm/CollectionForm.tsx
  src/entities/collection/ui/CollectionForm/hooks/useCollectionImage.ts
  src/entities/collection/ui/CollectionForm/hooks/useCollectionQuestions.ts
  src/entities/collection/ui/CollectionForm/hooks/useCollectionTasks.ts
  src/entities/task/@x/collection.ts
  src/entities/task/index.ts
  src/entities/task/ui/ChooseTasksDrawer/ChooseTasksDrawer.module.css
  src/entities/task/ui/ChooseTasksDrawer/ChooseTasksDrawer.tsx
  src/entities/task/ui/ChooseTasksDrawer/TasksSearchList.tsx
  src/entities/task/ui/ChooseTasksDrawer/index.ts
  src/features/collections/createCollection/lib/validation/collectionCreateSchema.ts
  src/features/collections/editCollection/lib/validation/collectionEditSchema.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1765: add styled theme switcher
  src/features/theme/switch-theme/assets/icons/index.ts
  src/features/theme/switch-theme/assets/icons/moon.png
  src/features/theme/switch-theme/assets/icons/sun.png
  src/features/theme/switch-theme/ui/ThemeSwitcher.module.css
  src/features/theme/switch-theme/ui/ThemeSwitcher.tsx
  src/widgets/Header/ui/HeaderLayout/HeaderLayout.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1765: delete unused import
  src/widgets/Header/ui/HeaderLayout/HeaderLayout.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1762: added mock for editTopic
  src/app/msw/handlers.ts
  src/features/topics/editTopic/api/__mocks__/editTopicMock.ts
  src/features/topics/editTopic/api/__mocks__/index.ts
  src/features/topics/editTopic/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1766: add collection creation mock and update task structure
  src/app/index.tsx
  src/app/msw/handlers.ts
  src/entities/collection/api/__mock__/createCollectionMock.ts
  src/entities/collection/api/__mock__/data/collectionsMock.ts
  src/entities/collection/api/__mock__/index.ts
  src/entities/task/api/mocks/taskListMock.ts
  src/entities/task/index.ts
  src/entities/task/model/types/task.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1760: delete props isFree
  src/entities/task/model/types/task.ts
  src/pages/admin/collection/collectionDetail/ui/CollectionPage/CollectionPage.tsx
  src/pages/landing/publicCollection/ui/PublicCollectionPage/PublicCollectionPage.tsx
  src/pages/wiki/collection/collectionDetail/ui/CollectionContent/CollectionContent.tsx
  src/widgets/task/TasksList/TasksController/TasksController.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1752: corrections after review
  src/app/index.tsx
  src/entities/user/__mocks__/index.ts
  src/entities/user/__mocks__/userProfilePositionMock.ts
  src/entities/user/api/usersRatingApi.ts
  src/entities/user/index.ts
  src/entities/user/lib/mapUserProfilePosition.ts
  src/entities/user/model/constants/usersRatingConstants.ts
  src/entities/user/model/types/usersRating.ts
  src/pages/analytics/usersRating/ui/UsersRatingList/UsersRatingList.tsx
  src/pages/analytics/usersRating/ui/UsersRatingPage/UsersRatingPage.tsx
  src/widgets/analytics/UsersRatingWidget/ui/UsersRatingWidget/UsersRatingWidget.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1751: Corrections after review
  src/entities/user/__mocks__/data/usersRatingMock.ts
  src/entities/user/__mocks__/usersRatingMock.ts
  src/entities/user/api/usersRatingApi.ts
  src/entities/user/index.ts
  src/entities/user/model/types/usersRating.ts
  src/pages/analytics/usersRating/ui/UsersRatingPage/UsersRatingPage.tsx
  src/pages/analytics/usersRating/ui/UsersRatingProgressBar/UsersRatingProgressBar.tsx
  src/pages/analytics/usersRating/ui/UsersRatingTable/UsersRatingTable.tsx
  src/pages/analytics/usersRating/ui/UsersTitle/UsersTitle.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1772: added error text for edit question
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/features/question/editQuestion/api/editQuestionApi.ts
  src/features/question/editQuestion/lib/utils/getEditQuestionApiErrorMessage.ts
  src/features/question/editQuestion/model/types/questionEditPageTypes.ts
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1774: update landing urls
  src/app/layouts/LandingLayout/SkeletonGenerator/SkeletonGenerator.tsx
  src/app/layouts/MainLayout/SkeletonGenerator/SkeletonGenerator.tsx
  src/app/providers/router/InterviewRoute.tsx
  src/app/providers/router/PremiumRoute.tsx
  src/app/providers/router/routeConfig.tsx
  src/entities/collection/lib/getCollectionRoute.ts
  src/entities/collection/ui/CollectionPreview/CollectionPreview.tsx
  src/entities/question/lib/getQuestionRoute.test.ts
  src/entities/question/lib/getQuestionRoute.ts
  src/entities/quiz/api/quizApi.ts
  src/features/quiz/finishQuiz/ui/FinishQuizButton/FinishQuizButton.tsx
  src/features/subscriptions/subscribe/ui/SubscribeModal/SubscribeModal.tsx
  src/pages/landing/publicCollection/ui/PublicCollectionPage/PublicCollectionPage.tsx
  src/pages/landing/publicQuiz/ui/PublicQuizPage/PublicQuizPage.tsx
  src/pages/wiki/collection/collectionDetail/ui/CollectionActions/CollectionActions.tsx
  src/shared/config/router/routes.ts
  src/shared/libs/fp/isPathMatch/isPathMatch.ts
  src/widgets/Landing/Header/model/constants/headerConstants.ts
  src/widgets/Landing/Header/ui/AuthorizedBlock/AuthorizedBlock.test.tsx
  src/widgets/Landing/Header/ui/AuthorizedBlock/AuthorizedBlock.tsx
  src/widgets/Landing/Header/ui/Header/Header.tsx
  src/widgets/Landing/InterviewTrainerBlock/ui/InterviewCard/InterviewCard.tsx
  src/widgets/Landing/OldHeader/ui/AuthorizedBlock/AuthorizedBlock.tsx
  src/widgets/Landing/OldHeader/ui/Header/Header.tsx
  src/widgets/Sidebar/model/data/sidebarMock.ts
  src/widgets/interview/PassedQuestionsList/ui/PassedQuestionsItem/PassedQuestionsItem.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1774: update landing urls
  src/app/providers/router/routeConfig.tsx
  src/widgets/Collection/ui/CollectionInterview/InterviewRecordingsBanner.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1773: add error handling for skill edit
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/features/skill/editSkill/api/editSkillApi.ts
  src/features/skill/editSkill/lib/utils/getEditSkillApiErrorMessage.ts
  src/features/skill/editSkill/model/types/skillEditPageTypes.ts
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1774: update landing urls (#1156)
  src/app/layouts/LandingLayout/SkeletonGenerator/SkeletonGenerator.tsx
  src/app/layouts/MainLayout/SkeletonGenerator/SkeletonGenerator.tsx
  src/app/providers/router/InterviewRoute.tsx
  src/app/providers/router/PremiumRoute.tsx
  src/app/providers/router/routeConfig.tsx
  src/entities/collection/lib/getCollectionRoute.ts
  src/entities/collection/ui/CollectionPreview/CollectionPreview.tsx
  src/entities/question/lib/getQuestionRoute.test.ts
  src/entities/question/lib/getQuestionRoute.ts
  src/entities/quiz/api/quizApi.ts
  src/features/quiz/finishQuiz/ui/FinishQuizButton/FinishQuizButton.tsx
  src/features/subscriptions/subscribe/ui/SubscribeModal/SubscribeModal.tsx
  src/pages/landing/publicCollection/ui/PublicCollectionPage/PublicCollectionPage.tsx
  src/pages/landing/publicQuiz/ui/PublicQuizPage/PublicQuizPage.tsx
  src/pages/wiki/collection/collectionDetail/ui/CollectionActions/CollectionActions.tsx
  src/shared/config/router/routes.ts
  src/shared/libs/fp/isPathMatch/isPathMatch.ts
  src/widgets/Collection/ui/CollectionInterview/InterviewRecordingsBanner.tsx
  src/widgets/Landing/Header/model/constants/headerConstants.ts
  src/widgets/Landing/Header/ui/AuthorizedBlock/AuthorizedBlock.test.tsx
  src/widgets/Landing/Header/ui/AuthorizedBlock/AuthorizedBlock.tsx
  src/widgets/Landing/Header/ui/Header/Header.tsx
  src/widgets/Landing/InterviewTrainerBlock/ui/InterviewCard/InterviewCard.tsx
  src/widgets/Landing/OldHeader/ui/AuthorizedBlock/AuthorizedBlock.tsx
  src/widgets/Landing/OldHeader/ui/Header/Header.tsx
  src/widgets/Sidebar/model/data/sidebarMock.ts
  src/widgets/interview/PassedQuestionsList/ui/PassedQuestionsItem/PassedQuestionsItem.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1662: fix review comments for referral links page
  public/locales/en/referral.json
  public/locales/en/referralLink.json
  public/locales/ru/referral.json
  public/locales/ru/referralLink.json
  public/locales/ru/translation.json
  src/app/providers/router/routeConfig.tsx
  src/app/providers/store/config.ts
  src/entities/referralLink/api/referralLinksApi.ts
  src/entities/referralLink/index.ts
  src/entities/referralLink/model/constants/referralLinksConstants.ts
  src/entities/referralLink/model/types/referralLinks.ts
  src/entities/referrals/api/referralApi.ts
  src/entities/referrals/index.ts
  src/entities/referrals/model/constants/referralConstants.ts
  src/entities/referrals/model/types/referrals.ts
  src/features/referral/filterReferrals/index.ts
  src/features/referral/filterReferrals/model/hooks/useGetReferralsFilterParams.ts
  src/features/referral/filterReferrals/model/hooks/useReferralsFilters.ts
  src/features/referral/filterReferrals/model/types/filters.ts
  src/features/referralLinks/filterReferralLinks/index.ts
  src/features/referralLinks/filterReferralLinks/model/hooks/useGetReferralLinksFilterParams.ts
  src/features/referralLinks/filterReferralLinks/model/hooks/useReferralLinksFilters.ts
  src/features/referralLinks/filterReferralLinks/model/types/filters.ts
  src/pages/admin/referral/referrals/index.ts
  src/pages/admin/referral/referrals/model/selectors/referralsPageSelectors.ts
  src/pages/admin/referral/referrals/model/slices/referralsPageSlice.ts
  src/pages/admin/referral/referrals/model/types/referralsPageTypes.ts
  src/pages/admin/referral/referrals/ui/ReferralPage/ReferralPage.tsx
  src/pages/admin/referral/referrals/ui/ReferralTable/ReferralTable.tsx
  src/pages/admin/referralLink/referralLinks/index.ts
  src/pages/admin/referralLink/referralLinks/model/selectors/referralLinksPageSelectors.ts
  src/pages/admin/referralLink/referralLinks/model/slices/referralLinksPageSlice.ts
  src/pages/admin/referralLink/referralLinks/model/types/referralLinksPageTypes.ts
  src/pages/admin/referralLink/referralLinks/ui/ReferralLinksPage/ReferralLinksPage.tsx
  src/pages/admin/referralLink/referralLinks/ui/ReferralLinksTable/ReferralLinksTable.tsx
  src/shared/config/i18n/i18nNamespaces.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/redux/State.ts
  src/shared/config/router/routes.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1712: Add topics functionality to questions
  package-lock.json
  package.json
  public/locales/en/questions.json
  public/locales/ru/questions.json
  src/entities/question/model/types/question.ts
  src/entities/question/ui/QuestionAdditionalInfo/QuestionAdditionalInfo.tsx
  src/entities/question/ui/QuestionForm/QuestionForm.tsx
  src/entities/topic/@x/question.ts
  src/entities/topic/index.ts
  src/entities/topic/ui/TopicList/TopicList.tsx
  src/pages/admin/question/questionDetail/ui/QuestionPageContent/QuestionPageContent.tsx
  src/pages/admin/question/questions/ui/QuestionsTable/QuestionsTable.tsx
  src/pages/landing/publicQuestion/ui/PublicQuestionPage/PublicQuestionPage.tsx
  src/pages/wiki/question/questionDetail/ui/QuestionPageContent/QuestionPageContent.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/question/QuestionHeader/ui/QuestionAdditionalInfoDrawer/QuestionAdditionalInfoDrawer.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1735: fix after review
  config/webpack/webpackDevServer.ts
  src/app/index.tsx
  src/entities/company/index.ts
  src/entities/company/model/constants/companyConstants.ts
  src/features/company/createCompany/api/__mock__/createCompany.ts
  src/features/company/createCompany/index.ts
  src/features/company/createCompany/model/types/companyCreateTypes.ts
Due: npm run prettier, npm run lint:ts:fix

Release 1.8.0
  RELEASE_NOTES.md
  package-lock.json
  package.json
Due: none

YH-1774: fix
  src/shared/libs/app/useCurrentProject/useCurrentProject.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1774: fix (#1161)
  src/shared/libs/app/useCurrentProject/useCurrentProject.ts
Due: npm run prettier, npm run lint:ts:fix

Release 1.8.1
  RELEASE_NOTES.md
  package-lock.json
  package.json
Due: none

YH-1774: fix urls
  src/app/layouts/LandingLayout/LandingLayout.tsx
  src/app/layouts/MainLayout/MainLayout.tsx
  src/app/providers/router/InterviewRoute.tsx
  src/entities/auth/@x/featureFlag.ts
  src/entities/featureFlag/index.ts
  src/entities/featureFlag/model/constants/featureFlags.ts
  src/entities/featureFlag/model/types/featureFlag.ts
  src/entities/featureFlag/ui/WithFeature/WithFeature.tsx
  src/entities/featureToggle/index.ts
  src/entities/featureToggle/model/types/featureToggle.ts
  src/entities/featureToggle/ui/WithFeature/WithFeature.tsx
  src/entities/profile/@x/featureFlag.ts
  src/entities/profile/index.ts
  src/entities/profile/model/selectors/profileSelectors.ts
  src/pages/analytics/analytics/ui/AnalyticsPage/AnalyticsPage.tsx
  src/shared/libs/fp/isPathMatch/isPathMatch.ts
  src/widgets/Header/ui/HeaderLayout/HeaderLayout.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1774: fix urls (#1164)
  src/app/layouts/LandingLayout/LandingLayout.tsx
  src/app/layouts/MainLayout/MainLayout.tsx
  src/app/providers/router/InterviewRoute.tsx
  src/entities/auth/@x/featureFlag.ts
  src/entities/featureFlag/index.ts
  src/entities/featureFlag/model/constants/featureFlags.ts
  src/entities/featureFlag/model/types/featureFlag.ts
  src/entities/featureFlag/ui/WithFeature/WithFeature.tsx
  src/entities/featureToggle/index.ts
  src/entities/featureToggle/model/types/featureToggle.ts
  src/entities/featureToggle/ui/WithFeature/WithFeature.tsx
  src/entities/profile/@x/featureFlag.ts
  src/entities/profile/index.ts
  src/entities/profile/model/selectors/profileSelectors.ts
  src/pages/analytics/analytics/ui/AnalyticsPage/AnalyticsPage.tsx
  src/shared/libs/fp/isPathMatch/isPathMatch.ts
  src/widgets/Header/ui/HeaderLayout/HeaderLayout.tsx
Due: npm run prettier, npm run lint:ts:fix

Release 1.8.2
  RELEASE_NOTES.md
  package-lock.json
  package.json
Due: none

YH-1760: edit import TasksController
  public/locales/en/collection.json
  public/locales/en/task.json
  public/locales/ru/collection.json
  public/locales/ru/task.json
  src/entities/collection/index.ts
  src/entities/task/index.ts
  src/entities/task/ui/TaskCard/TaskCard.tsx
  src/entities/task/ui/TaskWarningInfo/TaskWarningInfo.module.css
  src/pages/admin/collection/collectionDetail/ui/CollectionPage/CollectionPage.tsx
  src/pages/landing/publicCollection/ui/PublicCollectionPage/PublicCollectionPage.tsx
  src/pages/wiki/collection/collectionDetail/ui/CollectionContent/CollectionContent.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/TextEditor/TextEditor.tsx
  src/shared/ui/WarningPopover/WarningPopover.module.css
  src/shared/ui/WarningPopover/WarningPopover.skeleton.tsx
  src/shared/ui/WarningPopover/WarningPopover.tsx
  src/shared/ui/WarningPopover/index.ts
  src/widgets/Collection/ui/CollectionBody/CollectionBody.tsx
  src/widgets/CollectionsTable/ui/CollectionsTable.tsx
  src/widgets/task/TasksList/TasksController/TasksController.module.css
  src/widgets/task/TasksList/TasksController/TasksController.skeleton.tsx
  src/widgets/task/TasksList/index.ts
  src/widgets/task/TasksList/ui/TasksController/TasksController.module.css
  src/widgets/task/TasksList/ui/TasksController/TasksController.skeleton.tsx
  src/widgets/task/TasksList/ui/TasksController/TasksController.tsx
  src/widgets/task/TasksList/ui/TasksList/TasksList.skeleton.tsx
  src/widgets/task/TasksList/ui/TasksList/TasksList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1771: implement specialization edit error handling and mocks
  src/features/specialization/editSpecialization/api/__mocks__/specializationEditMock.ts
  src/features/specialization/editSpecialization/ui/SpecializationEditForm/SpecializationEditForm.tsx
  src/features/specialization/editSpecialization/ui/SpecializationEditFormHeader/SpecializationEditFormHeader.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1771: cleanup code and remove comments
  src/features/specialization/editSpecialization/api/__mocks__/specializationEditMock.ts
  src/features/specialization/editSpecialization/ui/SpecializationEditForm/SpecializationEditForm.tsx
  src/features/specialization/editSpecialization/ui/SpecializationEditFormHeader/SpecializationEditFormHeader.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1662: added admin referral page (#1148)
  public/locales/en/referralLink.json
  public/locales/ru/referralLink.json
  public/locales/ru/translation.json
  src/app/providers/router/routeConfig.tsx
  src/app/providers/store/config.ts
  src/entities/referralLink/api/referralLinksApi.ts
  src/entities/referralLink/index.ts
  src/entities/referralLink/model/constants/referralLinksConstants.ts
  src/entities/referralLink/model/types/referralLinks.ts
  src/features/referralLinks/filterReferralLinks/index.ts
  src/features/referralLinks/filterReferralLinks/model/hooks/useGetReferralLinksFilterParams.ts
  src/features/referralLinks/filterReferralLinks/model/hooks/useReferralLinksFilters.ts
  src/features/referralLinks/filterReferralLinks/model/types/filters.ts
  src/pages/admin/referralLink/referralLinks/index.ts
  src/pages/admin/referralLink/referralLinks/model/selectors/referralLinksPageSelectors.ts
  src/pages/admin/referralLink/referralLinks/model/slices/referralLinksPageSlice.ts
  src/pages/admin/referralLink/referralLinks/model/types/referralLinksPageTypes.ts
  src/pages/admin/referralLink/referralLinks/ui/ReferralLinksPage/ReferralLinksPage.tsx
  src/pages/admin/referralLink/referralLinks/ui/ReferralLinksTable/ReferralLinksTable.tsx
  src/shared/assets/icons/referralsIcon.svg
  src/shared/config/i18n/i18nNamespaces.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/query/apiTags.ts
  src/shared/config/redux/State.ts
  src/shared/config/router/routes.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1760: fix errors
  src/entities/task/ui/TaskCard/TaskCard.tsx
  src/shared/ui/WarningPopover/WarningPopover.tsx
  src/widgets/task/TasksList/ui/TasksController/TasksController.tsx
Due: npm run prettier, npm run lint:ts:fix

Path conditions:
  npm run prettier: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:ts:fix: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:css:fix: any of: *.css
