Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

.lintstagedrc:

{
  "./**/*.{ts,tsx,js,jsx}": ["npm run prettier", "npm run lint:ts:fix"],
  "*.css": "npm run lint:css:fix"
}

YH-1647: Fixed the styles of the modal window for deleting a profile (#1100)
  src/shared/ui/ConfirmationDeleteModal/ConfirmationDeleteModal.module.css
Due: npm run lint:css:fix

YH-1681: added keywords dropdown at collection create page
  src/entities/collection/ui/CollectionForm/CollectionForm.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1692: fixed responsive modal layout
  src/entities/question/model/types/question.ts
  src/entities/quiz/model/types/quiz.ts
  src/shared/ui/Dropdown/Dropdown/Dropdown.tsx
  src/shared/ui/Modal/Modal.module.css
  src/widgets/Collection/ui/AdditionalInfo/AdditionalInfo.tsx
  src/widgets/Collection/ui/CollectionHeader/CollectionHeader.tsx
  src/widgets/analytics/PopularSkillsWidget/ui/PopularSkillsWidget/PopularSkillsWidget.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1703: add Icon stories
  src/shared/ui/Icon/Icon.stories.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1704: added a mock request to get topics and a single topic
  src/app/msw/handlers.ts
  src/entities/topic/api/__mock__/data/index.ts
  src/entities/topic/api/__mock__/data/topicsMocs.ts
  src/entities/topic/api/__mock__/index.ts
  src/entities/topic/api/__mock__/topicListMock.ts
  src/entities/topic/api/__mock__/topicMock.ts
  src/entities/topic/index.ts
  src/entities/topic/model/types/topic.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1704: added a mock request to get topics and a single topic (#1107)
  src/app/msw/handlers.ts
  src/entities/topic/api/__mock__/data/index.ts
  src/entities/topic/api/__mock__/data/topicsMocs.ts
  src/entities/topic/api/__mock__/index.ts
  src/entities/topic/api/__mock__/topicListMock.ts
  src/entities/topic/api/__mock__/topicMock.ts
  src/entities/topic/index.ts
  src/entities/topic/model/types/topic.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1685: add admin tasks list page with filters, table and stubs. (#1098)
  public/locales/en/task.json
  public/locales/en/translation.json
  public/locales/ru/task.json
  public/locales/ru/translation.json
  src/app/providers/router/routeConfig.tsx
  src/app/providers/store/config.ts
  src/pages/admin/task/tasks/index.ts
  src/pages/admin/task/tasks/model/selectors/tasksTablePageSelectors.ts
  src/pages/admin/task/tasks/model/slices/tasksTablePageSlice.ts
  src/pages/admin/task/tasks/model/types/tasksTablePageTypes.ts
  src/pages/admin/task/tasks/ui/TasksTable/TasksTable.tsx
  src/pages/admin/task/tasks/ui/TasksTablePage/TasksTablePage.lazy.tsx
  src/pages/admin/task/tasks/ui/TasksTablePage/TasksTablePage.module.css
  src/pages/admin/task/tasks/ui/TasksTablePage/TasksTablePage.tsx
  src/shared/assets/icons/lifeBuoy.svg
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/redux/State.ts
  src/shared/config/router/routes.ts
  src/shared/libs/app/types.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1690: add character counter and max length limit to TextArea component. (#1099)
  src/shared/ui/TextArea/TextArea.module.css
  src/shared/ui/TextArea/TextArea.tsx
  src/shared/ui/TextArea/types.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

Feature/YH-1624 Stubs for company pages (#1096)
  public/locales/en/companies.json
  public/locales/ru/companies.json
  src/pages/admin/company/companies/ui/CompaniesTablePage/CompaniesTablePage.tsx
  src/pages/admin/company/companyCreate/ui/CompanyCreatePage/CompanyCreatePage.tsx
  src/pages/admin/company/companyDetail/ui/CompanyDetailPage/CompanyDetailPage.tsx
  src/pages/admin/company/companyEdit/ui/CompanyEditPage/CompanyEditPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1692: fixed responsive modal layout (#1105)
  src/entities/question/model/types/question.ts
  src/entities/quiz/model/types/quiz.ts
  src/shared/ui/Dropdown/Dropdown/Dropdown.tsx
  src/shared/ui/Modal/Modal.module.css
  src/widgets/Collection/ui/AdditionalInfo/AdditionalInfo.tsx
  src/widgets/Collection/ui/CollectionHeader/CollectionHeader.tsx
  src/widgets/analytics/PopularSkillsWidget/ui/PopularSkillsWidget/PopularSkillsWidget.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1681: added keywords dropdown at collection create page (#1104)
  src/entities/collection/ui/CollectionForm/CollectionForm.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1601: fix(skill-select): skip skills request until specialization is selected
  src/entities/skill/ui/SkillSelect/SkillSelect.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1705: Added a mock request to get HH analytics
  src/app/msw/handlers.ts
  src/entities/hh/api/__mock__/data/hhAnalyticsMockData.ts
  src/entities/hh/api/__mock__/data/index.ts
  src/entities/hh/api/__mock__/hhAnalyticsMock.ts
  src/entities/hh/api/__mock__/index.ts
  src/entities/hh/index.ts
  src/entities/hh/model/constants/hhConstants.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1703: update Icon stories according to code review
  src/shared/ui/Icon/Icon.stories.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1707: adding tests for the Stub component
  src/shared/ui/Stub/Stub.test.tsx
  src/shared/ui/Stub/Stub.tsx
  src/shared/ui/Stub/constants.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1626: Fixed comments
  src/pages/admin/specialization/specializationDetail/ui/SpecializationDetailPage/SpecializationDetailPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1711: adding a story and creating screenshots from the Avatar component
  .loki/reference/chrome_iphone7_shared_Avatar_Default.png
  .loki/reference/chrome_iphone7_shared_Avatar_With_Border.png
  .loki/reference/chrome_iphone7_shared_Avatar_With_Border_And_Image.png
  .loki/reference/chrome_iphone7_shared_Avatar_With_Image.png
  .loki/reference/chrome_iphone7_shared_Avatar_Without_Image.png
  src/shared/ui/Avatar/Avatar.stories.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1730: add task form
  src/widgets/task/TaskWorkspace/ui/TaskOutput/TaskOutputResult/TaskOutputResult.module.css
Due: npm run lint:css:fix

YH-1730: update question params
  src/entities/question/model/types/question.ts
  src/entities/question/ui/ChooseQuestionsDrawer/ChooseQuestionsDrawer.tsx
  src/pages/admin/question/questions/ui/QuestionsTablePage/QuestionsTablePage.tsx
  src/pages/interview/interview/ui/InterviewPage/InterviewPage.tsx
  src/pages/wiki/question/questions/ui/QuestionsPage/QuestionsPage.tsx
  src/widgets/question/QuestionsList/ui/PreviewQuestionsList/PreviewQuestionsList.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1706: added toast story
  src/shared/ui/Toast/Toast.stories.tsx
  src/shared/ui/Toast/Toast.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1710: Added unit tests for Banner
  src/shared/ui/Banner/Banner.test.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1730: fix comments
  public/locales/ru/task.json
  src/entities/programmingLanguage/ui/ProgrammingLanguageList/ProgrammingLanguageList.tsx
  src/entities/task/ui/TaskCategorySelect/TaskCategorySelect.tsx
  src/entities/task/ui/TaskForm/TaskForm.tsx
  src/features/task/createTask/api/createTaskApi.ts
  src/features/task/editTask/ui/TaskEditForm/TaskEditForm.tsx
  src/pages/admin/task/taskCreate/ui/TaskCreatePage/TaskCreatePage.lazy.tsx
  src/pages/admin/task/taskDetail/ui/TaskBody/TaskBody.tsx
  src/shared/ui/TextHtml/TextHtml.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1730: fix comments
  src/shared/ui/TextHtml/TextHtml.tsx
Due: npm run prettier, npm run lint:ts:fix

Release 1.7.0
  RELEASE_NOTES.md
  package-lock.json
  package.json
Due: none

add placeholder in TextArea
  src/entities/question/ui/QuestionForm/QuestionForm.tsx
Due: npm run prettier, npm run lint:ts:fix

add placeholder in TextArea (#1116)
  src/entities/question/ui/QuestionForm/QuestionForm.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1626: Added stubs for specializations (#1089)
  public/locales/en/specialization.json
  public/locales/ru/specialization.json
  src/pages/admin/specialization/specializationCreate/ui/SpecializationCreatePage/SpecializationCreatePage.tsx
  src/pages/admin/specialization/specializationDetail/ui/SpecializationDetailPage/SpecializationDetailPage.tsx
  src/pages/admin/specialization/specializationEdit/ui/SpecializationEditPage/SpecializationEditPage.tsx
  src/pages/admin/specialization/specializations/ui/SpecializationsPage/SpecializationsPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1703: add Icon stories (#1106)
  src/shared/ui/Icon/Icon.stories.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1705: Added a mock request to get HH analytics (#1109)
  src/app/msw/handlers.ts
  src/entities/hh/api/__mock__/data/hhAnalyticsMockData.ts
  src/entities/hh/api/__mock__/data/index.ts
  src/entities/hh/api/__mock__/hhAnalyticsMock.ts
  src/entities/hh/api/__mock__/index.ts
  src/entities/hh/index.ts
  src/entities/hh/model/constants/hhConstants.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1706: added toast story (#1113)
  src/shared/ui/Toast/Toast.stories.tsx
  src/shared/ui/Toast/Toast.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1711: adding a story and creating screenshots from the Avatar component (#1111)
  .loki/reference/chrome_iphone7_shared_Avatar_Default.png
  .loki/reference/chrome_iphone7_shared_Avatar_With_Border.png
  .loki/reference/chrome_iphone7_shared_Avatar_With_Border_And_Image.png
  .loki/reference/chrome_iphone7_shared_Avatar_With_Image.png
  .loki/reference/chrome_iphone7_shared_Avatar_Without_Image.png
  src/shared/ui/Avatar/Avatar.stories.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1601: added prop withSpecialization
  src/entities/skill/ui/SkillSelect/SkillSelect.tsx
  src/entities/topic/ui/TopicForm/TopicForm.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1707: adding tests for the Stub component
  src/shared/ui/Stub/Stub.test.tsx
  src/shared/ui/Stub/Stub.tsx
  src/shared/ui/Stub/constants.ts
  src/shared/ui/Stub/index.ts
  src/shared/ui/Stub/types.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1707: adding tests for the Stub component
  src/shared/ui/Stub/Stub.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1723: feat: add validation for question create form
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/entities/question/ui/QuestionForm/QuestionForm.module.css
  src/entities/question/ui/QuestionForm/QuestionForm.tsx
  src/entities/skill/ui/SkillSelect/SkillSelect.tsx
  src/entities/specialization/ui/SpecializationSelect/SpecializationSelect.tsx
  src/features/question/createQuestion/lib/validation/questionCreateSchema.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/TextEditor/TextEditor.module.css
  src/shared/ui/TextEditor/TextEditor.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1722: fixed password validation rules in registration schema
  src/shared/libs/app/regexp.ts
  src/widgets/authentication/registration/lib/validation/registerSchema.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1725: fix password validation rules in changePassword module
  src/features/profile/changePassword/lib/validation/changePasswordSchema.ts
  src/shared/libs/app/regexp.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1726: fix password validation rules in passwordRecovery module
  src/shared/libs/app/regexp.ts
  src/widgets/authentication/passwordRecovery/lib/validation/passwordRecoverySchema.ts
Due: npm run prettier, npm run lint:ts:fix
