Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

.lintstagedrc:

{
  "./**/*.{ts,tsx,js,jsx}": ["npm run prettier", "npm run lint:ts:fix"],
  "*.css": "npm run lint:css:fix"
}

YH-814: Add PieChart in Storybook (#510)
  .loki/reference/chrome_iphone7_shared_charts_PieChart_Primary.png
  .loki/reference/chrome_iphone7_shared_charts_PieChart_Skeleton.png
  .loki/reference/chrome_laptop_shared_charts_PieChart_Primary.png
  .loki/reference/chrome_laptop_shared_charts_PieChart_Skeleton.png
  src/shared/ui/charts/PieChart/ui/PieChart/PieChart.stories.tsx
  src/shared/ui/charts/PieChart/ui/PieChart/PieChart.tsx
Due: npm run prettier, npm run lint:ts:fix

feature/YH-725 (#493)
  src/entities/question/api/__mocks__/questionListMock.ts
  src/entities/skill/api/__mocks__/data/skillsMock.ts
  src/entities/skill/api/__mocks__/index.ts
  src/entities/skill/api/__mocks__/skillListMock.ts
  src/entities/specialization/api/__mocks__/specializationListMock.ts
Due: npm run prettier, npm run lint:ts:fix

YH-827: Fix text styles, paddings, and shadow in interview history widgets
  src/widgets/interview/PassedQuizzesList/ui/PreviewPassedQuizzesItem/PreviewPassedQuizzesItem.tsx
  src/widgets/interview/PassedQuizzesList/ui/PreviewPassedQuizzesList/PreviewPassedQuizzesList.module.css
  src/widgets/interview/PassedQuizzesList/ui/PreviewPassedQuizzesList/PreviewPassedQuizzesList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-824: Fix footer
  src/shared/ui/AppLogo/AppLogo.tsx
  src/widgets/Landing/Footer/ui/Footer.module.css
  src/widgets/Landing/Footer/ui/Footer.tsx
  src/widgets/Landing/Header/ui/Header/Header.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-822: Fixed Header
  src/widgets/Landing/Header/ui/Header/Header.module.css
  src/widgets/Landing/Header/ui/Header/Header.tsx
  src/widgets/Landing/Header/ui/HeaderLink/HeaderLink.module.css
  src/widgets/Landing/Header/ui/HeaderLink/HeaderLink.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-817: Fixed clone feature
  src/entities/quiz/api/quizApi.ts
  src/entities/quiz/model/constants/quizConstants.ts
  src/pages/interview/InterviewQuizResultPage/ui/InterviewQuizResultPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-829: Fix skeleton display on few pages
  src/app/layouts/MainLayout/model/helper/SkeletonGenerator.tsx
  src/app/layouts/MainLayout/ui/MainLayout.tsx
  src/pages/interview/InterviewHistoryPage/ui/InterviewHistoryPage.module.css
  src/pages/interview/InterviewHistoryPage/ui/InterviewHistoryPage.skeleton.tsx
  src/pages/interview/InterviewHistoryPage/ui/InterviewHistoryPage.tsx
  src/pages/interview/InterviewStatisticsPage/index.ts
  src/widgets/interview/PassedQuizzesList/ui/FullPassedQuizzesList/FullPassedQuizzesList.module.css
  src/widgets/interview/PassedQuizzesList/ui/FullPassedQuizzesList/FullPassedQuizzesList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-827: fix title center, padding list mobile and tablet
  src/widgets/interview/PassedQuizzesList/ui/PreviewPassedQuizzesList/PreviewPassedQuizzesList.module.css
  src/widgets/interview/PassedQuizzesList/ui/PreviewPassedQuizzesList/PreviewPassedQuizzesList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-833: ui textArea added
  src/entities/collection/ui/CollectionForm/CollectionForm.tsx
  src/entities/question/ui/QuestionForm/QuestionForm.tsx
  src/entities/skill/ui/SkillForm/SkillForm.tsx
  src/entities/specialization/ui/SpecializationForm/SpecializationForm.tsx
  src/features/profile/editProfileForm/ui/AboutMeTabForm/AboutMeTabForm.tsx
  src/shared/ui/TextArea/index.ts
  src/shared/ui/TextArea/model/types.ts
  src/shared/ui/TextArea/ui/TextArea.module.css
  src/shared/ui/TextArea/ui/TextArea.stories.tsx
  src/shared/ui/TextArea/ui/TextArea.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-829: Fix skeleton display on few pages (#528)
  src/app/layouts/MainLayout/model/helper/SkeletonGenerator.tsx
  src/app/layouts/MainLayout/ui/MainLayout.tsx
  src/pages/interview/InterviewHistoryPage/ui/InterviewHistoryPage.module.css
  src/pages/interview/InterviewHistoryPage/ui/InterviewHistoryPage.skeleton.tsx
  src/pages/interview/InterviewHistoryPage/ui/InterviewHistoryPage.tsx
  src/pages/interview/InterviewStatisticsPage/index.ts
  src/widgets/interview/PassedQuizzesList/ui/FullPassedQuizzesList/FullPassedQuizzesList.module.css
  src/widgets/interview/PassedQuizzesList/ui/FullPassedQuizzesList/FullPassedQuizzesList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-824: Fixed footer logo, margin
  src/shared/ui/AppLogo/AppLogo.module.css
  src/shared/ui/AppLogo/AppLogo.tsx
  src/widgets/Landing/Footer/ui/Footer.module.css
  src/widgets/Landing/Footer/ui/Footer.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-827: Fix text styles, paddings, and shadow in interview history (#527)
  src/widgets/interview/PassedQuizzesList/ui/PreviewPassedQuizzesItem/PreviewPassedQuizzesItem.tsx
  src/widgets/interview/PassedQuizzesList/ui/PreviewPassedQuizzesList/PreviewPassedQuizzesList.module.css
  src/widgets/interview/PassedQuizzesList/ui/PreviewPassedQuizzesList/PreviewPassedQuizzesList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

Feature/yh 817 : Clone Button (#516)
  src/entities/quiz/api/quizApi.ts
  src/entities/quiz/index.ts
  src/entities/quiz/model/constants/quizConstants.ts
  src/pages/interview/InterviewQuizResultPage/ui/InterviewQuizResultPage.tsx
  src/widgets/interview/PassedQuestionsList/ui/PassedQuestionsList/PassedQuestionsList.module.css
  src/widgets/interview/PassedQuestionsList/ui/PassedQuestionsList/PassedQuestionsList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-822: Fixed padding header
  src/widgets/Landing/Header/ui/Header/Header.module.css
  src/widgets/Landing/Header/ui/Header/Header.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-832: moved Range from UI kit
  src/entities/question/ui/QuestionForm/QuestionForm.tsx
  src/shared/ui/Range/index.ts
  src/shared/ui/Range/model/types.ts
  src/shared/ui/Range/ui/Range.module.css
  src/shared/ui/Range/ui/Range.stories.tsx
  src/shared/ui/Range/ui/Range.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-833: Constants add
  src/shared/constants/textAreaConstants.ts
  src/shared/ui/TextArea/ui/TextArea.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-824: Fixed footer margin
  src/widgets/Landing/Footer/ui/Footer.module.css
Due: npm run lint:css:fix

YH-833: Changed name constant
  src/shared/constants/textAreaConstants.ts
  src/shared/ui/TextArea/model/constants.ts
  src/shared/ui/TextArea/ui/TextArea.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-819: Added <CreatePublicQuizPage/> To Landing
  public/images/404.avif
  public/locales/en/interviewQuizCreate.json
  public/locales/en/landing.json
  public/locales/en/questions.json
  public/locales/ru/interviewQuizCreate.json
  public/locales/ru/landing.json
  public/locales/ru/questions.json
  src/app/providers/router/config/routeConfig.tsx
  src/app/providers/store/config/config.ts
  src/entities/question/ui/ChooseQuestionComplexity/ChooseQuestionComplexity.tsx
  src/entities/question/ui/ChooseQuestionCount/ChooseQuestionCount.tsx
  src/entities/question/ui/ChooseQuestionsCategories/ChooseQuestionsCategories.tsx
  src/entities/question/ui/ChooseSpecialization/ChooseSpecialization.tsx
  src/entities/quiz/api/quizApi.ts
  src/entities/quiz/index.ts
  src/entities/quiz/model/constants/quizConstants.ts
  src/entities/quiz/model/types/quiz.ts
  src/entities/quiz/ui/QuizQuestionMode/QuizQuestionMode.tsx
  src/pages/landing/CreatePublicQuizPage/index.ts
  src/pages/landing/CreatePublicQuizPage/model/hooks/useQueryFilter.ts
  src/pages/landing/CreatePublicQuizPage/model/selectors/createPublicQuizPageSelectors.ts
  src/pages/landing/CreatePublicQuizPage/model/slices/CreatePublicQuizPageSlice.ts
  src/pages/landing/CreatePublicQuizPage/model/types/CreatePublicQuizPageTypes.ts
  src/pages/landing/CreatePublicQuizPage/ui/CreatePublicQuizPage.lazy.ts
  src/pages/landing/CreatePublicQuizPage/ui/CreatePublicQuizPage.module.css
  src/pages/landing/CreatePublicQuizPage/ui/CreatePublicQuizPage.skeleton.tsx
  src/pages/landing/CreatePublicQuizPage/ui/CreatePublicQuizPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
  src/shared/config/store/State.ts
  src/shared/constants/queryConstants.ts
  src/shared/ui/BaseFilterSection/BaseFilterSection.tsx
  src/shared/ui/Chip/ui/Chip.module.css
  src/shared/ui/Counter/Counter.tsx
  src/widgets/Landing/Header/ui/Header/Header.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

Fix/yh 824 (#519)
  src/shared/ui/AppLogo/AppLogo.module.css
  src/shared/ui/AppLogo/AppLogo.tsx
  src/widgets/Landing/Footer/ui/Footer.module.css
  src/widgets/Landing/Footer/ui/Footer.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

Feature/yh 833 (#529)
  src/entities/collection/ui/CollectionForm/CollectionForm.tsx
  src/entities/question/ui/QuestionForm/QuestionForm.tsx
  src/entities/skill/ui/SkillForm/SkillForm.tsx
  src/entities/specialization/ui/SpecializationForm/SpecializationForm.tsx
  src/features/profile/editProfileForm/ui/AboutMeTabForm/AboutMeTabForm.tsx
  src/shared/ui/TextArea/index.ts
  src/shared/ui/TextArea/model/constants.ts
  src/shared/ui/TextArea/model/types.ts
  src/shared/ui/TextArea/ui/TextArea.module.css
  src/shared/ui/TextArea/ui/TextArea.stories.tsx
  src/shared/ui/TextArea/ui/TextArea.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

Fix/yh 822 (#520)
  src/widgets/Landing/Header/ui/Header/Header.module.css
  src/widgets/Landing/Header/ui/Header/Header.tsx
  src/widgets/Landing/Header/ui/HeaderLink/HeaderLink.module.css
  src/widgets/Landing/Header/ui/HeaderLink/HeaderLink.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-839: - fix bug with username
  public/locales/en/auth.json
  public/locales/en/profile.json
  public/locales/en/translation.json
  public/locales/en/user.json
  public/locales/ru/auth.json
  public/locales/ru/profile.json
  public/locales/ru/translation.json
  public/locales/ru/user.json
  src/entities/auth/api/__mocks__/data/authMockResponse.ts
  src/entities/auth/api/__mocks__/data/authProfileQueryMockResponse.ts
  src/entities/auth/model/types/auth.ts
  src/entities/profile/ui/EmailVerifyStub/EmailVerifyStub.tsx
  src/entities/user/model/types/user.ts
  src/entities/user/ui/UserCard/UserCard.tsx
  src/features/authentication/registration/ui/RegisterForm/RegisterForm.tsx
  src/features/profile/editProfileForm/api/editProfileApi.ts
  src/features/profile/editProfileForm/helpers/editProfileFormHelpers.ts
  src/features/profile/editProfileForm/model/lib/validation/editProfileSchema.ts
  src/features/profile/editProfileForm/model/types/editProfileTypes.ts
  src/features/profile/editProfileForm/ui/PersonalInformationTabForm/PersonalInformationTabForm.tsx
  src/pages/auth/LoginPage/ui/LoginPage.tsx
  src/pages/interview/MainPage/ui/MainPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/Header/ui/UserPreferences/UserPreferences.tsx
  src/widgets/Header/ui/UserPreferencesHeader/UserPreferencesHeader.tsx
  src/widgets/Landing/Header/ui/AuthorizedBlock/AuthorizedBlock.tsx
  src/widgets/Landing/Header/ui/Header/Header.tsx
  src/widgets/Main/IncompleteProfileStub/ui/IncompleteProfileStub.tsx
  src/widgets/Profile/ui/UserCard/ui/UserInfoBlock/UserInfoBlock.tsx
  src/widgets/UsersTable/ui/UsersTable.tsx
  src/widgets/registration/model/lib/validation/registerSchema.ts
Due: npm run prettier, npm run lint:ts:fix

YH-819: FIX: Filter logic has been fixed
  src/pages/landing/CreatePublicQuizPage/model/hooks/useQueryFilter.ts
  src/pages/landing/CreatePublicQuizPage/ui/CreatePublicQuizPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-839: - fix bug with username (#532)
  public/locales/en/auth.json
  public/locales/en/profile.json
  public/locales/en/translation.json
  public/locales/en/user.json
  public/locales/ru/auth.json
  public/locales/ru/profile.json
  public/locales/ru/translation.json
  public/locales/ru/user.json
  src/entities/auth/api/__mocks__/data/authMockResponse.ts
  src/entities/auth/api/__mocks__/data/authProfileQueryMockResponse.ts
  src/entities/auth/model/types/auth.ts
  src/entities/profile/ui/EmailVerifyStub/EmailVerifyStub.tsx
  src/entities/user/model/types/user.ts
  src/entities/user/ui/UserCard/UserCard.tsx
  src/features/authentication/registration/ui/RegisterForm/RegisterForm.tsx
  src/features/profile/editProfileForm/api/editProfileApi.ts
  src/features/profile/editProfileForm/helpers/editProfileFormHelpers.ts
  src/features/profile/editProfileForm/model/lib/validation/editProfileSchema.ts
  src/features/profile/editProfileForm/model/types/editProfileTypes.ts
  src/features/profile/editProfileForm/ui/PersonalInformationTabForm/PersonalInformationTabForm.tsx
  src/pages/auth/LoginPage/ui/LoginPage.tsx
  src/pages/interview/MainPage/ui/MainPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/Header/ui/UserPreferences/UserPreferences.tsx
  src/widgets/Header/ui/UserPreferencesHeader/UserPreferencesHeader.tsx
  src/widgets/Landing/Header/ui/AuthorizedBlock/AuthorizedBlock.tsx
  src/widgets/Landing/Header/ui/Header/Header.tsx
  src/widgets/Main/IncompleteProfileStub/ui/IncompleteProfileStub.tsx
  src/widgets/Profile/ui/UserCard/ui/UserInfoBlock/UserInfoBlock.tsx
  src/widgets/UsersTable/ui/UsersTable.tsx
  src/widgets/registration/model/lib/validation/registerSchema.ts
Due: npm run prettier, npm run lint:ts:fix

YH-834: Transfer Radio from UI-Kit
  src/entities/collection/ui/CollectionForm/CollectionForm.tsx
  src/shared/ui/Radio/index.ts
  src/shared/ui/Radio/model/constants.ts
  src/shared/ui/Radio/model/types.ts
  src/shared/ui/Radio/ui/Radio.module.css
  src/shared/ui/Radio/ui/Radio.stories.tsx
  src/shared/ui/Radio/ui/Radio.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-819: FIX After Lead Review
  public/locales/en/questions.json
  public/locales/ru/questions.json
  src/entities/question/ui/ChooseQuestionComplexity/ChooseQuestionComplexity.tsx
  src/entities/question/ui/ChooseQuestionCount/ChooseQuestionCount.tsx
  src/entities/question/ui/ChooseSpecialization/ChooseSpecialization.tsx
  src/entities/quiz/ui/QuizQuestionMode/QuizQuestionMode.tsx
  src/pages/landing/CreatePublicQuizPage/ui/CreatePublicQuizPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/constants/queryConstants.ts
Due: npm run prettier, npm run lint:ts:fix

YH-819: Added <CreatePublicQuizPage/> To Landing (#531)
  public/images/404.avif
  public/locales/en/interviewQuizCreate.json
  public/locales/en/landing.json
  public/locales/en/questions.json
  public/locales/ru/interviewQuizCreate.json
  public/locales/ru/landing.json
  public/locales/ru/questions.json
  src/app/providers/router/config/routeConfig.tsx
  src/app/providers/store/config/config.ts
  src/entities/question/ui/ChooseQuestionComplexity/ChooseQuestionComplexity.tsx
  src/entities/question/ui/ChooseQuestionCount/ChooseQuestionCount.tsx
  src/entities/question/ui/ChooseQuestionsCategories/ChooseQuestionsCategories.tsx
  src/entities/question/ui/ChooseSpecialization/ChooseSpecialization.tsx
  src/entities/quiz/api/quizApi.ts
  src/entities/quiz/index.ts
  src/entities/quiz/model/constants/quizConstants.ts
  src/entities/quiz/model/types/quiz.ts
  src/entities/quiz/ui/QuizQuestionMode/QuizQuestionMode.tsx
  src/pages/landing/CreatePublicQuizPage/index.ts
  src/pages/landing/CreatePublicQuizPage/model/hooks/useQueryFilter.ts
  src/pages/landing/CreatePublicQuizPage/model/selectors/createPublicQuizPageSelectors.ts
  src/pages/landing/CreatePublicQuizPage/model/slices/CreatePublicQuizPageSlice.ts
  src/pages/landing/CreatePublicQuizPage/model/types/CreatePublicQuizPageTypes.ts
  src/pages/landing/CreatePublicQuizPage/ui/CreatePublicQuizPage.lazy.ts
  src/pages/landing/CreatePublicQuizPage/ui/CreatePublicQuizPage.module.css
  src/pages/landing/CreatePublicQuizPage/ui/CreatePublicQuizPage.skeleton.tsx
  src/pages/landing/CreatePublicQuizPage/ui/CreatePublicQuizPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
  src/shared/config/store/State.ts
  src/shared/constants/queryConstants.ts
  src/shared/ui/BaseFilterSection/BaseFilterSection.tsx
  src/shared/ui/Chip/ui/Chip.module.css
  src/shared/ui/Counter/Counter.tsx
  src/widgets/Landing/Header/ui/Header/Header.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-848: fix double request to clone quiz
  src/entities/quiz/api/quizApi.ts
Due: npm run prettier, npm run lint:ts:fix

YH-843: hide text logo with close sidebar
  src/shared/ui/AppLogo/AppLogo.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-843: hide text logo with close sidebar (#535)
  src/shared/ui/AppLogo/AppLogo.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-836: moved FormControl from UIkit
  src/shared/ui/FormControl/ui/FormControl.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-844: FIX Tooltips in the platform when creating quiz
  src/entities/question/ui/ChooseQuestionComplexity/ChooseQuestionComplexity.tsx
  src/entities/question/ui/ChooseQuestionCount/ChooseQuestionCount.tsx
  src/entities/quiz/ui/QuizQuestionMode/QuizQuestionMode.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-848: fix double request to clone quiz (#534)
  src/entities/quiz/api/quizApi.ts
Due: npm run prettier, npm run lint:ts:fix

YH-847: Add modal warning about interrupt quiz
  public/locales/en/interviewQuiz.json
  public/locales/ru/interviewQuiz.json
  src/pages/interview/InterviewQuizPage/ui/InterviewQuizPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-846: add modal on interviewQuizResultPage
  public/locales/en/interviewQuiz.json
  public/locales/ru/interviewQuiz.json
  src/features/quiz/resetActiveQuizModal/index.ts
  src/features/quiz/resetActiveQuizModal/ui/ResetActiveQuizModal.tsx
  src/pages/interview/InterviewQuizResultPage/ui/InterviewQuizResultPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-732: fix error
  src/shared/hooks/useQueryFilter.ts
Due: npm run prettier, npm run lint:ts:fix

YH-846: add modal on interviewQuizResultPage (#540)
  public/locales/en/interviewQuiz.json
  public/locales/ru/interviewQuiz.json
  src/features/quiz/resetActiveQuizModal/index.ts
  src/features/quiz/resetActiveQuizModal/ui/ResetActiveQuizModal.tsx
  src/pages/interview/InterviewQuizResultPage/ui/InterviewQuizResultPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix
