Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

.lintstagedrc:

{
  "./**/*.{ts,tsx,js,jsx}": ["npm run prettier", "npm run lint:ts:fix"],
  "*.css": "npm run lint:css:fix"
}

Release 1.5.0
  RELEASE_NOTES.md
  package-lock.json
  package.json
Due: none

YH-1558: added changes
  src/entities/guru/index.ts
  src/widgets/Landing/AdvantagesBlock/ui/AdvantagesBlock.skeleton.tsx
  src/widgets/Landing/AdvantagesBlock/ui/AdvantagesList/AdvantagesList.skeleton.tsx
  src/widgets/Landing/MentorsBlock/ui/MentorCard/MentorsCard.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1575: added correct text for possible errors when creating collection
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/features/collections/createCollection/api/createCollectionApi.ts
  src/features/collections/createCollection/index.ts
  src/features/collections/createCollection/lib/utils/getCreateCollectionsApiErrorMessage.ts
  src/features/collections/createCollection/model/types/collectionCreateTypes.ts
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

Release 1.5.1
  RELEASE_NOTES.md
  package-lock.json
  package.json
  src/features/subscriptions/subscribe/api/getPaymentUrl.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1607: fix [admin] Incorrect table element selection
  src/shared/ui/Table/Table.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1607: fix [admin] Incorrect table element selection (#1067)
  src/shared/ui/Table/Table.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1575: added correct text for possible errors when creating collection (#1063)
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/features/collections/createCollection/api/createCollectionApi.ts
  src/features/collections/createCollection/index.ts
  src/features/collections/createCollection/lib/utils/getCreateCollectionsApiErrorMessage.ts
  src/features/collections/createCollection/model/types/collectionCreateTypes.ts
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1558: add skeleton for learning page (#1060)
  src/app/layouts/LandingLayout/SkeletonGenerator/SkeletonGenerator.tsx
  src/entities/guru/index.ts
  src/pages/landing/learning/index.ts
  src/pages/landing/learning/ui/LearningPage/LearningPage.skeleton.tsx
  src/widgets/Landing/AdvantagesBlock/index.ts
  src/widgets/Landing/AdvantagesBlock/ui/AdvantagesBlock.skeleton.tsx
  src/widgets/Landing/AdvantagesBlock/ui/AdvantagesList/AdvantagesList.module.css
  src/widgets/Landing/AdvantagesBlock/ui/AdvantagesList/AdvantagesList.skeleton.tsx
  src/widgets/Landing/MentorsBlock/index.ts
  src/widgets/Landing/MentorsBlock/ui/MentorCard/MentorsCard.skeleton.tsx
  src/widgets/Landing/MentorsBlock/ui/MentorsBlock/MentorsBlock.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1500: fix param
  src/entities/company/model/types/companyTypes.ts
  src/features/company/filterCompanies/model/hooks/useCompaniesFilters.ts
  src/features/company/filterCompanies/model/hooks/useGetCompaniesFilterParams.ts
  src/features/company/filterCompanies/model/types/filters.ts
  src/features/company/filterCompanies/ui/CompaniesFilters/CompaniesFilters.tsx
  src/pages/admin/company/companies/ui/CompaniesTablePage/CompaniesTablePage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1547: fix modal error
  public/locales/en/user.json
  public/locales/ru/user.json
  src/features/profile/deleteAccount/ui/AdminDeleteAccountModal/AdminDeleteAccountModal.module.css
  src/features/profile/deleteAccount/ui/AdminDeleteAccountModal/AdminDeleteAccountModal.tsx
  src/shared/ui/ConfirmationDeleteModal/ConfiramationDeleteModal.tsx
  src/shared/ui/ConfirmationDeleteModal/ConfirmationDeleteModal.module.css
  src/shared/ui/Modal/Modal.module.css
  src/shared/ui/Modal/Modal.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1500: Added filter button for companies (#1037)
  public/locales/en/companies.json
  public/locales/ru/companies.json
  src/entities/company/model/types/companyTypes.ts
  src/features/company/filterCompanies/index.ts
  src/features/company/filterCompanies/model/hooks/useCompaniesFilters.ts
  src/features/company/filterCompanies/model/hooks/useGetCompaniesFilterParams.ts
  src/features/company/filterCompanies/model/types/filters.ts
  src/features/company/filterCompanies/ui/CompaniesFilters/CompaniesFilters.tsx
  src/pages/admin/company/companies/ui/CompaniesTablePage/CompaniesTablePage.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1547: fix modal error (#1068)
  public/locales/en/user.json
  public/locales/ru/user.json
  src/features/profile/deleteAccount/ui/AdminDeleteAccountModal/AdminDeleteAccountModal.module.css
  src/features/profile/deleteAccount/ui/AdminDeleteAccountModal/AdminDeleteAccountModal.tsx
  src/shared/ui/ConfirmationDeleteModal/ConfiramationDeleteModal.tsx
  src/shared/ui/ConfirmationDeleteModal/ConfirmationDeleteModal.module.css
  src/shared/ui/Modal/Modal.module.css
  src/shared/ui/Modal/Modal.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1558: fix skeleton
  src/app/layouts/LandingLayout/SkeletonGenerator/SkeletonGenerator.tsx
  src/entities/question/api/__mocks__/data/questionsMock.ts
  src/features/profile/editProfileForm/model/types/editProfileTypes.ts
  src/features/subscriptions/unsubscribe/ui/UnsubscribeModal/UnsubscribeModal.module.css
  src/features/subscriptions/unsubscribe/ui/UnsubscribeModal/UnsubscribeModal.tsx
  src/widgets/Landing/Footer/ui/FooterLinks/FooterLinks.stories.tsx
  src/widgets/Landing/Footer/ui/FooterLinks/FooterLinks.test.tsx
  src/widgets/Landing/Footer/ui/FooterLinks/FooterLinks.tsx
  src/widgets/Main/SubscribeToMedia/ui/SubscribeToMedia.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1608: remove renderControlledComponent function, extract types/constants
  src/shared/ui/Tabs/Tabs.test.tsx
  src/shared/ui/Tabs/Tabs.tsx
  src/shared/ui/Tabs/constants.ts
  src/shared/ui/Tabs/types.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1566: resolved issue with titles in list of questions and duplicated logic
  src/pages/landing/publicQuestions/ui/PublicQuestionsPage/PublicQuestionsPage.tsx
  src/pages/wiki/question/questions/ui/QuestionsPage/QuestionsPage.tsx
  src/widgets/question/QuestionsList/ui/FullQuestionsList/FullQuestionsList.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-876: added comprehensive tests for TextArea component with 100% coverage
  src/shared/ui/TextArea/TextArea.test.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1558: fix skeleton (#1069)
  src/app/layouts/LandingLayout/SkeletonGenerator/SkeletonGenerator.tsx
  src/entities/question/api/__mocks__/data/questionsMock.ts
  src/features/profile/editProfileForm/model/types/editProfileTypes.ts
  src/features/subscriptions/unsubscribe/ui/UnsubscribeModal/UnsubscribeModal.module.css
  src/features/subscriptions/unsubscribe/ui/UnsubscribeModal/UnsubscribeModal.tsx
  src/widgets/Landing/Footer/ui/FooterLinks/FooterLinks.stories.tsx
  src/widgets/Landing/Footer/ui/FooterLinks/FooterLinks.test.tsx
  src/widgets/Landing/Footer/ui/FooterLinks/FooterLinks.tsx
  src/widgets/Main/SubscribeToMedia/ui/SubscribeToMedia.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1566: added empty questions stub for no questions state (#1058)
  public/locales/en/questions.json
  public/locales/ru/questions.json
  src/pages/landing/publicQuestions/ui/PublicQuestionsPage/PublicQuestionsPage.module.css
  src/pages/landing/publicQuestions/ui/PublicQuestionsPage/PublicQuestionsPage.tsx
  src/pages/wiki/question/questions/ui/QuestionsPage/QuestionsPage.module.css
  src/pages/wiki/question/questions/ui/QuestionsPage/QuestionsPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/question/QuestionsList/ui/FullQuestionsList/FullQuestionsList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1608: update unit tests for Tabs component (#1059)
  src/shared/ui/Tabs/Tabs.test.tsx
  src/shared/ui/Tabs/Tabs.tsx
  src/shared/ui/Tabs/constants.ts
  src/shared/ui/Tabs/types.ts
Due: npm run prettier, npm run lint:ts:fix

YH-876: added comprehensive tests for TextArea component with 100% coverage (#1070)
  src/shared/ui/TextArea/TextArea.test.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1608: fix type Tab imports
  src/shared/ui/Tabs/Tabs.stories.tsx
  src/shared/ui/Tabs/hooks.ts
  src/shared/ui/Tabs/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1608: fix type Tab imports (#1071)
  src/shared/ui/Tabs/Tabs.stories.tsx
  src/shared/ui/Tabs/hooks.ts
  src/shared/ui/Tabs/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1612: add page wrapper for resources
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/entities/resource/index.ts
  src/entities/resource/ui/ResourcesStub/ResourcesStub.tsx
  src/pages/landing/publicResources/ui/PublicResourcesPage/PublicResourcesPage.tsx
  src/pages/wiki/resource/myResources/ui/MyResourcesPage/MyResourcesPage.tsx
  src/pages/wiki/resource/resources/ui/ResourcesPage/ResourcesPage.tsx
  src/shared/assets/images/empty.png
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Stub/Stub.module.css
  src/shared/ui/Stub/Stub.tsx
  src/shared/ui/Stub/index.ts
  src/widgets/PageWrapper/index.ts
  src/widgets/PageWrapper/ui/PageWrapper/PageWrapper.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1612: add page wrapper for all pages with stubs
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/entities/resource/model/types/resourceRequest.ts
  src/pages/admin/collection/collections/ui/CollectionsPage/CollectionsPage.tsx
  src/pages/admin/company/companies/ui/CompaniesTablePage/CompaniesTablePage.tsx
  src/pages/admin/question/questions/ui/QuestionsTablePage/QuestionsTablePage.tsx
  src/pages/admin/resource/resources/ui/tabs/ResourcesAllTab/ResourcesAllTab.tsx
  src/pages/admin/resource/resources/ui/tabs/ResourcesRequestsTab/ResourcesRequestsTab.tsx
  src/pages/admin/user/users/ui/UserTablePage/UsersTablePage.tsx
  src/pages/landing/publicCollections/ui/PublicCollectionsPage/PublicCollectionsPage.module.css
  src/pages/landing/publicCollections/ui/PublicCollectionsPage/PublicCollectionsPage.skeleton.tsx
  src/pages/landing/publicCollections/ui/PublicCollectionsPage/PublicCollectionsPage.tsx
  src/pages/landing/publicQuestions/ui/PublicQuestionsPage/PublicQuestionsPage.module.css
  src/pages/landing/publicQuestions/ui/PublicQuestionsPage/PublicQuestionsPage.skeleton.tsx
  src/pages/landing/publicQuestions/ui/PublicQuestionsPage/PublicQuestionsPage.tsx
  src/pages/landing/publicResources/ui/PublicResourcesPage/PublicResourcesPage.tsx
  src/pages/wiki/collection/collections/ui/CollectionsPage/CollectionsPage.module.css
  src/pages/wiki/collection/collections/ui/CollectionsPage/CollectionsPage.skeleton.tsx
  src/pages/wiki/collection/collections/ui/CollectionsPage/CollectionsPage.tsx
  src/pages/wiki/question/questions/ui/QuestionsPage/QuestionsPage.module.css
  src/pages/wiki/question/questions/ui/QuestionsPage/QuestionsPage.skeleton.tsx
  src/pages/wiki/question/questions/ui/QuestionsPage/QuestionsPage.tsx
  src/pages/wiki/resource/myResources/ui/MyResourcesPage/MyResourcesPage.tsx
  src/pages/wiki/resource/resources/ui/ResourcesPage/ResourcesPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Stub/Stub.module.css
  src/shared/ui/Stub/Stub.tsx
  src/widgets/Collection/index.ts
  src/widgets/Collection/ui/CollectionsContent/CollectionsContent.module.css
  src/widgets/Collection/ui/CollectionsContent/CollectionsContent.skeleton.tsx
  src/widgets/Collection/ui/CollectionsContent/CollectionsContent.tsx
  src/widgets/Collection/ui/CollectionsList/CollectionsList.skeleton.tsx
  src/widgets/PageWrapper/ui/PageWrapper/PageWrapper.tsx
  src/widgets/question/QuestionsList/ui/FullQuestionsList/FullQuestionsList.module.css
  src/widgets/question/QuestionsList/ui/FullQuestionsList/FullQuestionsList.skeleton.tsx
  src/widgets/question/QuestionsList/ui/FullQuestionsList/FullQuestionsList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1612: update page wrapper props
  src/entities/user/index.ts
  src/pages/wiki/resource/myResources/ui/MyResourcesPage/MyResourcesPage.tsx
  src/widgets/PageWrapper/ui/PageWrapper/PageWrapper.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1613: add unit tests for Stepper component
  src/shared/ui/Icon/index.ts
  src/shared/ui/Stepper/Stepper.stories.tsx
  src/shared/ui/Stepper/Stepper.test.tsx
  src/shared/ui/Stepper/Stepper.tsx
  src/shared/ui/Stepper/constants.ts
  src/shared/ui/Stepper/index.ts
  src/shared/ui/Stepper/types.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1613: add unit tests for Stepper component (#1073)
  src/shared/ui/Icon/index.ts
  src/shared/ui/Stepper/Stepper.stories.tsx
  src/shared/ui/Stepper/Stepper.test.tsx
  src/shared/ui/Stepper/Stepper.tsx
  src/shared/ui/Stepper/constants.ts
  src/shared/ui/Stepper/index.ts
  src/shared/ui/Stepper/types.ts
Due: npm run prettier, npm run lint:ts:fix

YH-864: added tests for counter component
  src/shared/ui/Counter/Counter.test.tsx
  src/shared/ui/Counter/Counter.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1537: restore topic edit files after rebase
  .gitignore
  src/app/providers/router/routeConfig.tsx
  src/entities/topic/api/topicApi.ts
  src/entities/topic/model/types/topic.ts
  src/features/topics/editTopic/api/editTopicApi.ts
  src/features/topics/editTopic/index.ts
  src/features/topics/editTopic/lib/validation/topicEditSchema.ts
  src/features/topics/editTopic/model/constants/editTopicConstants.ts
  src/features/topics/editTopic/model/types/topicEditTypes.ts
  src/features/topics/editTopic/ui/TopicEditButton/TopicEditButton.tsx
  src/features/topics/editTopic/ui/TopicEditForm/TopicEditForm.module.css
  src/features/topics/editTopic/ui/TopicEditForm/TopicEditForm.tsx
  src/features/topics/editTopic/ui/TopicEditFormHeader/TopicEditFormHeader.module.css
  src/features/topics/editTopic/ui/TopicEditFormHeader/TopicEditFormHeader.tsx
  src/pages/admin/topic/topicEdit/index.ts
  src/pages/admin/topic/topicEdit/ui/TopicEditPage/TopicEditPage.lazy.tsx
  src/pages/admin/topic/topicEdit/ui/TopicEditPage/TopicEditPage.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1615: added stubs for QuestionPage and QuestionsPage based on data fetching state.
  public/locales/en/questions.json
  public/locales/ru/questions.json
  src/pages/wiki/question/questionDetail/ui/QuestionPage/QuestionPage.tsx
  src/pages/wiki/question/questions/ui/QuestionsPage/QuestionsPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1618: added stubs for empty collection states with translations
  public/locales/en/collection.json
  public/locales/ru/collection.json
  src/pages/wiki/collection/collectionDetail/ui/CollectionPage/CollectionPage.tsx
  src/pages/wiki/collection/collections/ui/CollectionsPage/CollectionsPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1578: fix import
  src/app/msw/handlers.ts
  src/entities/resource/api/__mock__/data/resourcesMock.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1615: added PageWrapper into QuestionPage layout.
  src/pages/landing/publicQuestions/ui/PublicQuestionsPage/PublicQuestionsPage.tsx
  src/pages/wiki/question/questionDetail/ui/QuestionPage/QuestionPage.tsx
  src/pages/wiki/question/questionDetail/ui/QuestionPage/QuestionPageContent.tsx
  src/pages/wiki/question/questions/ui/QuestionsPage/QuestionsPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1615: added QuestionPageContentComponent folder.
  src/pages/wiki/question/questionDetail/ui/QuestionPage/QuestionPage.tsx
  src/pages/wiki/question/questionDetail/ui/QuestionPageContent/QuestionPageContent.module.css
  src/pages/wiki/question/questionDetail/ui/QuestionPageContent/QuestionPageContent.skeleton.tsx
  src/pages/wiki/question/questionDetail/ui/QuestionPageContent/QuestionPageContent.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1618: refactor CollectionPage with PageWrapper and component decomposition
  public/locales/en/collection.json
  public/locales/ru/collection.json
  src/pages/landing/publicCollections/ui/PublicCollectionsPage/PublicCollectionsPage.tsx
  src/pages/wiki/collection/collectionDetail/ui/CollectionActions/CollectionActions.module.css
  src/pages/wiki/collection/collectionDetail/ui/CollectionActions/CollectionActions.tsx
  src/pages/wiki/collection/collectionDetail/ui/CollectionPage/CollectionContent.tsx
  src/pages/wiki/collection/collectionDetail/ui/CollectionPage/CollectionPage.tsx
  src/pages/wiki/collection/collections/ui/CollectionsPage/CollectionsPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1637: Rework keywordForms and KeywordInput
  public/locales/en/questions.json
  public/locales/ru/questions.json
  src/entities/question/api/questionApi.ts
  src/entities/question/model/constants/question.ts
  src/entities/question/model/types/question.ts
  src/entities/question/ui/QuestionForm/QuestionForm.module.css
  src/entities/question/ui/QuestionForm/QuestionForm.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/KeywordInput/KeywordInput.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix
