Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

.lintstagedrc:

{
  "./**/*.{ts,tsx,js,jsx}": ["npm run prettier", "npm run lint:ts:fix"],
  "*.css": "npm run lint:css:fix"
}

YH-1459 Создание страницы обучения, блок с процессами, пока без переводов
  src/app/providers/router/config/routeConfig.tsx
  src/pages/landing/LearningPage/ui/LearningPage.tsx
  src/shared/assets/images/landing/learning/expBanner.png
  src/shared/assets/images/landing/learning/expIcon.png
  src/shared/assets/images/landing/learning/learningBanner.png
  src/shared/assets/images/landing/learning/learningIcon.png
  src/shared/assets/images/landing/learning/processBanner.png
  src/shared/assets/images/landing/learning/processIcon.png
  src/shared/assets/images/landing/learning/projectBanner.png
  src/shared/assets/images/landing/learning/projectIcon.png
  src/shared/assets/images/landing/learning/teamBanner.png
  src/shared/assets/images/landing/learning/teamIcon.png
  src/shared/assets/images/landing/learning/technoBanner.png
  src/shared/assets/images/landing/learning/technoIcon.png
  src/shared/config/router/routes.ts
  src/widgets/Landing/AdvantagesBlock/ui/AdvantagesBlock.module.css
  src/widgets/Landing/AdvantagesBlock/ui/AdvantagesBlock.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1459 Создание страницы обучения, блок с процессами, пока без переводов
  src/pages/landing/LearningPage/index.ts
  src/widgets/Landing/AdvantagesBlock/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1097: fix types
  src/features/question/navigateQuestion/model/hooks/useInitQuestionId.ts
  src/features/question/navigateQuestion/model/hooks/useQuestionNavigation.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1429: Added a pre-switch to the QuestionsFilterSet component (#933)
  public/locales/ru/questions.json
  src/entities/question/index.ts
  src/entities/question/ui/QuestionAuthorFilter/QuestionAuthorFilter.module.css
  src/entities/question/ui/QuestionAuthorFilter/QuestionAuthorFilter.tsx
  src/features/question/questionsFilterSet/ui/QuestionsFilterSet.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/hooks/useQueryFilter.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1476: update collection filters
  src/pages/interview/CollectionsPage/ui/CollectionsPage/CollectionsPage.skeleton.tsx
  src/pages/interview/CollectionsPage/ui/CollectionsPage/CollectionsPage.tsx
  src/pages/landing/PublicCollectionsPage/ui/PublicCollectionsPage.skeleton.tsx
  src/pages/landing/PublicCollectionsPage/ui/PublicCollectionsPage.tsx
  src/shared/hooks/index.ts
  src/shared/hooks/useQueryFilterParams.ts
  src/shared/ui/Drawer/Drawer.test.tsx
  src/shared/ui/Drawer/Drawer.tsx
  src/shared/ui/Drawer/index.ts
  src/shared/ui/FiltersDrawer/FiltersDrawer.module.css
  src/shared/ui/FiltersDrawer/FiltersDrawer.skeleton.tsx
  src/shared/ui/FiltersDrawer/FiltersDrawer.tsx
  src/shared/ui/FiltersDrawer/index.ts
  src/shared/ui/IconButton/index.ts
  src/shared/ui/IconButton/types.ts
  src/shared/ui/SearchInput/SearchInput.tsx
  src/widgets/Collection/index.ts
  src/widgets/Collection/model/hooks/useCollectionsFilters.ts
  src/widgets/Collection/model/types/types.ts
  src/widgets/Collection/ui/CollectionsContent/CollectionsContent.skeleton.tsx
  src/widgets/Collection/ui/CollectionsFilterPanel/CollectionsFilterPanel.tsx
  src/widgets/Collection/ui/CollectionsFilters/CollectionsFilters.module.css
  src/widgets/Collection/ui/CollectionsFilters/CollectionsFilters.skeleton.tsx
  src/widgets/Collection/ui/CollectionsFilters/CollectionsFilters.tsx
  src/widgets/Collection/ui/CollectionsFiltersDrawer/CollectionsFiltersDrawer.module.css
  src/widgets/Collection/ui/CollectionsFiltersDrawer/CollectionsFiltersDrawer.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1476: update collection filters
  src/shared/hooks/useQueryFilterParams.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1097: fix endpoint name
  src/features/question/navigateQuestion/model/hooks/useInitQuestionId.ts
  src/features/question/navigateQuestion/model/hooks/useQuestionNavigation.ts
Due: npm run prettier, npm run lint:ts:fix

YH-873: added tests for Skeleton (#949)
  src/shared/ui/Skeleton/Skeleton.test.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-874: Chip,Chip.skeleton tests (#939)
  src/shared/ui/Chip/Chip.skeleton.tsx
  src/shared/ui/Chip/Chip.test.tsx
  src/shared/ui/Chip/Chip.tsx
  src/shared/ui/Chip/model/constants.ts
  src/shared/ui/Chip/types.ts
Due: npm run prettier, npm run lint:ts:fix

YH-878: added tests for Toast component (#943)
  src/shared/ui/Toast/CloseBtn.tsx
  src/shared/ui/Toast/Toast.test.tsx
  src/shared/ui/Toast/Toast.tsx
  src/shared/ui/Toast/constants.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1379: writing unit tests for a component with a choice of specializations (#935)
  src/entities/specialization/ui/SpecializationSelect/SpecializationSelect.test.tsx
  src/entities/specialization/ui/SpecializationSelect/SpecializationSelect.tsx
  src/shared/ui/Dropdown/Dropdown/Dropdown.tsx
  src/shared/ui/Dropdown/Select/Select.tsx
  src/shared/ui/SelectWithChips/SelectWithChips.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-937: added tests for AboutQuestionsBlock (#888)
  src/shared/ui/Chip/Chip.tsx
  src/shared/ui/Chip/types.ts
  src/widgets/Landing/AboutQuestionsBlock/ui/About/About.skeleton.tsx
  src/widgets/Landing/AboutQuestionsBlock/ui/About/About.test.tsx
  src/widgets/Landing/AboutQuestionsBlock/ui/About/About.tsx
  src/widgets/Landing/AboutQuestionsBlock/ui/AboutQuestionsBlock/AboutQuestionsBlock.test.tsx
  src/widgets/Landing/AboutQuestionsBlock/ui/AboutQuestionsBlock/AboutQuestionsBlock.tsx
  src/widgets/Landing/AboutQuestionsBlock/ui/Cards/CardBlockLayout/CardBlockLayout.test.tsx
  src/widgets/Landing/AboutQuestionsBlock/ui/Cards/CardLayout/CardLayout.test.tsx
  src/widgets/Landing/AboutQuestionsBlock/ui/Cards/FiltersCard/FiltersCard.test.tsx
  src/widgets/Landing/AboutQuestionsBlock/ui/Cards/FiltersCard/FiltersCard.tsx
  src/widgets/Landing/AboutQuestionsBlock/ui/Cards/SkillsCard/SkillsBlock/SkillsBlock.test.tsx
  src/widgets/Landing/AboutQuestionsBlock/ui/Cards/SkillsCard/SkillsCard.test.tsx
  src/widgets/Landing/AboutQuestionsBlock/ui/Cards/SpecializationCard/SpecializationBlock/SpecializationBlock.test.tsx
  src/widgets/Landing/AboutQuestionsBlock/ui/Cards/SpecializationCard/SpecializationCard.test.tsx
  src/widgets/Landing/AboutQuestionsBlock/ui/InterviewMaterials/InterviewMaterials.test.tsx
  src/widgets/Landing/AboutQuestionsBlock/ui/InterviewMaterials/InterviewMaterials.tsx
  src/widgets/Landing/AboutQuestionsBlock/ui/SkillChip/SkillChip.test.tsx
  src/widgets/Landing/AboutQuestionsBlock/ui/SkillsListTicker/SkillsListTicker.test.tsx
  src/widgets/Landing/AboutQuestionsBlock/ui/SkillsListTicker/SkillsListTicker.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-935: Add tests for specializations block on landing page (#907)
  src/widgets/Landing/SpecialityBlock/ui/SpecializationBlock/SpecializationBlock.test.tsx
  src/widgets/Landing/SpecialityBlock/ui/SpecializationBlock/SpecializationBlock.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1440: Added validation of uploaded images
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/shared/assets/icons/checkSquare.svg
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/FileLoader/FileLoader.module.css
  src/shared/ui/FileLoader/FileLoader.tsx
  src/shared/ui/ImageLoader/ImageLoader.tsx
  src/shared/ui/ImageLoaderWithoutCropper/ImageLoaderWithoutCropper.module.css
  src/shared/ui/ImageLoaderWithoutCropper/ImageLoaderWithoutCropper.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1476: fix comments
  src/pages/interview/CollectionsPage/ui/CollectionsPage/CollectionsPage.tsx
  src/pages/landing/PublicCollectionsPage/ui/PublicCollectionsPage.tsx
  src/shared/hooks/useQueryFilterParams.ts
  src/widgets/Collection/model/hooks/useCollectionsFilters.ts
  src/widgets/Collection/model/hooks/useGetCollectionsFilterParams.ts
  src/widgets/Collection/model/types/types.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1476: update collection filters (#957)
  src/pages/interview/CollectionsPage/ui/CollectionsPage/CollectionsPage.skeleton.tsx
  src/pages/interview/CollectionsPage/ui/CollectionsPage/CollectionsPage.tsx
  src/pages/landing/PublicCollectionsPage/ui/PublicCollectionsPage.skeleton.tsx
  src/pages/landing/PublicCollectionsPage/ui/PublicCollectionsPage.tsx
  src/shared/hooks/index.ts
  src/shared/hooks/useQueryFilterParams.ts
  src/shared/ui/Drawer/Drawer.test.tsx
  src/shared/ui/Drawer/Drawer.tsx
  src/shared/ui/Drawer/index.ts
  src/shared/ui/FiltersDrawer/FiltersDrawer.module.css
  src/shared/ui/FiltersDrawer/FiltersDrawer.skeleton.tsx
  src/shared/ui/FiltersDrawer/FiltersDrawer.tsx
  src/shared/ui/FiltersDrawer/index.ts
  src/shared/ui/IconButton/index.ts
  src/shared/ui/IconButton/types.ts
  src/shared/ui/SearchInput/SearchInput.tsx
  src/widgets/Collection/index.ts
  src/widgets/Collection/model/hooks/useCollectionsFilters.ts
  src/widgets/Collection/model/hooks/useGetCollectionsFilterParams.ts
  src/widgets/Collection/model/types/types.ts
  src/widgets/Collection/ui/CollectionsContent/CollectionsContent.skeleton.tsx
  src/widgets/Collection/ui/CollectionsFilterPanel/CollectionsFilterPanel.tsx
  src/widgets/Collection/ui/CollectionsFilters/CollectionsFilters.module.css
  src/widgets/Collection/ui/CollectionsFilters/CollectionsFilters.skeleton.tsx
  src/widgets/Collection/ui/CollectionsFilters/CollectionsFilters.tsx
  src/widgets/Collection/ui/CollectionsFiltersDrawer/CollectionsFiltersDrawer.module.css
  src/widgets/Collection/ui/CollectionsFiltersDrawer/CollectionsFiltersDrawer.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1427: add tests for SkillSelect component
  config/jest/jestSetup.ts
  src/app/msw/server.ts
  src/entities/skill/api/__mocks__/skillListMock.ts
  src/entities/skill/ui/SkillSelect/SkillSelect.test.tsx
  src/entities/skill/ui/SkillSelect/SkillSelect.tsx
  src/shared/libs/jest/setupMockServer/index.ts
  src/shared/libs/jest/setupMockServer/setupMockServer.ts
  src/shared/ui/Chip/Chip.tsx
  src/shared/ui/Chip/types.ts
  src/shared/ui/Dropdown/Dropdown/Dropdown.skeleton.tsx
  src/shared/ui/Dropdown/Dropdown/constants.ts
  src/shared/ui/Dropdown/Select/Select.skeleton.tsx
  src/shared/ui/Dropdown/Select/Select.tsx
  src/shared/ui/Dropdown/index.ts
  src/shared/ui/SelectWithChips/SelectWithChips.tsx
  src/shared/ui/SelectWithChips/constants.ts
  src/shared/ui/SelectWithChips/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1459 Добавлен перевод, деструктиризирован список
  public/locales/en/learning.json
  public/locales/ru/learning.json
  src/shared/assets/icons/Container.png
  src/shared/assets/images/landing/learning/banner/experienceBanner.png
  src/shared/assets/images/landing/learning/banner/processBanner.png
  src/shared/assets/images/landing/learning/banner/prokectBanner.png
  src/shared/assets/images/landing/learning/banner/supportBanner.png
  src/shared/assets/images/landing/learning/banner/teamBanner.png
  src/shared/assets/images/landing/learning/banner/technoBanner.png
  src/shared/assets/images/landing/learning/icons/experinceIcon.png
  src/shared/assets/images/landing/learning/icons/projectIcon.png
  src/shared/assets/images/landing/learning/icons/supportIcon.png
  src/shared/assets/images/landing/learning/icons/teamIcon.png
  src/shared/assets/images/landing/learning/icons/technoIcon.png
  src/shared/config/i18n/i18n.ts
  src/shared/ui/AdvantagesList/AdvantagesList.module.css
  src/shared/ui/AdvantagesList/AdvantagesList.tsx
  src/widgets/Landing/AdvantagesBlock/ui/AdvantagesBlock.module.css
  src/widgets/Landing/AdvantagesBlock/ui/AdvantagesBlock.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1459 Добавлен перевод, деструктиризирован список
  src/shared/assets/images/landing/learning/icons/processIcon.png
Due: none

YH-1459 Добавлен перевод, деструктиризирован список
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1477: refactor resources filters
  public/locales/ru/questions.json
  src/entities/resource/index.ts
  src/entities/resource/model/hooks/useGetResourceRequestsFilterParams.ts
  src/entities/resource/model/hooks/useGetResourcesFilterParams.ts
  src/entities/resource/model/hooks/useResourceRequestsFilters.ts
  src/entities/resource/model/hooks/useResourcesFilters.ts
  src/entities/resource/model/types/filters.ts
  src/entities/resource/ui/ResourcesStatusBlock/ResourcesStatusBlock.module.css
  src/entities/resource/ui/ResourcesStatusBlock/ResourcesStatusBlock.tsx
  src/entities/resource/ui/ResourcesTypesFilterSection/ResourcesTypesFilterSection.module.css
  src/entities/resource/ui/ResourcesTypesFilterSection/ResourcesTypesFilterSection.skeleton.tsx
  src/entities/resource/ui/ResourcesTypesFilterSection/ResourcesTypesFilterSection.tsx
  src/pages/admin/ResourcesPage/ui/tabs/ResourcesAllTab/ResourcesAllTab/ResourcesAllTab.tsx
  src/pages/admin/ResourcesPage/ui/tabs/ResourcesRequestsTab/ResourcesRequestsTab/ResourcesRequestsTab.tsx
  src/pages/interview/CollectionsPage/ui/CollectionsPage/CollectionsPage.tsx
  src/pages/landing/PublicCollectionsPage/ui/PublicCollectionsPage.tsx
  src/pages/landing/PublicResourcesPage/ui/PublicResourcesPage.skeleton.tsx
  src/pages/landing/PublicResourcesPage/ui/PublicResourcesPage.tsx
  src/pages/wiki/MyResourcesPage/ui/MyResourcesPage.tsx
  src/pages/wiki/MyResourcesPage/ui/MyResourcesPageSkeleton.skeleton.tsx
  src/pages/wiki/ResourcesPage/ui/ResourcesPage.tsx
  src/pages/wiki/ResourcesPage/ui/ResourcesPageSkeleton.skeleton.tsx
  src/shared/ui/Chip/Chip.tsx
  src/widgets/Collection/model/hooks/useCollectionsFilters.ts
  src/widgets/Collection/ui/CollectionsFilters/CollectionsFilters.tsx
  src/widgets/Marketplace/index.ts
  src/widgets/Marketplace/model/hooks/useMarketplaceFilters.ts
  src/widgets/Marketplace/ui/MarketplaceFiltersPanel/MarketplaceFiltersPanel.tsx
  src/widgets/Marketplace/ui/MyResourcesFiltersPanel/MyResourcesFiltersPanel.tsx
  src/widgets/Marketplace/ui/SearchBlock/SearchBlock.tsx
  src/widgets/resources/MyResourcesFilters/index.ts
  src/widgets/resources/MyResourcesFilters/ui/MyResourcesFilters.tsx
  src/widgets/resources/ResourceRequestsTable/index.ts
  src/widgets/resources/ResourcesFilters/index.ts
  src/widgets/resources/ResourcesFilters/ui/ResourcesFilters.skeleton.tsx
  src/widgets/resources/ResourcesFilters/ui/ResourcesFilters.tsx
  src/widgets/resources/ResourcesTable/index.ts
  src/widgets/resources/index.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1477: refactor resources filters (#959)
  public/locales/ru/questions.json
  src/entities/resource/index.ts
  src/entities/resource/model/hooks/useGetResourceRequestsFilterParams.ts
  src/entities/resource/model/hooks/useGetResourcesFilterParams.ts
  src/entities/resource/model/hooks/useResourceRequestsFilters.ts
  src/entities/resource/model/hooks/useResourcesFilters.ts
  src/entities/resource/model/types/filters.ts
  src/entities/resource/ui/ResourcesStatusBlock/ResourcesStatusBlock.module.css
  src/entities/resource/ui/ResourcesStatusBlock/ResourcesStatusBlock.tsx
  src/entities/resource/ui/ResourcesTypesFilterSection/ResourcesTypesFilterSection.module.css
  src/entities/resource/ui/ResourcesTypesFilterSection/ResourcesTypesFilterSection.skeleton.tsx
  src/entities/resource/ui/ResourcesTypesFilterSection/ResourcesTypesFilterSection.tsx
  src/pages/admin/ResourcesPage/ui/tabs/ResourcesAllTab/ResourcesAllTab/ResourcesAllTab.tsx
  src/pages/admin/ResourcesPage/ui/tabs/ResourcesRequestsTab/ResourcesRequestsTab/ResourcesRequestsTab.tsx
  src/pages/interview/CollectionsPage/ui/CollectionsPage/CollectionsPage.tsx
  src/pages/landing/PublicCollectionsPage/ui/PublicCollectionsPage.tsx
  src/pages/landing/PublicResourcesPage/ui/PublicResourcesPage.skeleton.tsx
  src/pages/landing/PublicResourcesPage/ui/PublicResourcesPage.tsx
  src/pages/wiki/MyResourcesPage/ui/MyResourcesPage.tsx
  src/pages/wiki/MyResourcesPage/ui/MyResourcesPageSkeleton.skeleton.tsx
  src/pages/wiki/ResourcesPage/ui/ResourcesPage.tsx
  src/pages/wiki/ResourcesPage/ui/ResourcesPageSkeleton.skeleton.tsx
  src/shared/ui/Chip/Chip.tsx
  src/widgets/Collection/model/hooks/useCollectionsFilters.ts
  src/widgets/Collection/ui/CollectionsFilters/CollectionsFilters.tsx
  src/widgets/Marketplace/index.ts
  src/widgets/Marketplace/model/hooks/useMarketplaceFilters.ts
  src/widgets/Marketplace/ui/MarketplaceFiltersPanel/MarketplaceFiltersPanel.tsx
  src/widgets/Marketplace/ui/MyResourcesFiltersPanel/MyResourcesFiltersPanel.tsx
  src/widgets/Marketplace/ui/SearchBlock/SearchBlock.tsx
  src/widgets/resources/MyResourcesFilters/index.ts
  src/widgets/resources/MyResourcesFilters/ui/MyResourcesFilters.tsx
  src/widgets/resources/ResourceRequestsTable/index.ts
  src/widgets/resources/ResourcesFilters/index.ts
  src/widgets/resources/ResourcesFilters/ui/ResourcesFilters.skeleton.tsx
  src/widgets/resources/ResourcesFilters/ui/ResourcesFilters.tsx
  src/widgets/resources/ResourcesTable/index.ts
  src/widgets/resources/index.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1403: webpack bundle optimization
  config/webpack/webpackConfig.ts
  config/webpack/webpackPlugins.ts
  package-lock.json
  package.json
  public/index.html
  src/shared/ui/Chip/Chip.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1450: add table
  public/locales/en/analytics.json
  public/locales/en/skill.json
  public/locales/ru/analytics.json
  public/locales/ru/skill.json
  src/entities/skill/api/__mocks__/data/skillsMock.ts
  src/entities/skill/model/types/skill.ts
  src/entities/specialization/ui/SpecializationSelect/SpecializationSelect.tsx
  src/pages/analytics/PopularSkillsPage/index.ts
  src/pages/analytics/PopularSkillsPage/ui/PopularSkillsList/PopularSkillsList.module.css
  src/pages/analytics/PopularSkillsPage/ui/PopularSkillsList/PopularSkillsList.tsx
  src/pages/analytics/PopularSkillsPage/ui/PopularSkillsPage.tsx
  src/pages/analytics/PopularSkillsPage/ui/PopularSkillsPage/PopularSkillsPage.module.css
  src/pages/analytics/PopularSkillsPage/ui/PopularSkillsPage/PopularSkillsPage.tsx
  src/pages/analytics/PopularSkillsPage/ui/PopularSkillsPageTable/PopularSkillsPageTable.module.css
  src/pages/analytics/PopularSkillsPage/ui/PopularSkillsPageTable/PopularSkillsPageTable.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1450: change limit for request
  src/pages/analytics/PopularSkillsPage/ui/PopularSkillsPage/PopularSkillsPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1427: fix changes
  src/shared/ui/Chip/types.ts
  src/shared/ui/SelectWithChips/SelectWithChips.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1449: Created a page for the average percentage of the skill learned
  public/locales/en/analytics.json
  public/locales/en/translation.json
  public/locales/ru/analytics.json
  public/locales/ru/translation.json
  src/app/providers/router/config/routeConfig.tsx
  src/entities/question/api/__mocks__/data/learnedQuestionsMock.ts
  src/entities/question/model/types/learnedQuestion.ts
  src/pages/analytics/SkillsProficiencyPage/index.ts
  src/pages/analytics/SkillsProficiencyPage/ui/SkillsProficiencyPage/SkillsProficiencyPage.module.css
  src/pages/analytics/SkillsProficiencyPage/ui/SkillsProficiencyPage/SkillsProficiencyPage.tsx
  src/pages/analytics/SkillsProficiencyPage/ui/SkillsProficiencyPageTable/SkillsProficiencyPageTable.module.css
  src/pages/analytics/SkillsProficiencyPage/ui/SkillsProficiencyPageTable/SkillsProficiencyPageTable.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
  src/widgets/analytics/SkillsProficiency/ui/SkillsProficiency/SkillsProficiency.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1449: Used ready-made components SpecializationSelect and SkillSelect
  src/app/providers/store/config/config.ts
  src/entities/question/index.ts
  src/entities/skill/ui/SkillSelect/SkillSelect.tsx
  src/pages/analytics/SkillsProficiencyPage/index.ts
  src/pages/analytics/SkillsProficiencyPage/model/slices/skillsProficiencyPageSlice.ts
  src/pages/analytics/SkillsProficiencyPage/model/types/skillsProficiencyPageTypes.ts
  src/pages/analytics/SkillsProficiencyPage/ui/SkillsProficiencyList/SkillsProficiencyList.module.css
  src/pages/analytics/SkillsProficiencyPage/ui/SkillsProficiencyList/SkillsProficiencyList.tsx
  src/pages/analytics/SkillsProficiencyPage/ui/SkillsProficiencyPage/SkillsProficiencyPage.tsx
  src/pages/analytics/SkillsProficiencyPage/ui/SkillsProficiencyPagePagination/SkillsProficiencyPagePagination.module.css
  src/pages/analytics/SkillsProficiencyPage/ui/SkillsProficiencyPagePagination/SkillsProficiencyPagePagination.tsx
  src/pages/analytics/SkillsProficiencyPage/ui/SkillsProficiencyPageTable/SkillsProficiencyPageTable.tsx
  src/shared/config/store/State.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1478: refactor questions filters
  src/app/providers/store/config/config.ts
  src/entities/question/index.ts
  src/entities/question/model/hooks/useGetQuestionsFilterParams.ts
  src/entities/question/model/hooks/useQuestionsFilters.ts
  src/entities/question/model/types/filters.ts
  src/entities/question/ui/StatusFilterSection/StatusFilterSection.skeleton.tsx
  src/entities/question/ui/StatusFilterSection/StatusFilterSection.tsx
  src/entities/skill/model/types/skill.ts
  src/entities/skill/ui/SkillsListField/SkillsListField.tsx
  src/entities/specialization/ui/SpecializationsListField/SpecializationsListField.tsx
  src/pages/interview/CollectionsPage/index.ts
  src/pages/interview/CollectionsPage/model/selectors/questionsPageSelectors.test.ts
  src/pages/interview/CollectionsPage/model/selectors/questionsPageSelectors.ts
  src/pages/interview/CollectionsPage/model/slices/collectionsPageSlice.ts
  src/pages/interview/CollectionsPage/model/types/collectionsPageType.ts
  src/pages/interview/QuestionsPage/index.ts
  src/pages/interview/QuestionsPage/model/selectors/questionsPageSelectors.test.ts
  src/pages/interview/QuestionsPage/model/selectors/questionsPageSelectors.ts
  src/pages/interview/QuestionsPage/model/slices/questionsPageSlice.ts
  src/pages/interview/QuestionsPage/model/types/questionsPageType.ts
  src/pages/interview/QuestionsPage/ui/QuestionsPage/QuestionsPage.module.css
  src/pages/interview/QuestionsPage/ui/QuestionsPage/QuestionsPage.skeleton.tsx
  src/pages/interview/QuestionsPage/ui/QuestionsPage/QuestionsPage.tsx
  src/pages/landing/PublicQuestionsPage/model/helpers/getTitleFromQuery.ts
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsFilterPanel/PublicQuestionsFilterPanel.tsx
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsPage/PublicQuestionsPage.module.css
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsPage/PublicQuestionsPage.skeleton.tsx
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsPage/PublicQuestionsPage.tsx
  src/shared/config/store/State.ts
  src/widgets/question/QuestionsFilterPanel/index.ts
  src/widgets/question/QuestionsFilterPanel/model/types.ts
  src/widgets/question/QuestionsFilterPanel/ui/QuestionsFilterPanel.skeleton.tsx
  src/widgets/question/QuestionsFilterPanel/ui/QuestionsFilterPanel.tsx
  src/widgets/question/QuestionsFilters/index.ts
  src/widgets/question/QuestionsFilters/ui/QuestionsFilters.skeleton.tsx
  src/widgets/question/QuestionsFilters/ui/QuestionsFilters.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1449: Created a page for the average percentage of the skill learned (#952)
  public/locales/en/analytics.json
  public/locales/en/translation.json
  public/locales/ru/analytics.json
  public/locales/ru/translation.json
  src/app/providers/router/config/routeConfig.tsx
  src/app/providers/store/config/config.ts
  src/entities/question/api/__mocks__/data/learnedQuestionsMock.ts
  src/entities/question/index.ts
  src/entities/question/model/types/learnedQuestion.ts
  src/entities/skill/ui/SkillSelect/SkillSelect.tsx
  src/pages/analytics/SkillsProficiencyPage/index.ts
  src/pages/analytics/SkillsProficiencyPage/model/slices/skillsProficiencyPageSlice.ts
  src/pages/analytics/SkillsProficiencyPage/model/types/skillsProficiencyPageTypes.ts
  src/pages/analytics/SkillsProficiencyPage/ui/SkillsProficiencyList/SkillsProficiencyList.module.css
  src/pages/analytics/SkillsProficiencyPage/ui/SkillsProficiencyList/SkillsProficiencyList.tsx
  src/pages/analytics/SkillsProficiencyPage/ui/SkillsProficiencyPage/SkillsProficiencyPage.module.css
  src/pages/analytics/SkillsProficiencyPage/ui/SkillsProficiencyPage/SkillsProficiencyPage.tsx
  src/pages/analytics/SkillsProficiencyPage/ui/SkillsProficiencyPagePagination/SkillsProficiencyPagePagination.module.css
  src/pages/analytics/SkillsProficiencyPage/ui/SkillsProficiencyPagePagination/SkillsProficiencyPagePagination.tsx
  src/pages/analytics/SkillsProficiencyPage/ui/SkillsProficiencyPageTable/SkillsProficiencyPageTable.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
  src/shared/config/store/State.ts
  src/widgets/analytics/SkillsProficiency/ui/SkillsProficiency/SkillsProficiency.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1427: add tests for SkillSelect component (#958)
  config/jest/jestSetup.ts
  src/app/msw/server.ts
  src/entities/skill/api/__mocks__/skillListMock.ts
  src/entities/skill/ui/SkillSelect/SkillSelect.test.tsx
  src/entities/skill/ui/SkillSelect/SkillSelect.tsx
  src/shared/libs/jest/setupMockServer/index.ts
  src/shared/libs/jest/setupMockServer/setupMockServer.ts
  src/shared/ui/Chip/Chip.tsx
  src/shared/ui/Dropdown/Dropdown/Dropdown.skeleton.tsx
  src/shared/ui/Dropdown/Dropdown/constants.ts
  src/shared/ui/Dropdown/Select/Select.skeleton.tsx
  src/shared/ui/Dropdown/Select/Select.tsx
  src/shared/ui/Dropdown/index.ts
  src/shared/ui/SelectWithChips/SelectWithChips.tsx
  src/shared/ui/SelectWithChips/constants.ts
  src/shared/ui/SelectWithChips/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1478: refactor questions filters (#962)
  src/app/providers/store/config/config.ts
  src/entities/question/index.ts
  src/entities/question/model/hooks/useGetQuestionsFilterParams.ts
  src/entities/question/model/hooks/useQuestionsFilters.ts
  src/entities/question/model/types/filters.ts
  src/entities/question/ui/StatusFilterSection/StatusFilterSection.skeleton.tsx
  src/entities/question/ui/StatusFilterSection/StatusFilterSection.tsx
  src/entities/skill/model/types/skill.ts
  src/entities/skill/ui/SkillsListField/SkillsListField.tsx
  src/entities/specialization/ui/SpecializationsListField/SpecializationsListField.tsx
  src/pages/interview/CollectionsPage/index.ts
  src/pages/interview/CollectionsPage/model/selectors/questionsPageSelectors.test.ts
  src/pages/interview/CollectionsPage/model/selectors/questionsPageSelectors.ts
  src/pages/interview/CollectionsPage/model/slices/collectionsPageSlice.ts
  src/pages/interview/CollectionsPage/model/types/collectionsPageType.ts
  src/pages/interview/QuestionsPage/index.ts
  src/pages/interview/QuestionsPage/model/selectors/questionsPageSelectors.test.ts
  src/pages/interview/QuestionsPage/model/selectors/questionsPageSelectors.ts
  src/pages/interview/QuestionsPage/model/slices/questionsPageSlice.ts
  src/pages/interview/QuestionsPage/model/types/questionsPageType.ts
  src/pages/interview/QuestionsPage/ui/QuestionsPage/QuestionsPage.module.css
  src/pages/interview/QuestionsPage/ui/QuestionsPage/QuestionsPage.skeleton.tsx
  src/pages/interview/QuestionsPage/ui/QuestionsPage/QuestionsPage.tsx
  src/pages/landing/PublicQuestionsPage/model/helpers/getTitleFromQuery.ts
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsFilterPanel/PublicQuestionsFilterPanel.tsx
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsPage/PublicQuestionsPage.module.css
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsPage/PublicQuestionsPage.skeleton.tsx
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsPage/PublicQuestionsPage.tsx
  src/shared/config/store/State.ts
  src/widgets/question/QuestionsFilterPanel/index.ts
  src/widgets/question/QuestionsFilterPanel/model/types.ts
  src/widgets/question/QuestionsFilterPanel/ui/QuestionsFilterPanel.skeleton.tsx
  src/widgets/question/QuestionsFilterPanel/ui/QuestionsFilterPanel.tsx
  src/widgets/question/QuestionsFilters/index.ts
  src/widgets/question/QuestionsFilters/ui/QuestionsFilters.skeleton.tsx
  src/widgets/question/QuestionsFilters/ui/QuestionsFilters.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1403: Added StatoscopePlugin & refactor webpack configs
  config/webpack/webpackConfig.ts
  config/webpack/webpackPlugins.ts
  package-lock.json
  package.json
Due: npm run prettier, npm run lint:ts:fix

YH-1403: chunks minSizes changed from 40\150 to 30\80 for better performance
  config/webpack/webpackConfig.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1450: add pagination, change naming, place PopularSkillsMobileCard right on the page
  public/locales/en/analytics.json
  public/locales/ru/analytics.json
  src/pages/analytics/PopularSkillsPage/ui/PopularSkillsMobileCard/PopularSkillsMobileCard.module.css
  src/pages/analytics/PopularSkillsPage/ui/PopularSkillsMobileCard/PopularSkillsMobileCard.tsx
  src/pages/analytics/PopularSkillsPage/ui/PopularSkillsPage/PopularSkillsPage.module.css
  src/pages/analytics/PopularSkillsPage/ui/PopularSkillsPage/PopularSkillsPage.tsx
  src/pages/analytics/PopularSkillsPage/ui/PopularSkillsPageTable/PopularSkillsPageTable.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1450: change pagination styles
  src/pages/analytics/PopularSkillsPage/ui/PopularSkillsPage/PopularSkillsPage.module.css
  src/pages/analytics/PopularSkillsPage/ui/PopularSkillsPage/PopularSkillsPage.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1471: added tests for Breadcrumbs
  src/shared/ui/Breadcrumbs/Breadcrumbs.test.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1480: fix bugs
  src/entities/skill/ui/SkillCard/SkillCard.module.css
  src/entities/skill/ui/SkillForm/SkillForm.module.css
  src/features/subscriptions/subscribe/model/validation/subscriptionAgreeSchema.ts
  src/features/subscriptions/subscribe/ui/AgreementForm/AgreementForm.tsx
  src/pages/interview/CreateQuizPage/ui/CreateQuizPage.module.css
  src/pages/interview/CreateQuizPage/ui/CreateQuizPage.tsx
  src/pages/interview/InterviewQuizResultPage/ui/InterviewQuizResultPage.tsx
  src/shared/ui/TextHtml/TextHtml.tsx
  src/widgets/interview/InterviewPreparation/ui/PreviewInactiveQuiz/PreviewInactiveQuiz.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1480: fix bugs (#964)
  src/entities/skill/ui/SkillCard/SkillCard.module.css
  src/entities/skill/ui/SkillForm/SkillForm.module.css
  src/features/subscriptions/subscribe/model/validation/subscriptionAgreeSchema.ts
  src/features/subscriptions/subscribe/ui/AgreementForm/AgreementForm.tsx
  src/pages/interview/CreateQuizPage/ui/CreateQuizPage.module.css
  src/pages/interview/CreateQuizPage/ui/CreateQuizPage.tsx
  src/pages/interview/InterviewQuizResultPage/ui/InterviewQuizResultPage.tsx
  src/shared/ui/TextHtml/TextHtml.tsx
  src/widgets/interview/InterviewPreparation/ui/PreviewInactiveQuiz/PreviewInactiveQuiz.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1480: fix bugs
  public/locales/en/analytics.json
  public/locales/ru/analytics.json
  src/features/subscriptions/subscribe/api/getPaymentUrl.ts
  src/features/subscriptions/subscribe/model/constants/subscribeButtonConstants.ts
  src/features/subscriptions/subscribe/model/types/subscriptionAgreeTypes.ts
  src/features/subscriptions/subscribe/ui/AgreementForm/AgreementForm.tsx
  src/features/subscriptions/subscribe/ui/SubscribeButton/SubscribeButton.module.css
  src/features/subscriptions/subscribe/ui/SubscribeButton/SubscribeButton.tsx
  src/features/subscriptions/subscribe/ui/SubscribeButton/index.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix
