Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

.lintstagedrc:

{
  "./**/*.{ts,tsx,js,jsx}": ["npm run prettier", "npm run lint:ts:fix"],
  "*.css": "npm run lint:css:fix"
}

YH-1814: fix review comments
  src/entities/task/ui/TaskCard/TaskCard.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix

Release 1.8.5
  RELEASE_NOTES.md
  package-lock.json
  package.json
Due: none

YH-1665: fixed lost routes
  src/app/providers/router/routeConfig.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1665: fixed review comments
  public/locales/en/marketplace.json
  public/locales/en/referralLink.json
  public/locales/ru/marketplace.json
  public/locales/ru/referralLink.json
  src/entities/referralLink/index.ts
  src/entities/referralLink/ui/ReferralLinkForm/ReferralLinkForm.module.css
  src/entities/referralLink/ui/ReferralLinkForm/ReferralLinkForm.tsx
  src/entities/user/@x/referralLink.ts
  src/features/referralLinks/createReferralLink/ui/ReferralLinkCreateFormCard/ReferralLinkCreateFormCard.tsx
  src/features/referralLinks/editReferralLink/lib/validation/referralLinkEditSchema.ts
  src/features/referralLinks/editReferralLink/model/types/referralEditPageTypes.ts
  src/features/referralLinks/editReferralLink/ui/ReferralLinkEditForm/ReferralLinkEditForm.tsx
  src/features/referralLinks/editReferralLink/ui/ReferralLinkEditFormHeader/ReferralLinkEditFormHeader.tsx
  src/features/referralLinks/editReferralLink/ui/ReferralLinkForm/ReferralLinkForm.module.css
  src/features/referralLinks/editReferralLink/ui/ReferralLinkForm/ReferralLinkForm.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1789: add filters and search to referral links page (#1189)
  public/locales/en/referralLink.json
  public/locales/ru/referralLink.json
  src/entities/referralLink/index.ts
  src/entities/referralLink/model/types/filters.ts
  src/entities/user/ui/UserSelect/UserSelect.tsx
  src/features/referralLinks/filterReferralLinks/index.ts
  src/features/referralLinks/filterReferralLinks/model/hooks/useGetReferralLinksFilterParams.ts
  src/features/referralLinks/filterReferralLinks/model/hooks/useReferralLinksFilters.ts
  src/features/referralLinks/filterReferralLinks/model/types/filters.ts
  src/features/referralLinks/filterReferralLinks/ui/ReferralLinksFilters/ReferralLinksFilters.tsx
  src/features/referralLinks/filterReferralLinks/ui/ReferralLinksSortByFieldFilter/ReferralLinksSortByFieldFilter.tsx
  src/pages/admin/referralLink/referralLinks/model/slices/referralLinksPageSlice.ts
  src/pages/admin/referralLink/referralLinks/ui/ReferralLinksPage/ReferralLinksPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1712: fix error
  src/entities/profile/model/selectors/profileSelectors.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1712: Add topics functionality to questions (#1159)
  package-lock.json
  package.json
  public/locales/en/questions.json
  public/locales/en/topic.json
  public/locales/ru/questions.json
  public/locales/ru/topic.json
  src/entities/profile/model/selectors/profileSelectors.ts
  src/entities/question/model/types/question.ts
  src/entities/question/ui/QuestionAdditionalInfo/QuestionAdditionalInfo.tsx
  src/entities/question/ui/QuestionForm/QuestionForm.tsx
  src/entities/skill/ui/SkillSelect/SkillSelect.tsx
  src/entities/topic/@x/question.ts
  src/entities/topic/index.ts
  src/entities/topic/ui/TopicList/TopicList.tsx
  src/entities/topic/ui/TopicSelect/TopicSelect.skeleton.tsx
  src/entities/topic/ui/TopicSelect/TopicSelect.tsx
  src/features/question/createQuestion/lib/validation/questionCreateSchema.ts
  src/features/question/editQuestion/lib/validation/questionEditSchema.ts
  src/features/question/editQuestion/ui/QuestionEditForm/QuestionEditForm.tsx
  src/pages/admin/question/questionDetail/ui/QuestionPageContent/QuestionPageContent.tsx
  src/pages/admin/question/questions/ui/QuestionsTable/QuestionsTable.tsx
  src/pages/landing/publicQuestion/ui/PublicQuestionPage/PublicQuestionPage.tsx
  src/pages/wiki/question/questionDetail/ui/QuestionPageContent/QuestionPageContent.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/question/QuestionHeader/ui/QuestionAdditionalInfoDrawer/QuestionAdditionalInfoDrawer.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1735: add createCompany mock with MSW, fix imports, imports types (#1136)
  src/app/msw/handlers.ts
  src/entities/collection/api/__mock__/data/collectionsMock.ts
  src/entities/company/api/__mocks__/data/companiesMock.ts
  src/entities/company/index.ts
  src/entities/company/model/types/companyTypes.ts
  src/features/company/createCompany/api/__mock__/createCompany.ts
  src/features/company/createCompany/index.ts
  src/features/company/createCompany/lib/validation/companyCreateSchema.ts
  src/features/company/createCompany/model/types/companyCreateTypes.ts
  src/features/company/deleteCompanies/model/thunks/deleteMultipleCompaniesThunk.ts
  src/features/company/deleteCompanies/ui/DeleteCompaniesButton/DeleteCompaniesButton.tsx
  src/features/company/editCompany/lib/validation/companyEditSchema.ts
  src/pages/admin/company/companies/model/slices/companiesTablePageSlice.ts
  src/pages/admin/company/companies/model/types/companiesTablePageTypes.ts
  src/pages/admin/company/companies/ui/CompaniesTablePage/CompaniesTablePage.tsx
  src/widgets/CompaniesTable/ui/CompaniesTable.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1842: add company for tasks
  src/entities/task/ui/TaskStructuresField/TaskStructuresField.tsx
  src/features/question/createMultipleQuestions/lib/utils/getCreateMultipleQuestionsApiErrorMessage.ts
  src/features/question/editQuestion/ui/QuestionEditForm/QuestionEditForm.tsx
  src/pages/admin/collection/collections/ui/CollectionsPage/CollectionsPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1820: Added page feature flags
  public/locales/en/featureFlags.json
  public/locales/en/translation.json
  public/locales/ru/featureFlags.json
  public/locales/ru/translation.json
  src/app/providers/router/routeConfig.tsx
  src/entities/featureFlag/api/featureFlagApi.ts
  src/entities/featureFlag/index.ts
  src/entities/featureFlag/model/constants/featureFlags.ts
  src/entities/featureFlag/model/types/featureFlag.ts
  src/pages/admin/featureFlag/index.ts
  src/pages/admin/featureFlag/ui/FeatureFlagPage/FeatureFlagPage.lazy.ts
  src/pages/admin/featureFlag/ui/FeatureFlagPage/FeatureFlagPage.tsx
  src/pages/admin/featureFlag/ui/FeatureFlagPage/FeatureFlagsTablePage.tsx
  src/shared/config/i18n/i18nNamespaces.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/query/apiTags.ts
  src/shared/config/router/routes.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1842: fix create collection with tasks
  src/entities/collection/model/types/collection.ts
  src/features/collections/createCollection/lib/validation/collectionCreateSchema.ts
  src/features/collections/editCollection/lib/validation/collectionEditSchema.ts
  src/pages/admin/collection/collectionDetail/ui/CollectionPage/CollectionPage.module.css
  src/pages/admin/collection/collectionDetail/ui/CollectionPage/CollectionPage.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

Release 1.8.6
  RELEASE_NOTES.md
  package-lock.json
  package.json
Due: none

YH-1665: added a referral link editing page (#1193)
  public/locales/en/referralLink.json
  public/locales/en/translation.json
  public/locales/ru/referralLink.json
  public/locales/ru/translation.json
  src/app/providers/router/routeConfig.tsx
  src/entities/referralLink/api/referralLinksApi.ts
  src/entities/referralLink/index.ts
  src/entities/referralLink/model/constants/referralLinksConstants.ts
  src/entities/referralLink/model/types/referralLinks.ts
  src/entities/referralLink/ui/ReferralLinkForm/ReferralLinkForm.module.css
  src/entities/referralLink/ui/ReferralLinkForm/ReferralLinkForm.tsx
  src/entities/user/@x/referralLink.ts
  src/features/referralLinks/createReferralLink/ui/ReferralLinkCreateFormCard/ReferralLinkCreateFormCard.tsx
  src/features/referralLinks/editReferralLink/api/editReferralLinkApi.ts
  src/features/referralLinks/editReferralLink/index.ts
  src/features/referralLinks/editReferralLink/lib/utils/getEditReferralLinkApiErrorMessage.ts
  src/features/referralLinks/editReferralLink/lib/validation/referralLinkEditSchema.ts
  src/features/referralLinks/editReferralLink/model/constants/editReferralLinkApiUrls.ts
  src/features/referralLinks/editReferralLink/model/types/referralEditPageTypes.ts
  src/features/referralLinks/editReferralLink/ui/ReferralLinkEditForm/ReferralLinkEditForm.module.css
  src/features/referralLinks/editReferralLink/ui/ReferralLinkEditForm/ReferralLinkEditForm.tsx
  src/features/referralLinks/editReferralLink/ui/ReferralLinkEditFormHeader/ReferralLinkEditFormHeader.tsx
  src/pages/admin/referralLink/referralLinkEdit/index.ts
  src/pages/admin/referralLink/referralLinkEdit/ui/ReferralLinkEditPage/ReferralLinkEditPage.lazy.tsx
  src/pages/admin/referralLink/referralLinkEdit/ui/ReferralLinkEditPage/ReferralLinkEditPage.tsx
  src/pages/admin/referralLink/referralLinks/ui/ReferralLinksTable/ReferralLinksTable.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1814: added skeleton for the task list page (#1187)
  src/entities/task/index.ts
  src/entities/task/ui/TaskCard/TaskCard.skeleton.tsx
  src/entities/task/ui/TaskCategoryFilterList/TaskCategoryFilterList.skeleton.tsx
  src/features/task/filterTasks/index.ts
  src/features/task/filterTasks/ui/TaskDifficultyFilter/TaskDifficultyFilter.skeleton.tsx
  src/features/task/filterTasks/ui/TaskFilters/TasksFilters.skeleton.tsx
  src/features/task/filterTasks/ui/TaskLanguagesFilter/TaskLanguagesFilter.skeleton.tsx
  src/pages/tasks/tasks/ui/TasksPage/TasksPage.skeleton.tsx
  src/pages/tasks/tasks/ui/TasksPage/TasksPage.tsx
  src/widgets/task/TasksList/ui/TasksList/TasksList.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1820: fIxed comments
  public/locales/en/featureFlags.json
  public/locales/ru/featureFlags.json
  src/app/msw/handlers.ts
  src/app/providers/router/routeConfig.tsx
  src/entities/featureFlag/api/__mocks__/data/featureFlagsMock.ts
  src/entities/featureFlag/api/__mocks__/featureFlagsListMock.ts
  src/entities/featureFlag/api/__mocks__/index.ts
  src/entities/featureFlag/api/featureFlagApi.ts
  src/entities/featureFlag/index.ts
  src/entities/featureFlag/model/types/featureFlag.ts
  src/entities/user/ui/UserRolesList/UserRolesList.test.tsx
  src/entities/user/ui/UserRolesList/UserRolesList.tsx
  src/pages/admin/featureFlag/featureFlags/index.ts
  src/pages/admin/featureFlag/featureFlags/ui/FeatureFlagPage/FeatureFlagsPage.lazy.ts
  src/pages/admin/featureFlag/featureFlags/ui/FeatureFlagPage/FeatureFlagsPage.tsx
  src/pages/admin/featureFlag/featureFlags/ui/FeatureFlagPage/FeatureFlagsTablePage.tsx
  src/pages/admin/featureFlag/index.ts
  src/pages/admin/featureFlag/ui/FeatureFlagPage/FeatureFlagPage.lazy.ts
  src/pages/admin/user/users/ui/UsersTable/UsersTable.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/Profile/UserBlock/ui/UserInfoBlock/UserInfoBlock.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1850: add addition generated questions to collection
  package-lock.json
  public/locales/en/collection.json
  public/locales/en/questions.json
  public/locales/ru/collection.json
  public/locales/ru/questions.json
  src/entities/collection/index.ts
  src/entities/collection/ui/CollectionForm/hooks/useCollectionQuestions.ts
  src/entities/collection/ui/CollectionSelect/CollectionSelect.tsx
  src/entities/company/ui/CompanySelect/CompanySelect.tsx
  src/entities/question/@x/collection.ts
  src/entities/question/index.ts
  src/entities/question/model/constants/question.ts
  src/entities/question/model/types/question.ts
  src/entities/referralLink/api/referralLinksApi.ts
  src/entities/referralLink/model/constants/referralLinksConstants.ts
  src/entities/referralLink/model/types/referralLinks.ts
  src/features/question/createMultipleQuestions/api/createMultipleQuestionsApi.ts
  src/features/question/createMultipleQuestions/index.ts
  src/features/question/createMultipleQuestions/model/constants/createMultipleQuestionsConstants.ts
  src/features/question/createMultipleQuestions/model/types/createMultipleQuestionsTypes.ts
  src/features/referralLinks/editReferralLink/api/editReferralLinkApi.ts
  src/features/referralLinks/editReferralLink/index.ts
  src/features/referralLinks/editReferralLink/lib/utils/getEditReferralLinkApiErrorMessage.ts
  src/features/referralLinks/editReferralLink/model/constants/editReferralLinkApiUrls.ts
  src/pages/admin/question/questionCreateMultiple/ui/questionCreateMultiplePage.tsx
  src/pages/admin/question/questions/ui/QuestionsTablePage/QuestionsTablePage.tsx
  src/pages/admin/referralLink/referralLinkEdit/index.ts
  src/pages/admin/referralLink/referralLinkEdit/ui/ReferralLinkEditPage/ReferralLinkEditPage.lazy.tsx
  src/pages/admin/referralLink/referralLinks/ui/ReferralLinksTable/ReferralLinksTable.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/question/GeneratedQuestionsWidget/ui/GeneratedQuestionsActions/GeneratedQuestionsActions.tsx
  src/widgets/question/GeneratedQuestionsWidget/ui/GeneratedQuestionsWidget/GeneratedQuestionsWidget.tsx
  src/widgets/question/GeneratedQuestionsWidget/ui/MoveToExistCollectionModal/MoveToExistCollectionModal.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1850: add ats page
  src/app/providers/router/routeConfig.tsx
  src/pages/career/resumeAnalyzer/api/resumeAnalyzeApi.ts
  src/pages/career/resumeAnalyzer/index.ts
  src/pages/career/resumeAnalyzer/model/constants/resumeAnalyzeConstants.ts
  src/pages/career/resumeAnalyzer/model/types/resumeAnalyze.ts
  src/pages/career/resumeAnalyzer/ui/ResumeAnalyzerPage/ResumeAnalyzerPage.lazy.ts
  src/pages/career/resumeAnalyzer/ui/ResumeAnalyzerPage/ResumeAnalyzerPage.tsx
  src/pages/career/resumeAnalyzer/ui/ResumeRecommendations/ResumeRecommendations.tsx
  src/pages/career/resumeAnalyzer/ui/UploadResumeForm/UploadResumeForm.tsx
  src/shared/config/query/apiTags.ts
  src/shared/config/router/routes.ts
  src/shared/ui/FileLoader/index.ts
  src/shared/ui/FileLoader/types.ts
Due: npm run prettier, npm run lint:ts:fix

Release 1.9.0
  RELEASE_NOTES.md
  package-lock.json
  package.json
Due: none

YH-1799: add message error topicDelete
  public/locales/en/referralLink.json
  public/locales/en/translation.json
  public/locales/ru/referralLink.json
  public/locales/ru/translation.json
  src/app/providers/router/routeConfig.tsx
  src/entities/referralLink/api/referralLinksApi.ts
  src/entities/referralLink/index.ts
  src/entities/referralLink/model/constants/referralLinksConstants.ts
  src/entities/referralLink/model/types/referralLinks.ts
  src/entities/referralLink/ui/ReferralLinkForm/ReferralLinkForm.module.css
  src/entities/referralLink/ui/ReferralLinkForm/ReferralLinkForm.tsx
  src/entities/user/@x/referralLink.ts
  src/features/referralLinks/createReferralLink/ui/ReferralLinkCreateFormCard/ReferralLinkCreateFormCard.tsx
  src/features/referralLinks/editReferralLink/api/editReferralLinkApi.ts
  src/features/referralLinks/editReferralLink/index.ts
  src/features/referralLinks/editReferralLink/lib/utils/getEditReferralLinkApiErrorMessage.ts
  src/features/referralLinks/editReferralLink/lib/validation/referralLinkEditSchema.ts
  src/features/referralLinks/editReferralLink/model/constants/editReferralLinkApiUrls.ts
  src/features/referralLinks/editReferralLink/model/types/referralEditPageTypes.ts
  src/features/referralLinks/editReferralLink/ui/ReferralLinkEditForm/ReferralLinkEditForm.module.css
  src/features/referralLinks/editReferralLink/ui/ReferralLinkEditForm/ReferralLinkEditForm.tsx
  src/features/referralLinks/editReferralLink/ui/ReferralLinkEditFormHeader/ReferralLinkEditFormHeader.tsx
  src/features/topics/deleteTopic/api/deleteTopicApi.ts
  src/features/topics/deleteTopic/lib/utils/getDeleteTopicApiMessage.ts
  src/features/topics/deleteTopic/model/types/deleteTopicTypes.ts
  src/pages/admin/referralLink/referralLinkEdit/index.ts
  src/pages/admin/referralLink/referralLinkEdit/ui/ReferralLinkEditPage/ReferralLinkEditPage.lazy.tsx
  src/pages/admin/referralLink/referralLinkEdit/ui/ReferralLinkEditPage/ReferralLinkEditPage.tsx
  src/pages/admin/referralLink/referralLinks/ui/ReferralLinksTable/ReferralLinksTable.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1844: added edit and delete buttons to referral link detail page
  src/features/referralLinks/deleteReferralLink/ui/DeleteReferralLinkButton/DeleteReferralLinkButton.tsx
  src/pages/admin/referralLink/ReferalLinkDetail/ui/ReferralLinkDetailPage/ReferralLinkDetailPageContent.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1846: pass reset handler to onChangeFilterValue in PublicCompanySelect
  src/entities/company/ui/PublicCompanySelect/PublicCompanySelect.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1853: added a mock request to get programming languages
  src/app/msw/handlers.ts
  src/entities/programmingLanguage/api/__mocks__/data/index.ts
  src/entities/programmingLanguage/api/__mocks__/data/programmingLanguagesMock.ts
  src/entities/programmingLanguage/api/__mocks__/index.ts
  src/entities/programmingLanguage/api/__mocks__/programmingLanguagesListMock.ts
  src/entities/programmingLanguage/index.ts
  src/entities/programmingLanguage/model/types/programmingLanguage.ts
  src/entities/task/ui/TaskStructuresField/TaskStructuresField.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1855: Mock request for subscriptions
  src/app/msw/handlers.ts
  src/entities/subscription/api/__mocks__/data/index.ts
  src/entities/subscription/api/__mocks__/data/subscriptionsMock.ts
  src/entities/subscription/api/__mocks__/index.ts
  src/entities/subscription/api/__mocks__/subscriptionsMock.ts
  src/entities/subscription/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1799: add message error topicDelete
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/entities/referralLink/api/referralLinksApi.ts
  src/entities/referralLink/model/constants/referralLinksConstants.ts
  src/entities/referralLink/model/types/referralLinks.ts
  src/features/referralLinks/editReferralLink/api/editReferralLinkApi.ts
  src/features/referralLinks/editReferralLink/index.ts
  src/features/referralLinks/editReferralLink/lib/utils/getEditReferralLinkApiErrorMessage.ts
  src/features/referralLinks/editReferralLink/model/constants/editReferralLinkApiUrls.ts
  src/pages/admin/referralLink/referralLinkEdit/index.ts
  src/pages/admin/referralLink/referralLinkEdit/ui/ReferralLinkEditPage/ReferralLinkEditPage.lazy.tsx
  src/pages/admin/referralLink/referralLinks/ui/ReferralLinksTable/ReferralLinksTable.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1808: Added a mock request to get referral links (#1183)
  src/app/msw/handlers.ts
  src/entities/referralLink/api/__mocks__/data/index.ts
  src/entities/referralLink/api/__mocks__/data/referralLinksMock.ts
  src/entities/referralLink/api/__mocks__/index.ts
  src/entities/referralLink/api/__mocks__/referralLinksListMock.ts
  src/entities/referralLink/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1786: delete mock Text, all props are described, separate blocks in the describe direct
  src/shared/ui/Chip/index.ts
  src/shared/ui/Dropdown/index.ts
  src/shared/ui/SelectWithChips/SelectWithChips.test.tsx
  src/shared/ui/SelectWithChips/SelectWithChips.tsx
  src/shared/ui/SelectWithChips/constants.ts
  src/shared/ui/Text/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1852: add SidebarBanner component and integrate into question/collection pages
  src/pages/wiki/collection/collectionDetail/ui/CollectionContent/CollectionContent.tsx
  src/pages/wiki/question/questionDetail/ui/QuestionPageContent/QuestionPageContent.tsx
  src/widgets/SidebarBanner/index.ts
  src/widgets/SidebarBanner/ui/SidebarBanner.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1852: create MentorBanner and fix styles
  src/app/styles/variables/pallete.css
  src/entities/mentor/index.ts
  src/entities/mentor/model/constans/mentor.ts
  src/entities/mentor/model/types/mentor.ts
  src/entities/mentor/model/ui/MentorBanner/MentorBanner.module.css
  src/entities/mentor/ui/MentorBanner/MentorBanner.module.css
  src/entities/mentor/ui/MentorBanner/MentorBanner.tsx
  src/shared/assets/images/mentorBaner/mentorBanner1.png
  src/shared/assets/images/mentorBaner/mentorBanner2.png
  src/shared/assets/images/mentorBaner/mentorBanner3.png
  src/shared/assets/images/mentorBaner/mentorBanner4.png
  src/shared/assets/images/mentorBaner/mentorBanner5.png
  src/shared/assets/images/mentorBaner/mentorBanner6.png
  src/shared/assets/images/mentorBaner/mentorBanner7.png
  src/shared/assets/images/mentorBaner/mentorBanner8.png
  src/shared/assets/images/mentorBaner/mentorBanner9.png
  src/widgets/SidebarBanner/ui/SidebarBanner.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1862: added error handling when creating a theme
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/features/topics/createTopics/api/createTopicApi.ts
  src/features/topics/createTopics/lib/utils/getCreateTopicsApiErrorMessage.ts
  src/features/topics/createTopics/model/types/topicCreateErrorTypes.ts
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1863: add tests for the ProgressBar component
  src/shared/ui/ProgressBar/ProgressBar.skeleton.tsx
  src/shared/ui/ProgressBar/ProgressBar.test.tsx
  src/shared/ui/ProgressBar/ProgressBar.tsx
  src/shared/ui/ProgressBar/constants.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1852; use object destructuring for mentor in MentorBanner
  package-lock.json
  src/entities/mentor/model/ui/MentorBanner/MentorBanner.module.css
  src/entities/mentor/ui/MentorBanner/MentorBanner.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1875: add tests for OrderFilter component
  src/shared/ui/OrderFilter/OrderFilter.test.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1852: fix
  public/locales/en/guru.json
  public/locales/ru/guru.json
  src/entities/guru/index.ts
  src/entities/guru/model/constants/gurus.ts
  src/entities/guru/model/helpers/getNewGuruWithMatchingSpecialization.ts
  src/entities/guru/model/types/guru.ts
  src/entities/guru/ui/NewGuruBanner/NewGuruBanner.module.css
  src/entities/guru/ui/NewGuruBanner/NewGuruBanner.tsx
  src/entities/mentor/index.ts
  src/entities/mentor/model/constans/mentor.ts
  src/entities/mentor/model/types/mentor.ts
  src/entities/mentor/ui/MentorBanner/MentorBanner.tsx
  src/pages/wiki/collection/collectionDetail/ui/CollectionContent/CollectionContent.tsx
  src/pages/wiki/question/questionDetail/ui/QuestionPageContent/QuestionPageContent.tsx
  src/shared/assets/images/mentorBaner/mentorBanner1.png
  src/shared/assets/images/mentorBaner/mentorBanner2.png
  src/shared/assets/images/mentorBaner/mentorBanner3.png
  src/shared/assets/images/mentorBaner/mentorBanner4.png
  src/shared/assets/images/mentorBaner/mentorBanner5.png
  src/shared/assets/images/mentorBaner/mentorBanner6.png
  src/shared/assets/images/mentorBaner/mentorBanner7.png
  src/shared/assets/images/mentorBaner/mentorBanner8.png
  src/shared/assets/images/mentorBaner/mentorBanner9.png
  src/shared/assets/images/skills/cicd.png
  src/shared/assets/images/skills/css.png
  src/shared/assets/images/skills/docker.png
  src/shared/assets/images/skills/eslint.png
  src/shared/assets/images/skills/html.png
  src/shared/assets/images/skills/js.png
  src/shared/assets/images/skills/redux.png
  src/shared/assets/images/skills/storybook.png
  src/shared/assets/images/skills/ts.png
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/SidebarBanner/ui/SidebarBanner.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1766: fix
  src/features/collections/createCollection/api/__mocks__/createCollectionMock.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1862: added error handling when creating a theme (#1207)
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/features/topics/createTopics/api/createTopicApi.ts
  src/features/topics/createTopics/lib/utils/getCreateTopicsApiErrorMessage.ts
  src/features/topics/createTopics/model/types/topicCreateErrorTypes.ts
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1855: Mock request for subscriptions (#1205)
  src/app/msw/handlers.ts
  src/entities/subscription/api/__mocks__/data/index.ts
  src/entities/subscription/api/__mocks__/data/subscriptionsMock.ts
  src/entities/subscription/api/__mocks__/index.ts
  src/entities/subscription/api/__mocks__/subscriptionsMock.ts
  src/entities/subscription/index.ts
Due: npm run prettier, npm run lint:ts:fix
