Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

.lintstagedrc:

{
  "./**/*.{ts,tsx,js,jsx}": ["npm run prettier", "npm run lint:ts:fix"],
  "*.css": "npm run lint:css:fix"
}

YH-523: fix styles SettingsPopover (#267)
  src/features/common/user-preferences/ui/UserPreferences.module.css
  src/features/common/user-preferences/ui/UserPreferences.tsx
  src/shared/ui/Button/ui/Button.module.css
  src/shared/ui/Icons/ProfileIcon/ProfileIcon.module.css
  src/shared/ui/Icons/ProfileIcon/ProfileIcon.tsx
  src/shared/ui/Icons/ProfileIcon/index.ts
  src/shared/ui/Icons/SignOutIcon/SignOutIcon.module.css
  src/shared/ui/Icons/SignOutIcon/SignOutIcon.tsx
  src/shared/ui/Icons/SignOutIcon/index.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-530: added feature forgot password
  public/locales/en/auth.json
  public/locales/en/translation.json
  public/locales/ru/auth.json
  public/locales/ru/translation.json
  src/features/authentication/forgotPassword/api/forgotPasswordApi.ts
  src/features/authentication/forgotPassword/index.ts
  src/features/authentication/forgotPassword/model/types/forgotPasswordTypes.ts
  src/features/authentication/forgotPassword/ui/ForgotPasswordForm/ForgotPasswordForm.tsx
  src/features/authentication/login/ui/LoginForm/LoginForm.tsx
  src/features/authentication/passwordRecovery/api/passwordRecoveryApi.ts
  src/features/authentication/passwordRecovery/model/types/passwordRecoveryTypes.ts
  src/features/authentication/passwordRecovery/ui/PasswordRecoveryForm/PasswordRecoveryForm.tsx
  src/pages/auth/ForgotPasswordPage/ui/ForgotPasswordPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/authentication/forgotPassword/ui/ForgotPassword/ForgotPassword.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-530: added feature forgot password
  public/locales/en/auth.json
  public/locales/en/translation.json
  public/locales/ru/auth.json
  public/locales/ru/translation.json
  src/features/authentication/forgotPassword/api/forgotPasswordApi.ts
  src/features/authentication/forgotPassword/index.ts
  src/features/authentication/forgotPassword/model/types/forgotPasswordTypes.ts
  src/features/authentication/forgotPassword/ui/EmailSendModal/EmailSendModal.tsx
  src/features/authentication/forgotPassword/ui/ForgotPasswordForm/ForgotPasswordForm.tsx
  src/features/authentication/login/ui/LoginForm/LoginForm.tsx
  src/features/authentication/passwordRecovery/api/passwordRecoveryApi.ts
  src/features/authentication/passwordRecovery/model/types/passwordRecoveryTypes.ts
  src/features/authentication/passwordRecovery/ui/PasswordRecoveryForm/PasswordRecoveryForm.tsx
  src/pages/auth/ForgotPasswordPage/ui/ForgotPasswordPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/authentication/forgotPassword/ui/ForgotPassword/ForgotPassword.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-527: restyle Popover
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/features/quiz/learnQuestion/ui/LearnQuestionButton.module.css
  src/features/quiz/learnQuestion/ui/LearnQuestionButton.tsx
  src/features/quiz/resetQuestionStudyProgress/ui/ResetQuestionStudyProgressButton.module.css
  src/features/quiz/resetQuestionStudyProgress/ui/ResetQuestionStudyProgressButton.tsx
  src/shared/assets/icons/openSideBar.svg
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/KeywordInput/KeywordInput.tsx
  src/widgets/Question/ui/QuestionPreview/QuestionPreview.module.css
  src/widgets/Question/ui/QuestionPreview/QuestionPreview.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-369: Fixed calculating fullness profile percent
  src/pages/interview/MainPage/ui/MainPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-381: disabled buttons logic, center buttons inner
  src/entities/question/model/types/question.ts
  src/features/quiz/learnQuestion/ui/LearnQuestionButton.tsx
  src/features/quiz/resetQuestionStudyProgress/ui/ResetQuestionStudyProgressButton.tsx
  src/pages/interview/QuestionPage/ui/QuestionPage.tsx
  src/pages/interview/QuestionsPage/ui/QuestionsPage/QuestionsPage.tsx
  src/widgets/Question/ui/QuestionActions/QuestionActions.module.css
  src/widgets/Question/ui/QuestionActions/QuestionActions.tsx
  src/widgets/Question/ui/QuestionPreview/QuestionPreview.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-530: delete consol log
  src/pages/auth/ForgotPasswordPage/ui/ForgotPasswordPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-453: fix content position
  src/widgets/SpecializationEmptyStub/ui/SpecializationEmptyStub.module.css
Due: npm run lint:css:fix

YH-530: added feature forgot password (#270)
  public/locales/en/auth.json
  public/locales/en/translation.json
  public/locales/ru/auth.json
  public/locales/ru/translation.json
  src/features/authentication/forgotPassword/api/forgotPasswordApi.ts
  src/features/authentication/forgotPassword/index.ts
  src/features/authentication/forgotPassword/model/types/forgotPasswordTypes.ts
  src/features/authentication/forgotPassword/ui/EmailSendModal/EmailSendModal.tsx
  src/features/authentication/forgotPassword/ui/ForgotPasswordForm/ForgotPasswordForm.tsx
  src/features/authentication/login/ui/LoginForm/LoginForm.tsx
  src/features/authentication/passwordRecovery/api/passwordRecoveryApi.ts
  src/features/authentication/passwordRecovery/model/types/passwordRecoveryTypes.ts
  src/features/authentication/passwordRecovery/ui/PasswordRecoveryForm/PasswordRecoveryForm.tsx
  src/pages/auth/ForgotPasswordPage/ui/ForgotPasswordPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/authentication/forgotPassword/ui/ForgotPassword/ForgotPassword.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-510: additional breakpoints added + images in high quality
  src/app/styles/variables/main-variables.css
  src/app/styles/variables/themes.css
  src/pages/landing/MainPage/ui/MainPage.module.css
  src/shared/assets/images/landing/interview-example-mobile.jpg
  src/shared/assets/images/landing/question-interface-bg-big.jpg
  src/shared/assets/images/landing/question-interface-bg-mobile.jpg
  src/shared/assets/images/landing/question-interface-bg-mobile.png
  src/shared/assets/images/landing/question-interface-bg-tablet.jpg
  src/shared/assets/images/landing/question-interface-bg.jpg
  src/shared/assets/images/landing/question-interface-bg.png
  src/shared/assets/images/landing/quiz-example.png
  src/shared/ui/AuthAvatarFrame/AuthAvatarFrame.module.css
  src/shared/ui/AuthAvatarFrame/AuthAvatarFrame.tsx
  src/widgets/Landing/Footer/ui/Footer.module.css
  src/widgets/Landing/Footer/ui/Footer.tsx
  src/widgets/Landing/Header/ui/Header/Header.tsx
  src/widgets/Landing/Header/ui/HeaderSkeleton/HeaderSkeleton.module.css
  src/widgets/Landing/Header/ui/HeaderSkeleton/HeaderSkeleton.tsx
  src/widgets/Landing/InterviewBlock/ui/AdvantagesList/AdvantagesList.module.css
  src/widgets/Landing/InterviewBlock/ui/AdvantagesList/AdvantagesList.tsx
  src/widgets/Landing/InterviewBlock/ui/InterviewBlock/InterviewBlock.module.css
  src/widgets/Landing/InterviewBlock/ui/Skills/Skills.module.css
  src/widgets/Landing/InterviewModeBlock/ui/Advantages/Advantages.module.css
  src/widgets/Landing/InterviewModeBlock/ui/InterviewModeBlock/InterviewModeBlock.module.css
  src/widgets/Landing/InterviewModeBlock/ui/InterviewModeBlock/InterviewModeBlock.tsx
  src/widgets/Landing/PlatformInterfaceBlock/ui/CategoriesBlock/CategoriesBlock.module.css
  src/widgets/Landing/PlatformInterfaceBlock/ui/CategoriesList/CategoriesList.module.css
  src/widgets/Landing/PlatformInterfaceBlock/ui/FiltersList/FiltersList.module.css
  src/widgets/Landing/PlatformInterfaceBlock/ui/PlatformInterfaceBlock/PlatformInterfaceBlock.module.css
  src/widgets/Landing/PlatformInterfaceBlock/ui/QuestionInterface/QuestionInterface.module.css
  src/widgets/Landing/PlatformInterfaceBlock/ui/QuestionInterface/QuestionInterface.tsx
  src/widgets/Landing/ProgressBlock/ui/ProgressBlock/ProgressBlock.module.css
  src/widgets/Landing/TrainingBlock/ui/OfferList/OfferList.module.css
  src/widgets/Landing/TrainingBlock/ui/QuestionList/QuestionList.module.css
  src/widgets/Landing/TrainingBlock/ui/QuestionList/QuestionList.tsx
  src/widgets/Landing/TrainingBlock/ui/TrainingBlock/TrainingBlock.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-527: correcting size of preffix btn on Popover
  src/widgets/Question/ui/QuestionPreview/QuestionPreview.module.css
Due: npm run lint:css:fix

YH-510: changes in themes.css file restored
  src/app/styles/variables/themes.css
Due: npm run lint:css:fix

YH-453: fix content position (#274)
  src/widgets/SpecializationEmptyStub/ui/SpecializationEmptyStub.module.css
Due: npm run lint:css:fix

YH-527: restyle Popover (#271)
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/features/quiz/learnQuestion/ui/LearnQuestionButton.module.css
  src/features/quiz/learnQuestion/ui/LearnQuestionButton.tsx
  src/features/quiz/resetQuestionStudyProgress/ui/ResetQuestionStudyProgressButton.module.css
  src/features/quiz/resetQuestionStudyProgress/ui/ResetQuestionStudyProgressButton.tsx
  src/shared/assets/icons/openSideBar.svg
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/Question/ui/QuestionPreview/QuestionPreview.module.css
  src/widgets/Question/ui/QuestionPreview/QuestionPreview.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-528: added change password
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/features/profile/changePassword/api/changePasswordApi.ts
  src/features/profile/changePassword/model/types/changePasswordTypes.ts
  src/features/profile/changePassword/ui/ChangePassword.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/Profile/ui/ChangePasswordTab/model/lib/validation/changePasswordSchema.ts
Due: npm run prettier, npm run lint:ts:fix

YH-369: Replaced component IncompleteProfileStub and removed useState, useEffect on MainPage
  src/pages/interview/MainPage/ui/MainPage.module.css
  src/pages/interview/MainPage/ui/MainPage.tsx
  src/widgets/IncompleteProfileStub/index.ts
  src/widgets/IncompleteProfileStub/ui/IncompleteProfileStub.module.css
  src/widgets/IncompleteProfileStub/ui/IncompleteProfileStub.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-369: Replaced func getPercentProfileFullness to IncompleteProfileStub, fixed Skeleton
  public/locales/en/interview.json
  public/locales/en/translation.json
  public/locales/ru/interview.json
  public/locales/ru/translation.json
  src/entities/auth/ui/RegistrationLabel/RegistrationLabel.tsx
  src/pages/interview/MainPage/ui/MainPage.module.css
  src/pages/interview/MainPage/ui/MainPage.tsx
  src/widgets/IncompleteProfileStub/ui/IncompleteProfileStub.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-161: add multiple deleting for admin entities
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/entities/auth/ui/RegistrationLabel/RegistrationLabel.tsx
  src/features/question/deleteQuestion/api/deleteQuestionApi.ts
  src/features/question/deleteQuestions/api/deleteQuestionsApi.ts
  src/features/question/deleteQuestions/index.ts
  src/features/question/deleteQuestions/slice/deleteQuestionsSlice.ts
  src/features/question/deleteQuestions/ui/DeleteQuestionsButton/DeleteQuestionsButton.tsx
  src/features/skill/deleteSkills/api/deleteSkillsApi.ts
  src/features/skill/deleteSkills/index.ts
  src/features/skill/deleteSkills/slice/deleteSkillsSlice.ts
  src/features/skill/deleteSkills/ui/DeleteSkillsButton/DeleteSkillsButton.tsx
  src/features/specialization/deleteSpecializations/api/deleteSpecializationsApi.ts
  src/features/specialization/deleteSpecializations/index.ts
  src/features/specialization/deleteSpecializations/slice/deleteSpecializationsSlice.ts
  src/features/specialization/deleteSpecializations/ui/DeleteSpecializationsButton/DeleteSpecializationsButton.tsx
  src/pages/admin/QuestionPage/QuestionPage.tsx
  src/pages/admin/QuestionsTablePage/model/slices/questionsTablePageSlice.ts
  src/pages/admin/QuestionsTablePage/model/types/questionsTablePageTypes.ts
  src/pages/admin/QuestionsTablePage/ui/QuestionsTablePage/QuestionsTablePage.tsx
  src/pages/admin/SkillsPage/model/slices/skillsPageSlice.ts
  src/pages/admin/SkillsPage/model/types/skillsPageTypes.ts
  src/pages/admin/SkillsPage/ui/SkillsPage/SkillsPage.tsx
  src/pages/admin/SpecializationsPage/model/slices/specializationsPageSlice.ts
  src/pages/admin/SpecializationsPage/model/types/specializationsPageTypes.ts
  src/pages/admin/SpecializationsPage/ui/SpecializationsPage/SpecializationsPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/types/types.ts
  src/shared/ui/Table/ui/Table.tsx
  src/widgets/QuestionsTable/ui/QuestionsTable.tsx
  src/widgets/SearchSection/ui/SearchSection.tsx
  src/widgets/SkillsTable/ui/SkillsTable.tsx
  src/widgets/SpecializationsTable/ui/SpecializationsTable.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-531: fix styles: border, background-color
  src/shared/ui/ErrorElement/ui/ErrorElement.module.css
Due: npm run lint:css:fix

YH-531: add ErrorBoundary; refactor formatAddress function (#269)
  src/app/layouts/AuthLayout/ui/AuthLayout/AuthLayout.tsx
  src/app/layouts/MainLayout/ui/MainLayout.tsx
  src/shared/helpers/formatAddress.tsx
  src/shared/ui/ErrorBoundary/index.ts
  src/shared/ui/ErrorBoundary/ui/ErrorBoundary.tsx
  src/shared/ui/ErrorElement/ui/ErrorElement.module.css
  src/shared/ui/ErrorElement/ui/ErrorElement.tsx
  src/widgets/Profile/ui/UserCard/ui/UserInfoBlock/UserInfoBlock.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-369: Fixed calculating fullness profile percent (#272)
  public/locales/en/interview.json
  public/locales/en/translation.json
  public/locales/ru/interview.json
  public/locales/ru/translation.json
  src/entities/auth/ui/RegistrationLabel/RegistrationLabel.tsx
  src/pages/interview/MainPage/ui/MainPage.module.css
  src/pages/interview/MainPage/ui/MainPage.tsx
  src/widgets/IncompleteProfileStub/index.ts
  src/widgets/IncompleteProfileStub/ui/IncompleteProfileStub.module.css
  src/widgets/IncompleteProfileStub/ui/IncompleteProfileStub.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-532: added subscription and faq component
  src/app/styles/variables/main-variables.css
  src/entities/subscription/index.ts
  src/entities/subscription/ui/Subscription/Subscription.module.css
  src/entities/subscription/ui/Subscription/Subscription.tsx
  src/features/subscription/subscribe/index.ts
  src/features/subscription/subscribe/ui/Subcribe.tsx
  src/shared/assets/icons/iconCheck.svg
  src/shared/assets/images/subscription-free.png
  src/shared/assets/images/subscription-medium.png
  src/shared/assets/images/subscription-premium.png
  src/shared/ui/Faq/index.ts
  src/shared/ui/Faq/ui/Faq.module.css
  src/shared/ui/Faq/ui/Faq.tsx
  src/shared/ui/Faq/ui/FaqItem.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-522: fixed disabled buttons state
  src/app/styles/variables/button-colors.css
  src/shared/ui/Button/ui/Button.module.css
  src/shared/ui/Button/ui/Button.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-381: added questions api tag
  src/features/quiz/learnQuestion/api/learnQuestionApi.ts
  src/features/quiz/resetQuestionStudyProgress/api/resetQuestionStudyProgressApi.ts
Due: npm run prettier, npm run lint:ts:fix

YH-522: fixed disabled buttons state (#278)
  src/app/styles/variables/button-colors.css
  src/shared/ui/Button/ui/Button.module.css
  src/shared/ui/Button/ui/Button.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-381: disabled buttons logic, center buttons inner (#273)
  src/entities/question/model/types/question.ts
  src/features/quiz/learnQuestion/api/learnQuestionApi.ts
  src/features/quiz/learnQuestion/ui/LearnQuestionButton.tsx
  src/features/quiz/resetQuestionStudyProgress/api/resetQuestionStudyProgressApi.ts
  src/features/quiz/resetQuestionStudyProgress/ui/ResetQuestionStudyProgressButton.tsx
  src/pages/interview/QuestionPage/ui/QuestionPage.tsx
  src/pages/interview/QuestionsPage/ui/QuestionsPage/QuestionsPage.tsx
  src/widgets/Question/ui/QuestionActions/QuestionActions.module.css
  src/widgets/Question/ui/QuestionActions/QuestionActions.tsx
  src/widgets/Question/ui/QuestionPreview/QuestionPreview.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-535: added support button to sidebar
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/Sidebar/ui/Sidebar/Sidebar.module.css
  src/widgets/Sidebar/ui/Sidebar/Sidebar.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-528: fixed comment errors
  src/features/profile/changePassword/api/changePasswordApi.ts
  src/features/profile/changePassword/model/types/changePasswordTypes.ts
  src/features/profile/changePassword/ui/ChangePassword.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-535: refactor styles, i18n, extract funciton
  src/widgets/Sidebar/ui/Sidebar/Sidebar.module.css
  src/widgets/Sidebar/ui/Sidebar/Sidebar.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-161: add multiple deleting for admin entities
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/features/question/deleteQuestion/api/deleteQuestionApi.ts
  src/features/question/deleteQuestions/api/deleteQuestionsApi.ts
  src/features/question/deleteQuestions/index.ts
  src/features/question/deleteQuestions/slice/deleteQuestionsSlice.ts
  src/features/question/deleteQuestions/ui/DeleteQuestionsButton/DeleteQuestionsButton.tsx
  src/features/skill/deleteSkills/api/deleteSkillsApi.ts
  src/features/skill/deleteSkills/index.ts
  src/features/skill/deleteSkills/slice/deleteSkillsSlice.ts
  src/features/skill/deleteSkills/ui/DeleteSkillsButton/DeleteSkillsButton.tsx
  src/features/specialization/deleteSpecializations/api/deleteSpecializationsApi.ts
  src/features/specialization/deleteSpecializations/index.ts
  src/features/specialization/deleteSpecializations/slice/deleteSpecializationsSlice.ts
  src/features/specialization/deleteSpecializations/ui/DeleteSpecializationsButton/DeleteSpecializationsButton.tsx
  src/pages/admin/QuestionsTablePage/model/slices/questionsTablePageSlice.ts
  src/pages/admin/QuestionsTablePage/model/types/questionsTablePageTypes.ts
  src/pages/admin/QuestionsTablePage/ui/QuestionsTablePage/QuestionsTablePage.tsx
  src/pages/admin/SkillsPage/model/slices/skillsPageSlice.ts
  src/pages/admin/SkillsPage/model/types/skillsPageTypes.ts
  src/pages/admin/SkillsPage/ui/SkillsPage/SkillsPage.tsx
  src/pages/admin/SpecializationsPage/model/slices/specializationsPageSlice.ts
  src/pages/admin/SpecializationsPage/model/types/specializationsPageTypes.ts
  src/pages/admin/SpecializationsPage/ui/SpecializationsPage/SpecializationsPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/types/types.ts
  src/shared/ui/Table/ui/Table.tsx
  src/widgets/QuestionsTable/ui/QuestionsTable.tsx
  src/widgets/SearchSection/ui/SearchSection.tsx
  src/widgets/SkillsTable/ui/SkillsTable.tsx
  src/widgets/SpecializationsTable/ui/SpecializationsTable.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-535: added support button to sidebar (#279)
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/Sidebar/ui/Sidebar/Sidebar.module.css
  src/widgets/Sidebar/ui/Sidebar/Sidebar.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-528: added change password (#275)
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/features/profile/changePassword/api/changePasswordApi.ts
  src/features/profile/changePassword/model/types/changePasswordTypes.ts
  src/features/profile/changePassword/ui/ChangePassword.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/Profile/ui/ChangePasswordTab/model/lib/validation/changePasswordSchema.ts
Due: npm run prettier, npm run lint:ts:fix

YH-558: fix translations in the interview hystory
  public/locales/en/interview.json
  public/locales/ru/interview.json
Due: none

YH-557: fix: buttons size, bound ref with modal
  src/shared/ui/Modal/ui/Modal.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-546: add story to Accordion
  .loki/reference/chrome_iphone7_shared_ui_Accordion_With_Children.png
  .loki/reference/chrome_iphone7_shared_ui_Accordion_Without_Children.png
  .loki/reference/chrome_laptop_shared_ui_Accordion_With_Children.png
  .loki/reference/chrome_laptop_shared_ui_Accordion_Without_Children.png
  src/shared/ui/Accordion/ui/Accordion.stories.tsx
  src/shared/ui/Accordion/ui/Accordion.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-532: fix subscription and faq component
  src/entities/subscription/ui/Subscription/Subscription.module.css
  src/entities/subscription/ui/Subscription/Subscription.tsx
  src/shared/assets/icons/subscription-base.svg
  src/shared/assets/icons/subscription-free.svg
  src/shared/assets/icons/subscription-premium.svg
  src/shared/assets/images/subscription-free.png
  src/shared/assets/images/subscription-medium.png
  src/shared/assets/images/subscription-premium.png
  src/shared/ui/Faq/ui/Faq.module.css
  src/shared/ui/Faq/ui/Faq.tsx
  src/shared/ui/Faq/ui/FaqItem.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-510: corrections
  public/locales/en/landing.json
  public/locales/ru/landing.json
  src/pages/landing/MainPage/ui/MainPage.module.css
  src/shared/assets/icons/DotsVertical.svg
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/AppLogo/AppLogo.module.css
  src/shared/ui/AppLogo/AppLogo.tsx
  src/shared/ui/Icons/CSSIcon/CSSIcon.tsx
  src/shared/ui/Icons/CSSIcon/index.ts
  src/shared/ui/Icons/ChevronUp/ChevronUp.tsx
  src/shared/ui/Icons/ChevronUp/index.ts
  src/shared/ui/Icons/HTMLIcon/HTMLIcon.tsx
  src/shared/ui/Icons/HTMLIcon/index.ts
  src/shared/ui/Icons/JSIcon/JSIcon.tsx
  src/shared/ui/Icons/JSIcon/index.ts
  src/shared/ui/Icons/ReactIcon/ReactIcon.tsx
  src/shared/ui/Icons/ReactIcon/index.ts
  src/widgets/Landing/Footer/ui/Footer.module.css
  src/widgets/Landing/Footer/ui/Footer.tsx
  src/widgets/Landing/Header/ui/Header/Header.module.css
  src/widgets/Landing/Header/ui/Header/Header.tsx
  src/widgets/Landing/InterviewBlock/ui/AdvantagesList/AdvantagesList.module.css
  src/widgets/Landing/InterviewBlock/ui/InterviewBlock/InterviewBlock.module.css
  src/widgets/Landing/InterviewBlock/ui/InterviewBlock/InterviewBlock.tsx
  src/widgets/Landing/InterviewBlock/ui/InterviewTitle/InterviewTitle.module.css
  src/widgets/Landing/InterviewBlock/ui/InterviewTitle/InterviewTitle.tsx
  src/widgets/Landing/InterviewBlock/ui/Skills/Skills.module.css
  src/widgets/Landing/InterviewModeBlock/ui/Advantages/Advantages.module.css
  src/widgets/Landing/InterviewModeBlock/ui/InterviewModeBlock/InterviewModeBlock.module.css
  src/widgets/Landing/PlatformInterfaceBlock/ui/CategoriesBlock/CategoriesBlock.module.css
  src/widgets/Landing/PlatformInterfaceBlock/ui/CategoriesList/CategoriesList.module.css
  src/widgets/Landing/PlatformInterfaceBlock/ui/CategoriesList/CategoriesList.tsx
  src/widgets/Landing/PlatformInterfaceBlock/ui/QuestionInterface/QuestionInterface.module.css
  src/widgets/Landing/PlatformInterfaceBlock/ui/QuestionInterface/QuestionInterface.tsx
  src/widgets/Landing/ProgressBlock/ui/ProgressBlock/ProgressBlock.module.css
  src/widgets/Landing/ProgressBlock/ui/ProgressBlock/ProgressBlock.tsx
  src/widgets/Landing/ProgressBlock/ui/Statistics/Statistics.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-510: small improvements
  public/locales/en/landing.json
  public/locales/ru/landing.json
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/Landing/PlatformInterfaceBlock/ui/QuestionInterface/QuestionInterface.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-558: fix translations in the interview hystory (#284)
  public/locales/en/interview.json
  public/locales/ru/interview.json
Due: none
