Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

.lintstagedrc:

{
  "./**/*.{ts,tsx,js,jsx}": ["npm run prettier", "npm run lint:ts:fix"],
  "*.css": "npm run lint:css:fix"
}

created method getting a user subscription and added a display of the current tariff
  src/entities/subscription/api/subscriptionApi.ts
  src/entities/subscription/model/constants/subscriptionConstants.ts
  src/entities/subscription/model/types/subscription.ts
  src/shared/config/api/apiTags.ts
  src/widgets/Profile/ui/SubscriptionTab/ui/PremiumSubscriptionTab/PremiumSubscriptionTab.module.css
  src/widgets/Profile/ui/SubscriptionTab/ui/PremiumSubscriptionTab/PremiumSubscriptionTab.tsx
  src/widgets/Profile/ui/SubscriptionTab/ui/SubscriptionTab/SubscriptionTab.module.css
  src/widgets/Profile/ui/SubscriptionTab/ui/SubscriptionTab/SubscriptionTab.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-698: created method getting a user subscription and added a display of the current tariff and bug-fix prettier
  src/entities/collection/ui/CollectionForm/CollectionForm.module.css
Due: npm run lint:css:fix

YH-698: fixed the problems and destructured the logic
  src/entities/subscription/api/subscriptionApi.ts
  src/entities/subscription/index.ts
  src/entities/subscription/model/constants/subscriptionConstants.ts
  src/entities/subscription/model/types/subscription.ts
  src/shared/config/api/apiTags.ts
  src/shared/utils/calculatingRemainingSubscription.ts
  src/widgets/Profile/ui/SubscriptionTab/types/types.ts
  src/widgets/Profile/ui/SubscriptionTab/ui/PremiumSubscriptionTab/PremiumSubscriptionTab.tsx
  src/widgets/Profile/ui/SubscriptionTab/ui/SubscriptionTab/SubscriptionTab.tsx
Due: npm run prettier, npm run lint:ts:fix

[feature/YH-674] - add request to get collections list
  src/entities/collection/api/collectionApi.ts
  src/entities/collection/index.ts
  src/entities/collection/model/constants/collection.ts
  src/entities/collection/model/types/collection.ts
  src/pages/admin/CollectionPage/ui/CollectionPage.tsx
  src/pages/admin/CollectionsPage/ui/CollectionsPage/CollectionsPage.tsx
  src/pages/admin/CollectionsPage/ui/CollectionsPagePagination/CollectionsPagePagination.module.css
  src/pages/admin/CollectionsPage/ui/CollectionsPagePagination/CollectionsPagePagination.tsx
  src/shared/config/api/apiTags.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

[feature/YH-720] - mock request to delete specialization
  src/app/msw/handlers.ts
  src/entities/specialization/api/__mocks__/data/index.ts
  src/entities/specialization/api/__mocks__/data/specializationsMock.ts
  src/entities/specialization/index.ts
  src/features/specialization/deleteSpecialization/api/__mocks__/deleteSpecializationMock.ts
  src/features/specialization/deleteSpecialization/api/__mocks__/index.ts
  src/features/specialization/deleteSpecialization/index.ts
  src/pages/admin/CollectionPage/ui/CollectionPage.tsx
Due: npm run prettier, npm run lint:ts:fix

fixed specializationsMock
  src/entities/specialization/api/__mocks__/data/specializationsMock.ts
Due: npm run prettier, npm run lint:ts:fix

[feature/YH-724] - mock request to get a skill
  src/app/msw/handlers.ts
  src/entities/skill/api/__mocks__/data/index.ts
  src/entities/skill/api/__mocks__/data/skillsMock.ts
  src/entities/skill/api/__mocks__/index.ts
  src/entities/skill/api/__mocks__/skillMock.ts
  src/entities/skill/api/skillApi.ts
  src/entities/skill/index.ts
  src/entities/skill/model/types/skill.ts
  src/pages/admin/CollectionPage/ui/CollectionPage.tsx
  src/pages/admin/SkillDetailPage/ui/SkillDetailPage/SkillDetailPage.tsx
  src/pages/admin/SkillEditPage/ui/SkillEditPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-699: add subscriptionCards widget (#422)
  public/locales/en/subscription.json
  public/locales/en/subscriptionCard.json
  public/locales/ru/subscription.json
  public/locales/ru/subscriptionCard.json
  src/entities/auth/model/types/auth.ts
  src/entities/collection/ui/CollectionForm/CollectionForm.module.css
  src/entities/subscription/model/types/subscription.ts
  src/entities/subscription/ui/SubscriptionCard/SubscriptionCard.module.css
  src/entities/subscription/ui/SubscriptionCard/SubscriptionCard.tsx
  src/features/authentication/registration/ui/RegisterForm/RegisterForm.tsx
  src/features/subscription/SubscribeButton/ui/SubscribeButton.tsx
  src/features/subscription/index.ts
  src/features/subscription/model/types/subscriptionAgreeTypes.ts
  src/features/subscription/model/validation/subscriptionAgreeSchema.ts
  src/features/subscription/ui/AgreementForm/AgreementForm.module.css
  src/features/subscription/ui/AgreementForm/AgreementForm.tsx
  src/features/subscription/ui/SubscribeButton/index.ts
  src/features/subscription/ui/SubscribeButton/ui/SubscribeButton.tsx
  src/features/subscription/ui/UnsubscribeButton/index.ts
  src/features/subscription/ui/UnsubscribeButton/ui/UnsubscribeButton.tsx
  src/shared/assets/icons/free-sub.svg
  src/shared/assets/icons/pro-sub.svg
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Text/ui/Text.module.css
  src/shared/utils/parseI18nText.ts
  src/widgets/FaqList/ui/FaqItem/FaqItem.module.css
  src/widgets/FaqList/ui/FaqItem/FaqItem.tsx
  src/widgets/FaqList/ui/FaqList/Faq.tsx
  src/widgets/FaqList/ui/FaqList/FaqList.module.css
  src/widgets/Profile/ui/SubscriptionTab/ui/SubscriptionTab/SubscriptionTab.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

[feature/YH-724] - mock request to get a skill (#430)
  src/app/msw/handlers.ts
  src/entities/skill/api/__mocks__/data/index.ts
  src/entities/skill/api/__mocks__/data/skillsMock.ts
  src/entities/skill/api/__mocks__/index.ts
  src/entities/skill/api/__mocks__/skillMock.ts
  src/entities/skill/api/skillApi.ts
  src/entities/skill/index.ts
  src/entities/skill/model/types/skill.ts
  src/pages/admin/CollectionPage/ui/CollectionPage.tsx
  src/pages/admin/SkillDetailPage/ui/SkillDetailPage/SkillDetailPage.tsx
  src/pages/admin/SkillEditPage/ui/SkillEditPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-714: add mock for specializations list (#424)
  src/app/msw/handlers.ts
  src/entities/specialization/api/__mocks__/data/index.ts
  src/entities/specialization/api/__mocks__/data/specializationsMock.ts
  src/entities/specialization/api/__mocks__/index.ts
  src/entities/specialization/api/__mocks__/specializationListMock.ts
  src/entities/specialization/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-634: feature UserEdit
  src/app/providers/router/config/routeConfig.tsx
  src/entities/user/api/userApi.ts
  src/entities/user/index.ts
  src/entities/user/model/constants/userConstants.ts
  src/entities/user/ui/RoleSelect/RoleSelect.tsx
  src/entities/user/ui/UserCard/UserCard.tsx
  src/pages/admin/UserDetailPage/ui/UserDetailPage.tsx
  src/pages/admin/UserEditPage/index.ts
  src/pages/admin/UserEditPage/ui/UserEditPage.lazy.tsx
  src/pages/admin/UserEditPage/ui/UserEditPage.tsx
  src/shared/config/router/routes.ts
  src/shared/ui/SelectWithChips/SelectWithChips.tsx
  src/widgets/UsersTable/ui/UsersTable.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-720: fix prettier
  public/locales/en/translation.json
  public/locales/en/user.json
  public/locales/ru/collection.json
  public/locales/ru/user.json
  src/app/msw/handlers.ts
  src/entities/specialization/api/__mocks__/data/index.ts
  src/entities/specialization/index.ts
  src/entities/user/api/userApi.ts
  src/entities/user/index.ts
  src/entities/user/ui/RoleSelect/RoleSelect.tsx
  src/entities/user/ui/UserCard/UserCard.tsx
  src/features/collections/editCollection/ui/index.ts
  src/features/question/editQuestion/api/__mocks__/index.ts
  src/features/question/editQuestion/index.ts
  src/pages/admin/CollectionEditPage/ui/CollectionEditPage.tsx
  src/pages/admin/UserDetailPage/ui/UserDetailPage.tsx
  src/shared/ui/Text/ui/Text.tsx
  src/widgets/UsersTable/ui/UsersTable.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-720: fix mock specializations count after delete
  src/features/specialization/deleteSpecialization/api/__mocks__/deleteSpecializationMock.ts
Due: npm run prettier, npm run lint:ts:fix

YH-543: add styles to specialization create page (#414)
  public/locales/ru/specialization.json
  src/entities/specialization/ui/SpecializationForm/SpecializationForm.module.css
  src/entities/specialization/ui/SpecializationForm/SpecializationForm.tsx
  src/features/specialization/createSpecialization/ui/SpecializationCreateForm/SpecializationCreateForm.tsx
  src/features/specialization/createSpecialization/ui/SpecializationCreateFormHeader/SpecializationCreateFormHeader.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-720: mock request to delete specialization (#429)
  public/locales/en/translation.json
  public/locales/en/user.json
  public/locales/ru/collection.json
  public/locales/ru/user.json
  src/app/msw/handlers.ts
  src/entities/user/api/userApi.ts
  src/entities/user/index.ts
  src/entities/user/ui/RoleSelect/RoleSelect.tsx
  src/entities/user/ui/UserCard/UserCard.tsx
  src/features/collections/editCollection/ui/index.ts
  src/features/question/editQuestion/api/__mocks__/index.ts
  src/features/question/editQuestion/index.ts
  src/features/specialization/deleteSpecialization/api/__mocks__/deleteSpecializationMock.ts
  src/features/specialization/deleteSpecialization/api/__mocks__/index.ts
  src/features/specialization/deleteSpecialization/index.ts
  src/pages/admin/CollectionEditPage/ui/CollectionEditPage.tsx
  src/pages/admin/UserDetailPage/ui/UserDetailPage.tsx
  src/shared/ui/Text/ui/Text.tsx
  src/widgets/UsersTable/ui/UsersTable.tsx
Due: npm run prettier, npm run lint:ts:fix

[feature/YH-674] - add request to get collections list (#428)
  src/entities/collection/api/collectionApi.ts
  src/entities/collection/index.ts
  src/entities/collection/model/constants/collection.ts
  src/entities/collection/model/types/collection.ts
  src/pages/admin/CollectionsPage/ui/CollectionsPage/CollectionsPage.tsx
  src/pages/admin/CollectionsPage/ui/CollectionsPagePagination/CollectionsPagePagination.module.css
  src/pages/admin/CollectionsPage/ui/CollectionsPagePagination/CollectionsPagePagination.tsx
  src/shared/config/api/apiTags.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-693: fix validation
  public/locales/ru/collection.json
  src/entities/collection/model/types/collection.ts
  src/entities/collection/ui/CollectionForm/CollectionForm.module.css
  src/entities/collection/ui/CollectionForm/CollectionForm.tsx
  src/features/collections/createCollection/model/lib/validation/collectionCreateSchema.ts
  src/features/collections/editCollection/model/lib/validation/collectionEditSchema.ts
  src/features/collections/editCollection/ui/CollectionEditForm/CollectionEditForm.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-693: fix keywords
  src/widgets/Collection/ui/AdditionalInfo/AdditionalInfo.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-718: add mock request to create a specialization
  src/app/msw/handlers.ts
  src/features/specialization/createSpecialization/api/__mock__/createSpecializationMock.ts
  src/features/specialization/createSpecialization/api/__mock__/index.ts
  src/features/specialization/createSpecialization/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-718: changing the id setting method, adding a specialization to the array of mock specializations
  src/features/specialization/createSpecialization/api/__mock__/createSpecializationMock.ts
Due: npm run prettier, npm run lint:ts:fix

YH-693: fix alignment
  src/entities/collection/ui/CollectionForm/CollectionForm.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-718: add mock request to create a specialization (#425)
  src/app/msw/handlers.ts
  src/features/specialization/createSpecialization/api/__mock__/createSpecializationMock.ts
  src/features/specialization/createSpecialization/api/__mock__/index.ts
  src/features/specialization/createSpecialization/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-698: I have removed unnecessary functions and fixed some subscription methods.
  src/entities/auth/model/types/auth.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/utils/calculatingRemainingSubscription.ts
  src/widgets/Profile/ui/SubscriptionTab/types/types.ts
  src/widgets/Profile/ui/SubscriptionTab/ui/PremiumSubscriptionTab/PremiumSubscriptionTab.module.css
  src/widgets/Profile/ui/SubscriptionTab/ui/PremiumSubscriptionTab/PremiumSubscriptionTab.tsx
  src/widgets/Profile/ui/SubscriptionTab/ui/SubscriptionTab/SubscriptionTab.module.css
  src/widgets/Profile/ui/SubscriptionTab/ui/SubscriptionTab/SubscriptionTab.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

fix profileId QuestionPreview
  src/widgets/Question/ui/QuestionPreview/QuestionPreview.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-698: edits for merging changes
  src/entities/auth/model/types/auth.ts
  src/widgets/Profile/ui/SubscriptionTab/ui/SubscriptionTab/SubscriptionTab.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-474: dropdown refactoring
  src/shared/ui/Dropdown/index.ts
  src/shared/ui/Dropdown/model/DropdownTypes.ts
  src/shared/ui/Dropdown/ui/Dropdown/Dropdown.module.css
  src/shared/ui/Dropdown/ui/Dropdown/Dropdown.tsx
  src/shared/ui/Dropdown/ui/DropdownMenu/DropdownMenu.module.css
  src/shared/ui/Dropdown/ui/DropdownMenu/DropdownMenu.tsx
  src/shared/ui/Dropdown/ui/DropdownOption/DropdownOption.tsx
  src/shared/ui/Dropdown/ui/Option/Option.module.css
  src/shared/ui/Dropdown/ui/Option/Option.tsx
  src/shared/ui/Dropdown/ui/Select/Select.module.css
  src/shared/ui/Dropdown/ui/Select/Select.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-698: changed the method of getting the current subscription
  src/widgets/Profile/ui/SubscriptionTab/ui/SubscriptionTab/SubscriptionTab.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-698: fixed type names and EndDate
  src/entities/subscription/model/types/subscription.ts
  src/widgets/Profile/ui/SubscriptionTab/ui/SubscriptionTab/SubscriptionTab.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-730: [add card shadow & fix card_edit_block position]
  package-lock.json
  src/widgets/Profile/ui/InfoCard/ui/InfoBlock/InfoBlock.tsx
  src/widgets/Profile/ui/SkillsCard/ui/SkillsBlock/SkillsBlock.tsx
  src/widgets/Profile/ui/UserCard/ui/UserBlock/UserBlock.module.css
  src/widgets/Profile/ui/UserCard/ui/UserBlock/UserBlock.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-730: [add card shadow & fix card_edit_block position] (#433)
  package-lock.json
  src/widgets/Profile/ui/InfoCard/ui/InfoBlock/InfoBlock.tsx
  src/widgets/Profile/ui/SkillsCard/ui/SkillsBlock/SkillsBlock.tsx
  src/widgets/Profile/ui/UserCard/ui/UserBlock/UserBlock.module.css
  src/widgets/Profile/ui/UserCard/ui/UserBlock/UserBlock.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-711: display selected skills / spec in title
  public/locales/en/questions.json
  public/locales/ru/questions.json
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsPage/PublicQuestionsPage.tsx
  src/widgets/Question/ui/QuestionsSummaryList/QuestionsSummaryList.module.css
  src/widgets/Question/ui/QuestionsSummaryList/QuestionsSummaryList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-704: fix default specialty
  src/entities/specialization/ui/SpecializationSelect/SpecializationSelect.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-737: fix for autorization, trim the spaces when submitting the form, send the form via Enter
  src/features/authentication/login/ui/LoginForm/LoginForm.module.css
  src/features/authentication/login/ui/LoginForm/LoginForm.tsx
  src/widgets/authentication/login/model/lib/validation/loginSchema.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-729: added cookie warning to landing page
  public/locales/ru/landing.json
  src/app/layouts/LandingLayout/ui/LandingLayout.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/Landing/CookiesWarningBlock/index.ts
  src/widgets/Landing/CookiesWarningBlock/ui/CookiesWarning.module.css
  src/widgets/Landing/CookiesWarningBlock/ui/CookiesWarning.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-688: Disable Specialization Change On Select
  src/entities/specialization/ui/SpecializationSelect/SpecializationSelect.tsx
  src/features/profile/editProfileForm/ui/PersonalInformationTabForm/PersonalInformationTabForm.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-711: refactoring
  src/pages/admin/CollectionsPage/ui/CollectionsPage/CollectionsPage.tsx
  src/pages/landing/PublicQuestionsPage/hooks/useTitleFromQuery.ts
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsPage/PublicQuestionsPage.tsx
  src/shared/ui/Text/ui/Text.tsx
  src/widgets/Question/ui/QuestionsSummaryList/QuestionsSummaryList.module.css
  src/widgets/Question/ui/QuestionsSummaryList/QuestionsSummaryList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-698: changed the title text and the color of unsubscribe button
  public/locales/ru/subscription.json
  src/shared/ui/Button/ui/Button.module.css
  src/widgets/Profile/ui/SubscriptionTab/ui/FreeSubscriptionTab/FreeSubscriptionTab.tsx
  src/widgets/Profile/ui/SubscriptionTab/ui/PremiumSubscriptionTab/PremiumSubscriptionTab.module.css
  src/widgets/Profile/ui/SubscriptionTab/ui/PremiumSubscriptionTab/PremiumSubscriptionTab.tsx
  src/widgets/Profile/ui/SubscriptionTab/ui/SubscriptionTab/SubscriptionTab.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-737: fix for autorization, trim the spaces when submitting the form, send the form via Enter (#437)
  src/features/authentication/login/ui/LoginForm/LoginForm.module.css
  src/features/authentication/login/ui/LoginForm/LoginForm.tsx
  src/widgets/authentication/login/model/lib/validation/loginSchema.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix
