Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-476: fixed hiding a test answer on interviewQuizPage
  src/entities/quiz/ui/QuestionNavPanel/QuestionNavPanel.tsx
  src/pages/interview/InterviewQuizPage/ui/InterviewQuizPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-476: fixed styles
  src/entities/quiz/ui/QuestionNavPanel/QuestionNavPanel.tsx
  src/entities/quiz/ui/ResponseButtons/ResponseButtons.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-476: fixed hiding a test answer on interviewQuizPage (#212)
  src/entities/quiz/ui/QuestionNavPanel/QuestionNavPanel.tsx
  src/entities/quiz/ui/ResponseButtons/ResponseButtons.module.css
  src/pages/interview/InterviewQuizPage/ui/InterviewQuizPage.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-460: admin question edit fix (#207)
  src/features/question/createQuestion/ui/QuestionCreateFormHeader/QuestionCreateFormHeader.tsx
  src/pages/admin/QuestionEditPage/ui/QuestionEditPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-479: prevent content copying
  package-lock.json
  public/index.html
  src/app/styles/App.css
Due: npm run lint:css:fix

YH-479: add brows
  src/app/styles/App.css
Due: npm run lint:css:fix

YH-479: delete
  src/app/styles/App.css
Due: npm run lint:css:fix

YH-479: fix comments
  public/index.html
  src/app/styles/App.css
Due: npm run lint:css:fix

YH-479: Prevent content copying (#213)
  package-lock.json
  public/index.html
  src/app/styles/App.css
Due: npm run lint:css:fix

YH-465: Question page admin / interview refactoring
  src/app/providers/router/config/routeConfig.tsx
  src/features/question/editQuestion/ui/QuestionEditFormHeader/QuestionEditFormHeader.tsx
  src/pages/admin/QuestionPage/QuestionPage.module.css
  src/pages/admin/QuestionPage/QuestionPage.skeleton.tsx
  src/pages/admin/QuestionPage/QuestionPage.tsx
  src/pages/admin/QuestionPage/index.ts
  src/shared/ui/BackHeader/index.ts
  src/shared/ui/BackHeader/ui/BackHeader.module.css
  src/shared/ui/BackHeader/ui/BackHeader.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-441: fix animation
  src/shared/ui/Card/ui/Card.module.css
  src/shared/ui/Card/ui/Card.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-441: fix
  .eslintrc.json
Due: none

Update Card.module.css
  src/shared/ui/Card/ui/Card.module.css
Due: npm run lint:css:fix

added alt translation to images
  public/locales/en/profile.json
  public/locales/en/questions.json
  public/locales/en/specialization.json
  public/locales/en/translation.json
  public/locales/ru/profile.json
  public/locales/ru/questions.json
  public/locales/ru/specialization.json
  public/locales/ru/translation.json
  src/entities/skill/ui/SkillCard/SkillCard.tsx
  src/entities/specialization/ui/SpecializationCard/SpecializationCard.tsx
  src/features/common/user-preferences/ui/UserPreferences.tsx
  src/pages/Error404Page/ui/Error404Page.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/AppLogo/AppLogo.tsx
  src/shared/ui/FileLoader/FileLoader.tsx
  src/shared/ui/ImageLoader/ImageLoader.tsx
  src/shared/ui/SkillLabel/SkillsLabel.tsx
  src/widgets/Profile/ui/AchievmentCard/ui/AchievmentsBlockItem/AchievmentsBlockItem.tsx
  src/widgets/Profile/ui/ExperienceCard/ui/ExperienceBlockItem/ExperienceBlockItem.tsx
  src/widgets/Profile/ui/ProjectsCard/ui/ProjectsBlockItem/ProjectsBlockItem.tsx
  src/widgets/Profile/ui/UserCard/ui/UserImageBlock/UserImageBlock.tsx
  src/widgets/Question/ui/QuestionPreview/QuestionPreview.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-478: fixed skills image
  src/entities/question/ui/ChooseQuestionComplexity/ChooseQuestionComplexity.tsx
  src/entities/question/ui/ChooseQuestionsCategories/ChooseQuestionsCategories.tsx
  src/entities/quiz/ui/QuizQuestionMode/QuizQuestionMode.tsx
  src/entities/skill/model/types/skill.ts
  src/shared/ui/BaseFilterSection/BaseFilterSection.tsx
  src/shared/utils/getIconSkillImage.ts
  src/widgets/Question/ui/AdditionalInfo/AdditionalInfo.tsx
  src/widgets/Question/ui/QuestionsFilterPanel/model/types.ts
  src/widgets/Question/ui/QuestionsFilterPanel/ui/RateFilterSection/RateFilterSection.tsx
  src/widgets/Question/ui/QuestionsFilterPanel/ui/StatusFilterSection/StatusFilterSection.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-472: skills level input removed (#211)
  src/features/editProfileForm/ui/PersonalInformationTabForm/PersonalInformationTabForm.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-465: Question page admin / interview refactoring (#214)
  src/app/providers/router/config/routeConfig.tsx
  src/features/question/editQuestion/ui/QuestionEditFormHeader/QuestionEditFormHeader.tsx
  src/pages/admin/QuestionPage/QuestionPage.module.css
  src/pages/admin/QuestionPage/QuestionPage.skeleton.tsx
  src/pages/admin/QuestionPage/QuestionPage.tsx
  src/pages/admin/QuestionPage/index.ts
  src/shared/ui/BackHeader/index.ts
  src/shared/ui/BackHeader/ui/BackHeader.module.css
  src/shared/ui/BackHeader/ui/BackHeader.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-478: fixed fds logic in skills icons
  src/entities/question/ui/ChooseQuestionComplexity/ChooseQuestionComplexity.tsx
  src/entities/question/ui/ChooseQuestionsCategories/ChooseQuestionsCategories.tsx
  src/entities/quiz/ui/QuizQuestionMode/QuizQuestionMode.tsx
  src/entities/skill/utils/getSkillDefaultIcon.ts
  src/shared/ui/BaseFilterSection/BaseFilterSection.tsx
  src/widgets/Question/ui/AdditionalInfo/AdditionalInfo.tsx
  src/widgets/Question/ui/QuestionsFilterPanel/ui/RateFilterSection/RateFilterSection.tsx
  src/widgets/Question/ui/QuestionsFilterPanel/ui/StatusFilterSection/StatusFilterSection.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-478: fixed import getSkillDefaultIcon
  src/entities/question/ui/ChooseQuestionsCategories/ChooseQuestionsCategories.tsx
  src/entities/skill/index.ts
  src/widgets/Question/ui/AdditionalInfo/AdditionalInfo.tsx
  src/widgets/Question/ui/QuestionsFilterPanel/model/types.ts
  src/widgets/Question/ui/QuestionsFilterPanel/ui/StatusFilterSection/StatusFilterSection.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-490: Remove mobile browser hover effect
  src/app/styles/App.css
Due: npm run lint:css:fix

YH-490: Remove mobile browser hover effect (#220)
  src/app/styles/App.css
Due: npm run lint:css:fix

Fix/yh 441 (#215)
  .eslintrc.json
  src/shared/ui/Card/ui/Card.module.css
  src/shared/ui/Card/ui/Card.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-487: transfer Button component from UiKit
  src/app/styles/App.css
  src/shared/ui/UiButton/index.ts
  src/shared/ui/UiButton/types.ts
  src/shared/ui/UiButton/ui/UiButton.module.css
  src/shared/ui/UiButton/ui/UiButton.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-440: add prop rootName
  src/app/styles/App.css
  src/shared/ui/Drawer/ui/Drawer.module.css
  src/shared/ui/Drawer/ui/Drawer.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-427: Admin specialization edit page
  src/app/providers/router/config/routeConfig.tsx
  src/entities/specialization/api/specializationApi.ts
  src/entities/specialization/model/types/specialization.ts
  src/pages/admin/SpecializationEditPage/index.ts
  src/pages/admin/SpecializationEditPage/ui/SpecializationEditPage.lazy.tsx
  src/pages/admin/SpecializationEditPage/ui/SpecializationEditPage.tsx
  src/pages/profile/ProfilePage/ui/ProfilePage.tsx
  src/shared/config/router/routes.ts
  src/widgets/SpecializationsTable/ui/SpecializationsTable.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-428: Specialization creation page
  src/app/providers/router/config/routeConfig.tsx
  src/features/specialization/createSpecialization/ui/SpecializationCreateFormHeader/SpecializationCreateFormHeader.tsx
  src/pages/admin/SpecializationCreatePage/index.ts
  src/pages/admin/SpecializationCreatePage/ui/SpecializationCreatePage.lazy.tsx
  src/pages/admin/SpecializationCreatePage/ui/SpecializationCreatePage.tsx
  src/shared/config/router/routes.ts
Due: npm run prettier, npm run lint:ts:fix

YH-434: Specialization details page
  src/app/providers/router/config/routeConfig.tsx
  src/pages/admin/SpecializationDetailPage/index.ts
  src/pages/admin/SpecializationDetailPage/ui/SpecializationDetailPage/SpecializationDetailPage.lazy.tsx
  src/pages/admin/SpecializationDetailPage/ui/SpecializationDetailPage/SpecializationDetailPage.tsx
  src/shared/config/router/routes.ts
Due: npm run prettier, npm run lint:ts:fix

YH-467: buttons on lending is available
  src/widgets/Landing/InterviewBlock/ui/InterviewBlock/InterviewBlock.tsx
  src/widgets/Landing/PlatformInterfaceBlock/ui/CategoriesBlock/CategoriesBlock.tsx
  src/widgets/Landing/TrainingBlock/ui/TrainingBlock/TrainingBlock.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-491: add popup in specialization table
  src/features/skill/deleteSkill/ui/DeleteSkillButton/DeleteSkillButton.tsx
  src/features/specialization/deleteSpecialization/ui/DeleteSpecializationButton/DeleteSpecializationButton.tsx
  src/widgets/SkillsTable/ui/SkillsTable.tsx
  src/widgets/SpecializationsTable/ui/SpecializationsTable.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-(427, 428, 434): Admin specialization route (#222)
  src/app/providers/router/config/routeConfig.tsx
  src/entities/specialization/api/specializationApi.ts
  src/entities/specialization/model/types/specialization.ts
  src/features/specialization/createSpecialization/ui/SpecializationCreateFormHeader/SpecializationCreateFormHeader.tsx
  src/pages/admin/SpecializationCreatePage/index.ts
  src/pages/admin/SpecializationCreatePage/ui/SpecializationCreatePage.lazy.tsx
  src/pages/admin/SpecializationCreatePage/ui/SpecializationCreatePage.tsx
  src/pages/admin/SpecializationDetailPage/index.ts
  src/pages/admin/SpecializationDetailPage/ui/SpecializationDetailPage/SpecializationDetailPage.lazy.tsx
  src/pages/admin/SpecializationDetailPage/ui/SpecializationDetailPage/SpecializationDetailPage.tsx
  src/pages/admin/SpecializationEditPage/index.ts
  src/pages/admin/SpecializationEditPage/ui/SpecializationEditPage.lazy.tsx
  src/pages/admin/SpecializationEditPage/ui/SpecializationEditPage.tsx
  src/pages/profile/ProfilePage/ui/ProfilePage.tsx
  src/shared/config/router/routes.ts
  src/widgets/SpecializationsTable/ui/SpecializationsTable.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-491: fix delete buttons
  src/features/question/deleteQuestion/ui/DeleteQuestionButton/DeleteQuestionButton.tsx
  src/features/skill/deleteSkill/ui/DeleteSkillButton/DeleteSkillButton.tsx
  src/features/specialization/deleteSpecialization/ui/DeleteSpecializationButton/DeleteSpecializationButton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-478: fixed skills image (#218)
  src/entities/question/ui/ChooseQuestionComplexity/ChooseQuestionComplexity.tsx
  src/entities/question/ui/ChooseQuestionsCategories/ChooseQuestionsCategories.tsx
  src/entities/skill/index.ts
  src/entities/skill/model/types/skill.ts
  src/entities/skill/utils/getSkillDefaultIcon.ts
  src/shared/ui/BaseFilterSection/BaseFilterSection.tsx
  src/widgets/Question/ui/AdditionalInfo/AdditionalInfo.tsx
  src/widgets/Question/ui/QuestionsFilterPanel/ui/StatusFilterSection/StatusFilterSection.tsx
Due: npm run prettier, npm run lint:ts:fix

added alt translation to images (#216)
  public/locales/en/profile.json
  public/locales/en/questions.json
  public/locales/en/specialization.json
  public/locales/en/translation.json
  public/locales/ru/profile.json
  public/locales/ru/questions.json
  public/locales/ru/specialization.json
  public/locales/ru/translation.json
  src/entities/skill/ui/SkillCard/SkillCard.tsx
  src/entities/specialization/ui/SpecializationCard/SpecializationCard.tsx
  src/features/common/user-preferences/ui/UserPreferences.tsx
  src/pages/Error404Page/ui/Error404Page.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/AppLogo/AppLogo.tsx
  src/shared/ui/FileLoader/FileLoader.tsx
  src/shared/ui/ImageLoader/ImageLoader.tsx
  src/shared/ui/SkillLabel/SkillsLabel.tsx
  src/widgets/Profile/ui/AchievmentCard/ui/AchievmentsBlockItem/AchievmentsBlockItem.tsx
  src/widgets/Profile/ui/ExperienceCard/ui/ExperienceBlockItem/ExperienceBlockItem.tsx
  src/widgets/Profile/ui/ProjectsCard/ui/ProjectsBlockItem/ProjectsBlockItem.tsx
  src/widgets/Profile/ui/UserCard/ui/UserImageBlock/UserImageBlock.tsx
  src/widgets/Question/ui/QuestionPreview/QuestionPreview.tsx
Due: npm run prettier, npm run lint:ts:fix

Feature/yh 440 (#209)
  src/app/styles/App.css
  src/shared/ui/Drawer/index.ts
  src/shared/ui/Drawer/ui/Drawer.module.css
  src/shared/ui/Drawer/ui/Drawer.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-491: fixed conflict in SpecializationsTable
  src/widgets/SpecializationsTable/ui/SpecializationsTable.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-492: update in the table
  src/shared/ui/Table/ui/Table.module.css
  src/shared/ui/Table/ui/Table.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-432: SkillEditPage moved from admin panel
  src/app/providers/router/config/routeConfig.tsx
  src/features/skill/editSkill/api/editSkillApi.ts
  src/features/skill/editSkill/index.ts
  src/features/skill/editSkill/model/lib/validation/skillEditSchema.ts
  src/features/skill/editSkill/model/types/skillEditPageTypes.ts
  src/features/skill/editSkill/ui/SkillEditForm/SkillEditForm.module.css
  src/features/skill/editSkill/ui/SkillEditForm/SkillEditForm.tsx
  src/features/skill/editSkill/ui/SkillEditFormHeader/SkillEditFormHeader.tsx
  src/pages/admin/SkillEditPage/index.ts
  src/pages/admin/SkillEditPage/ui/SkillEditPage.lazy.tsx
  src/pages/admin/SkillEditPage/ui/SkillEditPage.tsx
  src/shared/config/router/routes.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-487: css-vars to button,refactor
  src/app/styles/App.css
  src/shared/ui/Button/index.ts
  src/shared/ui/Button/types.ts
  src/shared/ui/Button/ui/Button.module.css
  src/shared/ui/Button/ui/Button.tsx
  src/shared/ui/UiButton/index.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-489: add Input component
  src/entities/skill/ui/SkillCard/SkillCard.tsx
  src/features/common/user-preferences/ui/UserPreferences.tsx
  src/shared/ui/Input/index.ts
  src/shared/ui/Input/model/types/InputTypes.ts
  src/shared/ui/Input/ui/Input.module.css
  src/shared/ui/Input/ui/Input.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

Path conditions:
  npm run prettier: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:ts:fix: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:css:fix: any of: *.css
