Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

.lintstagedrc:

{
  "./**/*.{ts,tsx,js,jsx}": ["npm run prettier", "npm run lint:ts:fix"],
  "*.css": "npm run lint:css:fix"
}

YH-1730: update task editor
  public/locales/en/task.json
  public/locales/ru/task.json
  src/entities/task/index.ts
  src/entities/task/model/types/task.ts
  src/entities/task/ui/TaskCard/TaskCard.tsx
  src/entities/task/ui/TaskDescription/TaskDescription.tsx
  src/entities/task/ui/TaskForm/TaskForm.tsx
  src/entities/task/ui/TaskStatusChip/TaskStatusChip.tsx
  src/entities/task/ui/TaskStructuresField/TaskStructuresField.tsx
  src/features/task/createTask/lib/validation/taskCreateSchema.ts
  src/features/task/createTask/ui/TaskCreateForm/TaskCreateForm.tsx
  src/features/task/createTask/ui/TaskCreateFormHeader/TaskCreateFormHeader.tsx
  src/features/task/editTask/lib/validation/taskEditSchema.ts
  src/features/task/editTask/ui/TaskEditForm/TaskEditForm.tsx
  src/pages/tasks/task/ui/TaskPageContent/TaskPageContent.module.css
  src/pages/tasks/task/ui/TaskPageContent/TaskPageContent.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Card/Card.module.css
  src/shared/ui/Card/Card.tsx
  src/shared/ui/Skeleton/Skeleton.module.css
  src/shared/ui/Skeleton/Skeleton.tsx
  src/widgets/task/TaskTabs/model/hooks/useTaskTabsQuery.ts
  src/widgets/task/TaskTabs/ui/TaskTabs.module.css
  src/widgets/task/TaskTabs/ui/TaskTabs.tsx
  src/widgets/task/TaskWorkspace/model/types/types.ts
  src/widgets/task/TaskWorkspace/ui/TaskEditor/TaskEditor.tsx
  src/widgets/task/TaskWorkspace/ui/TaskOutput/TaskOutput.tsx
  src/widgets/task/TaskWorkspace/ui/TaskOutput/TaskOutputResult/TaskOutputResult.module.css
  src/widgets/task/TaskWorkspace/ui/TaskOutput/TaskOutputResult/TaskOutputResult.tsx
  src/widgets/task/TaskWorkspace/ui/TaskOutput/TaskOutputTestCaseInfo/TaskOutputTestCaseInfo.module.css
  src/widgets/task/TaskWorkspace/ui/TaskOutput/TaskOutputTestCaseInfo/TaskOutputTestCaseInfo.tsx
  src/widgets/task/TaskWorkspace/ui/TaskOutput/TaskOutputTests/TaskOutputTests.module.css
  src/widgets/task/TaskWorkspace/ui/TaskOutput/TaskOutputTests/TaskOutputTests.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1730: update task editor
  src/pages/tasks/task/ui/TaskPageContent/TaskPageContent.module.css
  src/pages/tasks/task/ui/TaskPageContent/TaskPageContent.tsx
  src/widgets/task/TaskWorkspace/ui/TaskOutput/TaskOutputResult/TaskOutputResult.module.css
  src/widgets/task/TaskWorkspace/ui/TaskOutput/TaskOutputResult/TaskOutputResult.tsx
  src/widgets/task/TaskWorkspace/ui/TaskWorkspace.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

feature/YH-1730 (#1120)
  public/locales/en/task.json
  public/locales/ru/task.json
  src/entities/task/index.ts
  src/entities/task/model/types/task.ts
  src/entities/task/ui/TaskCard/TaskCard.tsx
  src/entities/task/ui/TaskDescription/TaskDescription.tsx
  src/entities/task/ui/TaskForm/TaskForm.tsx
  src/entities/task/ui/TaskStatusChip/TaskStatusChip.tsx
  src/entities/task/ui/TaskStructuresField/TaskStructuresField.tsx
  src/features/task/createTask/lib/validation/taskCreateSchema.ts
  src/features/task/createTask/ui/TaskCreateForm/TaskCreateForm.tsx
  src/features/task/createTask/ui/TaskCreateFormHeader/TaskCreateFormHeader.tsx
  src/features/task/editTask/lib/validation/taskEditSchema.ts
  src/features/task/editTask/ui/TaskEditForm/TaskEditForm.tsx
  src/pages/tasks/task/ui/TaskPageContent/TaskPageContent.module.css
  src/pages/tasks/task/ui/TaskPageContent/TaskPageContent.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Card/Card.module.css
  src/shared/ui/Card/Card.tsx
  src/shared/ui/Skeleton/Skeleton.module.css
  src/shared/ui/Skeleton/Skeleton.tsx
  src/widgets/task/TaskTabs/model/hooks/useTaskTabsQuery.ts
  src/widgets/task/TaskTabs/ui/TaskTabs.module.css
  src/widgets/task/TaskTabs/ui/TaskTabs.tsx
  src/widgets/task/TaskWorkspace/model/types/types.ts
  src/widgets/task/TaskWorkspace/ui/TaskEditor/TaskEditor.tsx
  src/widgets/task/TaskWorkspace/ui/TaskOutput/TaskOutput.tsx
  src/widgets/task/TaskWorkspace/ui/TaskOutput/TaskOutputResult/TaskOutputResult.module.css
  src/widgets/task/TaskWorkspace/ui/TaskOutput/TaskOutputResult/TaskOutputResult.tsx
  src/widgets/task/TaskWorkspace/ui/TaskOutput/TaskOutputTestCaseInfo/TaskOutputTestCaseInfo.module.css
  src/widgets/task/TaskWorkspace/ui/TaskOutput/TaskOutputTestCaseInfo/TaskOutputTestCaseInfo.tsx
  src/widgets/task/TaskWorkspace/ui/TaskOutput/TaskOutputTests/TaskOutputTests.module.css
  src/widgets/task/TaskWorkspace/ui/TaskOutput/TaskOutputTests/TaskOutputTests.tsx
  src/widgets/task/TaskWorkspace/ui/TaskWorkspace.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

Release 1.7.1
  RELEASE_NOTES.md
  package-lock.json
  package.json
Due: none

YH-1628: добавлены заглушки для страниц ресурсов
  public/locales/ru/resources.json
  src/pages/admin/resource/resources/ui/tabs/ResourcesAllTab/ResourcesAllTab.tsx
  src/pages/admin/resource/resources/ui/tabs/ResourcesRequestsTab/ResourcesRequestsTab.tsx
Due: npm run prettier, npm run lint:ts:fix

Release 1.6.0
  RELEASE_NOTES.md
  package-lock.json
  package.json
Due: none

add placeholder in TextArea (#1116)
  src/entities/question/ui/QuestionForm/QuestionForm.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1626: Added stubs for specializations (#1089)
  public/locales/en/specialization.json
  public/locales/ru/specialization.json
  src/pages/admin/specialization/specializationCreate/ui/SpecializationCreatePage/SpecializationCreatePage.tsx
  src/pages/admin/specialization/specializationDetail/ui/SpecializationDetailPage/SpecializationDetailPage.tsx
  src/pages/admin/specialization/specializationEdit/ui/SpecializationEditPage/SpecializationEditPage.tsx
  src/pages/admin/specialization/specializations/ui/SpecializationsPage/SpecializationsPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1703: add Icon stories (#1106)
  src/shared/ui/Icon/Icon.stories.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1705: Added a mock request to get HH analytics (#1109)
  src/app/msw/handlers.ts
  src/entities/hh/api/__mock__/data/hhAnalyticsMockData.ts
  src/entities/hh/api/__mock__/data/index.ts
  src/entities/hh/api/__mock__/hhAnalyticsMock.ts
  src/entities/hh/api/__mock__/index.ts
  src/entities/hh/index.ts
  src/entities/hh/model/constants/hhConstants.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1706: added toast story (#1113)
  src/shared/ui/Toast/Toast.stories.tsx
  src/shared/ui/Toast/Toast.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1711: adding a story and creating screenshots from the Avatar component (#1111)
  .loki/reference/chrome_iphone7_shared_Avatar_Default.png
  .loki/reference/chrome_iphone7_shared_Avatar_With_Border.png
  .loki/reference/chrome_iphone7_shared_Avatar_With_Border_And_Image.png
  .loki/reference/chrome_iphone7_shared_Avatar_With_Image.png
  .loki/reference/chrome_iphone7_shared_Avatar_Without_Image.png
  src/shared/ui/Avatar/Avatar.stories.tsx
Due: npm run prettier, npm run lint:ts:fix

Release 1.7.0
  RELEASE_NOTES.md
  package-lock.json
  package.json
Due: none

YH-1710: Added Unit tests for Banner
  src/shared/ui/Banner/Banner.skeleton.tsx
  src/shared/ui/Banner/Banner.test.tsx
  src/shared/ui/Banner/Banner.tsx
  src/shared/ui/Banner/constants.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1710: add unit tests for Banner
  src/shared/ui/Banner/Banner.skeleton.tsx
  src/shared/ui/Banner/Banner.test.tsx
  src/shared/ui/Banner/Banner.tsx
  src/shared/ui/Banner/constants.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1722: fixed password validation rules in registration schema
  src/widgets/authentication/registration/lib/validation/registerSchema.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1725: fix password validation rules in changePassword module
  src/features/profile/changePassword/lib/validation/changePasswordSchema.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1723: feat: add comprehensive validation for question forms and refactor with FormField component
  package-lock.json
  package.json
  src/entities/question/ui/QuestionForm/QuestionForm.tsx
  src/features/question/createQuestion/lib/validation/questionCreateSchema.ts
  src/features/question/editQuestion/lib/validation/questionEditSchema.ts
  src/shared/ui/TextEditor/TextEditor.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1620: added stub for dashboard/interview pages
  public/locales/en/interviewHistory.json
  public/locales/en/interviewQuizResult.json
  public/locales/ru/interviewHistory.json
  public/locales/ru/interviewQuizResult.json
  src/app/providers/router/routeConfig.tsx
  src/pages/interview/createQuiz/ui/CreateQuizPage/CreateQuizPage.tsx
  src/pages/interview/interviewHistory/ui/InterviewHistoryPage/InterviewHistoryPage.tsx
  src/pages/interview/interviewMockQuizResult/ui/InterviewMockQuizResultPage/InterviewMockQuizResultPage.tsx
  src/pages/interview/interviewQuiz/ui/InterviewQuizPage/InterviewQuizPage.tsx
  src/pages/interview/interviewQuizResult/ui/InterviewQuizResultPage/InterviewQuizResultPage.tsx
  src/pages/interview/interviewStatistics/ui/InterviewStatisticsPage/InterviewStatisticsPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/interview/PassedQuizzesList/ui/FullPassedQuizzesList/FullPassedQuizzesList.tsx
Due: npm run prettier, npm run lint:ts:fix

исправлены замечания после ревью
  public/locales/en/resources.json
  public/locales/ru/resources.json
  src/pages/admin/resource/resourceCreate/ui/ResourceCreatePage/ResourceCreatePage.tsx
  src/pages/admin/resource/resourceDetail/ui/RecourcePageContent/ResourcePageContent.module.css
  src/pages/admin/resource/resourceDetail/ui/RecourcePageContent/ResourcePageContent.tsx
  src/pages/admin/resource/resourceDetail/ui/ResourcePage/ResourcePage.tsx
  src/pages/admin/resource/resourceRequestDetail/ui/ResourceRequestViewPage/ResourceRequestViewPage.tsx
  src/pages/admin/resource/resources/ui/tabs/ResourcesAllTab/ResourcesAllTab.tsx
  src/pages/admin/resource/resources/ui/tabs/ResourcesRequestsTab/ResourcesRequestsTab.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1568: add empty stub for interview history
  public/locales/ru/interviewHistory.json
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/interview/PassedQuizzesList/ui/PreviewPassedQuizzesList/PreviewPassedQuizzesList.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1629: add stubs for admin users pages
  public/locales/en/user.json
  public/locales/ru/user.json
  src/pages/admin/specialization/specializations/ui/SpecializationsTable/SpecializationsTable.tsx
  src/pages/admin/user/users/ui/UserTablePage/UsersTablePage.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1628: Review fixes: BackHeader moved to ResourcePageContent, stub and i18n updated
  public/locales/en/resources.json
  public/locales/ru/resources.json
  src/pages/admin/resource/resourceCreate/ui/ResourceCreatePage/ResourceCreatePage.tsx
  src/pages/admin/resource/resourceDetail/ui/RecourcePageContent/ResourcePageContent.tsx
  src/pages/admin/resource/resourceDetail/ui/ResourcePage/ResourcePage.tsx
  src/pages/admin/resource/resourceRequestDetail/ui/ResourceRequestViewPage/ResourceRequestViewPage.tsx
  src/pages/admin/resource/resources/ui/tabs/ResourcesRequestsTab/ResourcesRequestsTab.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1628: review fixes
  src/pages/admin/resource/resources/ui/tabs/ResourcesAllTab/ResourcesAllTab.tsx
  src/pages/admin/resource/resources/ui/tabs/ResourcesRequestsTab/ResourcesRequestsTab.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1628: review fixes
  src/pages/admin/resource/resources/ui/tabs/ResourcesRequestsTab/ResourcesRequestsTab.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1726: fix password validation rules in passwordRecovery module (#1119)
  src/features/profile/changePassword/lib/validation/changePasswordSchema.ts
  src/shared/libs/app/regexp.ts
  src/widgets/authentication/passwordRecovery/lib/validation/passwordRecoverySchema.ts
  src/widgets/authentication/registration/lib/validation/registerSchema.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1560: Add RequestInfoPageSkeleton component for RequestInfoPage
  src/pages/wiki/resource/resourceRequestDetail/ui/RequestInfoPage/RequestInfoPage.skeleton.tsx
  src/pages/wiki/resource/resourceRequestDetail/ui/RequestInfoPage/RequestInfoPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1629: add stubs for admin userEditPage
  src/pages/admin/user/userDetail/ui/UserDetailPage/UserDetailPage.tsx
  src/pages/admin/user/userEdit/ui/UserEditPage/UserEditPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1723: fixed by comments
  src/entities/question/ui/QuestionForm/QuestionForm.tsx
  src/entities/skill/ui/SkillSelect/SkillSelect.tsx
  src/entities/specialization/ui/SpecializationSelect/SpecializationSelect.tsx
  src/features/question/createQuestion/lib/validation/questionCreateSchema.ts
  src/features/question/editQuestion/lib/validation/questionEditSchema.ts
  src/shared/libs/fp/index.ts
  src/shared/libs/fp/isEmptyHtml/index.ts
  src/shared/libs/fp/isEmptyHtml/isEmptyHtml.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1620: refactor interview pages, create useInterviewHistoryData hook, improving locales structure
  public/locales/en/interviewHistory.json
  public/locales/en/interviewQuizResult.json
  public/locales/ru/interviewHistory.json
  public/locales/ru/interviewQuizResult.json
  src/pages/interview/createQuiz/ui/CreateQuizPage/CreateQuizPage.tsx
  src/pages/interview/interviewHistory/model/hooks/useInterviewHistoryData.ts
  src/pages/interview/interviewHistory/ui/InterviewHistoryPage/InterviewHistoryPage.module.css
  src/pages/interview/interviewHistory/ui/InterviewHistoryPage/InterviewHistoryPage.tsx
  src/pages/interview/interviewMockQuizResult/ui/InterviewMockQuizResultPage/InterviewMockQuizResultPage.tsx
  src/pages/interview/interviewQuiz/ui/InterviewQuizPage/InterviewQuizPage.tsx
  src/pages/interview/interviewQuizResult/ui/InterviewQuizResultPage/InterviewQuizResultPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/interview/PassedQuizzesList/ui/FullPassedQuizzesList/FullPassedQuizzesList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1620: remove ! from InterViewMockQuizResultPage
  src/pages/interview/interviewMockQuizResult/ui/InterviewMockQuizResultPage/InterviewMockQuizResultPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1730: update tasks
  public/locales/en/task.json
  public/locales/en/translation.json
  public/locales/ru/task.json
  public/locales/ru/translation.json
  src/app/providers/router/routeConfig.tsx
  src/entities/programmingLanguage/model/types/programmingLanguage.ts
  src/entities/task/index.ts
  src/entities/task/model/types/filters.ts
  src/entities/task/model/types/task.ts
  src/entities/task/ui/TaskCard/TaskCard.tsx
  src/entities/task/ui/TaskCategoryFilterList/TaskCategoryFilterList.module.css
  src/entities/task/ui/TaskCategoryFilterList/TaskCategoryFilterList.skeleton.tsx
  src/entities/task/ui/TaskCategoryFilterList/TaskCategoryFilterList.tsx
  src/entities/task/ui/TaskConstraintsField/TaskConstraintsField.tsx
  src/entities/task/ui/TaskDescription/TaskDescription.tsx
  src/entities/task/ui/TaskForm/TaskForm.tsx
  src/entities/task/ui/TaskStatusChip/TaskStatusChip.tsx
  src/entities/task/ui/TaskStructuresField/TaskStructuresField.tsx
  src/features/task/createTask/lib/validation/taskCreateSchema.ts
  src/features/task/createTask/ui/TaskCreateForm/TaskCreateForm.tsx
  src/features/task/createTask/ui/TaskCreateFormHeader/TaskCreateFormHeader.tsx
  src/features/task/editTask/lib/validation/taskEditSchema.ts
  src/features/task/editTask/ui/TaskEditForm/TaskEditForm.tsx
  src/features/task/filterTasks/model/hooks/useTasksFilters.ts
  src/features/task/filterTasks/ui/TaskFilters/TasksFilters.tsx
  src/pages/admin/task/tasks/ui/TasksTable/TasksTable.tsx
  src/pages/admin/task/tasks/ui/TasksTablePage/TasksTablePage.tsx
  src/pages/tasks/tasks/ui/TasksPage/TasksPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
  src/widgets/task/TaskWorkspace/ui/TaskOutput/TaskOutput.tsx
  src/widgets/task/TaskWorkspace/ui/TaskOutput/TaskOutputTests/TaskOutputTests.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1730: update tasks (#1130)
  public/locales/en/task.json
  public/locales/en/translation.json
  public/locales/ru/task.json
  public/locales/ru/translation.json
  src/app/providers/router/routeConfig.tsx
  src/entities/programmingLanguage/model/types/programmingLanguage.ts
  src/entities/task/index.ts
  src/entities/task/model/types/filters.ts
  src/entities/task/model/types/task.ts
  src/entities/task/ui/TaskCard/TaskCard.tsx
  src/entities/task/ui/TaskCategoryFilterList/TaskCategoryFilterList.module.css
  src/entities/task/ui/TaskCategoryFilterList/TaskCategoryFilterList.skeleton.tsx
  src/entities/task/ui/TaskCategoryFilterList/TaskCategoryFilterList.tsx
  src/entities/task/ui/TaskConstraintsField/TaskConstraintsField.tsx
  src/entities/task/ui/TaskDescription/TaskDescription.tsx
  src/entities/task/ui/TaskForm/TaskForm.tsx
  src/entities/task/ui/TaskStatusChip/TaskStatusChip.tsx
  src/entities/task/ui/TaskStructuresField/TaskStructuresField.tsx
  src/features/task/createTask/lib/validation/taskCreateSchema.ts
  src/features/task/createTask/ui/TaskCreateForm/TaskCreateForm.tsx
  src/features/task/createTask/ui/TaskCreateFormHeader/TaskCreateFormHeader.tsx
  src/features/task/editTask/lib/validation/taskEditSchema.ts
  src/features/task/editTask/ui/TaskEditForm/TaskEditForm.tsx
  src/features/task/filterTasks/model/hooks/useTasksFilters.ts
  src/features/task/filterTasks/ui/TaskFilters/TasksFilters.tsx
  src/pages/admin/task/tasks/ui/TasksTable/TasksTable.tsx
  src/pages/admin/task/tasks/ui/TasksTablePage/TasksTablePage.tsx
  src/pages/tasks/tasks/ui/TasksPage/TasksPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
  src/widgets/task/TaskWorkspace/ui/TaskOutput/TaskOutput.tsx
  src/widgets/task/TaskWorkspace/ui/TaskOutput/TaskOutputTests/TaskOutputTests.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

Release 1.7.2
  RELEASE_NOTES.md
  package-lock.json
  package.json
Due: none

YH-1742: add mock request to delete a topic
  src/app/index.tsx
  src/app/msw/handlers.ts
  src/entities/topic/index.ts
  src/features/topics/deleteTopic/api/__mocks__/deleteTopicMock.ts
  src/features/topics/deleteTopic/api/__mocks__/index.ts
  src/features/topics/deleteTopic/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1514: add stubs for admin skill pages
  src/pages/admin/skill/skillCreate/ui/SkillCreatePage/SkillCreatePage.tsx
  src/pages/admin/skill/skillDetail/ui/SkillDetailPage/SkillDetailPage.tsx
  src/pages/admin/skill/skillEdit/ui/SkillEditPage/SkillEditPage.tsx
  src/pages/admin/skill/skills/ui/SkillsPage/SkillsPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1625: add stubs for admin skill pages
  src/pages/admin/skill/skillCreate/ui/SkillCreatePage/SkillCreatePage.tsx
  src/pages/admin/skill/skillDetail/ui/SkillDetailPage/SkillDetailPage.tsx
  src/pages/admin/skill/skillEdit/ui/SkillEditPage/SkillEditPage.tsx
  src/pages/admin/skill/skills/ui/SkillsPage/SkillsPage.tsx
Due: npm run prettier, npm run lint:ts:fix
