Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1103: Added iOS Guru (#734)
  src/entities/guru/model/constants/gurus.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1136: filling the landig, displaying text on mobile and correcting the layout (#733)
  src/widgets/Landing/BannerBlock/ui/AvatarGroup/AvatarGroup.module.css
  src/widgets/Landing/BannerBlock/ui/BannerImage/BannerImage.module.css
  src/widgets/Landing/BannerBlock/ui/BlockTitle/BlockTitle.module.css
Due: npm run lint:css:fix

YH-1155: Added an active profile on the profile page
  src/pages/profile/ProfilePage/ui/ProfilePage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1052: Add subscription tooltip
  public/locales/en/subscriptionCard.json
  public/locales/ru/subscriptionCard.json
  src/entities/subscription/ui/SubscriptionCard/SubscriptionCard.module.css
  src/entities/subscription/ui/SubscriptionCard/SubscriptionCard.tsx
  src/entities/subscription/ui/SubscriptionTooltip/SubscriptionTooltip.module.css
  src/entities/subscription/ui/SubscriptionTooltip/SubscriptionTooltip.tsx
  src/features/subscriptions/subscribe/ui/AgreementForm/AgreementForm.module.css
  src/shared/assets/icons/info.svg
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Icon/icons.ts
  src/shared/ui/Icon/types.ts
  src/shared/ui/Tooltip/Tooltip.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1156: added a settings button on mobile and tablets
  src/app/providers/router/config/routeConfig.tsx
  src/widgets/Sidebar/model/types/sidebar.ts
  src/widgets/Sidebar/ui/SidebarMenuItem/SidebarMenuItem.tsx
  src/widgets/Sidebar/ui/SidebarMenuItem/SidebarSettingsMenuItem.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1156: edits
  src/app/layouts/MainLayout/ui/MainLayout.tsx
  src/app/providers/router/config/routeConfig.tsx
  src/widgets/Sidebar/model/types/sidebar.ts
  src/widgets/Sidebar/ui/SidebarMenuItem/SidebarMenuItem.tsx
  src/widgets/Sidebar/ui/SidebarMenuItem/SidebarSettingsMenuItem.tsx
  src/widgets/Sidebar/ui/SidebarMenuItem/SidebarSingleMenuItem.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1156: added a settings button on mobile and tablets (#738)
  src/app/layouts/MainLayout/ui/MainLayout.tsx
  src/app/providers/router/config/routeConfig.tsx
  src/widgets/Sidebar/ui/SidebarMenuItem/SidebarMenuItem.tsx
  src/widgets/Sidebar/ui/SidebarMenuItem/SidebarSingleMenuItem.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1155: Added an active profile on the profile page
  src/entities/profile/index.ts
  src/pages/profile/ProfilePage/ui/ProfilePage.tsx
  src/widgets/Main/IncompleteProfileStub/ui/IncompleteProfileStub.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1135: move active subscription logic to redux
  src/app/providers/store/config/config.ts
  src/entities/subscription/api/subscriptionApi.ts
  src/entities/subscription/index.ts
  src/entities/subscription/model/selectors/subsrcriptionSelectors.tsx
  src/entities/subscription/model/slices/activeSubscriptionSlice.tsx
  src/entities/subscription/model/types/subscription.ts
  src/shared/config/store/State.ts
  src/widgets/Profile/ui/SubscriptionTab/model/helpers/getActiveSubscriptions.ts
  src/widgets/Profile/ui/SubscriptionTab/ui/PremiumSubscriptionTab/PremiumSubscriptionTab.tsx
  src/widgets/Profile/ui/SubscriptionTab/ui/SubscriptionTab/SubscriptionTab.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1135: refactor premium subscribe component (#732)
  public/locales/en/subscription.json
  public/locales/ru/subscription.json
  src/app/providers/store/config/config.ts
  src/entities/subscription/api/subscriptionApi.ts
  src/entities/subscription/index.ts
  src/entities/subscription/model/selectors/subsrcriptionSelectors.tsx
  src/entities/subscription/model/slices/activeSubscriptionSlice.tsx
  src/entities/subscription/model/types/subscription.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/store/State.ts
  src/widgets/Profile/ui/SubscriptionTab/ui/PremiumSubscriptionTab/PremiumSubscriptionTab.tsx
  src/widgets/Profile/ui/SubscriptionTab/ui/SubscriptionTab/SubscriptionTab.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1155: changed first profile to activeprofile
  src/pages/profile/UserProfilePage/ui/UserProfilePage.tsx
  src/widgets/Profile/ui/UserCard/ui/UserInfoBlock/UserInfoBlock.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1155: Added an active profile on the profile page (#736)
  src/entities/profile/index.ts
  src/pages/profile/ProfilePage/ui/ProfilePage.tsx
  src/pages/profile/UserProfilePage/ui/UserProfilePage.tsx
  src/widgets/Main/IncompleteProfileStub/ui/IncompleteProfileStub.tsx
  src/widgets/Profile/ui/UserCard/ui/UserInfoBlock/UserInfoBlock.tsx
Due: npm run prettier, npm run lint:ts:fix

Release 1.1.4
  RELEASE_NOTES.md
  package-lock.json
  package.json
Due: none

YH-1137: fixes for disabling buttons
  src/shared/ui/BaseFilterSection/BaseFilterSection.tsx
  src/widgets/question/QuestionsFilterPanel/model/types.ts
  src/widgets/question/QuestionsFilterPanel/ui/StatusFilterSection/StatusFilterSection.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1161: fix get and set active profile
  commitlint.config.ts
  config/jest/jest.polyfill.ts
  config/jest/jestFileMock.ts
  config/storybook/main.ts
  config/storybook/preview.ts
  config/storybook/webpack.config.ts
  config/webpack/types/types.ts
  config/webpack/webpackConfig.ts
  config/webpack/webpackDevServer.ts
  config/webpack/webpackLoaders.ts
  config/webpack/webpackOutput.ts
  config/webpack/webpackPlugins.ts
  config/webpack/webpackResolvers.ts
  postcss.config.ts
  src/entities/auth/api/__mocks__/data/authProfileQueryMockResponse.ts
  src/entities/auth/api/authApi.ts
  src/entities/auth/model/types/auth.ts
  src/entities/profile/model/selectors/profileSelectors.ts
  src/entities/resource/index.ts
  src/entities/user/api/userApi.ts
  src/features/profile/editProfileForm/helpers/editProfileFormHelpers.ts
  src/features/profile/editProfileForm/ui/EditProfileForm/EditProfileForm.tsx
  src/features/profile/editProfileForm/ui/PersonalInformationTabForm/PersonalInformationTabForm.tsx
  src/features/subscriptions/subscribe/ui/SubscribeButton/ui/SubscribeButton.tsx
  src/pages/landing/PublicMarketplacePage/ui/PublicMarketplacePage.tsx
  src/pages/profile/UserProfilePage/ui/UserProfilePage.tsx
  src/widgets/Header/ui/UserPreferencesHeader/UserPreferencesHeader.tsx
  src/widgets/Profile/ui/UserCard/ui/UserImageBlock/UserImageBlock.tsx
  src/widgets/Profile/ui/UserCard/ui/UserInfoBlock/UserInfoBlock.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1157: Added a tooltip for the profile creation button
  public/locales/en/profile.json
  public/locales/ru/profile.json
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/manageProfiles/ui/ManageProfilesPanel/ManageProfilesPanel.module.css
  src/widgets/manageProfiles/ui/ManageProfilesPanel/ManageProfilesPanel.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1052: Fix component
  src/entities/subscription/index.ts
  src/entities/subscription/model/types/subscription.ts
  src/entities/subscription/ui/PremiumSubscriptionTooltipBody/PremiumSubscriptionTooltipBody.module.css
  src/entities/subscription/ui/PremiumSubscriptionTooltipBody/PremiumSubscriptionTooltipBody.tsx
  src/entities/subscription/ui/SubscriptionCard/SubscriptionCard.tsx
  src/entities/subscription/ui/SubscriptionTooltip/SubscriptionTooltip.tsx
  src/features/subscriptions/subscribe/ui/AgreementForm/AgreementForm.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1162: adding data retrieval, typing and adjustments
  src/app/providers/store/config/config.ts
  src/entities/payment/api/paymentApi.ts
  src/entities/payment/index.ts
  src/entities/payment/model/constants/payments.ts
  src/entities/payment/model/slices/activePaymentsSlice.tsx
  src/entities/payment/model/types/payments.ts
  src/shared/config/api/apiTags.ts
  src/widgets/Profile/ui/SubscriptionTab/ui/PayHistoryItem/PayHistoryItem.tsx
  src/widgets/Profile/ui/SubscriptionTab/ui/PayHistoryList/PayHistoryList.tsx
  src/widgets/Profile/ui/SubscriptionTab/ui/PremiumSubscriptionTab/PremiumSubscriptionTab.tsx
  src/widgets/Profile/ui/SubscriptionTab/ui/SubscriptionPagination/SubscriptionPagination.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1162: minor edits
  src/widgets/Profile/ui/SubscriptionTab/types/types.ts
  src/widgets/Profile/ui/SubscriptionTab/ui/SubscriptionPagination/SubscriptionPagination.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1080: fiz coms
  src/entities/quiz/api/quizApi.ts
  src/entities/quiz/model/types/quiz.ts
  src/features/question/favoriteQuestion/api/favoriteQuestionApi.ts
  src/features/question/favoriteQuestion/model/types/favoriteQuestionTypes.ts
  src/features/question/favoriteQuestion/ui/FavoriteQuestionButton.tsx
  src/pages/interview/InterviewQuizPage/ui/InterviewQuizPage.tsx
  src/pages/landing/PublicQuizPage/ui/PublicQuizPage.tsx
  src/widgets/interview/InterviewSlider/index.ts
  src/widgets/interview/InterviewSlider/ui/InterviewSlider/InterviewSlider.module.css
  src/widgets/interview/InterviewSlider/ui/InterviewSlider/InterviewSlider.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1102: add marketplace resources API
  src/entities/resource/api/resourceApi.ts
  src/entities/resource/index.ts
  src/entities/resource/model/constants/resource.ts
  src/entities/resource/model/types/resource.ts
  src/pages/landing/PublicMarketplacePage/ui/PublicMarketplacePage.tsx
  src/shared/config/api/apiTags.ts
  src/widgets/Marketplace/index.ts
  src/widgets/Marketplace/model/hooks/useMarketplaceFilters.ts
  src/widgets/Marketplace/ui/ResourcesPagination/ResourcesPagination.module.css
  src/widgets/Marketplace/ui/ResourcesPagination/ResourcesPagination.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1102: extract SortOrder type to shared/types
  src/entities/resource/model/types/resource.ts
  src/shared/types/types.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1102: use isLoading flag for initial loading state
  src/pages/landing/PublicMarketplacePage/ui/PublicMarketplacePage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1189: refactor tabs
  src/features/profile/editProfileForm/helpers/editProfileFormHelpers.ts
  src/features/profile/editProfileForm/ui/EditProfileForm/EditProfileForm.module.css
  src/features/profile/editProfileForm/ui/EditProfileForm/EditProfileForm.tsx
  src/pages/profile/SettingsProfilePage/ui/SettingsProfilePage.tsx
  src/shared/ui/Tabs/Tabs.module.css
  src/shared/ui/Tabs/Tabs.stories.tsx
  src/shared/ui/Tabs/Tabs.test.tsx
  src/shared/ui/Tabs/Tabs.tsx
  src/shared/ui/Tabs/hooks.ts
  src/shared/ui/Tabs/index.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1161: fix get and set active profile (#740)
  commitlint.config.ts
  config/jest/jest.polyfill.ts
  config/jest/jestFileMock.ts
  config/storybook/main.ts
  config/storybook/preview.ts
  config/storybook/webpack.config.ts
  config/webpack/types/types.ts
  config/webpack/webpackConfig.ts
  config/webpack/webpackDevServer.ts
  config/webpack/webpackLoaders.ts
  config/webpack/webpackOutput.ts
  config/webpack/webpackPlugins.ts
  config/webpack/webpackResolvers.ts
  postcss.config.ts
  src/entities/auth/api/__mocks__/data/authProfileQueryMockResponse.ts
  src/entities/auth/api/authApi.ts
  src/entities/auth/model/types/auth.ts
  src/entities/profile/model/selectors/profileSelectors.ts
  src/entities/resource/index.ts
  src/entities/user/api/userApi.ts
  src/features/profile/editProfileForm/helpers/editProfileFormHelpers.ts
  src/features/profile/editProfileForm/ui/EditProfileForm/EditProfileForm.tsx
  src/features/profile/editProfileForm/ui/PersonalInformationTabForm/PersonalInformationTabForm.tsx
  src/features/subscriptions/subscribe/ui/SubscribeButton/ui/SubscribeButton.tsx
  src/pages/landing/PublicMarketplacePage/ui/PublicMarketplacePage.tsx
  src/pages/profile/UserProfilePage/ui/UserProfilePage.tsx
  src/widgets/Header/ui/UserPreferencesHeader/UserPreferencesHeader.tsx
  src/widgets/Profile/ui/UserCard/ui/UserImageBlock/UserImageBlock.tsx
  src/widgets/Profile/ui/UserCard/ui/UserInfoBlock/UserInfoBlock.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1137: disabling buttons learned, not learned (#731)
  src/shared/ui/BaseFilterSection/BaseFilterSection.tsx
  src/widgets/question/QuestionsFilterPanel/model/types.ts
  src/widgets/question/QuestionsFilterPanel/ui/StatusFilterSection/StatusFilterSection.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1080: add favorite in quiz (#726)
  src/entities/quiz/api/quizApi.ts
  src/entities/quiz/index.ts
  src/entities/quiz/model/types/quiz.ts
  src/entities/quiz/ui/ResponseButtons/ResponseButtons.tsx
  src/features/question/favoriteQuestion/api/favoriteQuestionApi.ts
  src/features/question/favoriteQuestion/model/types/favoriteQuestionTypes.ts
  src/features/question/favoriteQuestion/ui/FavoriteQuestionButton.tsx
  src/pages/interview/InterviewQuizPage/ui/InterviewQuizPage.tsx
  src/pages/landing/PublicQuizPage/ui/PublicQuizPage.tsx
  src/widgets/interview/InterviewSlider/index.ts
  src/widgets/interview/InterviewSlider/ui/InterviewSlider/InterviewSlider.module.css
  src/widgets/interview/InterviewSlider/ui/InterviewSlider/InterviewSlider.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1159: Fixed collapsed profile title
  src/shared/hooks/useScreenSize.ts
  src/widgets/manageProfiles/ui/ProfileCard/ProfileCard.module.css
  src/widgets/manageProfiles/ui/ProfileCard/ProfileCard.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1190: fix incorrect link to settings page
  src/shared/constants/customRoutes.ts
  src/widgets/Collection/ui/CollectionBody/CollectionBody.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1157: Added a tooltip for the profile creation button
  public/locales/en/profile.json
  public/locales/ru/profile.json
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Tooltip/Tooltip.tsx
  src/widgets/manageProfiles/ui/ManageProfilesPanel/ManageProfilesPanel.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-867: adding tests for the component
  src/shared/ui/GradeChip/GradeChip.test.tsx
  src/shared/ui/GradeChip/GradeChip.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1102: Marketplace – подключение API, пагинации и фильтров (#730)
  src/entities/resource/api/resourceApi.ts
  src/entities/resource/index.ts
  src/entities/resource/model/constants/resource.ts
  src/entities/resource/model/types/resource.ts
  src/pages/landing/PublicMarketplacePage/ui/PublicMarketplacePage.tsx
  src/shared/config/api/apiTags.ts
  src/shared/types/types.ts
  src/widgets/Marketplace/index.ts
  src/widgets/Marketplace/model/hooks/useMarketplaceFilters.ts
  src/widgets/Marketplace/ui/ResourcesPagination/ResourcesPagination.module.css
  src/widgets/Marketplace/ui/ResourcesPagination/ResourcesPagination.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1134: feature: expand marketplace enum list
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1134: feature: add new locales to marketplace
  public/locales/en/marketplace.json
  public/locales/ru/marketplace.json
Due: none

YH-1134: feature: add ResourceForm and FormSelect,ResourceSelect for using in it
  src/entities/resource/ui/FormSelect/FormSelect.module.css
  src/entities/resource/ui/FormSelect/FormSelect.tsx
  src/entities/resource/ui/ResourceForm/ResourceForm.module.css
  src/entities/resource/ui/ResourceForm/ResourceForm.tsx
  src/entities/resource/ui/ResourceSelect/ResourceSelect.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1134: feature: add header to resource form, create ResourceCreateForm
  src/entities/specialization/ui/SpecializationSelect/SpecializationSelect.tsx
  src/features/resource/createResource/index.ts
  src/features/resource/createResource/model/lib/validation/resourceCreateSchema.ts
  src/features/resource/createResource/model/types/resourceCreateTypes.ts
  src/features/resource/createResource/ui/ResourceCreateForm/ResourceCreateForm.tsx
  src/features/resource/createResource/ui/ResourceCreateFormWithHeader/ResourceCreateFormWithHeader.module.css
  src/features/resource/createResource/ui/ResourceCreateFormWithHeader/ResourceCreateFormWithHeader.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1134: fix: fix styles of shared components to add adaptive for Select, ImageLoaderWithoutCropper, KeywordsInput, SelectWithChips
  src/shared/ui/Dropdown/Select/Select.module.css
  src/shared/ui/ImageLoaderWithoutCropper/ImageLoaderWithoutCropper.module.css
  src/shared/ui/KeywordInput/KeywordInput.module.css
  src/shared/ui/KeywordInput/KeywordInput.tsx
  src/shared/ui/SelectWithChips/SelectWithChips.module.css
  src/shared/ui/SelectWithChips/SelectWithChips.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1134: feature: rename types to filters, add CreateOrEditResourceFormValues
  src/entities/resource/index.ts
  src/entities/resource/model/types/filters.ts
  src/entities/resource/model/types/resource.ts
  src/entities/resource/ui/StatusFilterSection/StatusFilterSection.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1134: feature: add PublicMarketplaceRequestPage route
  src/app/providers/router/config/routeConfig.tsx
  src/pages/landing/PublicMarketplacePage/ui/PublicMarketplacePage.tsx
  src/pages/landing/PublicMarketplaceRequestPage/index.ts
  src/pages/landing/PublicMarketplaceRequestPage/ui/PublicMarketplaceRequestPage.lazy.ts
  src/pages/landing/PublicMarketplaceRequestPage/ui/PublicMarketplaceRequestPage.tsx
  src/shared/config/router/routes.ts
Due: npm run prettier, npm run lint:ts:fix

Path conditions:
  npm run prettier: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:ts:fix: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:css:fix: any of: *.css
