Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2022: fix
  src/app/layouts/LandingLayout/LandingLayout.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2242: added missing translations for empty collection stub (#1350)
  public/locales/en/translation.json
  public/locales/ru/translation.json
Due: none

YH-2022: added new feature flag dashboard.subscription.show-ny-banner… (#1269)
  src/app/layouts/MainLayout/MainLayout.tsx
  src/entities/featureFlag/api/__mocks__/data/featureFlagsMock.ts
  src/entities/featureFlag/model/constants/featureFlags.ts
  src/entities/featureFlag/model/types/featureFlag.ts
  src/entities/featureFlag/ui/WithFeature/WithFeature.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2232: add the UserDetailPageSkeleton to the SkeletonGenerator
  src/app/layouts/MainLayout/SkeletonGenerator/SkeletonGenerator.tsx
  src/pages/admin/user/userDetail/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2232: fix the skeleton header in accordance with other components
  src/pages/admin/user/userDetail/ui/UserDetailPage/UserDetailPage.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2232: add isUserDetailPage check in SkeletonGenerator
  src/app/layouts/MainLayout/SkeletonGenerator/SkeletonGenerator.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2232: add the skeleton for the UserDetailPage (#1348)
  src/app/layouts/MainLayout/SkeletonGenerator/SkeletonGenerator.tsx
  src/entities/user/index.ts
  src/entities/user/ui/UserCard/UserCard.skeleton.tsx
  src/entities/user/ui/UserCard/UserCard.tsx
  src/pages/admin/user/userDetail/index.ts
  src/pages/admin/user/userDetail/ui/UserDetailPage/UserDetailPage.skeleton.tsx
  src/pages/admin/user/userDetail/ui/UserDetailPage/UserDetailPage.tsx
  src/shared/ui/BackButton/BackButton.skeleton.tsx
  src/shared/ui/IconButton/IconButton.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2229: Added MSW handler to get a list of user roles (#1346)
  src/entities/user/__mocks__/index.ts
  src/entities/user/__mocks__/userRolesListMock.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2290: add TableCellLink component
  src/pages/admin/featureFlag/featureFlags/ui/FeatureFlagPage/FeatureFlagsTablePage.tsx
  src/pages/admin/question/questions/ui/QuestionsTable/QuestionsTable.tsx
  src/pages/admin/referralLink/referralLinks/ui/ReferralLinksTable/ReferralLinksTable.tsx
  src/pages/admin/resource/resources/ui/ResourceRequestsTable/ResourceRequestsTable.tsx
  src/pages/admin/resource/resources/ui/ResourcesTable/ResourcesTable.tsx
  src/pages/admin/skill/skills/ui/SkillsTable/SkillsTable.tsx
  src/pages/admin/specialization/specializations/ui/SpecializationsTable/SpecializationsTable.tsx
  src/pages/admin/task/tasks/ui/TasksTable/TasksTable.tsx
  src/pages/admin/user/users/ui/UsersTable/UsersTable.tsx
  src/shared/ui/TableCellLink/TableCellLink.tsx
  src/shared/ui/TableCellLink/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2290: fix comments, make columns declarative and simplify map rendering
  src/pages/admin/question/questions/ui/QuestionsTable/QuestionsTable.tsx
  src/pages/admin/referralLink/referralLinks/ui/ReferralLinksTable/ReferralLinksTable.tsx
  src/pages/admin/resource/resources/ui/ResourceRequestsTable/ResourceRequestsTable.tsx
  src/pages/admin/resource/resources/ui/ResourcesTable/ResourcesTable.tsx
  src/pages/admin/skill/skills/ui/SkillsTable/SkillsTable.tsx
  src/pages/admin/specialization/specializations/ui/SpecializationsTable/SpecializationsTable.tsx
  src/pages/admin/user/users/ui/UsersTable/UsersTable.tsx
  src/shared/ui/TableCellLink/TableCellLink.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2216: replace custom font-size with Text component
  src/entities/specialization/ui/SpecializationForm/SpecializationForm.module.css
  src/entities/specialization/ui/SpecializationForm/SpecializationForm.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2266: add specialization creation skeleton
  src/app/layouts/MainLayout/SkeletonGenerator/SkeletonGenerator.tsx
  src/entities/specialization/index.ts
  src/entities/specialization/ui/SpecializationForm/SpecializationForm.skeleton.tsx
  src/features/specialization/createSpecialization/index.ts
  src/features/specialization/createSpecialization/ui/SpecializationCreateForm/SpecializationCreateForm.skeleton.tsx
  src/features/specialization/createSpecialization/ui/SpecializationCreateFormHeader/SpecializationCreateFormHeader.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2266: add specialization creation skeleton (#1351)
  src/app/layouts/MainLayout/SkeletonGenerator/SkeletonGenerator.tsx
  src/entities/specialization/index.ts
  src/entities/specialization/ui/SpecializationForm/SpecializationForm.skeleton.tsx
  src/features/specialization/createSpecialization/index.ts
  src/features/specialization/createSpecialization/ui/SpecializationCreateForm/SpecializationCreateForm.skeleton.tsx
  src/features/specialization/createSpecialization/ui/SpecializationCreateFormHeader/SpecializationCreateFormHeader.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2290: add TableCellLink component (#1349)
  src/pages/admin/featureFlag/featureFlags/ui/FeatureFlagPage/FeatureFlagsTablePage.tsx
  src/pages/admin/question/questions/ui/QuestionsTable/QuestionsTable.tsx
  src/pages/admin/referralLink/referralLinks/ui/ReferralLinksTable/ReferralLinksTable.tsx
  src/pages/admin/resource/resources/ui/ResourceRequestsTable/ResourceRequestsTable.tsx
  src/pages/admin/resource/resources/ui/ResourcesTable/ResourcesTable.tsx
  src/pages/admin/skill/skills/ui/SkillsTable/SkillsTable.tsx
  src/pages/admin/specialization/specializations/ui/SpecializationsTable/SpecializationsTable.tsx
  src/pages/admin/task/tasks/ui/TasksTable/TasksTable.tsx
  src/pages/admin/user/users/ui/UsersTable/UsersTable.tsx
  src/shared/ui/TableCellLink/TableCellLink.tsx
  src/shared/ui/TableCellLink/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2216: Increased heading size, added spacing, and changed the text. (#1347)
  public/locales/ru/specialization.json
  src/entities/specialization/ui/SpecializationForm/SpecializationForm.module.css
  src/entities/specialization/ui/SpecializationForm/SpecializationForm.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2226: fix
  src/features/profile/editProfileForm/lib/validation/editProfileSchema.ts
  src/features/subscriptions/subscribe/model/validation/subscriptionAgreeSchema.ts
  src/shared/libs/app/index.ts
  src/shared/libs/app/regexp.ts
  src/widgets/authentication/forgotPassword/lib/validation/forgotPasswordSchema.ts
  src/widgets/authentication/login/lib/validation/loginSchema.ts
  src/widgets/authentication/registration/lib/validation/registerSchema.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2226 (#1343)
  src/features/profile/editProfileForm/lib/validation/editProfileSchema.ts
  src/features/subscriptions/subscribe/model/validation/subscriptionAgreeSchema.ts
  src/shared/libs/app/index.ts
  src/shared/libs/app/regexp.ts
  src/widgets/authentication/forgotPassword/lib/validation/forgotPasswordSchema.ts
  src/widgets/authentication/login/lib/validation/loginSchema.ts
  src/widgets/authentication/registration/lib/validation/registerSchema.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2199: fix
  src/entities/user/__mocks__/index.ts
  src/entities/user/__mocks__/usersRatingBySpecializationMock.ts
  src/entities/user/api/usersRatingApi.ts
  src/entities/user/index.ts
  src/entities/user/model/constants/usersRatingConstants.ts
  src/entities/user/model/types/usersRating.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2199: add fixes for the user rating widget (#1339)
  src/entities/user/__mocks__/index.ts
  src/entities/user/__mocks__/usersRatingBySpecializationMock.ts
  src/entities/user/api/usersRatingApi.ts
  src/entities/user/index.ts
  src/entities/user/model/constants/usersRatingConstants.ts
  src/entities/user/model/types/usersRating.ts
  src/widgets/analytics/UsersRatingWidget/ui/UserRatingItem/UserRatingItem.tsx
  src/widgets/analytics/UsersRatingWidget/ui/UsersRatingWidget/UsersRatingWidget.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2210: Added loading skeletons for the Skill Create page (#1338)
  src/app/layouts/MainLayout/SkeletonGenerator/SkeletonGenerator.tsx
  src/entities/skill/index.ts
  src/entities/skill/ui/SkillForm/SkillForm.module.css
  src/entities/skill/ui/SkillForm/SkillForm.skeleton.tsx
  src/entities/specialization/@x/skill.ts
  src/features/skill/createSkill/index.ts
  src/features/skill/createSkill/ui/SkillCreateForm/SkillCreateForm.skeleton.tsx
  src/pages/admin/skill/skillCreate/index.ts
  src/pages/admin/skill/skillCreate/ui/SkillCreatePage/SkillCreatePage.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2201: Enhancements for multiple entity deletion (#1334)
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/features/company/deleteCompanies/ui/DeleteCompaniesButton/DeleteCompaniesButton.tsx
  src/features/question/deleteQuestions/ui/DeleteQuestionsButton/DeleteQuestionsButton.tsx
  src/features/skill/deleteSkills/ui/DeleteSkillsButton/DeleteSkillsButton.tsx
  src/features/specialization/deleteSpecializations/ui/DeleteSpecializationsButton/DeleteSpecializationsButton.tsx
  src/features/task/deleteTasks/ui/DeleteTasksButton/DeleteTasksButton.tsx
  src/features/topics/deleteTopics/ui/DeleteTopicsButton/DeleteTopicsButton.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/DeleteMultiplyEntitiesButton/index.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2179: fix
  src/pages/admin/skill/skills/ui/SkillsTable/SkillsTable.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2180: fix
  src/entities/skill/ui/SkillCard/SkillCard.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2179: add new fields in SkillsTable component (#1331)
  public/locales/en/skill.json
  public/locales/ru/skill.json
  src/pages/admin/skill/skills/ui/SkillsTable/SkillsTable.module.css
  src/pages/admin/skill/skills/ui/SkillsTable/SkillsTable.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/libs/dom/useTruncation/useTruncation.ts
  src/shared/ui/TableCellWithTooltip/TableCellWithTooltip.tsx
  src/shared/ui/TableCellWithTooltip/index.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2197: fix
  src/pages/admin/specialization/specializationDetail/ui/SpecializationDetailPage/SpecializationDetailPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2197: fix
  src/entities/specialization/ui/SpecializationCard/SpecializationCard.skeleton.tsx
  src/entities/topic/ui/TopicCard/TopicCard.tsx
  src/pages/admin/topic/topicDetail/ui/TopicDetailPage/TopicDetailPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2197: fix
  src/pages/admin/topic/topicDetail/ui/TopicDetailPage/TopicDetailPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2175: Replaced by h1 h2 p on the component Text (#1322)
  src/entities/specialization/ui/SpecializationCard/SpecializationCard.module.css
  src/entities/specialization/ui/SpecializationCard/SpecializationCard.skeleton.tsx
  src/entities/specialization/ui/SpecializationCard/SpecializationCard.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2158: fix
  src/shared/libs/query/handleApiError/handleApiError.test.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2180: заменил заголовки на компонент Text (#1328)
  src/entities/skill/ui/SkillCard/SkillCard.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2197: Add appropriate skeleton for SpecializationDetailPage (#1324)
  src/entities/topic/index.ts
  src/entities/topic/ui/TopicAdditionalInfo/TopicAdditionalInfo.skeleton.tsx
  src/entities/topic/ui/TopicCard/TopicCard.skeleton.tsx
  src/entities/topic/ui/TopicCard/TopicCard.tsx
  src/pages/admin/specialization/specializationDetail/ui/SpecializationDetailPage/SpecializationDetailPage.tsx
  src/pages/admin/topic/topicDetail/ui/TopicDetailPage/TopicDetailPage.skeleton.tsx
  src/pages/admin/topic/topicDetail/ui/TopicDetailPage/TopicDetailPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2029: fix
  src/app/layouts/MainLayout/SkeletonGenerator/SkeletonGenerator.tsx
  src/pages/admin/collection/collectionDetail/index.ts
  src/pages/admin/collection/collectionDetail/ui/CollectionPage/CollectionPage.tsx
  src/pages/admin/collection/collectionDetail/ui/CollectionPageContent/CollectionPageContent.tsx
  src/widgets/Collection/ui/AdditionalInfo/AdditionalInfo.skeleton.tsx
  src/widgets/task/TasksList/ui/TasksController/TasksController.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2158: add handleApiError tests (#1323)
  src/shared/libs/query/handleApiError/handleApiError.test.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2029: update skeleton for CollectionPage (#1277)
  src/app/layouts/MainLayout/SkeletonGenerator/SkeletonGenerator.tsx
  src/entities/question/ui/PreviewQuestionsItem/PreviewQuestionsItem.module.css
  src/entities/question/ui/PreviewQuestionsItem/PreviewQuestionsItem.skeleton.tsx
  src/pages/admin/collection/collectionDetail/index.ts
  src/pages/admin/collection/collectionDetail/ui/CollectionPage/CollectionPage.skeleton.tsx
  src/pages/admin/collection/collectionDetail/ui/CollectionPage/CollectionPage.tsx
  src/pages/admin/collection/collectionDetail/ui/CollectionPageContent/CollectionPageContent.module.css
  src/pages/admin/collection/collectionDetail/ui/CollectionPageContent/CollectionPageContent.skeleton.tsx
  src/pages/admin/collection/collectionDetail/ui/CollectionPageContent/CollectionPageContent.tsx
  src/shared/ui/Card/Card.skeleton.tsx
  src/widgets/Collection/ui/AdditionalInfo/AdditionalInfo.skeleton.tsx
  src/widgets/Collection/ui/CollectionBody/CollectionBody.skeleton.tsx
  src/widgets/Collection/ui/CollectionHeader/CollectionHeader.module.css
  src/widgets/Collection/ui/CollectionHeader/CollectionHeader.skeleton.tsx
  src/widgets/task/TasksList/ui/TasksController/TasksController.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1968: fix
  src/entities/socialNetwork/index.ts
  src/entities/socialNetwork/ui/SocialNetWorkList/SocialNetWorkList.skeleton.tsx
  src/entities/user/index.ts
  src/entities/user/ui/UserEditButton/UserEditButton.module.css
  src/entities/user/ui/UserEditButton/UserEditButton.skeleton.tsx
  src/entities/user/ui/UserEditButton/UserEditButton.tsx
  src/entities/user/ui/UserRolesList/UserRolesList.skeleton.tsx
  src/pages/profile/profileInfo/ui/ProfilePage/ProfilePage.module.css
  src/pages/profile/profileInfo/ui/ProfilePage/ProfilePage.skeleton.tsx
  src/pages/profile/profileInfo/ui/ProfilePage/ProfilePage.tsx
  src/pages/profile/userProfile/ui/UserProfilePage/UserProfilePage.module.css
  src/pages/profile/userProfile/ui/UserProfilePage/UserProfilePage.tsx
  src/widgets/Profile/InfoBlock/ui/InfoBlock/InfoBlock.module.css
  src/widgets/Profile/InfoBlock/ui/InfoBlock/InfoBlock.skeleton.tsx
  src/widgets/Profile/InfoBlock/ui/InfoBlockHeader/InfoBlockHeader.skeleton.tsx
  src/widgets/Profile/SkillsBlock/ui/SkillsBlock/SkillsBlock.skeleton.tsx
  src/widgets/Profile/SkillsBlock/ui/SkillsBlockHeader/SkillsBlockHeader.skeleton.tsx
  src/widgets/Profile/UserBlock/ui/UserBlock/UserBlock.module.css
  src/widgets/Profile/UserBlock/ui/UserBlock/UserBlock.skeleton.tsx
  src/widgets/Profile/UserBlock/ui/UserImageBlock/UserImageBlock.skeleton.tsx
  src/widgets/Profile/UserBlock/ui/UserInfoBlock/UserInfoBlock.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1968: fix
  src/pages/profile/userProfile/ui/UserProfilePage/UserProfilePage.tsx
  src/widgets/Profile/InfoBlock/ui/InfoBlockHeader/InfoBlockHeader.module.css
  src/widgets/Profile/SkillsBlock/ui/SkillsBlock/SkillsBlock.module.css
  src/widgets/Profile/SkillsBlock/ui/SkillsBlock/SkillsBlock.skeleton.tsx
  src/widgets/Profile/SkillsBlock/ui/SkillsBlockHeader/SkillsBlockHeader.module.css
  src/widgets/Profile/SkillsBlock/ui/SkillsBlockHeader/SkillsBlockHeader.skeleton.tsx
  src/widgets/Profile/SkillsBlock/ui/SkillsBlockHeader/SkillsBlockHeader.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1968: refactor ProfilePage.skeleton и UserProfilePage.skeleton, add shared ui SkeletonBlock, add InfoBlock.skeleton, SkillsBlock.skeleton and UserBlock.skeleton (#1232)
  src/app/layouts/MainLayout/SkeletonGenerator/SkeletonGenerator.tsx
  src/entities/socialNetwork/index.ts
  src/entities/socialNetwork/ui/SocialNetWorkList/SocialNetWorkList.skeleton.tsx
  src/entities/user/index.ts
  src/entities/user/ui/UserEditButton/UserEditButton.skeleton.tsx
  src/entities/user/ui/UserEditButton/UserEditButton.tsx
  src/entities/user/ui/UserRolesList/UserRolesList.skeleton.tsx
  src/pages/profile/profileInfo/ui/ProfilePage/ProfilePage.module.css
  src/pages/profile/profileInfo/ui/ProfilePage/ProfilePage.skeleton.tsx
  src/pages/profile/profileInfo/ui/ProfilePage/ProfilePage.tsx
  src/pages/profile/userProfile/ui/UserProfilePage/UserProfilePage.module.css
  src/pages/profile/userProfile/ui/UserProfilePage/UserProfilePage.skeleton.tsx
  src/pages/profile/userProfile/ui/UserProfilePage/UserProfilePage.tsx
  src/widgets/Profile/InfoBlock/index.ts
  src/widgets/Profile/InfoBlock/ui/InfoBlock/InfoBlock.module.css
  src/widgets/Profile/InfoBlock/ui/InfoBlock/InfoBlock.skeleton.tsx
  src/widgets/Profile/InfoBlock/ui/InfoBlockHeader/InfoBlockHeader.module.css
  src/widgets/Profile/InfoBlock/ui/InfoBlockHeader/InfoBlockHeader.skeleton.tsx
  src/widgets/Profile/InfoBlock/ui/InfoBlockText/InfoBlockText.skeleton.tsx
  src/widgets/Profile/SkillsBlock/index.ts
  src/widgets/Profile/SkillsBlock/ui/SkillsBlock/SkillsBlock.module.css
  src/widgets/Profile/SkillsBlock/ui/SkillsBlock/SkillsBlock.skeleton.tsx
  src/widgets/Profile/SkillsBlock/ui/SkillsBlockHeader/SkillsBlockHeader.module.css
  src/widgets/Profile/SkillsBlock/ui/SkillsBlockHeader/SkillsBlockHeader.skeleton.tsx
  src/widgets/Profile/SkillsBlock/ui/SkillsBlockHeader/SkillsBlockHeader.tsx
  src/widgets/Profile/SkillsBlock/ui/SkillsBlockList/SkillsBlockList.skeleton.tsx
  src/widgets/Profile/UserBlock/index.ts
  src/widgets/Profile/UserBlock/ui/UserBlock/UserBlock.skeleton.tsx
  src/widgets/Profile/UserBlock/ui/UserBlock/index.ts
  src/widgets/Profile/UserBlock/ui/UserImageBlock/UserImageBlock.skeleton.tsx
  src/widgets/Profile/UserBlock/ui/UserImageBlock/index.ts
  src/widgets/Profile/UserBlock/ui/UserInfoBlock/UserInfoBlock.skeleton.tsx
  src/widgets/Profile/UserBlock/ui/UserInfoBlock/index.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2292: add tests for WithFeature component
  src/entities/featureFlag/ui/WithFeature/WithFeature.test.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2292: add test case when feature roles array is empty
  src/entities/featureFlag/ui/WithFeature/WithFeature.test.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2214: change font size and add margin to Collection title
  src/entities/collection/ui/CollectionForm/CollectionForm.module.css
  src/entities/collection/ui/CollectionForm/CollectionForm.tsx
  src/shared/ui/Text/Text.module.css
  src/shared/ui/Text/Text.skeleton.tsx
  src/shared/ui/Text/Text.tsx
  src/shared/ui/Text/types.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

Path conditions:
  npm run prettier: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:ts:fix: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:css:fix: any of: *.css
