Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

Delete localhost.csr
  localhost.csr
Due: none

Delete localhost.ext
  localhost.ext
Due: none

Delete root_ca.srl
  root_ca.srl
Due: none

Delete Мой ROOT CA.mobileconfig
  Мой ROOT CA.mobileconfig
Due: none

Delete yourcert.pem
  yourcert.pem
Due: none

YH-779: fix: optimization of requests in the landing questions page
  src/entities/question/ui/ChooseSpecialization/ChooseSpecialization.tsx
  src/pages/landing/PublicQuestionsPage/model/helpers/getTitleFromQuery.ts
  src/pages/landing/PublicQuestionsPage/model/hooks/useTitleFromQuery.ts
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsPage/PublicQuestionsPage.tsx
  src/shared/constants/queryConstants.ts
  src/shared/hooks/useQueryFilter.ts
Due: npm run prettier, npm run lint:ts:fix

YH-779: fix: fixed an extra request to the server
  public/locales/en/user.json
  public/locales/ru/user.json
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsPage/PublicQuestionsPage.tsx
  src/shared/hooks/useQueryFilter.ts
Due: npm run prettier, npm run lint:ts:fix

YH-474: add dropdown (#321)
  src/shared/assets/icons/ArrowSelect.svg
  src/shared/hooks/useOutsideClick.ts
  src/shared/ui/Dropdown/index.ts
  src/shared/ui/Dropdown/model/DropdownTypes.ts
  src/shared/ui/Dropdown/ui/Dropdown/Dropdown.module.css
  src/shared/ui/Dropdown/ui/Dropdown/Dropdown.tsx
  src/shared/ui/Dropdown/ui/Option/Option.module.css
  src/shared/ui/Dropdown/ui/Option/Option.tsx
  src/shared/ui/Dropdown/ui/Select/Select.module.css
  src/shared/ui/Dropdown/ui/Select/Select.tsx
  src/shared/ui/Input/model/types/InputTypes.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

fix conflict import AutoScrollToTop
  src/app/layouts/MainLayout/ui/MainLayout.tsx
Due: npm run prettier, npm run lint:ts:fix

fix conflict import AutoScrollToTop (#486)
  src/app/layouts/MainLayout/ui/MainLayout.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-719: Add mock for edit specialization
  src/app/msw/handlers.ts
  src/features/specialization/editSpecialization/api/__mocks__/index.ts
  src/features/specialization/editSpecialization/api/__mocks__/specializationEditMock.ts
  src/features/specialization/editSpecialization/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-758: Not Updates Statistic After Add Or Delete Question
  src/features/quiz/learnQuestion/api/learnQuestionApi.ts
  src/features/quiz/resetQuestionStudyProgress/api/resetQuestionStudyProgressApi.ts
  src/features/quiz/resetQuestionStudyProgress/ui/ResetQuestionStudyProgressButton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-719: Add mock for edit specialization (#487)
  src/app/msw/handlers.ts
  src/features/specialization/editSpecialization/api/__mocks__/index.ts
  src/features/specialization/editSpecialization/api/__mocks__/specializationEditMock.ts
  src/features/specialization/editSpecialization/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-758: Not Updates Statistic After Add Or Delete Question (#484)
  src/features/quiz/learnQuestion/api/learnQuestionApi.ts
  src/features/quiz/resetQuestionStudyProgress/api/resetQuestionStudyProgressApi.ts
  src/features/quiz/resetQuestionStudyProgress/ui/ResetQuestionStudyProgressButton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-784: Fixed incorrect links
  public/locales/en/user.json
  public/locales/ru/user.json
  src/app/providers/router/config/routeConfig.tsx
  src/shared/config/router/routes.ts
  src/widgets/Header/ui/UserPreferences/UserPreferences.tsx
  src/widgets/Profile/ui/InfoCard/ui/InfoBlockHeader/InfoBlockHeader.tsx
  src/widgets/Profile/ui/SkillsCard/ui/SkillsBlockHeader/SkillsBlockHeader.tsx
  src/widgets/Profile/ui/UserCard/ui/UserEditButton/UserEditButton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-779: fix: delete spec request from questions add to filters spec
  src/entities/question/ui/ChooseSpecialization/ChooseSpecialization.tsx
  src/pages/landing/PublicQuestionsPage/model/helpers/getTitleFromQuery.ts
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsPage/PublicQuestionsPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-792: Refactoring: Styles
  src/app/layouts/MainLayout/ui/MainLayout.module.css
  src/pages/interview/InterviewQuizPage/ui/InterviewQuizPage.module.css
  src/pages/interview/InterviewQuizPage/ui/InterviewQuizPage.tsx
  src/pages/interview/InterviewStatisticsPage/ui/InterviewStatisticsPage.module.css
  src/pages/interview/QuestionPage/ui/QuestionPage.module.css
  src/pages/interview/QuestionsPage/ui/QuestionsPage/QuestionsPage.module.css
  src/shared/ui/AdditionalStatInfoGauge/ui/AdditionalStatInfoGauge/AdditionalStatInfoGauge.module.css
  src/shared/ui/Breadcrumbs/ui/Breadcrumbs.module.css
  src/shared/ui/Card/ui/Card.module.css
  src/shared/ui/Card/ui/Card.tsx
  src/shared/ui/ProgressBar/ui/ProgressBar.tsx
  src/widgets/Header/ui/HeaderLayout/HeaderLayout.module.css
  src/widgets/interview/CategoryProgressList/ui/CategoryProgressList/CategoryProgressList.tsx
  src/widgets/interview/InterviewPreparation/ui/InterviewPreparation/InterviewPreparation.skeleton.tsx
  src/widgets/interview/InterviewPreparation/ui/InterviewPreparation/InterviewPreparation.tsx
  src/widgets/interview/InterviewPreparation/ui/PreviewActiveQuiz/PreviewActiveQuiz.module.css
  src/widgets/interview/PassedQuizzesList/ui/PreviewPassedQuizzesItem/PreviewPassedQuizzesItem.tsx
  src/widgets/interview/PassedQuizzesList/ui/PreviewPassedQuizzesList/PreviewPassedQuizzesList.skeleton.tsx
  src/widgets/interview/PassedQuizzesList/ui/PreviewPassedQuizzesList/PreviewPassedQuizzesList.tsx
  src/widgets/question/QuestionHeader/QuestionHeader.tsx
  src/widgets/question/QuestionsList/ui/PreviewQuestionsList/PreviewQuestionsList.skeleton.tsx
  src/widgets/question/QuestionsList/ui/PreviewQuestionsList/PreviewQuestionsList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-784: Fixed incorrect links (#483)
  public/locales/en/user.json
  public/locales/ru/user.json
  src/widgets/Header/ui/UserPreferences/UserPreferences.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-792: Refactoring: Styles (#488)
  src/app/layouts/MainLayout/ui/MainLayout.module.css
  src/pages/interview/InterviewQuizPage/ui/InterviewQuizPage.module.css
  src/pages/interview/InterviewQuizPage/ui/InterviewQuizPage.tsx
  src/pages/interview/InterviewStatisticsPage/ui/InterviewStatisticsPage.module.css
  src/pages/interview/QuestionPage/ui/QuestionPage.module.css
  src/pages/interview/QuestionsPage/ui/QuestionsPage/QuestionsPage.module.css
  src/shared/ui/AdditionalStatInfoGauge/ui/AdditionalStatInfoGauge/AdditionalStatInfoGauge.module.css
  src/shared/ui/Breadcrumbs/ui/Breadcrumbs.module.css
  src/shared/ui/Card/ui/Card.module.css
  src/shared/ui/Card/ui/Card.tsx
  src/shared/ui/ProgressBar/ui/ProgressBar.tsx
  src/widgets/Header/ui/HeaderLayout/HeaderLayout.module.css
  src/widgets/interview/CategoryProgressList/ui/CategoryProgressList/CategoryProgressList.tsx
  src/widgets/interview/InterviewPreparation/ui/InterviewPreparation/InterviewPreparation.skeleton.tsx
  src/widgets/interview/InterviewPreparation/ui/InterviewPreparation/InterviewPreparation.tsx
  src/widgets/interview/InterviewPreparation/ui/PreviewActiveQuiz/PreviewActiveQuiz.module.css
  src/widgets/interview/PassedQuizzesList/ui/PreviewPassedQuizzesItem/PreviewPassedQuizzesItem.tsx
  src/widgets/interview/PassedQuizzesList/ui/PreviewPassedQuizzesList/PreviewPassedQuizzesList.skeleton.tsx
  src/widgets/interview/PassedQuizzesList/ui/PreviewPassedQuizzesList/PreviewPassedQuizzesList.tsx
  src/widgets/question/QuestionHeader/QuestionHeader.tsx
  src/widgets/question/QuestionsList/ui/PreviewQuestionsList/PreviewQuestionsList.skeleton.tsx
  src/widgets/question/QuestionsList/ui/PreviewQuestionsList/PreviewQuestionsList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-717: added mock request to get specialization by id (#481)
  src/entities/specialization/api/__mocks__/index.ts
  src/entities/specialization/api/__mocks__/specializationMock.ts
  src/entities/specialization/model/types/specialization.ts
Due: npm run prettier, npm run lint:ts:fix

YH-678: Add a collection deletion request and fix modal
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/features/collections/deleteCollection/api/deleteCollectionApi.ts
  src/features/collections/deleteCollection/index.ts
  src/features/collections/deleteCollection/model/constants/deleteCollectionConstants.ts
  src/features/collections/deleteCollection/ui/deleteCollectionButton/DeleteCollectionButton.module.css
  src/features/collections/deleteCollection/ui/deleteCollectionButton/DeleteCollectionButton.tsx
  src/features/question/deleteQuestion/ui/DeleteQuestionButton/DeleteQuestionButton.tsx
  src/features/skill/deleteSkill/ui/DeleteSkillButton/DeleteSkillButton.tsx
  src/shared/config/api/apiTags.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/BlockerDialogModal/ui/BlockerDialogModal.module.css
  src/shared/ui/BlockerDialogModal/ui/BlockerDialogModal.tsx
  src/shared/ui/LeavingPageBlocker/ui/LeavingPageBlocker.tsx
  src/shared/ui/Modal/ui/Modal.tsx
  src/shared/ui/Modal/ui/styles.module.css
  src/widgets/CollectionsTable/ui/CollectionsTable.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-801: delete question badge status
  src/pages/admin/QuestionPage/QuestionPage.tsx
  src/pages/interview/QuestionPage/ui/QuestionPage.tsx
  src/pages/landing/PublicQuestionPage/ui/PublicQuestionPage.tsx
  src/widgets/question/QuestionHeader/QuestionHeader.module.css
  src/widgets/question/QuestionHeader/QuestionHeader.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-801: delete question badge status (#490)
  src/pages/admin/QuestionPage/QuestionPage.tsx
  src/pages/interview/QuestionPage/ui/QuestionPage.tsx
  src/pages/landing/PublicQuestionPage/ui/PublicQuestionPage.tsx
  src/widgets/question/QuestionHeader/QuestionHeader.module.css
  src/widgets/question/QuestionHeader/QuestionHeader.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-779: delete unused hooks, reuse function
  src/pages/landing/PublicQuestionsPage/hooks/useTitleFromQuery.ts
  src/pages/landing/PublicQuestionsPage/model/helpers/getTitleFromQuery.ts
  src/pages/landing/PublicQuestionsPage/model/hooks/useTitleFromQuery.ts
Due: npm run prettier, npm run lint:ts:fix

YH-767: create a quiz for the collection
  src/entities/quiz/model/types/quiz.ts
  src/features/collections/trainCollection/ui/TrainCollectionButton.tsx
  src/pages/interview/CollectionPage/ui/CollectionPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-790: fix style error
  src/pages/landing/PublicQuestionPage/ui/PublicQuestionPage.tsx
  src/shared/ui/Drawer/ui/Drawer.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-790: fix style error (#492)
  src/pages/landing/PublicQuestionPage/ui/PublicQuestionPage.tsx
  src/shared/ui/Drawer/ui/Drawer.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-779: fix: optimization of requests in the landing questions page (#485)
  src/entities/question/ui/ChooseSpecialization/ChooseSpecialization.tsx
  src/pages/landing/PublicQuestionsPage/hooks/useTitleFromQuery.ts
  src/pages/landing/PublicQuestionsPage/model/helpers/getTitleFromQuery.ts
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsPage/PublicQuestionsPage.tsx
  src/shared/constants/queryConstants.ts
  src/shared/hooks/useQueryFilter.ts
Due: npm run prettier, npm run lint:ts:fix

YH-725: Add mock request skillsList
  src/entities/skill/api/__mocks__/index.ts
  src/entities/skill/api/__mocks__/skillListMock.ts
Due: npm run prettier, npm run lint:ts:fix

Release 1.0.9
  RELEASE_NOTES.md
  package-lock.json
  package.json
Due: none

YH-798: Fix button and block styles on dashboard and landings
  src/shared/ui/Chip/ui/Chip.module.css
  src/shared/ui/ImageWithWrapper/ui/ImageWithWrapper.module.css
  src/shared/ui/TextHtml/ui/TextHtml.tsx
  src/shared/ui/charts/PieChart/ui/PieChart/PieChart.tsx
  src/shared/ui/charts/PieChart/ui/PieSegmentList/PieSegmentList.module.css
  src/shared/ui/charts/PieChart/ui/PieSegmentList/PieSegmentList.tsx
  src/widgets/Landing/InterviewBlock/ui/AdvantagesList/AdvantagesList.module.css
  src/widgets/Landing/InterviewBlock/ui/InterviewBlock/InterviewBlock.module.css
  src/widgets/Landing/InterviewModeBlock/ui/InterviewModeBlock/InterviewModeBlock.module.css
  src/widgets/Landing/PlatformInterfaceBlock/ui/PlatformInterfaceBlock/PlatformInterfaceBlock.module.css
  src/widgets/interview/PassedQuizzesList/ui/InterviewParameters/InterviewParameters.module.css
  src/widgets/interview/PassedQuizzesList/ui/QuestionCategores/QuestionCategories.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-798: Fix button and block styles on dashboard and landings (PR fixes)
  src/pages/interview/InterviewPage/ui/InterviewPage.module.css
  src/shared/ui/ImageWithWrapper/ui/ImageWithWrapper.module.css
  src/shared/ui/charts/PieChart/ui/PieChart/PieChart.tsx
  src/shared/ui/charts/PieChart/ui/PieSegmentList/PieSegmentList.tsx
  src/widgets/question/QuestionsList/ui/PreviewQuestionsItem/PreviewQuestionsItem.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-798: Fix button and block styles on dashboard and landings (#495)
  src/pages/interview/InterviewPage/ui/InterviewPage.module.css
  src/shared/ui/Chip/ui/Chip.module.css
  src/shared/ui/TextHtml/ui/TextHtml.tsx
  src/shared/ui/charts/PieChart/ui/PieChart/PieChart.tsx
  src/shared/ui/charts/PieChart/ui/PieSegmentList/PieSegmentList.module.css
  src/shared/ui/charts/PieChart/ui/PieSegmentList/PieSegmentList.tsx
  src/widgets/Landing/InterviewBlock/ui/AdvantagesList/AdvantagesList.module.css
  src/widgets/Landing/InterviewBlock/ui/InterviewBlock/InterviewBlock.module.css
  src/widgets/Landing/InterviewModeBlock/ui/InterviewModeBlock/InterviewModeBlock.module.css
  src/widgets/Landing/PlatformInterfaceBlock/ui/PlatformInterfaceBlock/PlatformInterfaceBlock.module.css
  src/widgets/interview/PassedQuizzesList/ui/InterviewParameters/InterviewParameters.module.css
  src/widgets/interview/PassedQuizzesList/ui/QuestionCategores/QuestionCategories.module.css
  src/widgets/question/QuestionsList/ui/PreviewQuestionsItem/PreviewQuestionsItem.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-767: fix code after code review
  src/features/collections/trainCollection/ui/TrainCollectionButton.tsx
  src/pages/interview/CollectionPage/ui/CollectionPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-767: create a quiz for the collection (#491)
  src/entities/quiz/model/types/quiz.ts
  src/features/collections/trainCollection/ui/TrainCollectionButton.tsx
  src/pages/interview/CollectionPage/ui/CollectionPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-721: Add mock delete skill
  src/entities/skill/api/__mocks__/skillMock.ts
  src/entities/skill/model/constants/skillConstants.ts
Due: npm run prettier, npm run lint:ts:fix

YH-797: add header background, fix link
  src/app/layouts/LandingLayout/ui/LandingLayout.module.css
  src/app/layouts/LandingLayout/ui/LandingLayout.tsx
  src/widgets/Landing/Header/ui/Header/Header.module.css
  src/widgets/Landing/Header/ui/Header/Header.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-732: merge with develop
  src/pages/interview/CollectionPage/ui/CollectionPage.tsx
  src/shared/ui/BaseFilterSection/BaseFilterSection.module.css
  src/widgets/Collection/ui/CollectionsFilterPanel/ui/CollectionsFilterPanel.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-800: [dashboard]- Задизейблить смену емаила
  src/features/profile/editProfileForm/ui/PersonalInformationTabForm/PersonalInformationTabForm.tsx
Due: npm run prettier, npm run lint:ts:fix

Path conditions:
  npm run prettier: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:ts:fix: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:css:fix: any of: *.css
