Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

.lintstagedrc:

{
  "./**/*.{ts,tsx,js,jsx}": ["npm run prettier", "npm run lint:ts:fix"],
  "*.css": "npm run lint:css:fix"
}

YH-630: add test for Tabs
  src/shared/ui/Tabs/ui/Tabs.test.tsx
  src/shared/ui/Tabs/ui/Tabs.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-638: tests added to Table component
  src/shared/ui/Table/ui/Table.test.tsx
  src/shared/ui/Table/ui/Table.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-631: add Tabs stories
  .loki/reference/chrome_laptop_shared_Tabs_Default.png
  src/shared/ui/Tabs/ui/Tabs.module.css
  src/shared/ui/Tabs/ui/Tabs.stories.tsx
  src/shared/ui/Tabs/ui/Tabs.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-636: fix buttons
  src/entities/quiz/ui/ResponseButtons/ResponseButtons.module.css
Due: npm run lint:css:fix

YH-624: added pages user
  public/locales/en/user.json
  public/locales/ru/translation.json
  public/locales/ru/user.json
  src/app/providers/router/config/routeConfig.tsx
  src/app/providers/store/config/config.ts
  src/app/styles/variables/pallete.css
  src/entities/user/api/userApi.ts
  src/entities/user/index.ts
  src/entities/user/model/constants/userConstants.ts
  src/entities/user/model/types/user.ts
  src/pages/admin/UserTablePage/index.ts
  src/pages/admin/UserTablePage/model/selectors/usersPageSelectors.ts
  src/pages/admin/UserTablePage/model/slices/usersPageSlice.ts
  src/pages/admin/UserTablePage/model/types/usersPageTypes.ts
  src/pages/admin/UserTablePage/ui/UserTablePage/UserTablePage.lazy.tsx
  src/pages/admin/UserTablePage/ui/UserTablePage/UserTablePage.module.css
  src/pages/admin/UserTablePage/ui/UserTablePage/UserTablePage.tsx
  src/pages/admin/UserTablePage/ui/UserTablePagePagination/UserTablePagePagination.module.css
  src/pages/admin/UserTablePage/ui/UserTablePagePagination/UserTablePagePagination.tsx
  src/shared/assets/icons/user.svg
  src/shared/config/api/apiTags.ts
  src/shared/config/i18n/i18n.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
  src/shared/config/store/State.ts
  src/shared/types/types.ts
  src/shared/ui/TableUser/index.ts
  src/shared/ui/TableUser/ui/TableUser.module.css
  src/shared/ui/TableUser/ui/TableUser.tsx
  src/widgets/UsersTable/index.ts
  src/widgets/UsersTable/ui/UsersTable.module.css
  src/widgets/UsersTable/ui/UsersTable.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-624: added pages user in admin
  public/locales/en/user.json
  public/locales/ru/user.json
Due: none

YH-636: fix buttons (#368)
  src/entities/quiz/ui/ResponseButtons/ResponseButtons.module.css
Due: npm run lint:css:fix

YH-631: add Tabs stories (#367)
  .loki/reference/chrome_laptop_shared_Tabs_Default.png
  src/shared/ui/Tabs/ui/Tabs.module.css
  src/shared/ui/Tabs/ui/Tabs.stories.tsx
  src/shared/ui/Tabs/ui/Tabs.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-622: add mock request to delete a question (#356)
  src/app/msw/handlers.ts
  src/entities/question/api/__mocks__/data/index.ts
  src/entities/question/api/__mocks__/data/questionsMock.ts
  src/entities/question/api/__mocks__/questionListMock.ts
  src/entities/question/index.ts
  src/features/question/deleteQuestion/api/__mocks__/deleteQuestionMock.ts
  src/features/question/deleteQuestion/api/__mocks__/index.ts
  src/features/question/deleteQuestion/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-612: refactor admin popovers (#345)
  src/features/question/deleteQuestion/ui/DeleteQuestionButton/DeleteQuestionButton.module.css
  src/features/question/deleteQuestion/ui/DeleteQuestionButton/DeleteQuestionButton.tsx
  src/features/skill/deleteSkill/ui/DeleteSkillButton/DeleteSkillButton.module.css
  src/features/skill/deleteSkill/ui/DeleteSkillButton/DeleteSkillButton.tsx
  src/features/specialization/deleteSpecialization/ui/DeleteSpecializationButton/DeleteSpecializationButton.module.css
  src/features/specialization/deleteSpecialization/ui/DeleteSpecializationButton/DeleteSpecializationButton.tsx
  src/widgets/QuestionsTable/ui/QuestionsTable.tsx
  src/widgets/SkillsTable/ui/SkillsTable.tsx
  src/widgets/SpecializationsTable/ui/SpecializationsTable.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-630: fix tests
  src/shared/ui/Tabs/ui/Tabs.test.tsx
Due: npm run prettier, npm run lint:ts:fix

feature/YH-611 (#371)
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/features/question/deleteQuestion/ui/DeleteQuestionButton/DeleteQuestionButton.tsx
  src/features/skill/deleteSkill/ui/DeleteSkillButton/DeleteSkillButton.tsx
  src/features/specialization/deleteSpecialization/ui/DeleteSpecializationButton/DeleteSpecializationButton.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/BlockerDialogModal/ui/BlockerDialogModal.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-630: add test for Tabs (#365)
  src/shared/ui/Tabs/ui/Tabs.test.tsx
  src/shared/ui/Tabs/ui/Tabs.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-637: fix MainLayout scroll
  src/app/layouts/MainLayout/ui/MainLayout.module.css
Due: npm run lint:css:fix

YH-624: fix design
  public/locales/en/translation.json
  public/locales/en/user.json
  public/locales/ru/translation.json
  public/locales/ru/user.json
  src/app/providers/router/config/routeConfig.tsx
  src/entities/user/model/types/user.ts
  src/pages/admin/UserTablePage/index.ts
  src/pages/admin/UserTablePage/ui/UserTablePage/UserTablePage.lazy.tsx
  src/pages/admin/UserTablePage/ui/UserTablePage/UsersTablePage.lazy.tsx
  src/pages/admin/UserTablePage/ui/UserTablePage/UsersTablePage.module.css
  src/pages/admin/UserTablePage/ui/UserTablePage/UsersTablePage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
  src/shared/types/types.ts
  src/shared/ui/Table/ui/Table.tsx
  src/shared/ui/TableUser/index.ts
  src/shared/ui/TableUser/ui/TableUser.module.css
  src/shared/ui/TableUser/ui/TableUser.tsx
  src/widgets/SearchSection/ui/SearchSection.tsx
  src/widgets/UsersTable/ui/UsersTable.module.css
  src/widgets/UsersTable/ui/UsersTable.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-624: fix users page
  src/pages/admin/UserTablePage/ui/UserTablePage/UsersTablePage.tsx
  src/shared/ui/Table/ui/Table.module.css
  src/widgets/UsersTable/ui/UsersTable.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-624: fix name
  src/widgets/UsersTable/ui/UsersTable.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-614: input, button border-radius fixed
  src/entities/question/ui/QuestionForm/QuestionForm.module.css
  src/entities/question/ui/QuestionForm/QuestionForm.tsx
  src/entities/skill/ui/SkillForm/SkillForm.module.css
  src/entities/skill/ui/SkillSelect/SkillSelect.module.css
  src/entities/socialNetwork/ui/SocialNetWorkInputs/SocialNetWorkInputs.module.css
  src/entities/socialNetwork/ui/SocialNetWorkInputs/SocialNetWorkInputs.tsx
  src/entities/specialization/ui/SpecializationSelect/SpecializationSelect.module.css
  src/features/authentication/forgotPassword/ui/ForgotPasswordForm/ForgotPasswordForm.module.css
  src/features/authentication/forgotPassword/ui/ForgotPasswordForm/ForgotPasswordForm.tsx
  src/features/authentication/login/ui/LoginForm/LoginForm.module.css
  src/features/authentication/login/ui/LoginForm/LoginForm.tsx
  src/features/authentication/passwordRecovery/ui/PasswordRecoveryForm/PasswordRecoveryForm.module.css
  src/features/authentication/passwordRecovery/ui/PasswordRecoveryForm/PasswordRecoveryForm.tsx
  src/features/authentication/registration/ui/RegisterForm/RegisterForm.module.css
  src/features/authentication/registration/ui/RegisterForm/RegisterForm.tsx
  src/features/common/search-input/ui/SearchInput.module.css
  src/features/common/search-input/ui/SearchInput.tsx
  src/features/profile/changePassword/ui/ChangePassword.module.css
  src/features/profile/changePassword/ui/ChangePassword.tsx
  src/features/profile/confirmationEmail/ui/ConfirmationEmail.module.css
  src/features/profile/confirmationEmail/ui/ConfirmationEmail.tsx
  src/features/profile/editProfileForm/ui/AboutMeTabForm/AboutMeTabForm.module.css
  src/features/profile/editProfileForm/ui/PersonalInformationTabForm/PersonalInformationTabForm.module.css
  src/features/profile/editProfileForm/ui/PersonalInformationTabForm/PersonalInformationTabForm.tsx
  src/shared/ui/Input/ui/Input.module.css
  src/shared/ui/Input/ui/Input.tsx
  src/shared/ui/InputPhone/ui/InputPhone.module.css
  src/shared/ui/KeywordInput/KeywordInput.tsx
  src/widgets/SearchSection/ui/SearchSection.module.css
  src/widgets/SearchSection/ui/SearchSection.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-637: fix MainLayout scroll (#372)
  src/app/layouts/MainLayout/ui/MainLayout.module.css
Due: npm run lint:css:fix

feature/YH-624 (#370)
  public/locales/en/translation.json
  public/locales/en/user.json
  public/locales/ru/translation.json
  public/locales/ru/user.json
  src/app/providers/router/config/routeConfig.tsx
  src/app/providers/store/config/config.ts
  src/app/styles/variables/pallete.css
  src/entities/user/api/userApi.ts
  src/entities/user/index.ts
  src/entities/user/model/constants/userConstants.ts
  src/entities/user/model/types/user.ts
  src/pages/admin/UserTablePage/index.ts
  src/pages/admin/UserTablePage/model/selectors/usersPageSelectors.ts
  src/pages/admin/UserTablePage/model/slices/usersPageSlice.ts
  src/pages/admin/UserTablePage/model/types/usersPageTypes.ts
  src/pages/admin/UserTablePage/ui/UserTablePage/UsersTablePage.lazy.tsx
  src/pages/admin/UserTablePage/ui/UserTablePage/UsersTablePage.module.css
  src/pages/admin/UserTablePage/ui/UserTablePage/UsersTablePage.tsx
  src/pages/admin/UserTablePage/ui/UserTablePagePagination/UserTablePagePagination.module.css
  src/pages/admin/UserTablePage/ui/UserTablePagePagination/UserTablePagePagination.tsx
  src/shared/assets/icons/user.svg
  src/shared/config/api/apiTags.ts
  src/shared/config/i18n/i18n.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
  src/shared/config/store/State.ts
  src/shared/types/types.ts
  src/shared/ui/Table/ui/Table.module.css
  src/shared/ui/Table/ui/Table.tsx
  src/widgets/SearchSection/ui/SearchSection.tsx
  src/widgets/UsersTable/index.ts
  src/widgets/UsersTable/ui/UsersTable.module.css
  src/widgets/UsersTable/ui/UsersTable.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-614: fix input border-radius
  src/entities/question/ui/QuestionForm/QuestionForm.module.css
  src/entities/question/ui/QuestionForm/QuestionForm.tsx
  src/entities/specialization/ui/SpecializationSelect/SpecializationSelect.module.css
  src/features/authentication/login/ui/LoginForm/LoginForm.module.css
  src/features/authentication/passwordRecovery/ui/PasswordRecoveryForm/PasswordRecoveryForm.module.css
  src/features/authentication/registration/ui/RegisterForm/RegisterForm.module.css
  src/features/profile/changePassword/ui/ChangePassword.module.css
  src/features/profile/confirmationEmail/ui/ConfirmationEmail.module.css
  src/features/profile/confirmationEmail/ui/ConfirmationEmail.tsx
  src/features/profile/editProfileForm/ui/PersonalInformationTabForm/PersonalInformationTabForm.module.css
  src/shared/ui/Input/ui/Input.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-635: refactoring
  src/entities/question/ui/QuestionForm/QuestionForm.tsx
  src/entities/skill/ui/SkillSelect/SkillSelect.module.css
  src/entities/skill/ui/SkillSelect/SkillSelect.tsx
  src/entities/specialization/ui/SpecializationSelect/SpecializationSelect.module.css
  src/entities/specialization/ui/SpecializationSelect/SpecializationSelect.tsx
  src/shared/ui/SelectWithChips/SelectWithChips.module.css
  src/shared/ui/SelectWithChips/SelectWithChips.tsx
  src/shared/ui/SelectWithChips/index.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-547: refactoring
  src/shared/ui/Accordion/ui/Accordion.test.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-614: fix input gap and input width
  src/entities/socialNetwork/ui/SocialNetWorkInputs/SocialNetWorkInputs.module.css
  src/features/profile/changePassword/ui/ChangePassword.module.css
Due: npm run lint:css:fix

YH-638: 2 files restored
  src/features/question/deleteQuestion/ui/DeleteQuestionButton/DeleteQuestionButton.tsx
  src/features/skill/deleteSkill/ui/DeleteSkillButton/DeleteSkillButton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-638: small fixes
  src/features/skill/deleteSkill/ui/DeleteSkillButton/DeleteSkillButton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-643: phone isn't required
  src/features/profile/editProfileForm/helpers/editProfileFormHelpers.ts
  src/features/profile/editProfileForm/model/lib/validation/editProfileSchema.ts
Due: npm run prettier, npm run lint:ts:fix

YH-638: deleteSkillButton restored
  src/features/skill/deleteSkill/ui/DeleteSkillButton/DeleteSkillButton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-615: add ImageLoaderWithoutCropper component
  public/locales/en/skill.json
  public/locales/ru/skill.json
  src/entities/skill/api/skillApi.ts
  src/entities/skill/model/types/skill.ts
  src/entities/skill/ui/SkillCard/SkillCard.module.css
  src/entities/skill/ui/SkillForm/SkillForm.module.css
  src/entities/skill/ui/SkillForm/SkillForm.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/helpers/removeBase64Data/index.ts
  src/shared/helpers/removeBase64Data/removeBase64Data.ts
  src/shared/ui/FileLoader/FileLoader.module.css
  src/shared/ui/FileLoader/FileLoader.tsx
  src/shared/ui/Flex/ui/Flex.module.css
  src/shared/ui/Flex/ui/Flex.tsx
  src/shared/ui/ImageLoaderWithoutCropper/ImageLoaderWithoutCropper.module.css
  src/shared/ui/ImageLoaderWithoutCropper/ImageLoaderWithoutCropper.tsx
  src/shared/ui/ImageLoaderWithoutCropper/index.ts
  src/shared/ui/Loader/ui/Loader.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-635: add multiple select to specializations (#364)
  public/locales/en/specialization.json
  public/locales/ru/specialization.json
  src/entities/question/ui/QuestionForm/QuestionForm.tsx
  src/entities/skill/ui/SkillSelect/SkillSelect.module.css
  src/entities/skill/ui/SkillSelect/SkillSelect.tsx
  src/entities/specialization/ui/SpecializationSelect/SpecializationSelect.tsx
  src/features/profile/editProfileForm/ui/PersonalInformationTabForm/PersonalInformationTabForm.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/SelectWithChips/SelectWithChips.module.css
  src/shared/ui/SelectWithChips/SelectWithChips.tsx
  src/shared/ui/SelectWithChips/index.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-638: tests added to Table component (#366)
  src/shared/ui/Table/ui/Table.test.tsx
  src/shared/ui/Table/ui/Table.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-643: validate phone when it is not empty
  src/features/profile/editProfileForm/model/lib/validation/editProfileSchema.ts
Due: npm run prettier, npm run lint:ts:fix

YH-615: fix issues, delete mutation, add local image state
  src/entities/skill/api/skillApi.ts
  src/entities/skill/model/types/skill.ts
  src/entities/skill/ui/SkillForm/SkillForm.tsx
  src/features/skill/editSkill/index.ts
  src/features/skill/editSkill/ui/SkillEditForm/index.ts
  src/features/skill/editSkill/ui/SkillEditFormHeader/SkillEditFormHeader.tsx
  src/pages/admin/SkillDetailPage/ui/SkillDetailPage/SkillDetailPage.tsx
  src/shared/ui/ImageLoaderWithoutCropper/ImageLoaderWithoutCropper.module.css
  src/shared/ui/ImageLoaderWithoutCropper/ImageLoaderWithoutCropper.tsx
  src/shared/ui/ImageWithWrapper/ImageWithWrapper.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

Fix/yh 643 (#374)
  src/features/profile/editProfileForm/helpers/editProfileFormHelpers.ts
  src/features/profile/editProfileForm/model/lib/validation/editProfileSchema.ts
Due: npm run prettier, npm run lint:ts:fix

YH-621: add createQuestionMock (#363)
  src/app/msw/handlers.ts
  src/features/question/createQuestion/api/__mocks__/createQuestionMock.ts
  src/features/question/createQuestion/api/__mocks__/data/index.ts
  src/features/question/createQuestion/api/__mocks__/data/newQuestionMock.ts
  src/features/question/createQuestion/api/__mocks__/index.ts
  src/features/question/createQuestion/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-615: fix: loader, delete:extra query
  src/entities/skill/ui/SkillForm/SkillForm.tsx
  src/features/skill/editSkill/ui/SkillEditForm/SkillEditForm.tsx
  src/shared/ui/ImageLoaderWithoutCropper/ImageLoaderWithoutCropper.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-647: add specialization param on skills request
  src/entities/profile/model/selectors/profileSelectors.ts
  src/entities/question/ui/ChooseQuestionsCategories/ChooseQuestionsCategories.tsx
  src/entities/question/ui/QuestionForm/QuestionForm.tsx
  src/entities/skill/model/types/skill.ts
  src/entities/skill/ui/SkillSelect/SkillSelect.tsx
  src/pages/interview/CreateQuizPage/ui/CreateQuizPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-647: fix skillRequest type
  src/entities/question/ui/ChooseQuestionsCategories/ChooseQuestionsCategories.tsx
  src/entities/question/ui/QuestionForm/QuestionForm.tsx
  src/entities/skill/model/types/skill.ts
  src/entities/skill/ui/SkillSelect/SkillSelect.tsx
  src/pages/interview/CreateQuizPage/ui/CreateQuizPage.tsx
  src/pages/interview/QuestionsPage/ui/QuestionsPage/QuestionsPage.tsx
Due: npm run prettier, npm run lint:ts:fix
