Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

.lintstagedrc:

{
  "./**/*.{ts,tsx,js,jsx}": ["npm run prettier", "npm run lint:ts:fix"],
  "*.css": "npm run lint:css:fix"
}

YH-1567: added empty collections stub for no collections state
  public/locales/en/collection.json
  public/locales/ru/collection.json
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/Collection/ui/CollectionsContent/CollectionsContent.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1567: resolved merge conflicts in translation files
  public/locales/en/collection.json
  public/locales/ru/collection.json
Due: none

YH-1567: fixed Russian locale encoding and structure...
  public/locales/en/collection.json
  public/locales/ru/collection.json
Due: none

YH-1570: refactor stub for question
  public/locales/en/questions.json
  public/locales/en/translation.json
  public/locales/ru/questions.json
  public/locales/ru/translation.json
  src/features/question/stubQuestion/index.ts
  src/features/question/stubQuestion/ui/QuestionNotAuthorizedStub.module.css
  src/features/question/stubQuestion/ui/QuestionNotAuthorizedStub.tsx
  src/pages/landing/publicQuestion/ui/PublicQuestionPage/PublicQuestionPage.tsx
  src/shared/assets/icons/auth.svg
  src/shared/assets/icons/index.ts
  src/shared/assets/icons/notAuthorized.png
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/SimpleStub/SimpleStub.module.css
  src/shared/ui/SimpleStub/SimpleStub.tsx
  src/shared/ui/SimpleStub/index.ts
  src/shared/ui/Stub/Stub.tsx
  src/widgets/Collection/ui/CollectionBody/CollectionBody.tsx
  src/widgets/question/QuestionBody/ui/QuestionBody.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

Feature/yh 1570 add auth restriction for expanded question answers (#1038)
  public/locales/en/questions.json
  public/locales/ru/questions.json
  src/pages/landing/publicQuestion/ui/PublicQuestionPage/PublicQuestionPage.tsx
  src/shared/assets/icons/auth.svg
  src/shared/assets/icons/index.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/SimpleStub/SimpleStub.module.css
  src/shared/ui/SimpleStub/SimpleStub.tsx
  src/shared/ui/SimpleStub/index.ts
  src/shared/ui/Stub/Stub.module.css
  src/shared/ui/Stub/Stub.tsx
  src/widgets/Collection/ui/CollectionBody/CollectionBody.tsx
  src/widgets/question/QuestionBody/ui/QuestionBody.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1563: refactor(analytics): decompose widget skeletons, factor out constants
  src/shared/ui/GraphProgressBar/GraphProgressBar.skeleton.tsx
  src/shared/ui/GraphProgressBar/index.ts
  src/shared/ui/ProgressBar/ProgressBar.skeleton.tsx
  src/widgets/analytics/MostDifficultQuestionsWidget/model/constants/index.ts
  src/widgets/analytics/MostDifficultQuestionsWidget/ui/MostDifficultQuestionItem/MostDifficultQuestionItem.skeleton.tsx
  src/widgets/analytics/MostDifficultQuestionsWidget/ui/MostDifficultQuestionsWidget/MostDifficultQuestionsWidget.skeleton.tsx
  src/widgets/analytics/MostDifficultQuestionsWidget/ui/MostDifficultQuestionsWidget/MostDifficultQuestionsWidget.tsx
  src/widgets/analytics/PopularQuestionsWidget/model/constants/index.ts
  src/widgets/analytics/PopularQuestionsWidget/ui/PopularQuestionsWidget.skeleton.tsx
  src/widgets/analytics/PopularQuestionsWidget/ui/PopularQuestionsWidget.tsx
  src/widgets/analytics/PopularSkillsWidget/model/constants/index.ts
  src/widgets/analytics/PopularSkillsWidget/ui/PopularSkillItem/PopularSkillItem.skeleton.tsx
  src/widgets/analytics/PopularSkillsWidget/ui/PopularSkillsWidget/PopularSkillsWidget.skeleton.tsx
  src/widgets/analytics/PopularSkillsWidget/ui/PopularSkillsWidget/PopularSkillsWidget.tsx
  src/widgets/analytics/SkillsProficiencyWidget/model/constants/index.ts
  src/widgets/analytics/SkillsProficiencyWidget/model/hooks/useItemsSizeCalculation.ts
  src/widgets/analytics/SkillsProficiencyWidget/ui/SkillProficiencyItem/SkillProficiencyItem.skeleton.tsx
  src/widgets/analytics/SkillsProficiencyWidget/ui/SkillsProficiencyWidget/SkillsProficiencyWidget.module.css
  src/widgets/analytics/SkillsProficiencyWidget/ui/SkillsProficiencyWidget/SkillsProficiencyWidget.skeleton.tsx
  src/widgets/analytics/SpecializationProgressWidget/model/constants/index.ts
  src/widgets/analytics/SpecializationProgressWidget/ui/SpecializationProgressWidget/SpecializationProgressWidget.skeleton.tsx
  src/widgets/analytics/SpecializationProgressWidget/ui/SpecializationProgressWidget/SpecializationProgressWidget.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1453: Add users rating widget with mock API
  public/locales/en/analytics.json
  public/locales/ru/analytics.json
  src/app/msw/handlers.ts
  src/entities/usersRating/api/__mocks__/data/usersRatingMock.ts
  src/entities/usersRating/api/__mocks__/index.ts
  src/entities/usersRating/api/__mocks__/usersRatingBySpecializationMock.ts
  src/entities/usersRating/api/usersRatingApi.ts
  src/entities/usersRating/index.ts
  src/entities/usersRating/model/constants/usersRatingConstants.ts
  src/entities/usersRating/model/types/usersRating.ts
  src/pages/analytics/analytics/ui/AnalyticsPage/AnalyticsPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/query/apiTags.ts
  src/shared/ui/Avatar/Avatar.skeleton.tsx
  src/shared/ui/Avatar/index.ts
  src/widgets/analytics/UsersRatingWidget/index.ts
  src/widgets/analytics/UsersRatingWidget/model/assets/firstPlace.png
  src/widgets/analytics/UsersRatingWidget/model/assets/index.ts
  src/widgets/analytics/UsersRatingWidget/model/assets/secondPlace.png
  src/widgets/analytics/UsersRatingWidget/model/assets/thirdPlace.png
  src/widgets/analytics/UsersRatingWidget/model/constants/index.ts
  src/widgets/analytics/UsersRatingWidget/ui/AvatarWithRating/AvatarWithRating.module.css
  src/widgets/analytics/UsersRatingWidget/ui/AvatarWithRating/AvatarWithRating.skeleton.tsx
  src/widgets/analytics/UsersRatingWidget/ui/AvatarWithRating/AvatarWithRating.tsx
  src/widgets/analytics/UsersRatingWidget/ui/UserRatingItem/UserRatingItem.module.css
  src/widgets/analytics/UsersRatingWidget/ui/UserRatingItem/UserRatingItem.skeleton.tsx
  src/widgets/analytics/UsersRatingWidget/ui/UserRatingItem/UserRatingItem.tsx
  src/widgets/analytics/UsersRatingWidget/ui/UsersRatingWidget/UsersRatingWidget.module.css
  src/widgets/analytics/UsersRatingWidget/ui/UsersRatingWidget/UsersRatingWidget.skeleton.tsx
  src/widgets/analytics/UsersRatingWidget/ui/UsersRatingWidget/UsersRatingWidget.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1563: add analytics page skeleton (#1027)
  src/app/layouts/MainLayout/SkeletonGenerator/SkeletonGenerator.tsx
  src/entities/question/ui/PreviewQuestionsItem/PreviewQuestionsItem.skeleton.tsx
  src/pages/analytics/analytics/index.ts
  src/pages/analytics/analytics/ui/AnalyticsPage/AnalyticsPage.skeleton.tsx
  src/shared/ui/GraphProgressBar/GraphProgressBar.skeleton.tsx
  src/shared/ui/GraphProgressBar/index.ts
  src/shared/ui/ProgressBar/ProgressBar.skeleton.tsx
  src/widgets/analytics/MostDifficultQuestionsWidget/index.ts
  src/widgets/analytics/MostDifficultQuestionsWidget/model/constants/index.ts
  src/widgets/analytics/MostDifficultQuestionsWidget/ui/MostDifficultQuestionItem/MostDifficultQuestionItem.skeleton.tsx
  src/widgets/analytics/MostDifficultQuestionsWidget/ui/MostDifficultQuestionsWidget/MostDifficultQuestionsWidget.skeleton.tsx
  src/widgets/analytics/MostDifficultQuestionsWidget/ui/MostDifficultQuestionsWidget/MostDifficultQuestionsWidget.tsx
  src/widgets/analytics/PopularQuestionsWidget/index.ts
  src/widgets/analytics/PopularQuestionsWidget/model/constants/index.ts
  src/widgets/analytics/PopularQuestionsWidget/ui/PopularQuestionsWidget.skeleton.tsx
  src/widgets/analytics/PopularQuestionsWidget/ui/PopularQuestionsWidget.tsx
  src/widgets/analytics/PopularSkillsWidget/index.ts
  src/widgets/analytics/PopularSkillsWidget/model/constants/index.ts
  src/widgets/analytics/PopularSkillsWidget/ui/PopularSkillItem/PopularSkillItem.skeleton.tsx
  src/widgets/analytics/PopularSkillsWidget/ui/PopularSkillsWidget/PopularSkillsWidget.skeleton.tsx
  src/widgets/analytics/PopularSkillsWidget/ui/PopularSkillsWidget/PopularSkillsWidget.tsx
  src/widgets/analytics/SkillsProficiencyWidget/index.ts
  src/widgets/analytics/SkillsProficiencyWidget/model/constants/index.ts
  src/widgets/analytics/SkillsProficiencyWidget/model/hooks/useItemsSizeCalculation.ts
  src/widgets/analytics/SkillsProficiencyWidget/ui/SkillProficiencyItem/SkillProficiencyItem.skeleton.tsx
  src/widgets/analytics/SkillsProficiencyWidget/ui/SkillsProficiencyWidget/SkillsProficiencyWidget.module.css
  src/widgets/analytics/SkillsProficiencyWidget/ui/SkillsProficiencyWidget/SkillsProficiencyWidget.skeleton.tsx
  src/widgets/analytics/SkillsProficiencyWidget/ui/SkillsProficiencyWidget/SkillsProficiencyWidget.tsx
  src/widgets/analytics/SpecializationProgressWidget/index.ts
  src/widgets/analytics/SpecializationProgressWidget/model/constants/index.ts
  src/widgets/analytics/SpecializationProgressWidget/ui/SpecializationProgressWidget/SpecializationProgressWidget.skeleton.tsx
  src/widgets/analytics/SpecializationProgressWidget/ui/SpecializationProgressWidget/SpecializationProgressWidget.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1577: fix(resources): add error handling for resourceCreate and resourceRequestCreate features
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/entities/resource/index.ts
  src/entities/resource/model/types/resource.ts
  src/entities/resource/model/types/resourceRequest.ts
  src/features/resources/createResource/api/createResourceApi.ts
  src/features/resources/createResource/lib/utils/getCreateResourceApiErrorMessage.ts
  src/features/resources/createResource/ui/ResourceCreateFormWithHeader/ResourceCreateFormWithHeader.tsx
  src/features/resources/createResourceRequest/api/createResourceRequestApi.ts
  src/features/resources/createResourceRequest/lib/utils/getCreateResourceRequestApiErrorMessage.ts
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1565: add copy button to hh page
  src/features/collections/filterCollections/ui/CollectionsFilters/CollectionsFilters.tsx
  src/pages/landing/hhAnalytics/ui/HhAnalyticsPage/HhAnalyticsPage.tsx
  src/widgets/analytics/HhAnalyticsTable/ui/HhAnalyticsTable.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1565: second commit. Added a stub when there are no resources (#1033)
  public/locales/en/resources.json
  public/locales/ru/resources.json
  src/entities/resource/index.ts
  src/entities/resource/ui/ResourcesStub/ResourcesStub.tsx
  src/features/collections/filterCollections/ui/CollectionsFilters/CollectionsFilters.tsx
  src/pages/landing/hhAnalytics/ui/HhAnalyticsPage/HhAnalyticsPage.tsx
  src/pages/landing/publicResources/ui/PublicResourcesPage/PublicResourcesPage.tsx
  src/pages/wiki/resource/resources/ui/ResourcesPage/ResourcesPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/analytics/HhAnalyticsTable/ui/HhAnalyticsTable.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1453: refactor(analytics): update users rating API response and relocate users rating to user entity
  public/locales/en/analytics.json
  public/locales/ru/analytics.json
  src/app/msw/handlers.ts
  src/entities/user/__mocks__/data/usersRatingMock.ts
  src/entities/user/__mocks__/index.ts
  src/entities/user/__mocks__/usersRatingBySpecializationMock.ts
  src/entities/user/api/usersRatingApi.ts
  src/entities/user/index.ts
  src/entities/user/model/constants/usersRatingConstants.ts
  src/entities/user/model/types/usersRating.ts
  src/entities/usersRating/api/__mocks__/data/usersRatingMock.ts
  src/entities/usersRating/index.ts
  src/entities/usersRating/model/constants/usersRatingConstants.ts
  src/entities/usersRating/model/types/usersRating.ts
  src/pages/analytics/analytics/ui/AnalyticsPage/AnalyticsPage.skeleton.tsx
  src/shared/assets/images/firstPlace.png
  src/shared/assets/images/index.ts
  src/shared/assets/images/secondPlace.png
  src/shared/assets/images/thirdPlace.png
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/analytics/UsersRatingWidget/index.ts
  src/widgets/analytics/UsersRatingWidget/model/assets/index.ts
  src/widgets/analytics/UsersRatingWidget/model/constants/index.ts
  src/widgets/analytics/UsersRatingWidget/ui/AvatarWithRating/AvatarWithRating.tsx
  src/widgets/analytics/UsersRatingWidget/ui/UserRatingItem/UserRatingItem.module.css
  src/widgets/analytics/UsersRatingWidget/ui/UserRatingItem/UserRatingItem.tsx
  src/widgets/analytics/UsersRatingWidget/ui/UsersRatingWidget/UsersRatingWidget.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1494: Added campaign filtering to collection pages
  public/locales/en/companies.json
  public/locales/ru/companies.json
  public/locales/ru/translation.json
  src/entities/collection/model/types/collection.ts
  src/entities/collection/model/types/filters.ts
  src/entities/company/api/companyApi.ts
  src/entities/company/index.ts
  src/entities/company/model/constants/companyConstants.ts
  src/entities/company/ui/PublicCompanySelect/PublicCompanySelect.tsx
  src/features/collections/filterCollections/model/hooks/useCollectionsFilters.ts
  src/features/collections/filterCollections/model/hooks/useGetCollectionsFilterParams.ts
  src/features/collections/filterCollections/ui/CollectionsFilters/CollectionsFilters.tsx
  src/pages/landing/publicCollections/ui/PublicCollectionsPage/PublicCollectionsPage.tsx
  src/pages/wiki/collection/collections/ui/CollectionsPage/CollectionsPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/query/apiTags.ts
Due: npm run prettier, npm run lint:ts:fix

Release 1.4.0
  RELEASE_NOTES.md
  package-lock.json
  package.json
Due: none

YH-1494: Fixed it so that the component is only shown on the landing page and platform
  public/locales/en/analytics.json
  public/locales/en/companies.json
  public/locales/en/topics.json
  public/locales/ru/analytics.json
  public/locales/ru/companies.json
  public/locales/ru/translation.json
  src/entities/company/ui/PublicCompanySelect/PublicCompanySelect.tsx
  src/features/collections/filterCollections/ui/CollectionsFilters/CollectionsFilters.tsx
  src/pages/landing/publicCollections/ui/PublicCollectionsPage/PublicCollectionsPage.tsx
  src/pages/wiki/collection/collections/ui/CollectionsPage/CollectionsPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

Release 1.4.0
  src/pages/wiki/collection/collectionDetail/ui/CollectionPage/CollectionPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1453: fix(user): add cross imports from specialization to user entity
  src/entities/specialization/@x/user.ts
  src/entities/user/__mocks__/data/usersRatingMock.ts
  src/entities/user/model/types/usersRating.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1559: fix skeleton layout in Avos and Banner components
  src/shared/ui/Banner/Banner.skeleton.tsx
  src/widgets/Landing/Avos/ui/AvosBanner/AvosBanner.module.css
  src/widgets/Landing/Avos/ui/AvosBanner/AvosBanner.skeleton.tsx
  src/widgets/Landing/Avos/ui/AvosListen/AvosListen.module.css
  src/widgets/Landing/Avos/ui/AvosListen/AvosListen.skeleton.tsx
  src/widgets/Landing/Avos/ui/AvosPromo/AvosPromo.module.css
  src/widgets/Landing/Avos/ui/AvosPromo/AvosPromo.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

Release 1.4.0
  public/locales/en/landing.json
  public/locales/ru/collection.json
  public/locales/ru/landing.json
  src/pages/wiki/collection/collectionDetail/ui/CollectionPage/CollectionPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/Landing/Avos/ui/AvosPromo/AvosPromo.tsx
Due: npm run prettier, npm run lint:ts:fix

Release 1.4.1
  RELEASE_NOTES.md
  package-lock.json
  package.json
  src/widgets/question/QuestionBody/ui/QuestionBody.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1567: Add empty collections stub for no collections state (#1042)
  public/locales/en/collection.json
  public/locales/ru/collection.json
  src/pages/landing/publicCollections/ui/PublicCollectionsPage/PublicCollectionsPage.tsx
  src/pages/wiki/collection/collections/ui/CollectionsPage/CollectionsPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/Collection/ui/CollectionsContent/CollectionsContent.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1493: fix fsd
  src/entities/collection/ui/KeywordSelect/KeywordSelect.tsx
  src/shared/config/i18n/index.ts
  src/shared/config/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1493: update keywords query
  src/entities/collection/api/collectionApi.ts
  src/entities/collection/model/constants/collection.ts
  src/entities/collection/model/types/collection.ts
  src/entities/collection/ui/KeywordSelect/KeywordSelect.tsx
  src/features/collections/filterCollections/ui/CollectionsFilters/CollectionsFilters.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1535: create TopicDetailPage
  public/locales/en/analytics.json
  public/locales/en/topics.json
  public/locales/ru/analytics.json
  public/locales/ru/topic.json
  src/app/providers/router/routeConfig.tsx
  src/entities/question/model/types/question.ts
  src/entities/quiz/model/types/quiz.ts
  src/entities/topic/api/topicApi.ts
  src/entities/topic/index.ts
  src/entities/topic/model/constants/topicConstants.ts
  src/entities/topic/model/types/topic.ts
  src/entities/topic/ui/TopicAdditionalInfo/TopicAdditionalInfo.module.css
  src/entities/topic/ui/TopicAdditionalInfo/TopicAdditionalInfo.tsx
  src/entities/topic/ui/TopicCard/TopicCard.module.css
  src/entities/topic/ui/TopicCard/TopicCard.tsx
  src/features/collections/filterCollections/ui/CollectionsFilters/CollectionsFilters.tsx
  src/pages/admin/topic/TopicDetailPage/index.ts
  src/pages/admin/topic/TopicDetailPage/ui/TopicDetailPage.lazy.tsx
  src/pages/admin/topic/TopicDetailPage/ui/TopicDetailPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Dropdown/Dropdown/Dropdown.tsx
  src/widgets/Collection/ui/AdditionalInfo/AdditionalInfo.tsx
  src/widgets/Collection/ui/CollectionHeader/CollectionHeader.tsx
  src/widgets/analytics/PopularSkillsWidget/ui/PopularSkillsWidget/PopularSkillsWidget.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

Release 1.4.2
  RELEASE_NOTES.md
  package-lock.json
  package.json
  src/entities/company/ui/CompanySelect/CompanySelect.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1574: added the correct text for possible errors when creating questions
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/features/question/createQuestion/api/createQuestionApi.ts
  src/features/question/createQuestion/index.ts
  src/features/question/createQuestion/lib/utils/getCreateQuestionsApiErrorMessage.ts
  src/features/question/createQuestion/model/types/questionCreateTypes.ts
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1578: Mock request for resources
  src/app/msw/handlers.ts
  src/entities/resource/api/__mock__/data/index.ts
  src/entities/resource/api/__mock__/data/resourcesMock.ts
  src/entities/resource/api/__mock__/index.ts
  src/entities/resource/api/__mock__/resourceMock.ts
  src/entities/resource/api/__mock__/resourcesListMock.ts
  src/entities/resource/index.ts
  src/widgets/Marketplace/ui/RecourcesList/ResourcesList.tsx
Due: npm run prettier, npm run lint:ts:fix

Release 1.4.2
  RELEASE_NOTES.md
  config/jest/jest.config.ts
  public/index.html
  src/app/styles/App.css
  src/entities/collection/model/constants/collection.ts
  src/widgets/Landing/CollectionBlock/ui/CollectionBlock/CollectionBlock.stories.tsx
  src/widgets/Landing/CollectionBlock/ui/CollectionBlock/CollectionBlock.tsx
  src/widgets/Landing/CollectionBlock/ui/FiltersBlock/FiltersBlock.stories.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1577: add error messages for resource and resource request creation (#1028)
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/entities/resource/index.ts
  src/entities/resource/model/types/resource.ts
  src/entities/resource/model/types/resourceRequest.ts
  src/features/resources/createResource/api/createResourceApi.ts
  src/features/resources/createResource/lib/utils/getCreateResourceApiErrorMessage.ts
  src/features/resources/createResourceRequest/api/createResourceRequestApi.ts
  src/features/resources/createResourceRequest/lib/utils/getCreateResourceRequestApiErrorMessage.ts
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1559: add skeleton loaders for Avos landing page (#1040)
  src/app/layouts/LandingLayout/SkeletonGenerator/SkeletonGenerator.tsx
  src/pages/landing/avos/index.ts
  src/pages/landing/avos/ui/AvosPage/AvosPage.skeleton.tsx
  src/shared/ui/Banner/Banner.skeleton.tsx
  src/widgets/Landing/Avos/index.ts
  src/widgets/Landing/Avos/ui/AvosBanner/AvosBanner.module.css
  src/widgets/Landing/Avos/ui/AvosBanner/AvosBanner.skeleton.tsx
  src/widgets/Landing/Avos/ui/AvosListen/AvosListen.module.css
  src/widgets/Landing/Avos/ui/AvosListen/AvosListen.skeleton.tsx
  src/widgets/Landing/Avos/ui/AvosPromo/AvosPromo.module.css
  src/widgets/Landing/Avos/ui/AvosPromo/AvosPromo.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

Feature/YH-1572 (#1035)
  .husky/commit-msg
  public/locales/en/analytics.json
  public/locales/en/topics.json
  public/locales/en/translation.json
  public/locales/ru/analytics.json
  public/locales/ru/translation.json
  src/features/specialization/createSpecialization/api/__mock__/createSpecializationErrorMock.ts
  src/features/specialization/createSpecialization/api/createSpecializationApi.ts
  src/features/specialization/createSpecialization/index.ts
  src/features/specialization/createSpecialization/model/types/specializationCreateTypes.ts
  src/features/specialization/createSpecialization/model/utils/getApiErrorMessage.ts
  src/shared/assets/icons/ArrowDownIcon.svg
  src/shared/assets/icons/ArrowSelect.svg
  src/shared/assets/icons/Checkmark.svg
  src/shared/assets/icons/ClipboardText.svg
  src/shared/assets/icons/Companies.svg
  src/shared/assets/icons/DiplomaVerified.svg
  src/shared/assets/icons/DotsVertical.svg
  src/shared/assets/icons/DoubleCheck.svg
  src/shared/assets/icons/EmptyStub.svg
  src/shared/assets/icons/ErrorStub.svg
  src/shared/assets/icons/Magnifer.svg
  src/shared/assets/icons/Megaphone.svg
  src/shared/assets/icons/NotePencil.svg
  src/shared/assets/icons/Plus1.svg
  src/shared/assets/icons/SealCheck.svg
  src/shared/assets/icons/Time.svg
  src/shared/assets/icons/TrendUp.svg
  src/shared/assets/icons/UserSwitch.svg
  src/shared/assets/icons/YeaHubCommunity.svg
  src/shared/assets/images/AccessDenied.png
  src/shared/assets/images/Gallery.avif
  src/shared/assets/images/LoadError.png
  src/shared/assets/images/MockAvatar.avif
  src/shared/assets/images/NoActiveQuizPlaceholder.avif
  src/shared/assets/images/SearchPage.png
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/libs/query/handleApiError/handleApiError.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1594: Redesign tabs
  src/shared/ui/Tabs/Tabs.module.css
  src/shared/ui/Tabs/Tabs.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1574: added the correct text for possible errors when creating questions (#1048)
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/features/question/createQuestion/api/createQuestionApi.ts
  src/features/question/createQuestion/index.ts
  src/features/question/createQuestion/lib/utils/getCreateQuestionsApiErrorMessage.ts
  src/features/question/createQuestion/model/types/questionCreateTypes.ts
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1594: Deleted Tabs_Line all files
  src/pages/admin/resource/resources/ui/ResourcesPage/ResourcesPage.tsx
  src/shared/ui/Tabs/Tabs.module.css
  src/shared/ui/Tabs/Tabs.skeleton.tsx
  src/shared/ui/Tabs/Tabs.test.tsx
  src/shared/ui/Tabs/Tabs.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1535: create TopicDetailPage
  src/app/providers/router/routeConfig.tsx
  src/entities/topic/api/topicApi.ts
  src/entities/topic/model/constants/topicConstants.ts
  src/entities/topic/ui/TopicAdditionalInfo/TopicAdditionalInfo.tsx
  src/entities/topic/ui/TopicCard/TopicCard.tsx
  src/pages/admin/topic/TopicDetail/index.ts
  src/pages/admin/topic/TopicDetail/ui/TopicDetailPage/TopicDetailPage.lazy.tsx
  src/pages/admin/topic/TopicDetail/ui/TopicDetailPage/TopicDetailPage.tsx
  src/pages/admin/topic/TopicDetailPage/index.ts
  src/shared/config/query/apiTags.ts
  src/widgets/topic/TopicsTable/ui/TopicsTable.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1578: Changes have been made based on review comments
  src/entities/resource/api/__mock__/data/resourcesMock.ts
  src/entities/resource/api/__mock__/resourceMock.ts
  src/entities/resource/api/__mock__/resourcesListMock.ts
  src/entities/resource/index.ts
  src/widgets/Marketplace/ui/RecourcesList/ResourcesList.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1539: Added filter button and Pagination
  src/features/topic/filterTopics/index.ts
  src/features/topic/filterTopics/model/hooks/useGetTopicsFilterParams.ts
  src/features/topic/filterTopics/model/hooks/useTopicsFilters.ts
  src/features/topic/filterTopics/model/types/filters.ts
  src/features/topic/filterTopics/ui/TopicSkillFilter/TopicSkillFilter.module.css
  src/features/topic/filterTopics/ui/TopicSkillFilter/TopicSkillFilter.tsx
  src/features/topic/filterTopics/ui/TopicsFilters/TopicsFilters.skeleton.tsx
  src/features/topic/filterTopics/ui/TopicsFilters/TopicsFilters.tsx
  src/pages/admin/topic/topics/ui/TopicsPage/TopicsPage.module.css
  src/pages/admin/topic/topics/ui/TopicsPage/TopicsPage.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1546: add challanges page
  public/locales/en/liveCoding.json
  public/locales/ru/liveCoding.json
  src/entities/challenge/api/challengeApi.ts
  src/entities/challenge/index.ts
  src/entities/challenge/model/constants/challenge.ts
  src/entities/challenge/model/types/challenge.ts
  src/entities/challenge/ui/ChallengeCard/ChallengeCard.module.css
  src/entities/challenge/ui/ChallengeCard/ChallengeCard.tsx
  src/entities/challenge/ui/ChallengeCard/index.ts
  src/pages/liveCoding/ui/LiveCodingPage.module.css
  src/pages/liveCoding/ui/LiveCodingPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/query/apiTags.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix
