Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

.lintstagedrc:

{
  "./**/*.{ts,tsx,js,jsx}": ["npm run prettier", "npm run lint:ts:fix"],
  "*.css": "npm run lint:css:fix"
}

YH-924: fix add questions in collection
  src/entities/collection/ui/CollectionForm/CollectionForm.tsx
  src/entities/question/ui/ChooseQuestionsDrawer/ChooseQuestionsDrawer.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-826: fix aligned titles to the left (#592)
  src/shared/ui/AdditionalStatInfoGauge/ui/AdditionalStatInfoGauge/AdditionalStatInfoGauge.tsx
  src/widgets/interview/InterviewPreparation/ui/InterviewPreparation/InterviewPreparation.tsx
  src/widgets/interview/PassedQuizzesList/ui/PreviewPassedQuizzesList/PreviewPassedQuizzesList.tsx
  src/widgets/question/QuestionsList/ui/PreviewQuestionsList/PreviewQuestionsList.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-924: fix SpecializationSelect
  src/entities/collection/ui/CollectionForm/CollectionForm.tsx
  src/entities/specialization/ui/SpecializationSelect/SpecializationSelect.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-911: Show specialization filter only on landing
  src/widgets/Collection/ui/CollectionsFilterPanel/ui/CollectionsFilterPanel.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-925: Fix empty collection view
  public/locales/en/questions.json
  public/locales/ru/questions.json
  src/pages/interview/CollectionPage/ui/CollectionPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/Collection/ui/CollectionBody/CollectionBody.module.css
  src/widgets/Collection/ui/CollectionBody/CollectionBody.tsx
  src/widgets/question/QuestionsList/ui/PreviewQuestionsList/PreviewQuestionsList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-910: added filters button (#586)
  src/pages/interview/CollectionsPage/ui/CollectionsPage/CollectionsPage.module.css
  src/pages/interview/CollectionsPage/ui/CollectionsPage/CollectionsPage.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-908: Add company field to collection create/edit/view pages (#589)
  public/locales/en/collection.json
  public/locales/en/company.json
  public/locales/ru/collection.json
  public/locales/ru/company.json
  src/entities/collection/model/types/collection.ts
  src/entities/collection/ui/CollectionForm/CollectionForm.tsx
  src/entities/company/api/companyApi.ts
  src/entities/company/index.ts
  src/entities/company/model/types/company.ts
  src/entities/company/ui/CompanySelect/CompanySelect.module.css
  src/entities/company/ui/CompanySelect/CompanySelect.tsx
  src/features/collections/createCollection/model/lib/validation/collectionCreateSchema.ts
  src/features/collections/createCollection/ui/CollectionCreateFormHeader/CollectionCreateFormHeader.tsx
  src/features/collections/editCollection/model/lib/validation/collectionEditSchema.ts
  src/features/collections/editCollection/ui/CollectionEditForm/CollectionEditForm.tsx
  src/shared/assets/icons/closeCircle.svg
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/SelectWithChips/SelectWithChips.module.css
  src/shared/ui/SelectWithChips/SelectWithChips.tsx
  src/widgets/Collection/ui/AdditionalInfo/AdditionalInfo.module.css
  src/widgets/Collection/ui/AdditionalInfo/AdditionalInfo.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-915: add banner for new landing (#590)
  public/locales/en/landing.json
  public/locales/ru/landing.json
  src/app/providers/router/config/routeConfig.tsx
  src/app/styles/variables/button-colors.css
  src/app/styles/variables/pallete.css
  src/pages/landing/NewLandingPage/index.ts
  src/pages/landing/NewLandingPage/ui/NewLandingPage.lazy.ts
  src/pages/landing/NewLandingPage/ui/NewLandingPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Button/Button.module.css
  src/shared/ui/Button/helpers.ts
  src/shared/ui/Button/types.ts
  src/shared/ui/Flex/Flex.module.css
  src/shared/ui/Flex/Flex.tsx
  src/widgets/NewLanding/BannerBlock/index.ts
  src/widgets/NewLanding/BannerBlock/model/assets/avatar1.avif
  src/widgets/NewLanding/BannerBlock/model/assets/avatar2.avif
  src/widgets/NewLanding/BannerBlock/model/assets/avatar3.avif
  src/widgets/NewLanding/BannerBlock/model/assets/avatar4.avif
  src/widgets/NewLanding/BannerBlock/model/assets/company.avif
  src/widgets/NewLanding/BannerBlock/model/assets/personImg.avif
  src/widgets/NewLanding/BannerBlock/model/assets/progress.avif
  src/widgets/NewLanding/BannerBlock/model/assets/statistics.avif
  src/widgets/NewLanding/BannerBlock/ui/AvatarGroup/AvatarGroup.module.css
  src/widgets/NewLanding/BannerBlock/ui/AvatarGroup/AvatarGroup.tsx
  src/widgets/NewLanding/BannerBlock/ui/BannerBlock/BannerBlock.module.css
  src/widgets/NewLanding/BannerBlock/ui/BannerBlock/BannerBlock.tsx
  src/widgets/NewLanding/BannerBlock/ui/BannerButton/BannerButton.module.css
  src/widgets/NewLanding/BannerBlock/ui/BannerButton/BannerButton.tsx
  src/widgets/NewLanding/BannerBlock/ui/BannerContent/BannerContent.module.css
  src/widgets/NewLanding/BannerBlock/ui/BannerContent/BannerContent.tsx
  src/widgets/NewLanding/BannerBlock/ui/BannerImage/BannerImage.module.css
  src/widgets/NewLanding/BannerBlock/ui/BannerImage/BannerImage.tsx
  src/widgets/NewLanding/BannerBlock/ui/BlockDescription/BlockDescription.module.css
  src/widgets/NewLanding/BannerBlock/ui/BlockDescription/BlockDescription.tsx
  src/widgets/NewLanding/BannerBlock/ui/BlockTitle/BlockTitle.module.css
  src/widgets/NewLanding/BannerBlock/ui/BlockTitle/BlockTitle.tsx
  src/widgets/NewLanding/BannerBlock/ui/Sticker/Sticker.module.css
  src/widgets/NewLanding/BannerBlock/ui/Sticker/Sticker.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-906: fix resets the question filter (#594)
  src/shared/hooks/useQueryFilter.ts
Due: npm run prettier, npm run lint:ts:fix

YH-924: fix adding questions in collection (#595)
  src/entities/collection/ui/CollectionForm/CollectionForm.tsx
  src/entities/question/ui/ChooseQuestionsDrawer/ChooseQuestionsDrawer.tsx
  src/entities/specialization/ui/SpecializationSelect/SpecializationSelect.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-925: Fix empty collection view (#596)
  public/locales/en/questions.json
  public/locales/ru/questions.json
  src/pages/interview/CollectionPage/ui/CollectionPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/Collection/ui/CollectionBody/CollectionBody.module.css
  src/widgets/Collection/ui/CollectionBody/CollectionBody.tsx
  src/widgets/question/QuestionsList/ui/PreviewQuestionsList/PreviewQuestionsList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-911: Show specialization filter only on landing (#597)
  src/widgets/Collection/ui/CollectionsFilterPanel/ui/CollectionsFilterPanel.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-930: fix PreviewCollectionsList
  src/widgets/interview/PreviewCollectionsList/ui/PreviewCollectionsList/PreviewCollectionsList.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-930: fix PreviewCollectionsList (#599)
  src/widgets/interview/PreviewCollectionsList/ui/PreviewCollectionsList/PreviewCollectionsList.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-902: Fix calendar skeleton layout
  src/shared/ui/Calendar/EventCalendar.skeleton.module.css
  src/shared/ui/Calendar/EventCalendar.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-923: get all questions when creating new quiz
  src/entities/quiz/api/quizApi.ts
Due: npm run prettier, npm run lint:ts:fix

YH-923: get all questions when creating new quiz (#601)
  src/entities/quiz/api/quizApi.ts
Due: npm run prettier, npm run lint:ts:fix

YH-931: fix company & collection validation. Fix toast translate
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/entities/collection/ui/CollectionForm/CollectionForm.tsx
  src/entities/company/model/types/companyTypes.ts
  src/features/collections/createCollection/model/lib/validation/collectionCreateSchema.ts
  src/features/collections/createCollection/ui/CollectionCreateFormHeader/CollectionCreateFormHeader.tsx
  src/features/company/createCompany/model/lib/validation/companyCreateSchema.ts
  src/features/company/createCompany/ui/CompanyCreateFormHeader/CompanyCreateFormHeader.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Toast/Error.tsx
  src/shared/ui/Toast/Success.tsx
  src/shared/ui/Toast/Warning.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-902: Fix calendar skeleton layout (#600)
  src/shared/ui/Calendar/EventCalendar.skeleton.module.css
  src/shared/ui/Calendar/EventCalendar.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-917: add sliders for InterviewMaterials cards and SkillsListTicker
  package-lock.json
  package.json
  src/widgets/Landing/AboutQuestionsBlock/model/constants/index.ts
  src/widgets/Landing/AboutQuestionsBlock/ui/AboutQuestionsBlock/AboutQuestionsBlock.module.css
  src/widgets/Landing/AboutQuestionsBlock/ui/InterviewMaterials/InterviewMaterials.module.css
  src/widgets/Landing/AboutQuestionsBlock/ui/InterviewMaterials/InterviewMaterials.tsx
  src/widgets/Landing/AboutQuestionsBlock/ui/SkillChip/SkillChip.tsx
  src/widgets/Landing/AboutQuestionsBlock/ui/SkillsListTicker/SkillsListTicker.module.css
  src/widgets/Landing/AboutQuestionsBlock/ui/SkillsListTicker/SkillsListTicker.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-917: Add Chip variants and hover style, fix delete icon color
  src/shared/assets/icons/closeCircle.svg
  src/shared/ui/Chip/Chip.module.css
  src/shared/ui/Chip/Chip.tsx
  src/shared/ui/Chip/types.ts
  src/widgets/Landing/AboutQuestionsBlock/ui/Cards/SkillsCard/SkillsBlock/SkillsBlock.tsx
  src/widgets/Landing/AboutQuestionsBlock/ui/Cards/SpecializationCard/SpecializationBlock/SpecializationBlock.tsx
  src/widgets/Landing/AboutQuestionsBlock/ui/SkillChip/SkillChip.module.css
  src/widgets/Landing/AboutQuestionsBlock/ui/SkillChip/SkillChip.tsx
  src/widgets/Landing/AboutQuestionsBlock/ui/SkillsListTicker/SkillsListTicker.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-918: create Training block for landing
  public/locales/en/landing.json
  public/locales/ru/landing.json
  src/app/providers/router/config/routeConfig.tsx
  src/app/styles/variables/pallete.css
  src/app/styles/variables/themes.css
  src/shared/assets/images/landing/quiz-image.avif
  src/shared/assets/images/landing/quiz-image2.avif
  src/shared/assets/images/landing/trainer-interview.avif
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/Landing/InterviewTrainerBlock/index.ts
  src/widgets/Landing/InterviewTrainerBlock/ui/InterviewCard/InterviewCard.module.css
  src/widgets/Landing/InterviewTrainerBlock/ui/InterviewCard/InterviewCard.tsx
  src/widgets/Landing/InterviewTrainerBlock/ui/InterviewTrainerBlock/InterviewTrainerBlock.module.css
  src/widgets/Landing/InterviewTrainerBlock/ui/InterviewTrainerBlock/InterviewTrainerBlock.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-931: fix company & collection validation. Fix toast translate (#602)
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/entities/collection/ui/CollectionForm/CollectionForm.tsx
  src/entities/company/model/types/companyTypes.ts
  src/features/collections/createCollection/model/lib/validation/collectionCreateSchema.ts
  src/features/collections/createCollection/ui/CollectionCreateFormHeader/CollectionCreateFormHeader.tsx
  src/features/company/createCompany/model/lib/validation/companyCreateSchema.ts
  src/features/company/createCompany/ui/CompanyCreateFormHeader/CompanyCreateFormHeader.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Toast/Error.tsx
  src/shared/ui/Toast/Success.tsx
  src/shared/ui/Toast/Warning.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-929: Collections layout
  public/locales/en/collection.json
  public/locales/en/questions.json
  public/locales/ru/collection.json
  public/locales/ru/questions.json
  src/entities/collection/index.ts
  src/entities/collection/ui/CollectionPreview/CollectionPreview.module.css
  src/entities/collection/ui/CollectionPreview/CollectionPreview.sekeleton.tsx
  src/entities/collection/ui/CollectionPreview/CollectionPreview.tsx
  src/entities/question/ui/QuestionAuthor/QuestionAuthor.tsx
  src/pages/admin/CollectionPage/ui/CollectionPage.tsx
  src/pages/interview/CollectionPage/ui/CollectionPage.module.css
  src/pages/interview/CollectionPage/ui/CollectionPage.skeleton.tsx
  src/pages/interview/CollectionPage/ui/CollectionPage.tsx
  src/pages/interview/CollectionsPage/ui/CollectionsPage/CollectionsPage.module.css
  src/pages/interview/CollectionsPage/ui/CollectionsPage/CollectionsPage.skeleton.tsx
  src/pages/interview/CollectionsPage/ui/CollectionsPage/CollectionsPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/Collection/index.ts
  src/widgets/Collection/ui/AdditionalInfo/AdditionalInfo.module.css
  src/widgets/Collection/ui/AdditionalInfo/AdditionalInfo.skeleton.tsx
  src/widgets/Collection/ui/AdditionalInfo/AdditionalInfo.tsx
  src/widgets/Collection/ui/CollectionBody/CollectionBody.module.css
  src/widgets/Collection/ui/CollectionBody/CollectionBody.skeleton.tsx
  src/widgets/Collection/ui/CollectionBody/CollectionBody.tsx
  src/widgets/Collection/ui/CollectionHeader/CollectionHeader.module.css
  src/widgets/Collection/ui/CollectionHeader/CollectionHeader.skeleton.tsx
  src/widgets/Collection/ui/CollectionHeader/CollectionHeader.tsx
  src/widgets/Collection/ui/CollectionsFilterPanel/ui/CollectionsFilterPanel.module.css
  src/widgets/Collection/ui/CollectionsList/CollectionsList.module.css
  src/widgets/Collection/ui/CollectionsList/CollectionsList.tsx
  src/widgets/question/QuestionsList/index.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-918: fixed problems
  src/widgets/Landing/InterviewTrainerBlock/ui/InterviewCard/InterviewCard.module.css
  src/widgets/Landing/InterviewTrainerBlock/ui/InterviewCard/InterviewCard.tsx
  src/widgets/Landing/InterviewTrainerBlock/ui/InterviewTrainerBlock/InterviewTrainerBlock.module.css
  src/widgets/Landing/InterviewTrainerBlock/ui/InterviewTrainerBlock/InterviewTrainerBlock.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-918: добавлен пропущенный объект banner в locales.json
  public/locales/en/landing.json
  public/locales/ru/landing.json
Due: none

YH-929: Collections layout (#604)
  public/locales/en/collection.json
  public/locales/en/questions.json
  public/locales/ru/collection.json
  public/locales/ru/questions.json
  src/entities/collection/index.ts
  src/entities/collection/ui/CollectionPreview/CollectionPreview.module.css
  src/entities/collection/ui/CollectionPreview/CollectionPreview.sekeleton.tsx
  src/entities/collection/ui/CollectionPreview/CollectionPreview.tsx
  src/entities/question/ui/QuestionAuthor/QuestionAuthor.tsx
  src/pages/admin/CollectionPage/ui/CollectionPage.tsx
  src/pages/interview/CollectionPage/ui/CollectionPage.module.css
  src/pages/interview/CollectionPage/ui/CollectionPage.skeleton.tsx
  src/pages/interview/CollectionPage/ui/CollectionPage.tsx
  src/pages/interview/CollectionsPage/ui/CollectionsPage/CollectionsPage.module.css
  src/pages/interview/CollectionsPage/ui/CollectionsPage/CollectionsPage.skeleton.tsx
  src/pages/interview/CollectionsPage/ui/CollectionsPage/CollectionsPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/Collection/index.ts
  src/widgets/Collection/ui/AdditionalInfo/AdditionalInfo.module.css
  src/widgets/Collection/ui/AdditionalInfo/AdditionalInfo.skeleton.tsx
  src/widgets/Collection/ui/AdditionalInfo/AdditionalInfo.tsx
  src/widgets/Collection/ui/CollectionBody/CollectionBody.module.css
  src/widgets/Collection/ui/CollectionBody/CollectionBody.skeleton.tsx
  src/widgets/Collection/ui/CollectionBody/CollectionBody.tsx
  src/widgets/Collection/ui/CollectionHeader/CollectionHeader.module.css
  src/widgets/Collection/ui/CollectionHeader/CollectionHeader.skeleton.tsx
  src/widgets/Collection/ui/CollectionHeader/CollectionHeader.tsx
  src/widgets/Collection/ui/CollectionsFilterPanel/ui/CollectionsFilterPanel.module.css
  src/widgets/Collection/ui/CollectionsList/CollectionsList.module.css
  src/widgets/Collection/ui/CollectionsList/CollectionsList.tsx
  src/widgets/question/QuestionsList/index.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-918: decomposing components, fixed styles, elements
  src/widgets/Landing/InterviewTrainerBlock/model/assets/quiz-image.avif
  src/widgets/Landing/InterviewTrainerBlock/model/assets/quiz-image2.avif
  src/widgets/Landing/InterviewTrainerBlock/model/assets/trainer-interview.avif
  src/widgets/Landing/InterviewTrainerBlock/ui/AdditionalBlock/AdditionalBlock.module.css
  src/widgets/Landing/InterviewTrainerBlock/ui/AdditionalBlock/AdditionalBlock.tsx
  src/widgets/Landing/InterviewTrainerBlock/ui/InterviewCard/InterviewCard.module.css
  src/widgets/Landing/InterviewTrainerBlock/ui/InterviewTrainerBlock/InterviewTrainerBlock.module.css
  src/widgets/Landing/InterviewTrainerBlock/ui/InterviewTrainerBlock/InterviewTrainerBlock.tsx
  src/widgets/Landing/InterviewTrainerBlock/ui/MainBlock/MainBlock.module.css
  src/widgets/Landing/InterviewTrainerBlock/ui/MainBlock/MainBlock.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-916: add new block to landing
  public/locales/en/landing.json
  public/locales/ru/landing.json
  src/pages/landing/NewLandingPage/ui/NewLandingPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/NewLanding/SpecialityBlock/index.ts
  src/widgets/NewLanding/SpecialityBlock/model/assets/Android Dev.png
  src/widgets/NewLanding/SpecialityBlock/model/assets/Backend.png
  src/widgets/NewLanding/SpecialityBlock/model/assets/Data Science.png
  src/widgets/NewLanding/SpecialityBlock/model/assets/Frontend.png
  src/widgets/NewLanding/SpecialityBlock/model/assets/Game Dev.png
  src/widgets/NewLanding/SpecialityBlock/model/assets/Machine Learning.png
  src/widgets/NewLanding/SpecialityBlock/model/assets/Testing.png
  src/widgets/NewLanding/SpecialityBlock/model/assets/iOS Dev.png
  src/widgets/NewLanding/SpecialityBlock/ui/SpecialityBlock/SpecialityBlock.module.css
  src/widgets/NewLanding/SpecialityBlock/ui/SpecialityBlock/SpecialityBlock.tsx
  src/widgets/NewLanding/SpecialityBlock/ui/SpecialityBlock/mockSpeciality.ts
  src/widgets/NewLanding/SpecialityBlock/ui/SpecialityCard/SpecialityCard.module.css
  src/widgets/NewLanding/SpecialityBlock/ui/SpecialityCard/SpecialityCard.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-918: deleted test route
  src/app/providers/router/config/routeConfig.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-916: fix comms
  src/widgets/NewLanding/SpecialityBlock/model/assets/Android Dev.avif
  src/widgets/NewLanding/SpecialityBlock/model/assets/Android Dev.png
  src/widgets/NewLanding/SpecialityBlock/model/assets/Backend.avif
  src/widgets/NewLanding/SpecialityBlock/model/assets/Backend.png
  src/widgets/NewLanding/SpecialityBlock/model/assets/Data Science.avif
  src/widgets/NewLanding/SpecialityBlock/model/assets/Data Science.png
  src/widgets/NewLanding/SpecialityBlock/model/assets/Frontend.avif
  src/widgets/NewLanding/SpecialityBlock/model/assets/Frontend.png
  src/widgets/NewLanding/SpecialityBlock/model/assets/Game Dev.avif
  src/widgets/NewLanding/SpecialityBlock/model/assets/Game Dev.png
  src/widgets/NewLanding/SpecialityBlock/model/assets/Machine Learning.avif
  src/widgets/NewLanding/SpecialityBlock/model/assets/Machine Learning.png
  src/widgets/NewLanding/SpecialityBlock/model/assets/Testing.avif
  src/widgets/NewLanding/SpecialityBlock/model/assets/Testing.png
  src/widgets/NewLanding/SpecialityBlock/model/assets/iOS Dev.avif
  src/widgets/NewLanding/SpecialityBlock/model/assets/iOS Dev.png
  src/widgets/NewLanding/SpecialityBlock/ui/SpecialityBlock/SpecialityBlock.module.css
  src/widgets/NewLanding/SpecialityBlock/ui/SpecialityBlock/mockSpeciality.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-918: create Training block for landing (#603)
  public/locales/en/landing.json
  public/locales/ru/landing.json
  src/app/styles/variables/pallete.css
  src/app/styles/variables/themes.css
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/Landing/InterviewTrainerBlock/index.ts
  src/widgets/Landing/InterviewTrainerBlock/model/assets/quiz-image.avif
  src/widgets/Landing/InterviewTrainerBlock/model/assets/quiz-image2.avif
  src/widgets/Landing/InterviewTrainerBlock/model/assets/trainer-interview.avif
  src/widgets/Landing/InterviewTrainerBlock/ui/AdditionalBlock/AdditionalBlock.module.css
  src/widgets/Landing/InterviewTrainerBlock/ui/AdditionalBlock/AdditionalBlock.tsx
  src/widgets/Landing/InterviewTrainerBlock/ui/InterviewCard/InterviewCard.module.css
  src/widgets/Landing/InterviewTrainerBlock/ui/InterviewCard/InterviewCard.tsx
  src/widgets/Landing/InterviewTrainerBlock/ui/InterviewTrainerBlock/InterviewTrainerBlock.module.css
  src/widgets/Landing/InterviewTrainerBlock/ui/InterviewTrainerBlock/InterviewTrainerBlock.tsx
  src/widgets/Landing/InterviewTrainerBlock/ui/MainBlock/MainBlock.module.css
  src/widgets/Landing/InterviewTrainerBlock/ui/MainBlock/MainBlock.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-954: Add stub for empty collections
  public/locales/en/collection.json
  public/locales/ru/collection.json
  src/shared/ui/Card/Card.tsx
  src/widgets/interview/PreviewCollectionsList/ui/PreviewCollectionsList/PreviewCollectionsList.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-954: Add stub for empty collections (#606)
  public/locales/en/collection.json
  public/locales/ru/collection.json
  src/shared/ui/Card/Card.tsx
  src/widgets/interview/PreviewCollectionsList/ui/PreviewCollectionsList/PreviewCollectionsList.tsx
Due: npm run prettier, npm run lint:ts:fix

Release 1.0.12
  RELEASE_NOTES.md
  package-lock.json
  package.json
Due: none

YH-950: Fix collections list
  src/pages/interview/CollectionsPage/ui/CollectionsPage/CollectionsPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-951: add table skeleton, fix /admin/user route
  src/app/layouts/MainLayout/model/helper/SkeletonGenerator.tsx
  src/pages/admin/CollectionsPage/index.ts
  src/pages/admin/CollectionsPage/ui/CollectionsPage/CollectionsPage.skeleton.tsx
  src/pages/admin/CompaniesTablePage/index.ts
  src/pages/admin/CompaniesTablePage/ui/CompaniesTablePage/CompaniesTablePage.skeleton.tsx
  src/pages/admin/QuestionsTablePage/index.ts
  src/pages/admin/QuestionsTablePage/ui/QuestionsTablePage/QuestionsTablePage.skeleton.tsx
  src/pages/admin/SkillsPage/index.ts
  src/pages/admin/SkillsPage/ui/SkillsPage/SkillsPage.skeleton.tsx
  src/pages/admin/SpecializationsPage/index.ts
  src/pages/admin/SpecializationsPage/ui/SpecializationsPage/SpecializationsPage.skeleton.tsx
  src/pages/admin/UserTablePage/index.ts
  src/pages/admin/UserTablePage/ui/UserTablePage/UsersTablePage.skeleton.tsx
  src/shared/config/router/routes.ts
  src/shared/ui/Checkbox/Checkbox.skeleton.tsx
  src/shared/ui/Checkbox/index.ts
  src/shared/ui/Table/Table.skeleton.tsx
  src/shared/ui/Table/index.ts
Due: npm run prettier, npm run lint:ts:fix
