Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-971: fix header for SkillsPage in admin panel
  src/pages/admin/SkillsPage/ui/SkillsPage/SkillsPage.module.css
  src/pages/admin/SkillsPage/ui/SkillsPage/SkillsPage.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-960: refactor dashboard CollectionPage, add public CollectionPage
  public/locales/en/landing.json
  public/locales/ru/landing.json
  public/locales/ru/questions.json
  src/app/layouts/LandingLayout/ui/LandingLayout.module.css
  src/app/layouts/LandingLayout/ui/LandingLayout.tsx
  src/app/providers/router/config/routeConfig.tsx
  src/entities/collection/api/collectionApi.ts
  src/entities/collection/model/constants/collection.ts
  src/entities/question/ui/ChooseSpecialization/ChooseSpecialization.module.css
  src/pages/admin/CollectionsPage/ui/CollectionsPage/CollectionsPage.tsx
  src/pages/admin/CollectionsPage/ui/CollectionsPagePagination/CollectionsPagePagination.tsx
  src/pages/interview/CollectionsPage/ui/CollectionsPage/CollectionsPage.tsx
  src/pages/interview/CollectionsPage/ui/CollectionsPagePagination/CollectionPagePagination.module.css
  src/pages/landing/PublicCollectionsPage/index.ts
  src/pages/landing/PublicCollectionsPage/ui/PublicCollectionsPage.lazy.ts
  src/pages/landing/PublicCollectionsPage/ui/PublicCollectionsPage.module.css
  src/pages/landing/PublicCollectionsPage/ui/PublicCollectionsPage.skeleton.tsx
  src/pages/landing/PublicCollectionsPage/ui/PublicCollectionsPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/hooks/index.ts
  src/shared/hooks/useQueryFilter.ts
  src/shared/ui/SearchInput/SearchInput.tsx
  src/widgets/Collection/index.ts
  src/widgets/Collection/model/hooks/useCollectionsFilters.ts
  src/widgets/Collection/model/types/types.ts
  src/widgets/Collection/ui/CollectionsContent/CollectionsContent.module.css
  src/widgets/Collection/ui/CollectionsContent/CollectionsContent.skeleton.tsx
  src/widgets/Collection/ui/CollectionsContent/CollectionsContent.tsx
  src/widgets/Collection/ui/CollectionsFilterPanel/ui/CollectionsFilterPanel.tsx
  src/widgets/Collection/ui/CollectionsFilters/CollectionsFilters.module.css
  src/widgets/Collection/ui/CollectionsFilters/CollectionsFilters.skeleton.tsx
  src/widgets/Collection/ui/CollectionsFilters/CollectionsFilters.tsx
  src/widgets/Collection/ui/CollectionsPagination/CollectionsPagination.module.css
  src/widgets/Collection/ui/CollectionsPagination/CollectionsPagination.tsx
  src/widgets/Landing/Header/ui/Header/Header.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-971: fix header for SkillsPage in admin panel (#631)
  src/pages/admin/SkillsPage/ui/SkillsPage/SkillsPage.module.css
  src/pages/admin/SkillsPage/ui/SkillsPage/SkillsPage.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-968: deleteв errors characters (#630)
  src/shared/ui/charts/GaugeChart/GaugeChart.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-919: refactor, fixed issues
  src/entities/collection/ui/CollectionPreview/CollectionPreview.module.css
  src/entities/collection/ui/CollectionPreview/CollectionPreview.tsx
  src/pages/admin/QuestionsTablePage/ui/QuestionsTablePage/QuestionsTablePage.skeleton.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/Landing/CollectionBlock/model/assets/vk.avif
  src/widgets/Landing/CollectionBlock/ui/CollectionCard/CollectionCard.module.css
  src/widgets/Landing/CollectionBlock/ui/CollectionCard/CollectionCard.tsx
  src/widgets/Landing/CollectionBlock/ui/MainBlock/MainBlock.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-914: refactoring after second review from Lead
  src/shared/ui/AppLogo/AppLogo.skeleton.tsx
  src/shared/ui/Icon/types.ts
  src/widgets/NewLanding/Header/ui/Header/Header.module.css
  src/widgets/NewLanding/Header/ui/HeaderNav/HeaderNavMobile/HeaderNavMobile.skeleton.tsx
  src/widgets/NewLanding/Main/Main.module.css
  src/widgets/NewLanding/Main/Main.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-868: add tests for Input and check disabled value before focus input field in Input (#588)
  src/shared/ui/Input/Input.test.tsx
  src/shared/ui/Input/Input.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-920: added History block for landing (#614)
  public/locales/en/landing.json
  public/locales/ru/landing.json
  src/app/styles/variables/pallete.css
  src/pages/landing/NewLandingPage/ui/NewLandingPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/NewLanding/HistoryBlock/index.ts
  src/widgets/NewLanding/HistoryBlock/model/assets/progressBarChart.avif
  src/widgets/NewLanding/HistoryBlock/model/assets/progressCircle.avif
  src/widgets/NewLanding/HistoryBlock/model/assets/progressDesc.avif
  src/widgets/NewLanding/HistoryBlock/model/assets/sealCheckPointer.avif
  src/widgets/NewLanding/HistoryBlock/model/constants/index.ts
  src/widgets/NewLanding/HistoryBlock/ui/HistoryBlock/HistoryBlock.module.css
  src/widgets/NewLanding/HistoryBlock/ui/HistoryBlock/HistoryBlock.tsx
  src/widgets/NewLanding/HistoryBlock/ui/HistorySlide/HistorySlide.module.css
  src/widgets/NewLanding/HistoryBlock/ui/HistorySlide/HistorySlide.tsx
  src/widgets/NewLanding/HistoryBlock/ui/HistorySliderBlock/HistorySliderBlock.module.css
  src/widgets/NewLanding/HistoryBlock/ui/HistorySliderBlock/HistorySliderBlock.tsx
  src/widgets/NewLanding/HistoryBlock/ui/HistoryTextBlock/HistoryTextBlock.module.css
  src/widgets/NewLanding/HistoryBlock/ui/HistoryTextBlock/HistoryTextBlock.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-976: added new solution
  src/shared/hooks/useQueryFilter.ts
  src/shared/ui/FiltersDrawer/FiltersDrawer.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-969: Fix paddings in Table
  src/features/profile/editProfileForm/ui/EditProfileForm/EditProfileForm.module.css
  src/shared/ui/Table/Table.module.css
Due: npm run lint:css:fix

YH-970: Fix position of pagination in admin/specializations
  src/pages/admin/SpecializationsPage/ui/SpecializationsPagePagination/SpecializationPagePagination.module.css
Due: npm run lint:css:fix

YH-976: fixed FiltersDrawer.tsx state and button's cursor style (#629)
  src/shared/hooks/useQueryFilter.ts
  src/shared/ui/FiltersDrawer/FiltersDrawer.module.css
  src/shared/ui/FiltersDrawer/FiltersDrawer.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-978: added new button type and fixed button's icon size
  src/features/collections/deleteCollection/ui/deleteCollectionButton/DeleteCollectionButton.tsx
  src/features/company/deleteCompany/ui/DeleteCompanyButton/DeleteCompanyButton.tsx
  src/features/question/deleteQuestion/ui/DeleteQuestionButton/DeleteQuestionButton.tsx
  src/features/skill/deleteSkill/ui/DeleteSkillButton/DeleteSkillButton.tsx
  src/features/specialization/deleteSpecialization/ui/DeleteSpecializationButton/DeleteSpecializationButton.tsx
  src/shared/ui/Button/Button.module.css
  src/shared/ui/Button/helpers.ts
  src/shared/ui/Button/types.ts
  src/shared/ui/Popover/PopoverMenu/PopoverMenu.module.css
  src/shared/ui/Popover/PopoverMenu/PopoverMenu.tsx
  src/shared/ui/Popover/types.ts
  src/widgets/CollectionsTable/ui/CollectionsTable.tsx
  src/widgets/CompaniesTable/ui/CompaniesTable.tsx
  src/widgets/QuestionsTable/ui/QuestionsTable.tsx
  src/widgets/SkillsTable/ui/SkillsTable.tsx
  src/widgets/SpecializationsTable/ui/SpecializationsTable.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-919: fixed styles
  src/entities/collection/ui/CollectionPreview/CollectionPreview.module.css
Due: npm run lint:css:fix

YH-960: standardize locale variable for interview link, adjust breakpoint layouts
  src/app/layouts/LandingLayout/ui/LandingLayout.module.css
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/Collection/ui/CollectionsFilters/CollectionsFilters.module.css
  src/widgets/Landing/Header/ui/Header/Header.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-919: refactor, updated image, remove unused svg
  src/widgets/Landing/CollectionBlock/model/assets/sber.avif
  src/widgets/Landing/CollectionBlock/model/assets/stars-outline.svg
  src/widgets/Landing/CollectionBlock/ui/MainBlock/MainBlock.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-919: Create Collections block for new Landing (#617)
  public/locales/en/landing.json
  public/locales/ru/landing.json
  src/app/providers/router/config/routeConfig.tsx
  src/entities/collection/ui/CollectionPreview/CollectionPreview.module.css
  src/entities/collection/ui/CollectionPreview/CollectionPreview.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/Landing/CollectionBlock/index.ts
  src/widgets/Landing/CollectionBlock/model/assets/miniatures/avito.avif
  src/widgets/Landing/CollectionBlock/model/assets/miniatures/index.ts
  src/widgets/Landing/CollectionBlock/model/assets/miniatures/ozon.avif
  src/widgets/Landing/CollectionBlock/model/assets/miniatures/sber.avif
  src/widgets/Landing/CollectionBlock/model/assets/miniatures/tbank.avif
  src/widgets/Landing/CollectionBlock/model/assets/miniatures/vk.avif
  src/widgets/Landing/CollectionBlock/model/assets/miniatures/wb.avif
  src/widgets/Landing/CollectionBlock/model/assets/miniatures/yandex.avif
  src/widgets/Landing/CollectionBlock/model/assets/sber.avif
  src/widgets/Landing/CollectionBlock/model/assets/tbank.avif
  src/widgets/Landing/CollectionBlock/model/assets/vk.avif
  src/widgets/Landing/CollectionBlock/model/constants/index.ts
  src/widgets/Landing/CollectionBlock/ui/AdditionalBlock/AdditionalBlock.module.css
  src/widgets/Landing/CollectionBlock/ui/AdditionalBlock/AdditionalBlock.tsx
  src/widgets/Landing/CollectionBlock/ui/CollectionBlock/CollectionBlock.module.css
  src/widgets/Landing/CollectionBlock/ui/CollectionBlock/CollectionBlock.tsx
  src/widgets/Landing/CollectionBlock/ui/FilterChip/FilterChip.module.css
  src/widgets/Landing/CollectionBlock/ui/FilterChip/FilterChip.tsx
  src/widgets/Landing/CollectionBlock/ui/FiltersBlock/FiltersBlock.module.css
  src/widgets/Landing/CollectionBlock/ui/FiltersBlock/FiltersBlock.tsx
  src/widgets/Landing/CollectionBlock/ui/MainBlock/MainBlock.module.css
  src/widgets/Landing/CollectionBlock/ui/MainBlock/MainBlock.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-972: Fix missing validation messages in specialization form
  src/features/specialization/createSpecialization/model/lib/validation/specializationCreateSchema.ts
  src/features/specialization/editSpecialization/model/lib/validation/specializationEditSchema.ts
Due: npm run prettier, npm run lint:ts:fix

YH-977: added navigation by title text click and styles for text
  src/widgets/CollectionsTable/ui/CollectionsTable.tsx
  src/widgets/CompaniesTable/ui/CompaniesTable.tsx
  src/widgets/QuestionsTable/ui/QuestionsTable.tsx
  src/widgets/SkillsTable/ui/SkillsTable.tsx
  src/widgets/SpecializationsTable/ui/SpecializationsTable.tsx
  src/widgets/UsersTable/ui/UsersTable.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-861: Fixed comments
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Card/ui/Card.test.tsx
  src/shared/ui/Card/ui/Card.tsx
  src/shared/ui/Text/ui/Text.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-960: refactor dashboard CollectionPage, add public CollectionPage (#632)
  public/locales/en/landing.json
  public/locales/ru/landing.json
  public/locales/ru/questions.json
  src/app/layouts/LandingLayout/ui/LandingLayout.module.css
  src/app/layouts/LandingLayout/ui/LandingLayout.tsx
  src/app/providers/router/config/routeConfig.tsx
  src/entities/collection/api/collectionApi.ts
  src/entities/collection/model/constants/collection.ts
  src/entities/question/ui/ChooseSpecialization/ChooseSpecialization.module.css
  src/pages/admin/CollectionsPage/ui/CollectionsPage/CollectionsPage.tsx
  src/pages/admin/CollectionsPage/ui/CollectionsPagePagination/CollectionsPagePagination.tsx
  src/pages/interview/CollectionsPage/ui/CollectionsPage/CollectionsPage.tsx
  src/pages/interview/CollectionsPage/ui/CollectionsPagePagination/CollectionPagePagination.module.css
  src/pages/landing/PublicCollectionsPage/index.ts
  src/pages/landing/PublicCollectionsPage/ui/PublicCollectionsPage.lazy.ts
  src/pages/landing/PublicCollectionsPage/ui/PublicCollectionsPage.module.css
  src/pages/landing/PublicCollectionsPage/ui/PublicCollectionsPage.skeleton.tsx
  src/pages/landing/PublicCollectionsPage/ui/PublicCollectionsPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/hooks/index.ts
  src/shared/hooks/useQueryFilter.ts
  src/shared/ui/SearchInput/SearchInput.tsx
  src/widgets/Collection/index.ts
  src/widgets/Collection/model/hooks/useCollectionsFilters.ts
  src/widgets/Collection/model/types/types.ts
  src/widgets/Collection/ui/CollectionsContent/CollectionsContent.module.css
  src/widgets/Collection/ui/CollectionsContent/CollectionsContent.skeleton.tsx
  src/widgets/Collection/ui/CollectionsContent/CollectionsContent.tsx
  src/widgets/Collection/ui/CollectionsFilterPanel/ui/CollectionsFilterPanel.tsx
  src/widgets/Collection/ui/CollectionsFilters/CollectionsFilters.module.css
  src/widgets/Collection/ui/CollectionsFilters/CollectionsFilters.skeleton.tsx
  src/widgets/Collection/ui/CollectionsFilters/CollectionsFilters.tsx
  src/widgets/Collection/ui/CollectionsPagination/CollectionsPagination.module.css
  src/widgets/Collection/ui/CollectionsPagination/CollectionsPagination.tsx
  src/widgets/Landing/Header/ui/Header/Header.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-974: add Text from shared/ui for QuestionForm
  src/entities/question/ui/QuestionForm/QuestionForm.module.css
  src/entities/question/ui/QuestionForm/QuestionForm.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-982: Dashboard account delete
  public/locales/en/profile.json
  public/locales/en/translation.json
  public/locales/en/user.json
  public/locales/ru/profile.json
  public/locales/ru/translation.json
  public/locales/ru/user.json
  src/app/styles/variables/pallete.css
  src/features/profile/deleteAccount/api/deleteAccountApi.ts
  src/features/profile/deleteAccount/index.ts
  src/features/profile/deleteAccount/model/constants.ts
  src/features/profile/deleteAccount/ui/DeleteAccountModal.module.css
  src/features/profile/deleteAccount/ui/DeleteAccountModal.tsx
  src/pages/profile/SettingsProfilePage/ui/SettingsProfilePage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Button/Button.module.css
  src/shared/ui/Modal/Modal.module.css
  src/shared/ui/Modal/Modal.tsx
  src/widgets/Profile/index.ts
  src/widgets/Profile/ui/AccountTab/index.ts
  src/widgets/Profile/ui/AccountTab/ui/AccountTab.module.css
  src/widgets/Profile/ui/AccountTab/ui/AccountTab.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-982: Dashboard account delete (#636)
  public/locales/en/profile.json
  public/locales/en/translation.json
  public/locales/en/user.json
  public/locales/ru/profile.json
  public/locales/ru/translation.json
  public/locales/ru/user.json
  src/app/styles/variables/pallete.css
  src/features/profile/deleteAccount/api/deleteAccountApi.ts
  src/features/profile/deleteAccount/index.ts
  src/features/profile/deleteAccount/model/constants.ts
  src/features/profile/deleteAccount/ui/DeleteAccountModal.module.css
  src/features/profile/deleteAccount/ui/DeleteAccountModal.tsx
  src/pages/profile/SettingsProfilePage/ui/SettingsProfilePage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Button/Button.module.css
  src/shared/ui/Modal/Modal.module.css
  src/shared/ui/Modal/Modal.tsx
  src/widgets/Profile/index.ts
  src/widgets/Profile/ui/AccountTab/index.ts
  src/widgets/Profile/ui/AccountTab/ui/AccountTab.module.css
  src/widgets/Profile/ui/AccountTab/ui/AccountTab.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-969: Fix paddings in Table (#633)
  src/features/profile/editProfileForm/ui/EditProfileForm/EditProfileForm.module.css
  src/shared/ui/Table/Table.module.css
Due: npm run lint:css:fix

YH-972: Fix missing validation messages in specialization form (#635)
  src/features/specialization/createSpecialization/model/lib/validation/specializationCreateSchema.ts
  src/features/specialization/editSpecialization/model/lib/validation/specializationEditSchema.ts
Due: npm run prettier, npm run lint:ts:fix

YH-857: Fix after comments
  src/shared/ui/AppLogo/AppLogo.test.tsx
  src/shared/ui/AppLogo/AppLogo.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-866: Fix after comments
  src/shared/config/jest/jestI18n.ts
  src/shared/ui/EmptyStub/ui/EmptyStub.test.tsx
  src/shared/ui/EmptyStub/ui/EmptyStub.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-961: fix all the comments
  public/locales/en/collection.json
  public/locales/en/questions.json
  public/locales/ru/collection.json
  public/locales/ru/questions.json
  public/locales/ru/translation.json
  src/pages/admin/CollectionPage/ui/CollectionPage.tsx
  src/pages/interview/CollectionPage/ui/CollectionPage.tsx
  src/pages/landing/PublicCollectionPage/ui/PublicCollectionPage.tsx
  src/shared/assets/icons/clockSquare.svg
  src/shared/assets/icons/lockKeyholeMinimalistic.svg
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/hooks/useBasePath.ts
  src/shared/ui/Icon/icons.ts
  src/shared/ui/Icon/types.ts
  src/widgets/Collection/ui/AdditionalInfo/AdditionalInfo.tsx
  src/widgets/Collection/ui/CollectionAdditionalInfoDrawer/CollectionAdditionalInfoDrawer.skeleton.tsx
  src/widgets/Collection/ui/CollectionAdditionalInfoDrawer/CollectionAdditionalInfoDrawer.tsx
  src/widgets/Collection/ui/CollectionBody/CollectionBody.module.css
  src/widgets/Collection/ui/CollectionBody/CollectionBody.tsx
  src/widgets/Collection/ui/CollectionHeader/CollectionHeader.tsx
  src/widgets/Collection/ui/NoQuestionsCard/NoQuestionsCard.module.css
  src/widgets/Collection/ui/NoQuestionsCard/NoQuestionsCard.tsx
  src/widgets/question/QuestionAdditionalInfoDrawer/ui/QuestionAdditionalInfoDrawer.skeleton.tsx
  src/widgets/question/QuestionAdditionalInfoDrawer/ui/QuestionAdditionalInfoDrawer.tsx
  src/widgets/question/QuestionsList/ui/PreviewQuestionsItem/PreviewQuestionsItem.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-869: Fix after comments
  src/shared/ui/KeywordInput/KeywordInput.test.tsx
  src/shared/ui/KeywordInput/KeywordInput.tsx
  src/shared/ui/SimpleChip/ui/SimpleChip.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-987: corrections after first review
  src/entities/collection/ui/CollectionPreview/CollectionPreview.tsx
  src/widgets/Landing/AboutQuestionsBlock/ui/AboutQuestionsBlock/AboutQuestionsBlock.module.css
  src/widgets/Landing/AboutQuestionsBlock/ui/Cards/SpecializationCard/SpecializationCard.tsx
  src/widgets/Landing/BannerBlock/ui/BannerImage/BannerImage.module.css
  src/widgets/Landing/CollectionBlock/ui/AdditionalBlock/AdditionalBlock.tsx
  src/widgets/Landing/CollectionBlock/ui/CollectionBlock/CollectionBlock.module.css
  src/widgets/Landing/Header/model/constants/headerConstants.ts
  src/widgets/Landing/InterviewTrainerBlock/ui/InterviewTrainerBlock/InterviewTrainerBlock.module.css
  src/widgets/Landing/InterviewTrainerBlock/ui/MainBlock/MainBlock.module.css
  src/widgets/Landing/SpecialityBlock/model/assets/Android Dev.avif
  src/widgets/Landing/SpecialityBlock/model/assets/Backend.avif
  src/widgets/Landing/SpecialityBlock/model/assets/Data Science.avif
  src/widgets/Landing/SpecialityBlock/model/assets/Frontend.avif
  src/widgets/Landing/SpecialityBlock/model/assets/Game Dev.avif
  src/widgets/Landing/SpecialityBlock/model/assets/Machine Learning.avif
  src/widgets/Landing/SpecialityBlock/model/assets/Testing.avif
  src/widgets/Landing/SpecialityBlock/model/assets/iOS Dev.avif
  src/widgets/Landing/SpecialityBlock/ui/SpecializationBlock/SpecializationBlock.module.css
  src/widgets/Landing/SpecialityBlock/ui/SpecializationBlock/SpecializationBlock.tsx
  src/widgets/Landing/SpecialityBlock/ui/SpecializationBlock/mockSpecialization.ts
  src/widgets/Landing/SpecialityBlock/ui/SpecializationCard/SpecializationCard.module.css
  src/widgets/Landing/SpecialityBlock/ui/SpecializationCard/SpecializationCard.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-962: fix ul & ol in TextEdit & TextHtml
  src/shared/ui/TextEditor/ui/TextEditor.module.css
  src/shared/ui/TextEditor/ui/TextEditor.stories.tsx
  src/shared/ui/TextEditor/ui/TextEditor.tsx
  src/shared/ui/TextEditor/ui/TextEditor/TextEditor.module.css
  src/shared/ui/TextHtml/TextHtml.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-987: corrections after second review
  src/entities/collection/ui/CollectionPreview/CollectionPreview.tsx
  src/widgets/Landing/CollectionBlock/ui/AdditionalBlock/AdditionalBlock.tsx
  src/widgets/Landing/Header/ui/AuthorizedBlock/AuthorizedBlock.module.css
  src/widgets/Landing/Header/ui/AuthorizedBlock/AuthorizedBlock.tsx
  src/widgets/Landing/Header/ui/HeaderAuth/HeaderAuthDesktop/HeaderAuthDesktop.tsx
  src/widgets/Landing/Header/ui/HeaderAuth/HeaderAuthMobile/HeaderAuthMobile.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-970: Fix position of pagination in admin/specializations (#634)
  src/pages/admin/SpecializationsPage/ui/SpecializationsPagePagination/SpecializationPagePagination.module.css
Due: npm run lint:css:fix

Path conditions:
  npm run prettier: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:ts:fix: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:css:fix: any of: *.css
