Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

Release 1.1.6
  RELEASE_NOTES.md
  package-lock.json
  package.json
Due: none

YH-1162: adding data retrieval, typing and adjustments (#742)
  src/app/msw/handlers.ts
  src/entities/payment/api/__mocks__/data/index.ts
  src/entities/payment/api/__mocks__/data/paymentsMock.ts
  src/entities/payment/api/__mocks__/index.ts
  src/entities/payment/api/__mocks__/paymentsListMock.ts
  src/entities/payment/api/paymentApi.ts
  src/entities/payment/index.ts
  src/entities/payment/model/constants/payments.ts
  src/entities/payment/model/types/payments.ts
  src/shared/config/api/apiTags.ts
  src/widgets/Profile/ui/SubscriptionTab/types/types.ts
  src/widgets/Profile/ui/SubscriptionTab/ui/PayHistoryItem/PayHistoryItem.tsx
  src/widgets/Profile/ui/SubscriptionTab/ui/PayHistoryList/PayHistoryList.tsx
  src/widgets/Profile/ui/SubscriptionTab/ui/PremiumSubscriptionTab/PremiumSubscriptionTab.tsx
  src/widgets/Profile/ui/SubscriptionTab/ui/SubscriptionPagination/SubscriptionPagination.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1064: add access restriction for authors to work only with their own collections (#750)
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/entities/collection/model/types/collection.ts
  src/features/collections/deleteCollection/ui/deleteCollectionButton/DeleteCollectionButton.tsx
  src/features/collections/editCollection/ui/CollectionEditForm/CollectionEditForm.tsx
  src/pages/admin/CollectionPage/ui/CollectionPage.tsx
  src/pages/admin/CollectionsPage/ui/CollectionsPage/CollectionsPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Button/Button.module.css
  src/shared/ui/Checkbox/Checkbox.module.css
  src/shared/ui/Popover/PopoverMenu/PopoverMenu.tsx
  src/shared/ui/Popover/types.ts
  src/shared/ui/Tooltip/Tooltip.module.css
  src/shared/ui/Tooltip/Tooltip.tsx
  src/widgets/CollectionsTable/ui/CollectionsTable.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1197: updated interview trainer widget UI (#758)
  public/locales/en/interviewQuiz.json
  public/locales/ru/interviewQuiz.json
  src/shared/assets/icons/vector.svg
  src/shared/assets/images/quiz-card-preview.avif
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Card/Card.module.css
  src/widgets/interview/InterviewPreparation/ui/PreviewInactiveQuiz/PreviewInactiveQuiz.module.css
  src/widgets/interview/InterviewPreparation/ui/PreviewInactiveQuiz/PreviewInactiveQuiz.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1191: added translation for password change button and toaster when authorization failed (#751)
  public/locales/en/translation.json
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1206: fix left margin (#762)
  src/features/authentication/forgotPassword/ui/EmailSendModal/EmailSendModal.module.css
  src/features/authentication/forgotPassword/ui/EmailSendModal/EmailSendModal.tsx
  src/features/authentication/login/ui/LoginForm/LoginForm.module.css
  src/features/authentication/login/ui/LoginForm/LoginForm.tsx
  src/features/authentication/login/ui/RegistrationLabel/RegistrationLabel.tsx
  src/features/authentication/registration/ui/LoginLabel/LoginLabel.tsx
  src/features/authentication/registration/ui/RegisterForm/RegisterForm.module.css
  src/features/authentication/registration/ui/RegisterForm/RegisterForm.tsx
  src/features/authentication/socialAuthenticate/SocialAuthenticateList/ui/SocialAuthenticateList.module.css
  src/features/authentication/socialAuthenticate/SocialAuthenticateList/ui/SocialAuthenticateList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1009: Add tests for Sidebar (#725)
  src/widgets/Sidebar/model/data/sidebarMock.ts
  src/widgets/Sidebar/ui/Sidebar/SIdebar.test.tsx
  src/widgets/Sidebar/ui/Sidebar/Sidebar.test.tsx
  src/widgets/Sidebar/ui/Sidebar/Sidebar.tsx
  src/widgets/Sidebar/ui/SidebarMenuItem/SIdebarMenuItem.test.tsx
  src/widgets/Sidebar/ui/SidebarMenuItem/SidebarCategoryMenuItem.test.tsx
  src/widgets/Sidebar/ui/SidebarMenuItem/SidebarCategoryMenuItem.tsx
  src/widgets/Sidebar/ui/SidebarMenuItem/SidebarMenuItem.test.tsx
  src/widgets/Sidebar/ui/SidebarMenuItem/SidebarSingleMenuItem.test.tsx
  src/widgets/Sidebar/ui/SidebarMenuItem/SidebarSingleMenuItem.tsx
  src/widgets/Sidebar/ui/SidebarMenuList/SIdebarMenuList.test.tsx
  src/widgets/Sidebar/ui/SidebarMenuList/SidebarMenuList.test.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1043: improved profile text editor (#713)
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/features/profile/editProfileForm/model/lib/validation/editProfileSchema.ts
  src/features/profile/editProfileForm/model/lib/validation/validateNoLinks.ts
  src/features/profile/editProfileForm/ui/AboutMeTabForm/AboutMeTabForm.tsx
  src/features/profile/editProfileForm/ui/EditProfileForm/EditProfileForm.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/TextEditor/TextEditor.tsx
  src/widgets/Profile/ui/InfoCard/ui/InfoBlockText/InfoBlockText.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-877: Add tests for Timer (#615)
  src/shared/ui/Timer/Timer.test.tsx
  src/shared/ui/Timer/Timer.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-867: adding tests for the component (#747)
  src/shared/ui/GradeChip/GradeChip.test.tsx
  src/shared/ui/GradeChip/GradeChip.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-861: add tests for Card (#766)
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Card/Card.test.tsx
  src/shared/ui/Card/Card.tsx
  src/shared/ui/Text/Text.tsx
Due: npm run prettier, npm run lint:ts:fix

Feature/yh 1194 (#764)
  public/locales/en/interviewQuizResult.json
  public/locales/ru/interviewQuizResult.json
  src/app/msw/handlers.ts
  src/entities/question/api/__mocks__/getQuestionsSpecializationByIdCountMock.ts
  src/entities/question/api/__mocks__/index.ts
  src/entities/question/api/questionApi.ts
  src/entities/question/index.ts
  src/entities/question/model/constants/question.ts
  src/entities/question/model/types/question.ts
  src/entities/question/ui/ChooseSpecialization/ChooseSpecialization.tsx
  src/entities/specialization/index.ts
  src/entities/specialization/model/constants/specializationConstants.ts
  src/pages/interview/InterviewStatisticsPage/ui/InterviewStatisticsPage.tsx
  src/pages/landing/CreatePublicQuizPage/ui/CreatePublicQuizPage.tsx
  src/pages/landing/PublicQuizPage/ui/PublicQuizPage.tsx
  src/pages/landing/PublicQuizResultPage/model/hooks/useCalculationQuizResult.ts
  src/pages/landing/PublicQuizResultPage/model/hooks/usePublicQuizResultData.ts
  src/pages/landing/PublicQuizResultPage/ui/PublicQuizResultPage.module.css
  src/pages/landing/PublicQuizResultPage/ui/PublicQuizResultPage.skeleton.tsx
  src/pages/landing/PublicQuizResultPage/ui/PublicQuizResultPage.tsx
  src/shared/config/api/apiTags.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/charts/GaugeChart/GaugeChart.tsx
  src/widgets/interview/CategoryProgressList/ui/CategoryProgressItem/CategoryProgressItem.tsx
  src/widgets/interview/CategoryProgressList/ui/CategoryProgressList/CategoryProgressList.tsx
  src/widgets/interview/QuestionsStatistic/index.ts
  src/widgets/interview/QuestionsStatistic/ui/PassedQuestionsStatistic/PassedQuestionsStatistic.skeleton.tsx
  src/widgets/interview/QuestionsStatistic/ui/PassedQuestionsStatistic/PassedQuestionsStatistic.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

Feature/YH-1209 : Adds a demo trainer for users without a subscription (#760)
  public/locales/en/interviewQuizCreate.json
  public/locales/en/translation.json
  public/locales/ru/interviewQuizCreate.json
  public/locales/ru/translation.json
  src/app/providers/router/config/routeConfig.tsx
  src/entities/question/ui/ChooseQuestionComplexity/ChooseQuestionComplexity.tsx
  src/entities/question/ui/ChooseQuestionCount/ChooseQuestionCount.tsx
  src/entities/quiz/ui/QuizQuestionMode/QuizQuestionMode.tsx
  src/pages/interview/CreateQuizPage/model/hooks/useQueryFilter.ts
  src/pages/interview/CreateQuizPage/ui/CreateQuizPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/interview/InterviewPreparation/ui/InterviewPreparation/InterviewPreparation.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1230: added go guru (#776)
  src/entities/guru/model/constants/gurus.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1213: display all questions without restrictions for admin (#771)
  src/pages/admin/CollectionPage/ui/CollectionPage.tsx
  src/widgets/Collection/ui/CollectionBody/CollectionBody.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1208: added information about spam messages. (#768)
  public/locales/en/profile.json
  public/locales/ru/profile.json
  src/app/styles/variables/pallete.css
  src/app/styles/variables/themes.css
  src/features/profile/confirmationEmail/ui/ConfirmationEmail.module.css
  src/features/profile/confirmationEmail/ui/ConfirmationEmail.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1215: I replaced the StatusChip code in the UsersTable and UserRol… (#775)
  src/app/providers/router/config/routeConfig.tsx
  src/entities/auth/model/types/auth.ts
  src/entities/user/model/types/user.ts
  src/entities/user/ui/UserRolesList/UserRolesList.module.css
  src/entities/user/ui/UserRolesList/UserRolesList.tsx
  src/shared/ui/StatusChip/StatusChip.module.css
  src/shared/ui/StatusChip/StatusChip.tsx
  src/widgets/UsersTable/ui/UsersTable.module.css
  src/widgets/UsersTable/ui/UsersTable.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1164: change modal design (#769)
  public/locales/ru/profile.json
  src/shared/ui/ImageLoader/ImageLoader.tsx
  src/shared/ui/Modal/Modal.module.css
  src/shared/ui/Modal/Modal.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1224: Add mock quiz for users without subscription (#781)
  src/app/providers/router/config/routeConfig.tsx
  src/entities/quiz/api/quizApi.ts
  src/entities/quiz/hooks/useSlideSwitcher.ts
  src/entities/quiz/index.ts
  src/entities/quiz/model/constants/quizConstants.ts
  src/entities/quiz/model/helpers/getValidActiveMockQuizFromLS.ts
  src/entities/quiz/model/slices/activeQuizSlice.ts
  src/entities/quiz/model/types/quiz.ts
  src/entities/quiz/utils/getActiveQuizQuestions.ts
  src/pages/interview/CreateQuizPage/ui/CreateQuizPage.tsx
  src/pages/interview/InterviewQuizPage/ui/InterviewQuizPage.tsx
  src/pages/landing/CreatePublicQuizPage/ui/CreatePublicQuizPage.tsx
  src/pages/landing/PublicQuizPage/ui/PublicQuizPage.tsx
  src/pages/landing/PublicQuizResultPage/model/hooks/useCalculationQuizResult.ts
  src/pages/landing/PublicQuizResultPage/model/hooks/usePublicQuizResultData.ts
  src/widgets/interview/QuestionsStatistic/ui/PassedQuestionsStatistic/PassedQuestionsStatistic.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1237: add a guru (#783)
  src/entities/guru/model/constants/gurus.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1214: expanded clickable area of Tiptap editor (#774)
  src/shared/ui/TextEditor/TextEditor.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1234: add Stepper component (#780)
  src/shared/assets/icons/check.svg
  src/shared/assets/icons/student.svg
  src/shared/ui/Icon/icons.ts
  src/shared/ui/Icon/types.ts
  src/shared/ui/Stepper/Stepper.module.css
  src/shared/ui/Stepper/Stepper.stories.tsx
  src/shared/ui/Stepper/Stepper.tsx
  src/shared/ui/Stepper/index.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1196: Implement CTA modal on quiz result page (#777)
  public/locales/en/interviewQuizResult.json
  public/locales/ru/interviewQuizResult.json
  src/features/profile/changePassword/ui/ChangePassword.module.css
  src/features/profile/deleteAccount/model/types/deleteAccount.ts
  src/features/profile/deleteAccount/ui/modals/AdminDeleteAccountModal/AdminDeleteAccountModal.tsx
  src/features/profile/deleteAccount/ui/modals/UserDeleteAccountModal/UserDeleteAccountModal.tsx
  src/features/profile/deleteProfile/model/types/deleteProfileTypes.ts
  src/features/profile/editProfileForm/ui/PersonalInformationTabForm/PersonalInformationTabForm.module.css
  src/features/subscriptions/unsubscribe/ui/UnsubscribeModal/UnsubscribeModal.tsx
  src/pages/landing/PublicQuizResultPage/ui/PublicQuizResultPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Checkbox/Checkbox.module.css
  src/shared/ui/ConfirmationDeleteModal/ConfiramationDeleteModal.tsx
  src/shared/ui/Icon/types.ts
  src/shared/ui/Modal/Modal.module.css
  src/shared/ui/Modal/Modal.tsx
  src/shared/ui/Modal/ModalTypes.ts
  src/shared/ui/Modal/index.ts
  src/shared/ui/Tooltip/Tooltip.module.css
  src/widgets/Landing/QuizResultModal/index.ts
  src/widgets/Landing/QuizResultModal/model/assets/bars.avif
  src/widgets/Landing/QuizResultModal/model/assets/index.ts
  src/widgets/Landing/QuizResultModal/model/assets/progress-card.avif
  src/widgets/Landing/QuizResultModal/ui/CallToActionBlock/AboutBenefits/AboutBenefits.module.css
  src/widgets/Landing/QuizResultModal/ui/CallToActionBlock/AboutBenefits/AboutBenefits.tsx
  src/widgets/Landing/QuizResultModal/ui/CallToActionBlock/CallToActionBlock.module.css
  src/widgets/Landing/QuizResultModal/ui/CallToActionBlock/CallToActionBlock.tsx
  src/widgets/Landing/QuizResultModal/ui/ProgressBlock/ProgressBlock.module.css
  src/widgets/Landing/QuizResultModal/ui/ProgressBlock/ProgressBlock.tsx
  src/widgets/Landing/QuizResultModal/ui/QuizResultButton/QuizResultButton.module.css
  src/widgets/Landing/QuizResultModal/ui/QuizResultButton/QuizResultButton.tsx
  src/widgets/Landing/QuizResultModal/ui/QuizResultModal/QuizResultModal.module.css
  src/widgets/Landing/QuizResultModal/ui/QuizResultModal/QuizResultModal.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1236: fix refresh (#782)
  src/entities/auth/api/authApi.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1235: Get active mock quiz (#784)
  src/entities/quiz/index.ts
  src/entities/quiz/model/slices/activeQuizSlice.ts
  src/pages/interview/InterviewMockQuizResultPage/model/hooks/useInterviewMockQuizResultData.ts
  src/pages/interview/InterviewQuizPage/ui/InterviewQuizPage.tsx
  src/widgets/interview/InterviewPreparation/ui/InterviewPreparation/InterviewPreparation.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1238: fix cancelled button for user status = canceled (#785)
  src/widgets/Profile/ui/SubscriptionTab/ui/PremiumSubscriptionTab/PremiumSubscriptionTab.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1233: quiz results without subscription (#778)
  src/app/providers/router/config/routeConfig.tsx
  src/entities/question/api/questionApi.ts
  src/entities/quiz/api/quizApi.ts
  src/entities/quiz/utils/getActiveQuizQuestions.ts
  src/pages/interview/InterviewMockQuizResultPage/index.ts
  src/pages/interview/InterviewMockQuizResultPage/model/hooks/useCalculationQuizResult.ts
  src/pages/interview/InterviewMockQuizResultPage/model/hooks/useInterviewMockQuizResultData.ts
  src/pages/interview/InterviewMockQuizResultPage/ui/InterviewMockQuizResultPage.lazy.ts
  src/pages/interview/InterviewMockQuizResultPage/ui/InterviewMockQuizResultPage.module.css
  src/pages/interview/InterviewMockQuizResultPage/ui/InterviewMockQuizResultPage.skeleton.tsx
  src/pages/interview/InterviewMockQuizResultPage/ui/InterviewMockQuizResultPage.tsx
  src/pages/interview/InterviewQuizPage/ui/InterviewQuizPage.tsx
  src/widgets/interview/PassedQuestionsList/ui/PassedQuestionsList/PassedQuestionsList.tsx
  src/widgets/interview/QuestionsStatistic/ui/PassedQuestionsStatistic/PassedQuestionsStatistic.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-855: add expand/collapse button (#779)
  src/shared/ui/Icon/types.ts
  src/shared/ui/TableCellEntityList/TableCellEntityList.module.css
  src/shared/ui/TableCellEntityList/TableCellEntityList.tsx
  src/widgets/QuestionsTable/ui/QuestionsTable.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

Feature: YH-1211 - Connect API to create resource form (#773)
  public/locales/ru/translation.json
  src/entities/resource/model/types/resource.ts
  src/entities/resource/ui/ResourceForm/ResourceForm.tsx
  src/entities/resource/ui/ResourceSelect/ResourceSelect.tsx
  src/features/resources/createResource/api/createResourceApi.ts
  src/features/resources/createResource/index.ts
  src/features/resources/createResource/model/constants/createResourceConstants.ts
  src/features/resources/createResource/model/lib/validation/resourceCreateSchema.ts
  src/features/resources/createResource/model/types/resourceCreateTypes.ts
  src/features/resources/createResource/ui/ResourceCreateForm/ResourceCreateForm.tsx
  src/features/resources/createResource/ui/ResourceCreateFormWithHeader/ResourceCreateFormWithHeader.module.css
  src/features/resources/createResource/ui/ResourceCreateFormWithHeader/ResourceCreateFormWithHeader.tsx
  src/pages/landing/PublicMarketplaceRequestPage/ui/PublicMarketplaceRequestPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1241: fixed the request for specializations (#790)
  src/entities/media/model/types/media.ts
  src/pages/profile/UserProfilePage/ui/UserProfilePage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1243: fix(styles): remove background-color: inherit in collection preview and fix duplicate :disabled selector in button (#789)
  src/entities/collection/ui/CollectionPreview/CollectionPreview.module.css
  src/shared/ui/Button/Button.module.css
Due: npm run lint:css:fix

YH-367: fixed editing and deleting collection by admin (#788)
  src/entities/profile/index.ts
  src/entities/profile/model/selectors/profileSelectors.ts
  src/features/collections/editCollection/ui/CollectionEditForm/CollectionEditForm.tsx
  src/pages/admin/CollectionEditPage/ui/CollectionEditPage.tsx
  src/pages/admin/CollectionPage/ui/CollectionPage.tsx
  src/pages/admin/CollectionsPage/ui/CollectionsPage/CollectionsPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1225: save path after delete token auth
  src/app/providers/router/ui/AuthRoute.tsx
  src/entities/auth/api/authApi.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1063: Implemented changes based on the feedback
  public/locales/en/companies.json
  public/locales/ru/companies.json
  src/pages/admin/CompaniesTablePage/ui/CompaniesTablePage/CompaniesTablePage.tsx
  src/pages/admin/CompanyDetailPage/ui/CompanyDetailPage/CompanyDetailPage.tsx
  src/pages/admin/CompanyEditPage/ui/CompanyEditPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Popover/types.ts
  src/widgets/QuestionsTable/ui/QuestionsTable.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-854: add emptySlot to Table and EmptyStub rendering inside tbody
  src/pages/admin/QuestionsTablePage/ui/QuestionsTablePage/QuestionsTablePage.tsx
  src/shared/ui/Table/Table.tsx
  src/widgets/QuestionsTable/ui/QuestionsTable.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1152: deleted icon and fix styles
  src/shared/assets/icons/check.svg
  src/shared/assets/icons/progressEllipses.svg
  src/shared/ui/Stepper/Stepper.module.css
  src/shared/ui/Stepper/Stepper.tsx
  src/widgets/Main/OnboardingModal/ui/AdvantagesBlock/AdvantagesBlock.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1260: fix title changes when subscription is cancelled
  src/entities/subscription/model/types/subscription.ts
  src/widgets/Profile/ui/SubscriptionTab/ui/PremiumSubscriptionTab/PremiumSubscriptionTab.tsx
Due: npm run prettier, npm run lint:ts:fix

Path conditions:
  npm run prettier: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:ts:fix: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:css:fix: any of: *.css
