Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

.lintstagedrc:

{
  "./**/*.{ts,tsx,js,jsx}": ["npm run prettier", "npm run lint:ts:fix"],
  "*.css": "npm run lint:css:fix"
}

YH-797: add header background, fix link (#497)
  src/app/layouts/LandingLayout/ui/LandingLayout.module.css
  src/app/layouts/LandingLayout/ui/LandingLayout.tsx
  src/app/styles/App.css
  src/widgets/Landing/Footer/ui/Footer.module.css
  src/widgets/Landing/Footer/ui/Footer.tsx
  src/widgets/Landing/Header/ui/Header/Header.module.css
  src/widgets/Landing/Header/ui/Header/Header.tsx
  src/widgets/Landing/PlatformInterfaceBlock/ui/PlatformInterfaceBlock/PlatformInterfaceBlock.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

Release 1.0.10
  RELEASE_NOTES.md
  package-lock.json
  package.json
Due: none

YH-721: fix deleteSkillMock
  src/features/skill/deleteSkill/api/__mocks__/deleteSkillMock.ts
Due: npm run prettier, npm run lint:ts:fix

YH-804: update params in getCollectionsList request
  src/entities/collection/api/collectionApi.ts
  src/entities/collection/model/types/collection.ts
  src/shared/assets/icons/CloseCircle.svg
Due: npm run prettier, npm run lint:ts:fix

YH-824: fixed footer height
  src/widgets/Landing/Footer/ui/Footer.module.css
Due: npm run lint:css:fix

YH-678: delete modal portal
  src/shared/ui/BlockerDialogModal/ui/BlockerDialogModal.tsx
  src/shared/ui/Modal/ui/Modal.module.css
  src/shared/ui/Modal/ui/Modal.tsx
  src/shared/ui/Modal/ui/styles.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-822: adaptive header
  src/widgets/Landing/Header/ui/Header/Header.module.css
  src/widgets/Landing/Header/ui/Header/Header.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-823: Fix questions text style and add mobile overflow
  src/pages/landing/PublicQuestionPage/ui/PublicQuestionPage.tsx
  src/shared/ui/Card/ui/Card.tsx
  src/shared/ui/TextHtml/ui/TextHtml.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-783: add sitemap and robots
  config/webpack/types/types.ts
  config/webpack/webpackPlugins.ts
  public/sitemap.xml
  webpack.config.ts
Due: npm run prettier, npm run lint:ts:fix

YH-783: add sitemap and robots (#522)
  config/webpack/types/types.ts
  config/webpack/webpackPlugins.ts
  public/sitemap.xml
  webpack.config.ts
Due: npm run prettier, npm run lint:ts:fix

YH-822: tablet adaptive
  src/widgets/Landing/Header/ui/Header/Header.module.css
Due: npm run lint:css:fix

YH-783: fix errors in sitemap
  public/sitemap.xml
Due: none

Feature/yh 783 (#523)
  public/sitemap.xml
Due: none

YH-824: Table fixed
  src/widgets/Landing/Footer/ui/Footer.module.css
Due: npm run lint:css:fix

YH-822: fixed active and hover
  src/widgets/Landing/Header/ui/Header/Header.module.css
  src/widgets/Landing/Header/ui/Header/Header.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-824: Fixed Footer
  src/widgets/Landing/Footer/ui/Footer.module.css
Due: npm run lint:css:fix

YH-804: fix
  src/entities/collection/api/collectionApi.ts
  src/entities/collection/model/types/collection.ts
Due: npm run prettier, npm run lint:ts:fix

YH-725: Add mock request skillsList
  src/entities/skill/api/__mocks__/index.ts
  src/entities/skill/api/__mocks__/skillListMock.ts
Due: npm run prettier, npm run lint:ts:fix

YH-804: update params in getCollectionsList request
  src/entities/collection/api/collectionApi.ts
  src/entities/collection/model/types/collection.ts
  src/pages/admin/CollectionsPage/ui/CollectionsPage/CollectionsPage.tsx
  src/pages/interview/CollectionsPage/ui/CollectionsPage/CollectionsPage.tsx
  src/pages/interview/QuestionsPage/ui/QuestionsPage/QuestionsPage.tsx
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsPage/PublicQuestionsPage.tsx
  src/shared/hooks/useQueryFilter.ts
Due: npm run prettier, npm run lint:ts:fix

YH-816: Add early end of quiz
  public/locales/en/interviewQuiz.json
  public/locales/ru/interviewQuiz.json
  src/entities/quiz/api/quizApi.ts
  src/entities/quiz/index.ts
  src/entities/quiz/model/types/quiz.ts
  src/pages/interview/InterviewQuizPage/ui/InterviewQuizPage.module.css
  src/pages/interview/InterviewQuizPage/ui/InterviewQuizPage.skeleton.tsx
  src/pages/interview/InterviewQuizPage/ui/InterviewQuizPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-824: Fixed footer paddings, logo
  src/shared/ui/AppLogo/AppLogo.module.css
  src/shared/ui/AppLogo/AppLogo.tsx
  src/widgets/Landing/Footer/ui/Footer.module.css
  src/widgets/Landing/Footer/ui/Footer.tsx
  src/widgets/Landing/Header/ui/Header/Header.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-823: Add fix text size in questions
  src/pages/admin/QuestionPage/QuestionPage.tsx
  src/pages/interview/QuestionPage/ui/QuestionPage.tsx
  src/shared/ui/TextHtml/ui/TextHtml.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-823: Fix questions text style and add mobile overflow (#521)
  src/pages/admin/QuestionPage/QuestionPage.tsx
  src/pages/interview/QuestionPage/ui/QuestionPage.tsx
  src/pages/landing/PublicQuestionPage/ui/PublicQuestionPage.tsx
  src/shared/ui/Card/ui/Card.tsx
  src/shared/ui/TextHtml/ui/TextHtml.module.css
  src/shared/ui/TextHtml/ui/TextHtml.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-804: eslint ignore
  src/entities/collection/ui/ChooseCollectionAccess/ChooseCollectionAccess.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-678: Add a collection deletion request and fix modal (#489)
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/features/collections/deleteCollection/api/deleteCollectionApi.ts
  src/features/collections/deleteCollection/index.ts
  src/features/collections/deleteCollection/model/constants/deleteCollectionConstants.ts
  src/features/collections/deleteCollection/ui/deleteCollectionButton/DeleteCollectionButton.module.css
  src/features/collections/deleteCollection/ui/deleteCollectionButton/DeleteCollectionButton.tsx
  src/features/question/deleteQuestion/ui/DeleteQuestionButton/DeleteQuestionButton.tsx
  src/features/skill/deleteSkill/ui/DeleteSkillButton/DeleteSkillButton.tsx
  src/shared/config/api/apiTags.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/BlockerDialogModal/ui/BlockerDialogModal.module.css
  src/shared/ui/BlockerDialogModal/ui/BlockerDialogModal.tsx
  src/shared/ui/LeavingPageBlocker/ui/LeavingPageBlocker.tsx
  src/shared/ui/Modal/ui/Modal.module.css
  src/shared/ui/Modal/ui/Modal.tsx
  src/widgets/CollectionsTable/ui/CollectionsTable.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-721: fix eslint
  .eslintrc.json
Due: none

YH-721: fix mock api
  src/app/msw/handlers.ts
  src/features/skill/deleteSkill/api/__mocks__/index.ts
  src/features/skill/deleteSkill/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-804: fix update params
  src/entities/collection/model/types/collection.ts
  src/pages/admin/CollectionsPage/ui/CollectionsPage/CollectionsPage.tsx
  src/pages/interview/CollectionsPage/ui/CollectionsPage/CollectionsPage.tsx
  src/pages/interview/QuestionsPage/ui/QuestionsPage/QuestionsPage.tsx
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsPage/PublicQuestionsPage.tsx
  src/shared/hooks/useQueryFilter.ts
Due: npm run prettier, npm run lint:ts:fix

YH-804: fix update params
  src/entities/collection/ui/ChooseCollectionAccess/ChooseCollectionAccess.tsx
  src/pages/interview/CollectionsPage/ui/CollectionsPage/CollectionsPage.tsx
  src/widgets/Collection/ui/CollectionsFilterPanel/ui/CollectionsFilterPanel.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-818: Create user profile
  src/app/providers/router/config/routeConfig.tsx
  src/entities/auth/model/types/auth.ts
  src/entities/profile/index.ts
  src/entities/profile/model/selectors/profileSelectors.ts
  src/entities/profile/model/slices/profileSlice.ts
  src/entities/profile/model/types/profile.ts
  src/entities/question/ui/QuestionAuthor/QuestionAuthor.tsx
  src/entities/user/api/userApi.ts
  src/entities/user/index.ts
  src/entities/user/model/constants/userConstants.ts
  src/entities/user/model/types/user.ts
  src/entities/user/ui/UserEditButton/UserEditButton.module.css
  src/entities/user/ui/UserEditButton/UserEditButton.tsx
  src/pages/profile/ProfilePage/index.ts
  src/pages/profile/ProfilePage/model/types/ProfilePageTypes.ts
  src/pages/profile/ProfilePage/ui/ProfilePage.tsx
  src/pages/profile/UserProfilePage/index.ts
  src/pages/profile/UserProfilePage/ui/UserProfilePage.lazy.ts
  src/pages/profile/UserProfilePage/ui/UserProfilePage.module.css
  src/pages/profile/UserProfilePage/ui/UserProfilePage.skeleton.tsx
  src/pages/profile/UserProfilePage/ui/UserProfilePage.tsx
  src/shared/config/router/routes.ts
  src/widgets/Profile/ui/InfoCard/ui/InfoBlockHeader/InfoBlockHeader.tsx
  src/widgets/Profile/ui/SkillsCard/ui/SkillsBlock/SkillsBlock.tsx
  src/widgets/Profile/ui/SkillsCard/ui/SkillsBlockHeader/SkillsBlockHeader.tsx
  src/widgets/Profile/ui/UserCard/ui/UserBlock/UserBlock.tsx
  src/widgets/Profile/ui/UserCard/ui/UserEditButton/index.ts
  src/widgets/Profile/ui/UserCard/ui/UserImageBlock/UserImageBlock.module.css
  src/widgets/Profile/ui/UserCard/ui/UserImageBlock/UserImageBlock.tsx
  src/widgets/Profile/ui/UserCard/ui/UserInfoBlock/UserInfoBlock.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-808: Fix profile completion percentage and remove phone in user profile.
  public/locales/en/profile.json
  public/locales/en/translation.json
  public/locales/ru/profile.json
  public/locales/ru/translation.json
  src/entities/auth/api/__mocks__/data/authMockResponse.ts
  src/entities/auth/api/__mocks__/data/authProfileQueryMockResponse.ts
  src/entities/auth/model/types/auth.ts
  src/entities/user/model/types/user.ts
  src/features/profile/editProfileForm/api/editProfileApi.ts
  src/features/profile/editProfileForm/helpers/editProfileFormHelpers.ts
  src/features/profile/editProfileForm/model/lib/validation/editProfileSchema.ts
  src/features/profile/editProfileForm/model/types/editProfileTypes.ts
  src/features/profile/editProfileForm/ui/PersonalInformationTabForm/PersonalInformationTabForm.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/InputPhone/index.ts
  src/shared/ui/InputPhone/ui/InputPhone.module.css
  src/shared/ui/InputPhone/ui/InputPhone.tsx
  src/widgets/Main/IncompleteProfileStub/ui/IncompleteProfileStub.tsx
  src/widgets/Profile/ui/UserCard/ui/UserInfoBlock/UserInfoBlock.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-805: fix errors
  src/entities/collection/ui/ChooseCollectionAccess/ChooseCollectionAccess.tsx
  src/entities/collection/ui/ChooseCollectionSpecialization/ChooseCollectionSpecialization.tsx
  src/pages/admin/CollectionPage/ui/CollectionPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-805: Update display of collection data (#502)
  public/locales/ru/collection.json
  src/entities/collection/ui/ChooseCollectionAccess/ChooseCollectionAccess.tsx
  src/entities/collection/ui/ChooseCollectionSpecialization/ChooseCollectionSpecialization.tsx
  src/pages/admin/CollectionsPage/ui/CollectionsPage/CollectionsPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/Collection/ui/AdditionalInfo/AdditionalInfo.module.css
  src/widgets/Collection/ui/AdditionalInfo/AdditionalInfo.tsx
  src/widgets/CollectionsTable/ui/CollectionsTable.module.css
  src/widgets/CollectionsTable/ui/CollectionsTable.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-808: Fix profile completion percentage and remove phone in user profile. (#526)
  public/locales/en/profile.json
  public/locales/en/translation.json
  public/locales/ru/profile.json
  public/locales/ru/translation.json
  src/entities/auth/api/__mocks__/data/authMockResponse.ts
  src/entities/auth/api/__mocks__/data/authProfileQueryMockResponse.ts
  src/entities/auth/model/types/auth.ts
  src/entities/user/model/types/user.ts
  src/features/profile/editProfileForm/api/editProfileApi.ts
  src/features/profile/editProfileForm/helpers/editProfileFormHelpers.ts
  src/features/profile/editProfileForm/model/lib/validation/editProfileSchema.ts
  src/features/profile/editProfileForm/model/types/editProfileTypes.ts
  src/features/profile/editProfileForm/ui/PersonalInformationTabForm/PersonalInformationTabForm.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/InputPhone/index.ts
  src/shared/ui/InputPhone/ui/InputPhone.module.css
  src/shared/ui/InputPhone/ui/InputPhone.tsx
  src/widgets/Main/IncompleteProfileStub/ui/IncompleteProfileStub.tsx
  src/widgets/Profile/ui/UserCard/ui/UserInfoBlock/UserInfoBlock.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-721: Add mock delete skill (#496)
  src/app/msw/handlers.ts
  src/features/skill/deleteSkill/api/__mocks__/deleteSkillMock.ts
  src/features/skill/deleteSkill/api/__mocks__/index.ts
  src/features/skill/deleteSkill/index.ts
  src/shared/assets/icons/CloseCircle.svg
Due: npm run prettier, npm run lint:ts:fix

YH-818: Create user profile (#524)
  src/app/providers/router/config/routeConfig.tsx
  src/entities/auth/model/types/auth.ts
  src/entities/profile/index.ts
  src/entities/profile/model/selectors/profileSelectors.ts
  src/entities/profile/model/slices/profileSlice.ts
  src/entities/profile/model/types/profile.ts
  src/entities/question/ui/QuestionAuthor/QuestionAuthor.tsx
  src/entities/user/api/userApi.ts
  src/entities/user/index.ts
  src/entities/user/model/constants/userConstants.ts
  src/entities/user/model/types/user.ts
  src/entities/user/ui/UserEditButton/UserEditButton.module.css
  src/entities/user/ui/UserEditButton/UserEditButton.tsx
  src/pages/profile/ProfilePage/index.ts
  src/pages/profile/ProfilePage/model/types/ProfilePageTypes.ts
  src/pages/profile/ProfilePage/ui/ProfilePage.tsx
  src/pages/profile/UserProfilePage/index.ts
  src/pages/profile/UserProfilePage/ui/UserProfilePage.lazy.ts
  src/pages/profile/UserProfilePage/ui/UserProfilePage.module.css
  src/pages/profile/UserProfilePage/ui/UserProfilePage.skeleton.tsx
  src/pages/profile/UserProfilePage/ui/UserProfilePage.tsx
  src/shared/config/router/routes.ts
  src/widgets/Profile/ui/InfoCard/ui/InfoBlockHeader/InfoBlockHeader.tsx
  src/widgets/Profile/ui/SkillsCard/ui/SkillsBlock/SkillsBlock.tsx
  src/widgets/Profile/ui/SkillsCard/ui/SkillsBlockHeader/SkillsBlockHeader.tsx
  src/widgets/Profile/ui/UserCard/ui/UserBlock/UserBlock.tsx
  src/widgets/Profile/ui/UserCard/ui/UserEditButton/index.ts
  src/widgets/Profile/ui/UserCard/ui/UserImageBlock/UserImageBlock.module.css
  src/widgets/Profile/ui/UserCard/ui/UserImageBlock/UserImageBlock.tsx
  src/widgets/Profile/ui/UserCard/ui/UserInfoBlock/UserInfoBlock.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-816: Add early end of quiz (#515)
  public/locales/en/interviewQuiz.json
  public/locales/ru/interviewQuiz.json
  src/entities/quiz/api/quizApi.ts
  src/entities/quiz/index.ts
  src/entities/quiz/model/types/quiz.ts
  src/pages/interview/InterviewQuizPage/ui/InterviewQuizPage.module.css
  src/pages/interview/InterviewQuizPage/ui/InterviewQuizPage.skeleton.tsx
  src/pages/interview/InterviewQuizPage/ui/InterviewQuizPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-815: Transfer from uikit Tooltip (#509)
  src/shared/ui/Tooltip/index.ts
  src/shared/ui/Tooltip/model/types.ts
  src/shared/ui/Tooltip/ui/Tooltip.module.css
  src/shared/ui/Tooltip/ui/Tooltip.stories.tsx
  src/shared/ui/Tooltip/ui/Tooltip.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-811: Add stories and screenshot tests with Loki (#511)
  .loki/reference/chrome_iphone7_shared_Checkbox_Checked.png
  .loki/reference/chrome_iphone7_shared_Checkbox_Default.png
  .loki/reference/chrome_iphone7_shared_Checkbox_Disabled.png
  .loki/reference/chrome_iphone7_shared_Flex_Gap_28.png
  .loki/reference/chrome_iphone7_shared_Popover_Default.png
  .loki/reference/chrome_iphone7_shared_Popover_Mobile_View.png
  .loki/reference/chrome_iphone7_shared_Popover_Tablet_View.png
  .loki/reference/chrome_iphone7_shared_Popover_With_Custom_Placement.png
  .loki/reference/chrome_iphone7_shared_Popover_With_Footer.png
  .loki/reference/chrome_iphone7_shared_Popover_With_Header.png
  .loki/reference/chrome_iphone7_shared_Popover_With_Menu_Items.png
  .loki/reference/chrome_iphone7_shared_Table_Default.png
  .loki/reference/chrome_iphone7_shared_Table_Empty_State.png
  .loki/reference/chrome_iphone7_shared_Table_With_Actions.png
  .loki/reference/chrome_laptop_shared_Checkbox_Checked.png
  .loki/reference/chrome_laptop_shared_Checkbox_Default.png
  .loki/reference/chrome_laptop_shared_Checkbox_Disabled.png
  .loki/reference/chrome_laptop_shared_Flex_Gap_28.png
  .loki/reference/chrome_laptop_shared_Popover_Default.png
  .loki/reference/chrome_laptop_shared_Popover_Mobile_View.png
  .loki/reference/chrome_laptop_shared_Popover_Tablet_View.png
  .loki/reference/chrome_laptop_shared_Popover_With_Custom_Placement.png
  .loki/reference/chrome_laptop_shared_Popover_With_Footer.png
  .loki/reference/chrome_laptop_shared_Popover_With_Header.png
  .loki/reference/chrome_laptop_shared_Popover_With_Menu_Items.png
  .loki/reference/chrome_laptop_shared_Table_Default.png
  .loki/reference/chrome_laptop_shared_Table_Empty_State.png
  .loki/reference/chrome_laptop_shared_Table_With_Actions.png
  src/shared/ui/Checkbox/ui/Checkbox.stories.ts
  src/shared/ui/Checkbox/ui/Checkbox.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-725: fix errors
  src/entities/question/api/__mocks__/questionListMock.ts
  src/entities/skill/api/__mocks__/data/skillsMock.ts
  src/entities/specialization/api/__mocks__/specializationListMock.ts
Due: npm run prettier, npm run lint:ts:fix
