Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

.lintstagedrc:

{
  "./**/*.{ts,tsx,js,jsx}": ["npm run prettier", "npm run lint:ts:fix"],
  "*.css": "npm run lint:css:fix"
}

YH-1039: сhanges component text to "p" and removes text style
  src/widgets/Profile/ui/SubscriptionTab/ui/PremiumSubscriptionTab/PremiumSubscriptionTab.module.css
  src/widgets/Profile/ui/SubscriptionTab/ui/PremiumSubscriptionTab/PremiumSubscriptionTab.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-735: CollectionPage got a role in CollectionPage and transferred it to CollectionBody. Added an optional check for the role.
  src/pages/interview/CollectionPage/ui/CollectionPage.tsx
  src/widgets/Collection/ui/CollectionBody/CollectionBody.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1039: add subscription access warning component (#682)
  public/locales/en/subscription.json
  public/locales/ru/subscription.json
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/Profile/ui/SubscriptionTab/ui/PremiumSubscriptionTab/PremiumSubscriptionTab.module.css
  src/widgets/Profile/ui/SubscriptionTab/ui/PremiumSubscriptionTab/PremiumSubscriptionTab.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1032: Disabling subscriptions
  public/locales/en/subscription.json
  public/locales/en/translation.json
  public/locales/ru/subscription.json
  public/locales/ru/translation.json
  src/features/subscription/ui/UnsubscribeButton/ui/UnsubscribeButton.tsx
  src/features/subscriptions/subscribe/index.ts
  src/features/subscriptions/subscribe/model/types/subscriptionAgreeTypes.ts
  src/features/subscriptions/subscribe/model/validation/subscriptionAgreeSchema.ts
  src/features/subscriptions/subscribe/ui/AgreementForm/AgreementForm.module.css
  src/features/subscriptions/subscribe/ui/AgreementForm/AgreementForm.tsx
  src/features/subscriptions/subscribe/ui/SubscribeButton/api/getNewSubscriptionOrderId.ts
  src/features/subscriptions/subscribe/ui/SubscribeButton/index.ts
  src/features/subscriptions/subscribe/ui/SubscribeButton/model/constants/subscribeButtonConstants.ts
  src/features/subscriptions/subscribe/ui/SubscribeButton/ui/SubscribeButton.module.css
  src/features/subscriptions/subscribe/ui/SubscribeButton/ui/SubscribeButton.tsx
  src/features/subscriptions/unsubscribe/index.ts
  src/features/subscriptions/unsubscribe/ui/UnsubscribeButton/api/getSubscriptionInfoApi.ts
  src/features/subscriptions/unsubscribe/ui/UnsubscribeButton/api/unsubscribeApi.ts
  src/features/subscriptions/unsubscribe/ui/UnsubscribeButton/index.ts
  src/features/subscriptions/unsubscribe/ui/UnsubscribeButton/model/constants/unsubscribeConstants.ts
  src/features/subscriptions/unsubscribe/ui/UnsubscribeButton/model/types/types.ts
  src/features/subscriptions/unsubscribe/ui/UnsubscribeButton/ui/UnsubscribeButton.tsx
  src/features/subscriptions/unsubscribe/ui/UnsubscribeButton/ui/modals/UnsubscribeModal.module.css
  src/features/subscriptions/unsubscribe/ui/UnsubscribeButton/ui/modals/UnsubscribeModal.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/Profile/ui/SubscriptionTab/ui/FreeSubscriptionTab/FreeSubscriptionTab.tsx
  src/widgets/Profile/ui/SubscriptionTab/ui/PremiumSubscriptionTab/PremiumSubscriptionTab.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1032: Disabling subscriptions
  src/features/subscriptions/unsubscribe/ui/UnsubscribeButton/api/getSubscriptionInfoApi.ts
  src/features/subscriptions/unsubscribe/ui/UnsubscribeButton/ui/modals/UnsubscribeModal.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1032: Disabling subscriptions
  src/features/subscriptions/unsubscribe/ui/UnsubscribeButton/ui/modals/UnsubscribeModal.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-735: CollectionPage. Corrected the comments. I got the data correctly and completed the logic.
  src/pages/interview/CollectionPage/ui/CollectionPage.tsx
  src/widgets/Collection/ui/CollectionBody/CollectionBody.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-940: added story and taking screenshots of the CollectionBlock
  .loki/reference/chrome_iphone7_widgets_Landing_CollectionBlock_AdditionalBlock_Primary.png
  .loki/reference/chrome_iphone7_widgets_Landing_CollectionBlock_FilterChip_Default.png
  .loki/reference/chrome_iphone7_widgets_Landing_CollectionBlock_FilterChip_With_Long_Text.png
  .loki/reference/chrome_iphone7_widgets_Landing_CollectionBlock_FiltersBlock_Primary.png
  .loki/reference/chrome_iphone7_widgets_Landing_CollectionBlock_FiltersBlock_With_Custom_Filters.png
  .loki/reference/chrome_iphone7_widgets_Landing_CollectionBlock_FiltersBlock_With_Many_Filters.png
  .loki/reference/chrome_iphone7_widgets_Landing_CollectionBlock_MainBlock_Primary.png
  .loki/reference/chrome_iphone7_widgets_Landing_CollectionBlock_Primary.png
  .loki/reference/chrome_laptop_widgets_Landing_CollectionBlock_AdditionalBlock_Primary.png
  .loki/reference/chrome_laptop_widgets_Landing_CollectionBlock_FilterChip_Default.png
  .loki/reference/chrome_laptop_widgets_Landing_CollectionBlock_FilterChip_With_Long_Text.png
  .loki/reference/chrome_laptop_widgets_Landing_CollectionBlock_FiltersBlock_Primary.png
  .loki/reference/chrome_laptop_widgets_Landing_CollectionBlock_FiltersBlock_With_Custom_Filters.png
  .loki/reference/chrome_laptop_widgets_Landing_CollectionBlock_FiltersBlock_With_Many_Filters.png
  .loki/reference/chrome_laptop_widgets_Landing_CollectionBlock_MainBlock_Primary.png
  .loki/reference/chrome_laptop_widgets_Landing_CollectionBlock_Primary.png
  src/widgets/Landing/CollectionBlock/ui/AdditionalBlock/AdditionalBlock.stories.tsx
  src/widgets/Landing/CollectionBlock/ui/CollectionBlock/CollectionBlock.stories.tsx
  src/widgets/Landing/CollectionBlock/ui/FilterChip/FilterChip.stories.tsx
  src/widgets/Landing/CollectionBlock/ui/FiltersBlock/FiltersBlock.stories.tsx
  src/widgets/Landing/CollectionBlock/ui/MainBlock/MainBlock.stories.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1032: fix comms
  public/locales/en/subscription.json
  public/locales/ru/subscription.json
  src/entities/auth/api/__mocks__/data/authMockResponse.ts
  src/entities/auth/api/__mocks__/data/authProfileQueryMockResponse.ts
  src/entities/auth/model/types/auth.ts
  src/features/subscriptions/unsubscribe/api/unsubscribeApi.ts
  src/features/subscriptions/unsubscribe/index.ts
  src/features/subscriptions/unsubscribe/model/constants/unsubscribeConstants.ts
  src/features/subscriptions/unsubscribe/model/types/types.ts
  src/features/subscriptions/unsubscribe/ui/UnsubscribeButton/UnsubscribeButton.tsx
  src/features/subscriptions/unsubscribe/ui/UnsubscribeButton/api/getSubscriptionInfoApi.ts
  src/features/subscriptions/unsubscribe/ui/UnsubscribeButton/index.ts
  src/features/subscriptions/unsubscribe/ui/UnsubscribeButton/model/types/types.ts
  src/features/subscriptions/unsubscribe/ui/UnsubscribeModal/UnsubscribeModal.module.css
  src/features/subscriptions/unsubscribe/ui/UnsubscribeModal/UnsubscribeModal.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-735: Added an optional check for the role in CollectionBody. (#683)
  src/pages/interview/CollectionPage/ui/CollectionPage.tsx
  src/widgets/Collection/ui/CollectionBody/CollectionBody.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1032: fix comms
  src/widgets/Profile/ui/SubscriptionTab/ui/PremiumSubscriptionTab/PremiumSubscriptionTab.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1032: Disabling subscriptions (#684)
  public/locales/en/subscription.json
  public/locales/en/translation.json
  public/locales/ru/subscription.json
  public/locales/ru/translation.json
  src/entities/auth/api/__mocks__/data/authMockResponse.ts
  src/entities/auth/api/__mocks__/data/authProfileQueryMockResponse.ts
  src/entities/auth/model/types/auth.ts
  src/features/subscription/ui/UnsubscribeButton/index.ts
  src/features/subscription/ui/UnsubscribeButton/ui/UnsubscribeButton.tsx
  src/features/subscriptions/subscribe/index.ts
  src/features/subscriptions/subscribe/model/types/subscriptionAgreeTypes.ts
  src/features/subscriptions/subscribe/model/validation/subscriptionAgreeSchema.ts
  src/features/subscriptions/subscribe/ui/AgreementForm/AgreementForm.module.css
  src/features/subscriptions/subscribe/ui/AgreementForm/AgreementForm.tsx
  src/features/subscriptions/subscribe/ui/SubscribeButton/api/getNewSubscriptionOrderId.ts
  src/features/subscriptions/subscribe/ui/SubscribeButton/index.ts
  src/features/subscriptions/subscribe/ui/SubscribeButton/model/constants/subscribeButtonConstants.ts
  src/features/subscriptions/subscribe/ui/SubscribeButton/ui/SubscribeButton.module.css
  src/features/subscriptions/subscribe/ui/SubscribeButton/ui/SubscribeButton.tsx
  src/features/subscriptions/unsubscribe/api/unsubscribeApi.ts
  src/features/subscriptions/unsubscribe/index.ts
  src/features/subscriptions/unsubscribe/model/constants/unsubscribeConstants.ts
  src/features/subscriptions/unsubscribe/model/types/types.ts
  src/features/subscriptions/unsubscribe/ui/UnsubscribeButton/UnsubscribeButton.tsx
  src/features/subscriptions/unsubscribe/ui/UnsubscribeModal/UnsubscribeModal.module.css
  src/features/subscriptions/unsubscribe/ui/UnsubscribeModal/UnsubscribeModal.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/Profile/ui/SubscriptionTab/ui/FreeSubscriptionTab/FreeSubscriptionTab.tsx
  src/widgets/Profile/ui/SubscriptionTab/ui/PremiumSubscriptionTab/PremiumSubscriptionTab.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1055: add terminal key env variable
  src/features/subscriptions/subscribe/ui/SubscribeButton/ui/SubscribeButton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1027: add change design
  src/features/subscription/ui/UnsubscribeButton/ui/UnsubscribeButton.tsx
  src/widgets/Profile/ui/SubscriptionTab/ui/PayHistoryItem/PayHistoryItem.module.css
  src/widgets/Profile/ui/SubscriptionTab/ui/PayHistoryItem/PayHistoryItem.tsx
  src/widgets/Profile/ui/SubscriptionTab/ui/PayHistoryList/PayHistoryList.module.css
  src/widgets/Profile/ui/SubscriptionTab/ui/PayHistoryList/PayHistoryList.tsx
  src/widgets/Profile/ui/SubscriptionTab/ui/PremiumSubscriptionTab/PremiumSubscriptionTab.module.css
  src/widgets/Profile/ui/SubscriptionTab/ui/PremiumSubscriptionTab/PremiumSubscriptionTab.tsx
  src/widgets/Profile/ui/SubscriptionTab/ui/SubscriptionPagination/SubscriptionPagination.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1055: add terminal key env variable (#686)
  src/features/subscriptions/subscribe/ui/SubscribeButton/ui/SubscribeButton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1027: delete files
  src/features/subscription/ui/UnsubscribeButton/index.ts
  src/features/subscription/ui/UnsubscribeButton/ui/UnsubscribeButton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1027: add change design (#687)
  src/widgets/Profile/ui/SubscriptionTab/ui/PayHistoryItem/PayHistoryItem.module.css
  src/widgets/Profile/ui/SubscriptionTab/ui/PayHistoryItem/PayHistoryItem.tsx
  src/widgets/Profile/ui/SubscriptionTab/ui/PayHistoryList/PayHistoryList.module.css
  src/widgets/Profile/ui/SubscriptionTab/ui/PayHistoryList/PayHistoryList.tsx
  src/widgets/Profile/ui/SubscriptionTab/ui/PremiumSubscriptionTab/PremiumSubscriptionTab.module.css
  src/widgets/Profile/ui/SubscriptionTab/ui/PremiumSubscriptionTab/PremiumSubscriptionTab.tsx
  src/widgets/Profile/ui/SubscriptionTab/ui/SubscriptionPagination/SubscriptionPagination.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

release 1.1.0
  RELEASE_NOTES.md
  package-lock.json
  package.json
Due: none

fix docker
  Dockerfile
  Dockerfile.production
  Dockerfile.test
Due: none

fix docker (#689)
  Dockerfile
  Dockerfile.production
  Dockerfile.test
Due: none

YH-1061: reset user list to page 1 after searching on another page
  src/pages/admin/UserTablePage/ui/UserTablePage/UsersTablePage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1042: feat: add locales for marketplace
  public/locales/en/marketplace.json
  public/locales/ru/marketplace.json
  src/shared/config/i18n/i18n.ts
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1017: update question list styles (#679)
  src/pages/interview/QuestionsPage/ui/QuestionsPagePagination/QuestionPagePagination.module.css
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsPagePagination/PublicQuestionPagePagination.module.css
  src/shared/ui/Accordion/ui/Accordion.module.css
  src/shared/ui/Accordion/ui/Accordion.tsx
  src/shared/ui/Card/Card.module.css
  src/widgets/question/QuestionsList/ui/FullQuestionsList/FullQuestionsList.module.css
  src/widgets/question/QuestionsList/ui/FullQuestionsList/FullQuestionsList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1042: style: change the size of button
  src/entities/question/ui/ChooseQuestionsCategories/ChooseQuestionsCategories.module.css
Due: npm run lint:css:fix

YH-1042: feat: add keywords, resources and status filters for marketplace
  src/entities/marketplace/index.ts
  src/entities/marketplace/model/types.ts
  src/entities/marketplace/ui/KeywordsListSection/KeywordsListSection.tsx
  src/entities/marketplace/ui/ResourcesFilterSection/ResourcesFilterSection.module.css
  src/entities/marketplace/ui/ResourcesFilterSection/ResourcesFilterSection.tsx
  src/entities/marketplace/ui/StatusFilterSection/StatusFilterSection.tsx
  src/shared/hooks/useQueryFilter.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1042: feat: create marketplace filters panel
  src/pages/landing/PublicMarketplacePage/ui/PublicMarketplacePage.tsx
  src/widgets/Marketplace/index.ts
  src/widgets/Marketplace/model/hooks/useMarketplaceFilters.ts
  src/widgets/Marketplace/ui/MarketplaceFiltersPanel/MarketplaceFiltersPanel.tsx
  src/widgets/Marketplace/ui/SearchBlock/SearchBlock.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1061: reset user list to page 1 after searching on another page (#692)
  src/pages/admin/UserTablePage/ui/UserTablePage/UsersTablePage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1042: feat: hide "Show All" button when all resources are displayed
  src/entities/marketplace/ui/ResourcesFilterSection/ResourcesFilterSection.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1042: style: change drawer position & icon color
  src/pages/landing/PublicMarketplacePage/ui/PublicMarketplacePage.module.css
  src/shared/ui/Drawer/Drawer.module.css
Due: npm run lint:css:fix

YH-869: add tests for KeywordInput
  config/jest/jest.config.ts
  config/jest/jestSetup.ts
  src/shared/ui/Input/Input.tsx
  src/shared/ui/KeywordInput/KeywordInput.test.tsx
  src/shared/ui/KeywordInput/KeywordInput.tsx
  src/shared/ui/SimpleChip/SimpleChip.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-869: add tests for KeywordInput (#695)
  config/jest/jest.config.ts
  config/jest/jestSetup.ts
  src/shared/ui/Input/Input.tsx
  src/shared/ui/KeywordInput/KeywordInput.test.tsx
  src/shared/ui/KeywordInput/KeywordInput.tsx
  src/shared/ui/SimpleChip/SimpleChip.tsx
Due: npm run prettier, npm run lint:ts:fix

add env key to webpack
  webpack.config.ts
Due: npm run prettier, npm run lint:ts:fix

Fix/release 1.1.0 docker (#696)
  webpack.config.ts
Due: npm run prettier, npm run lint:ts:fix

[YH-1071] Изменение логики покупки подписки, вынос всего на сервер
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/features/subscriptions/subscribe/ui/SubscribeButton/api/getNewSubscriptionOrderId.ts
  src/features/subscriptions/subscribe/ui/SubscribeButton/api/getPaymentUrl.ts
  src/features/subscriptions/subscribe/ui/SubscribeButton/model/constants/subscribeButtonConstants.ts
  src/features/subscriptions/subscribe/ui/SubscribeButton/ui/SubscribeButton.tsx
  src/shared/config/i18n/i18nTranslations.ts
  webpack.config.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1071: Исправление валидации
  src/features/subscriptions/subscribe/ui/SubscribeButton/ui/SubscribeButton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1071: Изменение цены подписки
  src/features/subscriptions/subscribe/ui/SubscribeButton/api/getPaymentUrl.ts
Due: npm run prettier, npm run lint:ts:fix

[YH-1071] Изменение логики покупки подписки, вынос всего на сервер (#697)
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/features/subscriptions/subscribe/ui/SubscribeButton/api/getNewSubscriptionOrderId.ts
  src/features/subscriptions/subscribe/ui/SubscribeButton/api/getPaymentUrl.ts
  src/features/subscriptions/subscribe/ui/SubscribeButton/model/constants/subscribeButtonConstants.ts
  src/features/subscriptions/subscribe/ui/SubscribeButton/ui/SubscribeButton.tsx
  src/shared/config/i18n/i18nTranslations.ts
  webpack.config.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1059: A translation has been added for the author role and styles have been set for it.
  public/locales/en/user.json
  public/locales/ru/user.json
  src/entities/user/model/types/user.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/UsersTable/ui/UsersTable.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1065: fix empty subscriptions
  src/widgets/Profile/ui/SubscriptionTab/ui/PremiumSubscriptionTab/PremiumSubscriptionTab.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1067: add stub for collections for free
  public/locales/en/interviewHistory.json
  public/locales/ru/interviewHistory.json
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/interview/PassedQuizzesList/ui/PreviewPassedQuizzesList/PreviewPassedQuizzesList.tsx
Due: npm run prettier, npm run lint:ts:fix
