Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1308: Add button 'My Resources' and page MyResourcesPage
  src/app/providers/router/config/routeConfig.tsx
  src/entities/resource/api/resourceApi.ts
  src/entities/resource/model/constants/resource.ts
  src/entities/resource/model/types/resource.ts
  src/pages/wiki/MyResourcesPage/index.ts
  src/pages/wiki/MyResourcesPage/ui/MyResourcesPage.lazy.ts
  src/pages/wiki/MyResourcesPage/ui/MyResourcesPage.module.css
  src/pages/wiki/MyResourcesPage/ui/MyResourcesPage.tsx
  src/shared/config/router/routes.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1308: add i18n translations for resource status labels and new page
  public/locales/en/marketplace.json
  public/locales/en/translation.json
  public/locales/ru/marketplace.json
  public/locales/ru/translation.json
  src/app/providers/router/config/routeConfig.tsx
  src/entities/resource/api/__mock__/data/myResourcesMock.ts
  src/entities/resource/api/resourceApi.ts
  src/entities/resource/index.ts
  src/entities/resource/model/types/resource.ts
  src/entities/resource/ui/MyResourceCard/MyResourceCard.module.css
  src/entities/resource/ui/MyResourceCard/MyResourceCard.skeleton.tsx
  src/entities/resource/ui/MyResourceCard/MyResourceCard.tsx
  src/pages/wiki/MyResourcesPage/ui/MyResourcesPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/Marketplace/index.ts
  src/widgets/Marketplace/ui/MyRecourcesList/MyResourcesList.skeleton.tsx
  src/widgets/Marketplace/ui/MyRecourcesList/MyResourcesList.tsx
  src/widgets/Marketplace/ui/MyResourcesPagination/MyResourcesPagination.module.css
  src/widgets/Marketplace/ui/MyResourcesPagination/MyResourcesPagination.skeleton.tsx
  src/widgets/Marketplace/ui/MyResourcesPagination/MyResourcesPagination.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1308: Fix bugs, fix translations
  public/locales/en/marketplace.json
  src/entities/resource/ui/MyResourceCard/MyResourceCard.tsx
  src/pages/wiki/ResourcesPage/ui/ResourcesPage.module.css
  src/pages/wiki/ResourcesPage/ui/ResourcesPage.tsx
  src/widgets/Marketplace/ui/MyRecourcesList/MyResourcesList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1308: Fix bugs
  src/entities/resource/ui/MyResourceCard/MyResourceCard.tsx
  src/pages/wiki/MyResourcesPage/ui/MyResourcesPage.module.css
  src/pages/wiki/MyResourcesPage/ui/MyResourcesPage.tsx
  src/pages/wiki/ResourcesPage/ui/ResourcesPage.module.css
  src/pages/wiki/ResourcesPage/ui/ResourcesPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
  src/widgets/Marketplace/ui/MyResourcesPagination/MyResourcesPagination.module.css
  src/widgets/Marketplace/ui/ResourcesPagination/ResourcesPagination.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1279: skeleton from media page
  src/app/layouts/LandingLayout/model/helper/SkeletonGenerator.tsx
  src/app/layouts/MainLayout/model/helper/SkeletonGenerator.tsx
  src/entities/guru/index.ts
  src/entities/guru/ui/GuruSocialsList/GuruSocialsList.module.css
  src/entities/guru/ui/GuruSocialsList/GuruSocialsList.skeleton.tsx
  src/entities/guru/ui/GurusItem/GurusItem.module.css
  src/entities/guru/ui/GurusItem/GurusItem.skeleton.tsx
  src/entities/guru/ui/GurusList/GurusList.skeleton.tsx
  src/entities/media/index.ts
  src/entities/media/ui/MediaLinkItem/MediaLinkItem.module.css
  src/entities/media/ui/MediaLinkItem/MediaLinkItem.skeleton.tsx
  src/entities/media/ui/MediaLinksList/MediaLinksList.skeleton.tsx
  src/pages/landing/MediaPage/index.ts
  src/pages/landing/MediaPage/ui/MediaPage.skeleton.tsx
  src/widgets/Landing/Media/index.ts
  src/widgets/Landing/Media/ui/AlarmFactBanner/AlarmFactBanner.module.css
  src/widgets/Landing/Media/ui/AlarmFactBanner/AlarmFactBanner.skeleton.tsx
  src/widgets/Landing/Media/ui/GurusBlock/GurusBlock.skeleton.tsx
  src/widgets/Landing/Media/ui/OurMediaBanner/OurMediaBanner.module.css
  src/widgets/Landing/Media/ui/OurMediaBanner/OurMediaBanner.skeleton.tsx
  src/widgets/Landing/Media/ui/TelegramChannels/TelegramChannels.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1351: made the name field in the profile optional
  src/features/profile/editProfileForm/model/lib/helpers/editProfileFormHelpers.ts
  src/features/profile/editProfileForm/model/lib/validation/editProfileSchema.ts
  src/features/profile/editProfileForm/ui/PersonalInfoFields/PersonalInfoFields.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1326: added skeleton for resource page
  src/pages/wiki/ResourcesPage/ui/ResourcesPage.tsx
  src/pages/wiki/ResourcesPage/ui/ResourcesPageSkeleton.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1290: added automatic company pull-up and fixed language error
  src/entities/collection/ui/CollectionForm/CollectionForm.tsx
  src/features/collections/editCollection/ui/CollectionEditForm/CollectionEditForm.tsx
  src/pages/admin/CollectionPage/ui/CollectionPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1290: added automatic company pull-up and fixed language error - del old changes
  src/entities/collection/ui/CollectionForm/CollectionForm.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1290: added automatic company pull-up and fixed language error (#865)
  src/features/collections/editCollection/model/lib/validation/collectionEditSchema.ts
  src/features/collections/editCollection/ui/CollectionEditForm/CollectionEditForm.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1351: update file
  src/features/profile/editProfileForm/ui/PersonalInfoFields/PersonalInfoFields.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1308: Fix bugs by comments
  public/locales/en/translation.json
  public/locales/ru/marketplace.json
  public/locales/ru/translation.json
  src/app/providers/router/config/routeConfig.tsx
  src/entities/resource/api/__mock__/data/myResourcesMock.ts
  src/entities/resource/api/resourceApi.ts
  src/entities/resource/index.ts
  src/entities/resource/model/constants/resource.ts
  src/entities/resource/model/types/resource.ts
  src/entities/resource/ui/MyResourceCard/MyResourceCard.tsx
  src/entities/resource/ui/ResourceCard/ResourceCard.tsx
  src/pages/wiki/MyResourcesPage/ui/MyResourcesPage.tsx
  src/pages/wiki/ResourcesPage/ui/ResourcesPage.tsx
  src/shared/config/api/apiTags.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
  src/widgets/Marketplace/ui/MyRecourcesList/MyResourcesList.tsx
  src/widgets/Marketplace/ui/MyResourcesPagination/MyResourcesPagination.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1308: Fix. Handle undefined resources in MyResourcesList
  src/widgets/Marketplace/ui/MyRecourcesList/MyResourcesList.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1308: Add button 'My Resources' and page MyResourcesPage (#869)
  public/locales/en/marketplace.json
  public/locales/en/translation.json
  public/locales/ru/marketplace.json
  public/locales/ru/translation.json
  src/app/providers/router/config/routeConfig.tsx
  src/entities/resource/api/resourceApi.ts
  src/entities/resource/index.ts
  src/entities/resource/model/constants/resource.ts
  src/entities/resource/model/types/resource.ts
  src/entities/resource/ui/MyResourceCard/MyResourceCard.module.css
  src/entities/resource/ui/MyResourceCard/MyResourceCard.skeleton.tsx
  src/entities/resource/ui/MyResourceCard/MyResourceCard.tsx
  src/pages/wiki/MyResourcesPage/index.ts
  src/pages/wiki/MyResourcesPage/ui/MyResourcesPage.lazy.ts
  src/pages/wiki/MyResourcesPage/ui/MyResourcesPage.module.css
  src/pages/wiki/MyResourcesPage/ui/MyResourcesPage.tsx
  src/pages/wiki/ResourcesPage/ui/ResourcesPage.tsx
  src/shared/config/api/apiTags.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
  src/widgets/Marketplace/index.ts
  src/widgets/Marketplace/ui/MyRecourcesList/MyResourcesList.skeleton.tsx
  src/widgets/Marketplace/ui/MyRecourcesList/MyResourcesList.tsx
  src/widgets/Marketplace/ui/MyResourcesPagination/MyResourcesPagination.module.css
  src/widgets/Marketplace/ui/MyResourcesPagination/MyResourcesPagination.skeleton.tsx
  src/widgets/Marketplace/ui/MyResourcesPagination/MyResourcesPagination.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1332: prevent photo deletion when editing profile
  src/features/profile/editProfileForm/ui/EditProfileForm/EditProfileForm.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1333: updated the widget for completed interview questions
  src/shared/ui/Icon/icons.ts
  src/shared/ui/Icon/types.ts
  src/widgets/interview/PassedQuestionsList/ui/PassedQuestionsItem/PassedQuestionsItem.module.css
  src/widgets/interview/PassedQuestionsList/ui/PassedQuestionsItem/PassedQuestionsItem.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1333: updated the widget for completed interview questions
  src/widgets/interview/PassedQuestionsList/ui/PassedQuestionsItem/PassedQuestionsItem.module.css
  src/widgets/interview/PassedQuestionsList/ui/PassedQuestionsItem/PassedQuestionsItem.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1332: removed the handler from the form and added action prevention
  src/features/profile/editProfileForm/ui/EditProfileForm/EditProfileForm.tsx
  src/shared/ui/Input/Input.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1318: add url path for requestResource, new page RequestResourcePage, api request
  src/app/providers/router/config/routeConfig.tsx
  src/features/resources/createResource/api/createResourceApi.ts
  src/pages/wiki/RequestResourcePage/index.ts
  src/pages/wiki/RequestResourcePage/ui/RequestResourcePage.lazy.ts
  src/pages/wiki/RequestResourcePage/ui/RequestResourcePage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1330: changed page that the user is redirected to when logging in and clicking on the logo
  src/entities/auth/api/authApi.ts
  src/features/authentication/passwordRecovery/api/passwordRecoveryApi.ts
  src/shared/ui/AppLogo/AppLogo.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1332: fixes to prevent photo dumping
  src/features/profile/editProfileForm/ui/PersonalInfoFields/PersonalInfoFields.tsx
  src/shared/ui/Input/Input.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1332: removed handler on flex container
  src/features/profile/editProfileForm/ui/PersonalInfoFields/PersonalInfoFields.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1332: preventing handler duplication
  src/features/profile/editProfileForm/ui/PersonalInfoFields/PersonalInfoFields.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1330: move onboarding modal to main layout
  src/app/layouts/MainLayout/ui/MainLayout.tsx
  src/pages/interview/MainPage/ui/MainPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1332: prevent photo deletion when editing profile (#874)
  src/features/profile/editProfileForm/ui/EditProfileForm/EditProfileForm.tsx
  src/features/profile/editProfileForm/ui/PersonalInfoFields/PersonalInfoFields.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1330: changed page that the user is redirected to when logging in and clicking on the logo (#877)
  src/app/layouts/MainLayout/ui/MainLayout.tsx
  src/entities/auth/api/authApi.ts
  src/features/authentication/passwordRecovery/api/passwordRecoveryApi.ts
  src/pages/interview/MainPage/ui/MainPage.tsx
  src/shared/ui/AppLogo/AppLogo.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1326: added skeleton for resource page (#872)
  src/pages/wiki/ResourcesPage/ui/ResourcesPage.tsx
  src/pages/wiki/ResourcesPage/ui/ResourcesPageSkeleton.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1332: edits type button type for photo
  src/features/profile/editProfileForm/ui/PersonalInfoFields/PersonalInfoFields.tsx
  src/shared/ui/ImageLoader/ImageLoader.tsx
Due: npm run prettier, npm run lint:ts:fix

Feature/yh 1332 (#878)
  src/shared/ui/ImageLoader/ImageLoader.tsx
Due: npm run prettier, npm run lint:ts:fix

Release 1.1.11
  RELEASE_NOTES.md
  package-lock.json
  package.json
Due: none

YH-1333: making edits
  src/widgets/interview/PassedQuestionsList/ui/PassedQuestionsItem/PassedQuestionsItem.module.css
  src/widgets/interview/PassedQuestionsList/ui/PassedQuestionsItem/PassedQuestionsItem.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1351: made the name field in the profile optional (#871)
  src/features/profile/editProfileForm/model/lib/helpers/editProfileFormHelpers.ts
  src/features/profile/editProfileForm/model/lib/validation/editProfileSchema.ts
Due: npm run prettier, npm run lint:ts:fix

YH-870: fix from comments
  src/shared/ui/KeywordsList/KeywordsList.test.tsx
  src/shared/ui/KeywordsList/KeywordsList.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-870: add renderComponent function
  src/shared/ui/KeywordsList/KeywordsList.test.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1312: Create page with list of requests for the resource
  public/locales/ru/externalProducts.json
  src/app/providers/router/config/routeConfig.tsx
  src/app/providers/store/config/config.ts
  src/entities/external-product/api/__mock__/data/externalProductsMock.ts
  src/entities/external-product/api/externalProductApi.ts
  src/entities/external-product/index.ts
  src/entities/external-product/model/constants/externalProduct.ts
  src/entities/external-product/model/types/externalProduct.ts
  src/entities/external-product/ui/ExternalProductStatus/ExternalProductStatus.tsx
  src/features/external-product/deleteExternalProducts/index.ts
  src/features/external-product/deleteExternalProducts/ui/DeleteExternalProductsButton.tsx
  src/pages/admin/ExternalProductsTablePage/index.ts
  src/pages/admin/ExternalProductsTablePage/model/selectors/ExternalProductsTablePageSelectors.ts
  src/pages/admin/ExternalProductsTablePage/model/slice/externalProductsTablePageSlice.ts
  src/pages/admin/ExternalProductsTablePage/model/types/externalProductsTablePageTypes.ts
  src/pages/admin/ExternalProductsTablePage/ui/ExternalProductsTablePage/ExternalProductsTablePage.lazy.tsx
  src/pages/admin/ExternalProductsTablePage/ui/ExternalProductsTablePage/ExternalProductsTablePage.module.css
  src/pages/admin/ExternalProductsTablePage/ui/ExternalProductsTablePage/ExternalProductsTablePage.skeleton.tsx
  src/pages/admin/ExternalProductsTablePage/ui/ExternalProductsTablePage/ExternalProductsTablePage.tsx
  src/pages/admin/ExternalProductsTablePage/ui/ExternalProductsTablePagePagination/ExternalProductsTablePagePagination.module.css
  src/pages/admin/ExternalProductsTablePage/ui/ExternalProductsTablePagePagination/ExternalProductsTablePagePagination.tsx
  src/shared/config/api/apiTags.ts
  src/shared/config/i18n/i18n.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
  src/shared/config/store/State.ts
  src/widgets/external-product/ExternalProductsTable/ui/ExternalProductsTable.tsx
  src/widgets/external-product/index.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-870: delete comments
  src/app/providers/router/config/routeConfig.tsx
  src/widgets/authentication/login/ui/LoginCreateForm/LoginCreateForm.tsx
  src/widgets/registration/ui/UserCreateForm.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-870: add tests to KeywordList component (#868)
  src/app/layouts/LandingLayout/ui/LandingLayout.test.tsx
  src/app/providers/router/config/routeConfig.tsx
  src/shared/ui/KeywordsList/KeywordsList.test.tsx
  src/shared/ui/KeywordsList/KeywordsList.tsx
  src/widgets/Landing/Footer/ui/FooterLinks/FooterLinks.skeleton.test.tsx
  src/widgets/Landing/Footer/ui/FooterLinks/FooterLinks.skeleton.tsx
  src/widgets/authentication/login/ui/LoginCreateForm/LoginCreateForm.tsx
  src/widgets/registration/ui/UserCreateForm.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1380: refactor select specializations for filters
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/entities/question/index.ts
  src/entities/question/ui/ChooseSpecialization/ChooseSpecialization.module.css
  src/entities/question/ui/ChooseSpecialization/ChooseSpecialization.skeleton.tsx
  src/entities/question/ui/ChooseSpecialization/ChooseSpecialization.tsx
  src/entities/specialization/index.ts
  src/entities/specialization/model/constants/specializationConstants.ts
  src/entities/specialization/ui/SpecializationsListField/SpecializationsListField.skeleton.tsx
  src/entities/specialization/ui/SpecializationsListField/SpecializationsListField.tsx
  src/features/question/questionsFilterSet/ui/QuestionsFilterSet.tsx
  src/pages/landing/CreatePublicQuizPage/ui/CreatePublicQuizPage.tsx
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsFilterPanel/PublicQuestionsFilterPanel.skeleton.tsx
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsFilterPanel/PublicQuestionsFilterPanel.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/constants/queryConstants.ts
  src/shared/ui/BaseFilterSection/BaseFilterSection.tsx
  src/shared/ui/BaseFilterSection/index.ts
  src/shared/ui/Button/Button.module.css
  src/widgets/Collection/ui/CollectionsFilterPanel/CollectionsFilterPanel.tsx
  src/widgets/Marketplace/ui/MarketplaceFiltersPanel/MarketplaceFiltersPanel.skeleton.tsx
  src/widgets/Marketplace/ui/MarketplaceFiltersPanel/MarketplaceFiltersPanel.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1351: fix email validation
  src/features/profile/editProfileForm/model/lib/validation/editProfileSchema.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1380: refactor select specializations for filters
  src/entities/specialization/index.ts
Due: npm run prettier, npm run lint:ts:fix

Path conditions:
  npm run prettier: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:ts:fix: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:css:fix: any of: *.css
