Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

.lintstagedrc:

{
  "./**/*.{ts,tsx,js,jsx}": ["npm run prettier", "npm run lint:ts:fix"],
  "*.css": "npm run lint:css:fix"
}

YH-1313: fix quiz progress and navigation to unanswered question (#849)
  src/entities/quiz/hooks/useSlideSwitcher.ts
  src/entities/quiz/model/selectors/quizSelectors.ts
  src/pages/interview/InterviewQuizPage/ui/InterviewQuizPage.tsx
  src/widgets/interview/InterviewPreparation/ui/PreviewActiveQuiz/PreviewActiveQuiz.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1319: fix resource list filters
  src/entities/resource/index.ts
  src/entities/resource/model/types/filters.ts
  src/entities/resource/model/types/resource.ts
  src/entities/resource/ui/StatusFilterSection/StatusFilterSection.module.css
  src/entities/resource/ui/StatusFilterSection/StatusFilterSection.skeleton.tsx
  src/entities/resource/ui/StatusFilterSection/StatusFilterSection.tsx
  src/pages/landing/PublicMarketplacePage/ui/PublicMarketplacePage.tsx
  src/pages/wiki/ResourcesPage/ui/ResourcesPage.tsx
  src/shared/hooks/useQueryFilter.ts
  src/widgets/Marketplace/model/hooks/useMarketplaceFilters.ts
  src/widgets/Marketplace/ui/MarketplaceFiltersPanel/MarketplaceFiltersPanel.skeleton.tsx
  src/widgets/Marketplace/ui/MarketplaceFiltersPanel/MarketplaceFiltersPanel.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-945: fix error
  src/widgets/Landing/Header/ui/HeaderAuth/HeaderAuthDesktop/HeaderAuthDesktop.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1319: fix resource list filters (#851)
  src/entities/resource/index.ts
  src/entities/resource/model/types/filters.ts
  src/entities/resource/model/types/resource.ts
  src/entities/resource/ui/StatusFilterSection/StatusFilterSection.module.css
  src/entities/resource/ui/StatusFilterSection/StatusFilterSection.skeleton.tsx
  src/entities/resource/ui/StatusFilterSection/StatusFilterSection.tsx
  src/pages/landing/PublicMarketplacePage/ui/PublicMarketplacePage.tsx
  src/pages/wiki/ResourcesPage/ui/ResourcesPage.tsx
  src/shared/hooks/useQueryFilter.ts
  src/widgets/Marketplace/model/hooks/useMarketplaceFilters.ts
  src/widgets/Marketplace/ui/MarketplaceFiltersPanel/MarketplaceFiltersPanel.skeleton.tsx
  src/widgets/Marketplace/ui/MarketplaceFiltersPanel/MarketplaceFiltersPanel.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-875: add tests to Text component
  src/shared/ui/Text/Text.test.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-875: add tests to Text component (#852)
  src/shared/ui/Text/Text.test.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1299: refactor clone quiz
  src/entities/quiz/api/quizApi.ts
  src/entities/quiz/index.ts
  src/entities/quiz/model/constants/quizConstants.ts
  src/features/quiz/cloneQuiz/api/cloneQuizApi.ts
  src/features/quiz/cloneQuiz/model/constants/cloneQuizConstants.ts
  src/features/quiz/cloneQuiz/model/types/cloneQuizTypes.ts
  src/features/quiz/cloneQuiz/ui/CloneQuizButton/CloneQuizButton.tsx
  src/shared/ui/AutoScrollToTop/AutoScrollToTop.tsx
  src/widgets/interview/PassedQuizzesList/ui/FullPassedQuizzesList/FullPassedQuizzesList.tsx
Due: npm run prettier, npm run lint:ts:fix

add prod k8s ci/cd
  .github/workflows/deploy.yml
Due: none

Feature/migration to k8s (#854)
  .github/workflows/deploy.yml
Due: none

Release 1.1.10
  RELEASE_NOTES.md
  package-lock.json
  package.json
  src/app/providers/router/config/routeConfig.tsx
  src/widgets/authentication/login/ui/LoginCreateForm/LoginCreateForm.tsx
  src/widgets/registration/ui/UserCreateForm.tsx
Due: npm run prettier, npm run lint:ts:fix

fix error with path
  .github/workflows/deploy.yml
Due: none

Feature/migration to k8s (#855)
  .github/workflows/deploy.yml
Due: none

YH-1327: add mock request to fetch collections list
  src/app/msw/handlers.ts
  src/entities/collection/api/__mock__/collectionListMock.ts
  src/entities/collection/api/__mock__/data/collectionsMock.ts
  src/entities/collection/api/__mock__/index.ts
  src/entities/collection/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1299: refactor clone quiz (#853)
  src/entities/quiz/api/quizApi.ts
  src/entities/quiz/index.ts
  src/entities/quiz/model/constants/quizConstants.ts
  src/features/quiz/cloneQuiz/api/cloneQuizApi.ts
  src/features/quiz/cloneQuiz/model/constants/cloneQuizConstants.ts
  src/features/quiz/cloneQuiz/model/types/cloneQuizTypes.ts
  src/features/quiz/cloneQuiz/ui/CloneQuizButton/CloneQuizButton.tsx
  src/shared/ui/AutoScrollToTop/AutoScrollToTop.tsx
  src/widgets/interview/PassedQuizzesList/ui/FullPassedQuizzesList/FullPassedQuizzesList.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1327: add mock request to fetch collections list (#857)
  src/app/msw/handlers.ts
  src/entities/collection/api/__mock__/collectionListMock.ts
  src/entities/collection/api/__mock__/data/collectionsMock.ts
  src/entities/collection/api/__mock__/index.ts
  src/entities/collection/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1337: refactor interrupt quiz
  public/locales/en/interviewQuiz.json
  public/locales/ru/interviewQuiz.json
  src/entities/quiz/api/quizApi.ts
  src/entities/quiz/index.ts
  src/entities/quiz/model/types/quiz.ts
  src/features/quiz/interruptQuiz/api/interruptQuizApi.ts
  src/features/quiz/interruptQuiz/index.ts
  src/features/quiz/interruptQuiz/model/constants/interruptQuizConstants.ts
  src/features/quiz/interruptQuiz/model/types/interruptQuizTypes.ts
  src/features/quiz/interruptQuiz/ui/ConfirmInterruptQuizModal/ConfirmInterruptQuizModal.tsx
  src/features/quiz/interruptQuiz/ui/InterruptQuizButton/InterruptQuizButton.tsx
  src/pages/interview/InterviewQuizPage/ui/InterviewQuizPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1331: add mocks to companies API
  src/app/msw/handlers.ts
  src/entities/company/api/__mocks__/companyByIdMock.ts
  src/entities/company/api/__mocks__/companyListMock.ts
  src/entities/company/api/__mocks__/data/companiesMock.ts
  src/entities/company/api/__mocks__/data/index.ts
  src/entities/company/api/__mocks__/index.ts
  src/entities/company/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1337: refactor interrupt quiz (#858)
  public/locales/en/interviewQuiz.json
  public/locales/ru/interviewQuiz.json
  src/entities/quiz/api/quizApi.ts
  src/entities/quiz/index.ts
  src/entities/quiz/model/types/quiz.ts
  src/features/quiz/interruptQuiz/api/interruptQuizApi.ts
  src/features/quiz/interruptQuiz/index.ts
  src/features/quiz/interruptQuiz/model/constants/interruptQuizConstants.ts
  src/features/quiz/interruptQuiz/model/types/interruptQuizTypes.ts
  src/features/quiz/interruptQuiz/ui/ConfirmInterruptQuizModal/ConfirmInterruptQuizModal.tsx
  src/features/quiz/interruptQuiz/ui/InterruptQuizButton/InterruptQuizButton.tsx
  src/pages/interview/InterviewQuizPage/ui/InterviewQuizPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1331: add search to mock API
  src/entities/company/api/__mocks__/companyListMock.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1331: add mocks to companies API (#859)
  src/app/msw/handlers.ts
  src/entities/company/api/__mocks__/companyByIdMock.ts
  src/entities/company/api/__mocks__/companyListMock.ts
  src/entities/company/api/__mocks__/data/companiesMock.ts
  src/entities/company/api/__mocks__/data/index.ts
  src/entities/company/api/__mocks__/index.ts
  src/entities/company/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1341: add mocks to get collections by id
  src/entities/collection/api/__mock__/collectionByIdMock.ts
  src/entities/collection/api/__mock__/index.ts
  src/entities/collection/api/__mock__/publicCollectionByIdMock.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1343: refactor finish quiz
  src/entities/quiz/api/quizApi.ts
  src/entities/quiz/index.ts
  src/entities/quiz/model/constants/quizConstants.ts
  src/features/collections/trainCollection/ui/TrainCollectionButton.tsx
  src/features/quiz/cloneQuiz/ui/CloneQuizButton/CloneQuizButton.tsx
  src/features/quiz/finishQuiz/api/finishQuizApi.ts
  src/features/quiz/finishQuiz/index.ts
  src/features/quiz/finishQuiz/model/constants/finishQuizConstants.ts
  src/features/quiz/finishQuiz/model/types/finishQuizTypes.ts
  src/features/quiz/finishQuiz/ui/FinishQuizButton/FinishQuizButton.tsx
  src/features/quiz/interruptQuiz/ui/InterruptQuizButton/InterruptQuizButton.tsx
  src/pages/interview/CreateQuizPage/ui/CreateQuizPage.tsx
  src/pages/interview/InterviewQuizPage/ui/InterviewQuizPage.module.css
  src/pages/interview/InterviewQuizPage/ui/InterviewQuizPage.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1341: add mocks to get collections by id (#860)
  src/entities/collection/api/__mock__/collectionByIdMock.ts
  src/entities/collection/api/__mock__/index.ts
  src/entities/collection/api/__mock__/publicCollectionByIdMock.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1343: refactor finish quiz (#861)
  src/entities/quiz/api/quizApi.ts
  src/entities/quiz/index.ts
  src/entities/quiz/model/constants/quizConstants.ts
  src/features/collections/trainCollection/ui/TrainCollectionButton.tsx
  src/features/quiz/cloneQuiz/ui/CloneQuizButton/CloneQuizButton.tsx
  src/features/quiz/finishQuiz/api/finishQuizApi.ts
  src/features/quiz/finishQuiz/index.ts
  src/features/quiz/finishQuiz/model/constants/finishQuizConstants.ts
  src/features/quiz/finishQuiz/model/types/finishQuizTypes.ts
  src/features/quiz/finishQuiz/ui/FinishQuizButton/FinishQuizButton.tsx
  src/features/quiz/interruptQuiz/ui/InterruptQuizButton/InterruptQuizButton.tsx
  src/pages/interview/CreateQuizPage/ui/CreateQuizPage.tsx
  src/pages/interview/InterviewQuizPage/ui/InterviewQuizPage.module.css
  src/pages/interview/InterviewQuizPage/ui/InterviewQuizPage.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1329: follow links for registered users
  src/widgets/Landing/Header/model/constants/headerConstants.ts
  src/widgets/Landing/Header/model/types/headerTypes.ts
  src/widgets/Landing/Header/ui/Header/Header.tsx
  src/widgets/Landing/Header/ui/HeaderNav/HeaderNav.tsx
  src/widgets/Landing/Header/ui/HeaderNav/HeaderNavDesktop/HeaderNavDesktop.tsx
  src/widgets/Landing/Header/ui/HeaderNav/HeaderNavMobile/HeaderNavMobile.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1329: making edits to the task
  src/widgets/Landing/Header/model/types/headerTypes.ts
  src/widgets/Landing/Header/ui/Header/Header.tsx
  src/widgets/Landing/Header/ui/HeaderNav/HeaderNav.tsx
  src/widgets/Landing/Header/ui/HeaderNav/HeaderNavDesktop/HeaderNavDesktop.tsx
  src/widgets/Landing/Header/ui/HeaderNav/HeaderNavMobile/HeaderNavMobile.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-234234: sdfsfd
  src/app/sf.txt
Due: none

YH-1275: Add button 'My Resources' and page MyResourcesPage
  src/app/providers/router/config/routeConfig.tsx
  src/entities/resource/api/resourceApi.ts
  src/entities/resource/model/constants/resource.ts
  src/entities/resource/model/types/resource.ts
  src/pages/wiki/MyResourcesPage/index.ts
  src/pages/wiki/MyResourcesPage/ui/MyResourcesPage.lazy.ts
  src/pages/wiki/MyResourcesPage/ui/MyResourcesPage.module.css
  src/pages/wiki/MyResourcesPage/ui/MyResourcesPage.tsx
  src/shared/config/router/routes.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1290: added automatic company pull-up and fixed language error when editing a collection
  src/entities/collection/ui/CollectionForm/CollectionForm.tsx
  src/features/collections/editCollection/model/lib/validation/collectionEditSchema.ts
  src/pages/admin/CollectionPage/ui/CollectionPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1328: fix in CollectionPreview wrapped the collection in a Link, and remove Link for ImageWithWrapper
  src/entities/collection/ui/CollectionPreview/CollectionPreview.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1329: follow links for registered users (#862)
  src/widgets/Landing/Header/model/constants/headerConstants.ts
  src/widgets/Landing/Header/ui/Header/Header.tsx
  src/widgets/Landing/Header/ui/HeaderNav/HeaderNavDesktop/HeaderNavDesktop.tsx
  src/widgets/Landing/Header/ui/HeaderNav/HeaderNavMobile/HeaderNavMobile.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1328: fix in CollectionPreview wrapped the collection in a Link, and remove Link for ImageWithWrapper (#866)
  src/entities/collection/ui/CollectionPreview/CollectionPreview.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1296: fix view format image
  src/shared/ui/ImageWithWrapper/ImageWithWrapper.module.css
Due: npm run lint:css:fix

YH-1296: fix view format image (#867)
  src/shared/ui/ImageWithWrapper/ImageWithWrapper.module.css
Due: npm run lint:css:fix

YH-1275: add i18n translations for resource status labels and new page
  public/locales/en/marketplace.json
  public/locales/en/translation.json
  public/locales/ru/marketplace.json
  public/locales/ru/translation.json
  src/app/providers/router/config/routeConfig.tsx
  src/entities/resource/api/__mock__/data/myResourcesMock.ts
  src/entities/resource/api/resourceApi.ts
  src/entities/resource/index.ts
  src/entities/resource/model/types/resource.ts
  src/entities/resource/ui/MyResourceCard/MyResourceCard.module.css
  src/entities/resource/ui/MyResourceCard/MyResourceCard.skeleton.tsx
  src/entities/resource/ui/MyResourceCard/MyResourceCard.tsx
  src/pages/wiki/MyResourcesPage/ui/MyResourcesPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/Marketplace/index.ts
  src/widgets/Marketplace/ui/MyRecourcesList/MyResourcesList.skeleton.tsx
  src/widgets/Marketplace/ui/MyRecourcesList/MyResourcesList.tsx
  src/widgets/Marketplace/ui/MyResourcesPagination/MyResourcesPagination.module.css
  src/widgets/Marketplace/ui/MyResourcesPagination/MyResourcesPagination.skeleton.tsx
  src/widgets/Marketplace/ui/MyResourcesPagination/MyResourcesPagination.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-870: add tests to component KeywordList
  src/shared/ui/KeywordsList/KeywordsList.test.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-870: fix tests at LandingLayout and FooterLinks
  src/app/layouts/LandingLayout/ui/LandingLayout.test.tsx
  src/widgets/Landing/Footer/ui/FooterLinks/FooterLinks.skeleton.test.tsx
  src/widgets/Landing/Footer/ui/FooterLinks/FooterLinks.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1275: Fix bugs, fix translations
  public/locales/en/marketplace.json
  src/entities/resource/ui/MyResourceCard/MyResourceCard.tsx
  src/pages/wiki/ResourcesPage/ui/ResourcesPage.module.css
  src/pages/wiki/ResourcesPage/ui/ResourcesPage.tsx
  src/widgets/Marketplace/ui/MyRecourcesList/MyResourcesList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix
