Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

.lintstagedrc:

{
  "./**/*.{ts,tsx,js,jsx}": ["npm run prettier", "npm run lint:ts:fix"],
  "*.css": "npm run lint:css:fix"
}

YH-2292: narrow types for reducers and createMockState
  src/entities/featureFlag/ui/WithFeature/WithFeature.test.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2289: created HhAnalyticsPage
  src/app/providers/router/routeConfig.tsx
  src/entities/hh/index.ts
  src/features/hhAnalyticsFilters/index.ts
  src/features/hhAnalyticsFilters/ui/HhAnalyticsFiltersWrapper/HhAnalyticsFiltersWrapper.tsx
  src/pages/HhAnalyticsPage/index.ts
  src/pages/HhAnalyticsPage/ui/HhAnalyticsPage.tsx
  src/shared/config/router/routes.ts
  src/widgets/HhAnalyticsTable/index.ts
  src/widgets/HhAnalyticsTable/ui/HhAnalyticsTable/HhAnalyticsTable.module.css
  src/widgets/HhAnalyticsTable/ui/HhAnalyticsTable/HhAnalyticsTable.tsx
  src/widgets/HhAnalyticsTable/ui/HhAnalyticsTableWrapper/HhAnalyticsTableWrapper.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2311: add task edit mock
  src/app/msw/handlers.ts
  src/features/task/editTask/api/__mocks__/index.ts
  src/features/task/editTask/api/__mocks__/taskEditMock.ts
  src/features/task/editTask/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2178: fix imageSrc validation to allow nullable values
  src/features/skill/createSkill/lib/validation/skillCreateSchema.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2309: Add mock for getTaskById
  src/entities/task/api/__mocks__/index.ts
  src/entities/task/api/__mocks__/taskMock.ts
  src/entities/task/model/types/task.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2313: Added unit test for QuestionStudyStatus component
  src/entities/question/ui/QuestionStudyStatus/QuestionStudyStatus.test.tsx
  src/entities/question/ui/QuestionStudyStatus/QuestionStudyStatus.tsx
  src/shared/ui/StatusChip/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2313: Fixed an export conflict with FSD
  src/entities/question/ui/QuestionStudyStatus/QuestionStudyStatus.test.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2291: Test for the 'EditAccessGuard' component
  src/shared/ui/Stub/Stub.tsx
  src/widgets/EditAccessGuard/ui/EditAccessGuard.test.tsx
  src/widgets/EditAccessGuard/ui/EditAccessGuard.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2320: add set active profile mock
  src/app/msw/handlers.ts
  src/features/profile/setActiveProfile/api/__mocks__/index.ts
  src/features/profile/setActiveProfile/api/__mocks__/setActiveProfileMock.ts
  src/features/profile/setActiveProfile/index.ts
  src/features/profile/setActiveProfile/model/constants/setActiveProfileConstants.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2309: add mock for getTaskById
  src/entities/task/api/__mocks__/taskMock.ts
  src/entities/task/model/types/task.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2178: update localization
  public/locales/en/skill.json
  public/locales/ru/skill.json
  src/entities/skill/ui/SkillAdditionalInfo/SkillAdditionalInfo.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2172: fix
  src/app/providers/router/routeConfig.tsx
  src/entities/vacancy/model/constants/vacancy.ts
  src/pages/career/vacancy/vacancies/index.ts
  src/pages/career/vacancy/vacancies/ui/VacanciesPage/VacanciesPage.lazy.ts
  src/pages/career/vacancy/vacancies/ui/VacanciesPage/VacanciesPage.module.css
  src/pages/career/vacancy/vacancies/ui/VacanciesPage/VacanciesPage.skeleton.tsx
  src/pages/career/vacancy/vacancies/ui/VacanciesPage/VacanciesPage.tsx
  src/pages/vacancies/ui/VacanciesPage/VacanciesPage.module.css
  src/pages/vacancies/ui/VacanciesPage/VacanciesPage.skeleton.tsx
  src/pages/vacancies/ui/VacanciesPage/VacanciesPage.tsx
  src/pages/vacancies/ui/VacanciesPageHeader/VacanciesPageHeader.skeleton.tsx
  src/pages/vacancies/ui/VacanciesPageHeader/VacanciesPageHeader.tsx
  src/pages/vacancies/ui/VacanciesPagePagination/VacanciesPagePagination.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2309: fix review comments (add 404 response, taskStructures)
  src/entities/task/api/__mocks__/data/tasksMock.ts
  src/entities/task/api/__mocks__/taskMock.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2320: address review comments
  src/features/profile/setActiveProfile/api/__mocks__/setActiveProfileMock.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2220: update title and fix localization switches
  public/locales/en/topic.json
  public/locales/ru/topic.json
  src/entities/topic/ui/TopicForm/TopicForm.module.css
  src/entities/topic/ui/TopicForm/TopicForm.tsx
  src/features/topics/editTopic/ui/TopicEditForm/TopicEditForm.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2310: add mock request for deleteTask
  src/app/msw/handlers.ts
  src/features/task/deleteTask/api/__mocks__/deleteTaskMock.ts
  src/features/task/deleteTask/api/__mocks__/index.ts
  src/features/task/deleteTask/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2220: update title and fix localization switches (#1362)
  public/locales/en/topic.json
  public/locales/ru/topic.json
  src/entities/topic/ui/TopicForm/TopicForm.module.css
  src/entities/topic/ui/TopicForm/TopicForm.tsx
  src/features/topics/editTopic/ui/TopicEditForm/TopicEditForm.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2320: add set active profile mock (#1361)
  src/app/msw/handlers.ts
  src/features/profile/setActiveProfile/api/__mocks__/index.ts
  src/features/profile/setActiveProfile/api/__mocks__/setActiveProfileMock.ts
  src/features/profile/setActiveProfile/index.ts
  src/features/profile/setActiveProfile/model/constants/setActiveProfileConstants.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2309: Add mock for getTaskById (#1358)
  src/entities/task/api/__mocks__/data/tasksMock.ts
  src/entities/task/api/__mocks__/index.ts
  src/entities/task/api/__mocks__/taskMock.ts
  src/entities/task/model/types/task.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2255: updated skeleton for questions page
  src/pages/wiki/question/questions/ui/QuestionsPage/QuestionsPage.skeleton.tsx
  src/shared/ui/Accordion/Accordion.skeleton.tsx
  src/shared/ui/FiltersDrawer/FiltersDrawer.skeleton.tsx
  src/widgets/question/QuestionsList/ui/FullQuestionsList/FullQuestionsList.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2331: add ChooseQuestionsDrawer unit tests
  src/entities/question/ui/ChooseQuestionsDrawer/ChooseQuestionsDrawer.test.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2178: fix review comments
  src/entities/skill/ui/SkillAdditionalInfo/SkillAdditionalInfo.tsx
  src/entities/skill/ui/SkillCard/SkillCard.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2177: add author, creation date, and tooltip to specializations table
  public/locales/en/specialization.json
  public/locales/ru/specialization.json
  src/entities/specialization/model/types/specialization.ts
  src/pages/admin/specialization/specializations/ui/SpecializationsTable/SpecializationsTable.module.css
  src/pages/admin/specialization/specializations/ui/SpecializationsTable/SpecializationsTable.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2177: deleted date digits style
  src/pages/admin/specialization/specializations/ui/SpecializationsTable/SpecializationsTable.module.css
Due: npm run lint:css:fix

YH-2250: add skeleton for FeatureFlagDetailsPage.tsx
  src/app/layouts/MainLayout/SkeletonGenerator/SkeletonGenerator.tsx
  src/features/featureFlag/deleteFeatureFlag/index.ts
  src/features/featureFlag/deleteFeatureFlag/ui/DeleteFeatureFlagButton.skeleton.tsx
  src/features/featureFlag/deleteFeatureFlag/ui/DeleteFeatureFlagButton.tsx
  src/pages/admin/featureFlag/featureFlagDetail/index.ts
  src/pages/admin/featureFlag/featureFlagDetail/ui/FeatureFlagDetailsPage/FeatureFlagDetailsPage.tsx
  src/pages/admin/featureFlag/featureFlagDetail/ui/FeatureFlagDetailsPageContent/FeatureFlagDetailsPageContent.module.css
  src/pages/admin/featureFlag/featureFlagDetail/ui/FeatureFlagDetailsPageContent/FeatureFlagDetailsPageContent.skeleton.tsx
  src/widgets/Collection/ui/AdditionalInfo/AdditionalInfo.module.css
  src/widgets/Collection/ui/AdditionalInfo/AdditionalInfo.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2230: created a skeleton for topicEditPage and implemented it into the skeleton generator
  src/app/layouts/MainLayout/SkeletonGenerator/SkeletonGenerator.tsx
  src/features/topics/editTopic/index.ts
  src/features/topics/editTopic/ui/TopicEditForm/TopicEditForm.skeleton.tsx
  src/features/topics/editTopic/ui/TopicEditFormHeader/TopicEditFormHeader.skeleton.tsx
  src/pages/admin/topic/topicEdit/index.ts
  src/pages/admin/topic/topicEdit/ui/TopicEditPage/TopicEditPage.skeleton.tsx
  src/pages/admin/topic/topicEdit/ui/TopicEditPage/TopicEditPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2310: address review comments (typing, status code, error format)
  src/features/task/deleteTask/api/__mocks__/deleteTaskMock.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2310: add mock request for deleteTask (#1363)
  src/app/msw/handlers.ts
  src/features/task/deleteTask/api/__mocks__/deleteTaskMock.ts
  src/features/task/deleteTask/api/__mocks__/index.ts
  src/features/task/deleteTask/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2217: fix skill create/edit page title text, font-size and spacing
  public/locales/ru/skill.json
  src/entities/skill/ui/SkillForm/SkillForm.module.css
  src/entities/skill/ui/SkillForm/SkillForm.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2218: update company form headings
  public/locales/ru/companies.json
  src/entities/company/ui/CompanyForm/CompanyForm.module.css
  src/entities/company/ui/CompanyForm/CompanyForm.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2217: fix skill create/edit page title text, font-size and spacing (#1369)
  public/locales/ru/skill.json
  src/entities/skill/ui/SkillForm/SkillForm.module.css
  src/entities/skill/ui/SkillForm/SkillForm.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2230: created a skeleton for topicEditPage and implemented it into the skeleton generator (#1368)
  src/app/layouts/MainLayout/SkeletonGenerator/SkeletonGenerator.tsx
  src/features/topics/editTopic/index.ts
  src/features/topics/editTopic/ui/TopicEditForm/TopicEditForm.skeleton.tsx
  src/features/topics/editTopic/ui/TopicEditFormHeader/TopicEditFormHeader.skeleton.tsx
  src/pages/admin/topic/topicEdit/index.ts
  src/pages/admin/topic/topicEdit/ui/TopicEditPage/TopicEditPage.skeleton.tsx
  src/pages/admin/topic/topicEdit/ui/TopicEditPage/TopicEditPage.tsx
Due: npm run prettier, npm run lint:ts:fix

feature/YH-2177 (#1366)
  public/locales/en/specialization.json
  public/locales/ru/specialization.json
  src/entities/specialization/model/types/specialization.ts
  src/pages/admin/specialization/specializations/ui/SpecializationsTable/SpecializationsTable.module.css
  src/pages/admin/specialization/specializations/ui/SpecializationsTable/SpecializationsTable.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2339: layout content components for FileLoader
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/pages/career/resumeAnalyzer/ui/ResumeAnalyzerPage/ResumeAnalyzerPage.tsx
  src/pages/career/resumeAnalyzer/ui/UploadResumeForm/UploadResumeForm.module.css
  src/pages/career/resumeAnalyzer/ui/UploadResumeForm/UploadResumeForm.tsx
  src/shared/assets/icons/downloadFile.svg
  src/shared/assets/icons/index.ts
  src/shared/assets/icons/lock.svg
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/FileLoader/FileLoader.module.css
  src/shared/ui/FileLoader/FileLoader.tsx
  src/shared/ui/FileLoader/FileLoaderContent/FileLoaderDefaultContent/FileLoaderDefaultContent.tsx
  src/shared/ui/FileLoader/FileLoaderContent/FileLoaderResumeContent/FileLoaderResumeContent.module.css
  src/shared/ui/FileLoader/FileLoaderContent/FileLoaderResumeContent/FileLoaderResumeContent.tsx
  src/shared/ui/FileLoader/FileLoaderContent/FileLoaderResumeContent/FileLoaderResumeContentBorder.tsx
  src/shared/ui/FileLoader/FileLoaderContent/index.ts
  src/shared/ui/Icon/icons.ts
  src/shared/ui/Icon/types.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2318: add IndustryTabs widget
  src/widgets/IndustryTabs/index.ts
  src/widgets/IndustryTabs/ui/IndustryTabs.module.css
  src/widgets/IndustryTabs/ui/IndustryTabs.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2281: synchronized CreateQuizPage skeleton with current UI structure
  src/pages/interview/createQuiz/ui/CreateQuizPage/CreateQuizPage.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix
