Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-515: fixed validation sticking to fields
  src/features/profile/changePassword/ui/ChangePassword.module.css
Due: npm run lint:css:fix

YH-517: fixed routes
  src/features/profile/editProfileForm/api/editProfileApi.ts
  src/pages/admin/QuestionPage/QuestionPage.tsx
  src/pages/admin/SkillDetailPage/ui/SkillDetailPage/SkillDetailPage.tsx
  src/pages/admin/SpecializationDetailPage/ui/SpecializationDetailPage/SpecializationDetailPage.tsx
  src/widgets/Landing/Footer/ui/Footer.tsx
  src/widgets/Profile/ui/EducationCard/ui/EducationBlockHeader/EducationBlockHeader.tsx
  src/widgets/Profile/ui/ExperienceCard/ui/ExperienceBlockHeader/ExperienceBlockHeader.tsx
  src/widgets/Profile/ui/InfoCard/ui/InfoBlockHeader/InfoBlockHeader.tsx
  src/widgets/Profile/ui/ProjectsCard/ui/ProjectsBlockHeader/ProjectsBlockHeader.tsx
  src/widgets/Profile/ui/SkillsCard/ui/SkillsBlockHeader/SkillsBlockHeader.tsx
  src/widgets/Profile/ui/UserCard/ui/UserEditButton/UserEditButton.tsx
  src/widgets/SkillsTable/ui/SkillsTable.tsx
  src/widgets/SpecializationsTable/ui/SpecializationsTable.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-513: Added delete button to question page (#243)
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/features/question/deleteQuestion/api/deleteQuestionApi.ts
  src/features/question/deleteQuestion/model/types/questionDeleteTypes.ts
  src/features/question/deleteQuestion/ui/DeleteQuestionButton/DeleteQuestionButton.tsx
  src/pages/admin/QuestionPage/QuestionPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/BackHeader/ui/BackHeader.module.css
  src/shared/ui/BackHeader/ui/BackHeader.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-515: add Tab Change Password (#250)
  public/locales/en/profile.json
  public/locales/ru/profile.json
  src/features/profile/changePassword/index.ts
  src/features/profile/changePassword/ui/ChangePassword.module.css
  src/features/profile/changePassword/ui/ChangePassword.tsx
  src/pages/profile/SettingsProfilePage/ui/SettingsProfilePage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/Profile/index.ts
  src/widgets/Profile/ui/ChangePasswordTab/index.ts
  src/widgets/Profile/ui/ChangePasswordTab/model/lib/validation/changePasswordSchema.ts
  src/widgets/Profile/ui/ChangePasswordTab/model/types/changePasswordSchemaTypes.ts
  src/widgets/Profile/ui/ChangePasswordTab/ui/ChangePasswordTab.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-517: fixed routes (#253)
  src/features/profile/editProfileForm/api/editProfileApi.ts
  src/pages/admin/QuestionPage/QuestionPage.tsx
  src/pages/admin/SkillDetailPage/ui/SkillDetailPage/SkillDetailPage.tsx
  src/pages/admin/SpecializationDetailPage/ui/SpecializationDetailPage/SpecializationDetailPage.tsx
  src/widgets/Landing/Footer/ui/Footer.tsx
  src/widgets/Profile/ui/EducationCard/ui/EducationBlockHeader/EducationBlockHeader.tsx
  src/widgets/Profile/ui/ExperienceCard/ui/ExperienceBlockHeader/ExperienceBlockHeader.tsx
  src/widgets/Profile/ui/InfoCard/ui/InfoBlockHeader/InfoBlockHeader.tsx
  src/widgets/Profile/ui/ProjectsCard/ui/ProjectsBlockHeader/ProjectsBlockHeader.tsx
  src/widgets/Profile/ui/SkillsCard/ui/SkillsBlockHeader/SkillsBlockHeader.tsx
  src/widgets/Profile/ui/UserCard/ui/UserEditButton/UserEditButton.tsx
  src/widgets/SkillsTable/ui/SkillsTable.tsx
  src/widgets/SpecializationsTable/ui/SpecializationsTable.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-516: fix
  src/features/authentication/passwordRecovery/ui/PasswordRecoveryForm/PasswordRecoveryForm.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-509: Added filtering of questions to the admin panel (#248)
  public/locales/en/questions.json
  public/locales/ru/questions.json
  src/entities/question/index.ts
  src/entities/question/ui/RateFilterSection/RateFilterSection.tsx
  src/entities/question/ui/SortQuestions/QuestionsSorter/QuestionsSorter.tsx
  src/entities/question/ui/SortQuestions/SortQuestionsByField/SortQuestionsByField.tsx
  src/features/question/questionsFilterSet/index.ts
  src/features/question/questionsFilterSet/ui/QuestionsFilterSet.tsx
  src/pages/admin/QuestionsTablePage/ui/QuestionTablePagePagination/QuestionTablePagePagination.tsx
  src/pages/admin/QuestionsTablePage/ui/QuestionsTablePage/QuestionsTablePage.tsx
  src/pages/interview/QuestionsPage/ui/QuestionsPage/QuestionsPage.tsx
  src/shared/hooks/useQueryFilter.ts
  src/shared/ui/Drawer/ui/Drawer.module.css
  src/shared/ui/FiltersDrawer/index.ts
  src/shared/ui/FiltersDrawer/ui/FiltersDrawer.module.css
  src/shared/ui/FiltersDrawer/ui/FiltersDrawer.tsx
  src/widgets/Question/ui/QuestionsFilterPanel/ui/QuestionsFilterPanel.tsx
  src/widgets/SearchSection/ui/SearchSection.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-516: add forgot password
  public/locales/en/auth.json
  public/locales/en/validation.json
  public/locales/ru/auth.json
  public/locales/ru/validation.json
  src/app/providers/router/config/routeConfig.tsx
  src/entities/auth/index.ts
  src/entities/auth/model/types/auth.ts
  src/entities/auth/ui/RegistrationLabel/RegistrationLabel.module.css
  src/entities/auth/ui/RegistrationLabel/RegistrationLabel.tsx
  src/features/authentication/forgotPassword/index.ts
  src/features/authentication/forgotPassword/ui/ForgotPasswordForm/ForgotPasswordForm.module.css
  src/features/authentication/forgotPassword/ui/ForgotPasswordForm/ForgotPasswordForm.tsx
  src/features/authentication/login/index.ts
  src/features/authentication/passwordRecovery/index.ts
  src/features/authentication/passwordRecovery/ui/PasswordRecoveryForm/PasswordRecoveryForm.module.css
  src/features/authentication/passwordRecovery/ui/PasswordRecoveryForm/PasswordRecoveryForm.tsx
  src/pages/auth/ForgotPasswordPage/index.ts
  src/pages/auth/ForgotPasswordPage/ui/ForgotPasswordPage.lazy.ts
  src/pages/auth/ForgotPasswordPage/ui/ForgotPasswordPage.module.css
  src/pages/auth/ForgotPasswordPage/ui/ForgotPasswordPage.tsx
  src/pages/auth/PasswordRecoveryPage/index.ts
  src/pages/auth/PasswordRecoveryPage/ui/PasswordRecoveryPage.lazy.ts
  src/pages/auth/PasswordRecoveryPage/ui/PasswordRecoveryPage.module.css
  src/pages/auth/PasswordRecoveryPage/ui/PasswordRecoveryPage.tsx
  src/shared/assets/images/emailModal.png
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
  src/shared/ui/Timer/Timer.module.css
  src/shared/ui/Timer/Timer.tsx
  src/widgets/Landing/Header/ui/Header/Header.tsx
  src/widgets/authentication/forgotPassword/index.ts
  src/widgets/authentication/forgotPassword/model/lib/validation/forgotPasswordSchema.ts
  src/widgets/authentication/forgotPassword/model/types/forgotPasswordTypes.ts
  src/widgets/authentication/forgotPassword/ui/ForgotPassword/ForgotPassword.tsx
  src/widgets/authentication/login/ui/LoginCreateForm/LoginCreateForm.tsx
  src/widgets/authentication/passwordRecovery/index.ts
  src/widgets/authentication/passwordRecovery/model/lib/validation/passwordRecoverySchema.ts
  src/widgets/authentication/passwordRecovery/model/types/passwordRecoveryTypes.ts
  src/widgets/authentication/passwordRecovery/ui/PasswordRecovery.module.css
  src/widgets/authentication/passwordRecovery/ui/PasswordRecovery.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-516: add forgot password (#255)
  public/locales/en/auth.json
  public/locales/en/validation.json
  public/locales/ru/auth.json
  public/locales/ru/validation.json
  src/app/providers/router/config/routeConfig.tsx
  src/entities/auth/index.ts
  src/entities/auth/model/types/auth.ts
  src/entities/auth/ui/RegistrationLabel/RegistrationLabel.module.css
  src/entities/auth/ui/RegistrationLabel/RegistrationLabel.tsx
  src/features/authentication/forgotPassword/index.ts
  src/features/authentication/forgotPassword/ui/ForgotPasswordForm/ForgotPasswordForm.module.css
  src/features/authentication/forgotPassword/ui/ForgotPasswordForm/ForgotPasswordForm.tsx
  src/features/authentication/login/index.ts
  src/features/authentication/passwordRecovery/index.ts
  src/features/authentication/passwordRecovery/ui/PasswordRecoveryForm/PasswordRecoveryForm.module.css
  src/features/authentication/passwordRecovery/ui/PasswordRecoveryForm/PasswordRecoveryForm.tsx
  src/pages/auth/ForgotPasswordPage/index.ts
  src/pages/auth/ForgotPasswordPage/ui/ForgotPasswordPage.lazy.ts
  src/pages/auth/ForgotPasswordPage/ui/ForgotPasswordPage.module.css
  src/pages/auth/ForgotPasswordPage/ui/ForgotPasswordPage.tsx
  src/pages/auth/PasswordRecoveryPage/index.ts
  src/pages/auth/PasswordRecoveryPage/ui/PasswordRecoveryPage.lazy.ts
  src/pages/auth/PasswordRecoveryPage/ui/PasswordRecoveryPage.module.css
  src/pages/auth/PasswordRecoveryPage/ui/PasswordRecoveryPage.tsx
  src/shared/assets/images/emailModal.png
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
  src/shared/ui/Timer/Timer.module.css
  src/shared/ui/Timer/Timer.tsx
  src/widgets/Landing/Header/ui/Header/Header.tsx
  src/widgets/authentication/forgotPassword/index.ts
  src/widgets/authentication/forgotPassword/model/lib/validation/forgotPasswordSchema.ts
  src/widgets/authentication/forgotPassword/model/types/forgotPasswordTypes.ts
  src/widgets/authentication/forgotPassword/ui/ForgotPassword/ForgotPassword.tsx
  src/widgets/authentication/login/ui/LoginCreateForm/LoginCreateForm.tsx
  src/widgets/authentication/passwordRecovery/index.ts
  src/widgets/authentication/passwordRecovery/model/lib/validation/passwordRecoverySchema.ts
  src/widgets/authentication/passwordRecovery/model/types/passwordRecoveryTypes.ts
  src/widgets/authentication/passwordRecovery/ui/PasswordRecovery.module.css
  src/widgets/authentication/passwordRecovery/ui/PasswordRecovery.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-505: small changes
  src/widgets/Landing/ProgressBlock/ui/Statistics/Statistics.module.css
Due: npm run lint:css:fix

YH-489: fixed duplicates
  src/features/specialization/deleteSpecialization/ui/DeleteSpecializationButton/DeleteSpecializationButton.tsx
  src/pages/interview/MainPage/ui/MainPage.tsx
  src/shared/ui/KeywordInput/KeywordInput.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-442: the fix for the appearance of the skeleton of the main page, add SkeletonGenerator
  src/app/layouts/MainLayout/model/helper/SkeletonGenerator.tsx
  src/app/layouts/MainLayout/ui/MainLayout.skeleton.tsx
  src/app/layouts/MainLayout/ui/MainLayout.tsx
  src/features/profile/editProfileForm/index.ts
  src/features/profile/editProfileForm/ui/EditProfileForm/EditProfileForm.tsx
  src/pages/admin/QuestionPage/index.ts
  src/pages/interview/CreateQuizPage/index.ts
  src/pages/interview/InterviewHistoryPage/index.ts
  src/pages/interview/InterviewHistoryPage/ui/InterviewHistoryPage.tsx
  src/pages/interview/InterviewPage/index.ts
  src/pages/interview/InterviewQuizPage/index.ts
  src/pages/interview/InterviewQuizPage/ui/InterviewQuizPage.tsx
  src/pages/interview/InterviewQuizResultPage/index.ts
  src/pages/interview/InterviewQuizResultPage/ui/InterviewQuizResultPage.tsx
  src/pages/interview/QuestionsPage/index.ts
  src/pages/profile/ProfilePage/index.ts
  src/pages/profile/ProfilePage/ui/ProfilePage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-489: fix
  src/shared/ui/AppLogo/AppLogo.module.css
Due: npm run lint:css:fix

YH-459: fix description in SkillsTable
  src/widgets/SkillsTable/ui/SkillTable.module.css
  src/widgets/SkillsTable/ui/SkillsTable.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-459: fixed description in SkillsTable
  src/widgets/SkillsTable/ui/SkillsTable.module.css
  src/widgets/SkillsTable/ui/SkillsTable.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-459: fixed description in SkillsTable (#259)
  src/widgets/SkillsTable/ui/SkillsTable.module.css
  src/widgets/SkillsTable/ui/SkillsTable.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-489: fixed names and extends
  src/shared/ui/Input/ui/Input.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-489: add Input component (#227)
  src/app/styles/App.css
  src/shared/assets/icons/Magnifer.svg
  src/shared/ui/Input/index.ts
  src/shared/ui/Input/model/types/InputTypes.ts
  src/shared/ui/Input/ui/Input.module.css
  src/shared/ui/Input/ui/Input.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-525: fix layout jump to mainLayout, EditProfileForm, CreateQuizPage, QuestionsPage, fix skeleton jump into the header
  src/app/layouts/MainLayout/ui/MainLayout.tsx
  src/features/profile/editProfileForm/ui/EditProfileForm/EditProfileForm.tsx
  src/pages/interview/CreateQuizPage/ui/CreateQuizPage.tsx
  src/pages/interview/QuestionsPage/ui/QuestionsPage/QuestionsPage.tsx
  src/pages/profile/ProfilePage/ui/ProfilePage.module.css
  src/widgets/Question/ui/QuestionsFilterPanel/ui/QuestionsFilterPanel.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-498: add email verification logic
  public/locales/en/interview.json
  public/locales/en/translation.json
  public/locales/ru/interview.json
  public/locales/ru/translation.json
  src/app/providers/router/config/routeConfig.tsx
  src/app/providers/router/ui/VerifiedEmailRoute.tsx
  src/features/profile/confirmationEmail/api/confirmEmailApi.ts
  src/features/profile/confirmationEmail/model/types.ts
  src/features/profile/confirmationEmail/ui/ConfirmationEmail.tsx
  src/pages/interview/InterviewPage/ui/InterviewPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/constants/customRoutes.ts
  src/widgets/InterviewHistory/ui/InterviewHistoryList/InterviewHistoryList.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-498: add email verification logic (#261)
  public/locales/en/interview.json
  public/locales/en/translation.json
  public/locales/ru/interview.json
  public/locales/ru/translation.json
  src/app/providers/router/config/routeConfig.tsx
  src/app/providers/router/ui/VerifiedEmailRoute.tsx
  src/features/profile/confirmationEmail/api/confirmEmailApi.ts
  src/features/profile/confirmationEmail/model/types.ts
  src/features/profile/confirmationEmail/ui/ConfirmationEmail.tsx
  src/pages/interview/InterviewPage/ui/InterviewPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/constants/customRoutes.ts
  src/widgets/InterviewHistory/ui/InterviewHistoryList/InterviewHistoryList.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-525: fix layout jump to mainLayout, EditProfileForm, CreateQuizPage, QuestionsPage, fix skeleton jump into the header (#260)
  src/app/layouts/MainLayout/ui/MainLayout.tsx
  src/features/profile/editProfileForm/ui/EditProfileForm/EditProfileForm.tsx
  src/pages/interview/CreateQuizPage/ui/CreateQuizPage.tsx
  src/pages/interview/QuestionsPage/ui/QuestionsPage/QuestionsPage.tsx
  src/pages/profile/ProfilePage/ui/ProfilePage.module.css
  src/widgets/Question/ui/QuestionsFilterPanel/ui/QuestionsFilterPanel.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-529: update auth types, update auth mocks
  src/entities/auth/api/__mocks__/authLoginHandler.ts
  src/entities/auth/api/__mocks__/authLoginMutationMock.ts
  src/entities/auth/api/__mocks__/authLogoutHandler.ts
  src/entities/auth/api/__mocks__/authLogoutQueryMock.ts
  src/entities/auth/api/__mocks__/authProfileHandler.ts
  src/entities/auth/api/__mocks__/authProfileQueryMock.ts
  src/entities/auth/api/__mocks__/authRefreshHandler.ts
  src/entities/auth/api/__mocks__/authRefreshQueryMock.ts
  src/entities/auth/api/__mocks__/authSignupHandler.ts
  src/entities/auth/api/__mocks__/authSignupMutationMock.ts
  src/entities/auth/api/__mocks__/data/authMockResponse.ts
  src/entities/auth/api/__mocks__/data/authProfileQueryMockResponse.ts
  src/entities/auth/api/__mocks__/data/index.ts
  src/entities/auth/api/__mocks__/index.ts
  src/entities/auth/api/authApi.ts
  src/entities/auth/index.ts
  src/entities/auth/model/constants/authConstants.ts
  src/entities/auth/model/types/auth.ts
  src/features/authentication/forgotPassword/model/types/forgotPasswordTypes.ts
  src/features/authentication/forgotPassword/ui/ForgotPasswordForm/ForgotPasswordForm.tsx
  src/features/authentication/login/ui/LoginForm/LoginForm.tsx
  src/features/authentication/passwordRecovery/model/types/passwordRecoveryTypes.ts
  src/features/authentication/passwordRecovery/ui/PasswordRecoveryForm/PasswordRecoveryForm.tsx
  src/features/authentication/registration/ui/RegisterForm/RegisterForm.tsx
  src/features/profile/editProfileForm/helpers/editProfileFormHelpers.ts
  src/features/profile/editProfileForm/ui/EditProfileForm/EditProfileForm.tsx
  src/pages/interview/MainPage/ui/MainPage.tsx
  src/widgets/Profile/ui/UserCard/ui/UserBlock/UserBlock.tsx
  src/widgets/Profile/ui/UserCard/ui/UserImageBlock/UserImageBlock.tsx
  src/widgets/Profile/ui/UserCard/ui/UserInfoBlock/UserInfoBlock.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-529: update auth types, update auth mocks (#262)
  src/entities/auth/api/__mocks__/authLoginHandler.ts
  src/entities/auth/api/__mocks__/authLoginMutationMock.ts
  src/entities/auth/api/__mocks__/authLogoutHandler.ts
  src/entities/auth/api/__mocks__/authLogoutQueryMock.ts
  src/entities/auth/api/__mocks__/authProfileHandler.ts
  src/entities/auth/api/__mocks__/authProfileQueryMock.ts
  src/entities/auth/api/__mocks__/authRefreshHandler.ts
  src/entities/auth/api/__mocks__/authRefreshQueryMock.ts
  src/entities/auth/api/__mocks__/authSignupHandler.ts
  src/entities/auth/api/__mocks__/authSignupMutationMock.ts
  src/entities/auth/api/__mocks__/data/authMockResponse.ts
  src/entities/auth/api/__mocks__/data/authProfileQueryMockResponse.ts
  src/entities/auth/api/__mocks__/data/index.ts
  src/entities/auth/api/__mocks__/index.ts
  src/entities/auth/api/authApi.ts
  src/entities/auth/index.ts
  src/entities/auth/model/constants/authConstants.ts
  src/entities/auth/model/types/auth.ts
  src/features/authentication/forgotPassword/model/types/forgotPasswordTypes.ts
  src/features/authentication/forgotPassword/ui/ForgotPasswordForm/ForgotPasswordForm.tsx
  src/features/authentication/login/ui/LoginForm/LoginForm.tsx
  src/features/authentication/passwordRecovery/model/types/passwordRecoveryTypes.ts
  src/features/authentication/passwordRecovery/ui/PasswordRecoveryForm/PasswordRecoveryForm.tsx
  src/features/authentication/registration/ui/RegisterForm/RegisterForm.tsx
  src/features/profile/editProfileForm/helpers/editProfileFormHelpers.ts
  src/features/profile/editProfileForm/ui/EditProfileForm/EditProfileForm.tsx
  src/pages/interview/MainPage/ui/MainPage.tsx
  src/widgets/Profile/ui/UserCard/ui/UserBlock/UserBlock.tsx
  src/widgets/Profile/ui/UserCard/ui/UserImageBlock/UserImageBlock.tsx
  src/widgets/Profile/ui/UserCard/ui/UserInfoBlock/UserInfoBlock.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-526: del pointer.show options.gauge.
  src/widgets/Charts/model/constants/options.ts
  src/widgets/Charts/ui/PassedQuestionChart/PassedQuestionChart.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-516: refactoring
  src/features/authentication/forgotPassword/index.ts
  src/features/authentication/forgotPassword/model/constants/forgotPasswordConstants.ts
  src/features/authentication/forgotPassword/ui/EmailSendModal/EmailSendModal.module.css
  src/features/authentication/forgotPassword/ui/EmailSendModal/EmailSendModal.tsx
  src/pages/auth/ForgotPasswordPage/ui/ForgotPasswordPage.module.css
  src/pages/auth/ForgotPasswordPage/ui/ForgotPasswordPage.tsx
  src/shared/constants/regexp.ts
  src/shared/ui/Timer/Timer.tsx
  src/widgets/Profile/ui/ChangePasswordTab/model/lib/validation/changePasswordSchema.ts
  src/widgets/authentication/passwordRecovery/model/lib/validation/passwordRecoverySchema.ts
  src/widgets/registration/model/lib/validation/registerSchema.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-381: disabled buttons logic, center buttons inner
  src/entities/question/model/types/question.ts
  src/features/quiz/learnQuestion/ui/LearnQuestionButton.tsx
  src/features/quiz/resetQuestionStudyProgress/ui/ResetQuestionStudyProgressButton.tsx
  src/pages/interview/QuestionPage/ui/QuestionPage.tsx
  src/pages/interview/QuestionsPage/ui/QuestionsPage/QuestionsPage.tsx
  src/widgets/Question/ui/QuestionActions/QuestionActions.module.css
  src/widgets/Question/ui/QuestionActions/QuestionActions.tsx
  src/widgets/Question/ui/QuestionPreview/QuestionPreview.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-516: refactoring (#264)
  src/features/authentication/forgotPassword/index.ts
  src/features/authentication/forgotPassword/model/constants/forgotPasswordConstants.ts
  src/features/authentication/forgotPassword/ui/EmailSendModal/EmailSendModal.module.css
  src/features/authentication/forgotPassword/ui/EmailSendModal/EmailSendModal.tsx
  src/pages/auth/ForgotPasswordPage/ui/ForgotPasswordPage.module.css
  src/pages/auth/ForgotPasswordPage/ui/ForgotPasswordPage.tsx
  src/shared/constants/regexp.ts
  src/shared/ui/Timer/Timer.tsx
  src/widgets/Profile/ui/ChangePasswordTab/model/lib/validation/changePasswordSchema.ts
  src/widgets/authentication/passwordRecovery/model/lib/validation/passwordRecoverySchema.ts
  src/widgets/registration/model/lib/validation/registerSchema.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-526: del pointer.show options.gauge. (#263)
  src/widgets/Charts/model/constants/options.ts
  src/widgets/Charts/ui/PassedQuestionChart/PassedQuestionChart.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-523: fix styles SettingsPopover
  src/features/common/user-preferences/ui/UserPreferences.module.css
  src/features/common/user-preferences/ui/UserPreferences.tsx
  src/shared/ui/Button/ui/Button.module.css
  src/shared/ui/Icons/ProfileIcon/ProfileIcon.module.css
  src/shared/ui/Icons/ProfileIcon/ProfileIcon.tsx
  src/shared/ui/Icons/ProfileIcon/index.ts
  src/shared/ui/Icons/SignOutIcon/SignOutIcon.module.css
  src/shared/ui/Icons/SignOutIcon/SignOutIcon.tsx
  src/shared/ui/Icons/SignOutIcon/index.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-524: fixed email confirm tab
  src/entities/profile/ui/EmailVerify/EmailVerify.tsx
  src/shared/ui/KeywordInput/KeywordInput.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-531: add ErrorBoundary; refactor formatAddress function
  src/app/layouts/AuthLayout/ui/AuthLayout/AuthLayout.tsx
  src/app/layouts/MainLayout/ui/MainLayout.tsx
  src/shared/helpers/formatAddress.tsx
  src/shared/ui/ErrorBoundary/index.ts
  src/shared/ui/ErrorBoundary/ui/ErrorBoundary.tsx
  src/shared/ui/ErrorElement/ui/ErrorElement.module.css
  src/shared/ui/ErrorElement/ui/ErrorElement.tsx
  src/shared/ui/KeywordInput/KeywordInput.tsx
  src/widgets/Profile/ui/UserCard/ui/UserInfoBlock/UserInfoBlock.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-524: fixed email confirm tab (#268)
  src/entities/profile/ui/EmailVerify/EmailVerify.tsx
  src/shared/ui/KeywordInput/KeywordInput.tsx
Due: npm run prettier, npm run lint:ts:fix

Path conditions:
  npm run prettier: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:ts:fix: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:css:fix: any of: *.css
