Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

.lintstagedrc:

{
  "./**/*.{ts,tsx,js,jsx}": ["npm run prettier", "npm run lint:ts:fix"],
  "*.css": "npm run lint:css:fix"
}

[fix/YH-620] - [platform] Скелетон для mainlayout на мобилке
  src/app/layouts/MainLayout/ui/MainLayout.module.css
  src/app/layouts/MainLayout/ui/MainLayout.skeleton.tsx
  src/shared/ui/AppLogo/AppLogo.skeleton.tsx
  src/widgets/Header/ui/Header.module.css
  src/widgets/Header/ui/Header.skeleton.tsx
  src/widgets/Sidebar/ui/Sidebar/Sidebar.module.css
  src/widgets/Sidebar/ui/Sidebar/Sidebar.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-679: Fixed a bug with the width of the filter block on the platform
  src/pages/interview/QuestionsPage/ui/QuestionsPage/QuestionsPage.module.css
Due: npm run lint:css:fix

YH-679: Fixed a bug with the width of the filter block on the platform (#389)
  src/pages/interview/QuestionsPage/ui/QuestionsPage/QuestionsPage.module.css
Due: npm run lint:css:fix

YH-673: tmp
  src/entities/collection/index.ts
  src/entities/collection/model/types/collection.ts
  src/entities/collection/ui/CollectionForm/CollectionForm.module.css
  src/entities/collection/ui/CollectionForm/CollectionForm.tsx
  src/features/collection/createCollection/model/lib/validation/collectionCreateSchema.ts
  src/features/collection/createCollection/model/types/collectionCreateTypes.ts
  src/features/collection/index.ts
  src/features/skill/createSkill/ui/SkillCreateForm/SkillCreateForm.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

fix/YH-620 - [platform] Скелетон для mainlayout на мобилке
  src/widgets/Sidebar/ui/Sidebar/Sidebar.module.css
  src/widgets/Sidebar/ui/Sidebar/Sidebar.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-680: add link to questions page on landing
  public/locales/en/landing.json
  public/locales/ru/landing.json
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/Landing/Header/ui/Header/Header.module.css
  src/widgets/Landing/Header/ui/Header/Header.tsx
  src/widgets/Landing/InterviewModeBlock/ui/InterviewModeBlock/InterviewModeBlock.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-681: add social media widget on the main page
  public/locales/en/main.json
  public/locales/ru/main.json
  src/pages/interview/MainPage/ui/MainPage.skeleton.tsx
  src/pages/interview/MainPage/ui/MainPage.tsx
  src/shared/assets/icons/Megaphone.svg
  src/shared/assets/icons/YeaHubCommunity.svg
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/Main/IncompleteProfileStub/index.ts
  src/widgets/Main/IncompleteProfileStub/ui/IncompleteProfileStub.module.css
  src/widgets/Main/IncompleteProfileStub/ui/IncompleteProfileStub.skeleton.tsx
  src/widgets/Main/IncompleteProfileStub/ui/IncompleteProfileStub.tsx
  src/widgets/Main/SubscribeToMedia/index.ts
  src/widgets/Main/SubscribeToMedia/ui/SubscribeToMedia.module.css
  src/widgets/Main/SubscribeToMedia/ui/SubscribeToMedia.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-681: add adaptive, fix translation
  public/locales/en/main.json
  public/locales/ru/main.json
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/Main/IncompleteProfileStub/ui/IncompleteProfileStub.tsx
  src/widgets/Main/SubscribeToMedia/ui/SubscribeToMedia.module.css
  src/widgets/Main/SubscribeToMedia/ui/SubscribeToMedia.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-680: refactoring
  public/locales/ru/landing.json
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/Landing/Header/ui/Header/Header.module.css
  src/widgets/Landing/Header/ui/Header/Header.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

fix/YH-663 - [platform] - Дергаются кнопки
  src/app/layouts/MainLayout/ui/MainLayout.tsx
  src/shared/ui/Drawer/ui/Drawer.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-681: add adaptive
  src/pages/interview/MainPage/ui/MainPage.module.css
  src/pages/interview/MainPage/ui/MainPage.tsx
  src/widgets/Main/SubscribeToMedia/ui/SubscribeToMedia.module.css
  src/widgets/Main/SubscribeToMedia/ui/SubscribeToMedia.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-680: add link to questions page on landing (#391)
  public/locales/en/landing.json
  public/locales/ru/landing.json
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/Landing/Header/ui/Header/Header.module.css
  src/widgets/Landing/Header/ui/Header/Header.tsx
  src/widgets/Landing/InterviewModeBlock/ui/InterviewModeBlock/InterviewModeBlock.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-681: add social media widget on the main page (#392)
  public/locales/en/main.json
  public/locales/ru/main.json
  src/pages/interview/MainPage/ui/MainPage.module.css
  src/pages/interview/MainPage/ui/MainPage.skeleton.tsx
  src/pages/interview/MainPage/ui/MainPage.tsx
  src/shared/assets/icons/Megaphone.svg
  src/shared/assets/icons/YeaHubCommunity.svg
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/Main/IncompleteProfileStub/index.ts
  src/widgets/Main/IncompleteProfileStub/ui/IncompleteProfileStub.module.css
  src/widgets/Main/IncompleteProfileStub/ui/IncompleteProfileStub.skeleton.tsx
  src/widgets/Main/IncompleteProfileStub/ui/IncompleteProfileStub.tsx
  src/widgets/Main/SubscribeToMedia/index.ts
  src/widgets/Main/SubscribeToMedia/ui/SubscribeToMedia.module.css
  src/widgets/Main/SubscribeToMedia/ui/SubscribeToMedia.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

fix/YH-663 - [platform] - Дергаются кнопки (#395)
  src/app/layouts/MainLayout/ui/MainLayout.tsx
  src/shared/ui/Drawer/ui/Drawer.tsx
Due: npm run prettier, npm run lint:ts:fix

[fix/YH-620] - [platform] Скелетон для mainlayout на мобилке (#390)
  src/app/layouts/MainLayout/ui/MainLayout.module.css
  src/app/layouts/MainLayout/ui/MainLayout.skeleton.tsx
  src/shared/ui/AppLogo/AppLogo.skeleton.tsx
  src/widgets/Header/ui/Header.module.css
  src/widgets/Header/ui/Header.skeleton.tsx
  src/widgets/Sidebar/ui/Sidebar/Sidebar.module.css
  src/widgets/Sidebar/ui/Sidebar/Sidebar.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

Release 1.0.3
  RELEASE_NOTES.md
  package.json
Due: none

YH-685: fix footer
  src/app/layouts/LandingLayout/ui/LandingLayout.module.css
Due: npm run lint:css:fix

YH-682: fix popover
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsPage/PublicQuestionsPage.tsx
  src/shared/ui/Drawer/ui/Drawer.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-687: fix icons, QuestionsPage & ProfilePage style
  src/pages/interview/QuestionsPage/ui/QuestionsPage/QuestionsPage.tsx
  src/pages/profile/ProfilePage/ui/ProfilePage.module.css
  src/shared/ui/BaseFilterSection/BaseFilterSection.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-633: feature filter users
  public/locales/en/user.json
  public/locales/ru/user.json
  src/entities/user/index.ts
  src/entities/user/ui/ChooseUsersRole/ChooseUsersRole.tsx
  src/entities/user/ui/VerifiedEmail/VerifiedEmail.tsx
  src/features/admin/UsersFilterSet/index.tsx
  src/features/admin/UsersFilterSet/ui/UsersFilterSet.tsx
  src/pages/admin/UserTablePage/ui/UserTablePage/UsersTablePage.tsx
  src/shared/hooks/useUserFilter.ts
Due: npm run prettier, npm run lint:ts:fix

YH-670: add collection page
  public/locales/en/collection.json
  public/locales/en/translation.json
  public/locales/ru/collection.json
  public/locales/ru/translation.json
  src/app/providers/router/config/routeConfig.tsx
  src/app/providers/store/config/config.ts
  src/entities/collection/api/__mock__/data/collectionsMock.ts
  src/entities/collection/api/__mock__/data/index.ts
  src/entities/collection/index.ts
  src/entities/collection/model/types/collection.ts
  src/pages/admin/CollectionsPage/index.ts
  src/pages/admin/CollectionsPage/model/selectors/collectionsPageSelectors.ts
  src/pages/admin/CollectionsPage/model/slices/collectionsPageSlice.ts
  src/pages/admin/CollectionsPage/model/types/collectionsPageTypes.ts
  src/pages/admin/CollectionsPage/ui/CollectionsPage/CollectionsPage.lazy.tsx
  src/pages/admin/CollectionsPage/ui/CollectionsPage/CollectionsPage.module.css
  src/pages/admin/CollectionsPage/ui/CollectionsPage/CollectionsPage.tsx
  src/shared/assets/icons/collection.svg
  src/shared/config/i18n/i18n.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
  src/shared/config/store/State.ts
  src/shared/ui/Table/ui/Table.module.css
  src/widgets/CollectionsTable/index.ts
  src/widgets/CollectionsTable/ui/CollectionsTable.module.css
  src/widgets/CollectionsTable/ui/CollectionsTable.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-687: fix icons, QuestionsPage & ProfilePage style (#399)
  src/pages/interview/QuestionsPage/ui/QuestionsPage/QuestionsPage.tsx
  src/pages/profile/ProfilePage/ui/ProfilePage.module.css
  src/shared/ui/BaseFilterSection/BaseFilterSection.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-682: fix popover (#398)
  src/pages/landing/PublicQuestionsPage/ui/PublicQuestionsPage/PublicQuestionsPage.tsx
  src/shared/ui/Drawer/ui/Drawer.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-685: fix footer (#397)
  src/app/layouts/LandingLayout/ui/LandingLayout.module.css
Due: npm run lint:css:fix

YH-633: feature: request-roles
  public/locales/ru/user.json
  src/entities/user/api/userRoleApi.ts
  src/entities/user/model/constants/roleConstants.ts
  src/entities/user/model/types/role.ts
  src/entities/user/ui/ChooseUsersRole/ChooseUsersRole.tsx
  src/features/admin/UsersFilterSet/hooks/useUserFilter.ts
  src/features/admin/UsersFilterSet/index.tsx
  src/features/admin/UsersFilterSet/ui/UsersFilterSet.tsx
  src/pages/admin/UserTablePage/ui/UserTablePage/UsersTablePage.tsx
  src/shared/config/api/apiTags.ts
Due: npm run prettier, npm run lint:ts:fix

YH-633: fix from conversation
  public/locales/en/user.json
  src/entities/user/ui/ChooseUsersRole/ChooseUsersRole.tsx
  src/entities/user/ui/VerifiedEmail/VerifiedEmail.module.css
  src/entities/user/ui/VerifiedEmail/VerifiedEmail.tsx
  src/features/admin/UsersFilterSet/hooks/useUserFilter.ts
  src/features/admin/UsersFilterSet/ui/UsersFilterSet.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-633: conflict resolution and fix
  src/entities/user/ui/ChooseUsersRole/ChooseUsersRole.tsx
  src/entities/user/ui/VerifiedEmail/VerifiedEmail.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-633: conflict resolution
  public/locales/ru/landing.json
  src/app/layouts/MainLayout/ui/MainLayout.skeleton.tsx
  src/app/layouts/MainLayout/ui/MainLayout.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-670: add collection page (#401)
  public/locales/en/collection.json
  public/locales/en/translation.json
  public/locales/ru/collection.json
  public/locales/ru/translation.json
  src/app/providers/router/config/routeConfig.tsx
  src/app/providers/store/config/config.ts
  src/entities/collection/api/__mock__/data/collectionsMock.ts
  src/entities/collection/api/__mock__/data/index.ts
  src/entities/collection/index.ts
  src/entities/collection/model/types/collection.ts
  src/pages/admin/CollectionsPage/index.ts
  src/pages/admin/CollectionsPage/model/selectors/collectionsPageSelectors.ts
  src/pages/admin/CollectionsPage/model/slices/collectionsPageSlice.ts
  src/pages/admin/CollectionsPage/model/types/collectionsPageTypes.ts
  src/pages/admin/CollectionsPage/ui/CollectionsPage/CollectionsPage.lazy.tsx
  src/pages/admin/CollectionsPage/ui/CollectionsPage/CollectionsPage.module.css
  src/pages/admin/CollectionsPage/ui/CollectionsPage/CollectionsPage.tsx
  src/shared/assets/icons/collection.svg
  src/shared/config/i18n/i18n.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
  src/shared/config/store/State.ts
  src/shared/ui/Table/ui/Table.module.css
  src/widgets/CollectionsTable/index.ts
  src/widgets/CollectionsTable/ui/CollectionsTable.module.css
  src/widgets/CollectionsTable/ui/CollectionsTable.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

[fix/YH-683] - Drawer problem
  src/app/layouts/MainLayout/ui/MainLayout.tsx
  src/features/question/questionsFilterSet/ui/QuestionsFilterSet.tsx
  src/shared/ui/Drawer/ui/Drawer.module.css
  src/shared/ui/Drawer/ui/Drawer.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-671: Added collection creation page
  public/locales/en/collections.json
  public/locales/en/translation.json
  public/locales/ru/collections.json
  public/locales/ru/translation.json
  src/app/providers/router/config/routeConfig.tsx
  src/entities/collection/index.ts
  src/entities/collection/model/types/collectionFormProps.ts
  src/entities/collection/ui/CollectionForm/CollectionForm.module.css
  src/entities/collection/ui/CollectionForm/CollectionForm.tsx
  src/features/collections/createCollection/index.ts
  src/features/collections/createCollection/model/lib/validation/collectionCreateSchema.ts
  src/features/collections/createCollection/model/types/collectionCreateTypes.ts
  src/features/collections/createCollection/model/types/collectionFormHeader.ts
  src/features/collections/createCollection/ui/CollectionCreateForm/CollectionCreateForm.module.css
  src/features/collections/createCollection/ui/CollectionCreateForm/CollectionCreateForm.tsx
  src/features/collections/createCollection/ui/CollectionCreateFormHeader/CollectionCreateFormHeader.tsx
  src/pages/admin/CollectionCreatePage/index.ts
  src/pages/admin/CollectionCreatePage/ui/CollectionCreatePage.lazy.tsx
  src/pages/admin/CollectionCreatePage/ui/CollectionCreatePage.tsx
  src/shared/assets/icons/collections.svg
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

[fix/YH-683] - Drawer problem (#403)
  src/app/layouts/MainLayout/ui/MainLayout.tsx
  src/features/question/questionsFilterSet/ui/QuestionsFilterSet.tsx
  src/shared/ui/Drawer/ui/Drawer.module.css
  src/shared/ui/Drawer/ui/Drawer.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

Release 1.0.4
  RELEASE_NOTES.md
  package.json
Due: none

YH-671: Fixed all conflicts and eliminated comments on comments in the code
  public/locales/en/collection.json
  public/locales/en/collections.json
  public/locales/en/translation.json
  public/locales/ru/collection.json
  public/locales/ru/collections.json
  public/locales/ru/landing.json
  public/locales/ru/translation.json
  src/app/layouts/MainLayout/ui/MainLayout.skeleton.tsx
  src/app/layouts/MainLayout/ui/MainLayout.tsx
  src/entities/collection/model/types/collectionFormProps.ts
  src/entities/collection/ui/CollectionForm/CollectionForm.tsx
  src/features/collections/createCollection/model/lib/validation/collectionCreateSchema.ts
  src/features/collections/createCollection/model/types/collectionCreateTypes.ts
  src/features/collections/createCollection/model/types/collectionFormHeader.ts
  src/features/collections/createCollection/ui/CollectionCreateFormHeader/CollectionCreateFormHeader.tsx
  src/pages/admin/CollectionsPage/ui/CollectionsPage/CollectionsPage.tsx
  src/shared/assets/icons/collections.svg
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/CollectionsTable/ui/CollectionsTable.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-633: fix problem from conversation
  src/entities/user/api/userApi.ts
  src/entities/user/api/userRoleApi.ts
  src/entities/user/model/constants/roleConstants.ts
  src/entities/user/model/constants/userConstants.ts
  src/entities/user/model/types/role.ts
  src/entities/user/model/types/user.ts
  src/entities/user/ui/ChooseUsersRole/ChooseUsersRole.tsx
  src/features/user/UsersFilterSet/hooks/useUserFilter.ts
  src/features/user/UsersFilterSet/index.tsx
  src/features/user/UsersFilterSet/ui/UsersFilterSet.tsx
  src/pages/admin/UserTablePage/ui/UserTablePage/UsersTablePage.tsx
  src/shared/helpers/toCamelCase/index.ts
  src/shared/helpers/toCamelCase/toCamelCase.ts
Due: npm run prettier, npm run lint:ts:fix

YH-691: fix layout height
  src/app/layouts/LandingLayout/ui/LandingLayout.module.css
Due: npm run lint:css:fix

YH-691: fix layout height (#405)
  src/app/layouts/LandingLayout/ui/LandingLayout.module.css
Due: npm run lint:css:fix

YH-633: fix: key title and convertRole function
  public/locales/ru/user.json
  src/entities/user/ui/ChooseUsersRole/ChooseUsersRole.tsx
  src/entities/user/ui/VerifiedEmail/VerifiedEmail.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/helpers/convertRoleNameToEnumKey/convertRoleNameToEnumKey.ts
  src/shared/helpers/convertRoleNameToEnumKey/index.ts
  src/shared/helpers/toCamelCase/index.ts
  src/shared/helpers/toCamelCase/toCamelCase.ts
  src/widgets/UsersTable/ui/UsersTable.tsx
Due: npm run prettier, npm run lint:ts:fix

Release 1.0.5
  RELEASE_NOTES.md
  package.json
Due: none

[feature/YH-671]-Added collection creation page (#394)
  public/locales/en/collection.json
  public/locales/en/translation.json
  public/locales/ru/collection.json
  public/locales/ru/landing.json
  public/locales/ru/translation.json
  src/app/layouts/MainLayout/ui/MainLayout.skeleton.tsx
  src/app/providers/router/config/routeConfig.tsx
  src/entities/collection/index.ts
  src/entities/collection/ui/CollectionForm/CollectionForm.module.css
  src/entities/collection/ui/CollectionForm/CollectionForm.tsx
  src/features/collections/createCollection/index.ts
  src/features/collections/createCollection/model/lib/validation/collectionCreateSchema.ts
  src/features/collections/createCollection/model/types/collectionCreateTypes.ts
  src/features/collections/createCollection/ui/CollectionCreateForm/CollectionCreateForm.module.css
  src/features/collections/createCollection/ui/CollectionCreateForm/CollectionCreateForm.tsx
  src/features/collections/createCollection/ui/CollectionCreateFormHeader/CollectionCreateFormHeader.tsx
  src/pages/admin/CollectionCreatePage/index.ts
  src/pages/admin/CollectionCreatePage/ui/CollectionCreatePage.lazy.tsx
  src/pages/admin/CollectionCreatePage/ui/CollectionCreatePage.tsx
  src/pages/admin/CollectionsPage/ui/CollectionsPage/CollectionsPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
  src/widgets/CollectionsTable/ui/CollectionsTable.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix
