Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1614: stubs for analytics pages
  src/pages/analytics/analytics/ui/AnalyticsPage/AnalyticsPage.tsx
  src/pages/analytics/difficultQuestions/ui/DifficultQuestionsPage/DifficultQuestionsPage.tsx
  src/pages/analytics/popularQuestions/ui/PopularQuestionsPage/PopularQuestionsPage.tsx
  src/pages/analytics/popularSkills/ui/PopularSkillsPage/PopularSkillsPage.tsx
  src/pages/analytics/progressSpecializations/ui/ProgressSpecializationsPage/ProgressSpecializationsPage.tsx
  src/pages/analytics/skillsProficiency/ui/SkillsProficiencyPage/SkillsProficiencyPage.tsx
  src/widgets/analytics/SpecializationProgressWidget/ui/SpecializationProgressWidget/SpecializationProgressWidget.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1578: Mock request for resources (#1049)
  src/app/msw/handlers.ts
  src/entities/resource/api/__mock__/data/index.ts
  src/entities/resource/api/__mock__/data/resourcesMock.ts
  src/entities/resource/api/__mock__/index.ts
  src/entities/resource/api/__mock__/resourceMock.ts
  src/entities/resource/api/__mock__/resourcesListMock.ts
  src/entities/resource/index.ts
  src/widgets/Marketplace/ui/RecourcesList/ResourcesList.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1615: added stubs for QuestionPage and QuestionsPage (#1075)
  public/locales/en/questions.json
  public/locales/ru/questions.json
  src/pages/landing/publicQuestions/ui/PublicQuestionsPage/PublicQuestionsPage.tsx
  src/pages/wiki/question/questionDetail/ui/QuestionPage/QuestionPage.tsx
  src/pages/wiki/question/questionDetail/ui/QuestionPageContent/QuestionPageContent.module.css
  src/pages/wiki/question/questionDetail/ui/QuestionPageContent/QuestionPageContent.skeleton.tsx
  src/pages/wiki/question/questionDetail/ui/QuestionPageContent/QuestionPageContent.tsx
  src/pages/wiki/question/questions/ui/QuestionsPage/QuestionsPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1615: added "My resources" filter to admin resources page
  public/locales/en/resources.json
  public/locales/ru/resources.json
  src/features/resources/filterResources/model/hooks/useGetResourcesFilterParams.ts
  src/features/resources/filterResources/model/hooks/useResourcesFilters.ts
  src/features/resources/filterResources/model/types/filters.ts
  src/features/resources/filterResources/ui/ResourcesFilters/ResourcesFilters.tsx
  src/pages/admin/resource/resources/ui/tabs/ResourcesAllTab/ResourcesAllTab.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1618: moved collection content files
  src/pages/wiki/collection/collectionDetail/index.ts
  src/pages/wiki/collection/collectionDetail/ui/CollectionContent/CollectionContent.module.css
  src/pages/wiki/collection/collectionDetail/ui/CollectionContent/CollectionContent.skeleton.tsx
  src/pages/wiki/collection/collectionDetail/ui/CollectionContent/CollectionContent.tsx
  src/pages/wiki/collection/collectionDetail/ui/CollectionPage/CollectionPage.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1618: refactor CollectionPage with PageWrapper and component decomposition
  public/locales/en/questions.json
  public/locales/ru/questions.json
  src/app/msw/handlers.ts
  src/entities/resource/api/__mock__/data/index.ts
  src/entities/resource/api/__mock__/data/resourcesMock.ts
  src/entities/resource/api/__mock__/index.ts
  src/entities/resource/api/__mock__/resourceMock.ts
  src/entities/resource/api/__mock__/resourcesListMock.ts
  src/entities/resource/index.ts
  src/pages/landing/publicQuestions/ui/PublicQuestionsPage/PublicQuestionsPage.tsx
  src/pages/wiki/question/questionDetail/ui/QuestionPage/QuestionPage.tsx
  src/pages/wiki/question/questionDetail/ui/QuestionPageContent/QuestionPageContent.module.css
  src/pages/wiki/question/questionDetail/ui/QuestionPageContent/QuestionPageContent.skeleton.tsx
  src/pages/wiki/question/questionDetail/ui/QuestionPageContent/QuestionPageContent.tsx
  src/pages/wiki/question/questions/ui/QuestionsPage/QuestionsPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/Marketplace/ui/RecourcesList/ResourcesList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1576: added correct text for possible errors for creating company
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/features/company/createCompany/index.ts
  src/features/company/createCompany/lib/utils/getCreateCompanyApiErrorMessage.ts
  src/features/company/createCompany/model/types/companyCreateTypes.ts
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1576: added correct text for possible errors for creating company
  src/entities/resource/api/__mock__/index.ts
  src/entities/resource/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1618: fix export
  src/pages/wiki/collection/collectionDetail/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1615: added "My resources" filter to admin resources page (#1079)
  public/locales/en/resources.json
  public/locales/ru/resources.json
  src/features/resources/filterResources/model/hooks/useGetResourcesFilterParams.ts
  src/features/resources/filterResources/model/hooks/useResourcesFilters.ts
  src/features/resources/filterResources/model/types/filters.ts
  src/features/resources/filterResources/ui/ResourcesFilters/ResourcesFilters.tsx
  src/pages/admin/resource/resources/ui/tabs/ResourcesAllTab/ResourcesAllTab.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1576: fixed comments
  src/features/company/createCompany/api/createCompanyApi.ts
  src/features/company/editCompany/api/editCompanyApi.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1576: fixed comments
  public/locales/en/resources.json
  public/locales/ru/resources.json
  src/features/resources/filterResources/model/hooks/useGetResourcesFilterParams.ts
  src/features/resources/filterResources/model/hooks/useResourcesFilters.ts
  src/features/resources/filterResources/model/types/filters.ts
  src/features/resources/filterResources/ui/ResourcesFilters/ResourcesFilters.tsx
  src/pages/admin/resource/resources/ui/tabs/ResourcesAllTab/ResourcesAllTab.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1614: сhanges have been made based on comments
  src/pages/analytics/analytics/ui/AnalyticsPage/AnalyticsPage.tsx
  src/pages/analytics/difficultQuestions/ui/DifficultQuestionsPage/DifficultQuestionsPage.tsx
  src/pages/analytics/popularQuestions/ui/PopularQuestionsPage/PopularQuestionsPage.tsx
  src/pages/analytics/popularSkills/ui/PopularSkillsPage/PopularSkillsPage.tsx
  src/pages/analytics/progressSpecializations/ui/ProgressSpecializationsPage/ProgressSpecializationsPage.tsx
  src/pages/analytics/skillsProficiency/ui/SkillsProficiencyPage/SkillsProficiencyPage.tsx
  src/widgets/analytics/SpecializationProgressWidget/ui/SpecializationProgressWidget/SpecializationProgressWidget.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1618: added stubs for empty collection states with translations (#1076)
  public/locales/en/collection.json
  public/locales/ru/collection.json
  src/entities/resource/api/__mock__/index.ts
  src/entities/resource/index.ts
  src/pages/landing/publicCollections/ui/PublicCollectionsPage/PublicCollectionsPage.tsx
  src/pages/wiki/collection/collectionDetail/index.ts
  src/pages/wiki/collection/collectionDetail/ui/CollectionActions/CollectionActions.module.css
  src/pages/wiki/collection/collectionDetail/ui/CollectionActions/CollectionActions.tsx
  src/pages/wiki/collection/collectionDetail/ui/CollectionContent/CollectionContent.module.css
  src/pages/wiki/collection/collectionDetail/ui/CollectionContent/CollectionContent.skeleton.tsx
  src/pages/wiki/collection/collectionDetail/ui/CollectionContent/CollectionContent.tsx
  src/pages/wiki/collection/collectionDetail/ui/CollectionPage/CollectionPage.tsx
  src/pages/wiki/collection/collections/ui/CollectionsPage/CollectionsPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1546: refactor
  package-lock.json
  package.json
  public/locales/en/challenge.json
  public/locales/ru/challenge.json
  src/entities/challenge/index.ts
  src/entities/challenge/ui/ChallengeCard/index.ts
  src/entities/challenge/ui/ChallengeDescription/ChallengeDescription.module.css
  src/entities/challenge/ui/ChallengeDescription/ChallengeDescription.tsx
  src/entities/challenge/ui/ChallengeSolutions/ChallengeSolutions.tsx
  src/pages/liveCoding/challenge/ui/ChallengePage.module.css
  src/pages/liveCoding/challenge/ui/ChallengePage.tsx
  src/shared/assets/icons/index.ts
  src/shared/assets/icons/refresh.svg
  src/shared/config/i18n/i18nNamespaces.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Icon/icons.ts
  src/shared/ui/Icon/types.ts
  src/shared/ui/Tabs/Tabs.tsx
  src/widgets/challenge/ChallengeTabs/index.ts
  src/widgets/challenge/ChallengeTabs/model/hooks/useChallengeTabsQuery.ts
  src/widgets/challenge/ChallengeTabs/model/types/types.ts
  src/widgets/challenge/ChallengeTabs/ui/ChallengeTabs.module.css
  src/widgets/challenge/ChallengeTabs/ui/ChallengeTabs.tsx
  src/widgets/challenge/ChallengeWorkspace/index.ts
  src/widgets/challenge/ChallengeWorkspace/model/hooks/useChallengeOutputQuery.ts
  src/widgets/challenge/ChallengeWorkspace/model/types/types.ts
  src/widgets/challenge/ChallengeWorkspace/ui/ChallengeEditor/ChallengeEditor.module.css
  src/widgets/challenge/ChallengeWorkspace/ui/ChallengeEditor/ChallengeEditor.tsx
  src/widgets/challenge/ChallengeWorkspace/ui/ChallengeOutput/ChallengeOutput.module.css
  src/widgets/challenge/ChallengeWorkspace/ui/ChallengeOutput/ChallengeOutput.tsx
  src/widgets/challenge/ChallengeWorkspace/ui/ChallengeOutput/ChallengeOutputResult/ChallengeOutputResult.module.css
  src/widgets/challenge/ChallengeWorkspace/ui/ChallengeOutput/ChallengeOutputResult/ChallengeOutputResult.tsx
  src/widgets/challenge/ChallengeWorkspace/ui/ChallengeOutput/ChallengeOutputTests/ChallengeOutputTests.module.css
  src/widgets/challenge/ChallengeWorkspace/ui/ChallengeOutput/ChallengeOutputTests/ChallengeOutputTests.tsx
  src/widgets/challenge/ChallengeWorkspace/ui/ChallengeWorkspace.module.css
  src/widgets/challenge/ChallengeWorkspace/ui/ChallengeWorkspace.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1637: Fixed comments
  public/locales/en/questions.json
  public/locales/ru/questions.json
  src/entities/question/api/questionApi.ts
  src/entities/question/model/types/question.ts
  src/entities/question/ui/QuestionForm/QuestionForm.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/KeywordInput/KeywordInput.module.css
  src/shared/ui/KeywordInput/KeywordInput.tsx
  src/shared/ui/KeywordSelect/KeywordSelect.tsx
  src/shared/ui/SimpleChip/SimpleChip.module.css
  src/shared/ui/SimpleChip/SimpleChip.tsx
  src/shared/ui/SimpleChip/index.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1573: add i18n support for skill creation errors
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/features/skill/createSkill/api/createSkillApi.ts
  src/features/skill/createSkill/lib/utils/getCreateSkillApiErrorMessage.ts
  src/features/skill/createSkill/model/types/skillCreateTypes.ts
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1537: fix errors
  src/entities/topic/api/topicApi.ts
  src/entities/topic/model/types/topic.ts
  src/features/topics/deleteTopic/api/deleteTopicApi.ts
  src/features/topics/deleteTopics/model/thunks/deleteMultipleTopicsThunk.ts
  src/features/topics/editTopic/api/editTopicApi.ts
  src/features/topics/editTopic/model/types/topicEditTypes.ts
  src/features/topics/editTopic/ui/TopicEditForm/TopicEditForm.tsx
  src/features/topics/editTopic/ui/TopicEditFormHeader/TopicEditFormHeader.tsx
  src/pages/admin/topic/topicDetail/ui/TopicDetailPage/TopicDetailPage.tsx
  src/pages/admin/topic/topicEdit/ui/TopicEditPage/TopicEditPage.tsx
  src/shared/config/query/apiTags.ts
  src/widgets/topic/TopicsTable/ui/TopicsTable.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1537: added topic edit page (#1065)
  .gitignore
  src/app/providers/router/routeConfig.tsx
  src/entities/topic/api/topicApi.ts
  src/entities/topic/model/types/topic.ts
  src/features/topics/deleteTopic/api/deleteTopicApi.ts
  src/features/topics/deleteTopics/model/thunks/deleteMultipleTopicsThunk.ts
  src/features/topics/editTopic/api/editTopicApi.ts
  src/features/topics/editTopic/index.ts
  src/features/topics/editTopic/lib/validation/topicEditSchema.ts
  src/features/topics/editTopic/model/constants/editTopicConstants.ts
  src/features/topics/editTopic/model/types/topicEditTypes.ts
  src/features/topics/editTopic/ui/TopicEditButton/TopicEditButton.tsx
  src/features/topics/editTopic/ui/TopicEditForm/TopicEditForm.module.css
  src/features/topics/editTopic/ui/TopicEditForm/TopicEditForm.tsx
  src/features/topics/editTopic/ui/TopicEditFormHeader/TopicEditFormHeader.module.css
  src/features/topics/editTopic/ui/TopicEditFormHeader/TopicEditFormHeader.tsx
  src/pages/admin/topic/topicDetail/ui/TopicDetailPage/TopicDetailPage.tsx
  src/pages/admin/topic/topicEdit/index.ts
  src/pages/admin/topic/topicEdit/ui/TopicEditPage/TopicEditPage.lazy.tsx
  src/pages/admin/topic/topicEdit/ui/TopicEditPage/TopicEditPage.tsx
  src/shared/config/query/apiTags.ts
  src/widgets/topic/TopicsTable/ui/TopicsTable.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1573: add i18n support for skill creation errors (#1081)
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/features/skill/createSkill/api/createSkillApi.ts
  src/features/skill/createSkill/lib/utils/getCreateSkillApiErrorMessage.ts
  src/features/skill/createSkill/model/types/skillCreateTypes.ts
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1637: Rework keywordForms and KeywordInput (#1077)
  public/locales/en/questions.json
  public/locales/ru/questions.json
  src/entities/question/api/questionApi.ts
  src/entities/question/model/constants/question.ts
  src/entities/question/model/types/question.ts
  src/entities/question/ui/QuestionForm/QuestionForm.module.css
  src/entities/question/ui/QuestionForm/QuestionForm.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/KeywordInput/KeywordInput.module.css
  src/shared/ui/KeywordInput/KeywordInput.tsx
  src/shared/ui/KeywordSelect/KeywordSelect.tsx
  src/shared/ui/SimpleChip/SimpleChip.module.css
  src/shared/ui/SimpleChip/SimpleChip.tsx
  src/shared/ui/SimpleChip/index.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1576: added correct text for possible errors for creating company (#1080)
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/features/company/createCompany/api/createCompanyApi.ts
  src/features/company/createCompany/index.ts
  src/features/company/createCompany/lib/utils/getCreateCompanyApiErrorMessage.ts
  src/features/company/createCompany/model/types/companyCreateTypes.ts
  src/features/company/editCompany/api/editCompanyApi.ts
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1546: add PageWrapper to new pages
  public/locales/en/task.json
  public/locales/ru/task.json
  src/pages/tasks/task/ui/TaskPage.tsx
  src/pages/tasks/tasks/ui/TasksPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1642: Stub.tsx stories
  .loki/reference/chrome_iphone7_shared_Stub_Access_Denied.png
  .loki/reference/chrome_iphone7_shared_Stub_Access_Denied_Subscription.png
  .loki/reference/chrome_iphone7_shared_Stub_Access_Denied_Verify.png
  .loki/reference/chrome_iphone7_shared_Stub_Empty.png
  .loki/reference/chrome_iphone7_shared_Stub_Empty_With_Action.png
  .loki/reference/chrome_iphone7_shared_Stub_Empty_Without_Text.png
  .loki/reference/chrome_iphone7_shared_Stub_Error.png
  .loki/reference/chrome_iphone7_shared_Stub_Error_Disabled_Action.png
  .loki/reference/chrome_iphone7_shared_Stub_Filter_Empty.png
  .loki/reference/chrome_laptop_shared_Stub_Access_Denied.png
  .loki/reference/chrome_laptop_shared_Stub_Access_Denied_Subscription.png
  .loki/reference/chrome_laptop_shared_Stub_Access_Denied_Verify.png
  .loki/reference/chrome_laptop_shared_Stub_Empty.png
  .loki/reference/chrome_laptop_shared_Stub_Empty_With_Action.png
  .loki/reference/chrome_laptop_shared_Stub_Empty_Without_Text.png
  .loki/reference/chrome_laptop_shared_Stub_Error.png
  .loki/reference/chrome_laptop_shared_Stub_Error_Disabled_Action.png
  .loki/reference/chrome_laptop_shared_Stub_Filter_Empty.png
  src/shared/ui/Stub/Stub.stories.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1614: stubs for analytics pages (#1078)
  src/pages/analytics/analytics/ui/AnalyticsPage/AnalyticsPage.tsx
  src/pages/analytics/difficultQuestions/ui/DifficultQuestionsPage/DifficultQuestionsPage.tsx
  src/pages/analytics/popularQuestions/ui/PopularQuestionsPage/PopularQuestionsPage.tsx
  src/pages/analytics/popularSkills/ui/PopularSkillsPage/PopularSkillsPage.tsx
  src/pages/analytics/progressSpecializations/ui/ProgressSpecializationsPage/ProgressSpecializationsPage.tsx
  src/pages/analytics/skillsProficiency/ui/SkillsProficiencyPage/SkillsProficiencyPage.tsx
Due: npm run prettier, npm run lint:ts:fix

Release 1.6.0
  RELEASE_NOTES.md
  package-lock.json
  package.json
Due: none

YH-1622: add stubs for admin question pages
  public/locales/en/questions.json
  public/locales/ru/questions.json
  src/app/layouts/MainLayout/SkeletonGenerator/SkeletonGenerator.tsx
  src/pages/admin/question/questionCreate/ui/QuestionCreatePage/QuestionCreatePage.tsx
  src/pages/admin/question/questionDetail/index.ts
  src/pages/admin/question/questionDetail/ui/QuestionPage/QuestionPage.module.css
  src/pages/admin/question/questionDetail/ui/QuestionPage/QuestionPage.tsx
  src/pages/admin/question/questionDetail/ui/QuestionPageContent/QuestionPageContent.module.css
  src/pages/admin/question/questionDetail/ui/QuestionPageContent/QuestionPageContent.skeleton.tsx
  src/pages/admin/question/questionDetail/ui/QuestionPageContent/QuestionPageContent.tsx
  src/pages/admin/question/questionEdit/ui/QuestionEditPage/QuestionEditPage.tsx
  src/pages/admin/question/questions/ui/QuestionsTablePage/QuestionsTablePage.tsx
  src/pages/landing/publicQuestions/ui/PublicQuestionsPage/PublicQuestionsPage.tsx
  src/pages/wiki/question/questions/ui/QuestionsPage/QuestionsPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1520: isMy requests filter added
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/features/resources/myRequestsFilter/index.ts
  src/features/resources/myRequestsFilter/model/hooks.ts
  src/features/resources/myRequestsFilter/ui/MyRequestsToggle.tsx
  src/pages/admin/resource/resources/ui/ResourcesPage/ResourcesPage.tsx
  src/pages/admin/resource/resources/ui/tabs/ResourcesRequestsTab/ResourcesRequestsTab.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1623: add stubs for admin collections pages
  public/locales/en/collection.json
  public/locales/ru/collection.json
  src/pages/admin/collection/collectionCreate/ui/CollectionCreatePage/CollectionCreatePage.tsx
  src/pages/admin/collection/collectionDetail/ui/CollectionPage/CollectionPage.tsx
  src/pages/admin/collection/collectionEdit/ui/CollectionEditPage/CollectionEditPage.tsx
  src/pages/admin/collection/collections/ui/CollectionsPage/CollectionsPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1622: add stubs for admin question pages (#1084)
  public/locales/en/questions.json
  public/locales/ru/questions.json
  src/app/layouts/MainLayout/SkeletonGenerator/SkeletonGenerator.tsx
  src/pages/admin/question/questionCreate/ui/QuestionCreatePage/QuestionCreatePage.tsx
  src/pages/admin/question/questionDetail/index.ts
  src/pages/admin/question/questionDetail/ui/QuestionPage/QuestionPage.module.css
  src/pages/admin/question/questionDetail/ui/QuestionPage/QuestionPage.tsx
  src/pages/admin/question/questionDetail/ui/QuestionPageContent/QuestionPageContent.module.css
  src/pages/admin/question/questionDetail/ui/QuestionPageContent/QuestionPageContent.skeleton.tsx
  src/pages/admin/question/questionDetail/ui/QuestionPageContent/QuestionPageContent.tsx
  src/pages/admin/question/questionEdit/ui/QuestionEditPage/QuestionEditPage.tsx
  src/pages/admin/question/questions/ui/QuestionsTablePage/QuestionsTablePage.tsx
  src/pages/landing/publicQuestions/ui/PublicQuestionsPage/PublicQuestionsPage.tsx
  src/pages/wiki/question/questions/ui/QuestionsPage/QuestionsPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1623: resolved conflicts and corrected based on comments
  public/locales/en/collection.json
  public/locales/ru/collection.json
  src/pages/admin/collection/collectionDetail/ui/CollectionPage/CollectionPage.tsx
  src/pages/admin/collection/collectionEdit/ui/CollectionEditPage/CollectionEditPage.tsx
  src/pages/admin/collection/collections/ui/CollectionsPage/CollectionsPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1580: added mocks for my requests of resourses
  src/entities/resource/api/__mock__/data/myRequestsMock.ts
  src/entities/resource/api/__mock__/index.ts
  src/entities/resource/api/__mock__/myRequestsResoursesMock.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1580: added mocks for my requests of resourses
  public/locales/en/questions.json
  public/locales/ru/questions.json
  src/app/layouts/MainLayout/SkeletonGenerator/SkeletonGenerator.tsx
  src/pages/admin/question/questionCreate/ui/QuestionCreatePage/QuestionCreatePage.tsx
  src/pages/admin/question/questionDetail/index.ts
  src/pages/admin/question/questionDetail/ui/QuestionPage/QuestionPage.module.css
  src/pages/admin/question/questionDetail/ui/QuestionPage/QuestionPage.tsx
  src/pages/admin/question/questionDetail/ui/QuestionPageContent/QuestionPageContent.module.css
  src/pages/admin/question/questionDetail/ui/QuestionPageContent/QuestionPageContent.skeleton.tsx
  src/pages/admin/question/questionDetail/ui/QuestionPageContent/QuestionPageContent.tsx
  src/pages/admin/question/questionEdit/ui/QuestionEditPage/QuestionEditPage.tsx
  src/pages/admin/question/questions/ui/QuestionsTablePage/QuestionsTablePage.tsx
  src/pages/landing/publicQuestions/ui/PublicQuestionsPage/PublicQuestionsPage.tsx
  src/pages/wiki/question/questions/ui/QuestionsPage/QuestionsPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1580: added mocks for my requests of resourses
  src/entities/question/ui/QuestionForm/QuestionForm.module.css
  src/shared/ui/KeywordInput/KeywordInput.module.css
Due: npm run lint:css:fix

YH-1642: Stub.tsx stories (#1082)
  .loki/reference/chrome_iphone7_shared_Stub_Access_Denied.png
  .loki/reference/chrome_iphone7_shared_Stub_Access_Denied_Subscription.png
  .loki/reference/chrome_iphone7_shared_Stub_Access_Denied_Verify.png
  .loki/reference/chrome_iphone7_shared_Stub_Empty.png
  .loki/reference/chrome_iphone7_shared_Stub_Empty_With_Action.png
  .loki/reference/chrome_iphone7_shared_Stub_Empty_Without_Text.png
  .loki/reference/chrome_iphone7_shared_Stub_Error.png
  .loki/reference/chrome_iphone7_shared_Stub_Error_Disabled_Action.png
  .loki/reference/chrome_iphone7_shared_Stub_Filter_Empty.png
  .loki/reference/chrome_laptop_shared_Stub_Access_Denied.png
  .loki/reference/chrome_laptop_shared_Stub_Access_Denied_Subscription.png
  .loki/reference/chrome_laptop_shared_Stub_Access_Denied_Verify.png
  .loki/reference/chrome_laptop_shared_Stub_Empty.png
  .loki/reference/chrome_laptop_shared_Stub_Empty_With_Action.png
  .loki/reference/chrome_laptop_shared_Stub_Empty_Without_Text.png
  .loki/reference/chrome_laptop_shared_Stub_Error.png
  .loki/reference/chrome_laptop_shared_Stub_Error_Disabled_Action.png
  .loki/reference/chrome_laptop_shared_Stub_Filter_Empty.png
  src/shared/ui/Stub/Stub.stories.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1580: added mocks for my requests of resourses (#1088)
  src/entities/question/ui/QuestionForm/QuestionForm.module.css
  src/entities/resource/api/__mock__/data/myRequestsMock.ts
  src/entities/resource/api/__mock__/index.ts
  src/entities/resource/api/__mock__/myRequestsResoursesMock.ts
  src/shared/ui/KeywordInput/KeywordInput.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-864: add new tests for Counter component
  src/shared/ui/Counter/Counter.test.tsx
  src/shared/ui/Counter/Counter.tsx
  src/shared/ui/Counter/constants.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1520: isMy requests filter added
  public/locales/en/resources.json
  public/locales/ru/resources.json
  src/entities/resource/model/types/resourceRequest.ts
  src/features/resources/filterResourceRequests/model/hooks/useGetResourceRequestsFilterParams.ts
  src/features/resources/filterResourceRequests/model/hooks/useResourceRequestsFilters.ts
  src/features/resources/filterResourceRequests/model/types/filters.ts
  src/features/resources/filterResourceRequests/ui/ResourceRequestsFilters/ResourceRequestsFilters.tsx
  src/pages/admin/resource/resources/ui/ResourcesPage/ResourcesPage.tsx
  src/pages/admin/resource/resources/ui/tabs/ResourcesRequestsTab/ResourcesRequestsTab.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

Path conditions:
  npm run prettier: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:ts:fix: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:css:fix: any of: *.css
