Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2207: fixed skeleton display issue in the QuestionForm.tsx (#1387)
  src/entities/question/ui/QuestionForm/QuestionForm.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2318: fix review comments
  src/widgets/IndustryTabs/ui/IndustryTabs.module.css
  src/widgets/IndustryTabs/ui/IndustryTabs.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2351: add row selections
  src/pages/admin/question/questions/ui/QuestionsTable/QuestionsTableV2.tsx
  src/pages/admin/question/questions/ui/QuestionsTablePage/QuestionsTablePage.tsx
  src/shared/ui/TableV2/TableBody.tsx
  src/shared/ui/TableV2/TableHeader.tsx
  src/shared/ui/TableV2/TableV2.module.css
  src/shared/ui/TableV2/TableV2.tsx
  src/shared/ui/TableV2/types.ts
  src/shared/ui/TableV2/useTableSelection.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2264: add skeleton for SkillEditPage
  src/pages/admin/skill/skillEdit/ui/SkillEditPage/SkillEditPage.skeleton.tsx
  src/pages/admin/skill/skillEdit/ui/SkillEditPage/SkillEditPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2270: add skeleton for the TaskEditPage
  src/app/layouts/MainLayout/SkeletonGenerator/SkeletonGenerator.tsx
  src/pages/admin/task/taskEdit/index.ts
  src/pages/admin/task/taskEdit/ui/TaskEditPage/TaskEditPage.skeleton.tsx
  src/pages/admin/task/taskEdit/ui/TaskEditPage/TaskEditPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2264: added skeleton in the SkeletonGenerator
  src/app/layouts/MainLayout/SkeletonGenerator/SkeletonGenerator.tsx
  src/pages/admin/skill/skillEdit/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2274: added UserEditPage skeleton
  src/app/layouts/MainLayout/SkeletonGenerator/SkeletonGenerator.tsx
  src/entities/user/index.ts
  src/entities/user/ui/RoleSelect/RoleSelect.skeleton.tsx
  src/entities/user/ui/UserCard/UserCard.skeleton.tsx
  src/pages/admin/user/userEdit/index.ts
  src/pages/admin/user/userEdit/ui/UserEditPage/UserEditPage.skeleton.tsx
  src/pages/admin/user/userEdit/ui/UserEditPage/UserEditPage.tsx
  src/shared/ui/SelectWithChips/SelectWithChips.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2274: fix review comments
  src/entities/user/ui/UserCard/UserCard.skeleton.tsx
  src/pages/admin/user/userEdit/ui/UserEditPage/UserEditPage.skeleton.tsx
  src/shared/ui/SelectWithChips/SelectWithChips.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2351: add action column
  src/shared/ui/TableV2/TableBody.tsx
  src/shared/ui/TableV2/TableHeader.tsx
  src/shared/ui/TableV2/TableV2.module.css
  src/shared/ui/TableV2/TableV2.tsx
  src/shared/ui/TableV2/types.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2351: add action columns to questions table
  src/features/question/deleteQuestion/index.ts
  src/pages/admin/question/questions/ui/QuestionsTable/QuestionsTableV2.tsx
  src/shared/ui/TableActions/TableActions.tsx
  src/shared/ui/TableActions/index.ts
  src/shared/ui/TableActions/types.ts
  src/shared/ui/TableV2/TableV2.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2338: fix broken localization keys for skill edit access
  public/locales/en/skill.json
  public/locales/ru/skill.json
Due: none

YH-2330: fixed the skeleton of the side information block
  src/pages/admin/collection/collectionDetail/ui/CollectionPage/CollectionPage.skeleton.tsx
  src/pages/admin/collection/collectionDetail/ui/CollectionPage/CollectionPage.tsx
  src/pages/admin/collection/collectionDetail/ui/CollectionPageContent/CollectionPageContent.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2360: removed redirect on feature flag toggle
  src/features/featureFlag/toggleActiveFeatureFlag/api/toggleActiveFeatureFlagApi.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2360: fixed switch not updating visually after toggle
  src/features/featureFlag/toggleActiveFeatureFlag/api/toggleActiveFeatureFlagApi.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2360: removed redirect on feature flag toggle (#1395)
  src/features/featureFlag/toggleActiveFeatureFlag/api/toggleActiveFeatureFlagApi.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2330: fixed the skeleton of the side information block (#1394)
  src/pages/admin/collection/collectionDetail/ui/CollectionPage/CollectionPage.skeleton.tsx
  src/pages/admin/collection/collectionDetail/ui/CollectionPage/CollectionPage.tsx
  src/pages/admin/collection/collectionDetail/ui/CollectionPageContent/CollectionPageContent.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2338: fix broken localization keys for skill edit access (#1393)
  public/locales/en/skill.json
  public/locales/ru/skill.json
Due: none

YH-2367: added error handling for topic-edit using toast and multilanguage support using i18n
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/features/topics/editTopic/api/editTopicApi.ts
  src/features/topics/editTopic/lib/utils/getEditTopicApiErrorMessage.ts
  src/features/topics/editTopic/model/types/topicEditErrorTypes.ts
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2279: Creating a skeleton for the registration page
  config/webpack/webpackConfig.ts
  src/app/layouts/AuthLayout/SkeletonGenerator/SkeletonGenerator.tsx
  src/features/authentication/registration/index.ts
  src/features/authentication/registration/ui/LoginLabel/LoginLabel.skeleton.tsx
  src/features/authentication/registration/ui/RegisterForm/RegisterForm.module.css
  src/features/authentication/registration/ui/RegisterForm/RegisterForm.skeleton.tsx
  src/pages/auth/registration/index.ts
  src/pages/auth/registration/ui/RegistrationPage/RegistrationPage.module.css
  src/pages/auth/registration/ui/RegistrationPage/RegistrationPage.skeleton.tsx
  src/widgets/authentication/registration/index.ts
  src/widgets/authentication/registration/ui/UserCreateForm.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2279: removed unnecessary settings from the config
  config/webpack/webpackConfig.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2279: Creating a skeleton for the registration page, editing before PR
  src/app/layouts/AuthLayout/SkeletonGenerator/SkeletonGenerator.test.tsx
  src/features/authentication/registration/ui/RegisterForm/RegisterForm.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2368: added mock request for getting feature-flag by id
  src/entities/featureFlag/api/__mocks__/featureFlagByIdMock.ts
  src/entities/featureFlag/api/__mocks__/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2279: fixed style error
  src/features/authentication/registration/ui/RegisterForm/RegisterForm.module.css
Due: npm run lint:css:fix

YH-2279: fix registration page styles
  src/pages/auth/registration/ui/RegistrationPage/RegistrationPage.module.css
Due: npm run lint:css:fix

YH-2279: styles fix
  .vscode/extensions.json
  src/pages/auth/registration/ui/RegistrationPage/RegistrationPage.module.css
Due: npm run lint:css:fix

YH-2368: added mock request for getting feature-flag by id (#1399)
  src/entities/featureFlag/api/__mocks__/featureFlagByIdMock.ts
  src/entities/featureFlag/api/__mocks__/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2367: added error handling for topic-edit using toast and multilanguage support using i18n (#1397)
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/features/topics/editTopic/api/editTopicApi.ts
  src/features/topics/editTopic/lib/utils/getEditTopicApiErrorMessage.ts
  src/features/topics/editTopic/model/types/topicEditErrorTypes.ts
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2102: Update mock for specialization creation request
  src/entities/auth/@x/specialization.ts
  src/entities/auth/api/__mocks__/data/authMockResponse.ts
  src/entities/auth/api/__mocks__/data/index.ts
  src/entities/auth/api/__mocks__/helpers/getMockAuthAuthor.ts
  src/entities/auth/api/__mocks__/index.ts
  src/entities/auth/index.ts
  src/entities/auth/model/types/auth.ts
  src/entities/specialization/api/__mocks__/data/specializationsMock.ts
  src/features/specialization/createSpecialization/api/__mock__/createSpecializationMock.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2206: Update comments in mock requests
  src/entities/auth/@x/specialization.ts
  src/entities/auth/api/__mocks__/data/authMockResponse.ts
  src/entities/auth/api/__mocks__/data/index.ts
  src/entities/auth/api/__mocks__/index.ts
  src/entities/auth/model/types/auth.ts
  src/entities/specialization/api/__mocks__/data/specializationsMock.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2102 (#1396)
  src/entities/auth/@x/specialization.ts
  src/entities/auth/api/__mocks__/data/authMockResponse.ts
  src/entities/auth/api/__mocks__/data/index.ts
  src/entities/auth/api/__mocks__/helpers/getMockAuthAuthor.ts
  src/entities/auth/api/__mocks__/index.ts
  src/entities/auth/index.ts
  src/entities/specialization/api/__mocks__/data/specializationsMock.ts
  src/features/specialization/createSpecialization/api/__mock__/createSpecializationMock.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2263: add skill detail page skeleton
  src/entities/skill/index.ts
  src/entities/skill/ui/SkillCard/SkillCard.skeleton.tsx
  src/features/skill/deleteSkill/index.ts
  src/features/skill/deleteSkill/ui/DeleteSkillButton/DeleteSkillButton.skeleton.tsx
  src/features/skill/deleteSkill/ui/DeleteSkillButton/DeleteSkillButton.tsx
  src/pages/admin/skill/skillDetail/ui/SkillDetailPage/SkillDetailPage.skeleton.tsx
  src/pages/admin/skill/skillDetail/ui/SkillDetailPage/SkillDetailPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2372: add subscription info in subscribe modal
  public/locales/en/subscription.json
  public/locales/ru/subscription.json
  src/features/subscriptions/subscribe/ui/SubscribeModal/SubscribeModal.module.css
  src/features/subscriptions/subscribe/ui/SubscribeModal/SubscribeModal.tsx
  src/pages/profile/settings/ui/tabs/FreeSubscriptionTab/FreeSubscriptionTab.tsx
  src/shared/assets/icons/arrowsCounterClockwise.svg
  src/shared/assets/icons/index.ts
  src/shared/assets/icons/x.svg
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Icon/icons.ts
  src/shared/ui/Icon/types.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2372: add subscription info in subscribe modal (#1402)
  public/locales/en/subscription.json
  public/locales/ru/subscription.json
  src/features/subscriptions/subscribe/ui/SubscribeModal/SubscribeModal.module.css
  src/features/subscriptions/subscribe/ui/SubscribeModal/SubscribeModal.tsx
  src/pages/profile/settings/ui/tabs/FreeSubscriptionTab/FreeSubscriptionTab.tsx
  src/shared/assets/icons/arrowsCounterClockwise.svg
  src/shared/assets/icons/index.ts
  src/shared/assets/icons/x.svg
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Icon/icons.ts
  src/shared/ui/Icon/types.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

Release 1.13.0
  RELEASE_NOTES.md
  package-lock.json
  package.json
Due: none

YH-2321: add VacanciesMarketPage
  public/locales/en/vacanciesMarket.json
  public/locales/ru/vacanciesMarket.json
  src/app/providers/router/routeConfig.tsx
  src/pages/career/vacanciesMarket/api/vacanciesMarketApi.ts
  src/pages/career/vacanciesMarket/index.ts
  src/pages/career/vacanciesMarket/model/constants/vacanciesMarket.ts
  src/pages/career/vacanciesMarket/model/types/vacanciesMarket.ts
  src/pages/career/vacanciesMarket/ui/VacanciesMarketCard/VacanciesMarketCard.module.css
  src/pages/career/vacanciesMarket/ui/VacanciesMarketCard/VacanciesMarketCard.tsx
  src/pages/career/vacanciesMarket/ui/VacanciesMarketPage/VacanciesMarketPage.lazy.ts
  src/pages/career/vacanciesMarket/ui/VacanciesMarketPage/VacanciesMarketPage.module.css
  src/pages/career/vacanciesMarket/ui/VacanciesMarketPage/VacanciesMarketPage.tsx
  src/shared/assets/icons/calendarNoDots.svg
  src/shared/assets/icons/index.ts
  src/shared/assets/images/growthChart.png
  src/shared/config/i18n/i18nNamespaces.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/query/apiTags.ts
  src/shared/config/router/routes.ts
  src/shared/ui/Icon/icons.ts
  src/shared/ui/Icon/types.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2256: added skeleton for referral link edit page
  src/app/layouts/MainLayout/SkeletonGenerator/SkeletonGenerator.tsx
  src/features/referralLinks/editReferralLink/index.ts
  src/features/referralLinks/editReferralLink/ui/ReferralLinkEditForm/ReferralLinkEditForm.skeleton.tsx
  src/features/referralLinks/editReferralLink/ui/ReferralLinkEditFormHeader/ReferralLinkEditFormHeader.skeleton.tsx
  src/pages/admin/referralLink/referralLinkEdit/index.ts
  src/pages/admin/referralLink/referralLinkEdit/ui/ReferralLinkEditPage/ReferralLinkEditPage.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2284: added skeleton for RequestResourceEditPage
  src/app/layouts/MainLayout/SkeletonGenerator/SkeletonGenerator.tsx
  src/entities/resource/index.ts
  src/entities/resource/ui/ResourceForm/ResourceForm.skeleton.tsx
  src/entities/skill/@x/resource.ts
  src/entities/specialization/@x/resource.ts
  src/features/resources/editResourceRequest/index.ts
  src/features/resources/editResourceRequest/ui/ResourceRequestEditFormWithHeader/ResourceRequestFormWithHeader.skeleton.tsx
  src/pages/wiki/resource/requestResourceEdit/index.ts
  src/pages/wiki/resource/requestResourceEdit/ui/RequestResourceEditPage/RequestResourceEditPage.skeleton.tsx
  src/pages/wiki/resource/requestResourceEdit/ui/RequestResourceEditPage/RequestResourceEditPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2258: added skeleton for resource form
  src/entities/resource/index.ts
  src/entities/resource/ui/ResourceForm/ResourceForm.skeleton.tsx
  src/entities/resource/ui/ResourceSelect/ResourceSelect.skeleton.tsx
  src/entities/skill/@x/resource.ts
  src/entities/specialization/@x/resource.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2258: added skeleton for resource create page
  src/app/layouts/MainLayout/SkeletonGenerator/SkeletonGenerator.tsx
  src/features/resources/createResource/index.ts
  src/features/resources/createResource/ui/ResourceCreateFormWithHeader/ResourceCreateFormWithHeader.skeleton.tsx
  src/pages/admin/resource/resourceCreate/index.ts
  src/pages/admin/resource/resourceCreate/ui/ResourceCreatePage/ResourceCreatePage.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2267: add skeleton for SpecializationEditPage
  src/features/specialization/editSpecialization/index.ts
  src/features/specialization/editSpecialization/ui/SpecializationEditForm/SpecializationEditForm.skeleton.tsx
  src/pages/admin/specialization/specializationEdit/ui/SpecializationEditPage/SpecializationEditPage.skeleton.tsx
  src/pages/admin/specialization/specializationEdit/ui/SpecializationEditPage/SpecializationEditPage.tsx
Due: npm run prettier, npm run lint:ts:fix

Path conditions:
  npm run prettier: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:ts:fix: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:css:fix: any of: *.css
