Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-415: Fix card styles
  src/shared/ui/Card/ui/Card.module.css
  src/shared/ui/Card/ui/Card.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-000 - setup dockerfile, actions for prod
  .github/workflows/deploy.yml
  Dockerfile.production
Due: none

YH-000 - setup dockerfile, actions for prod (#181)
  .github/workflows/deploy.yml
  Dockerfile.production
Due: none

Develop (#184)
  .github/workflows/deploy.yml
  Dockerfile.production
Due: none

YH-356: spelling fix + moved to app css variables
  public/locales/ru/profile.json
  src/shared/ui/ImageLoader/ImageLoader.module.css
Due: npm run lint:css:fix

YH-315: add skeleton for the InterviewPage (#169)
  src/pages/interview/InterviewPage/ui/InterviewPage.module.css
  src/pages/interview/InterviewPage/ui/InterviewPage.skeleton.tsx
  src/pages/interview/InterviewPage/ui/InterviewPage.tsx
  src/widgets/InterviewHistory/ui/InterviewHistoryList/InterviewHistoryList.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-399: add emptyStub svg
  src/shared/assets/icons/emptyStub.svg
  src/shared/ui/ImageWithWrapper/ImageWithWrapper.module.css
  src/shared/ui/ImageWithWrapper/ImageWithWrapper.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-415: Fix card styles (#180)
  src/shared/ui/Card/ui/Card.module.css
  src/shared/ui/Card/ui/Card.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-425: add add question page (#173)
  public/locales/en/questions.json
  public/locales/en/translation.json
  public/locales/ru/questions.json
  public/locales/ru/translation.json
  src/app/providers/router/config/routeConfig.tsx
  src/app/styles/App.css
  src/entities/question/index.ts
  src/entities/question/model/constants/question.ts
  src/entities/question/ui/ChooseQuestionComplexity/ChooseQuestionComplexity.tsx
  src/entities/question/ui/QuestionForm/QuestionForm.module.css
  src/entities/question/ui/QuestionForm/QuestionForm.tsx
  src/entities/specialization/model/types/specialization.ts
  src/entities/specialization/ui/SpecializationSelect/SpecializationSelect.tsx
  src/features/question/createQuestion/api/createQuestionApi.ts
  src/features/question/createQuestion/index.ts
  src/features/question/createQuestion/model/lib/validation/questionCreateSchema.ts
  src/features/question/createQuestion/model/types/questionCreatePageTypes.ts
  src/features/question/createQuestion/ui/QuestionCreateForm/QuestionCreateForm.module.css
  src/features/question/createQuestion/ui/QuestionCreateForm/QuestionCreateForm.tsx
  src/features/question/createQuestion/ui/QuestionCreateFormHeader/QuestionCreateFormHeader.tsx
  src/pages/admin/QuestionCreatePage/index.ts
  src/pages/admin/QuestionCreatePage/ui/QuestionCreatePage.lazy.tsx
  src/pages/admin/QuestionCreatePage/ui/QuestionCreatePage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
  src/shared/ui/KeywordInput/KeywordInput.tsx
  src/shared/ui/SimpleChip/index.ts
  src/shared/ui/SimpleChip/ui/SimpleChip.module.css
  src/shared/ui/SimpleChip/ui/SimpleChip.tsx
  src/widgets/QuestionsTable/ui/QuestionsTable.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-431: Moved skills page create from admin panel (#176)
  src/app/providers/router/config/routeConfig.tsx
  src/entities/skill/index.ts
  src/entities/skill/ui/SkillForm/SkillForm.module.css
  src/entities/skill/ui/SkillForm/SkillForm.tsx
  src/features/skill/createSkill/api/createSkillApi.ts
  src/features/skill/createSkill/index.ts
  src/features/skill/createSkill/model/lib/validation/skillCreateSchema.ts
  src/features/skill/createSkill/model/types/skillCreateTypes.ts
  src/features/skill/createSkill/ui/SkillCreateForm/SkillCreateForm.module.css
  src/features/skill/createSkill/ui/SkillCreateForm/SkillCreateForm.tsx
  src/features/skill/createSkill/ui/SkillCreateFormHeader/SkillCreateFormHeader.tsx
  src/pages/admin/SkillCreatePage/index.ts
  src/pages/admin/SkillCreatePage/ui/SkillCreatePage.lazy.tsx
  src/pages/admin/SkillCreatePage/ui/SkillCreatePage.tsx
  src/shared/config/router/routes.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-426: add QuestionEditPage
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/app/providers/router/config/routeConfig.tsx
  src/features/question/editQuestion/api/editQuestionApi.ts
  src/features/question/editQuestion/index.ts
  src/features/question/editQuestion/model/lib/validation/questionEditSchema.ts
  src/features/question/editQuestion/model/types/questionEditPageTypes.ts
  src/features/question/editQuestion/ui/QuestionEditForm/QuestionEditForm.module.css
  src/features/question/editQuestion/ui/QuestionEditForm/QuestionEditForm.tsx
  src/features/question/editQuestion/ui/QuestionEditFormHeader/QuestionEditFormHeader.tsx
  src/pages/admin/QuestionEditPage/index.ts
  src/pages/admin/QuestionEditPage/ui/QuestionEditPage.lazy.tsx
  src/pages/admin/QuestionEditPage/ui/QuestionEditPage.tsx
  src/shared/config/router/routes.ts
  src/widgets/QuestionsTable/ui/QuestionsTable.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-433: add QuestionDetailPage
  public/locales/en/questions.json
  public/locales/ru/questions.json
  src/app/providers/router/config/routeConfig.tsx
  src/entities/question/ui/ChooseQuestionComplexity/ChooseQuestionComplexity.tsx
  src/entities/question/ui/QuestionCard/QuestionCard.module.css
  src/entities/question/ui/QuestionCard/QuestionCard.tsx
  src/entities/question/ui/QuestionForm/QuestionForm.tsx
  src/pages/admin/QuestionDetailPage/index.ts
  src/pages/admin/QuestionDetailPage/ui/QuestionDetailPage/QuestionDetailPage.lazy.tsx
  src/pages/admin/QuestionDetailPage/ui/QuestionDetailPage/QuestionDetailPage.module.css
  src/pages/admin/QuestionDetailPage/ui/QuestionDetailPage/QuestionDetailPage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
  src/shared/ui/InfoChip/index.ts
  src/shared/ui/InfoChip/ui/InfoChip.module.css
  src/shared/ui/InfoChip/ui/InfoChip.tsx
  src/widgets/QuestionsTable/ui/QuestionsTable.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-436: add: Redirect to edit Profile
  src/pages/interview/InterviewPage/ui/InterviewPage.tsx
  src/pages/interview/InterviewQuizPage/ui/InterviewQuizPage.tsx
  src/pages/interview/QuestionPage/ui/QuestionPage.tsx
  src/pages/interview/QuestionsPage/ui/QuestionsPage/QuestionsPage.tsx
  src/shared/hooks/useCheckSpecialization.ts
  src/shared/ui/RedirectToProfile/RedirectToProfile.module.css
  src/shared/ui/RedirectToProfile/RedirectToProfile.tsx
  src/shared/ui/RedirectToProfile/index.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-415: New fix card styles
  src/shared/ui/Card/ui/Card.module.css
  src/widgets/Question/ui/QuestionHeader/QuestionHeader.module.css
Due: npm run lint:css:fix

YH-447: add yandex metrica
  public/index.html
Due: none

YH-447: add yandex metrica (#188)
  public/index.html
Due: none

YH-445: fixed table actions
  .eslintrc.json
  .gitignore
  package-lock.json
  package.json
  src/features/skill/deleteSkill/ui/DeleteSkillButton/DeleteSkillButton.tsx
  src/pages/admin/SkillsPage/ui/SkillsPage/SkillsPage.module.css
  src/pages/admin/SkillsPage/ui/SkillsPage/SkillsPage.tsx
  src/pages/admin/SkillsPage/ui/SkillsPagePagination/SkillsPagePagination.module.css
  src/shared/ui/Table/ui/Table.module.css
  src/shared/ui/Table/ui/Table.tsx
  src/widgets/SkillsTable/ui/SkillsTable.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-456: update uikit to latest, fix i18n merge error, update code teg style
  package-lock.json
  package.json
  src/app/styles/App.css
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/TextHtml/ui/TextHtml.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-456: update uikit to latest, fix i18n merge error, update code teg style (#192)
  package-lock.json
  package.json
  src/app/styles/App.css
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/TextHtml/ui/TextHtml.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-424: admin QuestionDetailPage implementation
  src/app/providers/router/config/routeConfig.tsx
  src/pages/interview/QuestionPage/ui/QuestionPage.module.css
  src/pages/interview/QuestionPage/ui/QuestionPage.tsx
  src/shared/config/router/routes.ts
  src/widgets/QuestionsTable/ui/QuestionsTable.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-426: add QuestionEditPage (#186)
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/app/providers/router/config/routeConfig.tsx
  src/features/question/editQuestion/api/editQuestionApi.ts
  src/features/question/editQuestion/index.ts
  src/features/question/editQuestion/model/lib/validation/questionEditSchema.ts
  src/features/question/editQuestion/model/types/questionEditPageTypes.ts
  src/features/question/editQuestion/ui/QuestionEditForm/QuestionEditForm.module.css
  src/features/question/editQuestion/ui/QuestionEditForm/QuestionEditForm.tsx
  src/features/question/editQuestion/ui/QuestionEditFormHeader/QuestionEditFormHeader.tsx
  src/pages/admin/QuestionEditPage/index.ts
  src/pages/admin/QuestionEditPage/ui/QuestionEditPage.lazy.tsx
  src/pages/admin/QuestionEditPage/ui/QuestionEditPage.tsx
  src/shared/config/router/routes.ts
  src/widgets/QuestionsTable/ui/QuestionsTable.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-458: fixed edit profile
  src/entities/skill/ui/SkillSelect/SkillSelect.tsx
  src/features/editProfileForm/ui/AboutMeTabForm/AboutMeTabForm.module.css
  src/features/editProfileForm/ui/EditProfileForm/EditProfileForm.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-463: test sentry connection
  package-lock.json
  package.json
  src/app/providers/router/config/routeConfig.tsx
  src/shared/config/sentry/sentry.ts
Due: npm run prettier, npm run lint:ts:fix

YH-463: test sentry connection (#195)
  package-lock.json
  package.json
  src/app/providers/router/config/routeConfig.tsx
  src/shared/config/sentry/sentry.ts
Due: npm run prettier, npm run lint:ts:fix

YH-463: test sentry env and button
  Dockerfile
  Dockerfile.production
  Dockerfile.test
  src/widgets/Sidebar/ui/Sidebar/Sidebar.tsx
Due: npm run prettier, npm run lint:ts:fix

Feature/yh 463 (#196)
  Dockerfile
  Dockerfile.production
  Dockerfile.test
  src/widgets/Sidebar/ui/Sidebar/Sidebar.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-462: fixed headline line-height
  src/pages/auth/LoginPage/ui/LoginPage.module.css
Due: npm run lint:css:fix

YH-462: fixed headline line-height (#197)
  src/pages/auth/LoginPage/ui/LoginPage.module.css
Due: npm run lint:css:fix

YH-458: fixed skills limit
  src/entities/skill/ui/SkillSelect/SkillSelect.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-458: fixed edit profile (#194)
  src/entities/skill/ui/SkillSelect/SkillSelect.tsx
  src/features/editProfileForm/ui/AboutMeTabForm/AboutMeTabForm.module.css
  src/features/editProfileForm/ui/EditProfileForm/EditProfileForm.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-436: fix logo
  src/app/styles/App.css
  src/shared/assets/icons/logo.svg
  src/shared/constants/projectName.ts
  src/shared/ui/AppLogo/AppLogo.module.css
  src/shared/ui/AppLogo/AppLogo.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-436: fix: change: logo symbol, remove: btn-active, add: state for expand, expand и collapse in local [ru]
  public/locales/ru/interviewStatistics.json
  src/app/styles/App.css
  src/shared/constants/projectName.ts
  src/shared/ui/AppLogo/AppLogo.module.css
  src/shared/ui/AppLogo/AppLogo.tsx
  src/widgets/Sidebar/ui/SidebarMenuItem/SidebarCategoryMenuItem.tsx
  src/widgets/Sidebar/ui/SidebarMenuItem/SidebarMenuItem.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-445: returned to original storybook settings
  .eslintrc.json
  .gitignore
  package.json
Due: none

YH-433: add skillDetailPage
  src/app/providers/router/config/routeConfig.tsx
  src/entities/skill/api/skillApi.ts
  src/entities/skill/index.ts
  src/entities/skill/ui/SkillCard/SkillCard.module.css
  src/entities/skill/ui/SkillCard/SkillCard.tsx
  src/pages/admin/SkillDetailPage/index.ts
  src/pages/admin/SkillDetailPage/ui/SkillDetailPage/SkillDetailPage.lazy.tsx
  src/pages/admin/SkillDetailPage/ui/SkillDetailPage/SkillDetailPage.tsx
  src/shared/config/i18n/i18n.ts
  src/shared/config/router/routes.ts
  src/widgets/SkillsTable/ui/SkillsTable.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-436: add and refactoring: redirect to profile
  src/pages/interview/CreateQuizPage/ui/CreateQuizPage.tsx
  src/pages/interview/InterviewHistoryPage/ui/InterviewHistoryPage.tsx
  src/pages/interview/InterviewQuizPage/ui/InterviewQuizPage.tsx
  src/pages/interview/InterviewQuizResultPage/ui/InterviewQuizResultPage.tsx
  src/pages/interview/InterviewStatisticsPage/ui/InterviewStatisticsPage.tsx
  src/pages/interview/QuestionPage/ui/QuestionPage.tsx
  src/pages/interview/QuestionsPage/ui/QuestionsPage/QuestionsPage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-436: add git pull changes
  src/app/providers/router/config/routeConfig.tsx
  src/shared/config/sentry/sentry.ts
  src/widgets/Sidebar/ui/Sidebar/Sidebar.tsx
Due: npm run prettier, npm run lint:ts:fix

Path conditions:
  npm run prettier: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:ts:fix: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:css:fix: any of: *.css
