Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1260: fix title changes when subscription is cancelled (#800)
  src/entities/subscription/model/types/subscription.ts
  src/widgets/Profile/ui/SubscriptionTab/ui/PremiumSubscriptionTab/PremiumSubscriptionTab.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1152: rename steps id, corrected props, translation and fix styles
  public/locales/en/onboarding.json
  public/locales/ru/onboarding.json
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Modal/Modal.tsx
  src/shared/ui/Modal/ModalTypes.ts
  src/shared/ui/Stepper/Stepper.stories.tsx
  src/shared/ui/Stepper/Stepper.tsx
  src/widgets/Main/OnboardingModal/ui/ChooseSpecializationStep/ChooseSpecializationStep.module.css
  src/widgets/Main/OnboardingModal/ui/ChooseSpecializationStep/ChooseSpecializationStep.tsx
  src/widgets/Main/OnboardingModal/ui/FinalStep/FinalStep/FinalStep.tsx
  src/widgets/Main/OnboardingModal/ui/FinalStep/NavigationBlock/NavigationBlock.tsx
  src/widgets/Main/OnboardingModal/ui/GreetingStep/GreetingStep.module.css
  src/widgets/Main/OnboardingModal/ui/GreetingStep/GreetingStep.tsx
  src/widgets/Main/OnboardingModal/ui/LayoutStepComponent/LayoutStepComponent.module.css
  src/widgets/Main/OnboardingModal/ui/LayoutStepComponent/LayoutStepComponent.tsx
  src/widgets/Main/OnboardingModal/ui/OnboardingHeader/OnboadringProgress/OnboardingProgress.tsx
  src/widgets/Main/OnboardingModal/ui/OnboardingHeader/OnboardingHeader/OnboardingHeader.module.css
  src/widgets/Main/OnboardingModal/ui/OnboardingHeader/OnboardingHeader/OnboardingHeader.tsx
  src/widgets/Main/OnboardingModal/ui/OnboardingModal/OnboardingModal.module.css
  src/widgets/Main/OnboardingModal/ui/OnboardingModal/OnboardingModal.tsx
  src/widgets/Main/OnboardingModal/ui/ServiceOverviewStep/ServiceOverviewStep.tsx
  src/widgets/Main/OnboardingModal/ui/SubscriptionBenefitsStep/SubscriptionBenefitsStep.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1152: remove unnecessary style class and semicolon
  src/widgets/Main/OnboardingModal/ui/GreetingStep/GreetingStep.module.css
  src/widgets/Main/OnboardingModal/ui/LayoutStepComponent/LayoutStepComponent.module.css
Due: npm run lint:css:fix

YH-1261: resources page
  public/locales/en/resources.json
  public/locales/ru/resources.json
  public/locales/ru/translation.json
  src/app/providers/router/config/routeConfig.tsx
  src/app/providers/store/config/config.ts
  src/pages/admin/ResourcesTablePage/index.ts
  src/pages/admin/ResourcesTablePage/model/selectors/resourcesTablePageSelectors.ts
  src/pages/admin/ResourcesTablePage/model/slice/resourcesTablePageSlice.ts
  src/pages/admin/ResourcesTablePage/model/types/resourcesTablePageTypes.ts
  src/pages/admin/ResourcesTablePage/ui/ResourcesTablePage/ResourcesTablePage.lazy.tsx
  src/pages/admin/ResourcesTablePage/ui/ResourcesTablePage/ResourcesTablePage.module.css
  src/pages/admin/ResourcesTablePage/ui/ResourcesTablePage/ResourcesTablePage.skeleton.tsx
  src/pages/admin/ResourcesTablePage/ui/ResourcesTablePage/ResourcesTablePage.tsx
  src/pages/admin/ResourcesTablePage/ui/ResourcesTablePagePagination/ResourcesTablePagePagination.module.css
  src/pages/admin/ResourcesTablePage/ui/ResourcesTablePagePagination/ResourcesTablePagePagination.tsx
  src/shared/assets/icons/books.svg
  src/shared/config/i18n/i18n.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/store/State.ts
  src/widgets/resources/ResourcesTable/ui/ResourcesTable.tsx
  src/widgets/resources/index.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1152: fix LayoutComponent title structure
  src/widgets/Main/OnboardingModal/ui/GreetingStep/GreetingStep.module.css
  src/widgets/Main/OnboardingModal/ui/LayoutStepComponent/LayoutStepComponent.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1256: fix(landing): create resource request — add DTO + mapper, remove obsolete 'types' validation
  public/locales/en/interviewQuizCreate.json
  public/locales/en/interviewQuizResult.json
  public/locales/en/landing.json
  public/locales/en/media.json
  public/locales/ru/interviewQuizCreate.json
  public/locales/ru/interviewQuizResult.json
  public/locales/ru/landing.json
  public/locales/ru/media.json
  src/features/resources/createResource/model/lib/map/toCreateResourceBody.ts
  src/features/resources/createResource/model/lib/validation/resourceCreateSchema.ts
  src/features/resources/createResource/model/types/resourceCreateTypes.ts
  src/features/resources/createResource/ui/ResourceCreateFormWithHeader/ResourceCreateFormWithHeader.tsx
  src/shared/ui/TableCellEntityList/TableCellEntityList.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1062: Questions for Author role
  src/entities/question/model/types/question.ts
  src/features/question/deleteQuestion/ui/DeleteQuestionButton/DeleteQuestionButton.tsx
  src/pages/admin/QuestionEditPage/ui/QuestionEditPage.tsx
  src/pages/admin/QuestionPage/QuestionPage.tsx
  src/pages/admin/QuestionsTablePage/ui/QuestionsTablePage/QuestionsTablePage.tsx
  src/widgets/QuestionsTable/ui/QuestionsTable.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1261: resources page (#801)
  public/locales/en/resources.json
  public/locales/ru/resources.json
  public/locales/ru/translation.json
  src/app/providers/router/config/routeConfig.tsx
  src/app/providers/store/config/config.ts
  src/pages/admin/ResourcesTablePage/index.ts
  src/pages/admin/ResourcesTablePage/model/selectors/resourcesTablePageSelectors.ts
  src/pages/admin/ResourcesTablePage/model/slice/resourcesTablePageSlice.ts
  src/pages/admin/ResourcesTablePage/model/types/resourcesTablePageTypes.ts
  src/pages/admin/ResourcesTablePage/ui/ResourcesTablePage/ResourcesTablePage.lazy.tsx
  src/pages/admin/ResourcesTablePage/ui/ResourcesTablePage/ResourcesTablePage.module.css
  src/pages/admin/ResourcesTablePage/ui/ResourcesTablePage/ResourcesTablePage.skeleton.tsx
  src/pages/admin/ResourcesTablePage/ui/ResourcesTablePage/ResourcesTablePage.tsx
  src/pages/admin/ResourcesTablePage/ui/ResourcesTablePagePagination/ResourcesTablePagePagination.module.css
  src/pages/admin/ResourcesTablePage/ui/ResourcesTablePagePagination/ResourcesTablePagePagination.tsx
  src/shared/assets/icons/books.svg
  src/shared/config/i18n/i18n.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/store/State.ts
  src/widgets/resources/ResourcesTable/ui/ResourcesTable.tsx
  src/widgets/resources/index.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1062: Questions for Author role (#767)
  src/entities/question/model/types/question.ts
  src/features/question/deleteQuestion/ui/DeleteQuestionButton/DeleteQuestionButton.tsx
  src/pages/admin/QuestionEditPage/ui/QuestionEditPage.tsx
  src/pages/admin/QuestionPage/QuestionPage.tsx
  src/pages/admin/QuestionsTablePage/ui/QuestionsTablePage/QuestionsTablePage.tsx
  src/widgets/QuestionsTable/ui/QuestionsTable.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-863: Added tests for StatusChip (#786)
  src/shared/ui/StatusChip/StatusChip.test.tsx
  src/shared/ui/StatusChip/StatusChip.tsx
  src/shared/ui/StatusChip/model/constants.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1063: For a user with the author role, added restrictions for work… (#756)
  src/app/styles/variables/pallete.css
  src/entities/company/model/types/companyTypes.ts
  src/features/company/createCompany/model/lib/validation/companyCreateSchema.ts
  src/features/company/deleteCompany/ui/DeleteCompanyButton/DeleteCompanyButton.tsx
  src/features/company/editCompany/model/lib/validation/companyEditSchema.ts
  src/pages/admin/CompaniesTablePage/ui/CompaniesTablePage/CompaniesTablePage.tsx
  src/pages/admin/CompanyDetailPage/ui/CompanyDetailPage/CompanyDetailPage.tsx
  src/pages/admin/CompanyEditPage/ui/CompanyEditPage.tsx
  src/shared/ui/Tooltip/Tooltip.module.css
  src/shared/ui/Tooltip/types.ts
  src/widgets/CompaniesTable/ui/CompaniesTable.tsx
  src/widgets/QuestionsTable/ui/QuestionsTable.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1223: fix PreviewQuestionsItem routing (#791)
  src/entities/question/index.ts
  src/entities/question/model/lib/getQuestionRoute.test.ts
  src/entities/question/model/lib/getQuestionRoute.ts
  src/widgets/question/QuestionsList/ui/PreviewQuestionsItem/PreviewQuestionsItem.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1242: queries: useGetHistoryQuizQuery, useGetProfileQuizStatsQuery, useGetActiveQuizQuery - skip occurs if this is not a premium user (#792)
  src/pages/interview/InterviewPage/ui/InterviewPage.tsx
  src/widgets/interview/PassedQuizzesList/ui/PreviewPassedQuizzesList/PreviewPassedQuizzesList.tsx
  src/widgets/interview/QuestionsStatistic/ui/PreviewQuestionsStatistic/PreviewQuestionsStatistic.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1256: fix(landing): create resource request — add DTO + mapper, remove obsolete 'types' validation (#802)
  public/locales/en/interviewQuizCreate.json
  public/locales/en/interviewQuizResult.json
  public/locales/en/landing.json
  public/locales/en/media.json
  public/locales/ru/interviewQuizCreate.json
  public/locales/ru/interviewQuizResult.json
  public/locales/ru/landing.json
  public/locales/ru/media.json
  src/features/resources/createResource/model/lib/map/toCreateResourceBody.ts
  src/features/resources/createResource/model/lib/validation/resourceCreateSchema.ts
  src/features/resources/createResource/model/types/resourceCreateTypes.ts
  src/features/resources/createResource/ui/ResourceCreateFormWithHeader/ResourceCreateFormWithHeader.tsx
  src/shared/ui/TableCellEntityList/TableCellEntityList.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1239: add tg auth
  public/locales/en/auth.json
  public/locales/en/translation.json
  public/locales/ru/auth.json
  src/entities/auth/api/authApi.ts
  src/entities/auth/index.ts
  src/entities/auth/model/constants/authConstants.ts
  src/entities/auth/model/types/auth.ts
  src/entities/auth/ui/RegistrationLabel/RegistrationLabel.module.css
  src/features/authentication/login/index.ts
  src/features/authentication/login/ui/LoginForm/LoginForm.module.css
  src/features/authentication/login/ui/TelegramLoginButton/model/constants/index.ts
  src/features/authentication/login/ui/TelegramLoginButton/ui/TelegramLogin/TelegramLogin.tsx
  src/features/authentication/login/ui/TelegramLoginButton/ui/TelegramLoginButton/TelegramLoginButton.tsx
  src/features/authentication/registration/ui/LoginLabel/LoginLabel.module.css
  src/features/authentication/registration/ui/RegisterForm/RegisterForm.module.css
  src/features/authentication/registration/ui/RegisterForm/RegisterForm.tsx
  src/pages/auth/LoginPage/ui/LoginPage.module.css
  src/pages/auth/RegistrationPage/ui/RegistrationPage.module.css
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/authentication/login/ui/LoginCreateForm/LoginCreateForm.module.css
  src/widgets/authentication/login/ui/LoginCreateForm/LoginCreateForm.tsx
  src/widgets/registration/ui/UserCreateForm.module.css
  src/widgets/registration/ui/UserCreateForm.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1265: replacing a isEmailVerified with isVerified
  src/app/providers/router/ui/VerifiedEmailRoute.tsx
  src/app/providers/sentry/AppInitSentryUser.tsx
  src/entities/auth/api/__mocks__/data/authMockResponse.ts
  src/entities/auth/api/__mocks__/data/authProfileQueryMockResponse.ts
  src/entities/auth/model/types/auth.ts
  src/entities/profile/model/selectors/profileSelectors.ts
  src/entities/user/model/types/user.ts
  src/entities/user/ui/UserCard/UserCard.tsx
  src/pages/interview/MainPage/ui/MainPage.skeleton.tsx
  src/pages/interview/MainPage/ui/MainPage.tsx
  src/widgets/Profile/ui/EmailConfirmationTab/ui/EmailConfirmationTab.tsx
  src/widgets/Profile/ui/UserCard/ui/UserInfoBlock/UserInfoBlock.tsx
  src/widgets/QuestionsTable/ui/QuestionsTable.tsx
  src/widgets/interview/PassedQuizzesList/ui/PreviewPassedQuizzesList/PreviewPassedQuizzesList.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1265: replacing a isEmailVerified with isVerified (#804)
  src/app/providers/router/ui/VerifiedEmailRoute.tsx
  src/app/providers/sentry/AppInitSentryUser.tsx
  src/entities/auth/api/__mocks__/data/authMockResponse.ts
  src/entities/auth/api/__mocks__/data/authProfileQueryMockResponse.ts
  src/entities/auth/model/types/auth.ts
  src/entities/profile/model/selectors/profileSelectors.ts
  src/entities/user/model/types/user.ts
  src/entities/user/ui/UserCard/UserCard.tsx
  src/pages/interview/MainPage/ui/MainPage.skeleton.tsx
  src/pages/interview/MainPage/ui/MainPage.tsx
  src/widgets/Profile/ui/EmailConfirmationTab/ui/EmailConfirmationTab.tsx
  src/widgets/Profile/ui/UserCard/ui/UserInfoBlock/UserInfoBlock.tsx
  src/widgets/QuestionsTable/ui/QuestionsTable.tsx
  src/widgets/interview/PassedQuizzesList/ui/PreviewPassedQuizzesList/PreviewPassedQuizzesList.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-854: refactor(admin-questions): render EmptyStub below table when no results
  src/pages/admin/QuestionsTablePage/model/slices/questionsTablePageSlice.ts
  src/pages/admin/QuestionsTablePage/ui/QuestionsTablePage/QuestionsTablePage.tsx
  src/shared/ui/Table/Table.tsx
  src/widgets/QuestionsTable/ui/QuestionsTable.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1255: Skill requests are not eligible until a specialization is selected.
  src/entities/skill/ui/SkillSelect/SkillSelect.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1255: Hide the skill selection field until a specialization is selected
  src/entities/resource/ui/ResourceForm/ResourceForm.tsx
  src/entities/skill/ui/SkillSelect/SkillSelect.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-944: changes after code-review from Lead
  .loki/reference/chrome_iphone7_widgets_Landing_CookiesWarningBlock_CookiesWarning_Default.png
  .loki/reference/chrome_laptop_widgets_Landing_CookiesWarningBlock_CookiesWarning_Default.png
  src/app/layouts/LandingLayout/ui/LandingLayout.stories.tsx
  src/shared/assets/icons/authorized_profile_photo.avif
  src/widgets/Landing/CookiesWarningBlock/ui/CookiesWarning.stories.tsx
  src/widgets/Landing/Footer/ui/Footer.stories.tsx
  src/widgets/Landing/Footer/ui/FooterCopyright/FooterCopyright.stories.tsx
  src/widgets/Landing/Footer/ui/FooterLinks/FooterLinks.skeleton.tsx
  src/widgets/Landing/Footer/ui/FooterLinks/FooterLinks.stories.tsx
  src/widgets/Landing/Footer/ui/FooterMain/FooterMain.stories.tsx
  src/widgets/Landing/Footer/ui/FooterMeta/FooterMeta.stories.tsx
  src/widgets/Landing/Header/ui/AuthorizedBlock/AuthorizedBlock.stories.tsx
  src/widgets/Landing/Header/ui/Header/Header.stories.tsx
  src/widgets/Landing/Header/ui/HeaderAuth/HeaderAuth.stories.tsx
  src/widgets/Landing/Header/ui/HeaderAuth/HeaderAuthDesktop/HeaderAuthDesktop.stories.tsx
  src/widgets/Landing/Header/ui/HeaderAuth/HeaderAuthMobile/HeaderAuthMobile.stories.tsx
  src/widgets/Landing/Header/ui/HeaderNav/HeaderNav.stories.tsx
  src/widgets/Landing/Header/ui/HeaderNav/HeaderNavDesktop/HeaderNavDesktop.skeleton.tsx
  src/widgets/Landing/Header/ui/HeaderNav/HeaderNavDesktop/HeaderNavDesktop.stories.tsx
  src/widgets/Landing/Header/ui/HeaderNav/HeaderNavMobile/HeaderNavMobile.stories.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1269: redirect to email veritify
  src/features/subscriptions/trial/ui/TrialButton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1269: redirect to email veritify (#806)
  src/features/subscriptions/trial/ui/TrialButton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1225: save path after delete token auth (#796)
  src/app/providers/router/ui/AuthRoute.tsx
  src/entities/auth/api/authApi.ts
Due: npm run prettier, npm run lint:ts:fix

YH-973: replaced hardcoded message with i18n fallback LeavingPageBlocker (#793)
  package-lock.json
  package.json
  src/shared/ui/LeavingPageBlocker/LeavingPageBlocker.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-853: hide skills field when no specialization selected in QuestionForm (#795)
  src/entities/question/ui/QuestionForm/QuestionForm.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1255: Hide the skill selection field with label until a specialization is selected
  src/entities/resource/ui/ResourceForm/ResourceForm.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1263: Changed the name of the request, type, etc. from providers to resourceTypes, removed the input parameters from the request and removed unnecessary translation of mock data.
  src/entities/resource/api/resourceApi.ts
  src/entities/resource/model/constants/resource.ts
  src/entities/resource/model/types/resource.ts
  src/entities/resource/ui/ResourceSelect/ResourceSelect.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1263: Replaced mock data with a request to get resource types
  src/entities/resource/api/resourceApi.ts
  src/entities/resource/model/constants/resource.ts
  src/entities/resource/model/types/resource.ts
  src/entities/resource/ui/ResourceSelect/ResourceSelect.tsx
  src/shared/config/api/apiTags.ts
Due: npm run prettier, npm run lint:ts:fix

YH-1263: Changed the name of the request, type, etc. from providers to resourceTypes, removed the input parameters from the request and removed unnecessary translation of mock data.
  src/entities/resource/api/resourceApi.ts
  src/entities/resource/ui/ResourceSelect/ResourceSelect.tsx
  src/shared/config/api/apiTags.ts
Due: npm run prettier, npm run lint:ts:fix

YH-854: add emptySlot to Table and EmptyStub rendering inside tbody (#797)
  src/pages/admin/QuestionsTablePage/model/slices/questionsTablePageSlice.ts
  src/pages/admin/QuestionsTablePage/ui/QuestionsTablePage/QuestionsTablePage.tsx
  src/shared/ui/Tooltip/Tooltip.module.css
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-1255: Skill requests are not eligible until a specialization is se… (#799)
  src/entities/resource/ui/ResourceForm/ResourceForm.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1263: Replaced mock data with a request to get resource types (#805)
  src/entities/resource/api/resourceApi.ts
  src/entities/resource/model/constants/resource.ts
  src/entities/resource/model/types/resource.ts
  src/entities/resource/ui/ResourceSelect/ResourceSelect.tsx
  src/shared/config/api/apiTags.ts
  src/shared/config/i18n/i18nTranslations.ts
Due: npm run prettier, npm run lint:ts:fix

Release 1.1.8
  RELEASE_NOTES.md
  package-lock.json
  package.json
Due: none

YH-1271: fix text error
  src/entities/resource/ui/ResourcesFilterSection/ResourcesFilterSection.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1271: fix text error (#808)
  src/entities/resource/ui/ResourcesFilterSection/ResourcesFilterSection.tsx
Due: npm run prettier, npm run lint:ts:fix

Path conditions:
  npm run prettier: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:ts:fix: any of: ./**/*.{ts,tsx,js,jsx}
  npm run lint:css:fix: any of: *.css
