Repository YeaHubTeam/yeahub-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

.lintstagedrc:

{
  "./**/*.{ts,tsx,js,jsx}": ["npm run prettier", "npm run lint:ts:fix"],
  "*.css": "npm run lint:css:fix"
}

YH-2415: update react-router-dom, clean directory
  migrations/rules.md
  package-lock.json
  package.json
Due: none

YH-2415: update node to >= 24
  .github/workflows/pr-checks.yml
  .github/workflows/storybook-pages.yml
  .husky/pre-commit
  .nvmrc
  Dockerfile
  Dockerfile.dev
  Dockerfile.production
  Dockerfile.test
  package-lock.json
  package.json
Due: none

YH-2415: fix package-lock.json
  package-lock.json
Due: none

YH-2391: fix comments
  src/shared/ui/TableActions/TableActions.tsx
  src/shared/ui/TableActions/types.ts
  src/shared/ui/TableV2/TableBody.tsx
  src/shared/ui/TableV2/TableV2.tsx
  src/shared/ui/TableV2/types.ts
  src/widgets/CompaniesTable/ui/CompaniesTable.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2421: added TableCellLink unit test
  src/shared/ui/TableCellLink/TableCellLink.test.tsx
  src/shared/ui/TableCellLink/TableCellLink.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-1861: added mock for creating referral link
  src/app/msw/handlers.ts
  src/features/referralLinks/createReferralLink/api/__mocks__/createReferralLinkMock.ts
  src/features/referralLinks/createReferralLink/api/__mocks__/index.ts
  src/features/referralLinks/createReferralLink/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2322: added vacancy-market-details page
  public/locales/en/vacancyMarketDetails.json
  public/locales/ru/vacancyMarketDetails.json
  src/app/providers/router/routeConfig.tsx
  src/entities/vacancy/api/vacancyMarketApi.ts
  src/entities/vacancy/index.ts
  src/entities/vacancy/model/constants/vacancyMarket.ts
  src/entities/vacancy/model/types/vacancyMarket.ts
  src/entities/vacancy/ui/VacancyMarketProgressCard/VacancyMarketProgressCard.module.css
  src/entities/vacancy/ui/VacancyMarketProgressCard/VacancyMarketProgressCard.tsx
  src/entities/vacancy/ui/VacancyMarketProgressGauge/VacancyMarketProgressGauge.module.css
  src/entities/vacancy/ui/VacancyMarketProgressGauge/VacancyMarketProgressGauge.tsx
  src/pages/career/VacancyMarketDetails/index.ts
  src/pages/career/VacancyMarketDetails/ui/VacancyMarketDetailsBody/VacancyMarketDetailsBody.module.css
  src/pages/career/VacancyMarketDetails/ui/VacancyMarketDetailsBody/VacancyMarketDetailsBody.tsx
  src/pages/career/VacancyMarketDetails/ui/VacancyMarketDetailsHeader/VacancyMarketDetailsHeader.module.css
  src/pages/career/VacancyMarketDetails/ui/VacancyMarketDetailsHeader/VacancyMarketDetailsHeader.tsx
  src/pages/career/VacancyMarketDetails/ui/VacancyMarketDetailsPage/VacancyMarketDetailsPage.module.css
  src/pages/career/VacancyMarketDetails/ui/VacancyMarketDetailsPage/VacancyMarketDetailsPage.tsx
  src/pages/career/VacancyMarketDetails/ui/VacancyMarketDetailsSummary/VacancyMarketDetailsSummary.module.css
  src/pages/career/VacancyMarketDetails/ui/VacancyMarketDetailsSummary/VacancyMarketDetailsSummary.tsx
  src/shared/config/i18n/i18nNamespaces.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/libs/date/formatUpdateAt.ts
  src/shared/libs/fp/index.ts
  src/shared/libs/fp/useShowAll/index.ts
  src/shared/libs/fp/useShowAll/useShowAll.ts
  src/shared/libs/index.ts
  src/shared/ui/KeywordChip/KeywordChip.module.css
  src/shared/ui/KeywordChip/KeywordChip.tsx
  src/shared/ui/KeywordChip/index.ts
  src/shared/ui/charts/GaugeChart/GaugeChart.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2420: add Tooltip test
  src/shared/ui/Tooltip/Tooltip.test.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2421: fix TableCellLink test coverage
  src/shared/ui/TableCellLink/TableCellLink.test.tsx
  src/shared/ui/TableCellLink/TableCellLink.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2419: Mock request to create a new user profile
  src/app/msw/handlers.ts
  src/features/profile/createProfile/api/__mocks__/createProfileMock.ts
  src/features/profile/createProfile/api/__mocks__/index.ts
  src/features/profile/createProfile/index.ts
  src/features/profile/createProfile/model/constants/createProfileConstants.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2287: add nested skeletons for settings page
  src/features/profile/changePassword/index.ts
  src/features/profile/changePassword/ui/ChangePasswordForm.skeleton.tsx
  src/features/profile/confirmationEmail/index.ts
  src/features/profile/confirmationEmail/ui/ConfirmationEmail.skeleton.tsx
  src/features/profile/createProfile/index.ts
  src/features/profile/createProfile/ui/CreateProfileButton/CreateProfileButton.skeleton.tsx
  src/widgets/ConfirmationTelegram/index.ts
  src/widgets/ConfirmationTelegram/ui/ConfirmationTelegram.skeleton.tsx
  src/widgets/DeleteAccountSection/index.ts
  src/widgets/DeleteAccountSection/ui/DeleteAccountSection.skeleton.tsx
  src/widgets/EmailVerification/index.ts
  src/widgets/EmailVerification/ui/EmailVerification.skeleton.tsx
  src/widgets/FaqList/index.ts
  src/widgets/FaqList/ui/FaqItem/FaqItem.skeleton.tsx
  src/widgets/FaqList/ui/FaqList/FaqList.skeleton.tsx
  src/widgets/SubscriptionsList/index.ts
  src/widgets/SubscriptionsList/ui/SubscriptionBenefit/SubscriptionBenefit.skeleton.tsx
  src/widgets/SubscriptionsList/ui/SubscriptionCard/SubscriptionCard.skeleton.tsx
  src/widgets/SubscriptionsList/ui/SubscriptionsBanner/SubscriptionsBanner.skeleton.tsx
  src/widgets/SubscriptionsList/ui/SubscriptionsList/SubscriptionsList.skeleton.tsx
  src/widgets/manageProfiles/index.ts
  src/widgets/manageProfiles/ui/ManageProfilesHeader/ManageProfilesHeader.skeleton.tsx
  src/widgets/manageProfiles/ui/ManageProfilesPanel/ManageProfilesPanel.skeleton.tsx
  src/widgets/manageProfiles/ui/ProfileCard/ProfileCard.skeleton.tsx
  src/widgets/manageProfiles/ui/ProfilesCounter/ProfilesCounter.skeleton.tsx
  src/widgets/manageProfiles/ui/ProfilesList/ProfilesList.skeleton.tsx
  src/widgets/manageProfiles/ui/SwitchSpecializationInfoButton/SwitchSpecializationInfoButton.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2287: add settings page skeleton
  src/app/layouts/MainLayout/SkeletonGenerator/SkeletonGenerator.tsx
  src/pages/profile/settings/index.ts
  src/pages/profile/settings/ui/SettingsProfilePage/SettingsProfilePage.skeleton.tsx
  src/pages/profile/settings/ui/tabs/AccountTab/AccountTab.skeleton.tsx
  src/pages/profile/settings/ui/tabs/ChangePasswordTab/ChangePasswordTab.skeleton.tsx
  src/pages/profile/settings/ui/tabs/EmailConfirmationTab/EmailConfirmationTab.skeleton.tsx
  src/pages/profile/settings/ui/tabs/FreeSubscriptionTab/FreeSubscriptionTab.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2423: added reusable ToggleButton component for show/hide toggles
  src/entities/skill/ui/SkillsListField/SkillsListField.tsx
  src/entities/specialization/ui/SpecializationsListField/SpecializationsListField.tsx
  src/entities/topic/ui/TopicFilterField/TopicFilterField.tsx
  src/entities/vacancy/ui/ChooseIndustry/ChooseIndustry.tsx
  src/shared/ui/ToggleShowAllButton/ToggleShowAllButton.tsx
  src/shared/ui/ToggleShowAllButton/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2287: modified structure of the faqitem skeleton component
  src/widgets/FaqList/ui/FaqItem/FaqItem.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2364: fixed skeleton
  src/entities/skill/ui/SkillForm/SkillForm.skeleton.tsx
  src/features/skill/createSkill/ui/SkillCreateForm/SkillCreateForm.skeleton.tsx
  src/features/skill/editSkill/index.ts
  src/features/skill/editSkill/ui/SkillEditFormHeader/SkillEditFormHeader.skeleton.tsx
  src/pages/admin/skill/skillEdit/ui/SkillEditPage/SkillEditPage.skeleton.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2264: fixed SkeletonGenerator
  src/app/layouts/MainLayout/SkeletonGenerator/SkeletonGenerator.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2369: fixed some bags with editQuestionMock and editTopicMock
  src/features/question/editQuestion/api/__mocks__/editQuestionMock.ts
  src/features/topics/editTopic/api/__mocks__/editTopicMock.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2395: refactor tables v1 -> v2
  src/features/task/deleteTask/index.ts
  src/pages/admin/task/tasks/ui/TasksTable/TasksTable.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2422: added unit tests for BlockerDialog
  src/shared/ui/BlockerDialogModal/BlockerDialog.test.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2350: fix actions column width
  src/shared/ui/TableV2/TableV2.module.css
Due: npm run lint:css:fix

YH-2418: added unit tests for VacancyKeywordsList component
  src/entities/vacancy/ui/VacancyKeywordsList/VacancyKeywordsList.test.tsx
  src/entities/vacancy/ui/VacancyKeywordsList/VacancyKeywordsList.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2431: fix long word break in Text comp
  src/entities/specialization/ui/SpecializationCard/SpecializationCard.tsx
  src/shared/ui/Card/Card.module.css
  src/shared/ui/TableCellWithTooltip/TableCellWithTooltip.tsx
  src/shared/ui/Text/Text.module.css
  src/shared/ui/Text/Text.tsx
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2350: add pinned columns
  src/pages/admin/question/questions/ui/QuestionsTable/QuestionsTable.tsx
  src/shared/ui/TableV2/TableHeader.tsx
  src/shared/ui/TableV2/TableV2.module.css
  src/shared/ui/TableV2/TableV2.tsx
  src/shared/ui/TableV2/useHorizontalScrollEdges.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2426: added shared FormInputRange component for selecting digital ranges
  src/entities/question/ui/QuestionForm/QuestionForm.module.css
  src/entities/question/ui/QuestionForm/QuestionForm.tsx
  src/entities/task/ui/TaskForm/TaskForm.module.css
  src/entities/task/ui/TaskForm/TaskForm.tsx
  src/shared/ui/form/FormInputRange/FormInputRange.module.css
  src/shared/ui/form/FormInputRange/FormInputRange.tsx
  src/shared/ui/form/FormInputRange/index.ts
  src/shared/ui/form/index.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2425: Added shared FormInputDescription component
  src/entities/question/ui/QuestionForm/QuestionForm.module.css
  src/entities/question/ui/QuestionForm/QuestionForm.tsx
  src/shared/ui/form/FormInputDescription/FormInputDescription.module.css
  src/shared/ui/form/FormInputDescription/FormInputDescription.tsx
  src/shared/ui/form/FormInputDescription/index.ts
  src/shared/ui/form/index.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2429: extracted shared FormInputElements wrapper
  src/entities/collection/ui/CollectionForm/CollectionForm.skeleton.tsx
  src/entities/collection/ui/CollectionForm/CollectionForm.tsx
  src/entities/question/@x/collection.ts
  src/entities/question/index.ts
  src/entities/question/model/types/question.ts
  src/entities/question/ui/ChooseQuestionsDrawer/ChooseQuestionsDrawer.skeleton.tsx
  src/entities/question/ui/ChooseQuestionsDrawer/ChooseQuestionsDrawer.tsx
  src/entities/question/ui/QuestionsSearchList/QuestionsSearchList.module.css
  src/entities/question/ui/QuestionsSearchList/QuestionsSearchList.tsx
  src/entities/task/@x/collection.ts
  src/entities/task/index.ts
  src/entities/task/ui/ChooseTasksDrawer/ChooseTasksDrawer.module.css
  src/entities/task/ui/ChooseTasksDrawer/ChooseTasksDrawer.tsx
  src/entities/task/ui/ChooseTasksDrawer/index.ts
  src/entities/task/ui/TasksSearchList/TasksSearchList.module.css
  src/entities/task/ui/TasksSearchList/TasksSearchList.tsx
  src/shared/ui/FormInputElements/FormInputElements.module.css
  src/shared/ui/FormInputElements/FormInputElements.skeleton.tsx
  src/shared/ui/FormInputElements/FormInputElements.tsx
  src/shared/ui/FormInputElements/index.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2424: FormInputEditor taken out
  src/entities/question/ui/QuestionForm/QuestionForm.tsx
  src/entities/task/ui/TaskForm/TaskForm.tsx
  src/features/profile/editProfileForm/ui/AboutMeTabForm/AboutMeTabForm.tsx
  src/shared/ui/Form/FormInputEditor.tsx
  src/shared/ui/Form/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2397: refactor ReferralLinksTable(Table->TableV2)
  src/features/referralLinks/deleteReferralLink/index.ts
  src/pages/admin/referralLink/referralLinks/ui/ReferralLinksTable/ReferralLinksTable.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2400: migrate skills proficiency table to TableV2
  src/pages/analytics/skillsProficiency/ui/SkillsProficiencyPageTable/SkillsProficiencyPageTable.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2401: replace Table with TableV2 in PopularQuestionsPageTable
  src/pages/analytics/popularQuestions/ui/PopularQuestionsPageTable/PopularQuestionsPageTable.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2350: fix column width
  src/shared/ui/TableV2/TableCell.tsx
  src/shared/ui/TableV2/TableHeader.tsx
  src/shared/ui/TableV2/TableV2.module.css
  src/shared/ui/TableV2/TableV2.tsx
  src/shared/ui/TableV2/columnWidth.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix

YH-2423: added reusable ToggleButton component for show/hide toggles (#1445)
  src/entities/skill/ui/SkillsListField/SkillsListField.tsx
  src/entities/specialization/ui/SpecializationsListField/SpecializationsListField.tsx
  src/entities/topic/ui/TopicFilterField/TopicFilterField.tsx
  src/entities/vacancy/ui/ChooseIndustry/ChooseIndustry.tsx
  src/shared/ui/ToggleShowAllButton/ToggleShowAllButton.tsx
  src/shared/ui/ToggleShowAllButton/index.ts
Due: npm run prettier, npm run lint:ts:fix

YH-2396: migrate feature flags table to TableV2
  src/features/featureFlag/deleteFeatureFlag/index.ts
  src/pages/admin/featureFlag/featureFlags/ui/FeatureFlagPage/FeatureFlagsTablePage.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2417: fix MSW development setup
  config/webpack/webpackPlugins.ts
  package.json
  public/mockServiceWorker.js
Due: npm run prettier, npm run lint:ts:fix

YH-2417: add IndustryTabs unit tests
  src/widgets/IndustryTabs/ui/IndustryTabs.test.tsx
  src/widgets/IndustryTabs/ui/IndustryTabs.tsx
Due: npm run prettier, npm run lint:ts:fix

YH-2350: add sorting to table component (#1431)
  src/features/question/filterQuestions/model/hooks/useGetQuestionsFilterParams.ts
  src/features/question/filterQuestions/model/hooks/useQuestionsFilters.ts
  src/features/question/filterQuestions/ui/QuestionSortByFieldFilter/QuestionSortByFieldFilter.tsx
  src/features/question/filterQuestions/ui/QuestionsFilters/QuestionsFilters.tsx
  src/pages/admin/question/questions/ui/QuestionsTable/QuestionsTable.tsx
  src/pages/admin/question/questions/ui/QuestionsTablePage/QuestionsTablePage.tsx
  src/shared/assets/icons/index.ts
  src/shared/assets/icons/squareSortVertical.svg
  src/shared/ui/Icon/icons.ts
  src/shared/ui/Icon/types.ts
  src/shared/ui/TableV2/TableCell.tsx
  src/shared/ui/TableV2/TableHeader.tsx
  src/shared/ui/TableV2/TableV2.module.css
  src/shared/ui/TableV2/TableV2.tsx
  src/shared/ui/TableV2/columnWidth.ts
  src/shared/ui/TableV2/getNextSorting.ts
  src/shared/ui/TableV2/index.ts
  src/shared/ui/TableV2/types.ts
  src/shared/ui/TableV2/useHorizontalScrollEdges.ts
Due: npm run prettier, npm run lint:ts:fix, npm run lint:css:fix
